<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>===.........  Tai Yuen .........===</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">
<!--2006.11.14 頁碼記錄 + PHP_sr_startno="+pge start-->
 function cfm(ref,id) {
 
	if ( confirm("Deleting record will permanent deteleted；Can't reversion anymore !\r\rPlease check again \r\rAre you sure delete this record :["+ref+"]??")) {
	location.href="primary.php?PHP_action=acc_del&PHP_id="+id+"&PHP_acc_code="+ref;
	} 
 }

 <!--2006.11.14 頁碼記錄 + PHP_sr_startno="+pge end-->


</script>
{/literal}
</head>
<body  bgcolor="ffffff" background=" ">&nbsp;
<!-- ################################################################################# -->
<table border cellspacing=0 cellpadding=2 cols=1 width=670 bgcolor=#cccccc  align=center>
 <tr><form METHOD="POST" name="add_acc">
		<input type="hidden" name="PHP_action" value="acc_add">   
    <td align=center>
     <table border=1 cellspacing=0 cellpadding=4 cols=1 width=650 bgcolor=#235869>
      <tr><td width=80% class=des align=center>.....  <b>ACCESSORY LIST </b>.......</td>

	  </tr></form>
     </table>
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=650>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
		<hr size=1 width=97%>

<table border cellspacing=0 cellpadding=2 width=650 bgcolor=#ffffff align=center>

  <tr bgcolor="#003333" height=28> 
	<td nowrap width=120 align=center class=back><b><a href="primary.php?PHP_action=do_acc_search&SCH_sort=acc_code"><font color=#ffffff>Acc. #</font></a></b></td>
	<td nowrap width=80 align=center class=back><b><a href="primary.php?PHP_action=do_acc_search&SCH_sort=acc_name"><font color=#ffffff>Acc. Item</font></a></b></td>
	<td nowrap width=170 align=center class=back><b><a href="primary.php?PHP_action=do_acc_search&SCH_sort=des"><font color=#ffffff>Description</font></a></b></td>
	<td nowrap width=170 align=center class=back><b><a href="primary.php?PHP_action=do_acc_search&SCH_sort=specify"><font color=#ffffff>Constrution</font></a></b></td>
	<td nowrap align=center class=back><b>Remark</b></td>
  </tr>
	{if $record_NONE}
  <tr>
	<td colspan=6 align=center class=ssign><br>No Records!<br><br>
  </tr>
	{/if}
	{section name=SEC loop=$acc} 
  <tr align=left><form>
		<td class=g10 nowrap>
   	  <a href="{$PHP_SELF}?PHP_action=acc_view&PHP_id={$acc[SEC].id}">&nbsp;{$acc[SEC].acc_code}&nbsp;</a></td>
   	<td class=g10>&nbsp;{$acc[SEC].acc_name}&nbsp;</td>			
    <td class=grn9>&nbsp;{$acc[SEC].des}&nbsp;</td>			
    <td class=gry9>&nbsp;{$acc[SEC].specify}&nbsp;</td>			
    <td nowrap class=b10>&nbsp;
		<!--2006.11.14 頁碼記錄 + PHP_sr_startno={$now_pp} start-->
		{if $view_flag}
	      <a href="{$PHP_SELF}?PHP_action=acc_view&PHP_id={$acc[SEC].id}&PHP_login_id={$acc[SEC].login_id}" value="user資料" style="cursor:pointer"><img src="images/search.gif" alt="view info." border=0 valign=bottom></a>
		{/if}
		{if $edit_flag}
      <a href="{$PHP_SELF}?PHP_action=acc_edit&PHP_id={$acc[SEC].id}&PHP_login_id={$acc[SEC].login_id}" value="edit" style="cursor:pointer"><img src="images/edit.gif" alt="Edit" border=0 valign=bottom></a>
		{/if}
		{if $del_flag}
	      <a href="javascript:cfm('{$acc[SEC].acc_code}','{$acc[SEC].id}')" value="del"  style="cursor:pointer"><img src="images/del.gif" alt="release power" border=0></a>
		{/if}
<!--2006.11.14 頁碼記錄 + PHP_sr_startno={$now_pp} end-->
		</td>
		</form>
  </tr>
			{/section} 
</table>
<hr size=1 width=97%>
<table border=0 cols=4 width=650 align=center>
  <tr>
    <td align=center width=300>
	<!-- 2006.11.14頁碼顯示start -->    
{if $pages[0] > 1}
   <a href="primary.php?PHP_action=do_acc_search&PHP_sr_startno=p{$pages[0]}" style="cursor:pointer">&nbsp;<img src="images/left2.gif" border=0 alt=" pre - page"></a>
  {/if}
   {section name=PGE loop=$pages}
    {if $pages[PGE] <= $maxpage }
    {if $pages[PGE] == $now_pp}
    <font color="#FF0000"><i><b>&nbsp;{$pages[PGE]}</b></i></font>
    {else}
    <a href="primary.php?PHP_action=do_acc_search&PHP_sr_startno={$pages[PGE]}" style="cursor:pointer">&nbsp;{$pages[PGE]}</a>
    {/if}
    {/if}   
    {/section}
    {if $lastpage < $maxpage}
    <a href="primary.php?PHP_action=do_acc_search&PHP_sr_startno=n{$lastpage}" style="cursor:pointer">&nbsp;<img src="images/right2.gif" alt="next page" border=0></a>
    {/if}
<!-- 2006.11.14頁碼顯示end -->   
    </td>
  </tr>
</table>
<hr size=1 width=97%>

	</td>
</tr>
</table>
</form>
<!--------- footer ---------->
{include file="footer.html"}