<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>===.........  副料 列表 .........===</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">
 function cfm(ref) {
	if ( confirm("確定加入副料代號 :["+ref+"] ??")) {
	updateParentList(ref);
	} 
 }

function tp(url) { parent.top.location.href=url }

function input(form) {
 var field = form.PHP_dept_code;
 var val = field.value;
 var newval = ""+val;  
  if (val ="") {
    alert("請先選擇 部門別 !");
    return false;
  }
 else
 {
//    alert(newval);
  return true;
 }
}
function updateParentList(acc_code) {
  self.opener.writeToParentList(acc_code);
  window.close();
}

</script>
{/literal}
</head>
<body  bgcolor="ffffff" background=" ">
<!-- ################################################################################# -->
<table border cellspacing=0 cellpadding=2 cols=1 width=670 bgcolor=#cccccc  align=center>
 <tr>
    <td align=center>
     <table border=1 cellspacing=0 cellpadding=4 cols=1 width=650 bgcolor=#235869>
      <tr><td width=80% class=des align=center>.....  <b>Accessory List</b> .......</td>
     </table>
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=650>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
		<hr size=1 width=97%>

<table border cellspacing=0 cellpadding=2 width=650 bgcolor=#ffffff align=center>

  <tr bgcolor="#003333" height=28> 
	<td nowrap width=120 align=center class=back><b>Acc. #</b></td>
	<td nowrap width=80 align=center class=back><b>Acc. Name</b></td>
	<td nowrap width=140 align=center class=back><b>Description</b></td>
	<td nowrap width=140 align=center class=back><b>Constrution</b></td>
	<td nowrap align=center class=back><b>Choice</b></td>
  </tr>
	{if $record_NONE}
  <tr>
	<td colspan=6 align=center class=ssign><br>資料庫無法找到指定的記錄!<br><br>
  </tr>
	{/if}
	{section name=SEC loop=$acc} 
  <tr onmouseover="bgColor='#dddddd'" onmouseout="bgColor='#ffffff'">
  <form method="post" action="javascript:updateParentList()" name="acc_pick">
	<td class=g9 align=center nowrap>
      		<b>{$acc[SEC].acc_code}</b>&nbsp;</td>
	<td class=grn9>
			{$acc[SEC].acc_name}&nbsp;</td>
    <td align=center class=grn9>
			{$acc[SEC].des}&nbsp;</td>
    <td align=center class=gry9>
			{$acc[SEC].specify}&nbsp;</td>
    <td align=center nowrap class=b10>&nbsp;
		<img src="images/handar.gif" alt="選入" border=0 valign=bottom onClick="cfm('{$acc[SEC].acc_code}');" style="cursor:pointer">
		</td>
  </tr>
			{/section} 
</table>
<hr size=1 width=97%>
<table border=0 cols=4 width=650 align=center>
  <tr>
    <td align=center width=300>
	{if  $PREV_page}
	  <a href="{$cgistr_get}&PHP_sr_startno={$prev_no}&PHP_acc_code={$cgi.acc_code}&PHP_acc_name={$cgi.acc_name}&PHP_des={$cgi.des}&PHP_specify={$cgi.specify}" style="cursor:pointer">&nbsp;<img src="images/left2.gif" border=0 alt="前12筆資料"></a>
	{/if}
    </td>
    <td align=center width=300>
	{if $NEXT_page}
	  <a href="{$cgistr_get}&PHP_sr_startno={$next_no}&PHP_acc_code={$cgi.acc_code}&PHP_acc_name={$cgi.acc_name}&PHP_des={$cgi.des}&PHP_specify={$cgi.specify}" style="cursor:pointer">&nbsp;<img src="images/right2.gif" border=0 alt="後12筆資料"></a>
	{/if}
    </td>
  </tr>
</table>
<hr size=1 width=97%>

	</td>
</tr>
</table>
</form>
<!--------- footer ---------->
{include file="footer.html"}