<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: Tai Yuen ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
	
{literal}
<script language="javascript">
  self.opener.writeToAccList({/literal}'{$acc.acc_code}','{$acc.acc_name}','{$acc.unit1}','{$acc.id}'{literal});
  window.close();
</script>
{/literal}	
	
</head>
<body ><form METHOD="POST" name="acc_add" action="{$PHP_SELF}">
<br>
<table cellspacing=1 cellpadding=4 cols=1 width=550 bgcolor=#003300>
	<tr><td class="des" align=center height=28> [ <b><font color=yellow>{$acc.acc_code}</font>&nbsp;ACCESSORY RECORD</b> ] </td></tr>
</table>
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=550>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
<table border=0 cellspacing=1 cellpadding=1 width=550 bgcolor=#FFFFFF>
  <tr>
    <td colspan=4 class=frnt align=center><hr size=2 width=98%></td>
  <tr>
  <tr>
    <td class=snvy align=right>Acc. # :</td>
    <td class=frnt align=left bgcolor=#CEE4E3 width=15% nowrap>&nbsp;{$acc.acc_code}</td>
    <td class=snvy align=right>Acc. Item :</td>
    <td class=frnt align=left bgcolor=#CEE4E3 width=50%>&nbsp;{$acc.acc_name}</td>
  </tr>
  <tr>
    <td class=snvy align=right>Description :</td>
    <td colspan=3 class=frnt align=left bgcolor=#CEE4E3>&nbsp;{$acc.des}</td>
  </tr>
  <tr>
    <td class=snvy align=right>&nbsp;</td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;</td>
    <td class=snvy align=right>Constrution :</td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;{$acc.specify}</td>
  </tr>
  <tr>
   <tr>
    <td colspan=4 class=frnt align=center><hr size=2 width=98%></td>
  <tr>
  <tr>

		<table border=1 cellspacing=0 cellpadding=1 width=550 bgcolor=#FFFFFF>
  <tr bgcolor=#31657B height=25>
    <td class=w10 align=center>Supplier #</td>
    <td class=w10 align=center>Term</td>
    <td class=w10 align=center>Price</td>
    <td class=w10 align=center>Unit</td>
    <td class=w10 align=center>Currency</td>
  </tr>
  <tr bgcolor=#ffffff>
    <td class=gry10 align=center>&nbsp;{$acc.vendor1}</td>
    <td class=gry10 align=center>&nbsp;{$acc.term1}</td>
    <td class=gry10 align=center>&nbsp;{$acc.price1}</td>
    <td class=gry10 align=center>&nbsp;{$acc.unit1}</td>
    <td class=gry10 align=center>&nbsp;{$acc.currency1}</td>
  </tr> 
  <tr bgcolor=#ffffff>
    <td class=gry10 align=center>&nbsp;{$acc.vendor2}</td>
    <td class=gry10 align=center>&nbsp;{$acc.term2}</td>
    <td class=gry10 align=center>&nbsp;{$acc.price2}</td>
    <td class=gry10 align=center>&nbsp;{$acc.unit2}</td>
    <td class=gry10 align=center>&nbsp;{$acc.currency2}</td>
  </tr> 
   <tr bgcolor=#ffffff>
    <td class=gry10 align=center>&nbsp;{$acc.vendor3}</td>
    <td class=gry10 align=center>&nbsp;{$acc.term3}</td>
    <td class=gry10 align=center>&nbsp;{$acc.price3}</td>
    <td class=gry10 align=center>&nbsp;{$acc.unit3}</td>
    <td class=gry10 align=center>&nbsp;{$acc.currency3}</td>
  </tr> 

</table>
		<hr SIZE=2 WIDTH=550>
          <table border=0 cellspacing=0 cellpadding=0 cols=2 width=550>
            <tr> 

   <form METHOD="POST" name="acc_edit" action="{$PHP_SELF}">           
              <td align=center>
				<input type=button value=" CLOSE " class=select_e onClick="cfm('{$acc.acc_code}','{$acc.acc_name}','{$acc.unit1}','{$acc.unit2}','{$acc.unit3}','{$acc.id}');"  style="cursor:pointer; width=95%"></form>
              </td>
			</tr>
          </table>
<!--------- footer ---------->
{include file="footer.html"}
