<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>===...::  部門類別 ::.....===</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">
 function cfm(ref,id) {
	if ( confirm("款式刪除 將會永久刪除為法回覆 !\r請再確定是否要刪除:"+ref+" ??")) {
	location.href="index2.php?PHP_action=dept_del&PHP_id="+id;
	} 
 }
function tp(url) { parent.top.location.href=url }

function callpic(id)  {
	var gofile ='index.php?PHP_action=style_pic_show&PHP_style_id='+id; 	window.open(gofile,id,'toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=660,height=600" top=100, left=100')
  }
function openRemote(file,cam)
  {
  window.open(file,cam,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no,copyhistory=no,width=360,height=350')
  }
</script>
{/literal}
</head>
<body  bgcolor="ffffff" background=" "><br>&nbsp;
<!-- ################################################################################# -->
     <table border=1 cellspacing=0 cellpadding=4 cols=1 width=550 bgcolor=#534A67 align=center>
      <tr><td width=95% class=des align=center>.....  Accessory Category :{$dept.dept_name} Update.......</td></tr>
     </table>
<!--  {if $msg_YES}    -->
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=550>
      <tr bgcolor=#aaaaaa> 
        <td width=90 class=lgrn align=center>Message : </td>
        <td class=ylw10>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
<!--  {/if}   -->
<br>
<table border cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#cccccc>

<!-- ######################   update form ########################################### -->
<form METHOD="POST" action="acc_cat.php?PHP_action=do_acc_cat_updat&PHP_id={$acc_cat.id}">
    <table border=1 cellspacing=1 cellpadding=2 cols=4 width=550 bgcolor="#FFFFCC" align=center>
		<tr>
			<td align=right class=b9 width=20%><div align="center" class="gry10"> Category ID &nbsp;</div></td>
			<td class=gry10 width=45%> <div align="center">Accessory Category </div></td>
		    <td width="" class="gry10"><div align="center">&nbsp;</div></td>
		</tr>
	</table>
    <table border=1 cellspacing=1 cellpadding=2 cols=4 width=550 bgcolor="#FFCC33" align=center>
        <tr>
          <td align=right class=b9 width=20%><div align="center" class="gry10">
            {$acc_cat.acc_key}</div></td>
          <td class=gry10 width=45%><div align="center">
            <input type=text  size=30 name="PHP_name" value="{$acc_cat.name}" class=select></div></td>
           <td width="" class="gry10"><div align="center">
<input type=submit value="Update" class=select_e style="width:120;cursor:pointer">	

		  </div></td>
        </tr>
  </table>
</form>

<!--------- footer ---------->
{include file="footer.html"}