<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>===.........  SCM System - Acounts Payable .........===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}{/literal}
</head>
<body bgcolor="ffffff">
<br>
{if $max_notify > 0 }		
<table width="770" border="0" cellpadding="3" cellspacing="1">
	<tr height="30" bgcolor="#C0CECF">
		<td align="center">
			<a href="notify.php?PHP_action=notify">
      	<span class="sign" align="center"><b> You have {$max_notify} message un-read</b></span>
      </a>
    </td>
	</tr>
</table>
<br>
{/if}
<table width="770" border="1" cellpadding="6" cellspacing="0" bgcolor="#CCCCCC">
	<form METHOD="POST" name="ap">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="6">
          <tr>
            <td colspan="4" align="center" bgcolor="280004" class="des"><b>[ 應付 蒐尋 ]</b></td>
          </tr>
        </table></td>
      </tr>
      {if $msg_YES}
      <tr>
        <td><hr size="2" width="100%"></td>
      </tr>
      <tr>
        <td>
        <table border="1" cellpadding="4" cellspacing="0" width="100%" align="center">
          <tr bgcolor=#ffffff> 
            <td width="90" class="gry10" align="center"><img src="images/alert.gif" border="0"></td>
            <td class="bgdy">{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
          </tr>
        </table>        </td>
      </tr>
			{/if}  
      <tr>
        <td><hr size="2" width="100%"></td>
      </tr>
      <tr>
        <td>
          <table border="0" cellspacing="0" cellpadding="3" width="100%">
          <tr bgcolor="#cccccc">
            <td align="center"  class="snvy">
              <b>Rcvd. #：</b><input type="text" name="PHP_rcvd" size="10" class="select" value="">            </td>
            {if $manager_flag}
            <td  class="snvy" align="center"><b>Receiver :&nbsp;{$fty}</b>or
              <input type="text" name="PHP_ship" size="15" class="select" value="">            </td>
            {else}
            <td  class="snvy" align="center" nowrap>
              <b>SHIP :&nbsp;<span class="ylw10">{$fty}</span></b>or
              <input type="text" name="PHP_ship" size="10" class="select" value="">            </td>
            {/if}
            {if !$manager_flag}<input type="hidden" name="PHP_ship" value="{$fty}">{/if}
            <td class="snvy" align="center"><b><div id="sup_show">Supplier :&nbsp;{$sup_no}</div></td>
            <td class="snvy" align="center"><b>ORD.# : </b><input type="text" name="PHP_ord" size="8" class="select" value=""></td>
          </tr>
          <tr bgcolor="#cccccc">
            <td align="center"  class="snvy">驗收之後時間：{$year}{$month}</td>
            <td  class="snvy" align="center">&nbsp;</td>
            <td  class="snvy" align="center" nowrap>&nbsp;</td>
            <td class="snvy" align="center">&nbsp;</td>
            <td class="snvy" align="center">&nbsp;</td>
          </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td><hr size="2" width="100%"></td>
      </tr>
      <tr>
        <td><input type="submit" value="SEARCH ACOUNTS PAYABLE" class="select_e" style="width:100%;cursor:pointer">
          <input type="hidden" name="PHP_action" value="ap_list"><input type="hidden" name="PHP_status" value="1"></td>
      </tr>
    </table></td>
  </tr>
  </form>
</table>
<!--------- footer ---------->
{include file="footer.html"}