<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>===:::::::::: SCM System ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/open_detial.js"></script>
<script type="text/javascript" src="./js/build/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="./js/build/connection/connection-min.js"></script>
<Script language="javascript">
var transaction;
var sUrl;	
function aply_revise(aply_num,bakc_str,special,id,rev,po_num) {
	var loc;
	loc='apply_revise';
	if ( confirm("are you sure to REVISE P/O :#[ "+po_num+" ] ?\r\rEvery Revise event will cancel entire process had done !\rAnd restart the apply procedure from beginning Again !\r\rBe sure this is OK for you!")) {
		// cgiget="{/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.order_num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}";
		location.href="po.php?PHP_action="+loc+"&PHP_aply_num="+aply_num+"&PHP_back="+bakc_str+"&PHP_revise=1&PHP_id="+id+"&PHP_rev_time="+rev;
	} 
}

function del_po(ap_num,back_str,po_num) {
	var loc;
	loc='apply_revise';
	if ( confirm("are you sure to DELETE P/O :#[ "+po_num+" ] ?")) {
		window.location="po.php?PHP_action=do_apply_del&PHP_ap_num="+ap_num+"&PHP_back="+back_str;
	} 
}


function del_po_apv(ap_num,back_str,po_num) {
	var loc;
	loc='apply_revise';
	if ( confirm("Deleting "+po_num+"  must write Exceptional report. \r\r Are you sure to DELETE P/O :#[ "+po_num+" ] ?")) {
		window.location="po.php?PHP_action=do_po_apv_del&PHP_status=12&PHP_ap_num="+ap_num+"&PHP_back="+back_str;
	} 
}

function cfm_ajx(id,r){
	var i=r.parentNode.parentNode.rowIndex;
	document.getElementById('mater_table').deleteRow(i);	  
	sUrl = "po.php?PHP_action=log_del_ajx&PHP_id="+id;
	transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, delback, null);
}

var delback = {
	success: function(o) {
		document.getElementById("tbl_msg").style.display='block';    
		var response = o.responseText.split("|");
		var divrep=response[0];
		msg1.innerText  = divrep;
	},
	failure: function(o) {
		alert("Error：Can't get data");
	}
}; 

function check(obj){
	var obj;
	var max=127;
	obj.value=obj.value.substring(0,max);
}  

function special_chk(spec) {
	if(spec == 1)alert('採購單將併異常報告一起列印')
}

function tblresize() {
	var dh = 110;
	var dw = 60;
	var hh = tblShow.offsetHeight + dh;
	if ( hh > screen.height - dh )
		hh = screen.height - dh ;
  if (tblShow.offsetWidth) window.resizeTo( tblShow.offsetWidth + dw , hh );
		self.focus();
}
</script>
{/literal}
</head>
<body>
<table id="tblShow">
<tr>
 	<td>
		 <table width="750" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td><table cellspacing=1 cellpadding=4 cols=1 width=750 bgcolor=#003300>
          <tr> {if $ap.status == 6 && $back_str && $add_flag}
            <td class=gry9 align=center><span class="des">Rcvd. # <span class=ylw10><b> {$ap.po_num}</b></span> </span></td>
            {/if}
            <td class="ylw10" align=center><small> {if $ap.status == 0}waitt'g for submit{elseif $ap.status == 2}<span class=bgdy9><b>waitt'g for PA. CFM</b></span> {elseif $ap.status == 3}<b>waitt'g for PA. APV</b> {elseif $ap.status == 4}<b>PA. APVD</b> {elseif $ap.status == 5}<span class=ssign><b>PA. Reject</b></span> {elseif $ap.status == 6}<b>waitt'g for PO. submit</b> {elseif $ap.status == 8}<span class=bgdy9><b>waitt'g for PO. CFM</b></span> {elseif $ap.status == 10}<b>waitt'g for PO. APV</b> {elseif $ap.status == 12}<b>PO. APVD</b> {elseif $ap.status == 13}<span class=ssign><b>PO. Reject</b></span> {elseif $ap.status == -1}<span class=ssign><b>= DELETED =</b></span> {else}&nbsp;{/if} </small> </td>
            <td class="des" align=center width=180 height=28>驗收單資料明細</td>
            <td class="des" align=center> {if ($ap.status == 8 || $ap.status ==10) && $edit_flag && $rcv_mk <> 1} <a href="javascript:aply_revise('{$ap.ap_num}','{$back_str}','{$ap.po_num}','{$ap.id}','{$ap.revise}','{$ap.po_num}')" value='revise' style='cursor:pointer'> <img src='./images/revise21.jpg' border=0 alt="REVISE" /></a> {/if}
              {if $ap.status == 12 && $edit_flag && $rcv_mk <> 1} <a href="javascript:del_po_apv('{$ap.ap_num}','{$back_str}','{$ap.po_num}')" value='revise' style='cursor:pointer'> <img src="images/cancel.gif" border=0 alt="DELETE" /></a> {/if} </td>
            <td class="ylw10" align=center height=28> {if $ap.revise}<span class=sign_b>Version : </span> <b>{$ap.revise}</b>{else}&nbsp;{/if} </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table border=1 cellpadding=4 cellspacing=0 cols=1 width=750 id='tbl_msg' {if $msg_yes} style="display : block" {else}style="display : none"{/if}>
          <tr bgcolor=#ffffff>
            <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0 /></td>
            <td class=bgdy><div id='msg1'>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br />
              {/section}</div></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><table border=0 cellspacing=1 cellpadding=3 width="750" bgcolor=#FFFFFF>

          <tr>
            <td width="100" align=right class=snvy><b>發票號碼：</b></td>
            <td width="130" align=left bgcolor=#E7E6E6 class=frnt><b>&nbsp;{$ap.dm_way}</b></td>
            <td width="100"  align="right" nowrap="nowrap" class="snvy"><b>發票金額：</b></td>
            <td width="130" align="left" bgcolor="#E7E6E6" class="frnt">&nbsp;</td>
            <td width="100" align="left"  bgcolor="#E7E6E6" class="frnt">&nbsp;</td>
            <td width="130" align="left"  bgcolor="#E7E6E6" class="frnt">&nbsp;</td>
          </tr>
          <tr>
            <td class=snvy align=right><b>請購單號：</b></td>
            <td class=frnt align=left bgcolor=#E7E6E6><b>&nbsp;{$ap.ship_name}</b></td>
            <td  align="right" class="snvy"><b>訂單號碼：</b></td>
            <td class="frnt"  align="left" bgcolor="#E7E6E6">&nbsp;</td>
            <td  align="right" nowrap="nowrap" class="snvy" >&nbsp;</td>
            <td class="frnt"  align="left" bgcolor="#E7E6E6">&nbsp;</td>
          </tr>
          <tr>
            <td class=snvy align=right><b>訂單號碼：</b></td>
            <td class=frnt align=left  bgcolor=#E7E6E6><b>&nbsp;{$ap.ship_tel}</b></td>
            <td  align="right" class="snvy"><b>請購日期：</b></td>
            <td class="frnt" align="left" bgcolor="#E7E6E6">&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
          </tr>
          <tr>
            <td class=snvy align=right><b>收料次數：</b></td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td  align="right" class="snvy"><b>收料日期：</b></td>
            <td class="frnt" align="left" bgcolor="#E7E6E6">&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
          </tr>
          <tr>
            <td class=snvy align=right><b>折讓：</b></td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td  align="right" class="snvy"><b>折稅：</b></td>
            <td class="frnt" align="left" bgcolor="#E7E6E6">&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
          </tr>
          <tr>
            <td class=snvy align=right><b>供應商：</b></td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td  align="right" class="snvy"><b>物料代號：</b></td>
            <td class="frnt" align="left" bgcolor="#E7E6E6">&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
          </tr>
          <tr>
            <td class=snvy align=right><b>採購數量：</b></td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td  align="right" class="snvy"><b>收料數量：</b></td>
            <td class="frnt" align="left" bgcolor="#E7E6E6">&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
          </tr>
          <tr>
            <td class=snvy align=right>&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td  align="right" class="snvy">&nbsp;</td>
            <td class="frnt" align="left" bgcolor="#E7E6E6">&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="6" align=center class=snvy>====== INSPECTION DATA FIELD ======</td>
            </tr>
          <tr>
            <td class=snvy align=right><b>收料單位：</b></td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td  align="right" class="snvy"><b>驗收代號：</b></td>
            <td class="frnt" align="left" bgcolor="#E7E6E6">&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
          </tr>
          <tr>
            <td class=snvy align=right><b>驗收數量：</b></td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td  align="right" class="snvy">&nbsp;</td>
            <td class="frnt" align="left" bgcolor="#E7E6E6">&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
          </tr>
          <tr>
            <td class=snvy align=right>&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td  align="right" class="snvy"><b>驗收日期：</b></td>
            <td class="frnt" align="left" bgcolor="#E7E6E6">&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
          </tr>
          <tr>
            <td class=snvy align=right><b>驗收單價：</b></td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td  align="right" class="snvy">&nbsp;</td>
            <td class="frnt" align="left" bgcolor="#E7E6E6">&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
          </tr>
          <tr>
            <td align=right nowrap="nowrap" class=snvy><b>( U / D / N )：</b></td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td  align="right" nowrap="nowrap" class="snvy"><b>已購未入庫數：</b></td>
            <td class="frnt" align="left" bgcolor="#E7E6E6">&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
          </tr>
          <tr>
            <td class=snvy align=right>&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td  align="right" class="snvy">&nbsp;</td>
            <td class="frnt" align="left" bgcolor="#E7E6E6">&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
          </tr>
          <tr>
            <td class=snvy align=right><b>加值稅：</b></td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td  align="right" class="snvy">&nbsp;</td>
            <td class="frnt" align="left" bgcolor="#E7E6E6">&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
          </tr>
          <tr>
            <td class=snvy align=right><b>CUNTRY：</b></td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td  align="right" class="snvy"><b>LC：</b></td>
            <td class="frnt" align="left" bgcolor="#E7E6E6">&nbsp;</td>
            <td  align="right" class="snvy"><b>PAY-STYE：</b></td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
          </tr>
          <tr>
            <td class=snvy align=right><b>$：</b></td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td  align="right" class="snvy"><b>SEA / AIR：</b></td>
            <td class="frnt" align="left" bgcolor="#E7E6E6">&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
            <td class=frnt align=left  bgcolor=#E7E6E6>&nbsp;</td>
          </tr>
          {if $ap.finl_dist}
          {/if}
        </table></td>
      </tr>
      <tr>
        <td><hr size=2 width=740 /></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
     
