apb_after_add.html<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>===:::::::::: 積物料輔助系統 [ 驗收 資料 ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<style type="text/css">@import url(js/calendar/skins/aqua/theme.css);.outline {
	border :1px solid #CCCCCC;
	padding:3px 7px 3px 7px;
	background-color:#FFFFFF;
	color:#000000;
	margin:3px  !important;
	cursor:pointer;
}</style>
<script type="text/javascript" src="./js/calendar/calendar.js"></script>
<script type="text/javascript" src="./js/calendar/lang/calendar-en.js"></script>
<script type="text/javascript" src="./js/calendar/calendar-setup.js"></script>
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script language="javascript" src="./js/open_detial.js"></script>
<script type="text/javascript" src="./js/jquery.blockUI.js"></script>
<Script language="javascript">
var dm_way = {/literal} '{$dm_way}' {literal}
var apb_count = {/literal} {$rcv|@count} {literal}
var all_po = new Array();
$(document).ready(function() {
	select_checkbox = function(status){
        if ( status == 'Select' ) {
            $("input[id^=PHP_checkbox]").each(function(i, elm) {
                $(elm).attr("checked",true);
            });
            invoice();
        } else {
            $("input[id^=PHP_checkbox]").each(function(i, elm) {
                $(elm).attr("checked",false);
            });
            invoice();
        }
    }
});

function invoice(){

	var price = Number(0);
	var price_num = {/literal}{$rcv|@count}{literal}
	
	$("input[id^=PHP_checkbox]").each(function(i,elm) {
		if($(elm).attr("checked")){
			$("#amount" + $(elm).val() ).parent().parent().css("background-color","#f5d226");
			price += Number($("#amount" + $(elm).val() ).val());
		}else{
			$("#amount"+ $(elm).val() ).parent().parent().css("background","#DBC9F2");
		}
	});
	
	$("input[id^=oth_cost_id]").each(function(i,elm) {
		if($(elm).attr("checked")){
			price += Number($(elm).val() );
		}
	});
	
	$("input[id^=apb_oth_cost]").each(function(i,elm) {
		price += Number(roundAmount($(elm).val()));
	});
	
	if ( $("#inv_num").val() != "" ) {
		$("#vat").val( Math.round(price*.05) );
	}
	
	if($("#PHP_select_currency").val()=="NTD")
		Number($("#inv_amt").val( Math.round(price)));
	else
		Number($("#inv_amt").val(price));
	
	price = price + Number($("#vat").val()) - Number($("#discount").val()) - Number($("#off_duty").val());
	
	if($("#PHP_select_currency").val()=="NTD")
		Number($("#inv_price").val( Math.round(price)));
	else
		Number($("#inv_price").val(price));
}

function rcv(ship_num,idx,re_cal_flag){
	var apb=price= Number(0);
	$("input[id^=PHP_apb_qty" + ship_num + "]").each(function(i,elm) {
		str = $(elm).attr("id").split("PHP_apb_qty");
		//判斷是否超過tolerance
		if($("#PHP_mark"+str[1]).attr("checked")){
			if( Number($(elm).val()) > Number($("#toler_qty"+str[1]).val()) ){
				alert("APB數量超過 Tolerance數量 " + Number($("#toler_qty"+str[1]).val()) + " ，將用 " + Number($("#toler_qty"+str[1]).val()) + " 計算");
				$(elm).val(Number($("#toler_qty"+str[1]).val()));
				$("#price"+str[1]).text( roundAmount($("#toler_qty"+str[1]).val() * $("#PHP_uprice"+str[1]).val()));
			}else{
				$("#price"+str[1]).text( roundAmount($(elm).val() * $("#PHP_uprice"+str[1]).val()));
			}
		}else{
			$("#price"+str[1]).text( 0 );
		}
		
		if(str[1].indexOf(ship_num) != -1){
			price += Number($("#price"+str[1]).text());
		}
		if(i == idx && re_cal_flag){
			avg_qty(ship_num,i,Number($("#ttl_po_qty"+str[1]).val()));
		}
	});
	$("#amount"+ship_num).val( roundAmount(price) );
	
	invoice();
}

function roundAmount(n) {   
	var s = "" + Math.round( n * 100 ) / 100   
	var i = s.indexOf('.')   
	if ( i < 0 ) return s + ".00"
	var t = s.substring( 0 , i + 1 ) +     
	s.substring( i + 1 , i + 3 )   
	if (i + 2 == s.length) t += "0"   
		return t   
}

function roundAmount5(n) {   
	var s = "" + Math.round( n * 100000 ) / 100000   
	var i = s.indexOf('.')  
	
	if ( i < 0 ) return s + ".00000"
	var t = s.substring( 0 , i + 1 ) +     
	s.substring( i + 1 , i + 6 )   
	if (i + 5 == s.length) t += "0"   
		return t   
}

function roundAmount2(n) {   
	var s = "" + Math.round( n * 100 ) / 100   
	var i = s.indexOf('.')   
	if ( i < 0 ) return s
	var t = s.substring( 0 , i )
		return t   
}

function check(r,po_qty,rcv_qty,apb_qty,toler,i,mat_code){
	if( rcv_qty == '' ) rcv_qty = 0;
	if( apb_qty == '' ) apb_qty = 0;
	
	// 計算 toler 最大值
	if ( toler == '0|0' ) {
		var total_qty = parseFloat( po_qty );
		total_qty = rcv_qty > total_qty ? rcv_qty : total_qty ;
	} else {
		var tolers = toler.split("|"); 
		var total_qty = parseFloat( po_qty ) + parseFloat( ( po_qty * (tolers[0] ) / 100 ) );
		total_qty = roundAmount( total_qty );
		total_qty = rcv_qty > total_qty ? rcv_qty : total_qty ;
	}	
	
	// 輸入值
	var rcv = r.value;

	// 計算已驗收和目前驗收的值 - 最大值
	var qty = (parseFloat(apb_qty) + parseFloat(rcv)) - parseFloat(rcv_qty);	
	qty = roundAmount(qty);
	
	var reason;
	if ( qty > 0)
	{
		r.value = '';
		// 判別是否有分批驗收
		var rcvMK = '';
		var t_qty = 0;
		if ( apb_qty > 0 ) {
			rcvMK = parseFloat( apb_qty ) + ' + ' + parseFloat( rcv ) + ' = ';
			t_qty = roundAmount(parseFloat( rcv_qty ) - parseFloat( apb_qty ));
		} else {
			t_qty = parseFloat( total_qty );
		}
		if(confirm(	"++++++ Receive is illegial!! ++++++\r" +
								"\r                       PO Q'TY : " + po_qty +
								"\r   Tolerence PO Q'TY : " + total_qty +
								"\r                  RCVD Q'TY : " + rcv_qty +
								"\r-------------------------------------------"+
								"\r       but Receive Q'TY : " + rcvMK + ( parseFloat( apb_qty ) +  parseFloat( rcv ) ) +
								"\r               Overbalance : " + qty + 
								"\r\rClick Yes. Receive Q'TY = " + t_qty + 
								"\rClick No. input reason for Receive Q'TY" ) ) {
			if ( rcv_qty > 0 )
				r.value = t_qty;
			else
				r.value = total_qty;
		} else {
			if(reason = prompt("Tolerence PO Q'TY : " + total_qty +
												 "  but Receive Q'TY : " + ( parseFloat( rcv_qty ) +  parseFloat( rcv ) ) +
												 "  \rOverbalance : "+qty+ "  Pls input reason for Receive Q'TY",''))
			{
				if(reason)
				{
					r.value = reason;
					if ( parseFloat(reason) > parseFloat(t_qty) ) {
						alert( " Receive is illegial!! ");
						r.value = '';
						// reason = mat_code + " overbalance : " + roundAmount( reason - total_qty );
						// window.document.forms['rcvd_add'].elements['PHP_reason['+i+']'].value = reason;
						// window.document.getElementById('reasons'+i).innerHTML = "<font color='red'>"+reason+"</font>"; 
					} 
				}
			}
		}
		return;
	}
	// window.document.getElementById('reasons'+i).innerHTML = "";
	// window.document.forms['rcvd_add'].elements['PHP_reason['+i+']'].value = "";
}

function show_rcvd_qty(qty,id,unit,table){
	var url ="receive.php?PHP_action=recv_qty_show&PHP_qty="+qty+"&PHP_id="+id+"&PHP_unit="+unit+"&PHP_table="+table;
	var nm = 'rcvd';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=500,height=500 top=50, left=100');
}

function apb_append(){
	if ( $("#inv_amt").val() == 0 ) {
		alert("請勾選付款金額");
		return false;
	}
	
	var mod = 0;
	$("input[id^=no]").each(function(i,elm) {
		if( Number($("#PHP_uprices"+$(elm).val()).val()) == 0 ) mod ++
	});
	
	if ( mod != 0 ){
		alert('請輸入原幣單價！');
		return false;
	}
	
	$.blockUI({ message: '<div><h3>Appending...</h3></div>'});
	
}

function mask(msg){
	$.blockUI({ message: '<div><h4>' + msg + '</h4></div>'});
}

function oth_cost(r,id,value){
	if(r.checked)
		$("#inv_amt").val( Number($("#inv_amt").val()) + Number($("#oth_cost"+id).val()) );
	else
		$("#inv_amt").val( Number($("#inv_amt").val()) - Number($("#oth_cost"+id).val()) );
	
	invoice();
}

var tmp_i=0;
function add_oth_cost(t){
	document.getElementById('add_oth_cost_tbl').style.display = '';
	scroll(0,document.body.scrollHeight);
	r = add_oth_cost_tbl.insertRow();
	r.insertCell().innerHTML = "<tr bgcolor=#eeeeee><td class=gry9 align=left><input type='text' size='10' name='PHP_ap_num[" + t.value + "][]' class=select value='" + t.value + "' readonly></td>";
	r.insertCell().innerHTML = "<td class=gry9 align=left><input type='text' size='100' name='PHP_des[" + t.value + "][]' class=select></td>";
	r.insertCell().innerHTML = "<td class=ylw9 align=center><input type='text' size='10' id='apb_oth_cost" + tmp_i +"' name='PHP_cost[" + t.value + "][]' class=select onkeyup=\"" + "this.value.replace(/[^\d\.]/g,'');invoice()" + "\"" + ";></td>";
	r.insertCell().innerHTML = "<td class=ylw9 align=center>&nbsp;<image src='images/del.png' onClick=del_cost(this); style='cursor: pointer;'>&nbsp;</td>";
	r.insertCell().innerHTML = "</tr>";
}

function del_cost(r){
	if(confirm("確定要刪除?"))
		document.getElementById('add_oth_cost_tbl').deleteRow(r.parentNode.parentNode.rowIndex);
}

function change_currency(NTD){
	if(NTD==undefined){
		var currency = $("#PHP_select_currency").val();
	}else{
		$("#PHP_select_currency").val("NTD");
		var currency = "NTD";
	}
	
	$("span[id^=cury]").each(function(i,elm) {
		$(elm).text(currency);
	});

	$("select[id^=PHP_currency]").each(function(i,elm) {
		$(elm).val(currency).change()
	});
	invoice();
}

function cal_amt(ship_num){
	var currency = $("#PHP_select_currency").val();
	var price = 0;
	$("input[id^=PHP_apb_qty" + ship_num + "]").each(function(i,elm) {
		str = $(elm).attr("id").split("PHP_apb_qty");
		if(currency=="NTD"){
			$("#PHP_uprice"+str[1]).val( roundAmount5($("#PHP_uprices"+str[1]).val() * $("#PHP_rate"+str[1]).val()) )
			$("#price"+str[1]).text( roundAmount($(elm).val() * $("#PHP_uprice"+str[1]).val()));
		}else{
			$("#price"+str[1]).text( roundAmount($(elm).val() * $("#PHP_uprices"+str[1]).val()));
		}
		price += Number($("#price"+str[1]).text())
	});
	
	$("#amount" + ship_num).val(price);
	invoice();
}

function avg_qty(ship_num,i,po_qty){
	var tmp_qty = sum_tmp_qty = percent = count = k = 0;
	var apb_qty = Number($("#PHP_apb_qty"+ship_num+i).val());
	
	percent = apb_qty / po_qty;
	percent = roundAmount5(percent);
	
	$("input[id^=PHP_link_qty"+ship_num+i+"_"+"]").each(function(j, elm) {
		count++;
	});
	$("input[id^=PHP_po_qty"+ship_num+i+"_"+"]").each(function(j, elm) {
		k++;
		str = $(elm).attr("id").split("PHP_po_qty");
		if( k != count ){
			tmp_qty = roundAmount( Number($(elm).val()) * percent );
			sum_tmp_qty += Number(tmp_qty);
			$("#PHP_link_qty"+ship_num+i+"_"+j).val(tmp_qty);
			
		}else{
			sum_tmp_qty = roundAmount(sum_tmp_qty);
			$("#PHP_link_qty"+ship_num+i+"_"+j).val(roundAmount(apb_qty - sum_tmp_qty));
		}
	});
}

var pre_ship_num_i;
function chk_qty(r,ship_num,i){
	var sum_avg_qty = 0;
	var apb_qty = Number($("#PHP_apb_qty"+ship_num+i).val());
	
	$("input[id^=PHP_link_qty"+ship_num+i+"_"+"]").each(function(j, elm) {
		sum_avg_qty += Number(roundAmount($(elm).val()));
	});
	
	if(pre_ship_num_i == ship_num+i)
		document.getElementById('descript').innerHTML = "";
	
	if(sum_avg_qty != apb_qty){
		$("#append_apb").attr("disabled",true);
		$("#descript").css("display","");
		document.getElementById('descript').innerHTML += "=====訂單數量=====&nbsp;&nbsp;<br>";
		$("input[id^=PHP_link_qty"+ship_num+i+"_"+"]").each(function(j, elm) {
			document.getElementById('descript').innerHTML += $(elm).val() + "&nbsp;" + "<BR>";
		});
		document.getElementById('descript').innerHTML += "<hr>";
		document.getElementById('descript').innerHTML += "總和 " + sum_avg_qty + "<br>";
		document.getElementById('descript').innerHTML += "不等於apb qty " + apb_qty + "<br>";
		var pos = $(r).offset();  
		var x = pos.left;  
		var y = pos.top;  
		$("#descript").css("top",y+"px");
		$("#descript").css("left",x+70+"px");
	}else{
		document.getElementById('descript').innerHTML = "";
		$("#descript").css("display","none");
		$("#append_apb").attr("disabled",false);
	}
	pre_ship_num_i = ship_num+i;
}

function input_qty(po_num,i){
	$("#span_text_"+po_num+"_"+i).html("");
	$("#span_"+po_num+"_"+i).css("display","");
}
</script>
{/literal}
<body topmargin="10" onLoad="" >
<form METHOD="POST" name="rcvd_add" action="{$PHP_SELF}">
<br>
<table cellspacing=1 cellpadding=4 cols=1 width=900 bgcolor=#003300>
	<tr><td class="des" align=center height=28>[<b> 驗收單&nbsp; <span class=ylw10>Append&nbsp;</span> </b> ] </td></tr>
</table>

{if $msg_YES}
<table border=1 cellpadding=4 cellspacing=0 cols=1 width=900>
	<tr bgcolor=#ffffff> 
		<td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
		<td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
	</tr>
</table>
{/if}
<div id="descript" style="position:absolute;width:150px;background-color:#f5e700;text-align:right;display:none"></div>
<table border=0 cellspacing=2 cellpadding=2 width=900 bgcolor=#FFFFFF>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>
		<td class=snvy align=right bgcolor=#E9F7E8><b>驗收單號 :</b></td>
		<td align=left bgcolor="#EEEEEE"><b>&nbsp;{$rcv_num}</b></td>
		<td align=right nowrap bgcolor=#E9F7E8 class=snvy><b>&nbsp;付款方式 : </b></td>
		<td align=left bgcolor="#EEEEEE"><b><input type="hidden" name="PHP_payment" value="{$dm_way}">{$dm_way}</b></td>
		<td align=right nowrap bgcolor=#E9F7E8 class=snvy><b>付款幣別 : </b></td>
		<td align=left bgcolor="#EEEEEE"><b>&nbsp;{$currency}</b></td>
		<td class=snvy align=right bgcolor=#E9F7E8><b>合計金額 : </b></td>
		<td align=left class=des ><input type=text id="inv_amt" size=15 class=select value="" readonly="readonly" style="text-align:right"></td>
	</tr>
  <tr>
		<td class=snvy align=right bgcolor=#E9F7E8 nowrap><b>供應商代號 : </b></td>
		<td align=left bgcolor="#EEEEEE"><b>&nbsp;{$supl.vndr_no}</b>
		  <input type="hidden" name="PHP_sup_no" value="{$supl.vndr_no}"></td>
		<td  align=right nowrap bgcolor=#E9F7E8 class=snvy><b>請款單位 : </b></td>
		<td align=left bgcolor="#EEEEEE">
			<b>&nbsp;{$dept}
				<input type="hidden" name="PHP_dept" value="{$dept}">
				<input type="hidden" name="PHP_ship" value="{$ap.ship}">
			</b>
		</td>
		<td align=right nowrap bgcolor=#E9F7E8 class=snvy><b>請款日期 : </b></td>
		<td align=left bgcolor="#EEEEEE"><b>&nbsp;{$date}</b></td>
		<td class=snvy align=right bgcolor=#E9F7E8><b>營業稅 : </b></td>
		<td align=left bgcolor="#EEEEEE"><input type=text id="vat" name="PHP_vat" size=15 class=select value="{$vat}" style="text-align:right" onkeyup="invoice('');this.value=this.value.replace(/[^\d]/g,'');"></td>
	</tr>
	<tr>
		
		<td align=right nowrap bgcolor=#E9F7E8 class=snvy><b>供應商名稱 : </b></td>
		<td align=left bgcolor="#EEEEEE"><b>&nbsp;{$supl.supl_s_name}</b></td>
		
		<td align=right nowrap bgcolor=#E9F7E8 class=snvy><b>統一發票 : </b></td>
		<td align=left bgcolor="#EEEEEE"><input type=text id="inv_num" name="PHP_inv_num" size=15 class=select value="{$inv_num}" onchange="change_currency('NTD');"></td>
		<td align=right nowrap bgcolor=#E9F7E8 class=snvy><b>發票日期 : </b></td>
		<td align=left bgcolor="#EEEEEE">
			<input name="PHP_inv_date" type="text" class="select" style="width:72px;" id="inv_date" value="" readonly="readonly" />
			{literal}
			<script type="text/javascript">Calendar.setup({inputField:"inv_date",button:"f_trigger_c",ifFormat:"%Y-%m-%d"});</script>
			{/literal}
		</td>
		<td class=snvy align=right bgcolor=#E9F7E8><b>折讓 : </b></td>
		<td align=left bgcolor="#EEEEEE"><input type=text id="discount" name="PHP_discount" size=15 class=select style="text-align:right" value="{$discount}" onkeyup="invoice('');this.value=this.value.replace(/[^\d]/g,'');"></td>
	</tr>
  <tr>
		<td class=snvy align=right bgcolor=#E9F7E8><b>供應商統編 : </b></td>
		<td align=left bgcolor="#EEEEEE"><b>&nbsp;{$supl.uni_no}</b><input type="hidden" name="PHP_uni_no" value="{$supl.uni_no}">	</td>
		
		<td align=right nowrap bgcolor=#E9F7E8 class=snvy><b>INVOICE # : </b></td>
		<td align=left bgcolor="#EEEEEE"><input type=text name="PHP_foreign_inv_num" size=15 class=select value=""></td>
		<td></td>
		<td></td>
		<td class=snvy align=right bgcolor=#E9F7E8><b>折稅 : </b></td>
		<td align=left bgcolor="#EEEEEE"><input type=text id="off_duty" name="PHP_off_duty" size=15 class=select style="text-align:right" value="{$off_duty}" onkeyup="invoice('');this.value=this.value.replace(/[^\d]/g,'');"></td>
  </tr>
  <tr>
	<td align=right nowrap bgcolor=#E9F7E8 class=snvy colspan=7><b>總合計金額 : </b></td>
	<td align=left bgcolor="#FF0000" class=des><input type=text id="inv_price" name="PHP_inv_price" size=15 class=select style="text-align:right" value="{$inv_price}" readonly="readonly"></td>
  </tr>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
</table>
<input name="radio" type="radio" value="" Onclick="select_checkbox('Select');"/> Select All 
<input name="radio" type="radio" value="" Onclick="select_checkbox('Clear');"/> Clear All
{section name=PUR loop=$rcv}
	<table border=0 cellspacing=0 cellpadding=2 width="900">
		<tr class=snvy bgcolor=#DBC9F2>
			<td align=left nowrap>
				<input type="checkbox" id="PHP_checkbox{$rcv[PUR].ship_num}" name="PHP_checkbox[{$rcv[PUR].ship_num}]" onclick="invoice()" value="{$rcv[PUR].ship_num}" {if $rcv[PUR].amount <=0} disabled {/if}>
				<input type="text" size=10 id="amount{$rcv[PUR].ship_num}" value="{$rcv[PUR].amount}" readonly>
			</td>
			<td align=right nowrap><b>Ship advice# : </b></td>
			<td align=left nowrap><b>S{$rcv[PUR].ship_num}</b>
				<input type="hidden" size=10 name="PHP_ship_num[{$rcv[PUR].ship_num}]" value="{$rcv[PUR].ship_num}">
			</td>		
			<td align=right nowrap><b></b></td>
			<td align=left nowrap><b></b></td>
			<td align=right nowrap><b></b></td>
			<td align=left nowrap colspan="7"><b></b></td>
		</tr>
	</table>
	
	<table border="2" width="900" cellspacing=0 cellpadding=5 id="table{$smarty.section.PUR.index}">	
		<tr bgcolor="#584E5C" height=30>
			<td class=back align="center" nowrap><b>Invoice#</b></td>
			<td class=back align="center" nowrap><b>Order #</b></td>
			<td class=back align="center" nowrap><b>Material #</b></td>		
			<td class=back align="center" nowrap><b>color/cat</b></td>
			<td class=back align="center" nowrap><b>P / O #</b></td>
			<td class=back align="center" nowrap><b>Tolerance</b></td>
			<td class=back align="center" nowrap><b>PO Q'ty</b></td>
			<td class=back align="center" nowrap><b>Rcvd.<br>Q'ty</b></td>
			<td class=back align="center" nowrap><b>APB.<br>Q'ty</b></td>
			<td class=back align="center" nowrap><b>Avg Q'ty</b></td>
			<!--<td class=back align="center" nowrap><b>FOC</b></td>-->
			<td class=back align="center" nowrap><b>原幣單價</td>
			<td class=back align="center" nowrap><b><span id="cury{$rcv[PUR].ship_num}"></span>單價</b></td>
			<td class=back align="center" nowrap><b>匯率</b></td>
			<td class=back align="center" nowrap><b>小計</b></td>
		</tr>
		{section name=RCV_D loop=$rcv[PUR].rcv_det}
				<tr id="tr_po{$smarty.section.PUR.index}{$rcv[PUR].rcv_det[RCV_D].po.i}" value="{$rcv[PUR].rcv_det[RCV_D].po_num}" onmouseover="bgColor='#FCF4A4'" onmouseout="bgColor='#ffffff'" onDblclick="add_oth_cost(this)">
					<td align="left" nowrap>
						<input type="checkbox" id="PHP_mark{$rcv[PUR].ship_num}{$rcv[PUR].rcv_det[RCV_D].po.i}" name="PHP_mark[{$rcv[PUR].ship_num}][{$rcv[PUR].rcv_det[RCV_D].po.i}]" value="{$rcv[PUR].rcv_det[RCV_D].mark}" checked onclick="rcv('{$rcv[PUR].ship_num}',{$rcv[PUR].rcv_det[RCV_D].po.i},0)">
						<small>{$rcv[PUR].rcv_det[RCV_D].invoice_num}</small>
						<input type="hidden" name="PHP_rcv_inv[{$rcv[PUR].ship_num}][{$rcv[PUR].rcv_det[RCV_D].po.i}]" size="10" value="{$rcv[PUR].rcv_det[RCV_D].invoice_num}" readonly>
					</td>
					<td align="left" nowrap>
					{section name=ords loop=$rcv[PUR].rcv_det[RCV_D].orders}
						<a href="javascript:po_bom_view('{$rcv[PUR].rcv_det[RCV_D].orders[ords].order_num}','{$rcv[PUR].rcv_det[RCV_D].po.ap_num}')" style='cursor:pointer'>{$rcv[PUR].rcv_det[RCV_D].orders[ords].order_num}</a>&nbsp;<br>
					{/section}
					</td>
					<td align="center" nowrap>
						<a href="javascript:{if $rcv[PUR].rcv_det[RCV_D].mat_cat == 'l'}Show_fab{else}Show_acc{/if}('{$rcv[PUR].rcv_det[RCV_D].mat_code}')" value='ord_out' style='cursor:pointer'>{$rcv[PUR].rcv_det[RCV_D].mat_name}</a>
						<input type="hidden" name="PHP_mat_code[{$rcv[PUR].ship_num}][{$rcv[PUR].rcv_det[RCV_D].po.i}]" size="10" value="{$rcv[PUR].rcv_det[RCV_D].mat_code}">
					</td>
					<td align="left" nowrap><small>{$rcv[PUR].rcv_det[RCV_D].color}</small>&nbsp;
						<input type="hidden" name="PHP_color[{$rcv[PUR].ship_num}][{$rcv[PUR].rcv_det[RCV_D].po.i}]" size="20" value="{$rcv[PUR].rcv_det[RCV_D].color}">
					</td>
					<td align="center" nowrap>
						<a href="javascript:po_show('{$rcv[PUR].rcv_det[RCV_D].ap_num}','')" style='cursor:pointer'><b>{$rcv[PUR].rcv_det[RCV_D].po_num}</b></a>
					</td>
					<td align="center" nowrap>{if $rcv[PUR].rcv_det[RCV_D].toler == '0|0'}0{else}+{$rcv[PUR].rcv_det[RCV_D].toleri}%{if $rcv[PUR].rcv_det[RCV_D].tolern != '0'} ~ -{$rcv[PUR].rcv_det[RCV_D].tolern}%{/if}{/if}</td>
					<td align="center" nowrap>
						{$rcv[PUR].rcv_det[RCV_D].po.po_qty} {$rcv[PUR].rcv_det[RCV_D].po.po_unit}
						<input type="hidden" id="ttl_po_qty{$rcv[PUR].ship_num}{$rcv[PUR].rcv_det[RCV_D].po.i}" name="PHP_po_qty[{$rcv[PUR].ship_num}][{$rcv[PUR].rcv_det[RCV_D].po.i}]" size="2" value="{$rcv[PUR].rcv_det[RCV_D].po.po_qty}">
						<input type="hidden" name="PHP_po_unit[{$rcv[PUR].ship_num}][{$rcv[PUR].rcv_det[RCV_D].po.i}]" size="2" value="{$rcv[PUR].rcv_det[RCV_D].po.po_unit}">
						<input type="hidden" name="PHP_prc_unit[{$rcv[PUR].ship_num}][{$rcv[PUR].rcv_det[RCV_D].po.i}]" size="2" value="{$rcv[PUR].rcv_det[RCV_D].po.prc_unit}">
					</td>
					<td align="right" nowrap>
						<input type="text" id="rcvd_qty{$rcv[PUR].ship_num}{$rcv[PUR].rcv_det[RCV_D].po.i}" name="PHP_rcv_qty[{$rcv[PUR].ship_num}][{$rcv[PUR].rcv_det[RCV_D].po.i}]" size="5" value="{$rcv[PUR].rcv_det[RCV_D].qty}" readonly>
						<BR><input type="hidden" id="toler_qty{$rcv[PUR].ship_num}{$rcv[PUR].rcv_det[RCV_D].po.i}" size="5" value="{$rcv[PUR].rcv_det[RCV_D].toler_qty}">
					</td>
					<td align="right" nowrap>
						<input type="text" id="PHP_apb_qty{$rcv[PUR].ship_num}{$rcv[PUR].rcv_det[RCV_D].po.i}" name="PHP_apb_qty[{$rcv[PUR].ship_num}][{$rcv[PUR].rcv_det[RCV_D].po.i}]" size="5" class="select" value="{$rcv[PUR].rcv_det[RCV_D].apb_qty}" onchange="rcv('{$rcv[PUR].ship_num}',{$rcv[PUR].rcv_det[RCV_D].po.i},1);">
					</td>
					<td align="right" nowrap>
						<span id="span_text_{$rcv[PUR].ship_num}_{$rcv[PUR].rcv_det[RCV_D].po.i}" onclick="javascript:input_qty('{$rcv[PUR].ship_num}',{$rcv[PUR].rcv_det[RCV_D].po.i});" style="cursor:pointer">re-input Qty</span>
						<span id="span_{$rcv[PUR].ship_num}_{$rcv[PUR].rcv_det[RCV_D].po.i}" style="display:none">
						{section name=ords loop=$rcv[PUR].rcv_det[RCV_D].orders}
							<input type="text" id="PHP_link_qty{$rcv[PUR].ship_num}{$rcv[PUR].rcv_det[RCV_D].po.i}_{$smarty.section.ords.index}" name="PHP_link_qty[{$rcv[PUR].ship_num}][{$rcv[PUR].rcv_det[RCV_D].po.i}][{$rcv[PUR].rcv_det[RCV_D].orders[ords].order_num}]" size="5" class="select" value="{$rcv[PUR].rcv_det[RCV_D].orders[ords].qty}" onchange="chk_qty(this,'{$rcv[PUR].ship_num}',{$rcv[PUR].rcv_det[RCV_D].po.i})"><br>
							<input type="hidden" id="PHP_po_qty{$rcv[PUR].ship_num}{$rcv[PUR].rcv_det[RCV_D].po.i}_{$smarty.section.ords.index}" size="5" class="select" value="{$rcv[PUR].rcv_det[RCV_D].orders[ords].po_qty}">
							<input type="hidden" name="PHP_po_id[{$rcv[PUR].ship_num}][{$rcv[PUR].rcv_det[RCV_D].po.i}][{$rcv[PUR].rcv_det[RCV_D].orders[ords].order_num}]" size="5" value="{$rcv[PUR].rcv_det[RCV_D].orders[ords].id}">
						{/section}
						</span>
					</td>
					<!--<td align="center" nowrap>
						<input type=text id="foc{$rcv[PUR].ship_num}{$rcv[PUR].rcv_det[RCV_D].po.i}" name="PHP_foc[{$rcv[PUR].ship_num}][{$rcv[PUR].rcv_det[RCV_D].po.i}]" size=5 class=select style="text-align:center">
					</td>-->
					<td align="center" nowrap>
						<input type="text" id="PHP_uprices{$rcv[PUR].ship_num}{$rcv[PUR].rcv_det[RCV_D].po.i}" name="PHP_uprices[{$rcv[PUR].ship_num}][{$rcv[PUR].rcv_det[RCV_D].po.i}]" size=5  value="{$rcv[PUR].rcv_det[RCV_D].po.prics}" readonly>
					</td>
					<td align="center" nowrap>	
						<input type="text" id="PHP_uprice{$rcv[PUR].ship_num}{$rcv[PUR].rcv_det[RCV_D].po.i}" name="PHP_uprice[{$rcv[PUR].ship_num}][{$rcv[PUR].rcv_det[RCV_D].po.i}]" size=5  value="{$rcv[PUR].rcv_det[RCV_D].po.uprice}" class="select" onChange="rcv('{$rcv[PUR].ship_num}',{$rcv[PUR].rcv_det[RCV_D].po.i},0);this.value=roundAmount5(this.value.replace(/[^\d\.]/g,''));">
					</td>
					<td align="center" nowrap>
						<input type=text id="PHP_rate{$rcv[PUR].ship_num}{$rcv[PUR].rcv_det[RCV_D].po.i}" name="PHP_rate[{$rcv[PUR].ship_num}][{$rcv[PUR].rcv_det[RCV_D].po.i}]" size=8 class=select value="1" onchange="cal_amt('{$rcv[PUR].ship_num}')" style="text-align:center">
						<small><span id="currency{$rcv[PUR].ship_num}{$rcv[PUR].rcv_det[RCV_D].po.i}"></span></small>
					</td>
					<td align="center" nowrap bgcolor="#FFCECD">
						<span id="price{$rcv[PUR].ship_num}{$rcv[PUR].rcv_det[RCV_D].po.i}">{$rcv[PUR].rcv_det[RCV_D].price}</span>
					</td>
					
					<input type="hidden" name="PHP_ap_num[{$rcv[PUR].ship_num}][{$rcv[PUR].rcv_det[RCV_D].po.i}]" value="{$rcv[PUR].rcv_det[RCV_D].ap_num}">
					<input type="hidden" id="no" size="2" value="{$rcv[PUR].rcv_det[RCV_D].po.i}">
					<input type="hidden" name="PHP_mat_id[{$rcv[PUR].ship_num}][{$rcv[PUR].rcv_det[RCV_D].po.i}]" value="{$rcv[PUR].rcv_det[RCV_D].mat_id}">
					<input type="hidden" name="PHP_mat_cat[{$rcv[PUR].ship_num}][{$rcv[PUR].rcv_det[RCV_D].po.i}]" value="{$rcv[PUR].rcv_det[RCV_D].mat_cat}">
					<input type="hidden" name="PHP_reason[{$rcv[PUR].ship_num}][{$rcv[PUR].rcv_det[RCV_D].po.i}]" size="2" value="">
					<input type="hidden" name="PHP_size[{$rcv[PUR].ship_num}][{$rcv[PUR].rcv_det[RCV_D].po.i}]" value="{$rcv[PUR].rcv_det[RCV_D].size}">
					<input type="hidden" name="PHP_over_qty_chk[{$rcv[PUR].ship_num}][{$rcv[PUR].rcv_det[RCV_D].po.i}]" value="{$rcv[PUR].rcv_det[RCV_D].over_qty_chk}">
				</tr>
			
		{/section}
	</table>
	<br>
{/section}


{if $rcv_log}  
<table border=1 cellspacing=0 cellpadding=0 width=900 align=center>
	<tr bgcolor=#bbbbbb height=25>
		<td colspan=5 align=center class=nvy9><b>Remark Records</b></td>
	</tr>
	<tr bgcolor=#666666 height=25>
		<td width=100 class=w10 align=center>Date</td>
		<td width=80 class=w10 align=center>Item</td>
		<td width=300 class=w10 align=center>History records</td>
		<td width=80 class=w10 align=center>by</td>
	</tr>
	{section name=SEC loop=$rcv_log}
	<tr bgcolor=#eeeeee >
		<td class=gry9 align=center><small>{$rcv_log[SEC].k_date}</small></td>
		<td class=gry9 align=left>{$rcv_log[SEC].item}</td>
		<td class=gry9 align=left>{$rcv_log[SEC].des}</td>
		<td class=gry9 align=center>{$rcv_log[SEC].user}</td>
	</tr>
	{/section}
</table>
{/if} 

<br>
{if $ap_oth_cost}
<table border=1 cellspacing=0 cellpadding=0 width=750 align=center>
	<tr bgcolor=#A49587 height=25>
		<td colspan=5 align=center class=nvy9><b>Other cost</b></td>
	</tr>
	<tr bgcolor=#54473B height=25>
		<td width=20></td>
		<td width=150 class=w10 align=center>P/O #</td>
		<td width=400 class=w10 align=center>History records</td>
		<td width=150 class=w10 align=center>Cost</td>
	</tr>
	{section name=SEC loop=$ap_oth_cost}
		<tr bgcolor=#E2D9D1 >
			<td width=20><input type="checkbox" id="oth_cost_id{$ap_oth_cost[SEC].id}" name="oth_cost_id[{$ap_oth_cost[SEC].id}]" onclick="oth_cost(this,{$ap_oth_cost[SEC].id},this.value)" value='{$ap_oth_cost[SEC].cost}'></td>
			<td align=center>{$ap_oth_cost[SEC].ap_num}</td>
			<td align=left>{$ap_oth_cost[SEC].item}</td>
			<td align=left>{$ap_oth_cost[SEC].cost}</td>
		</tr>
	{/section}
</table>
{/if}
<BR>

<table border=1 cellspacing=0 cellpadding=0 width=600 align=center id="add_oth_cost_tbl" style="display:none;">
		<tr bgcolor=#bbbbbb height=25>
			<td colspan=4 align=center class=nvy9><b>ADD Other Cost</b></td>
		</tr>
		<tr bgcolor=#666666 height=25>
			<td width=100 class=w10 align=center>P/O #</td>
			<td width=400 class=w10 align=center>Remark</td>
			<td width=80 class=w10 align=center>Cost</td>
			<td width=20 class=w10 align=center></td>
		</tr>
</table>
<br>

<input type="hidden" name="PHP_chkacc_user" value={$user}>
<table width="900" border="0" cellspacing="6" cellpadding="6">
  <tr>
    <td>&nbsp;</td>
    <td width="10%" align="right" nowrap>日期：<b>{$date}</b><input type="hidden" id="date" value="{$date}"></td>
    <td width="10%" align="right" nowrap>經辦：<font color="#0000FF"><b>{$user}</b></font></td>
  </tr>
</table>

<table border=0 cellspacing=0 cellpadding=0 cols=2 width=700>
 <tr> 
 	<td>
	{if $back_str}
		<input type=button onClick="window.location.href='{$PHP_SELF}?PHP_action=rcvd_add_search{$back_str}'" value=" << go back " class=select_e style="cursor:pointer; width=99%">
	{else}&nbsp;
	{/if}
	</td>
  <td align=center>
  	<input type="hidden" name="PHP_back_str" value="{$back_str}">
    <input type="hidden" name="PHP_action" value="do_apb_after_add">
	<input type="hidden" name="PHP_b_a" value="{$b_a_flag}">
		<input type=submit id="append_apb" value="[ Append above record ]" class=select_e style="cursor:pointer; width=95%" onClick="return apb_append();">
   </td>
 </tr>
</table>
</form>
<!--------- footer ---------->
{include file="footer.html"}