<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>===:::::::::: SCM System ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
</head>
{literal}
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script language="javascript" src="./js/open_detial.js"></script>
<script type="text/javascript" src="./js/jquery.blockUI.js"></script>

<script language="javascript" src="./js/col.js"></script>
<script language="javascript" src="./js/date.js"></script>
<script language="javascript" src="./js/pngfix.js"></script>
<script>

function list(item,cat) {
	var gofile ='index2.php?PHP_action=show_supplier_search&PHP_item='+item+'&PHP_cat='+cat;	
	style=window.open2(gofile,'supplier','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=500, top=100, left=150');
}

function add_sup(item,cat){
	var gofile ='index2.php?PHP_action=show_supplier_add&PHP_item='+item+'&PHP_cat='+cat;	
	style=window.open2(gofile,'supplier','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=500, top=100, left=150');
}
 
function writeToSupItemlList(vndr_no,supl_s_name,supl_cat,item) {
	var i=0;
	window.document.forms['aply_wi'].elements[item].value = vndr_no;
}

function creat_ap(bom_id,price_name,ven_name,eta_name,wi_id,item,back_str,unit,mat_code,mat_id,used_id,color,size){

	var today = GetTodayDate();

	var vendor = window.document.forms['aply_wi'].elements[ven_name].value;
	var eta = window.document.forms['aply_wi'].elements[eta_name].value;
	var price = window.document.forms['aply_wi'].elements[price_name].value;	
    
    var order_num = window.document.forms['aply_wi'].elements['PHP_order_num'].value;
/*
	if (eta < today)
	{
		alert("ETD must > Today");
		return;
	} 	
*/	
	if ( vendor == '') {
		alert("Please Fill Supplier");
		return;
	}

	window.location='index2.php?PHP_action=apply_add&PHP_wi_id='+wi_id+'&PHP_bom_id='+bom_id+"&PHP_vendor="+vendor+"&PHP_eta="+eta+"&PHP_item="+item+"&PHP_unit="+unit+"&PHP_mat_code="+mat_code+"&PHP_price="+price+"&PHP_order_num="+order_num+"&PHP_mat_id="+mat_id+"&PHP_used_id="+used_id+"&PHP_color="+color+"&PHP_size="+size; 	
}


function stock_ap(mat_id,price_name,ven_name,eta_name,wi_id,item,back_str,unit,mat_code,stock_name) {
	var vendor = window.document.forms['aply_wi'].elements[ven_name].value;
	var eta = window.document.forms['aply_wi'].elements[eta_name].value;
	var price = window.document.forms['aply_wi'].elements[price_name].value;	
	var st_qty = window.document.forms['aply_wi'].elements[stock_name].value;	
	window.location='po.php?PHP_action=apply_stock&PHP_wi_id='+wi_id+'&PHP_mat_id='+mat_id+"&PHP_vendor="+vendor+"&PHP_eta="+eta+"&PHP_item="+item+"&PHP_unit="+unit+"&PHP_mat_code="+mat_code+"&PHP_price="+price+"&PHP_st_qty="+st_qty+"&PHP_back_str="+back_str; 	
}

function add_pp(bom_id,wi_id,mat_cat,back_str,mat_name,wi_num,color_name,qty,unit) {
	var color = window.document.forms['aply_wi'].elements[color_name].value;
	window.location='po.php?PHP_action=apply_match_pp&PHP_wi_id='+wi_id+'&PHP_bom_id='+bom_id+"&PHP_name="+mat_name+"&PHP_mat_cat="+mat_cat+"&PHP_do="+back_str+"&PHP_wi_num="+wi_num+"&PHP_color="+color+"&PHP_mat_qty="+qty+"&PHP_mat_unit="+unit; 	
}

function add_pp_bom(ap_id,wi_id,used_id,mat_cat,color,qty,ap_num,size,back_str) {
	//alert(ap_id+' , '+wi_id+' , '+used_id+' , '+mat_cat+' , '+color+' , '+qty+' , '+ap_num+' , '+size+' , '+back_str);
	$.blockUI({ message: '<img src="./images/ajpk.gif" border=0 width="66" height="66">'});
	window.location='po.php?PHP_action=do_apply_match_pp&PHP_ap_id='+ap_id+'&PHP_wi_id='+wi_id+'&PHP_used_id='+used_id+"&PHP_mat_cat="+mat_cat+"&PHP_color="+color+"&PHP_qty="+qty+"&PHP_ap_num="+ap_num+"&PHP_size="+size+"&PHP_back_str="+back_str;
}

function creat_spec(bom_id,bom_code,id,mat_cat,back_str) {
	window.location='po.php?PHP_action=apply_ex_bom_view&PHP_id='+id+'&PHP_bom_id='+bom_id+"&PHP_bom_code="+bom_code+"&PHP_mat_cat="+mat_cat+"&PHP_do="+back_str; 	
}

function del_pa (pa_num, back_str,id) {
	if ( confirm("Are you sure to delete "+pa_num+"??")) {
		window.location='index2.php?PHP_action=do_apply_del&PHP_ap_num='+pa_num+'&PHP_str='+back_str+'&PHP_back_act=apply_wi_view&PHP_id='+id; 	
	}
}

function match_pa(ap_num,back_str,wi_id,mat_cat,bom_id,ap_det_id) {
	alert('PHP_wi_id='+wi_id);
	alert('PHP_bom_id='+bom_id);
	alert('PHP_item='+mat_cat);
	alert('PHP_ap_num='+ap_num);
	alert('PHP_ap_det_id='+ap_det_id);
	window.location='po.php?PHP_action=ord_bom_match&PHP_wi_id='+wi_id+'&PHP_bom_id='+bom_id+"&PHP_item="+mat_cat+"&PHP_do="+back_str+"&PHP_ap_num="+ap_num+"&PHP_ap_det_id="+ap_det_id; 	
}
</script>
<script language="JavaScript1.2">
<!--
function FabBox(placement) {
	var placement = unescape(placement);
	fab_placement.innerHTML = placement;
}

function AccBox(cons) {
	var cons = unescape(cons);
	acc_cons.innerHTML = cons;
}

function overTip(boxObj) { 
	boxObj.style.visibility = "visible";
	boxObj.style.left = event.clientX + document.body.scrollLeft + 26 + 'px';
	boxObj.style.top = event.clientY + document.body.scrollTop + 'px';
}

function outTip(boxObj) { 
	boxObj.style.visibility = "hidden"; 
}
-->
</script>
{/literal}
<body>
<div id="preview1" style="position:absolute; z-index:1;width:10; filter:revealTrans(duration=0.3); visibility:hidden;"> 
<table border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td width="9" height="9"><img src="images/t_l.png" width="9" height="9"></td>
		<td width="5" height="9" align="left" background="images/t_m.png"><img src="images/t_ml.png" width="5" height="9"></td>
		<td width="99%" align="right" background="images/t_m.png"></td>
		<td width="5" height="9" align="right" background="images/t_m.png"><img src="images/t_mr.png" width="5" height="9"></td>
		<td><img src="images/t_r.png" width="9" height="9"></td>
	</tr>
	<tr>
		<td width="9" valign="top" background="images/m_l.png"><img src="images/m_lt.png" width="9" height="5"></td>
		<td colspan="3" rowspan="3" bgcolor="#FFFFFF">
			<table border="0" cellpadding="3" cellspacing="1">
				<tr>
					<td>
						<table width="100%" border="0" cellpadding="1" cellspacing="1">
							<tr>
								<td align="right" class="B" nowrap>Placement：</td>
								<td nowrap>&nbsp;<span id="fab_placement" ></span></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		<td width="9" valign="top" background="images/m_r.png"><img src="images/m_rt.png" width="9" height="5"></td>
	</tr>
	<tr>
		<td height="99%" background="images/m_l.png"></td>
		<td height="99%" background="images/m_r.png"></td>
	</tr>
	<tr>
		<td width="9" height="5" valign="bottom" background="images/m_l.png"><img src="images/m_lb.png" width="9" height="5"></td>
		<td width="9" valign="bottom" background="images/m_r.png"><img src="images/m_rb.png" width="9" height="5"></td>
	</tr>
	<tr>
		<td width="9" height="9"><img src="images/b_l.png" width="9" height="9"></td>
		<td height="9" align="left" background="images/b_m.png"><img src="images/b_ml.png" width="5" height="9"></td>
		<td width="99%" align="right" background="images/b_m.png"></td>
		<td height="9" align="right" background="images/b_m.png"><img src="images/b_mr.png" width="5" height="9"></td>
		<td width="9" height="9"><img src="images/b_r.png" width="9" height="9"></td>
	</tr>
</table>
</div>

<div id="preview2" style="position:absolute; z-index:1;width:10; filter:revealTrans(duration=0.3); visibility:hidden;"> 
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="9" height="9"><img src="images/t_l.png" width="9" height="9"></td>
		<td width="5" height="9" align="left" background="images/t_m.png"><img src="images/t_ml.png" width="5" height="9"></td>
		<td width="99%" align="right" background="images/t_m.png"></td>
		<td width="5" height="9" align="right" background="images/t_m.png"><img src="images/t_mr.png" width="5" height="9"></td>
		<td><img src="images/t_r.png" width="9" height="9"></td>
	</tr>
	<tr>
		<td width="9" valign="top" background="images/m_l.png"><img src="images/m_lt.png" width="9" height="5"></td>
		<td colspan="3" rowspan="3" bgcolor="#FFFFFF">
			<table border="0" cellpadding="3" cellspacing="1">
				<tr>
					<td>
						<table width="100%" border="0" cellpadding="3" cellspacing="1">
							<tr>
								<td align="right" class="B">Placement：</td>
								<td nowrap>&nbsp;<span id="acc_cons" ></span></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		<td width="9" valign="top" background="images/m_r.png"><img src="images/m_rt.png" width="9" height="5"></td>
	</tr>
	<tr>
		<td height="99%" background="images/m_l.png"></td>
		<td height="99%" background="images/m_r.png"></td>
	</tr>
	<tr>
		<td width="9" height="5" valign="bottom" background="images/m_l.png"><img src="images/m_lb.png" width="9" height="5"></td>
		<td width="9" valign="bottom" background="images/m_r.png"><img src="images/m_rb.png" width="9" height="5"></td>
	</tr>
	<tr>
		<td width="9" height="9"><img src="images/b_l.png" width="9" height="9"></td>
		<td height="9" align="left" background="images/b_m.png"><img src="images/b_ml.png" width="5" height="9"></td>
		<td width="99%" align="right" background="images/b_m.png"></td>
		<td height="9" align="right" background="images/b_m.png"><img src="images/b_mr.png" width="5" height="9"></td>
		<td width="9" height="9"><img src="images/b_r.png" width="9" height="9"></td>
	</tr>
</table>
</div>

<br>

<table cellspacing=1 cellpadding=4 cols=2 width=800 bgcolor=#333333>
	<tr><td class="des" align=center height=28>[ <b>Purchase status for Order </b> : <span class=ylw10><b>{$wi.wi_num}</b></span>] -- STEP 1</td></tr>
</table>

{if $msg_YES}
<table border=1 cellpadding=4 cellspacing=0 cols=1 width=800>
	<tr bgcolor=#ffffff> 
		<td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
		<td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
	</tr>
</table>
{/if}

<form method=POST name=aply_wi>
<input type=hidden name="PHP_order_num"  value="{$wi.wi_num}">
<table border=0 cellspacing=0 cellpadding=1 width=800 bgcolor=#FFFFFF>
	<tr>
		<td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
	</tr>
	<tr>
		<td class=snvy align=right nowrap>Customer :</td>
		<td class=bgdy align=left><b>&nbsp;{$smpl.cust_iname}</b></td>
		<td class=snvy align=right nowrap>Department :</td>
		<td class=bgdy align=left><b>&nbsp;{$wi.dept}</b></td>
		<td class=snvy align=right nowrap><b>ETD :</b></td>
		<td class=bgdy align=left><b>&nbsp;{$wi.etd}</b></td>
	</tr>
	<tr>
		<td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
	</tr>
</table>
<table border cellspacing=0 cellpadding=3 width=800 bgcolor=#ffffff align=center>
	<tr bgcolor="#003333" height=28> 
		<td nowrap align=center class=back><b>Picture</b></td>
		<td nowrap align=center class=back><b>Order #</b></td>
		<td nowrap align=center class=back><b>style</b></td>
		<td nowrap align=center class=back><b>SIZE RANGE</b></td>
		<td nowrap align=center class=back><b>Q'ty / Unit</b></td>
	</tr>
	<tr bgcolor=#DDDDDD height=28>
		<td class=g10 align=center rowspan=2>&nbsp;
			<img src="{$wi.pic_url}" name="pic" width=100 border="0" onclick='window.open2("{$wi.pic_url}","","height=640,width=480")' style='cursor:pointer'>
		</td>
		<td class=grn9 align=center>
		<a href="javascript:Show_ord('{$wi.smpl_id}','{$wi.style_code}')" value='ord_out' style='cursor:pointer'>
		<b>&nbsp;{$smpl.order_num}</b></a></td>
		<td class=grn9 align=center><b>&nbsp;{$smpl.style}</b></td>
		<td class=grn9 align=center><b>&nbsp;{$smpl.size_scale}</b></td>
		<td class=grn9 align=center><b><span class=bgdy9><b>{$total|number_format}</b></span>&nbsp;{if $wi.unit}{$wi.unit}{else}<span class=bgdy9><UnInput></span>{/if} (Order : {$smpl.qty|number_format}{$wi.unit})</b></td>
	</tr>
	<tr>
		<td colspan=5 >
			<table border cellspacing=0 cellpadding=2 width=470 bgcolor=#ffffff align=center>
				{$show_breakdown}
			</table>
		</td>
	</tr>
</table>
<!------------- material range ------------->
{if $pp_order}
<table border=0 cellspacing=0 cellpadding=0 width=800 bgcolor=#FFFFFF>
	<tr>
		<td align=center><hr size=2 width=98%></td>
	</tr>
</table>
<table width=800 border=1 cellspacing=0 cellpadding=1>
	<!------- 物料預先採購 Title --------- -->
	<tr bgcolor=#D5D5BE>
	  <td colspan=8 class=b9 align=center><b>Pre-Purchase Matrial</b></td>
	</tr>	
	<tr bgcolor=#D5D5BE>
	  <td width=100 class=b9 align=center><b>Matriel #</b></td>
	  <td width=100 class=b9 align=center><b>Name</b></td>
	  <td width=100 class=b9 align=center><b>Placement</b></td>
	 	<td width=100 class=b9 align=center><b>Color/cat.</b></td>
	 	<td width=40 class=b9 align=center><b>Size</b></td>
	 	<td width=60 class=b9 align=center><b>Q'TY</b></td>
	 	<td width=70 class=b9 align=center><b>P.O.#</b></td>
		<td width=30 class=b9 align=center><b>P.P.</b></td>
	</tr>
	{section name=BOM loop=$pp_order} 
	<tr onMouseOver="bgColor='#D4E0F7'" onMouseOut="bgColor='#ffffff'">
		<td class=b9 align=left>&nbsp;<a href="javascript:{if $pp_order[BOM].mat_cat == 'a'}Show_acc{else}Show_fab{/if}('{$pp_order[BOM].mat_code}')" value='ord_out' style='cursor:pointer'>{$pp_order[BOM].mat_code}</a></td>
		<td class=b9 align=left>&nbsp;{$pp_order[BOM].mat_name}</td>
		<td class=b7 align=left>&nbsp;{$pp_order[BOM].use_for}</td>
		<td class=b9 align=left>&nbsp;{$pp_order[BOM].color}</td>
		<td class=b9 align=left>&nbsp;{$pp_order[BOM].size}</td>
		<td class=snvy align=center>&nbsp;{$pp_order[BOM].ap_qty}</td>
		<td class=snvy align=center>&nbsp;<a href="javascript:po_show('{$pp_order[BOM].ap_num}')">{$pp_order[BOM].po_num}</a></td>
		<td class=snvy align=center>&nbsp;<img src="images/pp.jpg" onClick=add_pp_bom('{$pp_order[BOM].ap_id}','{$pp_order[BOM].wi_id}','{$pp_order[BOM].used_id}','{$pp_order[BOM].mat_cat}','{$pp_order[BOM].color|escape:"html"}','{$pp_order[BOM].ap_qty}','{$pp_order[BOM].ap_num}','{$pp_order[BOM].size}','{$back_str}') value="Pre-pruchase" style='cursor:hand'></td>
	</tr>
	{/section}
</table>
{/if}

{if !$fty_flag}
{if $pp_mat.0.id}
<table border=0 cellspacing=0 cellpadding=0 width=800 bgcolor=#FFFFFF>
	<tr>
		<td align=center><hr size=2 width=98%></td>
	</tr>
</table>
<table width=800 border=1 cellspacing=0 cellpadding=1>
	<!------- 物料預先採購 Title --------- -->
	<tr bgcolor=#D5D5BE>
	  <td colspan=6 class=b9 align=center><b>Pre-Purchase Matrial</b></td>
	</tr>	
	<tr bgcolor=#D5D5BE>
	  <td width=100 class=b9 align=center><b>Matriel #</b></td>
	  <td width=100 class=b9 align=center><b>Name</b></td>
	  <td width=100 class=b9 align=center><b>Placement</b></td>
	 	<td width=100 class=b9 align=center><b>Color/cat.</b></td>
	 	<td width=100 class=b9 align=center><b>Q'TY</b></td>
	 	<td width=100 class=b9 align=center><b>P.O.#</b></td>
	</tr>
	{section name=BOM loop=$pp_mat} 
	<tr onMouseOver="bgColor='#D4E0F7'" onMouseOut="bgColor='#ffffff'">
		<td class=b9 align=left>&nbsp;<a href="javascript:{if $pp_mat[BOM].mat_cat == 'a'}Show_acc{else}Show_fab{/if}('{$pp_mat[BOM].mat_code}')" value='ord_out' style='cursor:pointer'>{$pp_mat[BOM].mat_code}</a></td>
		<td class=b9 align=left>&nbsp;{$pp_mat[BOM].mat_name}</td>
		<td class=b7 align=left>&nbsp;{$pp_mat[BOM].use_for}</td>
		<td class=b9 align=left>&nbsp;{$pp_mat[BOM].color}</td>
		<td class=snvy align=center>&nbsp;{$pp_mat[BOM].ap_qty}</td>
		<td class=snvy align=center>&nbsp;<a href="javascript:po_show('{$pp_mat[BOM].ap_num}')">{$pp_mat[BOM].po_num}</a></td>
	</tr>
	{/section}
</table>
{/if}

{if $dis_lots}
<table border=0 cellspacing=0 cellpadding=0 width=800 bgcolor=#FFFFFF>
	<tr>
		<td align=center><hr size=2 width=98%></td>
	</tr>
</table>
<table width=800 border=1 cellspacing=0 cellpadding=1>
	<!------- 物料預先採購 Title --------- -->
	<tr bgcolor=#D5D5BE>
	  <td colspan=8 class=b9 align=center><b>前版本己採購主料記錄</b></td>
	</tr>	
	<tr bgcolor=#D5D5BE>
	  <td width=90 class=b9 align=center><b>Fabric #</b></td>	
	  <td width=210 class=b9 align=center><b>Placement</b></td>  
	 	<td width=120 class=b9 align=center><b>Color/cat.</b></td>
	 	<td width=80 class=b9 align=center><b>BOM Q'TY</b></td>
	 	<td width=180 class=b9 align=center><b>PO #</b></td>
	 	<td width=80 class=b9 align=center><b>PO Q'TY</b></td>
	 	<td width=20 class=b9 align=center><b>OK</b></td>
	 	<td width=20 class=b9 align=center><b>DEL</b></td>
	</tr>
	{section name=BOM loop=$dis_lots} 
	<tr onMouseOver="bgColor='#D4E0F7'" onMouseOut="bgColor='#ffffff'">
		<td class=b9 align=left>&nbsp;<a href="javascript:Show_fab('{$dis_lots[BOM].lots_code}')" value='ord_out' style='cursor:pointer'>{$dis_lots[BOM].lots_code}</a></td>
		<td class=b9 align=left>&nbsp;<small>{$dis_lots[BOM].use_for}</small></td>
		<td class=b9 align=left>&nbsp;<small>{$dis_lots[BOM].color}</small></td>
		<td class=b9 align=right>&nbsp;{$dis_lots[BOM].bom_qty}{$dis_lots[BOM].unit}</td>
		<td class=snvy align=center>&nbsp;
			<a href="javascript:po_show('{$dis_lots[BOM].ap_num}')">{$dis_lots[BOM].po_num}</a>
			<small>({if $dis_lots[BOM].status == 6}wait for PO submit
			{elseif $dis_lots[BOM].status == 8}<span class=bgdy9>wait PO CFM</span>
			{elseif $dis_lots[BOM].status == 10}<span class=grn9>wait PO APV</span>
			{elseif $dis_lots[BOM].status == 12}<span class=b9><b>PO APVD</b></span>
			{elseif $dis_lots[BOM].status == 13}<span class=ssign><b>PO Reject</b></span>
			{else}&nbsp;{/if})
			</small>				
		</td>
		<td class=snvy align=right>&nbsp;{$dis_lots[BOM].po_qty}{$dis_lots[BOM].po_unit}</td>
		<td class=snvy align=center>&nbsp;
			<img src="images/approval06.gif" onclick="javascript:match_pa('{$dis_lots[BOM].ap_num}','{$back_str}','{$wi.id}','lots','{$dis_lots[BOM].id}','{$dis_lots[BOM].ap_det_id}')"; width=11 style="cursor:pointer">
		</td>
		<td class=snvy align=center>&nbsp;
		{if $dis_lots[BOM].status <> 12}<img src="images/del.png"  onclick="javascript:del_pa('{$dis_lots[BOM].ap_num}','{$back_str}','{$wi.id}')"; width=11 style="cursor:pointer">	{/if}
		</td>
	</tr>
	{/section}
</table>
{/if}

{if $dis_acc}
<table border=0 cellspacing=0 cellpadding=0 width=800 bgcolor=#FFFFFF>
	<tr>
		<td align=center><hr size=2 width=98%></td>
	</tr>
</table>
<table width=800 border=1 cellspacing=0 cellpadding=1>
	<!------- 物料預先採購 Title --------- -->
	<tr bgcolor=#D5D5BE>
		<td colspan=8 class=b9 align=center><b>前版本己採購副料記錄</b></td>
	</tr>	
	<tr bgcolor=#D5D5BE>
		<td width=90 class=b9 align=center><b>Accessory #</b></td>	
		<td width=220 class=b9 align=center><b>Placement</b></td>  
	 	<td width=130 class=b9 align=center><b>Color/cat.</b></td>
	 	<td width=80 class=b9 align=center><b>BOM Q'TY</b></td>
	 	<td width=180 class=b9 align=center><b>PO #</b></td>
	 	<td width=80 class=b9 align=center><b>PO Q'TY</b></td>
	 	<td width=20 class=b9 align=center><b>OK</b></td>
	 	<td width=20 class=b9 align=center><b>DEL</b></td>
	</tr>
	{section name=BOM loop=$dis_acc} 
	<tr onMouseOver="bgColor='#D4E0F7'" onMouseOut="bgColor='#ffffff'">
		<td class=b9 align=left>&nbsp;<a href="javascript:Show_acc('{$dis_acc[BOM].acc_code}')" value='ord_out' style='cursor:pointer'>{$dis_acc[BOM].acc_code}</a></td>
		<td class=b9 align=left>&nbsp;<small>{$dis_acc[BOM].use_for}</small></td>
		<td class=b9 align=left>&nbsp;<small>{$dis_acc[BOM].color}</small></td>
		<td class=b9 align=right>&nbsp;{$dis_acc[BOM].bom_qty}{$dis_acc[BOM].unit}</td>
		<td class=snvy align=center>&nbsp;
			<a href="javascript:po_show('{$dis_acc[BOM].ap_num}')">{$dis_acc[BOM].po_num}</a>
			<small>({if $dis_acc[BOM].status == 6}wait for PO submit
			{elseif $dis_acc[BOM].status == 8}<span class=bgdy9>wait PO CFM</span>
			{elseif $dis_acc[BOM].status == 10}<span class=grn9>wait PO APV</span>
			{elseif $dis_acc[BOM].status == 12}<span class=b9><b>PO APVD</b></span>
			{elseif $dis_acc[BOM].status == 13}<span class=ssign><b>PO Reject</b></span>
			{else}&nbsp;{/if})
			</small>	
		</td>
		<td class=snvy align=right>&nbsp;{$dis_acc[BOM].po_qty}{$dis_acc[BOM].po_unit}</td>
		<td class=snvy align=center>&nbsp;
			<img src="images/approval06.gif"  onclick="javascript:match_pa('{$dis_acc[BOM].ap_num}','{$back_str}','{$wi.id}','acc','{$dis_acc[BOM].id}','{$dis_acc[BOM].ap_det_id}')"; width=11 style="cursor:pointer">
		</td>
		<td class=snvy align=center>&nbsp;
			{if $dis_acc[BOM].status <> 12}<img src="images/del.png"  onclick="javascript:del_pa('{$dis_acc[BOM].ap_num}','{$back_str}','{$wi.id}')"; width=11 style="cursor:pointer">	{/if}
		</td>
	</tr>
	{/section}
</table>
{/if}
<table border=0 cellspacing=0 cellpadding=0 width=800 bgcolor=#FFFFFF>
	<tr>
		<td align=center><hr size=2 width=98%></td>
	</tr>
</table>
<table width=800 border=0 cellspacing=1 cellpadding=2>
	<tr bgcolor=#333333 height=28>
		<td width=80 class=ylw9 align=center><b>Fabirc #</b></td>
		<td width=100 class=ylw9 align=center><b>Name</b></td>
		<td class=ylw9 align=center colspan=2><b>Color / Cat.</b></td>
		<td width=60 class=ylw9 align=center><b>BOM Q'TY</b></td>		
		<td class=ylw9 align=center colspan=3><b>Supplier</b></td>
		<td width=50 class=ylw9 align=center><b>Select</b></td>
	</tr>
	{if $lots_NONE} 
	<tr>
		<td colspan=6 align=center class=ssign><br>NO Fabric data!<br><br>	</tr>
	{/if}
	{section name=USE loop=$lots_use.bom} 
	<tr bgcolor=#eeeeee height=28>
		<td class=snvy align=center nowrap><a href="javascript:Show_fab('{$lots_use.bom[USE].lots_code}')" value='ord_out' style='cursor:pointer'><small>{$lots_use.bom[USE].lots_code}&nbsp;</small></a></td>
		<td class=snvy ><small>{$lots_use.bom[USE].lots_name}&nbsp;</small></td>
		<a href="javascript://" onMouseOver="overTip(preview1);FabBox('{$lots_use.bom[USE].use_for|escape:"html"}');" onMouseOut="outTip(preview1)">
		<td class=snvy colspan=2><small>{$lots_use.bom[USE].color}&nbsp;</small></td>
		</a>
		<td class=snvy align=right><small>{$lots_use.bom[USE].bom_qty|number_format:"2f"}&nbsp;{$lots_use.bom[USE].unit}&nbsp;</small></td>
			<input type=hidden name="PHP_lots_up{$lots_use.bom[USE].id}" value="{$lots_use.bom[USE].price1}" >
			<input type=hidden name="PHP_lots_eta{$lots_use.bom[USE].id}" value="{$lots_use.bom[USE].eta}">
			<input type=hidden name="PHP_lots_color{$lots_use.bom[USE].id}" value="{$lots_use.bom[USE].color}">	
		{if $lots_use.bom[USE].ap_num == '' && $lots_use.bom[USE].ap_mark !='stock'}
 	 	{if $dis_lots.0.id}
		<td class=snvy align=center colspan=4>&nbsp;</td>		
 	 	{else}
		{if $pp_lots_mk}
		<td class=snvy align=center colspan=4 nowspan>	 	
			<!-- <img src="images/pp.jpg" onClick=add_pp('{$lots_use.bom[USE].id}','{$wi.id}','lots','{$back_str2}','{$lots_use.bom[USE].lots_code}','{$wi.wi_num}','PHP_lots_color{$lots_use.bom[USE].id}','{$lots_use.bom[USE].bom_qty}','{$lots_use.bom[USE].unit}') value="Pre-pruchase" style='cursor:hand'> -->
 	 	</td>
		{else}
		<td class=snvy align=center colspan=4 nowrap>&nbsp;
			SUPL.:
			<input type=text name="PHP_lots_v{$lots_use.bom[USE].id}" size=6 class=select value="{$lots_use.bom[USE].vendor1}" readonly>&nbsp;
  			<img src="./images/icoSearch.gif" alt="Supplier" onClick="list('PHP_lots_v{$lots_use.bom[USE].id}','FABRIC');" style="cursor:pointer" >
  			<img src="./images/add.gif" alt="Supplier ADD" onClick="add_sup('PHP_lots_v{$lots_use.bom[USE].id}','FABRIC');" style="cursor:pointer">	 
 		 	<img src="images/add.jpg" onclick="creat_ap('{$lots_use.bom[USE].id}','PHP_lots_up{$lots_use.bom[USE].id}','PHP_lots_v{$lots_use.bom[USE].id}','PHP_lots_eta{$lots_use.bom[USE].id}','{$wi.id}','lots','{$back_str}','{$lots_use.bom[USE].unit}','{$lots_use.bom[USE].lots_code}','{$lots_use.bom[USE].mat_id}','{$lots_use.bom[USE].used_id}','{$lots_use.bom[USE].color|escape:"html"}','{$lots_use.bom[USE].size}')" style="cursor:pointer">&nbsp;
 		 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; stock q'ty:
 		 	<input type=text name="PHP_lots_stock{$lots_use.bom[USE].id}" size=5 class=select value=""> 		 	
 		 	<img src="images/stock.jpg" onClick="stock_ap('{$lots_use.bom[USE].id}','PHP_lots_up{$lots_use.bom[USE].id}','PHP_lots_v{$lots_use.bom[USE].id}','PHP_lots_eta{$lots_use.bom[USE].id}','{$wi.id}','lots','{$back_str}','{$lots_use.bom[USE].unit}','{$lots_use.bom[USE].lots_code}','PHP_lots_stock{$lots_use.bom[USE].id}')" value="stock" style='cursor:hand'>
		</td>
		{/if} 
		{/if}
		{elseif $lots_use.bom[USE].ap_mark == 'stock'}
		<td class=snvy align=center colspan=3><b>=== STOCK [ QTY : {$lots_use.bom[USE].st_qty} ] ===</b></td>
		<td class=snvy align=center>
 	 	<img src="images/extra.gif" onclick="javascript:creat_spec('{$lots_use.bom[USE].id}','{$lots_use.bom[USE].lots_code}','{$wi.id}','l','{$back_str}')"; style="cursor:pointer" width=55>	 </td>
		{else}
		<td class=snvy align=left nowrap width=190 nowrap>
		<small>
		P / O : <br>
		{section name=SHIP loop=$lots_use.bom[USE].po.ship}
		<a href="javascript:po_show('{$lots_use.bom[USE].po.ship[SHIP].ap_num}')">{$lots_use.bom[USE].po.ship[SHIP].po_num}</a> ( {$lots_use.bom[USE].po.ship[SHIP].statuss} ) &nbsp;
		{if $lots_use.bom[USE].po.ship[SHIP].special == 1} , <font color="green">Extra</font> {/if}
		{if $lots_use.bom[USE].po.ship[SHIP].special >= 2 } , <font color="green">P.P.</font> {/if}		
		{if $lots_use.bom[USE].po.ship[SHIP].status == 0} <img src="images/del.png"  onclick="javascript:del_pa('{$lots_use.bom[USE].po.ship[SHIP].ap_num}','{$back_str}','{$wi.id}')"; width=11 style="cursor:pointer">	{/if}
		<br>
		{/section}
		{section name=SHIP loop=$lots_use.bom[USE].spec_ap}
		<a href="javascript:po_show('{$lots_use.bom[USE].spec_ap[SHIP].ap_num}')">{$lots_use.bom[USE].spec_ap[SHIP].po_num}</a> ( {$lots_use.bom[USE].spec_ap[SHIP].statuss} ) &nbsp;
		{if $lots_use.bom[USE].spec_ap[SHIP].status == 0} <img src="images/del.png"  onclick="javascript:del_pa('{$lots_use.bom[USE].spec_ap[SHIP].ap_num}','{$back_str}','{$wi.id}')"; width=11 style="cursor:pointer">	{/if}
		<br>
 		{/section}
		</small>
		{if $pp_lots_mk}
 	 	<img src="images/pp.jpg" onClick=add_pp('{$lots_use.bom[USE].id}','{$wi.id}','lots','{$back_str2}','{$lots_use.bom[USE].lots_code}','{$wi.wi_num}','PHP_lots_color{$lots_use.bom[USE].id}','{$lots_use.bom[USE].bom_qty}','{$lots_use.bom[USE].unit}') value="Pre-pruchase" style='cursor:hand'>
		{/if} 
		</td>
		<td class=snvy align=right nowrap><br>
		<small>
		{section name=SHIP loop=$lots_use.bom[USE].po.ship}
			{$lots_use.bom[USE].po.ship[SHIP].po_qty|number_format:"2f"} {$lots_use.bom[USE].po.ship[SHIP].unit}<br> 	 			
		{/section}					
		{section name=SHIP loop=$lots_use.bom[USE].spec_ap}
			{$lots_use.bom[USE].spec_ap[SHIP].po_qty|number_format:"2f"} {$lots_use.bom[USE].spec_ap[SHIP].unit}<br> 	 			
 		{/section}
		</small>
		</td>
		<td class=snvy align=center width=100><br>
		<small>
		{section name=SHIP loop=$lots_use.bom[USE].po.ship}
			{$lots_use.bom[USE].po.ship[SHIP].eta}<br> 	 			
		{/section}
		{section name=SHIP loop=$lots_use.bom[USE].spec_ap}
			{$lots_use.bom[USE].spec_ap[SHIP].eta}<br>
		{/section}
		</small>
		</td>
		<td class=snvy align=center>
			<img src="images/extra.gif" onclick="javascript:creat_spec('{$lots_use.bom[USE].id}','{$lots_use.bom[USE].lots_code}','{$wi.id}','l','{$back_str}')"; style="cursor:pointer" width=55>
		</td>
		{/if}
	</tr>
	{/section} 
	<tr bgcolor=#333333 height=28>
		<td width=80 class=ylw9 align=center><b>Acc. #</b></td>
		<td width=100 class=ylw9 align=center><b>Name</b></td>
		<td class=ylw9 align=center><b>Color / Cat. </b></td>
		<td width=30 class=ylw9 align=center><b>Size</b></td>
		<td width=60 class=ylw9 align=center><b>BOM Q'TY</b></td>
		<td class=ylw9 align=center colspan=3><b>Supplier</b></td>
		<td width=50 class=ylw9 align=center><b>Select</b></td>
	</tr>
	{if $acc_NONE} 
	<tr>
		<td colspan=6 align=center class=ssign>NO Accessory data!<input type="hidden" name="PHP_acc_est" value=""></td>
	</tr>
	{/if}
	{section name=USE loop=$acc_use.bom} 
	<tr bgcolor=#eeeeee height=28>
		<td class=snvy align=center nowrap><a href="javascript:Show_acc('{$acc_use.bom[USE].acc_code}')" value='ord_out' style='cursor:pointer'><small>{$acc_use.bom[USE].acc_code}&nbsp;</small></a></td>
		<td class=snvy><small>{$acc_use.bom[USE].acc_name}&nbsp;</small></td>
		<a href="javascript://" onMouseOver="overTip(preview2);AccBox('{$acc_use.bom[USE].use_for|escape:"html"}');" onMouseOut="outTip(preview2)">
		<td class=snvy><small>{$acc_use.bom[USE].color}&nbsp;</small></td>
		<td class=snvy align=center><small>{$acc_use.bom[USE].size}&nbsp;</small></td>
		<!-- <td class=snvy align=center><small>{$acc_use.bom[USE].size}&nbsp;</small></td> -->
		</a>
		<td class=snvy align=right><small>{$acc_use.bom[USE].bom_qty|number_format:"2f"}&nbsp;{$acc_use.bom[USE].unit}&nbsp;</small></td>
		{if $acc_use.bom[USE].ap_num == '' && $acc_use.bom[USE].ap_mark !='stock'}
		<input type=hidden name="PHP_acc_up{$acc_use.bom[USE].id}" value="{$acc_use.bom[USE].price1}">
		<input type=hidden name="PHP_acc_eta{$acc_use.bom[USE].id}" value="{$acc_use.bom[USE].eta}">
		<input type=hidden name="PHP_acc_color{$acc_use.bom[USE].id}" value="{$acc_use.bom[USE].color}" >
	 	{if $dis_acc.0.id}
		<td class=snvy align=center colspan=4>&nbsp;</td>
	 	{else}
		{if $pp_acc_mk}
	 	<td class=snvy align=center colspan=4>	 	
 	 		<!-- <img src="images/pp.jpg" onClick=add_pp('{$acc_use.bom[USE].id}','{$wi.id}','acc','{$back_str2}','{$acc_use.bom[USE].acc_code}','{$wi.wi_num}','PHP_acc_color{$acc_use.bom[USE].id}','{$acc_use.bom[USE].bom_qty}','{$acc_use.bom[USE].unit}') value="Pre-pruchase" style='cursor:hand'> -->
 	 	</td>
	 	{else}
	 	<td class=snvy align=center colspan=4 nowrap>
			SUPL.:
	 		<input type=text name="PHP_acc_v{$acc_use.bom[USE].id}" size=6 class=select value="{$acc_use.bom[USE].vendor1}" readonly>&nbsp;
  			<img src="./images/icoSearch.gif" alt="Supplier" onClick="list('PHP_acc_v{$acc_use.bom[USE].id}','ACCESSORY');" style="cursor:pointer">
  			<img src="./images/add.gif" alt="Supplier ADD" onClick="add_sup('PHP_acc_v{$acc_use.bom[USE].id}','ACCESSORY');" style="cursor:pointer">
			<img src="images/add.jpg" onclick="creat_ap('{$acc_use.bom[USE].id}','PHP_acc_up{$acc_use.bom[USE].id}','PHP_acc_v{$acc_use.bom[USE].id}','PHP_acc_eta{$acc_use.bom[USE].id}','{$wi.id}','acc','{$back_str}','{$acc_use.bom[USE].unit}','{$acc_use.bom[USE].acc_code}','{$acc_use.bom[USE].mat_id}','{$acc_use.bom[USE].used_id}','{$acc_use.bom[USE].color|escape:"html"}','{$acc_use.bom[USE].size}')" style="cursor:pointer">&nbsp;
 		 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; stock q'ty:
 		 	<input type=text name="PHP_acc_stock{$acc_use.bom[USE].id}" size=5 class=select value=""> 		 							
			<img src="images/stock.jpg" onclick="stock_ap('{$acc_use.bom[USE].id}','PHP_acc_up{$acc_use.bom[USE].id}','PHP_acc_v{$acc_use.bom[USE].id}','PHP_acc_eta{$acc_use.bom[USE].id}','{$wi.id}','acc','{$back_str}','{$acc_use.bom[USE].unit}','{$acc_use.bom[USE].acc_code}','PHP_acc_stock{$acc_use.bom[USE].id}')" style='cursor:hand'>&nbsp;	 		 			
		</td>
		{/if}
		{/if}
		{elseif $acc_use.bom[USE].ap_mark =='stock'}
		<td class=snvy align=center colspan=3><b>===STOCK [QTY : {$acc_use.bom[USE].st_qty}]===</b></td>	 
		<td class=snvy align=center>
			<img src="images/extra.gif"  onclick="javascript:creat_spec('{$acc_use.bom[USE].id}','{$acc_use.bom[USE].acc_code}','{$wi.id}','a','{$back_str}')"; style="cursor:pointer" width=55> 	 		
		</td>
		{else}
		<td class=snvy align=left width=190 nowrap><small>
			P / O :<br>
	 		{section name=SHIP loop=$acc_use.bom[USE].po.ship}
			<a href="javascript:po_show('{$acc_use.bom[USE].po.ship[SHIP].ap_num}')">{$acc_use.bom[USE].po.ship[SHIP].po_num}</a> ( {$acc_use.bom[USE].po.ship[SHIP].statuss} )&nbsp;
			{if $acc_use.bom[USE].po.ship[SHIP].status == 0}<img src="images/del.png"  onclick="javascript:del_pa('{$acc_use.bom[USE].po.ship[SHIP].ap_num}','{$back_str}','{$wi.id}')"; width=11 style="cursor:pointer" >{/if}
			<br>
 			{/section}

 			{section name=SHIP loop=$acc_use.bom[USE].spec_ap}
			<a href="javascript:po_show('{$acc_use.bom[USE].spec_ap[SHIP].ap_num}')">{$acc_use.bom[USE].spec_ap[SHIP].po_num}</a> ( {$acc_use.bom[USE].spec_ap[SHIP].statuss} ) &nbsp;
			{if $acc_use.bom[USE].spec_ap[SHIP].status == 0}<img src="images/del.png"  onclick="javascript:del_pa('{$acc_use.bom[USE].spec_ap[SHIP].ap_num}','{$back_str}','{$wi.id}')"; width=11 style="cursor:pointer" >{/if}
			<br>
			{/section}
			</small>
		</td>
		<td class=snvy align=right nowrap><br>
			<small>
			{section name=SHIP loop=$acc_use.bom[USE].po.ship}
				{$acc_use.bom[USE].po.ship[SHIP].po_qty|number_format:"2f"} {$acc_use.bom[USE].po.ship[SHIP].unit}<br> 	 			
			{/section}
			{section name=SHIP loop=$acc_use.bom[USE].spec_ap}
				{$acc_use.bom[USE].spec_ap[SHIP].po_qty|number_format:"2f"} {$acc_use.bom[USE].spec_ap[SHIP].unit} <br> 	 			
			{/section}
			</small>
 		</td>
		<td class=snvy align=center width=100><br>
			<small>
			{section name=SHIP loop=$acc_use.bom[USE].po.ship}
				{$acc_use.bom[USE].po.ship[SHIP].eta}<br>
			{/section}
			{section name=SHIP loop=$acc_use[USE].spec_ap}
				{$acc_use.bom[USE].spec_ap[SHIP].eta}<br>
			{/section}</small>
		</td>
		<td class=snvy align=center>
			<img src="images/extra.gif"  onclick="javascript:creat_spec('{$acc_use.bom[USE].id}','{$acc_use.bom[USE].acc_code}','{$wi.id}','a','{$back_str}')"; style="cursor:pointer" width=55> 	 		
		</td>
		{/if}
	</tr>
	{/section} 
</table>
{/if}

{if $fty_lots_use}
<table border=0 cellspacing=0 cellpadding=0 width=800 bgcolor=#FFFFFF>
	<tr>
		<td align=center><hr size=2 width=98%></td>
	</tr>
</table>
<table width=800 border=0 cellspacing=1 cellpadding=2>
	<tr bgcolor=#333333 height=28>
		<td class=ylw9 align=center colspan=8><b>Factory Sourcihg</b></td>
	</tr>
	<tr bgcolor=#333333 height=28>
		<td width=80 class=ylw9 align=center><b>Material #</b></td>
		<td width=100 class=ylw9 align=center><b>Name</b></td>
		<td width=190 class=ylw9 align=center><b>Placement</b></td>
		<td width=60 class=ylw9 align=center><b>BOM Q'TY</b></td>
		<td width=345 class=ylw9 align=center colspan=3><b>Supplier</b></td>
		<td width=50 class=ylw9 align=center><b>Select</b></td>
	</tr>
	{if $lots_NONE} 
	<tr>
		<td colspan=6 align=center class=ssign><br>NO Fabric data!<br><br>	</tr>
	{/if}
	{section name=USE loop=$fty_lots_use} 
	<tr bgcolor=#eeeeee height=28>
		<td class=snvy align=center nowrap><a href="javascript:Show_fab('{$fty_lots_use[USE].lots_code}')" value='ord_out' style='cursor:pointer'><small>{$fty_lots_use[USE].lots_code}&nbsp;</small></a></td>
		<td class=snvy ><small>{$fty_lots_use[USE].lots_name}&nbsp;</small></td>
		<td class=snvy ><small>{$fty_lots_use[USE].use_for}&nbsp;</small></td>
		<td class=snvy align=right><small>{$fty_lots_use[USE].total|number_format:"2f"}&nbsp;{$fty_lots_use[USE].unit}&nbsp;</small></td>
		{if $fty_lots_use[USE].ap_mark == ''}
		<td class=snvy align=center colspan=3>&nbsp;
		<input type=text name="PHP_lots_v{$fty_lots_use[USE].id}" size=8 class=select value="{$fty_lots_use[USE].vendor1}" readonly>&nbsp;
		<img src="./images/icoSearch.gif" alt="Supplier" onClick="list('PHP_lots_v{$fty_lots_use[USE].id}','FABRIC');" style="cursor:pointer" >
		<img src="./images/add.gif" alt="Supplier ADD" onClick="add_sup('PHP_lots_v{$fty_lots_use[USE].id}','FABRIC');" style="cursor:pointer">	 </td>
		<input type=hidden name="PHP_lots_up{$fty_lots_use[USE].id}" value="{$fty_lots_use[USE].price1}" >
		<input type=hidden name="PHP_lots_eta{$fty_lots_use[USE].id}" value="{$fty_lots_use[USE].eta}">

	 	{if $pp_mat.0.id}
		<td class=snvy align=center>	 	
			<img src="images/pp.jpg" onClick=add_pp('{$fty_lots_use[USE].id}','{$wi.id}','lots','{$back_str2}','{$fty_lots_use[USE].lots_code}','{$wi.wi_num}','PHP_lots_color{$fty_lots_use[USE].id}','{$fty_lots_use[USE].total}','{$fty_lots_use[USE].unit}') value="Pre-pruchase" style='cursor:hand'>
		</td>
	 	{else}
		<td class=snvy align=right>
			<img src="images/add.jpg" onclick="creat_ap('{$fty_lots_use[USE].id}','PHP_lots_up{$fty_lots_use[USE].id}','PHP_lots_v{$fty_lots_use[USE].id}','PHP_lots_eta{$fty_lots_use[USE].id}','{$wi.id}','lots','{$back_str}','{$fty_lots_use[USE].unit}','{$fty_lots_use[USE].lots_code},'{$fty_lots_use.bom[USE].mat_id}','{$fty_lots_use.bom[USE].used_id}','{$fty_lots_use.bom[USE].color|escape:"html"}','{$fty_lots_use.bom[USE].size}')" style="cursor:pointer">&nbsp;
			<img src="images/stock.jpg" onClick="stock_ap('{$fty_lots_use[USE].id}','PHP_lots_up{$fty_lots_use[USE].id}','PHP_lots_v{$fty_lots_use[USE].id}','PHP_lots_eta{$fty_lots_use[USE].id}','{$wi.id}','lots','{$back_str}','{$fty_lots_use[USE].unit}','{$fty_lots_use[USE].lots_code}')" value="stock" style='cursor:hand'> 	 	
		</td>
 		{/if} 
		<input type=hidden name="PHP_lots_color{$fty_lots_use[USE].id}" value="{$fty_lots_use[USE].color}">
		{elseif $fty_lots_use[USE].ap_mark == 'stock'}
		<td class=snvy align=center colspan=3><b>===STOCK===</b></td>
		<td class=snvy align=center>
			<img src="images/extra.gif"  onclick="javascript:creat_spec('{$fty_lots_use[USE].id}','{$fty_lots_use[USE].lots_code}','{$wi.id}','l','{$back_str}')"; style="cursor:pointer" width=55>
		</td>
		{else}
		<td class=snvy align=left nowrap><small>
	 	P / O : <br>
		{section name=SHIP loop=$fty_lots_use[USE].po.ship}
		<a href="javascript:po_show('{$fty_lots_use[USE].po.ship[SHIP].ap_num}')">{$fty_lots_use[USE].po.ship[SHIP].po_num}</a> (	{$fty_lots_use[USE].po.ship[SHIP].statuss} ) &nbsp;
		{if $fty_lots_use[USE].po.ship[SHIP].status == 0} <img src="images/del.png"  onclick="javascript:del_pa('{$fty_lots_use[USE].po.ship[SHIP].ap_num}','{$back_str}','{$wi.id}')"; width=11 style="cursor:pointer">	{/if}
		<br>
		{/section}
		<br>
		{section name=SHIP loop=$fty_lots_use[USE].spec_ap}
		<a href="javascript:po_show('{$fty_lots_use[USE].spec_ap[SHIP].ap_num}')">{$fty_lots_use[USE].spec_ap[SHIP].po_num}</a> ( {$fty_lots_use[USE].spec_ap[SHIP].statuss} ) &nbsp;
		{if $fty_lots_use[USE].spec_ap[SHIP].status == 0} <img src="images/del.png"  onclick="javascript:del_pa('{$fty_lots_use[USE].spec_ap[SHIP].ap_num}','{$back_str}','{$wi.id}')"; width=11 style="cursor:pointer">	{/if}
		<br>
		{/section}
		</small>
		</td>
 	 	<td class=snvy align=left><br>
			<small>
			{section name=SHIP loop=$fty_lots_use[USE].po.ship}
				{$fty_lots_use[USE].po.ship[SHIP].ap_qty|number_format:"2f"}	<br> 	 			
			{/section}
			<br>
 	 		{section name=SHIP loop=$fty_lots_use[USE].spec_ap}
				{$fty_lots_use[USE].spec_ap[SHIP].po_qty|number_format:"2f"}	<br> 	 			
			{/section}</small>
		</td>
		<td class=snvy align=center><small>
			<br>
			{section name=SHIP loop=$fty_lots_use[USE].po.ship}
			{$fty_lots_use[USE].po.ship[SHIP].eta}	<br> 	 			
			{/section}
			<br>
			{section name=SHIP loop=$fty_lots_use[USE].spec_ap}
			{$fty_lots_use[USE].spec_ap[SHIP].eta} <br> 	 			
			{/section}</small>
		</td>
		<td class=snvy align=center>
			<img src="images/extra.gif"  onclick="javascript:creat_spec('{$fty_lots_use[USE].id}','{$fty_lots_use[USE].lots_code}','{$wi.id}','l','{$back_str}')"; style="cursor:pointer" width=55>
		</td>
		{/if}
	</tr>
	{/section} 

	{if $acc_NONE} 
	<tr>
		<td colspan=6 align=center class=ssign>NO Accessory data!<input type="hidden" name="PHP_acc_est" value=""></td>
	</tr>
	{/if}
	{section name=USE loop=$fty_acc_use} 
	<tr bgcolor=#eeeeee height=28>
		<td class=snvy align=center nowrap><a href="javascript:Show_acc('{$fty_acc_use[USE].acc_code}')" value='ord_out' style='cursor:pointer'><small>{$fty_acc_use[USE].acc_code}&nbsp;</small></a></td>
		<td class=snvy><small>{$fty_acc_use[USE].acc_name}&nbsp;</small></td>
		<td class=snvy><small>{$fty_acc_use[USE].use_for}&nbsp;</small></td>
		<td class=snvy align=right><small>{$fty_acc_use[USE].total|number_format:"2f"}&nbsp;{$fty_acc_use[USE].unit}&nbsp;</small></td>
		{if $fty_acc_use[USE].ap_mark == ''}
		<td class=snvy align=center colspan=3>
			<input type=text name="PHP_acc_v{$fty_acc_use[USE].id}" size=8 class=select value="{$fty_acc_use[USE].vendor1}" readonly>&nbsp;
			<img src="./images/icoSearch.gif" alt="Supplier" onClick="list('PHP_acc_v{$fty_acc_use[USE].id}','ACCESSORY');" style="cursor:pointer">
			<img src="./images/add.gif" alt="Supplier ADD" onClick="add_sup('PHP_acc_v{$fty_acc_use[USE].id}','ACCESSORY');" style="cursor:pointer">
		</td>
		<input type=hidden name="PHP_acc_up{$fty_acc_use[USE].id}" value="{$fty_acc_use[USE].price1}">
		<input type=hidden name="PHP_acc_eta{$fty_acc_use[USE].id}" value="{$fty_acc_use[USE].eta}">
	  	{if $pp_mat.0.id}
		<td class=snvy align=center>	 	
			<img src="images/pp.jpg" onClick=add_pp('{$fty_acc_use[USE].id}','{$wi.id}','acc','{$back_str2}','{$fty_acc_use[USE].acc_code}','{$wi.wi_num}','PHP_acc_color{$fty_acc_use[USE].id}','{$fty_acc_use[USE].total}','{$fty_acc_use[USE].unit}') value="Pre-pruchase" style='cursor:hand'>
		</td>
	 	{else}
		<td align=right>
			<img src="images/add.jpg" onclick="creat_ap('{$fty_acc_use[USE].id}','PHP_acc_up{$fty_acc_use[USE].id}','PHP_acc_v{$fty_acc_use[USE].id}','PHP_acc_eta{$fty_acc_use[USE].id}','{$wi.id}','acc','{$back_str}','{$fty_acc_use[USE].unit}','{$fty_acc_use[USE].acc_code}','{$fty_acc_use.bom[USE].mat_id}','{$fty_acc_use.bom[USE].used_id}','{$fty_acc_use.bom[USE].color|escape:"html"}','{$fty_acc_use.bom[USE].size}')"style="cursor:pointer">&nbsp;
			<img src="images/stock.jpg" onclick="stock_ap('{$fty_acc_use[USE].id}','PHP_acc_up{$fty_acc_use[USE].id}','PHP_acc_v{$fty_acc_use[USE].id}','PHP_acc_eta{$fty_acc_use[USE].id}','{$wi.id}','acc','{$back_str}','{$fty_acc_use[USE].unit}','{$fty_acc_use[USE].acc_code}')" style="cursor:pointer" style='cursor:hand'>&nbsp;	 	
		</td> 
		{/if}	
		<input type=hidden name="PHP_acc_color{$fty_acc_use[USE].id}" value="{$fty_acc_use[USE].color}" >
		{elseif $fty_acc_use[USE].ap_mark =='stock'}
		<td class=snvy align=center colspan=3><b>===STOCK===</b></td>	 
		<td class=snvy align=center>
			<img src="images/extra.gif"  onclick="javascript:creat_spec('{$fty_acc_use[USE].id}','{$fty_acc_use[USE].lots_code}','{$wi.id}','a','{$back_str}')"; style="cursor:pointer" width=55> 	 		
		</td>
		{else}
		<td class=snvy align=left>
			<small>
			P / O : <br>
			{section name=SHIP loop=$fty_acc_use[USE].po.ship}
 			<a href="javascript:po_show('{$fty_acc_use[USE].po.ship[SHIP].ap_num}')">{$fty_acc_use[USE].po.ship[SHIP].po_num}</a> ( {$fty_acc_use[USE].po.ship[SHIP].statuss} ) &nbsp;
			{if $fty_acc_use[USE].po.ship[SHIP].status == 0}<img src="images/del.png"  onclick="javascript:del_pa('{$fty_acc_use[USE].po.ship[SHIP].ap_num}','{$back_str}','{$wi.id}')"; width=11 style="cursor:pointer" >{/if}
			<br>
 			{/section}
			<br>
 			{section name=SHIP loop=$fty_acc_use[USE].spec_ap}
			<a href="javascript:po_show('{$fty_acc_use[USE].spec_ap[SHIP].ap_num}')">{$fty_acc_use[USE].spec_ap[SHIP].po_num}</a> ( {$fty_acc_use[USE].spec_ap[SHIP].statuss} ) &nbsp;
			{if $fty_acc_use[USE].spec_ap[SHIP].status == 0}<img src="images/del.png"  onclick="javascript:del_pa('{$fty_acc_use[USE].spec_ap[SHIP].ap_num}','{$back_str}','{$wi.id}')"; width=11 style="cursor:pointer" >{/if}
			<br>
 	 		{/section}
			</small>
		</td>
		<td class=snvy align=right><br>
			<small>
			{section name=SHIP loop=$fty_acc_use[USE].po.ship}
				{$fty_acc_use[USE].po.ship[SHIP].ap_qty|number_format:"2f"} {$fty_acc_use[USE].po.ship[SHIP].unit} <br> 	 			
			{/section}
			<br>
			{section name=SHIP loop=$fty_acc_use[USE].spec_ap}
				{$fty_acc_use[USE].spec_ap[SHIP].po_qty|number_format:"2f"} {$fty_acc_use[USE].spec_ap[SHIP].unit} <br> 	 			
			{/section}</small>
 		</td>
		<td class=snvy align=center>
			<small><br>
			{section name=SHIP loop=$fty_acc_use[USE].po.ship}
				{$fty_acc_use[USE].po.ship[SHIP].eta}<br>
			{/section}
			<br>
			{section name=SHIP loop=$fty_acc_use[USE].spec_ap}
				{$fty_acc_use[USE].spec_ap[SHIP].eta}<br>
			{/section}
			</small>
		</td>
		<td class=snvy align=center>
			<img src="images/extra.gif"  onclick="javascript:creat_spec('{$fty_acc_use[USE].id}','{$fty_acc_use[USE].lots_code}','{$wi.id}','a','{$back_str}')"; style="cursor:pointer" width=55> 	 		
		</td>
		{/if}
	</tr>
	{/section} 
</table>
{/if}

{if $cust_lots_use && !$fty_flag}
<table border=0 cellspacing=0 cellpadding=0 width=800 bgcolor=#FFFFFF>
	<tr>
		<td align=center><hr size=2 width=98%></td>
	</tr>
</table>
<table width=800 border=0 cellspacing=1 cellpadding=2>
	<tr bgcolor=#333333 height=28>
		<td class=ylw9 align=center colspan=8><b>Customer Support</b></td>
	</tr>
	<tr bgcolor=#333333 height=28>
		<td width=80 class=ylw9 align=center><b>Material #</b></td>
		<td width=100 class=ylw9 align=center><b>Name</b></td>
		<td width=190 class=ylw9 align=center><b>Placement</b></td>
		<td width=60 class=ylw9 align=center><b>BOM Q'TY</b></td>
		<td width=345 class=ylw9 align=center colspan=3><b>Supplier</b></td>
		<td width=50 class=ylw9 align=center><b>Select</b></td>
	</tr>
	{if $lots_NONE} 
	<tr>
		<td colspan=6 align=center class=ssign><br>NO Fabric data!<br><br>	</tr>
	{/if}
	{section name=USE loop=$cust_lots_use} 
	<tr bgcolor=#eeeeee height=28>
		<td class=snvy align=center nowrap><a href="javascript:Show_fab('{$cust_lots_use[USE].lots_code}')" value='ord_out' style='cursor:pointer'><small>{$cust_lots_use[USE].lots_code}&nbsp;</small></a></td>
		<td class=snvy ><small>{$cust_lots_use[USE].lots_name}&nbsp;</small></td>
		<td class=snvy ><small>{$cust_lots_use[USE].use_for}&nbsp;</small></td>
		<td class=snvy align=right><small>{$cust_lots_use[USE].total|number_format:"2f"}&nbsp;{$cust_lots_use[USE].unit}&nbsp;</small></td>
		{if $cust_lots_use[USE].ap_mark == ''}
		<td class=snvy align=center colspan=3>&nbsp;
			<input type=text name="PHP_lots_v{$cust_lots_use[USE].id}" size=8 class=select value="{$cust_lots_use[USE].vendor1}" readonly>&nbsp;
			<img src="./images/icoSearch.gif" alt="Supplier" onClick="list('PHP_lots_v{$cust_lots_use[USE].id}','FABRIC');" style="cursor:pointer" >
			<img src="./images/add.gif" alt="Supplier ADD" onClick="add_sup('PHP_lots_v{$cust_lots_use[USE].id}','FABRIC');" style="cursor:pointer">
		</td>
		<input type=hidden name="PHP_lots_up{$cust_lots_use[USE].id}" value="{$cust_lots_use[USE].price1}" >
		<input type=hidden name="PHP_lots_eta{$cust_lots_use[USE].id}" value="{$cust_lots_use[USE].eta}">
		<td class=snvy align=right>
			<img src="images/add.jpg" onclick="creat_ap('{$cust_lots_use[USE].id}','PHP_lots_up{$cust_lots_use[USE].id}','PHP_lots_v{$cust_lots_use[USE].id}','PHP_lots_eta{$cust_lots_use[USE].id}','{$wi.id}','lots','{$back_str}','{$cust_lots_use[USE].unit}','{$cust_lots_use[USE].lots_code},'{$cust_lots_use.bom[USE].mat_id}','{$cust_lots_use.bom[USE].used_id}','{$cust_lots_use.bom[USE].color|escape:"html"}','{$cust_lots_use.bom[USE].size}')" style="cursor:pointer">&nbsp;
			<img src="images/stock.jpg" onClick="stock_ap('{$cust_lots_use[USE].id}','PHP_lots_up{$cust_lots_use[USE].id}','PHP_lots_v{$cust_lots_use[USE].id}','PHP_lots_eta{$cust_lots_use[USE].id}','{$wi.id}','lots','{$back_str}','{$cust_lots_use[USE].unit}','{$cust_lots_use[USE].lots_code}')" value="stock" style='cursor:hand'> 	 	
			<img src="images/pp.jpg" onClick="add_pp('{$cust_lots_use[USE].id}','{$wi.id}','lots','{$back_str2}','{$cust_lots_use[USE].lots_code}','{$wi.wi_num}','PHP_lots_color{$cust_lots_use[USE].id}','{$cust_lots_use[USE].total}','{$cust_lots_use[USE].unit}')" value="Pre-pruchase" style='cursor:hand'></td>
			<input type=hidden name="PHP_lots_color{$cust_lots_use[USE].id}" value="{$cust_lots_use[USE].color}">
		{elseif $cust_lots_use[USE].ap_mark == 'stock'}
		<td class=snvy align=center colspan=3><b>===STOCK===</b></td>
		<td class=snvy align=center>
			<img src="images/extra.gif"  onclick="javascript:creat_spec('{$cust_lots_use[USE].id}','{$cust_lots_use[USE].lots_code}','{$wi.id}','l','{$back_str}')"; style="cursor:pointer" width=55>	 </td>
		{else}
		<td class=snvy align=left nowrap><small>
			P / O : <br>
			{section name=SHIP loop=$cust_lots_use[USE].po.ship}
 			<a href="javascript:po_show('{$cust_lots_use[USE].po.ship[SHIP].ap_num}')">{$cust_lots_use[USE].po.ship[SHIP].po_num}</a>	( {$cust_lots_use[USE].po.ship[SHIP].statuss} ) &nbsp;
			{if $cust_lots_use[USE].po.ship[SHIP].status == 0} <img src="images/del.png"  onclick="javascript:del_pa('{$cust_lots_use[USE].po.ship[SHIP].ap_num}','{$back_str}','{$wi.id}')"; width=11 style="cursor:pointer">	{/if}
			<br>
			{/section}
			<br>
	 		{section name=SHIP loop=$cust_lots_use[USE].spec_ap}
 			<a href="javascript:po_show('{$cust_lots_use[USE].spec_ap[SHIP].ap_num}')">{$cust_lots_use[USE].spec_ap[SHIP].po_num}</a> (	{$cust_lots_use[USE].spec_ap[SHIP].statuss} ) &nbsp;
			{if $cust_lots_use[USE].spec_ap[SHIP].status == 0} <img src="images/del.png"  onclick="javascript:del_pa('{$cust_lots_use[USE].spec_ap[SHIP].ap_num}','{$back_str}','{$wi.id}')"; width=11 style="cursor:pointer">	{/if}
			<br>
			{/section}
			</small>
		</td>
 	 	<td class=snvy align=right><br>
 	 		<small>
			{section name=SHIP loop=$cust_lots_use[USE].po.ship}
				{$cust_lots_use[USE].po.ship[SHIP].ap_qty|number_format:"2f"}	{$cust_lots_use[USE].po.ship[SHIP].unit}	<br> 	 			
 	 		{/section}
			<br>
			{section name=SHIP loop=$cust_lots_use[USE].spec_ap}
				{$cust_lots_use[USE].spec_ap[SHIP].po_qty|number_format:"2f"}	{$cust_lots_use[USE].spec_ap[SHIP].unit}	<br> 	 			
 	 		{/section}</small>
		</td>
		<td class=snvy align=center><small>
			<br>
			{section name=SHIP loop=$cust_lots_use[USE].po.ship}
				{$cust_lots_use[USE].po.ship[SHIP].eta}	<br> 	 			
			{/section}
			<br>
			{section name=SHIP loop=$cust_lots_use[USE].spec_ap}
				{$cust_lots_use[USE].spec_ap[SHIP].eta}	<br> 	 			
			{/section}</small>
		</td>
		<td class=snvy align=center>
			<img src="images/extra.gif"  onclick="javascript:creat_spec('{$cust_lots_use[USE].id}','{$cust_lots_use[USE].lots_code}','{$wi.id}','l','{$back_str}')"; style="cursor:pointer" width=55>
		</td>
		{/if}
	</tr>
	{/section} 

	{if $acc_NONE} 
	<tr>
		<td colspan=6 align=center class=ssign>NO Accessory data!<input type="hidden" name="PHP_acc_est" value=""></td>
	</tr>
	{/if}
	{section name=USE loop=$cust_acc_use} 
	<tr bgcolor=#eeeeee height=28>
		<td class=snvy align=center nowrap><a href="javascript:Show_acc('{$cust_acc_use[USE].acc_code}')" value='ord_out' style='cursor:pointer'><small>{$cust_acc_use[USE].acc_code}&nbsp;</small></a></td>
		<td class=snvy><small>{$cust_acc_use[USE].acc_name}&nbsp;</small></td>
		<td class=snvy><small>{$cust_acc_use[USE].use_for}&nbsp;</small></td>
		<td class=snvy align=right><small>{$cust_acc_use[USE].total|number_format:"2f"}&nbsp;{$cust_acc_use[USE].unit}&nbsp;</small></td>
		{if $cust_acc_use[USE].ap_mark == ''}
		<td class=snvy align=center colspan=3>
			<input type=text name="PHP_acc_v{$cust_acc_use[USE].id}" size=8 class=select value="{$cust_acc_use[USE].vendor1}" readonly>&nbsp;
			<img src="./images/icoSearch.gif" alt="Supplier" onClick="list('PHP_acc_v{$cust_acc_use[USE].id}','ACCESSORY');" style="cursor:pointer">
			<img src="./images/add.gif" alt="Supplier ADD" onClick="add_sup('PHP_acc_v{$cust_acc_use[USE].id}','ACCESSORY');" style="cursor:pointer">
		</td>
		<input type=hidden name="PHP_acc_up{$cust_acc_use[USE].id}" value="{$cust_acc_use[USE].price1}">
		<input type=hidden name="PHP_acc_eta{$cust_acc_use[USE].id}" value="{$cust_acc_use[USE].eta}" >
		<td align=right>
			<img src="images/add.jpg" onclick="creat_ap('{$cust_acc_use[USE].id}','PHP_acc_up{$cust_acc_use[USE].id}','PHP_acc_v{$cust_acc_use[USE].id}','PHP_acc_eta{$cust_acc_use[USE].id}','{$wi.id}','acc','{$back_str}','{$cust_acc_use[USE].unit}','{$cust_acc_use[USE].acc_code},'{$cust_acc_use.bom[USE].mat_id}','{$cust_acc_use.bom[USE].used_id}','{$cust_acc_use.bom[USE].color|escape:"html"}','{$cust_acc_use.bom[USE].size}')" style="cursor:pointer">&nbsp;
			<img src="images/stock.jpg" onclick="stock_ap('{$cust_acc_use[USE].id}','PHP_acc_up{$cust_acc_use[USE].id}','PHP_acc_v{$cust_acc_use[USE].id}','PHP_acc_eta{$cust_acc_use[USE].id}','{$wi.id}','acc','{$back_str}','{$cust_acc_use[USE].unit}','{$cust_acc_use[USE].acc_code}')" style="cursor:pointer" style='cursor:hand'>&nbsp;	 	
			<img src="images/pp.jpg" onClick="add_pp('{$cust_acc_use[USE].id}','{$wi.id}','acc','{$back_str2}','{$cust_acc_use[USE].acc_code}','{$wi.wi_num}','PHP_acc_color{$cust_acc_use[USE].id}','{$cust_acc_use[USE].total}','{$cust_acc_use[USE].unit}')" value="Pre-pruchase" style='cursor:hand'></td>
			<input type=hidden name="PHP_acc_color{$cust_acc_use[USE].id}" value="{$cust_acc_use[USE].color}" >
		{elseif $cust_acc_use[USE].ap_mark =='stock'}
		<td class=snvy align=center colspan=3><b>===STOCK===</b></td>	 
		<td class=snvy align=center>&nbsp;
		</td>
		{else}
		<td class=snvy align=left>
			<small>
			P / O : <br>
			{section name=SHIP loop=$cust_acc_use[USE].po.ship}
			<a href="javascript:po_show('{$cust_acc_use[USE].po.ship[SHIP].ap_num}')">{$cust_acc_use[USE].po.ship[SHIP].po_num}</a> ( {$cust_acc_use[USE].po.ship[SHIP].statuss} ) &nbsp;
			{if $cust_acc_use[USE].po.ship[SHIP].status == 0}<img src="images/del.png"  onclick="javascript:del_pa('{$cust_acc_use[USE].po.ship[SHIP].ap_num}','{$back_str}','{$wi.id}')"; width=11 style="cursor:pointer" >{/if}
			<br>
			{/section}
			<br>
			{section name=SHIP loop=$cust_acc_use[USE].spec_ap}
			<a href="javascript:po_show('{$cust_acc_use[USE].spec_ap[SHIP].ap_num}')">{$cust_acc_use[USE].spec_ap[SHIP].po_num}</a>	( {$cust_acc_use[USE].spec_ap[SHIP].statuss} ) &nbsp;
			{if $cust_acc_use[USE].spec_ap[SHIP].status == 0}<img src="images/del.png"  onclick="javascript:del_pa('{$cust_acc_use[USE].spec_ap[SHIP].ap_num}','{$back_str}','{$wi.id}')"; width=11 style="cursor:pointer" >{/if}
			<br>
			{/section}
			</small>
		</td>
		<td class=snvy align=right><br>
			<small>
			{section name=SHIP loop=$cust_acc_use[USE].po.ship}
				{$cust_acc_use[USE].po.ship[SHIP].ap_qty|number_format:"2f"} {$cust_acc_use[USE].po.ship[SHIP].unit} <br> 	 			
			{/section}
			<br>
			{section name=SHIP loop=$cust_acc_use[USE].spec_ap}
				{$cust_acc_use[USE].spec_ap[SHIP].po_qty|number_format:"2f"} {$cust_acc_use[USE].spec_ap[SHIP].unit} <br> 	 			
			{/section}</small>
 		</td>
		<td class=snvy align=center>
			<small>
			<br>
			{section name=SHIP loop=$cust_acc_use[USE].po.ship}
				{$cust_acc_use[USE].po.ship[SHIP].eta}<br>
			{/section}
			<br>
			{section name=SHIP loop=$cust_acc_use[USE].spec_ap}
				{$cust_acc_use[USE].spec_ap[SHIP].eta}<br>
			{/section}
			</small>
		</td>
		<td class=snvy align=center>
			<img src="images/extra.gif"  onclick="javascript:creat_spec('{$cust_acc_use[USE].id}','{$cust_acc_use[USE].acc_code}','{$wi.id}','a','{$back_str}')"; style="cursor:pointer" width=55> 	 		
		</td>
		{/if}
	</tr>
	{/section} 
</table>
{/if}
</form>
<table border=0 cellspacing=0 cellpadding=0 width=800 bgcolor=#FFFFFF>
	<tr>
		<td align=center><hr size=2 width=98%></td>
	</tr>
</table>
<table width=800 border=0 cellspacing=1 cellpadding=2>
	<tr bgcolor=#ffffff>
		<td class=gry9 align=center><small>BOM : 
		<font color=black>Open: </font><u>{$wi.creator}</u>&nbsp;&nbsp;<u>{$wi.open_date}</u>&nbsp;&nbsp;&nbsp;&nbsp;
		<font color=black>Last Update : </font><u>{if $wi.updator}{$wi.updator}{else}[ None ]{/if}</u>&nbsp;&nbsp;<u>{$wi.last_update}</u>&nbsp;&nbsp;&nbsp;&nbsp;
		<font color=black>{literal}Submit: {/literal}</font><u>{if $wi.confirmer}{$wi.confirmer}{else}[ None ]{/if}</u>&nbsp;&nbsp;<u>{$wi.cfm_date}</u>
		</small></td>
	</tr>
</table>
<table border=0 cellspacing=0 cellpadding=0 width=800 bgcolor=#FFFFFF>
	<tr>
		<td align=center><hr size=2 width=98%></td>
	</tr>
</table>
<!--------- wi data end ---------->
<table border=0 cellspacing=0 cellpadding=2 width=800 bgcolor=#ffffff align=center>
	<tr>
		<td colspan=2>
		{if $back_str && $edit_non <> 1}
			<input type=button onClick="window.location.href='{$PHP_SELF}{$back_str}'" value=" << go back " class=select_e style="cursor:pointer; width=99%">
		{/if}
		</td>
	</tr>
</table>
{include file="footer.html"}