<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>===:::::::::: SCM System  ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
</head>
{literal}
<script language="javascript" src="./js/col.js"></script>
<script language="javascript" src="./js/date.js"></script>
<script language="javascript" src="./js/open_detial.js"></script>
<script>

function list(item,cat){
	var gofile ='index2.php?PHP_action=show_supplier_search&PHP_item='+item+'&PHP_cat='+cat;	
	style=window.open2(gofile,'supplier','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=750,height=500, top=100, left=150');
}

function add_sup(item,cat){
	var gofile ='index2.php?PHP_action=show_supplier_add&PHP_item='+item+'&PHP_cat='+cat;	
	style=window.open2(gofile,'supplier','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=750,height=500, top=100, left=150');
}
  
function writeToSupItemlList(vndr_no,supl_s_name,supl_cat,item) {
	var i=0;
	window.document.forms['aply_wi'].elements[item].value = vndr_no;
}

function creat_ap(bom_id,price_name,ven_name,eta_name,wi_id,item,back_str,unit,code,r,mat_id,used_id,color,size){

    //alert(bom_id +' , '+wi_id+' , '+item+' , '+ code+ '*');
    
	var today = GetTodayDate();
	var vendor = window.document.forms['aply_wi'].elements[ven_name].value;
	var eta = window.document.forms['aply_wi'].elements[eta_name].value;
	var price = window.document.forms['aply_wi'].elements[price_name].value;
    
	var order_num = window.document.forms['aply_wi'].elements['PHP_order_num'].value;
    
	r.disabled = true;
    
	//alert( bom_id +' , '+ vendor+' , '+eta+' , '+wi_id+' , '+item+' , '+unit+' , '+code+' , '+price +' , '+mat_id +' , '+order_num +' , '+used_id +' , '+color +' , '+size );
	self.opener.writeToAPAdd(bom_id,vendor,eta,wi_id,item,unit,code,price,order_num,mat_id,used_id,color,size);  	
}
</script>
{/literal}
<body>
<br>
<table cellspacing=1 cellpadding=4 cols=2 width=750 bgcolor=#333333>
	<tr><td class="des" align=center height=28>[ <b>Purchase status for Order </b> : <span class=ylw10><b>{$wi.wi_num}</b></span>]</td></tr>
</table>
{if $msg_YES}
<table border=1 cellpadding=4 cellspacing=0 cols=1 width=750>
	<tr bgcolor=#ffffff> 
		<td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
		<td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
	</tr>
</table>
{/if}
<form method=POST name=aply_wi>
<input type=hidden name="PHP_order_num"  value="{$wi.wi_num}">
<table border=0 cellspacing=0 cellpadding=1 width=750 bgcolor=#FFFFFF>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>
    <td class=snvy align=right nowrap>Customer :</td>
    <td class=bgdy align=left><b>&nbsp;{$smpl.cust_iname}</b></td>
    <td class=snvy align=right nowrap>Department :</td>
    <td class=bgdy align=left><b>&nbsp;{$wi.dept}</b></td>
    <td class=snvy align=right nowrap><b>ETD :</b></td>
    <td class=bgdy align=left><b>&nbsp;{$wi.etd}</b></td>
  </tr>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
</table>
<table border cellspacing=0 cellpadding=3 width=750 bgcolor=#ffffff align=center>
  <tr bgcolor="#003333" height=28> 
		<td nowrap width=100 align=center class=back><b>Picture</b></td>
		<td nowrap width=100 align=center class=back><b>Order #</b></td>
		<td nowrap width=100 align=center class=back><b>style</b></td>
		<td nowrap width=150 align=center class=back><b>SIZE RANGE</b></td>
		<td nowrap width=200 align=center class=back><b>Q'ty / Unit</b></td>
  </tr>
  <tr bgcolor=#DDDDDD height=28>
		<td class=g10 align=center rowspan=2>&nbsp;
			<input type="image" src="{$wi.pic_url}" name="pic" width=100 border="0" onclick='window.open2("{$wi.pic_url}","","height=640,width=480")'>
		</td>
		<td class=grn9 align=center><a href="javascript:Show_ord('{$wi.smpl_id}','{$wi.style_code}')" value='ord_out' style='cursor:pointer'><b>&nbsp;{$smpl.order_num}</b></a></td>
		<td class=grn9 align=center><b>&nbsp;{$smpl.style}</b></td>
		<td class=grn9 align=center><b>&nbsp;{$smpl.size_scale}</b></td>
		<td class=grn9 align=center><b><span class=bgdy9><b>{$total|number_format}</b></span>&nbsp;{if $wi.unit}{$wi.unit}{else}<span class=bgdy9><UnInput></span>{/if} (Order : {$smpl.qty|number_format}{$wi.unit})</b></td>
  </tr>
  <tr>
		<td colspan=5 >
			<table border cellspacing=0 cellpadding=2 width=470 bgcolor=#ffffff align=center>{$show_breakdown}</table>
		</td>
  </tr>
</table>
<!-------------  material range ------------->
<br>
{if $item == 'l' && !$fty_flag}
<table width=800 border=0 cellspacing=1 cellpadding=2>
	<tr bgcolor=#333333 height=28>
		<td width=80 class=ylw9 align=center><b>Fabirc #</b></td>
		<td width=100 class=ylw9 align=center><b>Name</b></td>
		<td class=ylw9 align=center colspan=2><b>Color / Cat.</b></td>
		<td width=60 class=ylw9 align=center><b>BOM Q'TY</b></td>
		<td class=ylw9 align=center colspan=1><b>Supplier</b></td>		
		<td width=50 class=ylw9 align=center><b>Select</b></td>
	</tr>
	{if $lots_NONE}  
	<tr>
		<td colspan=7 align=center class=ssign><br>NO Fabric data!<br><br>
	</tr>
	{/if}
	{section name=USE loop=$lots_use.bom} 
	<tr bgcolor=#eeeeee height=28>
		<td class=snvy align=center nowrap><a href="javascript:Show_fab('{$lots_use.bom[USE].lots_code}')" value='ord_out' style='cursor:pointer'><small>{$lots_use.bom[USE].lots_code}&nbsp;</small></a></td>
		<td class=snvy ><small>{$lots_use.bom[USE].lots_name}&nbsp;</small></td>
		<td class=snvy colspan=2><small>{$lots_use.bom[USE].color}&nbsp;</small></td>
		<td class=snvy align=right><small>{$lots_use.bom[USE].bom_qty|number_format:"2f"}{$lots_use.bom[USE].unit}&nbsp;</small></td>
		{if $lots_use.bom[USE].ap_num == ''}
		<td class=snvy align=center>&nbsp; 	  
		<input type=text name="PHP_lots_v{$lots_use.bom[USE].id}" size=8 class=select value="{$lots_use.bom[USE].vendor1}" readonly>&nbsp;
		<img src="./images/icoSearch.gif" alt="Supplier" onClick="list('PHP_lots_v{$lots_use.bom[USE].id}','FABRIC');" style="cursor:pointer" >
		<img src="./images/add.gif" alt="Supplier ADD" onClick="add_sup('PHP_lots_v{$lots_use.bom[USE].id}','FABRIC');" style="cursor:pointer">
		</td>
		<input type=hidden name="PHP_lots_up{$lots_use.bom[USE].id}"  value="{$lots_use.bom[USE].price1}">
		<input type=hidden name="PHP_lots_eta{$lots_use.bom[USE].id}" value="{$lots_use.bom[USE].eta}" >

		<td class=snvy align=center>
		{if $dis_lots.0.id || $pp_mat.0.id }		&nbsp;	{else}
			<input type=button class=select value="ADD" onclick="creat_ap('{$lots_use.bom[USE].id}','PHP_lots_up{$lots_use.bom[USE].id}','PHP_lots_v{$lots_use.bom[USE].id}','PHP_lots_eta{$lots_use.bom[USE].id}','{$wi.id}','lots','{$back_str}','{$lots_use.bom[USE].unit}','{$lots_use.bom[USE].lots_code}',this,'{$lots_use.bom[USE].mat_id}','{$lots_use.bom[USE].used_id}','{$lots_use.bom[USE].color|escape:"html"}','{$lots_use.bom[USE].size}')" >&nbsp;
		{/if}
		</td>
	
	  {else}
		<td class=snvy align=left colspan=2><small>
	  			P / O : <br> <a href="javascript:po_show('{$lots_use.bom[USE].ap_mark}')">{$lots_use.bom[USE].po_num}</a>
	  			(				{if $lots_use.bom[USE].status == 0}wait P/A submit
									{elseif $lots_use.bom[USE].status == 2}wait P/A CFM
									{elseif $lots_use.bom[USE].status == 3}wait P/A APV
									{elseif $lots_use.bom[USE].status == 4}P/A &nbsp;&nbsp;APVD
									{elseif $lots_use.bom[USE].status == 5}P/A &nbsp;&nbsp;Reject
									{elseif $lots_use.bom[USE].status == 6}wait P/O submit
									{elseif $lots_use.bom[USE].status == 8}wait P/O CFM
									{elseif $lots_use.bom[USE].status == 10}wait P/O APV
									{elseif $lots_use.bom[USE].status == 12}P/O &nbsp;&nbsp;APVD
									{elseif $lots_use.bom[USE].status == 13}P/O &nbsp;&nbsp;Reject						
									{else}&nbsp;{/if}
					)&nbsp;<br>
	  			{section name=AP loop=$lots_use[USE].spec_ap}
 						  <a href="javascript:po_show('{$lots_use.bom[USE].spec_ap[AP].ap_num}')">{$lots_use.bom[USE].spec_ap[AP].po_num}</a>
 	  			(				{if $lots_use.bom[USE].spec_ap[AP].status == 0}wait P/A submit
									{elseif $lots_use.bom[USE].spec_ap[AP].status == 2}wait P/A CFM
									{elseif $lots_use.bom[USE].spec_ap[AP].status == 3}wait P/A APV
									{elseif $lots_use.bom[USE].spec_ap[AP].status == 4}P/A &nbsp;&nbsp;APVD
									{elseif $lots_use.bom[USE].spec_ap[AP].status == 5}P/A &nbsp;&nbsp;Reject
									{elseif $lots_use.bom[USE].spec_ap[AP].status == 6}wait P/O submit
									{elseif $lots_use.bom[USE].spec_ap[AP].status == 8}wait P/O CFM
									{elseif $lots_use.bom[USE].spec_ap[AP].status == 10}wait P/O APV
									{elseif $lots_use.bom[USE].spec_ap[AP].status == 12}P/O &nbsp;&nbsp;APVD
									{elseif $lots_use.bom[USE].spec_ap[AP].status == 13}P/O &nbsp;&nbsp;Reject						
									{else}&nbsp;{/if}
					)&nbsp;<br>
 	  			
 	  		{/section}</small></td>

	  {/if}

	</tr>
	{/section} 
</table>
{/if}
<!-------------  accessories range ------------->
{if $item == 'a' && !$fty_flag}
<table width=800 border=0 cellspacing=1 cellpadding=2>
	<tr bgcolor=#333333 height=28>
		<td width=80 class=ylw9 align=center><b>Acc. #</b></td>
		<td width=100 class=ylw9 align=center><b>Name</b></td>
		<td class=ylw9 align=center><b>Color / Cat. </b></td>
		<td width=30 class=ylw9 align=center><b>Size</b></td>
		<td width=60 class=ylw9 align=center><b>BOM Q'TY</b></td>
		<td class=ylw9 align=center colspan=1><b>Supplier</b></td>
		<td width=50 class=ylw9 align=center><b>Select</b></td>
	</tr>
	{if $acc_NONE}  
	<tr>
		<td colspan=7 align=center class=ssign>NO Accessory data!
		<input type="hidden" name="PHP_acc_est" value="">
		</td>
	</tr>
	{/if}
	{section name=USE loop=$acc_use.bom} 
	<tr bgcolor=#eeeeee height=28>
		<td class=snvy align=center nowrap><a href="javascript:Show_acc('{$acc_use.bom[USE].acc_code}')" value='ord_out' style='cursor:pointer'><small>{$acc_use.bom[USE].acc_code}&nbsp;</small></a></td>
		<td class=snvy ><small>{$acc_use.bom[USE].acc_name}&nbsp;</small></td>
		<td class=snvy><small>{$acc_use.bom[USE].color}&nbsp;</small></td>
		<td class=snvy align=center><small>{$acc_use.bom[USE].size}&nbsp;</small></td>
		<!-- <td class=snvy align=center><small>{$acc_use.bom[USE].size}&nbsp;</small></td> -->
		<td class=snvy align=right><small>{$acc_use.bom[USE].bom_qty|number_format:"2f"}{$acc_use.bom[USE].unit}&nbsp;</small></td>
	  {if $acc_use.bom[USE].ap_num == ''}
		<td class=snvy align=center>
		<input type=text name="PHP_acc_v{$acc_use.bom[USE].id}" size=8 class=select value="{$acc_use.bom[USE].vendor1}" readonly>&nbsp;
		<img src="./images/icoSearch.gif" alt="Supplier" onClick="list('PHP_acc_v{$acc_use.bom[USE].id}','ACCESSORY');" style="cursor:pointer">
		<img src="./images/add.gif" alt="Supplier ADD" onClick="add_sup('PHP_acc_v{$acc_use.bom[USE].id}','ACCESSORY');" style="cursor:pointer">
		</td>
		<input type=hidden name="PHP_acc_up{$acc_use.bom[USE].id}"  value="{$acc_use.bom[USE].price1}">
		<input type=hidden name="PHP_acc_eta{$acc_use.bom[USE].id}" value="{$acc_use.bom[USE].eta}">
		<td class=snvy align=center>
			<input type=button class=select value="ADD" onclick="creat_ap('{$acc_use.bom[USE].id}','PHP_acc_up{$acc_use.bom[USE].id}','PHP_acc_v{$acc_use.bom[USE].id}','PHP_acc_eta{$acc_use.bom[USE].id}','{$wi.id}','acc','{$back_str}','{$acc_use.bom[USE].unit}','{$acc_use.bom[USE].acc_code}',this,'{$acc_use.bom[USE].mat_id}','{$acc_use.bom[USE].used_id}','{$acc_use.bom[USE].color|escape:"html"}','{$acc_use.bom[USE].size}')"  >&nbsp;
		</td>
		{else}
		<td class=snvy align=left colspan=2><small>
	  			P / O :  <br><a href="javascript:po_show('{$acc_use.bom[USE].ap_mark}')">{$acc_use.bom[USE].po_num}</a>
	  			( {$acc_use.bom[USE].statuss}				{if $acc_use.bom[USE].status == 0}wait P/A submit
									{elseif $acc_use.bom[USE].status == 2}wait P/A CFM
									{elseif $acc_use.bom[USE].status == 3}wait P/A APV
									{elseif $acc_use.bom[USE].status == 4}P/A &nbsp;&nbsp;APVD
									{elseif $acc_use.bom[USE].status == 5}P/A &nbsp;&nbsp;Reject
									{elseif $acc_use.bom[USE].status == 6}wait P/O submit
									{elseif $acc_use.bom[USE].status == 8}wait P/O CFM
									{elseif $acc_use.bom[USE].status == 10}wait P/O APV
									{elseif $acc_use.bom[USE].status == 12}P/O &nbsp;&nbsp;APVD
									{elseif $acc_use.bom[USE].status == 13}P/O &nbsp;&nbsp;Reject						
									{else}&nbsp;{/if}
					)	  &nbsp;<br>
	  			{section name=AP loop=$acc_use.bom[USE].spec_ap}
 						  <a href="javascript:pa_show('{$acc_use.bom[USE].spec_ap[AP].ap_num}')">{$acc_use.bom[USE].spec_ap[AP].po_num}</a>
 	  			(				{if $acc_use.bom[USE].spec_ap[AP].status == 0}wait P/A submit
									{elseif $acc_use.bom[USE].spec_ap[AP].status == 2}wait P/A CFM
									{elseif $acc_use.bom[USE].spec_ap[AP].status == 3}wait P/A APV
									{elseif $acc_use.bom[USE].spec_ap[AP].status == 4}P/A &nbsp;&nbsp;APVD
									{elseif $acc_use.bom[USE].spec_ap[AP].status == 5}P/A &nbsp;&nbsp;Reject
									{elseif $acc_use.bom[USE].spec_ap[AP].status == 6}wait P/O submit
									{elseif $acc_use.bom[USE].spec_ap[AP].status == 8}wait P/O CFM
									{elseif $acc_use.bom[USE].spec_ap[AP].status == 10}wait P/O APV
									{elseif $acc_use.bom[USE].spec_ap[AP].status == 12}P/O &nbsp;&nbsp;APVD
									{elseif $acc_use.bom[USE].spec_ap[AP].status == 13}P/O &nbsp;&nbsp;Reject						
									{else}&nbsp;{/if}
					)&nbsp;
 	  			{/section}</small>
		</td>
	  {/if}

	</tr>
	{/section} 
  <tr>
    <td colspan=6 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
</table>
{/if}

<br>

{if $fty_lots_use}
<table width=750 border=0 cellspacing=1 cellpadding=2>
	<tr bgcolor=#333333 height=28>
		<td class=ylw9 align=center colspan=8><b>Factory Sourcing</b></td>
	</tr>
	<tr bgcolor=#333333 height=28>
		<td width=90 class=ylw9 align=center><b>Fabirc #</b></td>
		<td width=110 class=ylw9 align=center><b>Name</b></td>
		<td width=140 class=ylw9 align=center colspan=2><b>Color / Cat.</b></td>
		<td width=150 class=ylw9 align=center><b>Supplier</b></td>
		<td width=40 class=ylw9 align=center><b>Select</b></td>
	</tr>
	{if $lots_NONE}  
	<tr>
		<td colspan=7 align=center class=ssign><br>NO Fabric data!<br><br>
	</tr>
	{/if}
	{section name=USE loop=$fty_lots_use} 
	<tr bgcolor=#eeeeee height=28>
		<td class=snvy align=center nowrap><a href="javascript:Show_fab('{$fty_lots_use[USE].lots_code}')" value='ord_out' style='cursor:pointer'><small>{$fty_lots_use[USE].lots_code}&nbsp;</small></a></td>
		<td class=snvy ><small>{$fty_lots_use[USE].lots_name}&nbsp;</small></td>
		<td class=snvy colspan=2><small>{$fty_lots_use[USE].color}&nbsp;</small></td>
		<td class=snvy align=right><small>{$fty_lots_use[USE].total|number_format:"2f"}{$fty_lots_use[USE].unit}&nbsp;</small></td>
		{if $fty_lots_use[USE].ap_mark == ''}
		<td class=snvy align=center>&nbsp; 	  
		<input type=text name="PHP_lots_v{$fty_lots_use[USE].id}" size=8 class=select value="{$fty_lots_use[USE].vendor1}" readonly>&nbsp;
		<img src="./images/icoSearch.gif" alt="Supplier" onClick="list('PHP_lots_v{$fty_lots_use[USE].id}','FABRIC');" style="cursor:pointer" >
		<img src="./images/add.gif" alt="Supplier ADD" onClick="add_sup('PHP_lots_v{$fty_lots_use[USE].id}','FABRIC');" style="cursor:pointer">
		</td>
<!--		
		<td class=snvy align=center>
		<input type=text name="PHP_lots_up{$fty_lots_use[USE].id}" size=5 class=select value="{$fty_lots_use[USE].price1}">/{$fty_lots_use[USE].unit}&nbsp;
		</td>
		<td class=snvy align=center>
 		<img align='top' onmousedown="javascript:Cal(document.aply_wi.PHP_lots_eta{$fty_lots_use[USE].id},1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16" style='cursor:hand'>    
		<input type=text name="PHP_lots_eta{$fty_lots_use[USE].id}" size=8 class=select value="{$fty_lots_use[USE].eta}" readonly>&nbsp;
		</td>
-->		
		<input type=hidden name="PHP_lots_up{$fty_lots_use[USE].id}"  value="{$fty_lots_use[USE].price1}">
		<input type=hidden name="PHP_lots_eta{$fty_lots_use[USE].id}" value="{$fty_lots_use[USE].eta}">

		<td class=snvy align=center>
		<input type=button class=select value="ADD" onclick="creat_ap('{$fty_lots_use[USE].id}','PHP_lots_up{$fty_lots_use[USE].id}','PHP_lots_v{$fty_lots_use[USE].id}','PHP_lots_eta{$fty_lots_use[USE].id}','{$wi.id}','lots','{$back_str}','{$fty_lots_use[USE].unit}','{$fty_lots_use[USE].lots_code}',this,'{$fty_lots_use.bom[USE].mat_id}','{$fty_lots_use.bom[USE].used_id}','{$fty_lots_use.bom[USE].color|escape:"html"}','{$fty_lots_use.bom[USE].size}')" >&nbsp;
		</td>
		{else}
		<td class=snvy align=left colspan=2><small>
	  			P / O : <br> <a href="javascript:po_show('{$fty_lots_use[USE].ap_mark}')">{$fty_lots_use[USE].po_num}</a>
	  			(				{if $fty_lots_use[USE].status == 0}wait P/A submit
									{elseif $fty_lots_use[USE].status == 2}wait P/A CFM
									{elseif $fty_lots_use[USE].status == 3}wait P/A APV
									{elseif $fty_lots_use[USE].status == 4}P/A &nbsp;&nbsp;APVD
									{elseif $fty_lots_use[USE].status == 5}P/A &nbsp;&nbsp;Reject
									{elseif $fty_lots_use[USE].status == 6}wait P/O submit
									{elseif $fty_lots_use[USE].status == 8}wait P/O CFM
									{elseif $fty_lots_use[USE].status == 10}wait P/O APV
									{elseif $fty_lots_use[USE].status == 12}P/O &nbsp;&nbsp;APVD
									{elseif $fty_lots_use[USE].status == 13}P/O &nbsp;&nbsp;Reject						
									{else}&nbsp;{/if}
					)&nbsp;<br>
	  			{section name=AP loop=$fty_lots_use[USE].spec_ap}
 						  <a href="javascript:po_show('{$fty_lots_use[USE].spec_ap[AP].ap_num}')">{$fty_lots_use[USE].spec_ap[AP].po_num}</a>
 	  			(				{if $fty_lots_use[USE].spec_ap[AP].status == 0}wait P/A submit
									{elseif $fty_lots_use[USE].spec_ap[AP].status == 2}wait P/A CFM
									{elseif $fty_lots_use[USE].spec_ap[AP].status == 3}wait P/A APV
									{elseif $fty_lots_use[USE].spec_ap[AP].status == 4}P/A &nbsp;&nbsp;APVD
									{elseif $fty_lots_use[USE].spec_ap[AP].status == 5}P/A &nbsp;&nbsp;Reject
									{elseif $fty_lots_use[USE].spec_ap[AP].status == 6}wait P/O submit
									{elseif $fty_lots_use[USE].spec_ap[AP].status == 8}wait P/O CFM
									{elseif $fty_lots_use[USE].spec_ap[AP].status == 10}wait P/O APV
									{elseif $fty_lots_use[USE].spec_ap[AP].status == 12}P/O &nbsp;&nbsp;APVD
									{elseif $fty_lots_use[USE].spec_ap[AP].status == 13}P/O &nbsp;&nbsp;Reject						
									{else}&nbsp;{/if}
					)&nbsp;<br>
 	  			
 	  		{/section}</small></td>

	  {/if}

	</tr>
	{/section} 
</table>
{/if}
<!-------------  accessories range ------------->
{if $fty_acc_use}
<table width=750 border=0 cellspacing=1 cellpadding=2>
	<tr bgcolor=#333333 height=28>
		<td class=ylw9 align=center colspan=8><b>Factory Sourcing</b></td>
	</tr>
	<tr bgcolor=#333333 height=28>
		<td width=90 class=ylw9 align=center><b>Acc. #</b></td>
		<td width=110 class=ylw9 align=center><b>Name</b></td>
		<td width=140 class=ylw9 align=center><b>Color / Cat.</b></td>
		<!-- <td width=60 class=ylw9 align=center><b>Size</b></td> -->
		<td width=40 class=ylw9 align=center><b>Q'TY</b></td>
		<td width=150 class=ylw9 align=center><b>Supplier</b></td>
<!--		
		<td width=60 class=ylw9 align=center><b>U/Price</b></td>
		<td width=100 class=ylw9 align=center><b>ETD</b></td>
-->		
		<td width=40 class=ylw9 align=center><b>Select</b></td>
	</tr>
	{if $acc_NONE}  
	<tr>
		<td colspan=7 align=center class=ssign>NO Accessory data!
		<input type="hidden" name="PHP_acc_est" value="">
		</td>
	</tr>
	{/if}
	{section name=USE loop=$fty_acc_use} 
	<tr bgcolor=#eeeeee height=28>
		<td class=snvy align=center nowrap><a href="javascript:Show_acc('{$fty_acc_use[USE].acc_code}')" value='ord_out' style='cursor:pointer'><small>{$fty_acc_use[USE].acc_code}&nbsp;</small></a></td>
		<td class=snvy ><small>{$fty_acc_use[USE].acc_name}&nbsp;</small></td>
		<td class=snvy ><small>{$fty_acc_use[USE].color}&nbsp;</small></td>
		<!-- <td class=snvy ><small>{$fty_acc_use[USE].size}&nbsp;</small></td> -->
		<td class=snvy align=right><small>{$fty_acc_use[USE].total|number_format:"2f"}{$fty_acc_use[USE].unit}&nbsp;</small></td>
	  {if $fty_acc_use[USE].ap_mark == ''}
		<td class=snvy align=center>
		<input type=text name="PHP_acc_v{$fty_acc_use[USE].id}" size=8 class=select value="{$fty_acc_use[USE].vendor1}" readonly>&nbsp;
		<img src="./images/icoSearch.gif" alt="Supplier" onClick="list('PHP_acc_v{$fty_acc_use[USE].id}','ACCESSORY');" style="cursor:pointer">
		<img src="./images/add.gif" alt="Supplier ADD" onClick="add_sup('PHP_acc_v{$fty_acc_use[USE].id}','ACCESSORY');" style="cursor:pointer">
		</td>
<!--		
		<td class=snvy align=center>
				<input type=text name="PHP_acc_up{$fty_acc_use[USE].id}" size=5 class=select value="{$fty_acc_use[USE].price1}">/{$fty_acc_use[USE].unit}&nbsp;
		</td>

		<td class=snvy align=center>
				<img align='top' onmousedown="javascript:Cal(document.aply_wi.PHP_acc_eta{$fty_acc_use[USE].id},1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16" style='cursor:hand'>    
				<input type=text name="PHP_acc_eta{$fty_acc_use[USE].id}" size=8 class=select value="{$fty_acc_use[USE].eta}" readonly>&nbsp;
		</td>
-->		
				<input type=hidden name="PHP_acc_up{$fty_acc_use[USE].id}"  value="{$fty_acc_use[USE].price1}">
				<input type=hidden name="PHP_acc_eta{$fty_acc_use[USE].id}" value="{$fty_acc_use[USE].eta}">

		<td class=snvy align=center>
			<input type=button class=select value="ADD" onclick="creat_ap('{$fty_acc_use[USE].id}','PHP_acc_up{$fty_acc_use[USE].id}','PHP_acc_v{$fty_acc_use[USE].id}','PHP_acc_eta{$fty_acc_use[USE].id}','{$wi.id}','acc','{$back_str}','{$fty_acc_use[USE].unit}','{$fty_acc_use[USE].acc_code}',this,'{$fty_acc_use.bom[USE].mat_id}','{$fty_acc_use.bom[USE].used_id}','{$fty_acc_use.bom[USE].color|escape:"html"}','{$fty_acc_use.bom[USE].size}')"  >&nbsp;
		</td>
		{else}
		<td class=snvy align=left colspan=4><small>
	  			P / O :  <br><a href="javascript:po_show('{$fty_acc_use[USE].ap_mark}')">{$fty_acc_use[USE].po_num}</a>
	  			(				{if $fty_acc_use[USE].status == 0}wait P/A submit
									{elseif $fty_acc_use[USE].status == 2}wait P/A CFM
									{elseif $fty_acc_use[USE].status == 3}wait P/A APV
									{elseif $fty_acc_use[USE].status == 4}P/A &nbsp;&nbsp;APVD
									{elseif $fty_acc_use[USE].status == 5}P/A &nbsp;&nbsp;Reject
									{elseif $fty_acc_use[USE].status == 6}wait P/O submit
									{elseif $fty_acc_use[USE].status == 8}}wait P/O CFM
									{elseif $fty_acc_use[USE].status == 10}wait P/O APV
									{elseif $fty_acc_use[USE].status == 12}P/O &nbsp;&nbsp;APVD
									{elseif $fty_acc_use[USE].status == 13}P/O &nbsp;&nbsp;Reject						
									{else}&nbsp;{/if}
					)	  &nbsp;<br>
	  			{section name=AP loop=$fty_acc_use[USE].spec_ap}
 						  <a href="javascript:pa_show('{$fty_acc_use[USE].spec_ap[AP].ap_num}')">{$fty_acc_use[USE].spec_ap[AP].po_num}</a>
 	  			(				{if $fty_acc_use[USE].spec_ap[AP].status == 0}wait P/A submit
									{elseif $fty_acc_use[USE].spec_ap[AP].status == 2}wait P/A CFM
									{elseif $fty_acc_use[USE].spec_ap[AP].status == 3}wait P/A APV
									{elseif $fty_acc_use[USE].spec_ap[AP].status == 4}P/A &nbsp;&nbsp;APVD
									{elseif $fty_acc_use[USE].spec_ap[AP].status == 5}P/A &nbsp;&nbsp;Reject
									{elseif $fty_acc_use[USE].spec_ap[AP].status == 6}wait P/O submit
									{elseif $fty_acc_use[USE].spec_ap[AP].status == 8}wait P/O CFM
									{elseif $fty_acc_use[USE].spec_ap[AP].status == 10}wait P/O APV
									{elseif $fty_acc_use[USE].spec_ap[AP].status == 12}P/O &nbsp;&nbsp;APVD
									{elseif $fty_acc_use[USE].spec_ap[AP].status == 13}P/O &nbsp;&nbsp;Reject						
									{else}&nbsp;{/if}
					)&nbsp;
 	  			{/section}</small>
		</td>
	  {/if}

	</tr>
	{/section} 
  <tr>
    <td colspan=6 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
</table>
{/if}

<!------CUSTOMER SOURCING ---->
{if $cust_lots_use}
<table width=750 border=0 cellspacing=1 cellpadding=2>
	<tr bgcolor=#333333 height=28>
		<td class=ylw9 align=center colspan=8><b>Customer Sourcing</b></td>
	</tr>
	<tr bgcolor=#333333 height=28>
		<td width=90 class=ylw9 align=center><b>Fabirc #</b></td>
		<td width=110 class=ylw9 align=center><b>Name</b></td>
		<td width=140 class=ylw9 align=center><b>Color / Cat.</b></td>
		<td width=40 class=ylw9 align=center><b>Q'TY</b></td>
		<td width=150 class=ylw9 align=center><b>Supplier</b></td>
<!--		
		<td width=60 class=ylw9 align=center><b>U/Price</b></td>
		<td width=100 class=ylw9 align=center><b>ETD</b></td>
-->
		<td width=40 class=ylw9 align=center><b>Select</b></td>
	</tr>
	{if $lots_NONE}  
	<tr>
		<td colspan=7 align=center class=ssign><br>NO Fabric data!<br><br>
	</tr>
	{/if}
	{section name=USE loop=$cust_lots_use} 
	<tr bgcolor=#eeeeee height=28>
		<td class=snvy align=center nowrap><a href="javascript:Show_fab('{$cust_lots_use[USE].lots_code}')" value='ord_out' style='cursor:pointer'><small>{$cust_lots_use[USE].lots_code}&nbsp;</small></a></td>
		<td class=snvy ><small>{$cust_lots_use[USE].lots_name}&nbsp;</small></td>
		<td class=snvy><small>{$cust_lots_use[USE].color}&nbsp;</small></td>
		<td class=snvy align=right><small>{$cust_lots_use[USE].total|number_format:"2f"}{$cust_lots_use[USE].unit}&nbsp;</small></td>
		{if $cust_lots_use[USE].ap_mark == ''}
		<td class=snvy align=center>&nbsp; 	  
		<input type=text name="PHP_lots_v{$cust_lots_use[USE].id}" size=8 class=select value="{$cust_lots_use[USE].vendor1}" readonly>&nbsp;
		<img src="./images/icoSearch.gif" alt="Supplier" onClick="list('PHP_lots_v{$cust_lots_use[USE].id}','FABRIC');" style="cursor:pointer" >
		<img src="./images/add.gif" alt="Supplier ADD" onClick="add_sup('PHP_lots_v{$cust_lots_use[USE].id}','FABRIC');" style="cursor:pointer">
		</td>
<!--		
		<td class=snvy align=center>
		<input type=text name="PHP_lots_up{$cust_lots_use[USE].id}" size=5 class=select value="{$cust_lots_use[USE].price1}">/{$cust_lots_use[USE].unit}&nbsp;
		</td>
		<td class=snvy align=center>
 		<img align='top' onmousedown="javascript:Cal(document.aply_wi.PHP_lots_eta{$cust_lots_use[USE].id},1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16" style='cursor:hand'>    
		<input type=text name="PHP_lots_eta{$cust_lots_use[USE].id}" size=8 class=select value="{$cust_lots_use[USE].eta}" readonly>&nbsp;
		</td>
-->		
		<input type=hidden name="PHP_lots_up{$cust_lots_use[USE].id}"  value="{$cust_lots_use[USE].price1}">
		<input type=hidden name="PHP_lots_eta{$cust_lots_use[USE].id}" value="{$cust_lots_use[USE].eta}">

		<td class=snvy align=center>
		<input type=button class=select value="ADD" onclick="creat_ap('{$cust_lots_use[USE].id}','PHP_lots_up{$cust_lots_use[USE].id}','PHP_lots_v{$cust_lots_use[USE].id}','PHP_lots_eta{$cust_lots_use[USE].id}','{$wi.id}','lots','{$back_str}','{$cust_lots_use[USE].unit}','{$cust_lots_use[USE].lots_code}',this,'{$cust_lots_use.bom[USE].mat_id}','{$cust_lots_use.bom[USE].used_id}','{$cust_lots_use.bom[USE].color|escape:"html"}','{$cust_lots_use.bom[USE].size}')" >&nbsp;
		</td>
	  {else}
		<td class=snvy align=left colspan=2><small>
	  			P / O : <br> <a href="javascript:po_show('{$cust_lots_use[USE].ap_mark}')">{$cust_lots_use[USE].po_num}</a>
	  			(				{if $cust_lots_use[USE].status == 0}wait P/A submit
									{elseif $cust_lots_use[USE].status == 2}wait P/A CFM
									{elseif $cust_lots_use[USE].status == 3}wait P/A APV
									{elseif $cust_lots_use[USE].status == 4}P/A &nbsp;&nbsp;APVD
									{elseif $cust_lots_use[USE].status == 5}P/A &nbsp;&nbsp;Reject
									{elseif $cust_lots_use[USE].status == 6}wait P/O submit
									{elseif $cust_lots_use[USE].status == 8}wait P/O CFM
									{elseif $cust_lots_use[USE].status == 10}wait P/O APV
									{elseif $cust_lots_use[USE].status == 12}P/O &nbsp;&nbsp;APVD
									{elseif $cust_lots_use[USE].status == 13}P/O &nbsp;&nbsp;Reject						
									{else}&nbsp;{/if}
					)&nbsp;<br>
	  			{section name=AP loop=$cust_lots_use[USE].spec_ap}
 						  <a href="javascript:po_show('{$cust_lots_use[USE].spec_ap[AP].ap_num}')">{$cust_lots_use[USE].spec_ap[AP].po_num}</a>
 	  			(				{if $cust_lots_use[USE].spec_ap[AP].status == 0}wait P/A submit
									{elseif $cust_lots_use[USE].spec_ap[AP].status == 2}wait P/A CFM
									{elseif $cust_lots_use[USE].spec_ap[AP].status == 3}wait P/A APV
									{elseif $cust_lots_use[USE].spec_ap[AP].status == 4}P/A &nbsp;&nbsp;APVD
									{elseif $cust_lots_use[USE].spec_ap[AP].status == 5}P/A &nbsp;&nbsp;Reject
									{elseif $cust_lots_use[USE].spec_ap[AP].status == 6}wait P/O submit
									{elseif $cust_lots_use[USE].spec_ap[AP].status == 8}wait P/O CFM
									{elseif $cust_lots_use[USE].spec_ap[AP].status == 10}wait P/O APV
									{elseif $cust_lots_use[USE].spec_ap[AP].status == 12}P/O &nbsp;&nbsp;APVD
									{elseif $cust_lots_use[USE].spec_ap[AP].status == 13}P/O &nbsp;&nbsp;Reject						
									{else}&nbsp;{/if}
					)&nbsp;<br>
 	  			
 	  		{/section}</small></td>

	  {/if}

	</tr>
	{/section} 
</table>
{/if}


<!-------------  accessories range ------------->
{if $cust_acc_use}
<table width=750 border=0 cellspacing=1 cellpadding=2>
	<tr bgcolor=#333333 height=28>
		<td class=ylw9 align=center colspan=8><b>Customer Sourcing</b></td>
	</tr>
	<tr bgcolor=#333333 height=28>
		<td width=90 class=ylw9 align=center><b>Acc. #</b></td>
		<td width=110 class=ylw9 align=center><b>Name</b></td>
		<td width=140 class=ylw9 align=center><b>Color / Cat.</b></td>
		<!-- <td width=60 class=ylw9 align=center><b>Size</b></td> -->
		<td width=40 class=ylw9 align=center><b>Q'TY</b></td>
		<td width=150 class=ylw9 align=center><b>Supplier</b></td>
<!--		
		<td width=60 class=ylw9 align=center><b>U/Price</b></td>
		<td width=100 class=ylw9 align=center><b>ETD</b></td>
-->		
		<td width=40 class=ylw9 align=center><b>Select</b></td>
	</tr>
	{if $acc_NONE}  
	<tr>
		<td colspan=7 align=center class=ssign>NO Accessory data!
		<input type="hidden" name="PHP_acc_est" value="">
		</td>
	</tr>
	{/if}
	{section name=USE loop=$cust_acc_use} 
	<tr bgcolor=#eeeeee height=28>
		<td class=snvy align=center nowrap><a href="javascript:Show_acc('{$cust_acc_use[USE].acc_code}')" value='ord_out' style='cursor:pointer'><small>{$cust_acc_use[USE].acc_code}&nbsp;</small></a></td>
		<td class=snvy ><small>{$cust_acc_use[USE].acc_name}&nbsp;</small></td>
		<td class=snvy ><small>{$cust_acc_use[USE].color}&nbsp;</small></td>
		<!-- <td class=snvy ><small>{$cust_acc_use[USE].size}&nbsp;</small></td> -->
		<td class=snvy align=right><small>{$cust_acc_use[USE].total|number_format:"2f"}{$cust_acc_use[USE].unit}&nbsp;</small></td>
	  {if $cust_acc_use[USE].ap_mark == ''}
		<td class=snvy align=center>
		<input type=text name="PHP_acc_v{$cust_acc_use[USE].id}" size=8 class=select value="{$cust_acc_use[USE].vendor1}" readonly>&nbsp;
		<img src="./images/icoSearch.gif" alt="Supplier" onClick="list('PHP_acc_v{$cust_acc_use[USE].id}','ACCESSORY');" style="cursor:pointer">
		<img src="./images/add.gif" alt="Supplier ADD" onClick="add_sup('PHP_acc_v{$cust_acc_use[USE].id}','ACCESSORY');" style="cursor:pointer">
		</td>
<!--		
		<td class=snvy align=center>
				<input type=text name="PHP_acc_up{$cust_acc_use[USE].id}" size=5 class=select value="{$cust_acc_use[USE].price1}">/{$cust_acc_use[USE].unit}&nbsp;
		</td>

		<td class=snvy align=center>
				<img align='top' onmousedown="javascript:Cal(document.aply_wi.PHP_acc_eta{$cust_acc_use[USE].id},1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16" style='cursor:hand'>    
				<input type=text name="PHP_acc_eta{$cust_acc_use[USE].id}" size=8 class=select value="{$cust_acc_use[USE].eta}" readonly>&nbsp;
		</td>
-->		
				<input type=hidden name="PHP_acc_up{$cust_acc_use[USE].id}"  value="{$cust_acc_use[USE].price1}">
				<input type=hidden name="PHP_acc_eta{$cust_acc_use[USE].id}" value="{$cust_acc_use[USE].eta}">

		<td class=snvy align=center>
			<input type=button class=select value="ADD" onclick="creat_ap('{$cust_acc_use[USE].id}','PHP_acc_up{$cust_acc_use[USE].id}','PHP_acc_v{$cust_acc_use[USE].id}','PHP_acc_eta{$cust_acc_use[USE].id}','{$wi.id}','acc','{$back_str}','{$cust_acc_use[USE].unit}','{$cust_acc_use[USE].acc_code}',this,'{$cust_acc_use.bom[USE].mat_id}','{$cust_acc_use.bom[USE].used_id}','{$cust_acc_use.bom[USE].color|escape:"html"}','{$cust_acc_use.bom[USE].size}')"  >&nbsp;
		</td>
		{else}
		<td class=snvy align=left colspan=4><small>
	  			P / O :  <br><a href="javascript:po_show('{$cust_acc_use[USE].ap_mark}')">{$cust_acc_use[USE].po_num}</a>
	  			(				{if $cust_acc_use[USE].status == 0}wait P/A submit
									{elseif $cust_acc_use[USE].status == 2}wait P/A CFM
									{elseif $cust_acc_use[USE].status == 3}wait P/A APV
									{elseif $cust_acc_use[USE].status == 4}P/A &nbsp;&nbsp;APVD
									{elseif $cust_acc_use[USE].status == 5}P/A &nbsp;&nbsp;Reject
									{elseif $cust_acc_use[USE].status == 6}wait P/O submit
									{elseif $cust_acc_use[USE].status == 8}}wait P/O CFM
									{elseif $cust_acc_use[USE].status == 10}wait P/O APV
									{elseif $cust_acc_use[USE].status == 12}P/O &nbsp;&nbsp;APVD
									{elseif $cust_acc_use[USE].status == 13}P/O &nbsp;&nbsp;Reject						
									{else}&nbsp;{/if}
					)	  &nbsp;<br>
	  			{section name=AP loop=$cust_acc_use[USE].spec_ap}
 						  <a href="javascript:pa_show('{$cust_acc_use[USE].spec_ap[AP].ap_num}')">{$cust_acc_use[USE].spec_ap[AP].po_num}</a>
 	  			(				{if $cust_acc_use[USE].spec_ap[AP].status == 0}wait P/A submit
									{elseif $cust_acc_use[USE].spec_ap[AP].status == 2}wait P/A CFM
									{elseif $cust_acc_use[USE].spec_ap[AP].status == 3}wait P/A APV
									{elseif $cust_acc_use[USE].spec_ap[AP].status == 4}P/A &nbsp;&nbsp;APVD
									{elseif $cust_acc_use[USE].spec_ap[AP].status == 5}P/A &nbsp;&nbsp;Reject
									{elseif $cust_acc_use[USE].spec_ap[AP].status == 6}wait P/O submit
									{elseif $cust_acc_use[USE].spec_ap[AP].status == 8}wait P/O CFM
									{elseif $cust_acc_use[USE].spec_ap[AP].status == 10}wait P/O APV
									{elseif $cust_acc_use[USE].spec_ap[AP].status == 12}P/O &nbsp;&nbsp;APVD
									{elseif $cust_acc_use[USE].spec_ap[AP].status == 13}P/O &nbsp;&nbsp;Reject						
									{else}&nbsp;{/if}
					)&nbsp;
 	  			{/section}</small>
		</td>
	  {/if}

	</tr>
	{/section} 
  <tr>
    <td colspan=6 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
</table>
{/if}




</form>
<table width=750 border=0 cellspacing=1 cellpadding=2>
	<tr bgcolor=#ffffff height=28>
		<td class=gry9 align=center>
		<font color=black>Open: </font><u>{$wi.creator}</u>&nbsp;&nbsp;<u>{$wi.open_date}</u>&nbsp;&nbsp;&nbsp;&nbsp;
		<font color=black>Last Update : </font><u>{if $wi.updator}{$wi.updator}{else}[ None ]{/if}</u>&nbsp;&nbsp;<u>{$wi.last_update}</u>&nbsp;&nbsp;&nbsp;&nbsp;
		<font color=black>{literal}Submit: {/literal}</font><u>{if $wi.confirmer}{$wi.confirmer}{else}[ None ]{/if}</u>&nbsp;&nbsp;<u>{$wi.cfm_date}</u>
		</td>
	</tr>
</table>
<!--------- wi data end ---------->
<table border=0 cellspacing=0 cellpadding=2 width=750 bgcolor=#ffffff align=center>
	<tr>
		<td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
	</tr>
	<tr>
		<td colspan=2>
		{if $back_str  && $edit_non <> 1}
		<input type=button onClick="window.location.href='{$PHP_SELF}{$back_str}'" value=" << go back " class=select_e style="cursor:pointer; width=99%">
		{/if}
		</td>
	</tr>
</table>
{include file="footer.html"}