<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM -B [ ORDER RECORD ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/open_detial.js"></script>

<Script language="javascript"> 
function refreshIt()  {
	if (!document.images) return;
	document.images['pic'].src='{/literal}{$main_pic}{literal}?'+ Math.random();
}

function fab_ex_add(wi_num,item){
		window.location='index2.php?PHP_action=apply_unbom_add&PHP_wi_num='+wi_num+'&PHP_item='+item+"&PHP_revise={/literal}{$revise}{literal}"; 	
}
</script>
{/literal}

</head>
<body>

<br>
<table cellspacing=1 cellpadding=4 cols=1 width=720 bgcolor=#333333>
	<tr>
	  <td class="ylw10" align=center height=28 width=150> {if $order.status == 0}waitt'g for IE rec.
									{elseif $order.status == 1}wait for submit</span>
									{elseif $order.status == 2}waitt'g for CFM</span>
									{elseif $order.status == 3}waitt'g for APV</span>
									{elseif $order.status == 4}<b>APVED</b></span>
									{elseif $order.status == 5}<span class=ssign><b>REJECT</b></span>
									{elseif $order.status == 6}<span class=lgrn><b>SCHDLing</b></span>
									{elseif $order.status == 7}<span class=des><b>SCHDL CFMed</b></span>
									{elseif $order.status == 8}<span class=des><b>PRODUCING</b></span>
									{elseif $order.status == 10}<b>=finished=</b></span>
									{elseif $order.status == 12}<b>==shipped==</b></span>
									{else}&nbsp;{/if}</td>
	  <td class="des" align=center width=350>Order # <b>{$order.order_num}</b> -- for Purchase Application</td>

	  <td class="sign" align=center width=100>
	   {if $order.revise > 0 }
			[ <b>REVISE</b> ] : <b><i><span class=ylw10>{$order.revise}</span></i></b>
	   {else}
			&nbsp;
	   {/if}
	  </td>

	</tr>
</table>
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=720>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
<table border=0 cellspacing=1 cellpadding=1 width=720 bgcolor=#FFFFFF>
   <tr>
    <td colspan=6 class=grn10 align=left><b>&nbsp;&nbsp;{if $order.last_updator}Last update : {$order.last_updator}<small> [ {$order.last_update} ]</small>{/if}</b></td>
    <td colspan=2 class=frnt align=right><b>currency : US$&nbsp;&nbsp;&nbsp;</b></td>
  </tr>
   <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
   <tr><form method=POST name=add_order >
  <td align=center class=head valign=top rowspan=4>
			<table width=120 border=1 cellspacing=0 cellpadding=1>
				<tr><td align=center><input type="image" src="{$main_pic}" name="pic" width=120 border="0" {if $main_pic <> 'http://scm-b.carnival.com.tw/images/graydot.gif'}onclick='window.open2("{$main_pic}","","height=640,width=480")'{/if}></td></tr>
			</table>
  </td>
    <td class=snvy align=right  nowrap><b>style No. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.style_num}</b></td>
    <td class=snvy align=right nowrap><b>Customer :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.cust}</b></td>
    <td class=snvy align=right width=90 nowrap><b>customer ref. :</b></td>
    <td class=bgdy align=left  width=120 bgcolor=#dddddd><b>&nbsp;<small>{$order.ref}</small></b></td>
 </tr>
 <tr><form method=POST name=add_order >
    <td class=snvy align=right  nowrap><b>Team :</b></td>
    <td class=bgdy align=left  bgcolor=#dddddd><b>&nbsp;{$order.dept}</b></td>
    <td class=snvy align=right nowrap><b>factory :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.factory}</b></td>
    <td class=snvy align=right nowrap><b>style type :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.style}</b></td>

 </tr>
 <tr>
    <td class=snvy align=right nowrap><b>Q'ty :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.qty}&nbsp;{$order.unit}</b></td>
    <td class=snvy align=right nowrap><b>SU :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.f_su}</b></td>
    <td class=snvy align=right nowrap><b>FOB @ :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;$ {$order.uprice}</b></td>

  </tr>
 <tr>
    <td class=snvy align=right nowrap><b>Quota Cat. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.quota}</b></td>
    <td class=snvy align=right  nowrap><b>smpl ord No. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><a href="javascript:smpl_out('{$order.smpl_ord}')" value='ord_out' style='cursor:pointer'><b>&nbsp;{$order.smpl_ord}</b></a></td>
		<td class=snvy align=right nowrap><b>calc. IE :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.ie1}</b></td> 

  </tr>    
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
 <tr>
    <td class=snvy align=right nowrap><b>ETD :</b></td>
	<td class=b10 align=left nowrap bgcolor=#dddddd><b>&nbsp;{$order.etd}</b></td>
	<td class=snvy align=right nowrap><b>ETP. :</b></td>
	<td class=b10 align=left nowrap bgcolor=#dddddd><b>&nbsp;{$order.etp}</b></td>
	<td class=snvy align=right nowrap><b>est. Lead Time :</b></td>
	<td class=grn10 align=left nowrap bgcolor=#dddddd><b>&nbsp;{$lead_time} days</b></td>
  </tr>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
</table>


<table border=1 cellspacing=1 cellpadding=1 width=720 align=center>
  <tr bgcolor=#333333 >
	<td width=34% class=w9><b>&nbsp;OPEN by : <span class=ylw10></b>{$order.creator}</span>-[{$order.opendate}]</td>
	<td width=33% class=w9>{if $order.cfmer}&nbsp;<b>CFM by : </b><span class=ylw10>{$order.cfmer}</span>-[{$order.cfm_date}]{else}&nbsp;{/if}</td>
	<td width=33% class=w9>{if $order.apver}&nbsp;<b>APV by : </b><span class=ylw10>{$order.apver}</span>-[{$order.apv_date}]{else}&nbsp;{/if}</td>
	</td>
</table>
<!---------- SHOW 出 一些訂單歷史記錄 -->  
{if $log_records}
	<table border=1 cellspacing=1 cellpadding=1 width=710 align=center>
	  <tr bgcolor=#666666 >
	   <td width=120 class=w10 align=center>DateTime</td>
	   <td width=400 class=w10 align=center>History records</td>
	   <td width=80 class=w10 align=center>by</td>
	  </tr>
	 {section name=SEC loop=$logs}
	  <tr bgcolor=#eeeeee >
	   <td class=gry9 align=center><small>{$logs[SEC].k_time}</small></td>
	   <td class=gry9 align=left>{$logs[SEC].des}</td>
	   <td class=gry9 align=center>{$logs[SEC].user}</td>
	  </tr>
	{/section}
	</table>
{/if}
<!---------- END SHOW   -->  

<table border=0 cellspacing=0 cellpadding=2 width=720 bgcolor=#ffffff align=center>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>
	<td colspan=2>
{if $back_str && $edit_non <> 1}
		<input type=button onClick="window.location.href='{$PHP_SELF}{$back_str}'" value=" << go back " class=select_e style="cursor:pointer; width=99%">
{else}&nbsp;
{/if}
	</td>

	<td colspan=2>
{if $add_flag || $add_flag}{if $pa_num == '' }
		<input type=button value="[  Purchase Fab. add ]" class=select_e2 style="cursor:pointer; width=99%" onclick=fab_ex_add('{$order.order_num}','lots')>
{/if}
{else}&nbsp;
{/if}
	</td>

	<td colspan=2>
{if $add_flag || $add_flag}{if $pa_num == '' }
		<input type=button value="[  Purchase Acc. add ]" class=select_e2 style="cursor:pointer; width=99%" onclick=fab_ex_add('{$order.order_num}','acc')>
{/if}
{else}&nbsp;
{/if}
	</td>
  </tr>

</table>
<!--------- footer ---------->
{include file="footer.html"}
