<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM System ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script type="text/javascript"
        src="./js/build/yahoo/yahoo-min.js"></script>
<script type="text/javascript"
        src="./js/build/connection/connection-min.js"></script>

<script language="javascript" src="./js/date.js"></script>
<script language="javascript" src="./js/open_detial.js"></script>


<script language="javascript" src="./js/col.js"></script>

<Script language="javascript">
/*  
function search_ord(dept,cust) {
	 var url ='index2.php?PHP_action=apply_add_search&PHP_dept='+dept+'&PHP_cust='+cust; 	
	 var nm = 'Order';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=750 top=50, left=100');
}

function writeToAPAdd(mat_id,vendor,eta,wi_id,item,unit,mat_code)
{
	window.location='index2.php?PHP_action=apply_add_det&PHP_wi_id='+wi_id+'&PHP_mat_id='+mat_id+"&PHP_vendor="+vendor+"&PHP_eta="+eta+"&PHP_item="+item+"&PHP_unit="+unit+"&PHP_mat_code="+mat_code+"&PHP_ap_num={/literal}{$ap.ap_num}&PHP_vendor={$ap.sup_code}{literal}"; 	

}
*/
function del_mat(ap_num,ap_id,mat_id,mat_cat,mat_code,color,r)
{
	if ( confirm("Are you sure to delete Material : [ "+mat_code+" ] Color/cat : ["+color+"] ??")) {

  var i=r.parentNode.parentNode.rowIndex
  document.getElementById('mat_table').deleteRow(i)
  
	sUrl="index2.php?PHP_action=del_ap_spc_ajax&PHP_id="+ap_id+"&PHP_ap_num="+ap_num+"&PHP_mat_id="+mat_id+"&PHP_mat_cat="+mat_cat+"&PHP_color="+color+"&PHP_mat_code="+mat_code;

  transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, callback, null);
  
	} 
}

function list(){
	var gofile ='index2.php?PHP_action=show_fabric_search';	
	style=window.open2(gofile,'style','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=750,height=500, top=100, left=150');
// 	style.focus();
 }
  
 function acclist(){
	var gofile ='index2.php?PHP_action=show_accessory_search';	style=window.open2(gofile,'style','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=750,height=500, top=100, left=150');
// 	style.focus();
 }
function writeToParentList(lots_code,lots_name,unit1,unit2,unit3,vendor,id,price) {
//alert(vendor);
	window.document.forms['apply_add'].elements['PHP_mat_code'].value = lots_code;
	window.document.forms['apply_add'].elements['PHP_mat_cat'].value = 'lots';
	for (var i = 0; i < window.document.forms['apply_add'].elements['PHP_unit'].options.length; i++) {
    if (unit1 == window.document.forms['apply_add'].elements['PHP_unit'].options[i].text) 
      window.document.forms['apply_add'].elements['PHP_unit'].selectedIndex = i;
  }
	window.document.forms['apply_add'].elements['PHP_vendor'].value = vendor;
	window.document.forms['apply_add'].elements['PHP_price'].value = price;

}
function writeToAccList(acc_code,acc_name,unit1,unit2,unit3,vendor,id,price) {
	window.document.forms['apply_add'].elements['PHP_mat_code'].value = acc_code;
	window.document.forms['apply_add'].elements['PHP_mat_cat'].value = 'acc';
	//window.document.forms['apply_add'].elements['PHP_unit'].value = unit1;
	for (var i = 0; i < window.document.forms['apply_add'].elements['PHP_unit'].options.length; i++) {
    if (unit1 == window.document.forms['apply_add'].elements['PHP_unit'].options[i].text) 
      window.document.forms['apply_add'].elements['PHP_unit'].selectedIndex = i;
  }
  	window.document.forms['apply_add'].elements['PHP_vendor'].value = vendor;
		window.document.forms['apply_add'].elements['PHP_price'].value = price;

}


function list_sup(item,cat){
	var gofile ='index2.php?PHP_action=show_supplier_search&PHP_item='+item+'&PHP_cat='+cat;	
	style=window.open2(gofile,'supplier','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=750,height=500, top=100, left=150');
}

function add_sup(item,cat){
	var gofile ='index2.php?PHP_action=show_supplier_add&PHP_item='+item+'&PHP_cat='+cat;	
	style=window.open2(gofile,'supplier','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=750,height=500, top=100, left=150');
}

function writeToSupItemlList(vndr_no,supl_s_name,supl_cat,item) {
	var i=0;
	window.document.forms['apply_add'].elements[item].value = vndr_no;
}

function add_mat(ap_num,vendor,mat_item) {
	var today = GetTodayDate();
	var mat_code = window.document.forms['apply_add'].elements['PHP_mat_code'].value;
	var mat_cat = window.document.forms['apply_add'].elements['PHP_mat_cat'].value;
	var unit = window.document.forms['apply_add'].elements['PHP_unit'].value;
	var wi_num = window.document.forms['apply_add'].elements['PHP_wi_num'].value;
	var color = window.document.forms['apply_add'].elements['PHP_color'].value;
	var qty = window.document.forms['apply_add'].elements['PHP_qty'].value;
	var eta = window.document.forms['apply_add'].elements['PHP_eta'].value;
	var ven = window.document.forms['apply_add'].elements['PHP_vendor'].value;
	var use = window.document.forms['apply_add'].elements['PHP_use'].value;
	var price = window.document.forms['apply_add'].elements['PHP_price'].value;
	
//	alert(loc);
	if (vendor == '') var vendor = ven;
	if (vendor == '')
	{
		alert("Please Fill Supplier first");
		return;
	}
	
	if(vendor != ven)
	{
			if ( !confirm("Are you sure to change supplier for this Material")) {
				return;
			} 
	}
/*	
	if (eta < today)
	{
		alert("ETD must > Today");
		return;
	}
	*/ 	
	window.location='index2.php?PHP_action=apply_spc_add_det&PHP_wi_num='+wi_num+'&PHP_qty='+qty+"&PHP_vendor="+vendor+"&PHP_org_ven="+ven+"&PHP_eta="+eta+"&PHP_item="+mat_cat+"&PHP_unit="+unit+"&PHP_mat_code="+mat_code+"&PHP_color="+color+"&PHP_ap_num="+ap_num+"&PHP_item="+mat_item+"&PHP_use_for="+use+"&PHP_price="+price+"&PHP_revise={/literal}{$revise}{$back_str}{literal}"; 	

}
function add_check(id,ap_num,back_str,old_des,sup_id)
{
/*
	var des = window.document.forms['apply_add'].elements['PHP_des'].value;
	var currency = window.document.forms['apply_add'].elements['PHP_CURRENCY'].value;
	var fty = window.document.forms['apply_add'].elements['PHP_FACTORY'].value;
	var dmway = window.document.forms['apply_add'].elements['PHP_dm_way'].value;

	var name = window.document.forms['apply_add'].elements['PHP_ship_name'].value;
	var attn = window.document.forms['apply_add'].elements['PHP_ship_attn'].value;
	var fax  = window.document.forms['apply_add'].elements['PHP_ship_fax'].value;
	var tel  = window.document.forms['apply_add'].elements['PHP_ship_tel'].value;
	var addr = window.document.forms['apply_add'].elements['PHP_ship_addr'].value;

		if ( des == '' ) {
				alert("Please input description");				
				return;				
		} 
		if (currency == ''){
				alert("Please Select Currency");				
				return;				
		}
		if (name == ''){
				alert("Please Select Ship To");				
				return;				
		}
	window.location='index2.php?PHP_action=do_apply_spc_add2&PHP_id='+id+'&PHP_sattn='+attn+'&PHP_sname='+name+'&PHP_sfax='+fax+'&PHP_stel='+tel+'&PHP_saddr='+addr+
									'&PHP_ap_num='+ap_num+"&PHP_CURRENCY="+currency+"&PHP_FACTORY="+fty+"&PHP_des="+des+"&PHP_old_des="+old_des+back_str+"&PHP_dmway="+dmway+"&PHP_sup_id="+sup_id+"&PHP_revise={/literal}{$revise}{literal}"; 	
*/

	var tab = document.getElementById("mat_table");
	var rows = tab.rows.length ;
	if(rows == 4)
	{
		if ( confirm("NO Purchase Item!! \r\r This Purchase will not be continue !\r\rBe sure this is OK for you!")) {
			window.location="po.php?PHP_action=do_apply_del&PHP_ap_num="+ap_num;
		} 	
	}else{

	window.location='index2.php?PHP_action=do_apply_spc_add2&PHP_id='+id+'&PHP_ap_num='+ap_num+"&PHP_old_des="+old_des+back_str+"&PHP_sup_id="+sup_id+"&PHP_revise={/literal}{$revise}{literal}"; 	
}
}


function ship_show(r)
{
		var ship = r.value
		sUrl="index2.php?PHP_action=get_ship_ajax&PHP_ship="+ship;
		transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, shipback, null);
}
</script>
<script>
	var transaction;
  var sUrl;
  var callback = {
    success: function(o) {
    	document.getElementById("tbl_msg").style.display='block';    
    	var response = o.responseText;    	
    	msg1.innerText  = response; 
    },
    failure: function(o) {
      alert("Error：Can't get data");
    }
  };
var shipback = {
	success: function(o) {
		var response = o.responseText.split("|");    	
		window.document.forms['apply_add'].elements['PHP_ship_name'].value = response[0];
		window.document.forms['apply_add'].elements['PHP_ship_attn'].value = response[4];
		window.document.forms['apply_add'].elements['PHP_ship_fax'].value  = response[3];
		window.document.forms['apply_add'].elements['PHP_ship_tel'].value  = response[2];
		window.document.forms['apply_add'].elements['PHP_ship_addr'].value = response[1];
				
	},
	failure: function(o) {
		alert("Error：Can't get data");
	}
};
</script>
 
{/literal}
</head>
<body >
<br>
<form METHOD="POST" name="apply_add" action="{$PHP_SELF}">
<table cellspacing=1 cellpadding=4 cols=1 width=750 bgcolor=#003300>
	<tr>
		<td class="ylw10" align=right width=200 height=28> <b>Extra Purchase </b> -- STEP 2</td>
		<td class="des" align=center width=550 height=28> P / O  # <span class=ylw10><b>POxx-xxxx</b></span> {if $revise} -- for REVISE {elseif $back_str} -- for Append {/if}</td>
	</tr>	
</table>
<table border=1 cellpadding=4 cellspacing=0 cols=1 width=750 id='tbl_msg' {if $msg_YES} style="display : block" {else}style="display : none"{/if}>
	<tr bgcolor=#ffffff> 
		<td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
		<td class=bgdy><div id='msg1'>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</div></td>
	</tr>
</table>
<hr SIZE=2 WIDTH=740>
<table border=1 cellspacing=0 cellpadding=0 width="750" bgcolor=#FFFFFF>
  <tr>
		<td>
			<table border=0 cellspacing=1 cellpadding=3 width="740" bgcolor=#FFFFFF>
				<tr>
				{if $ap.s_name}
					<td class=snvy width=120 align=right><b>Supplier :</b> </td>
					<td class=frnt width=150 align=left bgcolor=#E7E6E6><b>&nbsp;{$ap.s_name}</b></td>
				{else}
					<td class=snvy width=120 align=right><b>Order :</b> </td>
					<td class=frnt width=150 align=left bgcolor=#E7E6E6><b>&nbsp;{$wi_num}</b></td>
				{/if}
					<td class=snvy width=100 align=right><b>Dept :</b> </td>			
					<td class=frnt width=70 align=left bgcolor=#E7E6E6><b>&nbsp;{$ap.dept}</b></td>

				{if $ap.s_name}
					<td class=snvy width=120 align=right><b>Source area : </b></td>			
					<td class=frnt width=80 align=left bgcolor=#E7E6E6><b>&nbsp;{$ap.country}</b></td>
				{else}
					<td class=snvy width=70 align=right>&nbsp; </td>
					<td class=frnt width=80 align=left>&nbsp;</td>
				{/if}
				</tr>		
<!--						
					<td class=snvy width=80 align=right ><b>Currency: </b></td>
					<td class=frnt width=80 align=left bgcolor=#E7E6E6><b>&nbsp;{$CURRENCY_select}</b></td>
					<td class=snvy width=70 align=right><b>Payment : </b></td>
					<td class=frnt width=60 align=left bgcolor=#E7E6E6><b>&nbsp;{$dm_way_select}</b></td>

				
				<tr>

					<td class=snvy align=right><b>Ship TO : </b></td>			
					<td class=frnt align=left bgcolor=#E7E6E6>&nbsp;{$FACTORY_select}</td>
					<td class=frnt align=left colspan=4 bgcolor=#E7E6E6>&nbsp;<b>OR</b>&nbsp;&nbsp;<input type=text name="PHP_ship_name" size=50 class=select value="{$ap.ship_name}"></td>
				</tr>
				<tr>
					<td class=snvy align=right><b>Attn. To : </b></td>			
					<td class=frnt align=left  bgcolor=#E7E6E6><b>&nbsp;<input type=text name="PHP_ship_attn" size=15 class=select value="{$ap.ship_attn}"></b></td>
					<td class=snvy align=right nowrap><b>Rcver TEL: </b></td>
					<td class=frnt align=left  bgcolor=#E7E6E6 colspan=2><b>&nbsp;<input type=text name="PHP_ship_tel" size=24 class=select value="{$ap.ship_tel}"></b></td>
					<td class=snvy align=right ><b>Rcver FAX : </b></td>
					<td class=frnt align=left  bgcolor=#E7E6E6 colspan=2><b>&nbsp;<input type=text name="PHP_ship_fax" size=20 class=select value="{$ap.ship_fax}"></b></td>
				</tr>
				<tr>
					<td class=snvy align=right><b>Rcver Addr: </b></td>
					<td class=frnt align=left  bgcolor=#E7E6E6 colspan=7><b>&nbsp;<input type=text name="PHP_ship_addr" size=108 class=select value="{$ap.ship_addr}"></b></td>
				</tr>
-->
			</table>
		</td>
	</tr>
</table>
<hr SIZE=2 WIDTH=740>
<table border="1" cellspacing=0 cellpadding=2 width=750 id="mat_table">	
	<tr bgcolor="#494949" height=28>
		<td width="80" align="center" class=back><strong>Order#</strong></td>
		<td width="120" align="center" class=back><strong>Materiel #</strong></td>		
		<td width="130" align="center" class=back><strong>Supplier #</strong></td>
		<td width="80" align="center" class=back><strong>Color/Cat.</strong></td>
		<td width="60" align="center"  class=back><strong>Q'ty</strong></td>		
		<td width="40" align="center"  class=back><strong>Unit</strong></td>
<!--		
		<td width="60" align="center"  class=back><strong>U/Price</strong></td>
		<td width="120" align="center"  class=back><strong>ETD</strong></td>
-->		
		<td width="30" align="center"  class=back>&nbsp;		</td>
	</tr>
	{section name=SEC loop=$ap_spec} 
	<tr onMouseOver="bgColor='#FCF4A4'" onMouseOut="bgColor='#ffffff'">
		<td align="left" nowrap>&nbsp;{$ap_spec[SEC].ord_num}</td>
		<td align="left" nowrap>&nbsp;{$ap_spec[SEC].mat_code}</td>
		<td align="left">&nbsp;{$ap.s_name}</td>
		<td align="left">&nbsp;{$ap_spec[SEC].color}</td>
		<td align="right">{$ap_spec[SEC].ap_qty|number_format:"2f"}</td>
		<td align="left">&nbsp;{$ap_spec[SEC].unit}</td>
<!--		
		<td align="right">{$ap_spec[SEC].price1}</td>
		<td align="center">{if $ap_spec[SEC].eta == '0000-00-00'}&nbsp;{else}{$ap_spec[SEC].eta}{/if} </td>		
-->	  
	  <td align="center" bgcolor=#E7E7E7>				
  	<input type='image' src="images/del.png"  onClick="del_mat('{$ap.ap_num}','{$ap_spec[SEC].id}','{$ap_spec[SEC].mat_id}','{$ap_spec[SEC].mat_cat}','{$ap_spec[SEC].mat_code}','{$ap_spec[SEC].color}',this);">	  </td>
	</tr>	
	{/section}
	<tr height=28>
		<td colspan=9 align="center" class=back>&nbsp;</td>
	</tr>

	<tr onMouseOver="bgColor='#FCF4A4'" onMouseOut="bgColor='#ffffff'">
		<td align="center" bgcolor="#494949" class=back rowspan=2><b>Append<br> Item<b><input type=hidden name="PHP_wi_num" value="{$wi_num}"></td>
		<td align="left">
			<input type=text name="PHP_mat_code" size=10 class=select value="{$ap.mat_code}" readonly >
			{if $item == 'lots'}<img src="./images/icoSearch.gif" alt="Fabric" onClick="list();" style="cursor:pointer" width=15>{/if}
  	  {if $item == 'acc'}<img src="./images/icoSearch.gif" alt="Accessory" onClick="acclist();" style="cursor:pointer">{/if}		</td>
		<td class=snvy align=center>&nbsp;
	  	<input type=text name="PHP_vendor" size=8 class=select value="{$bom_lots_list[BOM].vendor1}" readonly>&nbsp;
    	<img src="./images/icoSearch.gif" alt="Supplier" onClick="list_sup('PHP_vendor',{if $item == 'lots'}'FABRIC'{else}'ACCESSORY'{/if});" style="cursor:pointer" >
    	<img src="./images/add.gif" alt="Supplier ADD" onClick="add_sup('PHP_vendor',{if $item == 'lots'}'FABRIC'{else}'ACCESSORY'{/if});" style="cursor:pointer">	  </td>
		<td align="center">
			<input type=text name="PHP_color" size=12 class=select value="{$ap.mat_code}" onkeyup=value=value.replace(/[^\w\-\u4e00-\u9fa5\.\*\s]/ig,'')>		</td>
		<td align="center">
			<input type=text name="PHP_qty" size=5 class=select value="{$ap.qty}">		</td>
		<td align="center">{if $item == 'lots'}{$FAB_select}{/if}{if $item == 'acc'}{$ACC_select}{/if}		</td>
<!--
		<td align="center">
			<input type=text name="PHP_price" size=5 class=select value="{$ap.price1}" >		</td>				
		<td align="center">
		  <img align='top' onMouseDown="javascript:Cal(document.apply_add.PHP_eta,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16" style='cursor:hand'>    
			<input type=text name="PHP_eta" size=8 class=select value="{$ap.eta}" readonly >		</td>		
-->
			<input type=hidden name="PHP_price" value="{$ap.price1}" >
			<input type=hidden name="PHP_eta"   value="{$ap.eta}" >
	  
	  <td  align="center" bgcolor=#E7E7E7 rowspan=2>				
	  <input type=hidden name="PHP_mat_cat" value="{$ap.mat_cat}" >
  	<img src="./images/add.gif"  onClick="add_mat('{$ap.ap_num}','{$ap.sup_code}','{$item}');" style="cursor:pointer">	  </td>				
	</tr>
	<tr>
		<td align="right" bgcolor="#494949" class=back><b>Placement :&nbsp;&nbsp; </b></td>
		<td align="left" colspan=4>
			<input type=text name="PHP_use" size=85 class=select value="{$ap.unit}" >		</td>
	</tr>
</table>
<!--
<hr SIZE=2 WIDTH=740>
<table border=1 cellspacing=0 cellpadding=0 width=740 align=center>
	<tr bgcolor=#bbbbbb height=25>
		<td align=center class=nvy9><b>Reason for Special Purchase</b> (Must be...)</td>
	</tr>
	<tr bgcolor=#eeeeee>
		<td class=gry9 align=left><textarea name="PHP_des" rows=2 cols=135 class=select>{if $revise <> 1}{$apply_log.0.des}{/if}</textarea></td>	
	</tr>
</table>
-->
<hr SIZE=2 WIDTH=740>
<table border=0 cellspacing=0 cellpadding=0 cols=2 width=750>
	<tr>
		<td>
			{if $edit_flag && ($apply.status < 1 || $apply.status == 5)}
			<input type="hidden" name="PHP_action" value="do_apply_spc_add2">
			<input type="hidden" name="PHP_id" value="{$ap.id}">
			<input type="hidden" name="PHP_ap_num" value="{$ap.ap_num}">
			<input type="hidden" name="PHP_back_str" value="{$back_str}">
			<input type=button value="[ Update above Special Purchase ]" class="select_red" style="cursor:pointer; width=90%" onClick="add_check('{$ap.id}','{$ap.ap_num}','{$back_str}','{$apply_log.0.des}','{$ap.supl_id}')";>
			{/if}
		</td>
		<td  width="170" class=frnt align="right">by : {$ap.ap_user}&nbsp;/&nbsp;{$ap.ap_date}</td>
	</tr>			      			
</table> 
</form>
<!--------- footer ---------->
{include file="footer.html"}