<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>===.........  SCM System .........===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script type="text/javascript" src="./js/open_detial.js"></script>
<script language="javascript">
 
function creat_pp(num,item,back_str,pp){
		window.location='po.php?PHP_action=apply_pp_add&PHP_ord_num='+num+'&PHP_item='+item+"&PHP_revise="+"&PHP_sr="+pp+back_str; 	
}


</script>
{/literal}
</head>
<body  bgcolor="ffffff" background=" ">&nbsp;
<!-- ################################################################################# -->
<table border cellspacing=0 cellpadding=2 cols=1 width=600 bgcolor=#cccccc  align=center>
	<tr>
		<td align=center>
			<table border=1 cellspacing=0 cellpadding=4 cols=1 width=600 bgcolor=#534A67>
				<tr><td class=des align=center>.....  <b>ORDER LIST -- FOR Pre-Purchase </b> -- STEP 1.......</td></tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=550 id='tbl_msg' {if $msg_YES} style="display : block" {else}style="display : none"{/if}>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy><div id='msg1'>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</div></td>
        
      </tr>
     </table>
    </td>
	</tr>
</table>
<table border cellspacing=0 cellpadding=2 width=600 bgcolor=#ffffff align=center id ='list_table'>
  <tr bgcolor="#003333" height=28> 
		<td nowrap width=90 align=center class=back><b>Order #</b></td>
		<td nowrap width=130 align=center class=back><b>Style #</b></td>
		<td nowrap width=100 align=center class=back><b>Customer</b></td>		
		<td nowrap width=80 align=center class=back><b>ETD</b></td>
		<td nowrap width=80 align=center class=back><b>Fabric<br> Purchase</b></td>	
		<td nowrap width=80 align=center class=back><b>Accessory Purchase</b></td>
  </tr>
	{if $sorder.0.id == ''}
  <tr>
		<td colspan=8 align=center class=ssign><br>No Records!<br><br>
  </tr>
	{/if}
	<form method=POST name=cfm>
	{section name=SEC loop=$sorder} 
  <tr>
		<td class=g10 align=center nowrap>
			<a href="javascript:show_order_rec('{$sorder[SEC].id}','{$sorder[SEC].order_num}')" value='ord_out' style='cursor:pointer'>
	   		<b>{$sorder[SEC].order_num}</b></a>
		</td>
		<td class=gry9 align=left>&nbsp;{$sorder[SEC].style_num}&nbsp;</td> 
		<td class=gry9 align=left>&nbsp;{$sorder[SEC].cust_iname}&nbsp;</td> 
		<td align=center class=gry9>{$sorder[SEC].etd}&nbsp;</td>   
		<td align=center class=gry9>
			<input type=button value="[ P.P. Fab.]" class="select_e" style="cursor:pointer; width=99%" onclick=creat_pp('{$sorder[SEC].order_num}','lots','{$back_str}','{$now_pp}')>
		</td>
		<td align=center class=gry9>
			<input type=button value="[ P.P. Acc.]" class="select_red" style="cursor:pointer; width=99%" onclick=creat_pp('{$sorder[SEC].order_num}','acc','{$back_str}','{$now_pp}')>
		</td>		
		<input type="hidden" name="PHP_action" value="do_bom_cfm">
		<input type="hidden" name="PHP_id" value="{$sorder[SEC].id}">
		<input type="hidden" name="PHP_wi" value="{$sorder[SEC].wi_num}">
		<input type="hidden" name="PHP_order_num" value="{$sorder[SEC].style_code}">
	</tr>
	{/section}
	</form>
</table>
<table border=0 cols=4 width=600 align=center>
	<tr>
		<td class=w9 colspan=4 align=center><span class=bgdy>※ message </font>:above list {section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]} &nbsp;{/section}&nbsp;wi record!&nbsp;&nbsp;<span class=bgdy>[ total {$max_no} entries ]</font>
	</tr>
  <tr>
		<td align=center width=100>
		{if $pages[0] > 1}
		<a href="{$cgistr_get}&PHP_sr_startno=p{$pages[1]}{$back_str}" style="cursor:pointer">&nbsp;<img src="images/left2.gif" border=0 alt="前12筆資料"></a>
		{/if}
		</td>
		<td width=300 align=center>
		{section name=PGE loop=$pages}
		{if $pages[PGE] <= $maxpage }
			{if $pages[PGE] == $now_pp}
				<font color="#FF0000"><i><b>&nbsp;{$pages[PGE]}</b></i></font>
			{else}
				<a href="{$cgistr_get}&PHP_sr_startno={$pages[PGE]}{$back_str}" style="cursor:pointer">&nbsp;{$pages[PGE]}</a>
			{/if}
		{/if}   
		{/section}
		</td>
		<td width=100 align=center>
		{if $lastpage < $maxpage}
			<a href="{$cgistr_get}&PHP_sr_startno=n{$maxpage}{$back_str}">&nbsp;<img src="images/right2.gif" border=0 alt="後12筆資料"></a>
		{/if} 
		</td>
  </tr>
</table>
<!--------- footer ---------->
{include file="footer.html"}