<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>===:::::::::: SCM SYSTEM ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/open_detial.js"></script>

{/literal}
</head>
<body >
<br>
<table cellspacing=1 cellpadding=4 cols=1 width=700 bgcolor=#003300>
	<tr>
		<td class="ylw10" align=center><small>{if $ap.status == 0}waitt'g for P / A submit
									{elseif $ap.status == 2}<span class=bgdy9><b>waitt'g for P / A CFM</b></span>
									{elseif $ap.status == 3}<span class=ylw10><b>waitt'g for P / A APV</b></span>
									{elseif $ap.status == 4}<span class=ylw10><b>P / A &nbsp;&nbsp;APVD</b></span>
									{elseif $ap.status == 5}<span class=ssign><b>P / A &nbsp;&nbsp;Reject</b></span>
									{elseif $ap.status == 6}waitt'g for P / O submit
									{elseif $ap.status == 8}<span class=bgdy9><b>waitt'g for P / O CFM</b></span>
									{elseif $ap.status == 10}<span class=ylw10><b>waitt'g for P / O APV</b></span>
									{elseif $ap.status == 12}<span class=ylw10><b>P / O &nbsp;&nbsp;APVD</b></span>
									{elseif $ap.status == 13}<span class=ssign><b>P / O &nbsp;&nbsp;Reject</b></span>									
									{else}&nbsp;{/if}
		<td class="des" align=center width=200 height=28> <span class=ssign>{if $ap.special == 0}<b>Purchase Application </b>{else}<b>Extra Purchase</b>{/if} </td>
		<td class="des" align=center width=200 height=28> P / O  # <span class=ylw10><b> {$ap.ap_num}</b></span> </td>
		<td class="ylw10" align=center height=28> {if $apply.revise}<span class=sign_b>Version</span> <b>{$apply.revise}</b>{else}&nbsp;{/if} </td>
	</tr>
</table>
{if $msg_YES}
<table border=1 cellpadding=4 cellspacing=0 cols=1 width=700>
	<tr bgcolor=#ffffff> 
		<td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
		<td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
	</tr>
</table>
{/if}
<hr SIZE=2 WIDTH=690>
<table border=1 cellspacing=0 cellpadding=0 width="700" bgcolor=#FFFFFF>
	<tr>
		<td>
			<table border=0 cellspacing=1 cellpadding=3 width="700" bgcolor=#FFFFFF>
				<tr>
					<td class=snvy width=130 align=right ><b>Supplier : </b></td>
					<td class=frnt width=130 align=left bgcolor=#E7E6E6><b>&nbsp;{$ap.s_name}</b></td>
					<td class=snvy width=80  align=right><b>Dept : </b></td>			
					<td class=frnt width=70  align=left bgcolor=#E7E6E6><b>&nbsp;{$ap.dept}</b></td>
					<td class=snvy width=90  align=right ><b>Currency: </b></td>
					<td class=frnt width=70  align=left bgcolor=#E7E6E6><b>&nbsp;{$ap.currency}</b></td>
					<td class=snvy width=70  align=right><b>Payment : </b></td>
					<td class=frnt width=60  align=left bgcolor=#E7E6E6><b>&nbsp;{$ap.dm_way}</b></td>

				</tr>
				<tr>
					<td class=snvy align=right><b>Source area : </b></td>			
					<td class=frnt align=left bgcolor=#E7E6E6><b>&nbsp;{$ap.country}</b></td>
					<td class=snvy align=right><b>Ship TO : </b></td>			
					<td class=frnt align=left bgcolor=#E7E6E6 colspan=5><b>&nbsp;{$ap.ship_name}</b></td>
				</tr>
				<tr>
					<td class=snvy align=right><b>Attn. TO : </b></td>			
					<td class=frnt align=left  bgcolor=#E7E6E6><b>&nbsp;{$ap.ship_attn}</b></td>
					<td class=snvy align=right><b>Rcver TEL: </b></td>
					<td class=frnt align=left  bgcolor=#E7E6E6 colspan=2><b>&nbsp;{$ap.ship_tel}</b></td>
					<td class=snvy align=right ><b>Rcver FAX : </b></td>
					<td class=frnt align=left  bgcolor=#E7E6E6 colspan=2><b>&nbsp;{$ap.ship_fax}</b></td>
				</tr>
				<tr>
					<td class=snvy align=right><b>Rcver Addr: </b></td>
					<td class=frnt align=left  bgcolor=#E7E6E6 colspan=7><b>&nbsp;{$ap.ship_addr}</b></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<hr SIZE=2 WIDTH=690>
{if $ap.special  == 0 || $ap.special  == 1}
<table border="1" cellspacing=0 cellpadding=2 width=700 id="table2">	
	<tr bgcolor="#003333" height=28>		
		<td width="120" class=back align="center"><b>Order #</b></td>
		<td width="140" class=back align="center"><b>Material #</b></td>
		<td width="200"  class=back align="center"><b>Color / Cat.</b></td>
		<td width="130"  class=back align="center"><b>Q'ty</b></td>
		<td width="110"  class=back align="center"><b>ETD</b></td>
	</tr>
	{section name=SEC loop=$ap_det2} 
	<tr onMouseOver="bgColor='#FCF4A4'" onMouseOut="bgColor='#ffffff'">
		<td  align="left" nowrap>&nbsp;
	  	<a href="javascript:bom_view('{$ap_det2[SEC].ord_num}','{$ap.ap_num}')" value='ord_out' style='cursor:pointer'>
 	  	{$ap_det2[SEC].ord_num}&nbsp;</a>
		</td>

		<td  align="left" nowrap>&nbsp;			
			<a href="javascript:{if $ap_det2[SEC].mat_cat == 'l'}Show_fab{else}Show_acc{/if}('{$ap_det2[SEC].mat_code}')" value='ord_out' style='cursor:pointer'>{$ap_det2[SEC].mat_code}</a>
		</td>
		<td  align="left">{$ap_det2[SEC].color}&nbsp;</td>
		<td  align="right">{$ap_det2[SEC].ap_qty|number_format:"2f"}&nbsp;{$ap_det2[SEC].unit}</td>
		<td  align="center">{if $ap_det2[SEC].eta == '0000-00-00'}&nbsp;{else}{$ap_det2[SEC].eta}{/if} </td>		
	</tr>	
	{/section}
</table>
{else}
<table border="1" cellspacing=0 cellpadding=2 width=700 id="table2">	
	<tr bgcolor="#003333" height=28>
		<td width="90" class=back align="center"><b>Order#</b></td>
		<td width="240" class=back align="center"><b>Material #</b></td>		
		<td width="140" class=back align="center"><b>Color/Cat.</b></td>
		<td width="100"  class=back align="center"><b>Q'ty</b></td>
		<td width="130"  class=back align="center"><b>ETD</b></td>
	</tr>
	{section name=SEC loop=$ap_spec} 
	<tr onMouseOver="bgColor='#FCF4A4'" onMouseOut="bgColor='#ffffff'">
		<td  align="left">			
	  	<a href="javascript:bom_view('{$ap_spec[SEC].ord_num}','{$ap.ap_num}')" value='ord_out' style='cursor:pointer'>
 	  	{$ap_spec[SEC].ord_num}&nbsp;</a>

		</td>
		<td  align="left">
			
			<a href="javascript:{if $ap_spec[SEC].mat_cat == 'l'}Show_fab{else}Show_acc{/if}('{$ap_spec[SEC].mat_code}')" value='ord_out' style='cursor:pointer'>{$ap_spec[SEC].mat_code}</a>
		</td>
		<td  align="left">{$ap_spec[SEC].color}&nbsp;</td>
		<td  align="right">{$ap_spec[SEC].ap_qty|number_format:"2f"}&nbsp;{$ap_spec[SEC].unit}</td>
		<td  align="center">{if $ap_spec[SEC].eta == '0000-00-00'}&nbsp;{else}{$ap_spec[SEC].eta}{/if} </td>		
	</tr>	
	{/section}
</table>
{/if}
<hr SIZE=2 WIDTH=690>

<!---------- SHOW 出 一些訂單歷史記錄   -->
{if $apply_special}  
<table border=1 cellspacing=0 cellpadding=0 width=690 align=center>
	<tr bgcolor=#A49587 height=25>
		<td colspan=5 align=center class=nvy9><b>Reason for Special Purchase</b></td>
	</tr>
	<tr bgcolor=#54473B height=25>
		<td width=100 class=w10 align=center>Date</td>
		<td width=80 class=w10 align=center>Item</td>
		<td width=300 class=w10 align=center>History records</td>
		<td width=80 class=w10 align=center>by</td>
	</tr>
	{section name=SEC loop=$apply_special}
	<tr bgcolor=#E2D9D1 >
		<td class=gry9 align=center><small>{$apply_special[SEC].k_date}</small></td>
		<td class=gry9 align=left>{$apply_special[SEC].item}</td>
		<td class=gry9 align=left>{$apply_special[SEC].des}</td>
		<td class=gry9 align=center>{$apply_special[SEC].user}</td>
	</tr>
	{/section}
</table>
<br>
{/if}   

{if $apply_log}  
<table border=1 cellspacing=0 cellpadding=0 width=690 align=center>
	<tr bgcolor=#bbbbbb height=25>
		<td colspan=5 align=center class=nvy9><b>History Remark</b></td>
	</tr>
	<tr bgcolor=#666666 height=25>
		<td width=100 class=w10 align=center>Date</td>
		<td width=80 class=w10 align=center>Item</td>
		<td width=300 class=w10 align=center>History records</td>
		<td width=80 class=w10 align=center>by</td>
	</tr>
	{section name=SEC loop=$apply_log}
	<tr bgcolor=#eeeeee >
		<td class=gry9 align=center><small>{$apply_log[SEC].k_date}</small></td>
		<td class=gry9 align=left>{$apply_log[SEC].item}</td>
		<td class=gry9 align=left>{$apply_log[SEC].des}</td>
		<td class=gry9 align=center>{$apply_log[SEC].user}</td>
	</tr>
	{/section}
</table>
{/if}   

<table border="0" cellspacing=0 cellpadding=2 width=700 id="table2">	
	<tr>
		<td width="100"  class=snvy align="Right">Approval : </td>
		<td width="170"  class=frnt align="left"><small>{if $ap.apv_user}<a href="javascript:message_out('{$ap.apv_user_id}')" style="cursor:pointer">{$ap.apv_user}</a>&nbsp;/&nbsp;{$ap.apv_date}{else}NO{/if}</small></td>
		<td width="100"  class=snvy align="Right">Confirm : </td>
		<td width="170"  class=frnt align="left"><small>{if $ap.cfm_user}<a href="javascript:message_out('{$ap.cfm_user_id}')" style="cursor:pointer">{$ap.cfm_user}</a>&nbsp;/&nbsp;{$ap.cfm_date}{else}NO{/if}</small></td>

		<td width="140" class=snvy align="Right">Submit : </td>
		<td width="120"  class=frnt align="left"><small>&nbsp;{if $ap.submit_date != '0000-00-00'}{$ap.submit_date}{else}NO{/if}</small></td>
		<td width="100"  class=snvy align="left">Apply by : </td>
		<td width="170"  class=frnt align="left"><small><a href="javascript:message_out('{$ap.ap_user_id}')" style="cursor:pointer">{$ap.ap_user}</a>&nbsp;/&nbsp;{$ap.ap_date}</small></td>
	</tr>
</table>

<hr SIZE=2 WIDTH=690>
<table border=0 cellspacing=0 cellpadding=0 cols=2 width=700>
	<tr>
		<td valign=top width=100>
			{if $back_str}
			<input type=button onClick="window.location.href='{$PHP_SELF}?PHP_action=apply_cfm_search{$back_str}'" value=" << back " class=select_e style="cursor:pointer; width=99; height:40;"></form>
			{/if} 
		</td>
{if $add_flag && $ap.status == 2}
	<td width=62 valign=top><form method=POST name=cfm>
		<input type="hidden" name="PHP_action" value="do_apply_cfm">
		<input type="hidden" name="PHP_id" value="{$ap.id}">
		<input type="hidden" name="PHP_aply_num" value="{$ap.ap_num}">
		<input type="hidden" name="PHP_back_str" value="{$back_str}">	
		<input type=submit value="CFM ok" class=select_e style="cursor:pointer; width=60; height:40"></form>
	</td>
	<td class=gry10 align=right valign=middle width=65>remark:</td>
	<td class=gry10 valign=top><form method=POST name=reject>
	    <textarea name="PHP_detail" rows=2 cols=60 class=select>{$ap_log.des}</textarea>
		<input type="hidden" name="PHP_action" value="reject_apply_cfm">
		<input type="hidden" name="PHP_id" value="{$ap.id}">
		<input type="hidden" name="PHP_aply_num" value="{$ap.ap_num}">
		<input type="hidden" name="PHP_back_str" value="{$back_str}">	
		<input type=submit value=" reject " class=select_e style="cursor:pointer; width=60; height=40" onClick=this.width=0; /></form>
	</td>
{/if}
  </tr>
</table> 
<!--------- footer ---------->
{include file="footer.html"}