<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>===:::::::::: SCM System ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
</head>
{literal}
<script language="javascript" src="./js/col.js"></script>
<script language="javascript" src="./js/date.js"></script>
<script language="javascript" src="./js/open_detial.js"></script>
<script>


</script>

{/literal}
<body>

<br>
<table cellspacing=1 cellpadding=4 cols=2 width=800 bgcolor=#333333>
	<tr><td class="des" align=center height=28>[ <b>Pre-Purchase  status for Order </b> : <span class=ylw10><b>{$wi.wi_num}</b></span>]</td></tr>
</table>
{if $msg_YES}
<table border=1 cellpadding=4 cellspacing=0 cols=1 width=800>
	<tr bgcolor=#ffffff> 
		<td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
		<td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
	</tr>
</table>
{/if}
<table border=0 cellspacing=0 cellpadding=1 width=800 bgcolor=#FFFFFF>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>
    <td class=snvy align=right nowrap>Customer :</td>
    <td class=bgdy align=left><b>&nbsp;{$smpl.cust_iname}</b></td>
    <td class=snvy align=right nowrap>Department :</td>
    <td class=bgdy align=left><b>&nbsp;{$wi.dept}</b></td>
    <td class=snvy align=right nowrap><b>ETD :</b></td>
    <td class=bgdy align=left><b>&nbsp;{$wi.etd}</b></td>
  </tr>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
</table>
<table border cellspacing=0 cellpadding=3 width=800 bgcolor=#ffffff align=center>
  <tr bgcolor="#003333" height=28> 
		<td nowrap width=100 align=center class=back><b>Picture</b></td>
		<td nowrap width=100 align=center class=back><b>Order #</b></td>
		<td nowrap width=100 align=center class=back><b>style</b></td>
		<td nowrap width=150 align=center class=back><b>SIZE RANGE</b></td>
		<td nowrap width=200 align=center class=back><b>Q'ty / Unit</b></td>
  </tr>
  <tr bgcolor=#DDDDDD height=28>
		<td class=g10 align=center rowspan=2>&nbsp;
		<input type="image" src="{$wi.pic_url}" name="pic" width=100 border="0" onclick='window.open2("{$wi.pic_url}","","height=640,width=480")'>
		</td>
		<td class=grn9 align=center>
		<a href="javascript:Show_ord('{$wi.smpl_id}','{$wi.style_code}')" value='ord_out' style='cursor:pointer'>
		<b>&nbsp;{$smpl.order_num}</b></a></td>
		<td class=grn9 align=center><b>&nbsp;{$smpl.style}</b></td>
		<td class=grn9 align=center><b>&nbsp;{$smpl.size_scale}</b></td>
		<td class=grn9 align=center><b><span class=bgdy9><b>{$total|number_format}</b></span>&nbsp;{if $wi.unit}{$wi.unit}{else}<span class=bgdy9><UnInput></span>{/if} (Order : {$smpl.qty|number_format}{$wi.unit})</b></td>
  </tr>
  <tr>
		<td colspan=5 >
			<table border cellspacing=0 cellpadding=2 width=470 bgcolor=#ffffff align=center>
				{$show_breakdown}
			</table>
		</td>
  </tr>
</table>
<!-------------  material range ------------->

<form method=POST name=pp_wi>
{if !$pp_mat_NONE}
<br>
	<table width=800 border=1 cellspacing=0 cellpadding=1>
	<!------- 物料預先採購  Title --------- -->
	 <tr bgcolor=#D5D5BE>
	    <td colspan=7  class=b9  align=center><b>Pre-Purchase --&nbsp; Write-Off &nbsp;[<b>{$org_mat_name}</b>]</b></td>
	 </tr>	
	 <tr bgcolor=#D5D5BE>
	    <td width=100  class=b9  align=center><b>Matriel #</b></td>
	    <td width=100  class=b9  align=center><b>Name</b></td>
	    <td width=100  class=b9  align=center><b>Placement</b></td>
	  	<td width=100  class=b9  align=center><b>Color/cat.</b></td>
	  	<td width=100  class=b9  align=center><b>Q'TY</b></td>
	  	<td width=100  class=b9  align=center><b>P.O.#</b></td>
	  	<td width=100  class=b9  align=center><b>&nbsp;</b></td>
	 </tr>
	{section name=BOM loop=$pp_mat} 
	<tr onmouseover="bgColor='#D4E0F7'" onmouseout="bgColor='#ffffff'">
		<td class=b9 align=left>&nbsp;<a href="javascript:{if $pp_mat[BOM].mat_cat == 'a'}Show_acc{else}Show_fab{/if}('{$pp_mat[BOM].mat_code}')" value='ord_out' style='cursor:pointer'>{$pp_mat[BOM].mat_code}</a></td>
		<td class=b9 align=left>&nbsp;{$pp_mat[BOM].mat_name}</td>

		<td class=b7 align=left>&nbsp;{$pp_mat[BOM].use_for}</td>
		<td class=b9 align=left>&nbsp;{$pp_mat[BOM].color}</td>
	  <td class=snvy align=right>&nbsp;{$pp_mat[BOM].ap_qty}{$pp_mat[BOM].po_unit}</td>
	  <td class=snvy align=center>&nbsp;<a href="javascript:pa_show('{$pp_mat[BOM].ap_num}')">{$pp_mat[BOM].po_num}</a></td>
	  <td class=snvy align=center>&nbsp;<input type="radio" value="{$pp_mat[BOM].id}" name="PHP_po_id"></td>
	</tr>	
	{/section}
	<input type=hidden name='PHP_bom_id'   value="{$org_bom_id}">
	<input type=hidden name='PHP_id'       value="{$wi.id}">
	<input type=hidden name='PHP_action' 	 value="do_aply_pp_match">
	<input type=hidden name='PHP_back_str' value="{$back_str2}">
	<input type=hidden name='PHP_mat_cat' value="{$org_mat_cat}">
	<input type=hidden name='PHP_mat_name' value="{$org_mat_name}">
	<input type=hidden name='PHP_mat_qty' value="{$org_mat_qty}">		
	<input type=hidden name='PHP_mat_unit' value="{$org_mat_unit}">		
	<tr><td colspan=6 >&nbsp;</td><td> <input type=submit value=" SUBMIT " class=select_e style="cursor:pointer; width=99%"></td></tr>
	</table>
{/if}
</font>
<br>

<table width=800 border=0 cellspacing=1 cellpadding=2>
	<tr bgcolor=#ffffff>
		<td class=gry9 align=center><small>BOM : 
		<font color=black>Open: </font><u>{$wi.creator}</u>&nbsp;&nbsp;<u>{$wi.open_date}</u>&nbsp;&nbsp;&nbsp;&nbsp;
		<font color=black>Last Update : </font><u>{if $wi.updator}{$wi.updator}{else}[ None ]{/if}</u>&nbsp;&nbsp;<u>{$wi.last_update}</u>&nbsp;&nbsp;&nbsp;&nbsp;
		<font color=black>{literal}Submit: {/literal}</font><u>{if $wi.confirmer}{$wi.confirmer}{else}[ None ]{/if}</u>&nbsp;&nbsp;<u>{$wi.cfm_date}</u>
		</small></td>
	</tr>
</table>

<!--------- wi data end ---------->
<table border=0 cellspacing=0 cellpadding=2 width=800 bgcolor=#ffffff align=center>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>
		<td colspan=2>
		{if $back_str  && $edit_non <> 1}
			<input type=button onClick="window.location.href='{$PHP_SELF}{$back_str}'" value=" << go back " class=select_e style="cursor:pointer; width=99%">
		{/if}
		</td>
	</tr>
</table>
{include file="footer.html"}