<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>===:::::::::: SCM SYSTEM ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script type="text/javascript"
        src="./js/build/yahoo/yahoo-min.js"></script>
<script type="text/javascript"
        src="./js/build/connection/connection-min.js"></script>
<script language="javascript" src="./js/col.js"></script>


<Script language="javascript">
  
function search_ord(dept,cust,cat) {
	var url ='index2.php?PHP_action=apply_add_search&PHP_dept='+dept+'&PHP_cust='+cust+"&PHP_item="+cat; 	
	var nm = 'Order';
	window.open(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=700 top=50, left=100');
}

function writeToAPAdd(mat_id,vendor,eta,wi_id,item,unit,mat_code,price){
	var old_sup = '{/literal}{$ap.sup_code}{literal}';
		if(vendor != old_sup)
	{
			if ( !confirm("Are you sure to change supplier for this Material")) {
				return;
			} 
	}
	window.location='index2.php?PHP_action=apply_add_det&PHP_wi_id='+wi_id+'&PHP_mat_id='+mat_id+"&PHP_vendor="+vendor+"&PHP_eta="+eta+"&PHP_item="+item+"&PHP_unit="+unit+"&PHP_mat_code="+mat_code+"&PHP_price="+price+"&PHP_ap_num={/literal}{$ap.ap_num}&PHP_vendor={$ap.sup_code}&PHP_revise={$revise}{literal}"; 	
}

function del_mat(ap_num,ap_id,mat_id,mat_cat,mat_code,color,r){
	if ( confirm("Are you sure to delete Material : [ "+mat_code+" ] Color/cat : ["+color+"] ??")) {
		var i=r.parentNode.parentNode.rowIndex
		document.getElementById('mat_table').deleteRow(i)
		sUrl="index2.php?PHP_action=del_ap_det_ajax&PHP_id="+ap_id+"&PHP_ap_num="+ap_num+"&PHP_mat_id="+mat_id+"&PHP_mat_cat="+mat_cat+"&PHP_color="+color+"&PHP_mat_code="+mat_code;
		transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, callback, null);
	} 
}

function del_mat_spec(ap_num,ap_id,mat_id,mat_cat,mat_code,color,r)
{
	if ( confirm("Are you sure to delete Material : [ "+mat_code+" ] Color/cat : ["+color+"] ??")) {

  var i=r.parentNode.parentNode.rowIndex
  document.getElementById('mat_table').deleteRow(i)
  
	sUrl="index2.php?PHP_action=del_ap_spc_ajax&PHP_id="+ap_id+"&PHP_ap_num="+ap_num+"&PHP_mat_id="+mat_id+"&PHP_mat_cat="+mat_cat+"&PHP_color="+color+"&PHP_mat_code="+mat_code;

  transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, callback, null);
  
	} 
}

function add_check(id,ap_num,back_str,revise,sup_id,old_des)
{
	var new_spec = window.document.forms['apply_add'].elements['PHP_special'].value;

/*
	var currency = window.document.forms['apply_add'].elements['PHP_CURRENCY'].value;
	var fty = window.document.forms['apply_add'].elements['PHP_FACTORY'].value;
	var dmway = window.document.forms['apply_add'].elements['PHP_dm_way'].value;
	var des = window.document.forms['apply_add'].elements['PHP_des'].value;

	var name = window.document.forms['apply_add'].elements['PHP_ship_name'].value;
	var attn = window.document.forms['apply_add'].elements['PHP_ship_attn'].value;
	var fax  = window.document.forms['apply_add'].elements['PHP_ship_fax'].value;
	var tel  = window.document.forms['apply_add'].elements['PHP_ship_tel'].value;
	var addr = window.document.forms['apply_add'].elements['PHP_ship_addr'].value;
//  alert (new_spec);
		if ( des == '' && new_spec > 0) {
				alert("Please input description");				
				return;				
		} 

		if (currency == ''){
				alert("Please Select Currency");				
				return;				
		}
		if (name == ''){
				alert("Please Select Ship To");				
				return;				
		}

	window.location='po.php?PHP_action=do_apply_edit&PHP_id='+id+'&PHP_sattn='+attn+'&PHP_sname='+name+'&PHP_sfax='+fax+'&PHP_stel='+tel+'&PHP_saddr='+addr+'&PHP_des='+des+'&PHP_old_des='+old_des+
									'&PHP_new_special='+new_spec+'&PHP_ap_num='+ap_num+"&PHP_CURRENCY="+currency+"&PHP_FACTORY="+fty+"&PHP_cgi="+back_str+"&PHP_dmway="+dmway+"&PHP_sup_id="+sup_id+"&PHP_revise={/literal}{$revise}{literal}"; 	
*/

	var tab = document.getElementById("mat_table");
	var rows = tab.rows.length ;

	if(rows == 1)
	{
		alert("NO Purchase Item!! \r\r This Purchase will be deleted !");
		window.location="po.php?PHP_action=do_apply_del&PHP_ap_num="+ap_num+"&PHP_back="+back_str;
	}else{
		window.location='po.php?PHP_action=do_apply_shift_edit&PHP_id='+id+'&PHP_new_special='+new_spec+'&PHP_ap_num='+ap_num+"&PHP_cgi="+back_str+"&PHP_sup_id="+sup_id+"&PHP_revise={/literal}{$revise}{literal}"; 	
	}
}

function ship_show(r)
{
		var ship = r.value
		sUrl="index2.php?PHP_action=get_ship_ajax&PHP_ship="+ship;
		transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, shipback, null);
}

function mater_edit(id,ap_num,id_comp,bom_qty,special)
{
	var qty = window.document.forms['apply_add'].elements['PHP_qty_'+id].value;
	var eta = window.document.forms['apply_add'].elements['PHP_eta_'+id].value;
	var new_spec = window.document.forms['apply_add'].elements['PHP_special'].value;
	var tmp = qty - bom_qty;
	if ( tmp > 0  && special == 0)  
	{
		window.document.forms['apply_add'].elements['PHP_special'].value = 1;		
	}else{
		window.document.forms['apply_add'].elements['PHP_special'].value = special;		

	}
//	alert (window.document.forms['apply_add'].elements['PHP_special'].value);
	sUrl="po.php?PHP_action=mat_edit&PHP_ap_num="+ap_num+"&PHP_id_comp="+id_comp+"&PHP_qty="+qty+"&PHP_eta="+eta+"&PHP_special="+new_spec;
	transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, matback, null);


}
</script>
<script>
var transaction;
var sUrl;
var matback = {
	success: function(o) {
		document.getElementById("tbl_msg").style.display='block';    
		var response = o.responseText;    	
		msg1.innerText  = response; 
	},
	failure: function(o) {
		alert("Error：Can't get data");
	}
};

var callback = {
	success: function(o) {
		document.getElementById("tbl_msg").style.display='block';    
		var response = o.responseText;    	
		msg1.innerText  = response; 
	},
	failure: function(o) {
		alert("Error：Can't get data");
	}
};

var shipback = {
	success: function(o) {
		var response = o.responseText.split("|");    	
		window.document.forms['apply_add'].elements['PHP_ship_name'].value = response[0];
		window.document.forms['apply_add'].elements['PHP_ship_attn'].value = response[4];
		window.document.forms['apply_add'].elements['PHP_ship_fax'].value  = response[3];
		window.document.forms['apply_add'].elements['PHP_ship_tel'].value  = response[2];
		window.document.forms['apply_add'].elements['PHP_ship_addr'].value = response[1];
				
	},
	failure: function(o) {
		alert("Error：Can't get data");
	}
};

</script>
{/literal}
</head>
<body >
<br>
<form METHOD="POST" name="apply_add" action="{$PHP_SELF}">
<table cellspacing=1 cellpadding=4 cols=1 width=700 bgcolor=#003300>
	<tr>
		<td class="ylw10" align=right width=200 height=28><b>Purchase Order</b> -- STEP 1.</td>

		<td class="des" align=center width=500 height=28> P / O # <span class=ylw10><b>{$ap.po_num}</b></span>   -- for {if $revise} REVISE {elseif $back_str} EDIT {else}Append{/if}</td>
	</tr>
</table>
<table border=1 cellpadding=4 cellspacing=0 cols=1 width=700 id='tbl_msg' {if $msg_YES} style="display : block" {else}style="display : none"{/if}>
	<tr bgcolor=#ffffff> 
		<td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
		<td class=bgdy><div id='msg1'>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</div></td>
	</tr>
</table>
<hr SIZE=2 WIDTH=690>
	<input type=hidden name="PHP_special" value="{$ap.special}">
<table border=1 cellspacing=0 cellpadding=0 width="700" bgcolor=#FFFFFF>
	<tr>
		<td>
			<table border=0 cellspacing=1 cellpadding=3 width="700" bgcolor=#FFFFFF>
				<tr>
					<td class=snvy width=140 align=right><b>Supplier :</b> </td>
					<td class=frnt width=140 align=left bgcolor=#E7E6E6><b>&nbsp;{$ap.s_name}</b></td>
					<td class=snvy width=70 align=right><b>Dept :</b> </td>			
					<td class=frnt width=70 align=left bgcolor=#E7E6E6><b>&nbsp;{$ap.dept}</b></td>
					<td class=snvy align=right nowrap><b>Source area : </b></td>			
					<td class=frnt align=left bgcolor=#E7E6E6><b>&nbsp;{$ap.country}</b></td>
					</tr>
<!--
					<td class=snvy width=90 align=right ><b>Currency: </b></td>
					<td class=frnt width=70 align=left bgcolor=#E7E6E6>&nbsp;{$CURRENCY_select}</td>

					<td class=snvy width=60 align=right><b>Payment : </b></td>
					<td class=frnt width=60 align=left bgcolor=#E7E6E6>&nbsp;{$dm_way_select}</td>

				
				<tr>
					<td class=snvy align=right><b>Ship TO : </b></td>			
					<td class=frnt align=left bgcolor=#E7E6E6>&nbsp;{$FACTORY_select}</td>
					<td class=frnt align=left colspan=4 bgcolor=#E7E6E6>&nbsp;<b>OR</b>&nbsp;&nbsp;<input type=text name="PHP_ship_name" size=50 class=select value="{$ap.ship_name}"></td>
				</tr>
				<tr>
					<td class=snvy align=right><b>Attn. TO : </b></td>			
					<td class=frnt align=left  bgcolor=#E7E6E6><b>&nbsp;<input type=text name="PHP_ship_attn" size=15 class=select value="{$ap.ship_attn}"></b></td>
					<td class=snvy align=right nowrap><b>Rcver TEL: </b></td>
					<td class=frnt align=left  bgcolor=#E7E6E6 colspan=2><b>&nbsp;<input type=text name="PHP_ship_tel" size=24 class=select value="{$ap.ship_tel}"></b></td>
					<td class=snvy align=right ><b>Rcver FAX : </b></td>
					<td class=frnt align=left  bgcolor=#E7E6E6 colspan=2><b>&nbsp;<input type=text name="PHP_ship_fax" size=20 class=select value="{$ap.ship_fax}"></b></td>
				</tr>
				<tr>
					<td class=snvy align=right><b>Rcver Addr: </b></td>
					<td class=frnt align=left  bgcolor=#E7E6E6 colspan=7><b>&nbsp;<input type=text name="PHP_ship_addr" size=108 class=select value="{$ap.ship_addr}"></b></td>
				</tr>
-->				
			</table>
		</td>
  </tr>
</table>
<hr SIZE=2 WIDTH=690>
{if $ap.special  == 0 || $ap.special  == 1}
<table border="1" cellspacing=0 cellpadding=2 width=700 id="mat_table">	
	<tr bgcolor="#003333" height=28>
		<td width="70" class=back align="center"><b>Order#</b></td>
		<td width="60" class=back align="center"><small>BOM Q'ty</small></td>
		<td width="50" class=back align="center"><small>Purchase</small></td>
		<td width="120" class=back align="center"><b>Material #</b></td>		
		<td width="100" class=back align="center"><b>Color/Cat.</b></td>
		<td width="120" class=back align="center"><b>PO Q'ty</b></td>
		<td width="100" class=back align="center"><b>ETD</b></td>
		<td width="50"  class=back align="center"><b>EDIT</b></td>
		<td width="30"  class=back align="center"><b>DEL</b></td>
	</tr>
	{section name=SEC loop=$ap_det2} 
	<tr onMouseOver="bgColor='#FCF4A4'" onMouseOut="bgColor='#ffffff'">
		<td  align="left" nowrap><small>&nbsp;{$ap_det2[SEC].ord_num}</small></td>
		<td  align="right" nowrap><small>&nbsp;{$ap_det2[SEC].bom_qty|number_format:"2f"}</small></td>
		<td  align="right" nowrap><small>&nbsp;{$ap_det2[SEC].sum_po|number_format:"2f"}</small></td>
		<td  align="left" nowrap><small>&nbsp;{$ap_det2[SEC].mat_code}</small></td>
		<td  align="left"><small>&nbsp;{$ap_det2[SEC].color}</small></td>
		<td  align="right"><input type=text name="PHP_qty_{$ap_det2[SEC].id}" size=8 class=select value="{$ap_det2[SEC].ap_qty}">&nbsp;{$ap_det2[SEC].unit}</td>
		<td  align="center"><input type=text name="PHP_eta_{$ap_det2[SEC].id}" size=8 class=select value="{$ap_det2[SEC].eta}"> 
												<img align='top' onmousedown="javascript:Cal(document.apply_add.PHP_eta_{$ap_det2[SEC].id},1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16" style='cursor:hand'>    
		</td>		
		<td>
			<input type=button value="EDIT" class=select_e style="cursor:pointer; width=99%" onClick="mater_edit('{$ap_det2[SEC].id}','{$ap.ap_num}','{$ap_det2[SEC].id_comp}','{$ap_det2[SEC].bom_qty}','{$ap.special}')"; >
		</td>
	  <td   align="center" bgcolor=#E7E7E7>				
  	<input type='image' src="images/del.png"  onClick="del_mat('{$ap.ap_num}','{$ap_det2[SEC].id_comp}','{$ap_det2[SEC].bom_id_comp}','{$ap_det2[SEC].mat_cat}','{$ap_det2[SEC].mat_code}','{$ap_det2[SEC].color}',this);">	
		</td>
	</tr>	
	{/section}
</table>
{else}
<table border="1" cellspacing=0 cellpadding=2 width=700 id="mat_table">	
	<tr bgcolor="#003333" height=28>
		<td width="70" class=back align="center"><b>Order#</b></td>
		<td width="60" class=back align="center"><small>BOM Q'ty</small></td>
		<td width="50" class=back align="center"><small>Purchase</small></td>
		<td width="120" class=back align="center"><b>Material #</b></td>		
		<td width="100" class=back align="center"><b>Color/Cat.</b></td>
		<td width="120" class=back align="center"><b>PA Q'ty</b></td>
		<td width="100" class=back align="center"><b>ETD</b></td>
		<td width="50"  class=back align="center"><b>EDIT</b></td>
		<td width="30"  class=back align="center"><b>DEL</b></td>
	</tr>
		{section name=SEC loop=$ap_spec} 
	<tr onMouseOver="bgColor='#FCF4A4'" onMouseOut="bgColor='#ffffff'">
		<td  align="left">			
	  	{$ap_spec[SEC].ord_num}
		</td>
		<td  align="right" nowrap><small>&nbsp;{$ap_spec[SEC].bom_qty|number_format:"2f"}</small></td>
		<td  align="right" nowrap><small>&nbsp;{$ap_spec[SEC].po_qty|number_format:"2f"}</small></td>
		<td  align="left" nowrap><small>&nbsp;{$ap_spec[SEC].mat_code}</small></td>
		<td  align="left"><small>&nbsp;{$ap_spec[SEC].color}</small></td>
		<td  align="left"><input type=text name="PHP_qty_{$ap_spec[SEC].id}" size=8 class=select value="{$ap_spec[SEC].ap_qty}">&nbsp;{$ap_spec[SEC].unit}</td>
		<td  align="center"><input type=text name="PHP_eta_{$ap_spec[SEC].id}" size=8 class=select value="{$ap_spec[SEC].eta}"> 
												<img align='top' onmousedown="javascript:Cal(document.apply_add.PHP_eta_{$ap_spec[SEC].id},1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16" style='cursor:hand'>    
		</td>		
		<td>
			<input type=button value="EDIT" class=select_e style="cursor:pointer; width=99%" onClick="mater_edit('{$ap_spec[SEC].id}','{$ap.ap_num}','{$ap_spec[SEC].id}','{$ap_spec[SEC].bom_qty}','{$ap.special}')"; >
		</td>
	  <td   align="center" bgcolor=#E7E7E7>				
  	<input type='image' src="images/del.png"  onClick="del_mat_spec('{$ap.ap_num}','{$ap_spec[SEC].id}','{$ap_spec[SEC].mat_id}','{$ap_spec[SEC].mat_cat}','{$ap_spec[SEC].mat_code}','{$ap_spec[SEC].color}',this);">	
		</td>




	</tr>	



	{/section}
	</table>
{/if}
<!--
<hr SIZE=2 WIDTH=690>
<table border=1 cellspacing=0 cellpadding=0 width=690 align=center>
	<tr bgcolor=#bbbbbb height=25>
		<td align=center class=nvy9><b>Reason for Special Purchase</b></td>
	</tr>
	<tr bgcolor=#eeeeee >
		<td class=gry9 align=left><textarea name="PHP_des" rows=2 cols=120 class=select>{$apply_log.0.des}</textarea></td>	
	</tr>
</table>
-->
<hr SIZE=2 WIDTH=690>
<table border=0 cellspacing=0 cellpadding=0 cols=2 width=700>
	<tr>
			{if $back_str}	
		<td width=100>
			<input type=button onClick="window.location.href='po.php?PHP_action=po_sfhift_list&{$back_str}'" value=" << back " class=select_e style="cursor:pointer; width=99">
		</td>
			{/if} 
		<td width=450>
			<input type=button value="[ Update Above Records ]" class=select_e style="cursor:pointer; width=95%" onClick="add_check('{$ap.id}','{$ap.ap_num}','{$back_str}','{$revise}','{$ap.supl_id}','')"; >
		</td>
	</tr>
</table>
</form>
<!--------- footer ---------->
{include file="footer.html"}