{include file="header.html"}
<table cellspacing="0" cellpadding="0" cols="0" width="100%">
	<tr>
		<td class="subtitle">{if $T_arrial_title}{$T_arrial_title}{else}Material Arrival{/if}</td>
	</tr>
	<tr>
		<td class="space"></td>
	</tr>
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" cols="0" >
				<tr>
					<td class="subInputName">B.L. Number # : </td>
					<td class="subInputValue">{$po_ship.bl_num}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" cols="0" >
				<tr>
					<td class="subInputName">Carrier Number # : </td>
					<td class="subInputValue">{$po_ship.carrier_num}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" cols="0" >
				<tr>
					<td class="subInputName">From : </td>
					<td class="subInputValue">{$po_ship.org}</td>
					<td class="subInputName">TO : </td>
					<td class="subInputValue">{$po_ship.dist}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="space_line"></td>
	</tr>
    <tr>
		<td class="space"></td>
	</tr>
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" cols="0" >
				<tr>
					<td class="subInputName">SHIP BY : </td>
					<td class="subInputValue">{$po_ship.ship_way} {$po_ship.ex_cmpy}</td>
					<td class="subInputName">SHIP Date : </td>
					<td class="subInputValue">{$po_ship.ship_date}</td>
					<td class="subInputName">ETA : </td>
					<td class="subInputValue">{$po_ship.ship_eta_date}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="space_line"></td>
	</tr>
    <tr>
		<td class="space"></td>
	</tr>
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" cols="0" >
				<input type="hidden" id="ship_id" name="ship_id" value="{$po_ship.id}">
				<input type="hidden" id="carrier_num" name="carrier_num" value="{$po_ship.carrier}">
				<tr id="reply" style="display:{if $po_ship.arrival_user == '' }none{else}{/if}">
					<td class="subInputName">{if $po_ship.arrival_user}Arrival Date : {/if}</td>
					<td class="subInputValue">
						{if $po_ship.arrival_user}{$po_ship.arrival_date} ({$po_ship.arrival_user}){/if}
						{if $po_ship.arrival_active == 'y' and !$inventory_i}<input class="submit_ajax" type="button" id="reply_arrival" style="width:160px;" value="{if $T_reply_arrial}{$T_reply_arrial}{else}Reply Arrival{/if}">{/if}
					</td>
				</tr>
				<tr id="append" style="display:{if $po_ship.arrival_active == 'n' }{else}none{/if}">
					<td class="subInputName">
						<input class="submit_ajax" type="button" id="append_arrival" style="width:296px;" value="{if $T_confirm_arrial}{$T_confirm_arrial}{else}Confirm Arrival{/if} ({$date|date_format:"%Y-%m-%d"})">
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="space_line"></td>
	</tr>
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" cols="0" >
				<tr>
					<td class="subInputName">Detial : </td>
					<td class="subInputValue" id="DO" style="cursor:pointer;">OPEN</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="space"></td>
	</tr>
	<tr id="SH" style="display:none">
		<td>
			<table cellpadding="0" cellspacing="0" cols="0" >
                {foreach from=$po_ship_det.po_val key=po_num item=value }
                <tr>
                    <td>
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="background:url(images/box/L_T.png) bottom;background-repeat:no-repeat;height:14px;width:14px;"></td>
                                <td style="background:url(images/box/M_T.png) bottom;background-repeat:repeat-x;" ></td>
                                <td style="background:url(images/box/R_T.png) bottom;background-repeat:no-repeat;width:14px;"></td>
                            </tr>
                            <tr>
                                <td style="background:url(images/box/L_M.png) left;background-repeat:repeat-y;"></td>
                                <td bgcolor="ccccff">
                                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                        <tr>
                                            <td colspan="4">
                                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                    <tr>
                                                        <td>
                                                            <table border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td width="90px" id="box_right">P.O. #：</td>
                                                                    <td width="120px" id="box_left"><a id="Popup" href="#" www="po.php?PHP_action=po_rcv_view&PHP_aply_num={$po_num|replace:'O':'A'}&PHP_mat_code=undefined&PHP_resize=1">{$po_num}</a></td>
                                                                    <td width="6px"></td>
                                                                    <td width="90px">&nbsp;</td>
                                                                    <td width="120px">&nbsp;</td>
                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td align="right" valign="top">
                                                            <table border="0" cellspacing="0" cellpadding="0">
                                                                <tr align="right">
                                                                    <td><img id="append" po_id="det{$po_num}" src="images/bullet_toggle_plus.png" title="OPEN"></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>                                    
                                        <tr id="det{$po_num}" style="display:none;">
                                            <td colspan="4"><hr></td>
                                        </tr>
                                        <tr id="det{$po_num}" style="display:none;">
                                            <td colspan="4">
                                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                    <tr>
                                                        <td id="list_title" title="Invoice Number">Inv. #</td>
                                                        <td id="list_title" title="Invoice Number">P.I. #</td>
                                                        <td id="list_title">Name</td>
                                                        <td id="list_title">Content</td>
                                                        <td id="list_title">Construction</td>
                                                        <td id="list_title">Cuttable<br>Width</td>
                                                        <td id="list_title">Color</td>
                                                        <td id="list_title" title="Ship Qty">Ship Qty</td>
                                                        <td id="list_title">Unit</td>
                                                    </tr>
                                                    {foreach from=$value key=ke item=val }
                                                    <tr id="box_txt">
                                                        <td id="list_left">{$val.invoice_num}</td>
                                                        <td id="list_left">{$val.pi_num}</td>
                                                        <td id="list_left" title="{$val.lots_code}">{$val.mat_name}</td>
                                                        <td id="list_left">{$val.des}</td>
                                                        <td id="list_left">{$val.specify}</td>
                                                        <td id="list_left">{$val.width}</td>
                                                        <td id="list_left">{$val.color}</td>
                                                        <td id="list_right">{$val.qty|number_format:"2f"}</td>
                                                        <td id="list_left">{$val.unit}</td>
														<td id="list_left"><img id="append" po_id="view_po_{$val.po_det}" src="images/bullet_toggle_plus.png" title="OPEN"></td>
                                                    </tr>
                                                    <tr id="view_po_{$val.po_det}" style="display:none;">
														<td class="list_data" colspan="10">
														<table id="mat_" border="0" cellspacing="0" cellpadding="0" align="left">
																<tr>
																	<td id="list_title2" colspan="7" >Packing List</td>
																	<td id=""></td>
																</tr>
																<tr>
																	<td id="list_title">C/NO</td>
																	<td id="list_title">L/NO</td>
																	<td id="list_title">R/NO</td>
																	<td id="list_title">Q'TY</td>
																	<td id="list_title">N.W.</td>
																	<td id="list_title">G.W.</td>
																	<td id="list_title">C/O</td>
																</tr>

                                                                {foreach from=$po_ship_det[$val.po_det] key=key item=vals }
																<tr id="box_txt">
																	<td id="list_title3">&nbsp;{$vals.c_no}&nbsp;</td>
																	<td id="list_title3">&nbsp;{$vals.l_no}&nbsp;</td>
																	<td id="list_title3">&nbsp;{$vals.r_no}&nbsp;</td>
																	<td id="list_title3">&nbsp;{$vals.qty}&nbsp;</td>
																	<td id="list_title3">&nbsp;{$vals.nw}&nbsp;</td>
																	<td id="list_title3">&nbsp;{$vals.gw}&nbsp;</td>
																	<td id="list_title3">&nbsp;{$vals.c_o}&nbsp;</td>
																</tr>
																{/foreach}
																<!-- 主料出貨項目 -->
															</table>
														</td>
                                                    </tr>
                                                    {/foreach}
                                                </table>
                                            </td>
                                        </tr>
                                        <tr id="det{$po_num}" style="display:none;">
                                            <td colspan="4"><hr></td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="background:url(images/box/R_M.png) left;background-repeat:repeat-y;"></td>
                            </tr>
                            <tr>
                                <td style="background:url(images/box/L_B.png) top;background-repeat:no-repeat;height:14px;"></td>
                                <td style="background:url(images/box/M_B.png) top;background-repeat:repeat-x;"></td>
                                <td style="background:url(images/box/R_B.png) top;background-repeat:no-repeat;"></td>
                            </tr>
                        </table>                    
                    </td>
                </tr>
                {/foreach}




















<!-- 








                {section name=DET loop=$po_ship_det}
				{if $smarty.section.DET.index % 16 == 0}
				<tr>
					<td class="ListName" title="Invoice Number">{if $T_invoice_num}{$T_invoice_num}{else}Inv. #{/if}</td>
					<td class="ListName" title="P.I.">P.I. #</td>
					<td class="ListName" title="Purchase Order Number">PO #</td>
					<td class="ListName" title="Mat name">{if $T_material_name}{$T_material_name}{else}Name{/if}</td>
                    <td class="ListName" title="Content">Content</td>
                    <td class="ListName" title="Construction">Construction</td>
                    <td class="ListName" title="Cuttable Width">Cuttable<br>Width</td>
					<td class="ListName" title="Color">{if $T_color}{$T_color}{else}Color{/if}</td>
					<td class="ListName" title="Size">{if $T_size}{$T_size}{else}Size{/if}</td>					
					<td class="ListName" title="Ship Qty">{if $T_ship_qty}{$T_ship_qty}{else}Ship Qty{/if}</td>
					<td class="ListName" title="Unit">{if $T_unit}{$T_unit}{else}Unit{/if}</td>
				</tr>				
				{/if}
				<tr id="List_TR">
					<td class="ListValueLeft">{if $po_ship_det.po_val[DET].invoice_num}{$po_ship_det.po_val[DET].invoice_num}{else}&nbsp;{/if}</td>
					<td class="ListValueLeft">{if $po_ship_det.po_val[DET].pi_num}{$po_ship_det.po_val[DET].pi_num}{else}&nbsp;{/if}</td>
					<td class="ListValueLeft">{if $po_ship_det.po_val[DET].po_num}{$po_ship_det.po_val[DET].po_num}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det.po_val[DET].mat_name}{$po_ship_det.po_val[DET].mat_name}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det.po_val[DET].des}{$po_ship_det.po_val[DET].des}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det.po_val[DET].specify}{$po_ship_det.po_val[DET].specify}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det.po_val[DET].width}{$po_ship_det.po_val[DET].width}{else}&nbsp;{/if}</td>

					<td class="ListValueLeft">{if $po_ship_det.po_val[DET].color}{$po_ship_det.po_val[DET].color}{else}&nbsp;{/if}</td>
					<td class="ListValueLeft">{if $po_ship_det.po_val[DET].size}{$po_ship_det.po_val[DET].size}{else}&nbsp;{/if}</td>
					<td class="ListValueRight">{if $po_ship_det.po_val[DET].qty}{$po_ship_det.po_val[DET].qty|number_format:2}&nbsp;{$po_ship_det.po_val[DET].prc_unit}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det.po_val[DET].po_unit}{$po_ship_det.po_val[DET].po_unit}{else}&nbsp;{/if}</td>

				</tr>
				{/section}
				{section name=DET loop=$po_ship_det}
				{if $smarty.section.DET.index % 16 == 0}
				<tr>
					<td class="ListName" title="Invoice Number">{if $T_invoice_num}{$T_invoice_num}{else}Inv. #{/if}</td>
					<td class="ListName" title="P.I.">P.I. #</td>
					<td class="ListName" title="Purchase Order Number">PO #</td>
					<td class="ListName" title="Mat name">{if $T_material_name}{$T_material_name}{else}Name{/if}</td>
                    <td class="ListName" title="Content">Content</td>
                    <td class="ListName" title="Construction">Construction</td>
                    <td class="ListName" title="Cuttable Width">Cuttable<br>Width</td>
					<td class="ListName" title="Color">{if $T_color}{$T_color}{else}Color{/if}</td>
					<td class="ListName" title="Size">{if $T_size}{$T_size}{else}Size{/if}</td>					
					<td class="ListName" title="Ship Qty">{if $T_ship_qty}{$T_ship_qty}{else}Ship Qty{/if}</td>
					<td class="ListName" title="Unit">{if $T_unit}{$T_unit}{else}Unit{/if}</td>
				</tr>				
				{/if}
				<tr id="List_TR">
					<td class="ListValueLeft">{if $po_ship_det[DET].invoice_num}{$po_ship_det[DET].invoice_num}{else}&nbsp;{/if}</td>
					<td class="ListValueLeft">{if $po_ship_det[DET].pi_num}{$po_ship_det[DET].pi_num}{else}&nbsp;{/if}</td>
					<td class="ListValueLeft">{if $po_ship_det[DET].po_num}{$po_ship_det[DET].po_num}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det[DET].mat_name}{$po_ship_det[DET].mat_name}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det[DET].des}{$po_ship_det[DET].des}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det[DET].specify}{$po_ship_det[DET].specify}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det[DET].width}{$po_ship_det[DET].width}{else}&nbsp;{/if}</td>

					<td class="ListValueLeft">{if $po_ship_det[DET].color}{$po_ship_det[DET].color}{else}&nbsp;{/if}</td>
					<td class="ListValueLeft">{if $po_ship_det[DET].size}{$po_ship_det[DET].size}{else}&nbsp;{/if}</td>
					<td class="ListValueRight">{if $po_ship_det[DET].qty}{$po_ship_det[DET].qty|number_format:2}&nbsp;{$po_ship_det[DET].prc_unit}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det[DET].po_unit}{$po_ship_det[DET].po_unit}{else}&nbsp;{/if}</td>

				</tr>
				{/section} -->
			</table>
		</td>
	</tr>
</table>
{include file="footer.html"}
<!--

                    <td class="ListName" title="C/NO">{if $T_carton_num}{$T_carton_num}{else}C/NO{/if}</td>
                    <td class="ListName" title="L/NO">{if $T_dye_lot}{$T_dye_lot}{else}L/NO{/if}</td>
                    <td class="ListName" title="R/NO">{if $T_roll_num}{$T_roll_num}{else}R/NO{/if}</td>
					<td class="ListName" title="N.W.">{if $T_net_weight}{$T_net_weight}{else}N.W.{/if}</td>
					<td class="ListName" title="G.W.">{if $T_gross_weight}{$T_gross_weight}{else}G.W.{/if}</td>
					<td class="ListName" title="C/O">{if $T_contry_of_original}{$T_contry_of_original}{else}C/O{/if}</td>
                    
					<td class="ListValueLeft">{if $po_ship_det[DET].c_no}{$po_ship_det[DET].c_no}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det[DET].l_no}{$po_ship_det[DET].l_no}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det[DET].r_no}{$po_ship_det[DET].r_no}{else}&nbsp;{/if}</td>
                    
                    <td class="ListValueLeft">{if $po_ship_det[DET].gw}{$po_ship_det[DET].gw}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det[DET].nw}{$po_ship_det[DET].nw}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det[DET].c_o}{$po_ship_det[DET].c_o}{else}&nbsp;{/if}</td>
                    
-->