<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>==== ::::::::::  ORDER LISTING :::::::::: ====</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">
<!--*****­¶¼Ʒs¼Wstart -->
function add_ie1(id, ord_num,pgs) {
	var T = '';
		T = window.document.forms['add'].elements['time1_'+id].value;
	if ( confirm("are you sure to add #[ "+ord_num+" ] \rin IE working time at ["+T+"] seconds ?? ")) {
		cgiget="{/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.order_num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}";
		location.href="index2.php?PHP_action=add_ie1&PHP_id="+id+"&PHP_ord_num="+ord_num+"&PHP_ie_time1="+T+"&PHP_back="+cgiget+"&PHP_sr_startno="+pgs;
	} 
}

function cfm_ie1(id, ord_num, qty,pgs) {
	var T = '';
		T = window.document.forms['add'].elements['time1_'+id].value;
	if ( confirm("are you sure to add #[ "+ord_num+" ] \rin IE working time at ["+T+"] seconds ?? ")) {
		cgiget="{/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.order_num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}";
		location.href="index2.php?PHP_action=cfm_ie1&PHP_id="+id+"&PHP_ord_num="+ord_num+"&PHP_ie_time1="+T+"&PHP_qty="+qty+"&PHP_back="+cgiget+"&PHP_sr_startno="+pgs;
	} 
}


function add_ie2(id, ord_num,pgs) {
	var T = '';
		T = window.document.forms['add'].elements['time2_'+id].value;
	if ( confirm("are you sure to add #[ "+ord_num+" ] \rin IE working time at ["+T+"] seconds ?? ")) {
		cgiget="{/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.order_num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}";
		location.href="index2.php?PHP_action=add_ie2&PHP_id="+id+"&PHP_ord_num="+ord_num+"&PHP_ie_time2="+T+"&PHP_back="+cgiget+"&PHP_sr_startno="+pgs;
	} 
}

function cfm_ie2(id, ord_num,pgs) {
	var T = '';
		T = window.document.forms['add'].elements['time2_'+id].value;
	if ( confirm("are you sure to add #[ "+ord_num+" ] \rin IE working time at ["+T+"] seconds ?? ")) {
		cgiget="{/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.order_num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}";
		location.href="index2.php?PHP_action=cfm_ie2&PHP_id="+id+"&PHP_ord_num="+ord_num+"&PHP_ie_time2="+T+"&PHP_back="+cgiget+"&PHP_sr_startno="+pgs;
	} 
}

<!--*****­¶¼Ʒs¼Wend -->


function cfm_finish(pd_id, ord_num, unit) {
	var T = '';
		T = window.document.forms['add'].elements['qty_'+pd_id].value;
	if ( confirm("are you sure to FINISH #[ "+ord_num+" ] \rin quantity ["+T+"] "+unit+"\rafter today's production ??")) {
		cgiget="{/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.order_num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}";
		location.href="index2.php?PHP_action=finish_production&PHP_pd_id="+pd_id+"&PHP_ord_num="+ord_num+"&PHP_qty="+T+"&PHP_back="+cgiget;
	} 
}

function cfm_ship(pd_id, ord_num, unit) {
	var T = '';
		T = window.document.forms['add'].elements['qty_'+pd_id].value;
	if ( confirm("are you sure to SHIP #[ "+ord_num+" ] \rin quantity ["+T+"] "+unit+"\rtoday ??")) {
		cgiget="{/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.order_num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}";
		location.href="index2.php?PHP_action=add_shipping&PHP_pd_id="+pd_id+"&PHP_ord_num="+ord_num+"&PHP_qty="+T+"&PHP_back="+cgiget;
	} 
}
 
function cfm_del_out(ord_num, qty, su, fty, unit, id) {
//	var T = '';
//		T = window.document.forms['add'].elements['qty_'+pd_id].value;
	if ( confirm("are you sure to CANCEL today's output record :\r\r #[ "+ord_num+" ] in quantity ["+qty+"] "+unit+"\r\r  ????")) {
		cgiget="{/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.order_num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}";
		location.href="index2.php?PHP_action=del_production&PHP_daily_id="+id+"&PHP_ord_num="+ord_num+"&PHP_fty="+fty+"&PHP_qty="+qty+"&PHP_su="+su+"&PHP_back="+cgiget;
	} 
}

function cfm_del_shp(ord_num, qty, su, fty, unit, id) {
//	var T = '';
//		T = window.document.forms['add'].elements['qty_'+pd_id].value;
	if ( confirm("are you sure to CANCEL today's shipping record :\r\r #[ "+ord_num+" ] in quantity ["+qty+"] "+unit+"\r\r  ????")) {
		cgiget="{/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.order_num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}";
		location.href="index2.php?PHP_action=del_shipping&PHP_shp_id="+id+"&PHP_ord_num="+ord_num+"&PHP_fty="+fty+"&PHP_qty="+qty+"&PHP_su="+su+"&PHP_back="+cgiget;
	} 
}
 
 </script>
{/literal}
</head>
<body bgcolor="#003C77" topmargin=10><form name='add'>
 <table width=680 border=1 cellspacing=0 cellpadding=2>
  <tr><td colspan=11 align=center class=gry><b>ORDER LIST - <span class=bgdy9>for IE records</span></b></td></tr>

{if $msg_YES}
 <TR><TD colspan=11>
     <table border=0 cellpadding=3 cellspacing=0 cols=1 width=680>
      <tr bgcolor=#ffffff>
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
 </TD></TR>
{/if}


  <tr bgcolor="#0D4368"> 
    <td class=w9 width=60 align=center>order#</td>
    <td class=w9 width=60 align=center>style#</td>
    <td class=w9 width=60 align=center>smpl-ord#</td>
    <td class=w9 width=70 align=center>smpl APV</td>
    <td class=w9 width=35 align=center>style</td>
    <td class=w9 width=60 align=center>q'ty</td>
    <td class=w9 width=65 align=center>est. SPT</td>
    <td class=w9 width=60 align=center>calc. IE</td>
    <td class=w9 width=65 align=center bgcolor=#4A0033>final SPT</td>
    <td class=w9 width=65 align=center bgcolor=#4A0033>final IE</td>
    <td class=w9 width=20 align=center>FTY</td>
  </tr>
{section name=SEC loop=$sorder}
{if $sorder[SEC].ie1 > 0}
  <tr bgColor='#dddddd'>
{else}
  <tr onmouseover="bgColor='#FCF4A4'" onmouseout="bgColor='#ffffff'">
{/if}
   <td class=gry9 align=center><small><a href="{$PHP_SELF}?PHP_action=ie_record_view&PHP_id={$sorder[SEC].id}&cgiget= {$cgistr_get}&cgino={$now_pp}&cgi_1={$cgi.dept}&cgi_2={$cgi.order_num}&cgi_3={$cgi.cust}&cgi_4={$cgi.ref}&cgi_5={$cgi.factory}">{$sorder[SEC].order_num}</a></small></td>
   <td class=gry9 align=center><small>{$sorder[SEC].style_num}&nbsp;</small></td>
   <td class=b9 align=center><small>{$sorder[SEC].smpl_ord}&nbsp;</small></td>
   <td class=gry9 align=center><small>{if $sorder[SEC].smpl_apv =='0000-00-00'}&nbsp;{else}{$sorder[SEC].smpl_apv}{/if}&nbsp;</small></td>
   <td class=snvy align=center>{$sorder[SEC].style}&nbsp;</td>
   <td class=b9 align=right><small>{$sorder[SEC].qty}&nbsp;{$sorder[SEC].unit}</small></td>
   <td class=ssign align=center><b>
   {if $sorder[SEC].ie_time1 == 0}
	   {if $add_flag}
			<input type=text name="time1_{$sorder[SEC].id}" size=4 class=select value="" style='text-align:center'>
	   {else}
			&nbsp;
	   {/if}
   {else}
	   {if $edit_flag && ($sorder[SEC].ie1 == 0)}
			<input type=text name="time1_{$sorder[SEC].id}" size=4 class=select value="{$sorder[SEC].ie_time1}" style='text-align:center'>
	   {else}
	      {$sorder[SEC].ie_time1}&nbsp;
	   {/if}
   {/if}</b></td>
<!--*****­¶¼Ʒs¼Wstart -->
   <td class=b9 align=center>
   {if $sorder[SEC].ie1 > 0}
	 <b>{$sorder[SEC].ie1}</b>
   {else}
     {if $sorder[SEC].ie_time1 == 0 }     
	   {if $add_flag}
			<a href="javascript:add_ie1({$sorder[SEC].id},'{$sorder[SEC].order_num}','{$now_pp}')" value='add1' style='cursor:pointer'>
			<img src='./images/submit02.jpg' border=0 ALT="submit IE work time"></a>
	   {else}
		&nbsp;
	   {/if}
	 {elseif $edit_flag}
			<a href="javascript:cfm_ie1({$sorder[SEC].id},'{$sorder[SEC].order_num}','{$sorder[SEC].qty}','{$now_pp}')" value='cfm1' style='cursor:pointer'>
			<img src='./images/confirm.jpg' border=0 ALT="confirm IE work time"></a>
	 {else}uncfm
	 {/if}
   {/if}&nbsp;</td>
<!--*****­¶¼Ʒs¼Wend -->

   <td class=ssign align=center bgcolor=#dddddd><b>
   {if $sorder[SEC].ie_time2 == 0}
	   {if $add_flag}
			<input type=text name="time2_{$sorder[SEC].id}" size=4 class=select value="" style='text-align:center'>
	   {else}
			&nbsp;
	   {/if}
   {else}
	   {if $edit_flag && ($sorder[SEC].ie2 == 0)}
			<input type=text name="time2_{$sorder[SEC].id}" size=4 class=select value="{$sorder[SEC].ie_time2}" style='text-align:center'>
	   {else}
	      {$sorder[SEC].ie_time2}&nbsp;
	   {/if}
   {/if}</b></td>
<!--*****­¶¼Ʒs¼Wstart -->
   <td class=b9 align=center bgcolor=#dddddd>
   {if $sorder[SEC].ie2 > 0}
	 <b>{$sorder[SEC].ie2}</b>
   {else}
     {if $sorder[SEC].ie_time2 == 0}
	   {if $add_flag}
			<a href="javascript:add_ie2({$sorder[SEC].id},'{$sorder[SEC].order_num}','{$now_pp}')" value='add' style='cursor:pointer'>
			<img src='./images/submit02.jpg' border=0 ALT="submit final IE work time"></a>
	   {else}
		&nbsp;
	   {/if}
	 {elseif $edit_flag}
			<a href="javascript:cfm_ie2({$sorder[SEC].id},'{$sorder[SEC].order_num}','{$now_pp}')" value='cfm2' style='cursor:pointer'>
			<img src='./images/confirm.jpg' border=0 ALT="confirm IE work time"></a>
	 {else}uncfm
	 {/if}
   {/if}&nbsp;</td>
<!--*****­¶¼Ʒs¼Wend -->


   <td class=gry9 align=center><b>{$sorder[SEC].factory}&nbsp;</b></td>
  </tr>
  {/section}

</table>
<br>
<table width=660 border=0 cellspacing=0 cellpadding=1>
  <tr>
    </td>
    <td class=w9 colspan=3 align=center><span class=bgdy>¡° </font>above listing {if $msg_YES}{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]} &nbsp;{/section}{/if}&nbsp;order records!&nbsp;&nbsp;<span class=bgdy9>[ total :{$max_no} entries ]</font>
    </td>
  </tr>
 </table>
 <table width=660 border=0 cellspacing=0 cellpadding=1>
  <tr>
    <td align=center width=180><form name="form5" method="post">    
<!--*****--2006.11.16­¶½X·s¼W start	  -->  
{if $pages[0] > 1}
    <input type="button" name="Submit5" value=" < prev 10 page" class=select_e style="cursor:pointer; width:90%" onClick="window.location='{$cgistr_get}&PHP_cust={$cgi.cust}&PHP_dept_code={$cgi.dept}&PHP_order_num={$cgi.order_num}&PHP_ref={$cgi.ref}&PHP_factory={$cgi.factory}&PHP_sr_startno=p{$pages[0]}'">
{/if}
    &nbsp;
	</td>
	<td align=center width=260>   
    
    {section name=PGE loop=$pages}
    {if $pages[PGE] <= $maxpage }
    {if $pages[PGE] == $now_pp}
    <font color="#FF0000"><i><b>&nbsp;{$pages[PGE]}</b></i></font>
    {else}
    <a href="{$cgistr_get}&PHP_cust={$cgi.cust}&PHP_dept_code={$cgi.dept}&PHP_order_num={$cgi.order_num}&PHP_ref={$cgi.ref}&PHP_factory={$cgi.factory}&PHP_sr_startno={$pages[PGE]}" style="cursor:pointer">&nbsp;{$pages[PGE]}</a>
    {/if}
    {/if}   
    {/section}
    &nbsp;
    </td>
    <td  align=center width=180>    
    
{if $lastpage < $maxpage}
    <input type="button" name="Submit6" value="next 10 page >" class=select_e style="cursor:pointer; width:90%" onClick="window.location='{$cgistr_get}&PHP_cust={$cgi.cust}&PHP_dept_code={$cgi.dept}&PHP_order_num={$cgi.order_num}&PHP_ref={$cgi.ref}&PHP_factory={$cgi.factory}&PHP_sr_startno=n{$lastpage}'">         
{else}&nbsp;
{/if}
<!--*****--2006.11.16­¶½X·s¼W end	  -->    
    </td></form>
 </table>
<br>
<table width=660 border=0 cellspacing=0 cellpadding=1>
<tr>
	<td align=center width=60>
			<a href="{$PHP_SELF}?PHP_action=ie_excel&PHP_cust={$cgi.cust}&PHP_dept_code={$cgi.dept}&PHP_order_num={$cgi.order_num}&PHP_ref={$cgi.ref}&PHP_factory={$cgi.factory}" style="cursor:pointer">
			<img src="./images/excel_icon.gif" border=0 alt="à windows [Excel]I®բ></a>
	</td>
  </tr>
</table>
<br>
<!--------- footer ---------->
{include file="footer.html"}
