{include file="header.html"}
<table cellspacing="0" cellpadding="0" cols="0" width="100%">
	<tr>
		<td class="subtitle"> Materials release ( Factory ) : Search </td>
	</tr>
	<tr>
		<td class="space"></td>
	</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" cols="0">
	<tr>
		<td colspan="8">
			<table cellspacing="0" cellpadding="0" width="100%">
                <tr class="item_title">
                    <td colspan="5"> Order LIST </td>
                </tr>
				<tr class="list_title">
					<td><a href="{$PHP_SELF}?PHP_action={$PHP_action}&{$new_sort[0]}={$sort[0]}{$sorting}">RN #</a></td>
                    <td><a href="{$PHP_SELF}?PHP_action={$PHP_action}&{$new_sort[1]}={$sort[1]}{$sorting}">Order</a></td>
					<td><a href="{$PHP_SELF}?PHP_action={$PHP_action}&{$new_sort[2]}={$sort[2]}{$sorting}">Factory</a></td>
					<td><a href="{$PHP_SELF}?PHP_action={$PHP_action}&{$new_sort[3]}={$sort[3]}{$sorting}">Line</a></td>
                    <td><a href="{$PHP_SELF}?PHP_action={$PHP_action}&{$new_sort[5]}={$sort[5]}{$sorting}">Version</a></td>
                    <td><a href="{$PHP_SELF}?PHP_action={$PHP_action}&{$new_sort[4]}={$sort[4]}{$sorting}">Status</a></td>
					<td></td>
				</tr>
				{if !$pages}
				<tr class="list_txt">
					<td colspan="9"><br>
					there is no record currently!<br>
					<br></td>
				</tr>
				{/if}
				{section name=SEC loop=$pages}
				<tr class="list_txt">
					<td>RN{$pages[SEC].id}</td>
					<td>{$pages[SEC].ord_num}</td>
					<td>{$pages[SEC].fty}</td>
					<td>{$pages[SEC].line}</td>
                    <td>{$pages[SEC].version}</td>
                    <td>{if $pages[SEC].status == 4}{literal}Confirm{/literal}
                    {elseif $pages[SEC].status == 2}{literal}<span style="color:#7f7f7f">Submit</span>{/literal}
                    {else}{literal}UN Submit{/literal}{/if}
                    </td>
					<td style="text-align: left;">
                        <a href="{$PHP_SELF}?PHP_action=bom_requi_view_material&PHP_rn_num={$pages[SEC].id}" style="cursor:pointer"><img src="images/search.gif" title="View" border=0></a>
                        {if $edit_flag}
                            {if $pages[SEC].status == 0}
                            <a href="{$PHP_SELF}?PHP_action=bom_requi_edit_material&PHP_rn_num={$pages[SEC].id}" style="cursor:pointer"><img src="images/edit.gif" title="UPDATE" border=0></a>
                            <img name="submit_ajax" id="do_send_material_delete" rn_num="{$pages[SEC].id}" src="images/del.gif" title="Delete" border=0>
                            {/if}
                        {/if}
                    </td>
				</tr>
				{/section}
				<tr class="search_txt">
					<td colspan="9">{$page_num}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{include file="footer.html"}