<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM System [ BOM for Order ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/open_detial.js"></script>
<Script language="javascript">

function cfm_revise(ord_num,id) {
//	var T = '';
//		T = window.document.forms['add'].elements['qty_'+pd_id].value;
	if ( confirm("are you sure to REVISE order :#[ "+ord_num+" ] ?\r\rEvery Revise event will cancel entire process had done !\rAnd restart the Order procedure from beginning Again !\r\rBe sure this is OK for you!")) {
		location.href="index2.php?PHP_action=revise_bom&PHP_id="+id+"{/literal}{$back_str2}{literal}";
	} 
}
</script>

{/literal}
</head>

<body>
<form method=POST name=view>
<br>
<table cellspacing=1 cellpadding=4 cols=2 width=750 bgcolor=#2E5E73>
	<tr><td class="des" align=center height=28 >[ <b>BOM for Order</b> -<span class=ylw10><b>{$wi.wi_num}</span></b> ]</td>
	<td class="ylw10" align=center height=28 >{if $wi.status == 2}<b>[ {literal}SUBMIT{/literal} ]{elseif $wi.status == 1}[{literal}UN SUBMIT{/literal} ]{/if}</span></b></td>
	<td class="des" align=center height=28 >Version :<span class=ylw10><b>{$wi.bom_rev}</span></b></td>
	

</tr>
</table>
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=750>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
<table border=0 cellspacing=0 cellpadding=1 width=750 bgcolor=#FFFFFF>
  <tr>
    <td colspan=9 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>
    <td class=snvy align=right nowrap>Customer :</td>
    <td class=bgdy align=left><b>&nbsp;{$smpl.cust_iname}</b></td>
    <td class=snvy align=right nowrap>Department :</td>
    <td class=bgdy align=left><b>&nbsp;{$wi.dept}</b></td>
    <td class=snvy align=right nowrap><b>ETD :</b></td>
    <td class=bgdy align=left><b>&nbsp;{$wi.etd}</b></td>

  </tr>
  <tr>
    <td colspan=9 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
</table>
<table border cellspacing=0 cellpadding=3 width=750 bgcolor=#ffffff align=center>
  <tr bgcolor="#003333" height=28> 
	<td nowrap width=100 align=center class=back><b>Picture</b></td>
	<td nowrap width=100 align=center class=back><b>Order #</b></td>
	<td nowrap width=100 align=center class=back><b>style</b></td>
	<td nowrap width=150 align=center class=back><b>SIZE RANGE</b></td>
	<td nowrap width=200 align=center class=back><b>Q'ty / Unit</b></td>
  </tr>
  <tr bgcolor=#DDDDDD height=28>
	<td class=g10 align=center rowspan=2>&nbsp;
		<input type="image" src="{$wi.pic_url}" name="pic" width=100 border="0" onclick='window.open2("{$wi.pic_url}","","resizable=yes,height=480,width=640")'>
	</td>
	<td class=grn9 align=center>
	  <a href="javascript:Show_ord('{$wi.smpl_id}','{$wi.style_code}')" value='ord_out' style='cursor:pointer'>
	<b>&nbsp;{$smpl.order_num}</b></a></td>
    <td class=grn9 align=center><b>&nbsp;{$smpl.style}</b></td>
    <td class=grn9 align=center><b>&nbsp;{$smpl.size_scale}</b></td>
    <td class=grn9 align=center><b><span class=bgdy9><b>{$total}</b></span>&nbsp;pc</b></td>
  </tr>
  <tr>
	<td colspan=5 >
		<table border cellspacing=0 cellpadding=2 width=470 bgcolor=#ffffff align=center>
			{$show_breakdown}
		</table>
	</td>
  </tr>
</table>
<!-------------  BOM table ------------->
<!-------------  主料 bom ------------->
<hr size=2 width=750 align=center>
<table width=750 border=1 cellspacing=1 cellpadding=1>
   <tr><td>
	<table width=750 border=1 cellspacing=0 cellpadding=1>
	<!------- 主料 bom  Title --------- -->
	 <tr bgcolor=#D5D5BE>
	    <td width=80 class=b9 rowspan=2 align=center><b>Fabirc #</b></td>
	    <td width=90 class=b9 rowspan=2 align=center><b>Fabric Name</b></td>
	    <td width=120 class=b9 rowspan=2 align=center><b>Placement</b></td>
	    <td width=60 class=b9 rowspan=2 align=center><b>consump.</b></td>
			<td class=b9 align=center rowspan=2 width=70><b>Color/cat.</b></td>
			<td class=b9 align=center rowspan=2 width=20>size</td>
		<td width=0 class=b9 align=center rowspan=2 width=0 bgcolor=#666666></td>
	{if $colors_NONE}
		<td class=bgdy9 align=center >NO Color data</td>
	  <tr><td class=bgdy9 align=center >NO Q'ty</td>
	{else}

	{section name=NAME loop=$color} 
		<td class=grn9 align=center><b>&nbsp;{$color[NAME].name}</b></td>
	{/section} 

		<td class=b9 align=center rowspan=2 width=0 bgcolor=#666666></td>
		<td class=b9 align=center rowspan=2 width=60><b>Total</b></td>

	 <tr bgcolor=#E4E4D8>
	{section name=QTY loop=$color} 
		<td class=b9 align=center><b>{$color[QTY].qty}</b>&nbsp;{if $wi.unit}{$wi.unit}{else}<span class=bgdy9> ??</span>{/if}</b></td>
	{/section} 
	{/if}

	 </tr>
	<!-------  end  Title --------- -->

	 <tr>
		<td width=100% colspan={$total_fields} style="background-image: url('images/2line.gif'); background-repeat: repeat-x" height=3>
	 </tr>
	<!-------  BOM 主料記錄 --------- -->
		{if $lots_NONE}
		<tr><td class=bgdy9 align=center colspan={$total_fields} height=30>This wi hasn't any Fabric data!</td></tr>

		{else}
	{section name=BOM loop=$bom_lots_list} 
	<tr onmouseover="bgColor='#F9E2BB'" onmouseout="bgColor='#ffffff'">
		<td class=b9 align=left nowrap>&nbsp;<a href="javascript:Show_fab('{$bom_lots_list[BOM].lots_code}')" value='ord_out' style='cursor:pointer'>{$bom_lots_list[BOM].lots_code}</a></td>
		<td class=b7 align=left>&nbsp;{$bom_lots_list[BOM].lots_name}</td>
		<td class=b7 align=left>&nbsp;{$bom_lots_list[BOM].use_for}</td>
		<td class=b7 align=right>{$bom_lots_list[BOM].est_1}&nbsp;{$bom_lots_list[BOM].unit}</td>
		<td class=b9 align=left>&nbsp;{$bom_lots_list[BOM].color}</td>
		<td class=b7 align=left>&nbsp;{$bom_lots_list[BOM].size}</td>
		<td class=b9 align=center width=0 bgcolor=#666666></td>
		{$bom_lots_list[BOM].list}

		<td class=b9 align=center width=0 bgcolor=#666666></td>
		<td class=b9 align=center width=60 bgcolor=#F8F6BE><b>{$bom_lots_list[BOM].total}</b><span class=b7>&nbsp;{$bom_lots_list[BOM].unit}</span></td>

	</tr>
	{/section}
		{/if}
<!--	</table>	-->
	 <tr>
		<td width=100% colspan={$total_fields} style="background-image: url('images/2line.gif'); background-repeat: repeat-x" height=5>
	 </tr>

<!-------------  副料 ------------->
<!--	<table width=600 border=0 cellspacing=1 cellpadding=1>	-->

	<!------- 副料 bom  Title --------- -->
	 <tr bgcolor=#D5D5BE>
	    <td class=b9 align=center rowspan=2><b>Accessory #</b></td>
	    <td class=b9 align=center rowspan=2><b>ACC. Name</b></td>
	    <td class=b9 align=center rowspan=2><b>Placement</b></td>
	    <td class=b9 align=center rowspan=2><b>consump.</b></td>
			<td class=b9 align=center rowspan=2><b>Color/cat.</b></td>
			<td class=b9 align=center rowspan=2>size</td>
			<td class=b9 align=center rowspan=2 width=0 bgcolor=#666666></td>
	{if $colors_NONE}
		<td class=bgdy9 align=center >NO Color</td>
	  <tr><td class=bgdy9 align=center >NO Q'ty</td>
	{else}

	{section name=NAME loop=$color} 
		<td class=grn9 align=center><b>&nbsp;{$color[NAME].name}</b></td>
	{/section} 

		<td class=b9 align=center rowspan=2 width=0 bgcolor=#666666></td>
		<td class=b9 align=center rowspan=2 width=60><b>Total</b></td>

	 <tr bgcolor=#E4E4D8>
	{section name=QTY loop=$color} 
		<td class=b9 align=center><b>{$color[QTY].qty}</b>&nbsp;{if $wi.unit}{$wi.unit}{else}<span class=bgdy9> ??</span>{/if}</b></td>
	{/section} 

	{/if}

	 </tr>
	<!-------  end  Title --------- -->

	<!-------  BOM 副料記錄 --------- -->
		{if $acc_NONE}
		<tr><td class=bgdy9 align=center colspan={$total_fields} height=30>This wi hasn't any accessory data!</td></tr>

		{else}
	{section name=BOM loop=$bom_acc_list} 
	<tr onmouseover="bgColor='#D4E0F7'" onmouseout="bgColor='#ffffff'">
		<td class=b9 align=left nowrap>&nbsp;<a href="javascript:Show_acc('{$bom_acc_list[BOM].acc_code}')" value='ord_out' style='cursor:pointer'>{$bom_acc_list[BOM].acc_code}</a></td>
		<td class=b7 align=left>&nbsp;{$bom_acc_list[BOM].acc_name}</td>
		<td class=b7 align=left>&nbsp;{$bom_acc_list[BOM].acc_use}</td>
		<td class=b7 align=right>{$bom_acc_list[BOM].est_1}&nbsp;{$bom_acc_list[BOM].unit}</td>
		<td class=b9 align=left>&nbsp;{$bom_acc_list[BOM].color}</td>
		<td class=b7 align=left>&nbsp;{$bom_acc_list[BOM].size}</td>
		<td class=b9 align=center width=0 bgcolor=#666666></td>
		{$bom_acc_list[BOM].list}

		<td class=b9 align=center width=0 bgcolor=#666666></td>
		<td class=b9 align=center width=60 bgcolor=#F8F6BE><b>{$bom_acc_list[BOM].total}</b><span class=b7>&nbsp;{$bom_acc_list[BOM].unit}</span></td>

	</tr>
	{/section}
		{/if}
<!--	</table>	-->




	</table>




   </td></tr>
</table>
 
 <table width=750 border=0 cellspacing=1 cellpadding=2>    
	 <tr>
	   <td width=500 class=gry7 align=center> {literal}Submit: {/literal}&nbsp;&nbsp; <U>{if $wi.bcfm_user}{$wi.bcfm_user}</U>&nbsp;&nbsp; <U>[ {$wi.bcfm_date} ] </U>{else}[ None ]{/if}</td>
	  {if $wi.bcfm_user}
    <td class=snvy align=center>&nbsp; 
       <a href="javascript:bom_view('{$wi.wi_num}','x')" value='purchase_out' style='cursor:pointer'><b>PA/PO status</b></a>  	 	     
    </td>
    {/if}
     </tr>
 </table>




<table border=0 cellspacing=0 cellpadding=2 width=750 bgcolor=#ffffff align=center>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>
	<td colspan=2><form method=POST name=back>
{if $back_str && $edit_non <> 1}
		<input type=button onClick="window.location.href='{$PHP_SELF}?PHP_action=bom_copy{$back_str}'" value=" << go back " class=select_e style="cursor:pointer; width=99%"></form>
{else}&nbsp;
{/if}
	</td>

	<td colspan=2><form method=POST name=edit> 
		<input type="hidden" name="PHP_action" value="do_bom_copy">
		<input type="hidden" name="PHP_id" value="{$copy_id}">
		<input type="hidden" name="PHP_org_id" value="{$wi.id}">
		<input type="hidden" name="PHP_back_str" value="{$back_str}">
		<input type=submit value="[  COPY  ]" class=select_e style="cursor:pointer; width=99%"></form>
	</td>
	
  </tr>

</table>

<!--------- footer ---------->
{include file="footer.html"}
