<html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>===:::::::::: SCM System [ BOM for Order ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">

{literal}
<script language="javascript" src="./js/jquery.js"></script>
<script language="javascript" src="./js/open_detial.js"></script>
<script type="text/javascript" src="./js/pngfix.js"></script>
<script type="text/javascript" src="./js/ajaxfileupload.js"></script>
<script type="text/javascript" src="./js/jquery.blockUI.js"></script>
<Script language="javascript">
<!--
function cfm_revise(ord_num,id) {
	if ( confirm("are you sure to REVISE order :#[ "+ord_num+" ] ?\r\rEvery Revise event will cancel entire process had done !\rAnd restart the Order procedure from beginning Again !\r\rBe sure this is OK for you!")) {
		location.href="bom.php?PHP_action=revise_bom&PHP_id="+id+"{/literal}{$back_str2}{literal}";
	} 
}

function bom_file_del(file_name,table,id,wi_id,file_name) {
    if ( confirm("Are you shure to delete this file  ??")) {
        location.href="bom.php?PHP_action=do_bom_file_del&PHP_id="+id+"&PHP_talbe="+table+"&PHP_wi_id="+wi_id+"&PHP_file_name="+file_name+"&PHP_back=bom_view";
    } 
}

function file_del(id,wi_num,back_str) {
	if ( confirm("Are you shure to delete [ "+wi_num+" ] TRIM CARD file  ??")) {
		location.href="bom.php?PHP_action=do_trim_del&PHP_id="+id+"&PHP_num="+wi_num+back_str;
	} 
}
 
function check(obj){
    var obj;
    var max=126;
    obj.value=obj.value.substring(0,max);
}

function fty_pattern_file_del(id,wi_id){
	if ( confirm("Are you shure to delete Fty pattern file  ??")) {
		location.href="bom.php?PHP_action=do_fty_pattern_del&PHP_id="+id+"&wi_id="+wi_id;
	} 
}

$(document).ready(function(){

    $('tr[id=color_name] td[id^=MK_pid]').hover(function(){
        $("div[id=preview1]").attr({'style':'position:absolute; z-index:1;width:10; filter:revealTrans(duration=0.3); visibility:;'});
        $("div[id=preview1]").css({"left" : event.clientX + document.body.scrollLeft + 26 + 'px'});
        $("div[id=preview1]").css({"top" : event.clientY + document.body.scrollTop + 20 + 'px'});
        $("span[id=fab_placement]").html($(this).attr("value"));
    },function(){
        $("div[id=preview1]").attr({'style':'position:absolute; z-index:1;width:10; filter:revealTrans(duration=0.3); visibility:hidden;'});
    });
    
    $('td[id^=detail]').hover(function(){
        $("div[id=preview1]").attr({'style':'position:absolute; z-index:1;width:10; filter:revealTrans(duration=0.3); visibility:;'});
        $("div[id=preview1]").css({"left" : event.clientX + document.body.scrollLeft + 26 + 'px'});
        $("div[id=preview1]").css({"top" : event.clientY + document.body.scrollTop + 20 + 'px'});
        $("span[id=fab_placement]").html($(this).attr("value"));
    },function(){
        $("div[id=preview1]").attr({'style':'position:absolute; z-index:1;width:10; filter:revealTrans(duration=0.3); visibility:hidden;'});
    });

    $("td[Mid^=pid]").live('mousedown', function(e){
        $("td[id^=MK_pid]").hide();
        $("table[id=color_table] td[id^=breakdown]").hide();
        id = $(this).attr("pid");
        $("td[pid^="+id+"]").show();
    });

    $("td[id=table_display]").live('mousedown', function(e){
        if( $("table[id=color_table]").is(':visible') ){
            $("table[id=color_table]").hide();
            $("td[id=table_display]").html('顯示(Show)');
        } else {
            $("table[id=color_table]").show();
            $("td[id=table_display]").html('隱藏(Hide)');
        }
    });

    reload = function (id){
        $("td[id^=MK_pid]").hide();
        $("table[id=color_table] td[id^=breakdown]").hide();
        $("td[pid^="+id+"]").show();
        
        $("img[id^=pic]").each(function(i, elm) {
            //alert(i);
            var status = $(elm).attr('status');
            var bomid = $(elm).attr('bomid');
            
            if ( status == 2 ) {
                pp = '<div bom_id="'+bomid+'" style="top:'+$(elm).offset().top+'px;left:'+$(elm).offset().left+'px;height:'+$(elm).height()+'px;width:6px;white-space:nowrap;position:absolute;color:#FFFFFF;z-index:1300;background-color:#00A002;opacity:0.5;"></div>';
            } else if ( status == 1 ) {
                pp = '<div bom_id="'+bomid+'" style="top:'+$(elm).offset().top+'px;left:'+$(elm).offset().left+'px;height:'+$(elm).height()+'px;width:6px;white-space:nowrap;position:absolute;color:#FFFFFF;z-index:1300;background-color:#A00200;opacity:0.5;"></div>';
            } else {
                pp = '';
            }
            //pp += '<img bt="1" bom_id="'+bomid+'" src="images/upload.gif" style="top:'+($(elm).offset().top+30)+'px;left:'+$(elm).offset().left+'px;white-space:nowrap;position:absolute;z-index:1300;">';
            $("body").append(pp);
        });
    }

    $("td[Mid^=pid]").live('mousedown', function(e){
        $("td[id^=MK_pid]").hide();
        $("table[id=color_table] td[id^=breakdown]").hide();
        id = $(this).attr("pid");
        $("td[pid^="+id+"]").show();
    });
    
    
    
    // 以下正在進行修改 不關正常顯示問題
    $("td[id^=OPF]").live('mousedown', function(e){
        if( $("td[UpLoad^=1]").is(':visible') ){
            $("td[UpLoad^=1]").hide();
        } else {
            $("td[UpLoad^=1]").show();
        }
        $("img[id^=pic]").each(function(i, elm) {
            var bomid = $(elm).attr('bomid');
            $("div[bom_id="+bomid+"]").css({"top" : $(elm).offset().top + 'px'});
            $("div[bom_id="+bomid+"]").css({"left" : $(elm).offset().left + 'px'});
        }); 
    });
    
    $("img[bt^=1]").live('mousedown', function(e){
        var bomid = $(this).attr('bom_id');
        alert(bomid);
    });
    
    $('img[id^=pic]').hover(function(){
        num = Math.floor(Math.random() * (100-1+1)+1);
    //$("img[id^=pic]").live('MouseOver', function(e){
        var bomid = $(this).attr('bomid');
        var bom_code = $(this).attr('bom_code');
        var status = $(this).attr('status');
        if( status > 0 ) {
            $("div[id=preview1]").attr({'style':'position:absolute; z-index:1;width:10; filter:revealTrans(duration=0.3); visibility:;'});
            $("div[id=preview1]").css({"left" : event.clientX + document.body.scrollLeft + 26 + 'px'});
            $("div[id=preview1]").css({"top" : event.clientY + document.body.scrollTop - 90 + 'px'});
            $("span[id=fab_placement]").html('<img src="images/bom_pic/'+bom_code+'_middle.jpg?'+num+'">');
            $("img[bom_id^="+bomid+"]").show();
        }
    },function(){
        var bomid = $(this).attr('bomid');
        var status = $(this).attr('status');
        if( status > 0 ) {
            $("div[id=preview1]").attr({'style':'position:absolute; z-index:1;width:10; filter:revealTrans(duration=0.3); visibility:hidden;'});
            $("img[bom_id^="+bomid+"]").hide();
        }
    });
	$("input[type='image']").hover(function() {
		$(this).attr('src','./picture/'+$(this).attr('order')+'.jpg?'+ Math.random());
	});
    //$('img[id^=pic],img[bt^=1]').live('MouseOver', function(e){
    //    var bomid = $(this).attr('bomid');
    //    $("div[id=preview1]").attr({'style':'position:absolute; z-index:1;width:10; filter:revealTrans(duration=0.3); visibility:hidden;'});
    //    $("img[bom_id^="+bomid+"]").hide();
    //});      
    
    //$('img[id^=pic],img[bt^=1]').live('MouseOut', function(e){
    //    var bomid = $(this).attr('bomid');
    //    $("div[id=preview1]").attr({'style':'position:absolute; z-index:1;width:10; filter:revealTrans(duration=0.3); visibility:hidden;'});
    //    $("img[bom_id^="+bomid+"]").hide();
    //});
        
    ajaxFileUpload = function ( wi_id , mat , id ) {
    
        num = Math.floor(Math.random() * (100-1+1)+1);
        
        mat_code = mat+'_'+id;
        //alert(mat_code);
		$("#loading")
		.ajaxStart(function(){
			//$(this).show();
            $.blockUI({ message: '<div><br><h4>Waiting...</h4></div>'});
		})
		.ajaxComplete(function(){
			//$(this).hide();
            $.unblockUI();
		});

		$.ajaxFileUpload
		(
			{
				url:'bom.php?PHP_action=upload_bom_pic&mat_code='+mat_code+'&Mat='+mat+'&Bom_id='+id+'&Wi_id='+wi_id,
				secureuri:false,
				fileElementId: mat_code,
				dataType: 'script',
				success: function (data, status)
				{
                    var sts = data.split(",");
                    
                    var str = '';
                    for( var d=1; d < sts.length; d++){
                        if(typeof(sts[d]) != 'undefined'){
                            str += sts[d]+'\n';
                        }
                    }

					if(sts[0] == 'error')
					{
						alert(str);
					}else{

                        $('img[bom_code='+mat_code+']').attr({'src':'images/bom_pic/'+mat_code+'_small.jpg?'+num,'status':'1'});
                        alert(str);
                    }
				},
				error: function (data, status, e)
				{
                    alert(data+'_'+status+'_'+e);
					alert(e);
				}
			}
		)
        
       // $("img[id^=loading]").hide();
        return false;
    }

});
-->
</script>
{/literal}

<body topmargin="10" OnLoad="reload('{$pid}')">
<div id="preview1" style="position:absolute; z-index:1;width:10; filter:revealTrans(duration=0.3); visibility:hidden;">
{if $admin_flag}
<input type="hidden" id="PHP_flag" value="admin">
{else}
<input type="hidden" id="PHP_flag" value="user">
{/if}
<table border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td width="9" height="9"><img src="images/t_l.png" width="9" height="9"></td>
        <td width="5" height="9" align="left" background="images/t_m.png"><img src="images/t_ml.png" width="5" height="9"></td>
        <td width="99%" align="right" background="images/t_m.png"></td>
        <td width="5" height="9" align="right" background="images/t_m.png"><img src="images/t_mr.png" width="5" height="9"></td>
        <td><img src="images/t_r.png" width="9" height="9"></td>
    </tr>
    <tr>
        <td width="9" valign="top" background="images/m_l.png"><img src="images/m_lt.png" width="9" height="5"></td>
        <td colspan="3" rowspan="3" bgcolor="#FFFFFF">
            <table border="0" cellpadding="3" cellspacing="1">
                <tr>
                    <td>
                        <table width="100%" border="0" cellpadding="1" cellspacing="1">
                            <tr>
                                <td align="right" class="B" nowrap></td>
                                <td nowrap><span id="fab_placement" ></span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
        <td width="9" valign="top" background="images/m_r.png"><img src="images/m_rt.png" width="9" height="5"></td>
    </tr>
    <tr>
        <td height="99%" background="images/m_l.png"></td>
        <td height="99%" background="images/m_r.png"></td>
    </tr>
    <tr>
        <td width="9" height="5" valign="bottom" background="images/m_l.png"><img src="images/m_lb.png" width="9" height="5"></td>
        <td width="9" valign="bottom" background="images/m_r.png"><img src="images/m_rb.png" width="9" height="5"></td>
    </tr>
    <tr>
        <td width="9" height="9"><img src="images/b_l.png" width="9" height="9"></td>
        <td height="9" align="left" background="images/b_m.png"><img src="images/b_ml.png" width="5" height="9"></td>
        <td width="99%" align="right" background="images/b_m.png"></td>
        <td height="9" align="right" background="images/b_m.png"><img src="images/b_mr.png" width="5" height="9"></td>
        <td width="9" height="9"><img src="images/b_r.png" width="9" height="9"></td>
    </tr>
</table>
</div>

<div id="preview2" style="position:absolute; z-index:1;width:10; filter:revealTrans(duration=0.3); visibility:hidden;"> 
<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="9" height="9"><img src="images/t_l.png" width="9" height="9"></td>
        <td width="5" height="9" align="left" background="images/t_m.png"><img src="images/t_ml.png" width="5" height="9"></td>
        <td width="99%" align="right" background="images/t_m.png"></td>
        <td width="5" height="9" align="right" background="images/t_m.png"><img src="images/t_mr.png" width="5" height="9"></td>
        <td><img src="images/t_r.png" width="9" height="9"></td>
    </tr>
    <tr>
        <td width="9" valign="top" background="images/m_l.png"><img src="images/m_lt.png" width="9" height="5"></td>
        <td colspan="3" rowspan="3" bgcolor="#FFFFFF">
            <table border="0" cellpadding="3" cellspacing="1">
                <tr>
                    <td>
                        <table width="100%" border="0" cellpadding="3" cellspacing="1">
                            <tr>
                                <td align="right" class="B">Placement：</td>
                                <td nowrap>&nbsp;<span id="acc_cons" ></span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
        <td width="9" valign="top" background="images/m_r.png"><img src="images/m_rt.png" width="9" height="5"></td>
    </tr>
    <tr>
        <td height="99%" background="images/m_l.png"></td>
        <td height="99%" background="images/m_r.png"></td>
    </tr>
    <tr>
        <td width="9" height="5" valign="bottom" background="images/m_l.png"><img src="images/m_lb.png" width="9" height="5"></td>
        <td width="9" valign="bottom" background="images/m_r.png"><img src="images/m_rb.png" width="9" height="5"></td>
    </tr>
    <tr>
        <td width="9" height="9"><img src="images/b_l.png" width="9" height="9"></td>
        <td height="9" align="left" background="images/b_m.png"><img src="images/b_ml.png" width="5" height="9"></td>
        <td width="99%" align="right" background="images/b_m.png"></td>
        <td height="9" align="right" background="images/b_m.png"><img src="images/b_mr.png" width="5" height="9"></td>
        <td width="9" height="9"><img src="images/b_r.png" width="9" height="9"></td>
    </tr>
</table>
</div>

<br>

<div style="position:fixed;_position:absolute;right:0;top:expression(this.offsetParent.scrollTop);">
<input type="hidden" id="menu_num" value="-1">
<table border cellspacing=0 cellpadding=2 width=30 height=99 bgcolor=#ffffff  id="display_menu" align="right">
    <tr>
        <!--選單切換-->
        <td id="table_display" class=grn9 align="center" bgcolor=#DDDDDD  onclick="table_hide('color_table')" style="writing-mode:tb-rl;cursor:pointer;">隱藏(Hide)</td>
    </tr>
</table>
<table border cellspacing=0 cellpadding=2 width=470 bgcolor=#ffffff id="color_table" align="right">
    {section name=USE loop=$show_breakdown}
        {$show_breakdown[USE]}
    {/section}
    {if $size_ttl}
    <TR>
        <td class=grn9 align="center" bgcolor=#DDDDDD colspan=2><b>&nbsp;G-TTL</b></td>
    {section name=USE loop=$size_ttl}
        <td class="b9" align="center" bgcolor=#DDDDDD>&nbsp;<b><i>{$size_ttl[USE]|NUMBER_FORMAT}</b></td>
    {/section}
      <td class="b9" align=right bgcolor=#DDDDDD>&nbsp;<b><i>{$g_ttl|NUMBER_FORMAT}</b></td>
    <TR>
    {/if}
</table>
</div>

<div align="left">
<table cellspacing=1 cellpadding=4 cols=2 width=750 bgcolor=#2E5E73>
    <tr>
        <td class="des" align="center" height=28 >[ <b>BOM for Order</b> -<span class=ylw10><b>{$wi.wi_num}</b></span> ]</td>
        <td class="ylw10" align="center" height=28 >{if $wi.status == 2}<b>[ {literal}CONFIRM{/literal} ]{elseif $wi.bom_status == 0}UN SUBMIT{elseif $wi.status == 1}[{literal}UN CFM{/literal} ]{/if}</b></td>
        <td class="des" align="center" height=28 >Version :<span class=ylw10><b>{$wi.bom_rev}</b></span></td>
	
        <td class="des" align="center">
        {if $wi.bom_status > 0 && $edit_non <> 1 && $add_flag }
            <a href="javascript:cfm_revise('{$wi.wi_num}','{$wi.id}')" value='revise' style='cursor:pointer'>
            <img src='./images/revise21.jpg' border=0 ALT="REVISE ORDER"></a>
        {/if}
        </td>
    </tr>
</table>
{if $msg_YES}
<table border=1 cellpadding=4 cellspacing=0 cols=1 width=750>
    <tr bgcolor=#ffffff> 
        <td width="90" class=gry10 align="center"><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
    </tr>
</table>
{/if}

<table border=0 cellspacing=0 cellpadding=1 width=750 bgcolor=#FFFFFF>
    <tr>
        <td colspan=9 class=frnt align="center"><hr size=2 width=98%></td>
    </tr>
    <tr>
        <td class=snvy align=right nowrap>Customer :</td>
        <td class=bgdy align="left"><b>&nbsp;{$smpl.cust_iname}</b></td>
        <td class=snvy align=right nowrap>Department :</td>
        <td class=bgdy align="left"><b>&nbsp;{$wi.dept}</b></td>
        <td class=snvy align=right nowrap><b>ETD :</b></td>
        <td class=bgdy align="left"><b>&nbsp;{$wi.etd}</b></td>
        <td nowrap width=10 align="center" class=back>
        {if $wi.status > 1}
			<a href="bom.php?PHP_action=bom_print&PHP_id={$wi.wi_num}" >
			<img src="./images/print9.gif" border=0 alt="PDF: SAVE/PRINT"></a>
        {else}&nbsp;{/if}
        </td>
    </tr>
    <tr>
        <td colspan=9 class=frnt align="center"><hr size=2 width=98%></td>
    </tr>
</table>
<table border cellspacing=0 cellpadding=3 width=750 bgcolor=#ffffff>
    <tr bgcolor="#003333" height=28> 
        <td nowrap width="100" align="center" class=back><b>Picture</b></td>
        <td nowrap width="100" align="center" class=back><b>Order #</b></td>
        <td nowrap width="100" align="center" class=back><b>style</b></td>
        <td nowrap width="150" align="center" class=back><b>SIZE RANGE</b></td>
        <td nowrap width=200 align="center" class=back><b>Q'ty / Unit</b></td>
    </tr>
    <tr bgcolor=#DDDDDD height=28>
        <td class=g10 align="center" rowspan=2>&nbsp;
		<input type="image" src="{$wi.pic_url}" order="{$wi.wi_num}" name="pic" width="100" border="0" onclick='window.open2("{$wi.pic_url}","","resizable=yes,height=480,width=640")'>
        </td>
        <td class=grn9 align="center">
        <a href="javascript:Show_ord('{$wi.smpl_id}','{$wi.style_code}')" value='ord_out' style='cursor:pointer'>
        <b>&nbsp;{$smpl.order_num}</b></a></td>
        <td class=grn9 align="center"><b>&nbsp;{$smpl.style}</b></td>
        <td class=grn9 align="center"><b>&nbsp;{$smpl.size_scale}</b></td>
        <td class=grn9 align="center"><b><span class="bgdy9"><b>{$total}</b></span>&nbsp;pc</b></td>
    </tr>
    <tr>
        <td colspan=5 >
            <table border cellspacing=0 cellpadding=2 width=470 bgcolor=#ffffff align="center" id="color_table2">
			{section name=USE loop=$show_breakdown}
				{$show_breakdown[USE]}
			{/section}
			{if $size_ttl}
			<TR>
				<td class=grn9 align="center" bgcolor=#DDDDDD colspan=2><b>&nbsp;G-TTL</b></td>
			{section name=USE loop=$size_ttl}
				<td class="b9" align="center" bgcolor=#DDDDDD>&nbsp;<b><i>{$size_ttl[USE]|NUMBER_FORMAT}</b></td>
			{/section}
			  <td class="b9" align=right bgcolor=#DDDDDD>&nbsp;<b><i>{$g_ttl|NUMBER_FORMAT}</b></td>
			<TR>
			{/if}
            </table>
        </td>
    </tr>
</table>
<!-------------  BOM table ------------->
<!-------------  主料 bom ------------->
<img id="loading" src="images/loading.gif" style="display:none;">
<hr size=2 width=750 align="left">
<table width=750 border=0 cellspacing=0 cellpadding=0>
	<tr>
		<td>
			<table width=750 border=1 cellspacing=0 cellpadding=1 id="bom_table">
				<!-------  BOM 主料記錄 --------- -->
				{if $lots_NONE}
                <tr><td class="bgdy9" align="center" colspan={$total_fields} height=30>This wi hasn't any Fabric data!</td></tr>
				{else}
				{section name=BOM loop=$bom_lots_list} 
                {if $smarty.section.BOM.index % 10 == 0}
				<!------- 主料 bom  Title --------- -->
				<tr bgcolor=#D5D5BE id="color_name">
					<!-- <td width=80 class="b9" rowspan=2 align="center"><b>Fabric #</b></td> -->
					<td width="90" class="b9" rowspan=2 align="center"><b>Fabric Name</b></td>
					<td width="50" class="b9" rowspan=2 align="center" id="OPF" style="color:#0000FF;cursor:pointer;font-weight: bold;"><b>Picture</b></td>
					<td width="150" class="b9" rowspan=2 align="center" UpLoad="1" style="display:none;"><b>UpLoad</b></td>
					<td class="b9" rowspan=2 align="center"><b>Detail</b></td>
					<td width="60" class="b9" rowspan=2 align="center"><b>consump.</b></td>
					{if $admin_flag}
                    <td width="60" class="b9" rowspan=2 align="center"><b>Consume</b></td>
                    {/if}
					<td class="b9" align="center" rowspan=2 width=70><b>Color/cat.</b></td>
					<td class="b9" align="center" rowspan=2 width=20>size</td>
					<td width=0 class="b9" align="center" rowspan=2 bgcolor=#666666></td>
					{if $colors_NONE}
					<td class="bgdy9" align="center" >NO Color data</td>
                    <tr><td class="bgdy9" align="center" >NO Q'ty</td></tr>
					{else}
					{section name=NAME loop=$color} 
					<td class="grn9" align="center" id="MK_pid" pid="{$color[NAME].pid}" value="{$color[NAME].name}" ><b>&nbsp;{$color[NAME].name|substr:0:1}</b></td>
					{/section} 		
					<td class="b9" align="center" rowspan=2 width=0 bgcolor=#666666></td>
					<td class="b9" align="center" rowspan=2 width="60"><b>Total</b></td>
				</tr>		
				<tr bgcolor=#E4E4D8 name='color_qty_title'>
					{section name=QTY loop=$color} 
					<td class="b9" align="center" id="MK_pid" pid="{$color[QTY].pid}"><b>{$color[QTY].qty}</b>&nbsp;{if $wi.unit}{$wi.unit}{else}<span class="bgdy9"> ??</span>{/if}</td>
					{/section}
				{/if}
				</tr>
				<!-------  end  Title --------- -->

				<tr>
					<td width="100"% colspan={$total_fields} style="background-image: url('images/2line.gif'); background-repeat: repeat-x" height=3></td>
				</tr>
                {/if}
                
				<tr onMouseOver="bgColor='#F9E2BB'" onMouseOut="bgColor='#ffffff'">
					<!-- <td class="b9" align="left" nowrap>&nbsp;<a href="javascript:Show_fab('{$bom_lots_list[BOM].lots_code}')" value='ord_out' style='cursor:pointer'>{$bom_lots_list[BOM].lots_code}</a></td> -->
					<td class="b7" align="left">&nbsp;<a href="javascript:Show_fab('{$bom_lots_list[BOM].lots_code}')" value='ord_out' style='cursor:pointer'>{$bom_lots_list[BOM].lots_name}</a></td>
					<td class="b7" align="left">
                        <img id="pic" status="{$bom_lots_list[BOM].status}" bom_code="lots_{$bom_lots_list[BOM].id}" bomid="{$bom_lots_list[BOM].id}" src="{if $bom_lots_list[BOM].creat_date}images/bom_pic/lots_{$bom_lots_list[BOM].id}_small.jpg{else}images/s_no_images.gif{/if}" width="50" height="50">
                    </td>
					
                    <td class="b7" align="left" UpLoad="1" style="display:none;" nowrap>
                    {if $bom_lots_list[BOM].id}
                    {if $bom_lots_list[BOM].status == 0 }
                    <form name="form" action="" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="PHP_action" value="upload_bom_pic_file">
                        <input type="hidden" name="PHP_bom_id" value="{$bom_lots_list[BOM].id}">
                        <input name="lots_{$bom_lots_list[BOM].id}" type="file" id="lots_{$bom_lots_list[BOM].id}">
                        <input id="uploadfile" type="button" value="upload" onclick="ajaxFileUpload('{$bom_lots_list[BOM].wi_id}','lots','{$bom_lots_list[BOM].id}');return false;">
                    </form>
                    {elseif $bom_lots_list[BOM].status == 1}
                    creator : {$bom_lots_list[BOM].creator} {$bom_lots_list[BOM].creat_date}<br>
                    <a href="download.php?fdir=images/bom_pic/&fname=lots_{$bom_lots_list[BOM].id}.jpg">Download</a>
                    {else}
                    {/if}
                    {/if}
                    </td>
                    
                    
					<td class="b7" align="left" id="detail" value="{$bom_lots_list[BOM].use_for|escape:"html"} {if $bom_lots_list[BOM].size}<font color=blue>size : [{$bom_lots_list[BOM].size|escape:"html"}]</font>{/if}">&nbsp;
					{if $bom_lots_list[BOM].des}Supplier's # : {$bom_lots_list[BOM].des|escape:"html"},&nbsp;{/if}
					{if $bom_lots_list[BOM].comp}Content : {$bom_lots_list[BOM].comp|escape:"html"},&nbsp;{/if}
					{if $bom_lots_list[BOM].width}Width : {$bom_lots_list[BOM].width|escape:"html"},&nbsp;{/if}
					{if $bom_lots_list[BOM].weight}Weight : {$bom_lots_list[BOM].weight|escape:"html"}.&nbsp;{/if}		
					</td>
					
					<td class="b7" align=right>{$bom_lots_list[BOM].est_1}&nbsp;{$bom_lots_list[BOM].unit}</td>
					<!--還需要判斷是否有marker資料-->
					<!--還需要判斷採購量是否超過marker量，超過顯示紅字-->
					{if $admin_flag}
					{if $bom_lots_list[BOM].over_marker == 1}
					<td class="b7" align=right style="color:red">
					{else}
					<td class="b7" align=right>
					{/if}
						{if $bom_lots_list[BOM].length_total == 0}
							&nbsp;
						{else}
							{$bom_lots_list[BOM].length_total}&nbsp;{$bom_lots_list[BOM].unit}
						{/if}
					</td>
					{/if}
					
					<td class="b9" align="left">&nbsp;{$bom_lots_list[BOM].color}</td>
					<td class="b7" align="left">&nbsp;{$bom_lots_list[BOM].size}</td>
					<td class="b9" align="center" width=0 bgcolor=#666666></td>
					{$bom_lots_list[BOM].list}

					<td class="b9" align="center" width=0 bgcolor=#666666></td>
					<td class="b9" align=right width="60" bgcolor=#F8F6BE><b>{$bom_lots_list[BOM].total|number_format}</b><span class="b7">&nbsp;{$bom_lots_list[BOM].unit}</span></td>

				</tr>
				{/section}
				{/if}

				<tr>
					<td width="100"% colspan={$total_fields} style="background-image: url('images/2line.gif'); background-repeat: repeat-x" height=5></td>
				</tr>

                <!-------------  副料 ------------->
                <!-------  BOM 副料記錄 --------- -->
				{if $acc_NONE}
				<tr><td class="bgdy9" align="center" colspan={$total_fields} height=30>This wi hasn't any accessory data!</td></tr>
				{else}
				{section name=BOM loop=$bom_acc_list} 
                {if $smarty.section.BOM.index % 10 == 0}
                <!------- 副料 bom  Title --------- -->
				<tr bgcolor=#D5D5BE id="color_name">
					<!-- <td class="b9" align="center" rowspan=2><b>Accessory #</b></td> -->
					<td class="b9" align="center" rowspan=2><b>ACC. Name</b></td>
                    <td width="50" class="b9" rowspan=2 align="center" id="OPF" style="color:#0000FF;cursor:pointer;font-weight: bold;"><b>Picture</b></td>
                    <td width="150" class="b9" rowspan=2 align="center" UpLoad="1" style="display:none;"><b>UpLoad</b></td>
					<td class="b9" align="center" rowspan=2><b>Detail</b></td>
					<td class="b9" align="center" rowspan=2><b>consump.</b></td>
					{if $admin_flag}<td width="60" class="b9" rowspan=2 align="center"><b>&nbsp;</b></td>{/if}
                    <td class="b9" align="center" rowspan=2><b>Color/cat.</b></td>
                    <td class="b9" align="center" rowspan=2>size</td>
                    <td class="b9" align="center" rowspan=2 width=0 bgcolor=#666666></td>
                    {if $colors_NONE}
					<td class="bgdy9" align="center" >NO Color</td>
                <tr><td class="bgdy9" align="center" >NO Q'ty</td></tr>
				{else}
				{section name=NAME loop=$color} 
					<td class="grn9" align="center" id="MK_pid" pid="{$color[NAME].pid}" value="{$color[NAME].name}" ><b>&nbsp;{$color[NAME].name|substr:0:1}</b></td>
				{/section} 
					<td class="b9" align="center" rowspan=2 width=0 bgcolor=#666666></td>
					<td class="b9" align="center" rowspan=2 width="60"><b>Total</b></td>
				</tr>		

                <tr bgcolor=#E4E4D8 name='color_qty_title'>
				{section name=QTY loop=$color} 
					<td class="b9" align="center" id="MK_pid" pid="{$color[QTY].pid}"><b>{$color[QTY].qty}</b>&nbsp;{if $wi.unit}{$wi.unit}{else}<span class="bgdy9"> ??</span>{/if}</td>
				{/section} 
				{/if}
				</tr>
                <!-------  end  Title --------- -->
                {/if}
				<tr onMouseOver="bgColor='#D4E0F7'" onMouseOut="bgColor='#ffffff'">
					<!-- <td class="b9" align="left" nowrap>&nbsp;<a href="javascript:Show_acc('{$bom_acc_list[BOM].acc_code}')" value='ord_out' style='cursor:pointer'>{$bom_acc_list[BOM].acc_code}</a></td> -->
					<td class="b7" align="left">&nbsp;<a href="javascript:Show_acc('{$bom_acc_list[BOM].acc_code}')" value='ord_out' style='cursor:pointer'>{$bom_acc_list[BOM].acc_name}</a></td>
					<td class="b7" align="left"><img id="pic" status="{$bom_acc_list[BOM].status}" bom_code="acc_{$bom_acc_list[BOM].id}" bomid="{$bom_acc_list[BOM].id}" src="{if $bom_acc_list[BOM].creat_date}images/bom_pic/acc_{$bom_acc_list[BOM].id}_small.jpg{else}images/s_no_images.gif{/if}" width="50" height="50"></td>

                    <td class="b7" align="left" UpLoad="1" style="display:none;" nowrap>
                    {if $bom_acc_list[BOM].id}
                    {if $bom_acc_list[BOM].status == 0}
                        <form method=POST name=pattn enctype="multipart/form-data">
                        <input type="hidden" name="PHP_action" value="upload_bom_pic_file">
                        <input type="hidden" name="PHP_bom_id" value="{$bom_acc_list[BOM].id}">
                        <input name="acc_{$bom_acc_list[BOM].id}" type="file" id="acc_{$bom_acc_list[BOM].id}">
                        <input id="uploadfile" type="button" value="upload" onclick="ajaxFileUpload('{$bom_acc_list[BOM].wi_id}','acc','{$bom_acc_list[BOM].id}');return false;">
                        </form>
                    {elseif $bom_acc_list[BOM].status == 1}
                    creator : {$bom_acc_list[BOM].creator} {$bom_acc_list[BOM].creat_date}<br>
                    <a href="download.php?fdir=images/bom_pic/&fname=acc_{$bom_acc_list[BOM].id}.jpg">Download</a>
                    {else}
                    {/if}
                    {/if}
                        
                    </td>
                    
   					<td class="b7" align="left" id="detail" value="{$bom_acc_list[BOM].acc_use|escape:"html"} {if $bom_acc_list[BOM].size}<font color=blue>size : [{$bom_acc_list[BOM].size|escape:"html"}]</font>{/if}">&nbsp;
                    {$bom_acc_list[BOM].cons}</td>
                    
					<td class="b7" align=right>{$bom_acc_list[BOM].est_1}&nbsp;{$bom_acc_list[BOM].unit}</td>
					{if $admin_flag}<td class="b7" align=right>&nbsp;</td>{/if}
					<td class="b9" align="left">&nbsp;{$bom_acc_list[BOM].color}</td>
					<td class="b7" align="left">&nbsp;{$bom_acc_list[BOM].size}</td>
					<td class="b9" align="center" width=0 bgcolor=#666666></td>
					{$bom_acc_list[BOM].list}

					<td class="b9" align="center" width=0 bgcolor=#666666></td>
					<td class="b9" align=right width="60" bgcolor=#F8F6BE><b>{$bom_acc_list[BOM].total|number_format}</b><span class="b7">&nbsp;{$bom_acc_list[BOM].unit}</span></td>

				</tr>
				{/section}
            {/if}
			</table>
        </td>
    </tr>
</table>

{if !$dis_lots_NONE}
<br>
<table width=750 border=1 cellspacing=0 cellpadding=1>
	<!------- 物料預先採購  Title --------- -->
    <tr bgcolor=#D5D5BE>
	    <td colspan=6  class="b9"  align="center"><b>前版本己採購主料記錄</b></td>
    </tr>	
    <tr bgcolor=#D5D5BE>
	    <td width="100"  class="b9"  align="center"><b>Fabric #</b></td>	
	    <td width="150"  class="b9"  align="center"><b>Fabric Name</b></td>    
	  	<td width="150"  class="b9"  align="center"><b>Color/cat.</b></td>
	  	<td width="120"  class="b9"  align="center"><b>BOM Q'TY</b></td>
	  	<td width="100"  class="b9"  align="center"><b>PO #</b></td>
	  	<td width="130"  class="b9"  align="center"><b>Purchas Q'TY</b></td>
    </tr>
	{section name=BOM loop=$dis_lots} 
	<tr onMouseOver="bgColor='#D4E0F7'" onMouseOut="bgColor='#ffffff'">
		<td class="b9" align="left">&nbsp;<a href="javascript:Show_fab('{$dis_lots[BOM].lots_code}')" value="ord_out" style="cursor:pointer">{$dis_lots[BOM].lots_code}</a></td>
		<td class="b9" align="left" id="detail" value="{$dis_lots[BOM].lots_name},{$dis_lots[BOM].width|escape:'url'},{$dis_lots[BOM].weight},{$dis_lots[BOM].comp},{$dis_lots[BOM].des}">&nbsp;{$dis_lots[BOM].lots_name}</td>
		<td class="b9" align="left">&nbsp;{$dis_lots[BOM].color}</td>
		<td class="b9" align=right>&nbsp;{$dis_lots[BOM].bom_qty}{$dis_lots[BOM].unit}</td>
		<td class=snvy align="center">&nbsp;<a href="javascript:po_show('{$dis_lots[BOM].ap_num}')">{$dis_lots[BOM].po_num}</a></td>
        <td class=snvy align=right>&nbsp;{$dis_lots[BOM].po_qty}{$dis_lots[BOM].po_unit}</td>
	</tr>
	{/section}
</table>
{/if}




{if !$dis_acc_NONE}
<br>
<table width=750 border=1 cellspacing=0 cellpadding=1>
	<!------- 物料預先採購  Title --------- -->
    <tr bgcolor=#D5D5BE>
	    <td colspan=7  class="b9"  align="center"><b>前版本己採購副料記錄</b></td>
    </tr>	
    <tr bgcolor=#D5D5BE>
	    <td width="100"  class="b9"  align="center"><b>Accessory #</b></td>	
	    <td width="120"  class="b9"  align="center"><b>Accessory Name</b></td>    
	  	<td width="130"  class="b9"  align="center"><b>Color/cat.</b></td>
	  	<td width=50  class="b9"  align="center"><b>Size</b></td>
	  	<td width="120"  class="b9"  align="center"><b>BOM Q'TY</b></td>
	  	<td width="100"  class="b9"  align="center"><b>PO #</b></td>
	  	<td width="130"  class="b9"  align="center"><b>Purchas Q'TY</b></td>
    </tr>
	{section name=BOM loop=$dis_acc} 
	<tr onMouseOver="bgColor='#D4E0F7'" onMouseOut="bgColor='#ffffff'">
		<td class="b9" align="left">&nbsp;<a href="javascript:Show_acc('{$dis_acc[BOM].acc_code}')" value='ord_out' style='cursor:pointer'>{$dis_acc[BOM].acc_code}</a></td>
		<td class="b9" align="left" id="detail" value="{$dis_acc[BOM].lots_name},{$dis_acc[BOM].width|escape:'url'},{$dis_acc[BOM].weight},{$dis_acc[BOM].comp},{$dis_acc[BOM].des}">&nbsp;{$dis_acc[BOM].acc_name}</td>
		<td class="b9" align="left">&nbsp;{$dis_acc[BOM].color}</td>
		<td class="b9" align="left">&nbsp;{$dis_acc[BOM].size}</td>
		<td class="b9" align=right>&nbsp;{$dis_acc[BOM].bom_qty}{$dis_acc[BOM].unit}</td>
		<td class=snvy align="center">&nbsp;<a href="javascript:po_show('{$dis_acc[BOM].ap_num}')">{$dis_acc[BOM].po_num}</a></td>
        <td class=snvy align=right>&nbsp;{$dis_acc[BOM].po_qty}{$dis_acc[BOM].po_unit}</td>
	</tr>
	{/section}
</table>
{/if}




{if !$ext_mat_NONE}
<br>
<table width=750 border=1 cellspacing=0 cellpadding=1>
	<!------- 物料補  Title --------- -->
    <tr bgcolor=#D5D5BE>
	    <td colspan=5  class="b9"  align="center"><b>Extra Matrial</b></td>
    </tr>	
    <tr bgcolor=#D5D5BE>
	    <td width="100"  class="b9"  align="center"><b>Matriel #</b></td>
	    <td width="100"  class="b9"  align="center"><b>Placement</b></td>
	  	<td width="100"  class="b9"  align="center"><b>Color/cat.</b></td>
	  	<td width="100"  class="b9"  align="center"><b>Q'TY</b></td>
    </tr>
	{section name=BOM loop=$ext_mat} 
	<tr onMouseOver="bgColor='#D4E0F7'" onMouseOut="bgColor='#ffffff'">
		<td class="b9" align="left">&nbsp;<a href="javascript:{if $ext_mat[BOM].mat_cat == 'a'}Show_acc{else}Show_fab{/if}('{$ext_mat[BOM].mat_code}')" value='ord_out' style='cursor:pointer'>{$ext_mat[BOM].mat_code}</a></td>
		<td class="b7" align="left">&nbsp;{$ext_mat[BOM].use_for}</td>
		<td class="b9" align="left">&nbsp;{$ext_mat[BOM].color}</td>
        <td class=snvy align="center">&nbsp;{$ext_mat[BOM].ap_qty}</td>
    </tr>
	{/section}
</table>
{/if}



{if $pp_mat.0.id}
<br>
<table width=750 border=1 cellspacing=0 cellpadding=1>
	<!------- 物料預先採購  Title --------- -->
    <tr bgcolor=#D5D5BE>
	    <td colspan=5  class="b9"  align="center"><b>Pre-Purchase Matrial</b></td>
    </tr>	
    <tr bgcolor=#D5D5BE>
	    <td width="100"  class="b9"  align="center"><b>Matriel #</b></td>
	    <td width="100"  class="b9"  align="center"><b>Placement</b></td>
	  	<td width="100"  class="b9"  align="center"><b>Color/cat.</b></td>
	  	<td width="100"  class="b9"  align="center"><b>Q'TY</b></td>
    </tr>
	{section name=BOM loop=$pp_mat} 
	<tr onMouseOver="bgColor='#D4E0F7'" onMouseOut="bgColor='#ffffff'">
		<td class="b9" align="left">&nbsp;<a href="javascript:{if $pp_mat[BOM].mat_cat == 'a'}Show_acc{else}Show_fab{/if}('{$pp_mat[BOM].mat_code}')" value='ord_out' style='cursor:pointer'>{$pp_mat[BOM].mat_code}</a></td>
		<td class="b7" align="left">&nbsp;{$pp_mat[BOM].use_for}</td>
		<td class="b9" align="left">&nbsp;{$pp_mat[BOM].color}</td>
        <td class=snvy align="center">&nbsp;{$pp_mat[BOM].ap_qty}</td>
	</tr>
	{/section}
</table>
{/if}

<br>

<table width=750 border=1 cellspacing=1 cellpadding=1>
    <tr bgcolor=#EACEBE height=25>	 
	    <td align="center" colspan=4><b>OTHER FILES</b></td>		
    </tr>
    {if $done[0].id}
    <tr bgcolor=#EACEBE height=25>	 
        <td width=70 align="center"><b>Dowload</b></td>	
        <td width=250 align="center"><b>File name</b></td>
        <td width=300 align="center"><b>Descript</b></td>	
        <td width=50 align="center"><b>&nbsp;</b></td> 	
    </tr>
	 
    {section name=SEC loop=$done}
    <tr>	
		<td align="center" valign=top>
		<a href="download.php?fname={$done[SEC].file_name}&fdir=bom_file" title="{$done[SEC].file_name}"><img src='./images/file2.gif' border=0 ALT="download pattern"></a>
		</td>  	
		<td class=snvy >{$done[SEC].file_name}</td>
		<td class=snvy>{$done[SEC].file_des}</td>
		<td class=snvy>&nbsp;
        {if $mat_support}
        <a href="javascript:bom_file_del('{$done[SEC].file_name}','bom_file_det','{$done[SEC].id}','{$wi.id}','{$done[SEC].file_name}')" value="刪除" style="cursor:pointer"><img src="images/del.gif" alt="刪除" border=0 valign=bottom></a>
        {/if}
		</td>
    </tr>
    {/section}
    {/if}  
    {if $mat_support == 1}
    <tr>
     	<td colspan=4>
   			<form method=POST name=pattn enctype="multipart/form-data">    
            <input type="hidden" name="PHP_action" value="upload_bom_file">
            <input type="hidden" name="PHP_num" value="{$wi.wi_num}">
            <input type="hidden" name="PHP_back" value="bom_view">
            <input type = "hidden" name = "max_size" value="100000">
            <input type="hidden" name="PHP_id" value="{$wi.id}">&nbsp;		
            <input type='file' name='PHP_pttn' size=20 class=select>&nbsp;&nbsp;
            Descript : &nbsp;
            <input type='text' name='PHP_desp' size=40 class=select >&nbsp;&nbsp;
            <input type='submit' value='upload'>
            </form>
        </td>
    </tr>
    {/if}
</table>
 <BR>
  
{if $bom_log}  
<table border=1 cellspacing=0 cellpadding=0 width=750 id='mater_table'>
	<tr bgcolor=#bbbbbb height=25>
		<td colspan=5 align="center" class=nvy9><b>Remark Records</b></td>
	</tr>
	<tr bgcolor=#666666 height=25>
		<td width="130" class=w10 align="center">Date</td>
		<td width=490 class=w10 align="center">History records</td>
		<td width="130" class=w10 align="center">by</td>
	</tr>
	{section name=SEC loop=$bom_log}
	<tr bgcolor=#eeeeee >
		<td class=gry9 align="center"><small>{$bom_log[SEC].k_date}</small></td>
		<td class=gry9 align="left">&nbsp;{$bom_log[SEC].des}</td>
		<td class=gry9 align="center">{$bom_log[SEC].user}</td>
	</tr>
	{/section}
</table>
{/if}   	

<table border=1 cellspacing=0 cellpadding=0 width=750>
<form method=POST name=smpl_logs>
	<tr bgcolor=#bbbbbb height=25>
		<td colspan=3 align="center" class=nvy9><b>Adding Remark</b></td>
	</tr>
	<tr bgcolor=#eeeeee >
		<td class=gry9 align="center">
			<textarea name="PHP_des" rows=2 cols=130 class=select >{$smpl_log.des}</textarea>
		</td>
		<td class=ylw9 align="center" valign="center">
		<input type=submit value="save" class=select_e style="cursor:pointer; width=55; height=35" onClick=this.width=0;></td>
		<input type="hidden" name="PHP_action" value="do_bom_log_add">
		<input type="hidden" name="PHP_num" value="{$wi.wi_num}">
		<input type="hidden" name="PHP_id" value="{$wi.id}">
	</tr>
</form>
</table>  
  

<table width="750" border=0 cellspacing=1 cellpadding=2>    
    <tr>
        {if $wi.creator}
		<td class="gry7" width="150">
            OPEN by：<a href="javascript:message_out('{$wi.creator_id}')" style="cursor:pointer"><u>{$wi.creator}</u></a>
			<br><U>[ {$wi.open_date} ] </U>
        </td>
        {/if}
        {if $wi.bupdator}
        <td class="gry7">
            Last update：<a href="javascript:message_out('{$wi.updator_id}')" style="cursor:pointer"><u>{$wi.bupdator}</u></a>
			<br><U>[ {$wi.last_update} ] </U>
        </td>
        {/if}
        {if $wi.confirmer}
        <td class="gry7">
            Submit：<a href="javascript:message_out('{$wi.confirmer_id}')" style="cursor:pointer"><u>{$wi.confirmer}</u></a>
			<br><U>[ {$wi.cfm_date} ] </U>
		</td>
        {/if}
        {if $wi.bcfm_user}
        <td class="gry7">
            Confirm：<a href="javascript:message_out('{$wi.bcfm_user_id}')" style="cursor:pointer"><u>{$wi.bcfm_user}</u></a>
			<br><U>[ {$wi.bcfm_date} ] </U>
		</td>
        {/if}
        {if $wi.bcfm_user}
		<td class=snvy align="center">&nbsp; 
		   <a href="javascript:po_bom_view('{$wi.wi_num}','x')" value='purchase_out' style='cursor:pointer'><b>Purchase status</b></a>  	 	     
		</td>
		{/if}
	</tr>
</table>
 
 <hr size=2 width=50%>
 <!-- TRIM CARD部分 start -->

{if $wi.trim_cfm_date == '0000-00-00'}
{if $edit_flag || $del_flag}
<table width=750 border=1 cellspacing=1 cellpadding=1>
    <tr bgcolor=#EACEBE height=25>	 
        <td width=70 align="center"><b>Download</b></td>	
        <td width=560 align="center"><b>TRIM CARD</b></td>
        <td width=70 align="center"><b>DEL</b></td>	 	
    </tr>
    {if $wi.trim_date <> '0000-00-00'}
    <tr>	
        <td align="center" valign=top>
            <a href="download.php?fname={$wi.wi_num}.pdf&fdir=order_trim" title="{$wi.wi_num}_trimcard.pdf"><img src='./images/file2.gif' border=0 ALT="download pattern"></a>
        </td>  	
        <td class=snvy>TRIM CARD (UPLOAD ON : {$wi.trim_date})</td>
        <td class=snvy>&nbsp;
        {if $edit_flag}
            <a href="javascript:file_del('{$wi.id}','{$wi.wi_num}','{$back_str2}')" value="DELETE" style="cursor:pointer"><img src="images/del.gif" alt="DELETE" border=0 valign=bottom></a>
        {/if}
        </td>
    </tr>
    {if $del_flag}
    <tr>			
        <td colspan=3>
            <table width=700 border=0 cellspacing=1 cellpadding=1>
                <tr>
                    <td width="90" valign=top align="center" >
                    <form method=POST name=cfm action=bom.php>
                        <input type="hidden" name="PHP_action" value="trim_cfm">
                        <input type="hidden" name="PHP_num" value="{$wi.wi_num}">
                        <input type="hidden" name="PHP_back_str" value="{$back_str}">
                        <input type="hidden" name="PHP_back_str2" value="{$back_str2}">
                        <input type="hidden" name="PHP_id" value="{$wi.id}">	
                        <input type=submit value="CFM ok" class=select_e style="cursor:pointer; width="100"; height:40" /></form>
                    </form>
                    </td>
                    <td width="90" align=right><b>remark:</b></td>
                    <td>
                    <form method=POST name=reject action=bom.php>	
                        <textarea name="PHP_detail" rows=2 cols=60 class=select>{$order_log.des}</textarea>
                        <input type="hidden" name="PHP_action" value="reject_trim" />
                        <input type="hidden" name="PHP_num" value="{$wi.wi_num}">
                        <input type="hidden" name="PHP_back_str" value="{$back_str}">
                        <input type="hidden" name="PHP_back_str2" value="{$back_str2}">
                        <input type="hidden" name="PHP_id" value="{$wi.id}">	
                        <input type=submit value=" reject " class=select_e style="cursor:pointer; width="60"; height=40" onClick=this.width=0; /></form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    {/if}
    {else} 
    <tr>
        <td colspan=3>
            <form method=POST name=pattn action="bom.php" enctype="multipart/form-data" >    
                <input type="hidden" name="PHP_action" value="upload_trim_file">
                <input type="hidden" name="PHP_num" value="{$wi.wi_num}">
                <input type="hidden" name="PHP_back_str" value="{$back_str}">
                <input type="hidden" name="PHP_back_str2" value="{$back_str2}">
                <input type = "hidden" name = "max_size" value="100000">
                <input type="hidden" name="PHP_id" value="{$wi.id}">&nbsp;		
                <input type='file' name='PHP_pttn' size=100 class=select>&nbsp;&nbsp;
                <input type='submit' value='upload'>
            </form>
		</td>
    </tr>
    {section name=DES loop=$trim_des} 
    <tr>
	 	<td class=snvy bgcolor=#EACEBE align="center"><B>Reject for : </b></td>
	 	<td class=snvy>{$trim_des[DES].des}</td>
	 	<td class=snvy align="center">{$trim_des[DES].k_date}</td>
    </tr>
    {/section}
    {/if} 
</table>    
{/if}
{else}    
<table width=750 border=1 cellspacing=1 cellpadding=1>
	<tr bgcolor=#EACEBE height=25>	
	    <td width=200 align="center"><b>TRIM CARD Dowload</b></td> 	
	 	<td width=400 align="center" bgcolor=#FFFFFF>
            <a href="download.php?fname={$wi.wi_num}.pdf&fdir=order_trim" title="{$wi.wi_num}_trimcard.pdf">
            <img src='./images/file2.gif' border=0 ALT="download pattern"></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <small>Upload on : {$wi.trim_date}[{$wi.trim_cfm_user}] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CFM on : {$wi.trim_cfm_date}[{$wi.trim_cfm_user}]</small>
		</td>	 	
    </tr>	 
</table>
{/if}  
<!-- TRIM CARD部分 end -->

<!-- 新增fty_pattern上傳  -->
<table width=750 border=1 cellspacing=1 cellpadding=1>
	<tr bgcolor=#EACEBE height=25>	 
		<td width=70 align="center"><b>Download</b></td>	
		<td width=280 align="center"><b>Fty pattern</b></td>
		<td width=840 align="center"><b>Desc</b></td>
		<td width=70 align="center"><b>DEL</b></td>	 	
	</tr>
	{section name=DES loop=$fty_pattern}
	<tr>	
		<td align="center" valign=top>
			<a href="download.php?fname={$fty_pattern[DES].id}.{$fty_pattern[DES].file_ext}&fdir=fty_pattern" title="{$fty_pattern[DES].id}.{$fty_pattern[DES].file_ext}"><img src='./images/file2.gif' border=0 ALT="download pattern"></a>
		</td>  	
		<td class=snvy>UPLOAD ON : {$fty_pattern[DES].file_date}</td>
		<td class=snvy>{$fty_pattern[DES].file_name}</td>
		<td class=snvy>&nbsp;
		{if $edit_flag}
			<a href="javascript:fty_pattern_file_del({$fty_pattern[DES].id},{$fty_pattern[DES].wi_id})" value="DELETE" style="cursor:pointer"><img src="images/del.gif" alt="DELETE" border=0 valign=bottom></a>
		{/if}
		</td>
	</tr>
	{/section}
	<tr>
		<td colspan=4>
			<form method=POST name=pattn action="bom.php" enctype="multipart/form-data" >    
			<input type="hidden" name="PHP_action" value="upload_fty_pattern">
			<input type="hidden" name="PHP_back_str" value="{$back_str}">
			<input type="hidden" name="PHP_back_str2" value="{$back_str2}">
			<input type = "hidden" name = "max_size" value="100000">
			<input type="hidden" name="PHP_id" value="{$wi.id}">&nbsp;		
			<input type='file' name='PHP_pttn' size=50 class=select>&nbsp;&nbsp;&nbsp;remark:
			<textarea name="PHP_fty_des" rows=1 cols=50 class=select ></textarea>
			<input type='submit' value='upload'>
			</form>
		</td>
	</tr>
</table>
<!-- 新增fty_pattern上傳  結束-->  


<table border=0 cellspacing=0 cellpadding=2 width=750 bgcolor=#ffffff>
    <tr>
        <td colspan=8 class=frnt align="center"><hr size=2 width=98%></td>
    </tr>
    <tr>
        <td colspan=2><form method=POST name=back>
            <input type=button onClick="window.location.href='{$PHP_SELF}?PHP_action=bom_search_wi'" value=" << go back " class=select_e style="cursor:pointer; width=99%"></form>
        </td>
        <td colspan=2>
        <form method=POST name=edit1>
        {if $add_flag && $edit_non <> 1}{if $wi.status < 2 && $wi.bom_status == 0}
            <input type="hidden" name="PHP_action" value="bom_add">
            <input type="hidden" name="PHP_id" value="{$wi.id}">
            <input type=submit value="[  BOM EDIT  ]" class=select_e style="cursor:pointer; width=99%"></form>
        {/if}
        {else}&nbsp;
        {/if}
        </td>
        <td colspan=2><form method=POST name=edit1>
        {if $add_flag && $edit_non <> 1}{if $wi.status < 2 && $wi.bom_status == 0 }

            <input type="hidden" name="PHP_action" value="bom_submit">
            <input type="hidden" name="PHP_id" value="{$wi.id}">
            <input type="hidden" name="PHP_wi_num" value="{$wi.wi_num}">
            <input type=submit value="[  SUBMIT  ]" class=select_e style="cursor:pointer; width=99%"></form>
        {/if}
        {else}&nbsp;
        {/if}
        </td>	
        <td colspan=2><form method=POST name=edit>
        {if $add_flag && $edit_non <> 1}{if $wi.status < 2 && $wi.bom_status == 0}
            <input type="hidden" name="PHP_action" value="bom_consum_add">
            <input type="hidden" name="PHP_id" value="{$wi.id}">
            <input type="hidden" name="PHP_back_str" value="{$back_str}">
            <input type="hidden" name="PHP_back_str2" value="{$back_str2}">
            <input type=submit value="[  CONSUMP. EDIT  ]" class=select_e style="cursor:pointer; width=99%"></form>
        {/if}
        {else}&nbsp;
        {/if}
        </td>
    </tr>
</table>
</div>
<!--------- footer ---------->
{include file="footer.html"}