<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>=== ::::::::::change pass:::::::::: ===</title>
	<link REL=STYLESHEET TYPE="text/css" HREF="bom.css">
</head>

<body bgcolor="#003C77" background="images/vline-515.jpg" ><form>
&nbsp;<input type="hidden" name="PHP_action" value="do_pass_change">
<br>&nbsp;
<br>&nbsp;
<center><table BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="500" BGCOLOR="#FFFFFF" >
	<tr>
		<td WIDTH="1"><img SRC="images/frameShad-cnr.gif"  height=10 width=10></td>
		<td><img SRC="images/frameShad-top.gif"  height=10 width=490></td>
	</tr>

	<tr>
		<td background="images/frameShad-left.gif"  height=100%><img SRC="images/frameShad-left.gif"  width=10></td>
	<td><br>

	<table border cellpadding=4 cols=1 width=400 bgcolor=#003300 align=center>
		<tr><td align=center class=des>change your login password</td></tr>
	</table><br>
        <table width=280 border=0 cellspacing=1 align=center>
              <tr>
                <td align=right width=200 class=grn10>your login ID :</td>
				<td background="./images/v-gold.gif" width=80 align=center>
					<center><input type=text name="PHP_id" size=10 align=center class=select></center></td>
              </tr>
              <tr> 
                <td align=right width=200 class=grn10>your original password :</td>
				<td background="./images/v-gold.gif" width=80 align=center>
					<center><input type=password name="PHP_pass" size=10 class=select></center></td>
              </tr>
			  <tr><td align=center colspan=2><hr size=2 width = 280></td></tr>
              <tr>
                <td align=right width=200 class=gry10>New password :</td>
				<td background="./images/v-gold.gif" width=80 align=center>
					<center><input type=password name="PHP_new1" size=10 align=center class=select></center></td>
			  </tr>
              <tr>
                <td align=right width=200 class=gry10>New password AGAIN :</td>
				<td background="./images/v-gold.gif" width=80 align=center>
					<center><input type=password name="PHP_new2" size=10 align=center class=select></center></td>
			  </tr>
        </table>
	<br>
	</td>
	</tr>
</table></center>
<br>
<table BORDER=0 CELLPADDING=4 WIDTH="500" align=center>
	<tr>
      <td class="back" align=center> 
		<input type="hidden" name="PHP_action" value="do_change_pass">
		<input type="submit" value=" submit your change " class=select style="width:100%; cursor:pointer" >
      </td>
	</tr>
  </table></form>
  
<table border=0 cellspacing=0 cellpadding=2 width=500 align=center>

  <tr>
	<td align=right><form method=POST name=back>
		<input type=button onClick="window.location.href='index2.php?PHP_action=exe_login&PHP_login_id={$login}&PHP_login_pass={$password}'" value=" << go back " class=select_e style="cursor:pointer; width=20%"></form>
	</td>		
</table>
<p><br>
<br>&nbsp;
<br>&nbsp;
<!--------- footer ---------->
{include file="footer.html"}