<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM 樣本輔助系統 [ Consignee data ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
</head>
<body ><form METHOD="POST" name="csge_view" action="{$PHP_SELF}">
<br>
<table cellspacing=1 cellpadding=4 cols=1 width=550 bgcolor=#003300>
	<tr><td class="des" align=center height=28> [ Consignee data ] </td></tr>
</table>
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=550>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
<table border=0 cellspacing=1 cellpadding=2 width=550 bgcolor=#FFFFFF>
  <tr>
    <td colspan=6 class=frnt align=center><hr size=2 width=98%></td>
  <tr>
  <tr>
    <td class=snvy align=right width=100>Code # : </td>
    <td class=grn9 align=left bgcolor=#CEE4E3 width=150><b>{$csge.code}</b></td>
    <td class=snvy align=right width=150></td>			
    <td class=snvy align=left  width=150></td>
  <tr>
  <tr>
    <td class=snvy width=110 align=right>cust. # : </td>
    <td class=grn9 width=170 align=left bgcolor=#CEE4E3>&nbsp;<b>{$csge.cust_name}</b></td>
    <td class=snvy width=100 align=right>dept # : </td>
    <td class=frnt width=170 align=left bgcolor=#CEE4E3><b>&nbsp;&nbsp;&nbsp;{$csge.dept}</b></td>
  </tr>
  <tr>
  <tr>
    <td class=snvy align=right> short name : </td>
    <td class=grn9 align=left colspan=3 bgcolor=#CEE4E3>&nbsp;<b>{$csge.s_name}</b></td>
  </tr>
  <tr>    
    <td class=snvy align=right> full name : </td>
    <td class=grn9 align=left colspan=3 bgcolor=#CEE4E3>&nbsp;<b>{$csge.f_name}</b></td>
  </tr>
 
  <tr>
    <td colspan=4 class=frnt align=center><hr size=2 width=98%></td>
  <tr>
  <tr>
    <td class=snvy align=right>Tel : </td>
    <td class=grn9 align=left bgcolor=#CEE4E3>&nbsp;<b>{$csge.tel}</b></td>
    <td class=snvy align=right>cont. person : </td>
    <td class=grn9 align=left bgcolor=#CEE4E3>&nbsp;<b>{$csge.cont}</b></td>
  </tr>

  <tr>
    <td class=snvy align=right >address : </td>
    <td class=grn9 align=left colspan=3 bgcolor=#CEE4E3>&nbsp;{$csge.addr}</td>
  </tr>

</table>
		<hr SIZE=2 WIDTH=550>
          <table border=0 cellspacing=0 cellpadding=0 cols=2 width=550>
            <tr> 
              <td align=left>
              	<input type="button" onClick="window.location.href='consignee.php?PHP_action=consignee_search{$back_str}'" value=" << GO BACK " class=select_e  style=" cursor:pointer; width:30%" >								
              </td>
			</tr>
          </table>
<!--------- footer ---------->
{include file="footer.html"}
