<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>===.........  CAPACITY SEARCH .........===</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="JavaScript"><!--
function search() {
	var fty = ''; var year1 = ''; var year2 = ''; var year3 = '';
	fty = window.document.forms['capacity'].elements['PHP_fty'].value;
	year1 = window.document.forms['capacity'].elements['PHP_year1'].value;
	year2 = window.document.forms['capacity'].elements['PHP_year2'].value;
	year3 = window.document.forms['capacity'].elements['PHP_year3'].value;

//alert("factory = "+fty+"\ryear1 = "+year1+"\ryear2 = "+year2+"\ryear3 = "+year3);
	location.href="index2.php?PHP_action=do_capacity_search&PHP_fty="+fty+"&PHP_year1="+year1+"&PHP_year2="+year2+"&PHP_year3="+year3;
}

function add() {
	var fty = ''; var year1 = ''; var year2 = ''; var year3 = '';
	fty = window.document.forms['capacity'].elements['PHP_fty'].value;
	year1 = window.document.forms['capacity'].elements['PHP_year1'].value;
	year2 = window.document.forms['capacity'].elements['PHP_year2'].value;
	year3 = window.document.forms['capacity'].elements['PHP_year3'].value;

	location.href="index2.php?PHP_action=capacity_add&PHP_fty="+fty+"&PHP_year1="+year1+"&PHP_year2="+year2+"&PHP_year3="+year3;
 }

function edit() {
	var fty = ''; var year1 = ''; var year2 = ''; var year3 = '';
	fty = window.document.forms['capacity'].elements['PHP_fty'].value;
	year1 = window.document.forms['capacity'].elements['PHP_year1'].value;
	year2 = window.document.forms['capacity'].elements['PHP_year2'].value;
	year3 = window.document.forms['capacity'].elements['PHP_year3'].value;

//alert("factory = "+fty+"\ryear1 = "+year1+"\ryear2 = "+year2+"\ryear3 = "+year3);
	location.href="index2.php?PHP_action=capacity_update&PHP_fty="+fty+"&PHP_year1="+year1+"&PHP_year2="+year2+"&PHP_year3="+year3;
 }
-->
</script>
{/literal}

</head>
<body  bgcolor="ffffff" background=" ">
{if $max_notify > 0 }		
<table width=620 border=0 cellpadding=3 cellspacing=1>
	<tr height=30 bgcolor=#C0CECF>
		<td align="center" >
			<a href="notify.php?PHP_action=notify"> <span class=sign align=center ><b> You have {$max_notify} message un-read</b></span></a>
        </td>
	</tr>
</table>
<br>
{/if}	

<br>

<form METHOD="POST" name="order_breakdown">

<table border=1 cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#DDDDDD  align=center>
    <tr>
        <td>
            <table cellspacing=1 cellpadding=1 cols=1 width=100% bgcolor=#003333 align=center>
                <tr>
                    <td class="des" align=center height=28>[ SEARCH TARGET FACTORY'S Cost BreakDown BY ETD]</td>
                </tr>
            </table>
        </td>
    </tr>
    {if $msg_YES}
    <tr>
        <td>
            <table border=0 cellpadding=2 cellspacing=0 width=600 align=center>
                <tr bgcolor=#ffffff> 
                    <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
                    <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
                </tr>
            </table>
        </td>
    </tr>
    {/if}
    <tr>
        <td>
            <table border=0 cellspacing=6 cellpadding=1 width=600>
                <tr>
                    <td class=snvy align=right><b>factory ID : </b><td>
                    <td target=left>&nbsp;{$factory}</td>
                </tr>
                <tr>
                    <td class=snvy align=right width=150><b>Target Year : </b><td>
                    <td align=left width=450>&nbsp;{$year}&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr><!-- 
                <tr>
                    <td class=snvy align=right width=150><b>Target Month : </b><td>
                    <td align=left width=450>&nbsp;{$month}&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr> -->
            </table>
        </td>
    </tr>
</table>
<table border=0 cellspacing=0 cellpadding=0 width=600 align=center>
    <tr> 
        <td align=left class=gry9 height=80>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        # select target factory  !<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        # select target year, or leave without selection for THIS year only !<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
    </tr>
</table>
<table border=0 cellspacing=0 cellpadding=0 width=600 align=center>
    <tr> 
        <td align=center width=50%>
        <input type=hidden name='PHP_action' value="order_breakdown_view">
        <input type=submit value=" SEARCH / LIST ORDER RECORDS " class=select_e style="cursor:pointer; width=99%">
        </td>	
    </tr>
</table>
</form>
<!--------- footer ---------->
{include file="footer.html"}