<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>===......... customer list .........===</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">

</script>
{/literal}
</head>
<body  bgcolor="ffffff" background=" ">&nbsp;
<!-- ################################################################################# -->
<form METHOD="POST" name="add_cust">
	
<table border=0 cellspacing=0 cellpadding=2 cols=1 width=620  align=center>
	<tr>
		<td align=right><b>original DEPT : </b></td>
		<td align=left><b>{$org_dept}</b></td>
		<td align=right><b>SHIFT TO: </b></td>
		<td align=left>{$dept_select}</td>
	</tr>
</table>
<br>
<table border cellspacing=0 cellpadding=2 cols=1 width=620  align=center>
  <tr bgcolor="#003333" height=28> 
	<td nowrap width=20 align=center class=back>Select</td>
	<td nowrap width=80 align=center class=back>customer #</td>
	<td nowrap width=100 align=center class=back>short name</td>
	<td nowrap width=210 align=center class=back>full name</td>
  </tr>	
{section name=SEC loop=$cust} 
	<tr>
	 <td class=g10 align=center>
		 <input type=checkbox  name="PHP_cust[{$cust[SEC].id}]" value={$cust[SEC].cust_s_name}>
   </td>
	 <td class=g10 align=center>{$cust[SEC].cust_s_name}</td>
	 <td class=g10> {$cust[SEC].cust_init_name}&nbsp;</td>
   <td class=g10>{$cust[SEC].cust_f_name}&nbsp;</td>		
	</tr>
{/section} 

  <tr>
  <td colspan=4 height=28>
		<input type=submit value="[ SHIFT ]" class=select_e style="cursor:pointer; width=100%">
	</td>
  </tr>
</table>
<input type="hidden" name="PHP_action" value="do_cust_shift">

</form>

<!--------- footer ---------->
{include file="footer.html"}