<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>===......... customer list .........===</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">
 function cfm(ref,id) {
	if ( confirm("delete record will permanent delete !\r\r please conform again  \r\r are you sure permanent delet customer record:["+ref+"]??")) {
	location.href="index2.php?PHP_action=cust_del&PHP_id="+id;
	} 
 }


function shift()
{
	var dept;
	dept = window.document.forms['add_cust'].elements['PHP_dept_code'].value;
	location.href="index2.php?PHP_action=cust_shift&PHP_dept="+dept;
}

function cfm_enable(ref,id,pge,sort,back_str) {
	//alert("ref="+ref+"\n"+"id="+id+"\n"+"pge="+pge+"\n"+"sort="+sort+"\n"+"back_str="+back_str);
	if ( confirm("恢復後之Cust，將會擁有除權之前的權限。\r\r請再確定是否要將:["+ref+"]回復??")) {
		location.href="primary.php?PHP_action=cust_enable&PHP_id="+id+"&PHP_cust_s_name="+ref+"&PHP_sr_startno="+pge+"&PHP_sort="+sort+back_str;
	} 
}
function cfm_disable(ref,id,pge,sort,back_str) {
	//alert("ref="+ref+"\n"+"id="+id+"\n"+"pge="+pge+"\n"+"sort="+sort+"\n"+"back_str="+back_str);
	if ( confirm("刪除後的Cust，即刻起，將不能再被使用！\r\r請再確定是否要將:["+ref+"]刪除???")) {
		location.href="primary.php?PHP_action=cust_disable&PHP_id="+id+"&PHP_cust_s_name="+ref+"&PHP_sr_startno="+pge+"&PHP_sort="+sort+back_str;
	} 
}
</script>
{/literal}
</head>
<body  bgcolor="ffffff" background=" ">&nbsp;
<!-- ################################################################################# -->
<table border cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#cccccc  align=center>
 <tr><form METHOD="POST" name="add_cust">
		<input type="hidden" name="PHP_action" value="cust_add">   
    <td align=center>
     <table border=1 cellspacing=0 cellpadding=4 cols=1 width=600 bgcolor=#534A67>
      <tr><td width=50% class=des align=center>.....  customer list .......</td>

	   
</tr></form>
     </table>
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=600>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
		<hr size=1 width=97%>

<table border cellspacing=0 cellpadding=2 width=650 bgcolor=#ffffff align=center>
  <tr>
	<td colspan=7 align=center>
		{section name=letter loop=$letter}
			<big><b><a href="{$PHP_SELF}?PHP_action=cust_search&PHP_letter={$letter[letter]}">{$letter[letter]}</a></b></big>
		{/section}
	</td>
  </tr>
  
  <tr bgcolor="#003333" height=28> 
	<td nowrap width=80 align=center class=back><a href="{$PHP_SELF}?PHP_action=cust_search&SCH_sort=cust_s_name" ><font color='#FFFFFF'>customer #</font></a></td>
	<td nowrap width=40 align=center class=back><a href="{$PHP_SELF}?PHP_action=cust_search&SCH_sort=dept" ><font color='#FFFFFF'>dept</font></a></td>
	<td nowrap width=100 align=center class=back><a href="{$PHP_SELF}?PHP_action=cust_search&SCH_sort=cust_init_name" ><font color='#FFFFFF'>short name</font></a></td>
	<td nowrap width=210 align=center class=back><a href="{$PHP_SELF}?PHP_action=cust_search&SCH_sort=cust_f_name" ><font color='#FFFFFF'>full name</font></a></td>
	<td nowrap width=80 align=center class=back><a href="{$PHP_SELF}?PHP_action=cust_search&SCH_sort=cntc_person1" ><font color='#FFFFFF'>cont. person</font></a></td>
	<td nowrap width=70 align=center class=back><a href="{$PHP_SELF}?PHP_action=cust_search&SCH_sort=cntc_phone" ><font color='#FFFFFF'>cont. tel</font></a></td>
	<td nowrap align=center class=back>remark</td>
  </tr>
	{if $record_NONE}
  <tr>
	<td colspan=5 align=center class=ssign><br>No Record!<br><br>
  </tr>
	{/if}
	{section name=SEC loop=$cust} 
  <tr><form>
	<td class=g10 align=center {if $cust[SEC].active eq 'n'}bgcolor=#cccccc class=bgdy{/if}>
      <a href="{$PHP_SELF}?PHP_action=cust_view&PHP_id={$cust[SEC].id}&PHP_sr_startno={$now_pp}{$back_str}">
			{$cust[SEC].cust_s_name}</a></td>
	<td class=g10 align=center {if $cust[SEC].active eq 'n'}bgcolor=#cccccc class=bgdy{/if}>
      <a href="{$PHP_SELF}?PHP_action=cust_view&PHP_id={$cust[SEC].id}&PHP_sr_startno={$now_pp}{$back_str}">
			{$cust[SEC].dept}</a></td>
	 <td class=g10 {if $cust[SEC].active eq 'n'}bgcolor=#cccccc class=bgdy{/if}>
      <a href="{$PHP_SELF}?PHP_action=cust_view&PHP_id={$cust[SEC].id}&PHP_sr_startno={$now_pp}{$back_str}">
			{$cust[SEC].cust_init_name}&nbsp;</td>
    <td class=g10 {if $cust[SEC].active eq 'n'}bgcolor=#cccccc class=bgdy{/if}>
      <a href="{$PHP_SELF}?PHP_action=cust_view&PHP_id={$cust[SEC].id}&PHP_sr_startno={$now_pp}{$back_str}">
			{$cust[SEC].cust_f_name}&nbsp;</td>
    <td align=center class=grn9 {if $cust[SEC].active eq 'n'}bgcolor=#cccccc class=bgdy{/if}>
			<b>{$cust[SEC].cntc_person1}</b>&nbsp;</td>
    <td align=center class=gry9 {if $cust[SEC].active eq 'n'}bgcolor=#cccccc class=bgdy{/if}>
			{$cust[SEC].cntc_phone}&nbsp;</td>
    <td align=center nowrap class=b10 {if $cust[SEC].active eq 'n'}bgcolor=#cccccc class=bgdy{/if}>&nbsp;
		{if $view_flag}
	      <a href="{$PHP_SELF}?PHP_action=cust_view&PHP_sr_startno={$now_pp}&PHP_id={$cust[SEC].id}&PHP_cust_s_name={$cust[SEC].cust_s_name}{$back_str}" value="user資料" style="cursor:pointer"><img src="images/search.gif" alt="瀏覽資料" border=0 valign=bottom></a>
		{/if}
		{if $edit_flag}
      <a href="{$PHP_SELF}?PHP_action=cust_edit&PHP_sr_startno={$now_pp}&PHP_id={$cust[SEC].id}&PHP_cust_s_name={$cust[SEC].cust_s_name}{$back_str}" value="更新" style="cursor:pointer"><img src="images/edit.gif" alt="更新資料" border=0 valign=bottom></a>
		{/if}
		{if $manager_flag}
	      <a href="javascript:cfm('{$cust[SEC].cust_s_name}','{$cust[SEC].id}')" value="刪除" style="cursor:pointer"><img src="images/del.gif" alt="刪除" border=0 valign=bottom></a>
		{/if}
		{if $del_flag}
		  {if $cust[SEC].active eq 'n'}
	      <a href="javascript:cfm_enable('{$cust[SEC].cust_s_name}','{$cust[SEC].id}','{$now_pp}','{$sort}','{$back_str}')" value="recall"  style="cursor:pointer"><img src="images/free.gif" alt="recall Authentic" border=0></a>
		  {else}
	      <a href="javascript:cfm_disable('{$cust[SEC].cust_s_name}','{$cust[SEC].id}','{$now_pp}','{$sort}','{$back_str}')" value="release"  style="cursor:pointer"><img src="images/ground.gif" alt="release power" border=0></a>
		  {/if}
		{/if}
		</td>
		</form>
  </tr>
			{/section} 
</table>
<hr size=1 width=97%>
<table border=0 cols=4 width=600 align=center>
  <tr>
  
    <td align=center width=300>
    <!-- 2006.11.14頁碼顯示start -->    
{if $pages[0] > 1}
 	  <a href="{$PHP_SELF}?PHP_action=cust_search&PHP_sr_startno=p{$pages[0]}{$back_str}" style="cursor:pointer">&nbsp;<img src="images/left2.gif" border=0 alt="前12筆資料"></a>
  {/if}
   {section name=PGE loop=$pages}
    {if $pages[PGE] <= $maxpage }
    {if $pages[PGE] == $now_pp}
    <font color="#FF0000"><i><b>&nbsp;{$pages[PGE]}</b></i></font>
    {else}
  <a href="{$PHP_SELF}?PHP_action=cust_search&PHP_sr_startno={$pages[PGE]}{$back_str}" style="cursor:pointer">&nbsp;{$pages[PGE]}</a>
    {/if}
    {/if}   
    {/section}
    {if $lastpage < $maxpage}
  <a href="{$PHP_SELF}?PHP_action=cust_search&PHP_sr_startno=n{$lastpage}{$back_str}" style="cursor:pointer">&nbsp;<img src="images/right2.gif" alt="後12筆資料" border=0></a>
    {/if}
<!-- 2006.11.14頁碼顯示end -->     
    </td>
  </tr>
</table>
<hr size=1 width=97%>

	</td>
</tr>
</table>

</form>
<!--------- footer ---------->
{include file="footer.html"}