<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM System [ BOM for Purchase Order ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<style type="text/css">
/*margin and padding on body element
  can introduce errors in determining
  element position and are not recommended;
  we turn them off as a foundation for YUI
  CSS treatments. */
body {
	margin:0;
	padding:0;
}
</style>
<script language="javascript" src="./js/col.js"></script>

<script type="text/javascript"
        src="./js/build/yahoo/yahoo-min.js"></script>
<script type="text/javascript"
        src="./js/build/connection/connection-min.js"></script>
<script language="javascript" src="./js/open_detial.js"></script>


<script language="VBScript"> 
dim hkey_root,hkey_path,hkey_key 
hkey_root="HKEY_CURRENT_USER" 
hkey_path="\Software\Microsoft\Internet Explorer\PageSetup" 

function pagesetup_default() 
on error resume next 
Set RegWsh = CreateObject("WScript.Shell") 
hkey_key="\header" 
RegWsh.RegWrite hkey_root+hkey_path+hkey_key,"&w&b"
hkey_key="\footer" 
RegWsh.RegWrite hkey_root+hkey_path+hkey_key,"&d" 
hkey_key="\portrait" 
RegWsh.RegWrite hkey_root+hkey_path+hkey_key,"false"
end function 
</script> 

<script language="javascript">
function printpreview(){
pagesetup_default();
wb.execwb(7,1);
}



function show_marker(ord_num)
{
	 var url ="marker.php?PHP_action=marker_ord_add&PHP_order_num="+ord_num; 
	 var nm = 'marker';
	 window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=700,height=500 top=50, left=100');

}

function show_cut(ord_num)
{
	 var url ="fty_marker.php?PHP_action=marker_ord_add&PHP_order_num="+ord_num; 
	 var nm = 'cutting';
	 window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=700,height=500 top=50, left=100');

}
</script>



</head>

<body>
<OBJECT id=factory 
	classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2" height=0 id=wb name=wb width=0></OBJECT>
<style media="print">.Noprint { DISPLAY: none }</style>
{/literal}
<form method=POST name=aply_wi>
<br>
<table cellspacing=1 cellpadding=4 cols=2 width=800 bgcolor=#2E5E73>
	<tr>
		<td class="des" align=center height=28 width=160 nowrap> <b>Order/BOM : </b> <span class=ylw10><b>{$wi.wi_num}</span> </b> </td>

		<td class="des" align=center height=28 >[ <span class=ylw10><b>Purchase Status</span> </b> ]</td>

</tr>
</table>
<table border=1 cellpadding=4 cellspacing=0 cols=1 width=800 id='tbl_msg' {if $msg_YES} style="display : block" {else}style="display : none"{/if}>
	<tr bgcolor=#ffffff> 
		<td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
		<td class=bgdy><div id='msg1'>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</div></td>
	</tr>
</table>
<table border=0 cellspacing=1 cellpadding=1 width=740 bgcolor=#FFFFFF>
   <tr>
    <td colspan=5 class=grn10 align=left><b>&nbsp;&nbsp;{if $order.last_updator}Last update : {$order.last_updator}<small> [ {$order.last_update} ]</small>{/if}</b></td>
    <td colspan=2 class=frnt align=right><b>currency : US$&nbsp;&nbsp;&nbsp;</b></td>
    <td>
    	<center class=noprint>
    		<input type=button name=button_show value="Print" onclick="javascript:printpreview();"> 

    		</center>
    </td>
  </tr>
   <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
 <tr><form method=POST name=add_order >
    <td class=snvy align=right  nowrap><b>style No. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.style_num}</b></td>
    <td class=snvy align=right nowrap><b>Customer :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.cust}</b></td>
    <td class=snvy align=right width=90 nowrap><b>customer ref. :</b></td>
    <td class=bgdy align=left  width=120 bgcolor=#dddddd><b>&nbsp;<small>{$order.ref}</small></b></td>
    <td class=snvy align=right  nowrap><b>Team :</b></td>
    <td class=bgdy align=left  bgcolor=#dddddd><b>&nbsp;{$order.dept}</b></td>
 </tr>
 <tr>
    <td class=snvy align=right nowrap><b>factory :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.factory}</b></td>
    <td class=snvy align=right nowrap><b>style type :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.style}</b></td>
    <td class=snvy align=right nowrap><b>Q'ty :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.qty|number_format}&nbsp;{$order.unit}</b></td>
    <td class=snvy align=right nowrap><b>SU :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.f_su}</b></td>
  </tr>
 <tr>
    <td class=snvy align=right nowrap><b>FOB @ :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;$ {$order.uprice}</b></td>
    <td class=snvy align=right nowrap><b>Quota Cat. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.quota}</b></td>
    <td class=snvy align=right  nowrap><b>smpl ord No. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><a href="javascript:smpl_out('{$order.smpl_ord}')" value='ord_out' style='cursor:pointer'><b>&nbsp;{$order.smpl_ord}</b></a></td>
    <td class=snvy align=right nowrap><b>Size :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.size}</b></td>
  </tr>    
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
 <tr>
    <td class=snvy align=right nowrap><b>ETD :</b></td>
	<td class=b10 align=left nowrap bgcolor=#dddddd><b>&nbsp;{$order.etd}</b></td>
	<td class=snvy align=right nowrap><b>ETP. :</b></td>
	<td class=b10 align=left nowrap bgcolor=#dddddd><b>&nbsp;{$order.etp}</b></td>
	<td class=snvy align=right nowrap><b>est. Lead Time :</b></td>
	<td class=grn10 align=left nowrap bgcolor=#dddddd><b>&nbsp;{$lead_time} days</b></td>
	<td class=snvy align=right nowrap><b>calc. IE :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.ie1}</b></td> 
  </tr>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
</table>

<br>
<!-------------  BOM table ------------->
<!-------------  主料 bom ------------->

<table width=800 border=1 cellspacing=1 cellpadding=1>
   <tr><td>
	<table width=800 border=1 cellspacing=0 cellpadding=1>
	<!------- 主料 bom  Title --------- -->
	 <tr bgcolor=#D5D5BE>
	    <td width=90  class=b9  align=center><b>Fabirc #</b></td>
	    <td width=120  class=b9  align=center><b>Name</b></td>
	    <td width=150  class=b9  align=center><b>Placement</b></td>
	  	<td width=80  class=b9  align=center><b>BOM Q'TY</b></td>
	  	<td width=70  class=b9  align=center><b>RCVD.</b></td>
	  	<td width=70  class=b9  align=center><b><a href="javascript:show_marker('{$wi.wi_num}')" style='cursor:pointer'>Marker</a></b></td>
			<td width=70  class=b9  align=center><b><a href="javascript:show_cut('{$wi.wi_num}')" style='cursor:pointer'>Cut Plan</a></b></td>
	 </tr>

	<!-------  BOM 主料記錄 --------- -->

	{section name=BOM loop=$bom_lots} 
	{if $bom_lots[BOM].ln_mk}
	 <tr bgColor='#FFD5A8'>
	{else}
	 <tr onmouseover="bgColor='#FEFFA8'" onmouseout="bgColor='#ffffff'">
	{/if}	
		<td class=b9 align=left nowrap>&nbsp;<a href="javascript:Show_fab('{$bom_lots[BOM].lots_code}')" value='ord_out' style='cursor:pointer'>{$bom_lots[BOM].lots_code}</a></td>
		<td class=b7 align=left><small>&nbsp;{$bom_lots[BOM].lots_name}</small></td>
		<td class=b7 align=left><small>&nbsp;{$bom_lots[BOM].use_for}</small></td>
	  <td class=snvy align=right><small>&nbsp;{$bom_lots[BOM].total|number_format:"2f"}&nbsp;{$bom_lots[BOM].unit}</small></td>
		
		
		<td class=snvy align=right> 
			{if $bom_lots[BOM].ap_mark == 'stock'}
				== stock ==
			{else}
				{if $bom_lots[BOM].po.rcv_qty > 0}<small>&nbsp;{$bom_lots[BOM].po.rcv_qty|number_format:"2f"}&nbsp;{$bom_lots[BOM].po.unit}</small>{else}&nbsp;{/if}
			{/if}	
		</td>	  
	  <td class=snvy align=right>{if $bom_lots[BOM].mrk_qty > 0}<small>&nbsp;{$bom_lots[BOM].mrk_qty|number_format:"2f"}&nbsp;{$bom_lots[BOM].unit}</small>{else}&nbsp;{/if}</td>
	  <td class=snvy align=right>{if $bom_lots[BOM].cut_qty > 0}<small>&nbsp;{$bom_lots[BOM].cut_qty|number_format:"2f"}&nbsp;{$bom_lots[BOM].unit}</small>{else}&nbsp;{/if}</td>

	</tr>

	{/section}
<!--	</table>	-->
	</table>
</table>

 <table width=800 border=0 cellspacing=1 cellpadding=2>    
	 <tr>
	   <td class=gry7 align=right> {literal}Submit: {/literal}&nbsp;&nbsp; {if $wi.bcfm_user}<a href="javascript:message_out('{$wi.bcfm_user_id}')" style="cursor:pointer"><u>{$wi.bcfm_user}</u></a>&nbsp;&nbsp; <U>[ {$wi.bcfm_date} ] </U>{else}[ None ]{/if}</td>
   </tr>
 </table>

<table border=0 cellspacing=0 cellpadding=2 width=800 bgcolor=#ffffff align=center>
  <tr>
	<td colspan=2>
		<input type=button onclick="window.location='fty_marker.php?PHP_action=marker_rpt_list'" value=" << go back " class=select_e style="cursor:pointer; width=99%">

	</td>
  </tr>

</table>
</form>
<!--------- footer ---------->
{include file="footer.html"}
