<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>==== ::::::::::  ORDER LISTING :::::::::: ====</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">
<!--*****­¶¼Ʒs¼Wstart -->


 
 </script>
{/literal}
</head>
<body bgcolor="#003C77" topmargin=10><form name='add'>

     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=690 id='tbl_msg' style="display : none">
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy><div id='msg1'></div></td>        
      </tr>
     </table>

 <table width=300 border=1 cellspacing=0 cellpadding=2>
  <tr><td colspan=10 align=center class=gry><b>[{$ord_num}] CUTTING LIST</b></td></tr>
<!----------
{if $msg_YES}
 <TR><TD colspan=10>
     <table border=0 cellpadding=3 cellspacing=0 cols=1 width=690>
      <tr bgcolor=#ffffff>
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
 </TD></TR>
{/if}
------>

  <tr bgcolor="#0D4368"> 
    <td class=w9 width=100  align=center>DATE</td>
    <td class=w9 width=70  align=center>QTY</td>
    <td class=w9 width=70  align=center>SU</td>
  </tr>
{section name=SEC loop=$sorder}
	<tr>
   <td class=gry9 align=center>{$sorder[SEC].k_date}</td>
   <td class=gry9 align=right>{$sorder[SEC].qty|number_format}&nbsp;</td>
   <td class=gry9 align=right>{$sorder[SEC].su|number_format}&nbsp;</td>
  </tr>
  {/section}
	<tr bgColor='#dddddd'>
   <td class=gry9 align=center><B>TOTAL</B></td>
   <td class=gry9 align=right>{$ttl.qty|number_format}&nbsp;</td>
   <td class=ssign align=right>{$ttl.su|number_format}&nbsp;</td>
  </tr>
</table>

<!----------------------------------------------------------->
<!--------- footer ---------->
{include file="footer.html"}
