<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM -B [ ORDER RECORD ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/col.js"></script>
<Script language="javascript">


</script>
{/literal}
</head>
<body>

<br>
<table cellspacing=1 cellpadding=4 cols=1 width=650 bgcolor=#333333>
	<tr><td class="des" align=center height=28> [ <span class=ylw10><b>索賠 -- 意見</b></span> ] </td></tr>
</table>
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=650>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=b9>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
<br><form method=POST name=back>
<table border=0 cellspacing=2 cellpadding=2 width=650 bgcolor=#FFFFFF>
  <tr>	
     <td width=100 class=snvy align=right nowrap><b>部門 :</b></td>			
    <td width=125 class=b9 align=left bgcolor='#eeeeee'><b>{$dn.dept}</b></td>		 	
    <td width=100 class=snvy align=right ><b>報告日期 : </b></td>
    <td width=125 class=b9 align=left bgcolor='#eeeeee'><b>{$dn.dn_date}</b></td>
    <td width=100 class=snvy align=right ><b>報告人 : </b></td>
    <td width=100 class=b9 align=left bgcolor='#eeeeee' ><b><a href="javascript:message_out('{$dn.dn_user_id}')" style="cursor:pointer">{$dn.dn_user}</a></b></td> 
 	</tr>
 	<tr>
 		 	<td class=snvy align=right><b>索賠對向 :</b></td>
  		<td class=b9 align=left colspan=3 bgcolor='#eeeeee'><b>{$dn.dn_to_name}</b></td> 
    	<td class=snvy align=right><b>索賠價格 :</b>&nbsp;</td>
    	<td class=b9 align=left bgcolor='#eeeeee' ><b>{$dn.currency} $ {$dn.dn_price}</b></td>

	</tr>
 	<tr>
    <td class=snvy align=right nowrap><b>訂單編號 :</b></td>
    <td class=b9 align=left  colspan=3 bgcolor='#eeeeee'><b>{$dn.ord_num}</b></td>
 	</tr>
 	<tr>
 		 	<td class=snvy align=right><b>Customer P.O.# :</b></td>
  		<td class=b9 align=left colspan=3 bgcolor='#eeeeee'><b>{$dn.cust_po}</b></td> 
    	<td class=snvy align=right><b>採購單編號 :</b>&nbsp;</td>
    	<td class=b9 align=left bgcolor='#eeeeee' ><b>{$dn.po_num}</b></td>
	</tr>  	
 </table>

 <br> 
<table border=0 cellspacing=2 cellpadding=2 width=650 bgcolor=#FFFFFF>

 <tr height=28>
    <td width=290 bgcolor=#eeeeee class=bgdy align=center nowrap><b>索賠事由</b></td>
    <td width=360 bgcolor=#eeeeee class=bgdy align=center nowrap><b>會辦單位</b></td>
 </tr>
 <tr>
   <td class=frnt align=left rowspan=8 valign=top>{$dn.dn_des}</td>
 </tr>
 {section name=SEC loop=$comm}	 
 {if $comm[SEC].comm_dept == $dept}  
  <tr>
  	<td><b>{$comm[SEC].dept_name}</b></td>
  </tr>
  <tr>
  	<td>&nbsp;<textarea rows=7 cols=60 name="PHP_comm">{$comm[SEC].Comm}</textarea></td>
  </tr>
  	<input type="hidden" name="PHP_comm_dept" value="{$comm[SEC].comm_dept}">
	  <input type="hidden" name="PHP_comm_id" value="{$comm[SEC].id}">
  {/if}
  {/section}

 
</table>

<table border=0 cellspacing=0 cellpadding=1 width=650 bgcolor=#FFFFFF>

 <tr bgcolor=#333333 height=28>
  <tr>
    <td  colspan=2 class=frnt align=center><hr size=2 width=98%></td>
  </tr>    
 </tr>
 
</table>

<table border=0 cellspacing=0 cellpadding=2 width=640 bgcolor=#ffffff align=center>
  <tr>
	<td width=100>
{if $back_str}
		<input type=button onClick="window.location.href='{$back_str}'" value=" << go back " class=select_e style="cursor:pointer; width=99%">
{else}&nbsp;
{/if}
	</td>
  <td>
		<input type="hidden" name="PHP_action" value="do_dn_comm_edit">
		<input type="hidden" name="PHP_back_str" value="{$back_str}">
	  <input type="hidden" name="PHP_id" value="{$dn.id}">			
		<input type=submit value="[ 加入]" class=select_e style="cursor:pointer; width=100%" >
  </td>

 
  </tr>



</table>
</form>
<!--------- footer ---------->
{include file="footer.html"}
