<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM -B [ monthy SHIPPING summary ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">
function ord_out(ord_num) {

//	alert("order number = "+ord_num);
	 var url ="index2.php?PHP_action=order_output&PHP_ord_num="+ord_num;
	 var nm = 'order';
	window.open(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=850,height=600 top=50, right=100');
}

function tblresize() {
	var dh = 110;
	var dw = 60;
	var hh = tblShow.offsetHeight + dh;
	if ( hh > screen.height - dh )
	hh = screen.height - dh ;
  if (tblShow.offsetWidth) window.resizeTo( tblShow.offsetWidth + dw , hh );
  self.focus();
}

</script>
{/literal}

<body topmargin="10" onLoad="tblresize();" />
<table border="0" cellspacing="0" cellpadding="0" id="tblShow" />
  <tr>
    <td>
 <table width=650 border=1 cellspacing=0 cellpadding=2>
  <tr bgcolor=#dddddd><td colspan=10 align=center class=gry height=35><b>monthy SHIPPING summary list  {$title_mk}</b></td></tr>
  <tr  bgcolor=#dddddd height=25><td colspan=10 align=center class=gry><b>FACTORY : <span class=sign><b>{$fty}</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;YEAR : <span class=sign><b>{$year}</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MONTH : <span class=sign><b>{$mon}</b></td></tr>
  <tr bgcolor="#0D4368" height=25> 
    <td class=w9 width=80 align=center bgcolor=#122B3F>ORDER#</td>
    <td class=w9 width=50 align=center bgcolor=#122B3F>Style</td>
    <td class=w9 width=60 align=center bgcolor=#122B3F>ORD QTY</td>
    <td class=w9 width=60 align=center bgcolor=#122B3F>SHP QTY</td>
    <td class=w9 width=60 align=center bgcolor=#122B3F>SHP SU</td>
    <td class=w9 width=0 align=center bgcolor=#ffffff></td> 
    <td class=w9 width=60 align=center bgcolor=#728A9F>@FOB $</td>
    <td class=w9 width=90 align=center bgcolor=#728A9F>Amount</td>
    <td class=sign width=80 align=center bgcolor=#345364>ETD</td>
    <td class=w9 width=80 align=center bgcolor=#345364>SHIP DATE</td>
  </tr>
{if $record_NONE}
  <tr><td colspan=9 align=center class=bgdy height=35><b>No Records !</b></td></tr>
{else}
{section name=SEC loop=$shp}
  <tr bgcolor="#ffffff"> 
    <td class=snvy align=left nowrap><b><a href="javascript:ord_out('{$shp[SEC].ord_num}')" value='ord_out' style='cursor:pointer'>{$shp[SEC].ord_num}{if $shp[SEC].partial_num > 1} ({$shp[SEC].mks}){/if}</a></b></td>
    <td class=bgdy9 align=center><b>{$shp[SEC].style}</b></td>
    <td class=bgdy9 align=right><b>{$shp[SEC].qty|number_format}</b></td>
    <td class=grn9 align=right><b>{$shp[SEC].s_qty|number_format}</b></td>
    <td class=gry9 align=right><b>{$shp[SEC].su|number_format}</b></td>
    <td class=b9 align=center></td>
    <td class=grn9 align=right>${$shp[SEC].uprice|number_format:2}</td>
    <td class=grn9 align=right>${$shp[SEC].amt|number_format:2}</td>
    <td class=b9 align=center><b>{$shp[SEC].etd}</b></td>
    <td class=b9 align=center><b>{$shp[SEC].shp_date}</b></td>
  </tr>
{/section}
  <tr bgcolor="#D1D1D0"> 
    <td class=snvy align=left><b>Total</b></td>
    <td class=b9   align=center>&nbsp;</td>
    <td class=bgdy9 align=right><b>{$ttl_odr_qty|number_format}</b></td>
    <td class=grn9 align=right><b>{$ttl_shp_qty|number_format}</b></td>
    <td class=gry9 align=right><b>{$ttl_shp_su|number_format}</b></td>
    <td class=b9   align=center>&nbsp;</td>
    <td class=b9   align=center>&nbsp;</td>
    <td class=b9   align=right>${$ttl_amt|number_format:2}</td>
    <td class=b9 colspan=3 align=center>&nbsp;</td>
  </tr>

  <tr bgcolor="#C2C2C1" height=25> 
    <td class=b9 align=center colspan=10><b>Total SHIPPED in month <span class=sign><b>&nbsp;{$mon}&nbsp;</b></span>   for volume <span class=bgdy>: {$ttl_shp_su|number_format} su</b>&nbsp;</span>({$ttl_shp_qty|number_format} pcs)&nbsp;&nbsp;&nbsp;average: @Fob${$pc_avg}/pc</td>
  </tr>
 {/if}
</table>
		</td>
  </tr>
</table>
<!--------- footer ---------->
{include file="footer.html"}
