<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM -B [ ORDER RECORD ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/col.js"></script>
<Script language="javascript">
var $old ="";
function cfm_img() {
		var $old ="";
		$old = document.pic.src;
		document.pic.src = document.adding.PHP_pic.value;

	if ( !confirm ("confirm if the picture is correct?")){
		document.pic.src = $old;
	} else {
		document.adding.PHP_pic_upload.value ="1";
	}
}
function wait(){
	alert ("如果您有傳圖上主機時時，將會花上一段時間!!\r\r請在等待[視窗自動更新]前,不要再按任何按扭。 \r最佳的方法，請將您的圖檔盡可能設定與系統要求相同大小    \r\r因為系統接受圖檔後，會自動將圖再format成固定大小 !  ");
}

function search_ord(cust,dept){
	var gofile ='exception.php?PHP_action=order_search&PHP_cust='+cust+'&PHP_dept='+dept;
	style=window.open(gofile,'styleord','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=700,height=650, top=100, left=150');

}

function writeToOrdList(order,style,ie,qty,saw_qty) {
	window.document.forms['adding'].elements['PHP_order'].value = order;
}

</script>
{/literal}
</head>
<body>
<form method=POST name=adding enctype="multipart/form-data">
<br>
<table cellspacing=1 cellpadding=4 cols=1 width=700 bgcolor=#333333>
	<tr><td class="des" align=center height=28> [ <span class=ylw10><b>EDIT</b></span> Exceptional  -- {$exc.ex_num}] </td></tr>
</table>
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=700>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=b9>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
<br>
<table border=0 cellspacing=0 cellpadding=1 width=700 bgcolor=#FFFFFF>	
  <tr>	
  	<td class=frnt align=right width=100><b>客戶 :</b></td>
  	<td class=b9   align=left><b>{$exc.cust}</b></td> 

     <td class=snvy align=right nowrap><b>部門 :</b></td>			
     <td class=b9 align=left><b>{$exc.dept}</b></td>
		 	
    <td  class=frnt align=right><b>報告日期 : {$exc.exc_date}</b></td>
 	</tr>
  <tr>	
    <td class=snvy align=right nowrap><b>訂單編號 :</b></td>
    <td class=b9 align=left colspan=4 ><b>{$exc.ord_num}</b></td>
	</tr> 	
  <tr>	
    <td class=snvy align=right nowrap><b>採購單編號 :</b></td>
    <td class=b9 align=left  colspan=4><b>{$exc.po_num}</b></td>
	</tr> 	
 </table>
<table border=0 cellspacing=0 cellpadding=1 width=700 bgcolor=#FFFFFF>

 <tr bgcolor=#eeeeee height=28>
    <td class=bgdy align=center nowrap colspan=5><b>異常狀態</b></td>
 </tr>
{section name=SEC loop=$state}	
 <tr>
   {if  $state[SEC].state == 99 }
    <td class=snvy align=left colspan=5><b>{$state[SEC].state}.</b>&nbsp;&nbsp;其他 : <input type='text' name="PHP_oth_static" size=30 value="{$state[SEC].sta_name}" class=select></td>
   {else}
    <td class=snvy align=left nowrap><b>{$state[SEC].state}.</b>&nbsp;&nbsp;{$state[SEC].sta_name}</td>
    <td class=b9 align=left><b>{$state[SEC].org_name}:</b><b></b></td>
    <td class=b9 align=left><b><input type='text' name="PHP_e_org[{$state[SEC].id}]" size=8 value="{$state[SEC].org_rec}" class=select> </td>
    {if $state[SEC].state <> 7}
    <td class=b9 align=left><b>{$state[SEC].new_name}:</b><b></b></td>
    <td class=b9 align=left><b><input type='text' name="PHP_e_new[{$state[SEC].id}]" size=8 value="{$state[SEC].new_rec}" class=select> </td>    
    {else}
    	<input type='hidden' name="PHP_e_new[{$state[SEC].id}]" value="" class=select>
    {/if}
   {/if} 
</tr>
{/section}

{section name=SEC loop=$un_sta}	
 <tr>
   {if  $un_sta[SEC].state == 99 }
    	<td class=snvy align=left colspan=5><b>{$un_sta[SEC].state}.</b>&nbsp;&nbsp;其他 : <input type='text' name="PHP_oth_static" size=30 value="" class=select></td>
   {else}
    <td class=snvy align=left nowrap><b>{$un_sta[SEC].state}.</b><input type='checkbox' name="PHP_state[{$un_sta[SEC].state}]" value="{$un_sta[SEC].state}">&nbsp;&nbsp;{$un_sta[SEC].sta_name}</td>
    <td class=b9 align=left><b>{$un_sta[SEC].org_name}:</b><b></b></td>
    <td class=b9 align=left><b><input type='text' name="PHP_org[{$un_sta[SEC].state}]" size=8 value="" class=select> </td>
    {if $un_sta[SEC].state <> 7}
    <td class=b9 align=left><b>{$un_sta[SEC].new_name}:</b></td>
    <td class=b9 align=left><b><input type='text' name="PHP_new[{$un_sta[SEC].state}]" size=8 value="" class=select> </td>    
    {else}
    	<input type='hidden' name="PHP_new[{$state[SEC].state}]" value="" class=select>
    {/if}
   {/if} 
</tr>
{/section}
  <tr>
    <td colspan=5 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
</table>  

<table border=0 cellspacing=2 cellpadding=2 width=700 bgcolor=#FFFFFF>

 <tr height=28>
    <td bgcolor=#eeeeee class=bgdy align=center nowrap><b>發生原因及預估損失</b></td>
    <td bgcolor=#eeeeee class=bgdy align=center nowrap><b>會辦單位</b></td>
 </tr>
 <tr>
   <td class=frnt align=center rowspan=7> 
    {if $exc.sys_des}
    <textarea rows=7 cols=120 name="PHP_sys_des" readonly >{$exc.sys_des}</textarea><BR>
   	{/if}  
   	<textarea rows=7 cols=120 name="PHP_exc_des">{$exc.exc_des}</textarea>
   </td>
 </tr>   
  <tr>
  	<td>&nbsp;&nbsp;
  		<input type="checkbox" name="PHP_team[0]" value="1" {if $exc.LY > 0}checked{/if}  {if $exc.LY == 2}disabled{/if}> 立元廠
  		{if $exc.LY == 2}<input type="hidden" name="PHP_team[0]" value="1">{/if}	
  	</td>
  </tr>
  <tr>
  	<td>&nbsp;&nbsp;
  		<input type="checkbox" name="PHP_team[1]" value="2" {if $exc.HJ > 0}checked{/if}  {if $exc.HJ == 2}disabled {/if}> 湖嘉廠
  		{if $exc.HJ == 2}<input type="hidden" name="PHP_team[1]" value="2">{/if}
  	</td>
  </tr>
  <tr>
  	<td>&nbsp;&nbsp;
  		<input type="checkbox" name="PHP_team[2]" value="4" {if $exc.CF > 0}checked {/if} {if $exc.CF == 2} disabled{/if}> 嘉菲廠
  		{if $exc.CF == 2}<input type="hidden" name="PHP_team[2]" value="4">{/if}
  	</td>
  </tr>
  <tr>	
  	<td>&nbsp;&nbsp;
  		<!-- <input type="checkbox" name="PHP_team[3]" value="8" {if $exc.PM > 0 }checked {/if} {if $exc.PM == 2}disabled{/if}> 生產企劃室 -->
  		<input type="checkbox" name="PHP_team[3]" value="8" disabled> 生產企劃室
  		<!-- {if $exc.PM == 2}<input type="hidden" name="PHP_team[3]" value="8">{/if} -->
  		<input type="hidden" name="PHP_team[3]" value="">
  	</td>
 </tr>
  <tr>
  	<td>&nbsp;&nbsp;
  		<input type="checkbox" name="PHP_team[4]" value="16" {if $exc.PO > 0}checked {/if} {if $exc.PO == 2} disabled{/if}> 採購
  		{if $exc.PO == 2}<input type="hidden" name="PHP_team[4]" value="16">{/if}
  	</td>
  </tr> 
  <tr>
    <td  colspan=2 class=frnt align=center><hr size=2 width=98%></td>
  </tr> 
</table>

<table border=0 cellspacing=0 cellpadding=1 width=700 bgcolor=#FFFFFF>

 <tr bgcolor=#333333 height=28>
    
 </tr>
 
</table>

<table border=0 cellspacing=0 cellpadding=2 width=690 bgcolor=#ffffff align=center>
  <tr>
  <td>
	<input type="hidden" name="PHP_action" value="do_exc_edit">
	<input type="hidden" name="PHP_back_str" value="{$back_str}">

	<input type="hidden" name="PHP_id" value="{$exc.id}">
	<input type="hidden" name="PHP_status" value="{$exc.status}">
	<input type="hidden" name="PHP_order" value="{$exc.ord_num}">
	<input type="hidden" name="PHP_org_dept" value="{$exc.oth_dept}">
	<input type=submit value="[ 更新異常狀態報告 ]" class=select_e style="cursor:pointer; width=100%" onClick=this.width=0;></form>
  </tr>



</table>
<!--------- footer ---------->
{include file="footer.html"}
