<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>SCM [ Exp. Cost distribution ]</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/jquery.min.js"></script>
<script language="javascript" src="./js/open_detial.js"></script>
<script language="javascript">
(function($){

	$(document).ready(function(){
        // bgcolor line
        $('tr[id^=list_over]').hover(function(){
            $(this).addClass("list_bg");
        },function(){
            $(this).removeClass("list_bg");  
        });
	});
    
})(jQuery);

function ord_out(ord_num) {
    //	alert("order number = "+ord_num);
    var url ="index2.php?PHP_action=order_view&PHP_ord_num="+ord_num;
    var nm = 'order';
    window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=850,height=600 top=30, left=100');
}

function tblresize() {
    var dh = 110;
    var dw = 35;
    var hh = tblShow.offsetHeight + dh;
    if ( hh > screen.height - dh )
    hh = screen.height - dh ;

    if (tblShow.offsetWidth) window.resizeTo( tblShow.offsetWidth + dw , hh );
    self.focus();
}

</script>
{/literal}
<body onLoad="tblresize();" />
<table border="0" cellspacing="0" cellpadding="0" id="tblShow" />
    <tr>
        <td>
            <table border=1 cellspacing=0 cellpadding=2>
                <tr bgcolor="#C2C2C1">
                    <td colspan=14 align=center class=gry height=35><b>Exp. Cost - Monthly Order Summary List {$title_mk}</b></td>
                </tr>
                <tr  bgcolor="#C2C2C1" height=25>
                    <td colspan=14 align=center class=gry><b>FACTORY : <span class=sign><b>{$fty}</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;YEAR : <span class=sign><b>{$year}</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MONTH : <span class=sign><b>{$month}</b></td>
                </tr>
                {if $record_NONE}
                <tr>
                    <td colspan=14 align=center class=bgdy height=35><b>No Records !</b></td>
                </tr>
                {else}
                {section name=SEC loop=$est_order}
                {if $smarty.section.SEC.index % 25 == 0}
                <tr bgcolor="#0D4368" height=25> 
                    <td class=w9 align=center bgcolor=#122B3F rowspan=2>Order #</td>
                    <td class=w9 align=center bgcolor=#122B3F rowspan=2>Order Q'ty</td>
                    <td class=w9 align=center bgcolor=#122B3F rowspan=2>Ship. Q'ty</td>
                    <td class=w9 align=center bgcolor=#122B3F rowspan=2>Shipd.<br>SU</td>
                    <td class=w9 align=center bgcolor=#122B3F rowspan=2>TTL. Cost</td>
                    
                    <td class=w9 align=center bgcolor=#122B3F rowspan=2><!-- Other Cost --></td>
                    <td class=w9 align=center bgcolor=#122B3F colspan="8">@ Unit</td>
                </tr>
                <tr>
                    <td class=w9 align=center bgcolor=#122B3F>Fab.</td>
                    <td class=w9 align=center bgcolor=#122B3F>Acc.</td>
                    <td class=w9 align=center bgcolor=#122B3F>C.M.</td>
                    <td class=w9 align=center bgcolor=#122B3F>H.Fee</td>
                    
                    <td class=w9 align=center bgcolor=#122B3F>EMB.</td>
                    <td class=w9 align=center bgcolor=#122B3F>WASH.</td>
                    <td class=w9 align=center bgcolor=#122B3F>OTH.</td>
                    
                    <td class=w9 align=center bgcolor=#122B3F>Cost</td>
                </tr>
                {/if}
                <tr {if $ord[SEC].status == '== SHIPPED ==' || $ord[SEC].status == '= FINISHED ='}bgcolor="#F3F2F2"{else}bgcolor="#ffffff"{/if} id="list_over"> 
                    <td class=snvy align=left nowrap><b><a href="javascript:ord_out('{$est_order[SEC].order_num}')" value='ord_out' style='cursor:pointer'>{$est_order[SEC].order_num}{$est_order[SEC].mks}</b>
                    <td class=gry9  align=right nowrap><b>{$est_order[SEC].qty|number_format}</b></td>
                    <td class=bgdy9 align=right nowrap><b>{$est_order[SEC].ship_qty|number_format}</b></td>
                    <td class=grn9  align=right nowrap><b>{$est_order[SEC].ship_su|number_format}</b></td>
                    <td class=frnt  align=right nowrap><b>${$est_order[SEC].amount|number_format:'2f'}</b></td>
                    
                    <td class=w9  align=right nowrap bgcolor="#122B3F"><!-- ${$est_order[SEC].oth_cost|number_format:'2f'} --></td>
                    
                    <td class=frnt  align=right nowrap><b>${$est_order[SEC].cost_lots|number_format:'2f'}</b></td>
                    <td class=frnt  align=right nowrap><b>${$est_order[SEC].cost_acc|number_format:'2f'}</b></td>
                    <td class=frnt  align=right nowrap><b>${$est_order[SEC].org_cm|number_format:'2f'}</b></td>
                    <td class=frnt  align=right nowrap><b>${$est_order[SEC].fee|number_format:'2f'}</b></td>
                    
                    <td class=gry9  align=right nowrap><b>${$est_order[SEC].emb|number_format:'2f'}</b></td>
                    <td class=gry9  align=right nowrap><b>${$est_order[SEC].wash|number_format:'2f'}</b></td>
                    <td class=gry9  align=right nowrap><b>${$est_order[SEC].oth|number_format:'2f'}</b></td>
                    
                    <td class=gry9  align=right nowrap><b>${$est_order[SEC].cost_unit|number_format:'2f'}</b></td>
                </tr>
                {/section}
                <tr bgcolor="#D1D1D0"> 
                    <td class=snvy align=left><b>Total</b></td>
                    <td class=gry9 align=right><b>{$ttl_qty|number_format}</b></td>
                    <td class=bgdy9 align=right><b>{$ttl_ship_qty|number_format}</b></td>
                    <td class=grn9 align=right><b>{$ttl_ship_su|number_format}</b></td>
                    <td class=frnt align=right><b>${$ttl_amount|number_format:'2f'}</b></td>
                    <td class=w9 align=right bgcolor="#122B3F"><b><!-- Other Cost ${$ttl_oth_cost_amount|number_format:'2f'} --></b></td>
                    <td class=frnt align=left colspan="4"><b>Other Cost : ${$ttl_oth_cost_amount|number_format:'2f'}</b></td>
                    <td class=frnt align=left colspan="4"><b>TTL.+Oth. Cost : ${$ttl|number_format:'2f'}</b></td>
                </tr>
                {/if}
            </table>
        </td>
    </tr>
</table>
<!--------- footer ---------->
{include file="footer.html"}