<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=big5">
  <title>===:::::::::: SCM 樣本輔助系統 [ customer data ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
<Script language="javascript"> 
	$(document).ready(function() {
		$("div[id*=md]").scroll(function(e){$("#sd").scrollTop($("div[id*=md]").scrollTop()+$("body").scrollTop());$("#sd").scrollLeft($(this).scrollLeft());	$("#sd").offset({left:$("div[id*=md]").offset().left,top:$("div[id*=md]").offset().top +$("body").scrollTop()});$("#sd").show();});
		$('*').mouseup(function(){$("#sd").fadeOut(600);});
		$("#sd").hide();
	});
	
	function cunt(names,mm)
	{
		{/literal}
		var exp_ttl = 0;
		var vls = 0;

		{section name=SEC loop=$txt}
		vls = window.document.forms['cust_add'].elements['PHP_e_{$txt[SEC]}'].value;		
		if(vls == '') vls = 0;
		exp_ttl += parseInt(vls);					
		{/section}		
		window.document.forms['cust_add'].elements['PHP_e_ttl'].value = exp_ttl;
		{literal}
	}
</Script>
{/literal}	
</head>
<body >
<div id="sd" style="position:absolute; overflow: hidden;width:516px; display:none">
<table width="1932" border="0" cellspacing="1" cellpadding="0">
  <tr bgcolor="#FFFFFF">
    {section name=SEC loop=$mm_ary}<td height="36" colspan=2 align=center bgcolor="#FFFFDD" class=frnt {if $mm >= $mm_ary[SEC]}bgcolor=#FFE2F9{/if}><B>{$mm_ary[SEC]}</b></td>
    <td style="width:1px; background-color:#000000;"></td>
  {/section}</tr>
  <tr bgcolor="#FFFFFF">
    {section name=SEC loop=$mm_ary}<td width="80" height="25" align=center class=frnt  {if $mm >= $mm_ary[SEC]}bgcolor=#FFE2F9{/if}>forecast</td>
    <td width="80" align=center class=frnt  {if $mm >= $mm_ary[SEC]}bgcolor=#FFE2F9{/if}>expense</td>
    <td style="width:1px; background-color:#000000;"></td>
  {/section}</tr>
</table>
</div>
{php} $md = 0 ;{/php}
<form METHOD="POST" name="cust_add" action="{$PHP_SELF}">
{section name=REP loop=$dp} 
<br>
<div id="hh" style="overflow:hidden;width:843px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <table width="2243" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="310" valign="top">
            <table width="310" border="0" cellspacing="1" cellpadding="0">
              <tr bgcolor="#FFFFFF">
                <td height="36" align=left bgcolor="#FFFFFF" class=frnt><a href="expense.php?PHP_action=expense_print&PHP_year={$yy}&PHP_dept={$dept}&PHP_month={$mm}" ><img src="./images/print9.gif" border=0 alt="PDF: SAVE/PRINT"></a></td>
                <td colspan=3 align=center bgcolor="#FFFFDD" class=frnt>
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <table width="100%" border="0" cellspacing="2" cellpadding="0">
                          <tr>
                            <td><b>DEPT : {if $dp_ary[REP] == 'K0'}SALES{elseif $dp_ary[REP] == 'J1'}PROJECT{else}{$dp_ary[REP]}{/if}</b></td>
                            <td align="right"><b>FY : {$yy}</b></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td align="center"><b>uptoday (01-{$mm})</b></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td width="70" height="25" align=right class=frnt>&nbsp;</td>
                <td width="80" align=center class=frnt>forecast</td>
                <td width="80" align=center class=frnt>expense</td>
                <td width="80" align=center class=frnt>different</td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" align=right class=snvy><B>合計: </B></td>
                <td class=frnt align=right  bgcolor=#CCCCCC ><B>{$dp[REP].sub_f.ttl|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#CCCCCC ><B>{$dp[REP].sub_e.ttl|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.ttl >= 0}class=frnt{else}class=sign{/if} align=right bgcolor=#CCCCCC ><B>{$dp[REP].diff.ttl|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td bgcolor=#00000000></td>
                <td bgcolor=#00000000></td>
                <td bgcolor=#00000000></td>
                <td bgcolor=#00000000></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" align=right class=snvy >預估費用: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.cost|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.cost|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.cost >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.cost|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" align=right class=snvy >薪資支出: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.salary|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.salary|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.salary >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.salary|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right>租金支出: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.rent|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.rent|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.rent >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.rent|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right>文具用品: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.stationery|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.stationery|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.stationery >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.stationery|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >旅費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.travel|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.travel|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.travel >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.travel|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >運費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.freight|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.freight|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.freight >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.freight|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >郵電費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.postal|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.postal|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.postal >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.postal|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >修繕費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.fix|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.fix|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.fix >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.fix|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >廣告費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.ad|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.ad|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.ad >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.ad|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >水電瓦斯: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.water|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.water|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.water >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.water|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >保險費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.insurance|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.insurance|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.insurance >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.insurance|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >交際費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.communicat|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.communicat|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.communicat >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.communicat|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >捐贈: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.donate|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.donate|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.donate >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.donate|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >稅捐: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.taxes|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.taxes|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.taxes >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.taxes|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >呆帳損失: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.bed_dabt|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.bed_dabt|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.bed_dabt >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.bed_dabt|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >折舊: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.depreciation|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.depreciation|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.depreciation >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.depreciation|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >各項攤提: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.other_1|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.other_1|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.other_1 >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.other_1|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >圖書什誌: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.book|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.book|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.book >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.book|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >伙食費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.food|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.food|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.food >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.food|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >職工福利金: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.welfare|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.welfare|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.welfare >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.welfare|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >研究發展費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.rd|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.rd|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.rd >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.rd|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >訓練費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.teach|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.teach|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.teach >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.teach|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >醫藥費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.medicine|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.medicine|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.medicine >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.medicine|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >佣金: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.commission|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.commission|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.commission >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.commission|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >勞務費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.labor_1|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.labor_1|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.labor_1 >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.labor_1|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >什費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.other_2|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.other_2|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.other_2 >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.other_2|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >什項購置: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.other_3|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.other_3|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.other_3 >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.other_3|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >報關費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.customs|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.customs|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.customs >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.customs|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >樣品費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.sample|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.sample|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.sample >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.sample|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >銀行手續費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.bank|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.bank|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.bank >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.bank|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >包裝費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.pack|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.pack|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.pack >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.pack|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >勞保費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.labor_2|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.labor_2|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.labor_2 >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.labor_2|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >健保費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.health|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.health|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.health >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.health|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >耗用物料: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.material|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.material|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.material >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.material|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >費用分攤: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.share|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.share|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.share >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.share|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >年獎提存: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.prize|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.prize|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.prize >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.prize|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >退休金準備: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.retire_1|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.retire_1|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.retire_1 >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.retire_1|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >外銷拓展費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.reach_cost|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.reach_cost|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.reach_cost >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.reach_cost|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >商港建設費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.build|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.build|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.build >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.build|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >退休金費用: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.retire_2|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.retire_2|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.retire_2 >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.retire_2|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >衣服修改費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.cloth_fix|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.cloth_fix|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.cloth_fix >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.cloth_fix|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >員工制服費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.work_cloth|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.work_cloth|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.work_cloth >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.work_cloth|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >管理費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.manage|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.manage|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.manage >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.manage|number_format}&nbsp;</B></td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height="20" class=snvy align=right >保全費: </td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_f.safety|number_format}&nbsp;</B></td>
                <td class=frnt align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].sub_e.safety|number_format}&nbsp;</B></td>
                <td {if $dp[REP].diff.safety >= 0}class=frnt{else}class=sign{/if} align=right  bgcolor=#DBDBB7 ><B>{$dp[REP].diff.safety|number_format}&nbsp;</B></td>
              </tr>
            </table>
          </td>
          <td style="width:1px; background-color:#000000;"></td>
          <td width="1932" valign="top">
          	<div id="md{php} echo $md++;{/php}" style="overflow: scroll;width:534px;">
          	<table width="1932" border="0" cellspacing="1" cellpadding="0">
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td height="36" colspan=2 align=center bgcolor="#FFFFDD" class=frnt {if $mm >= $mm_ary[SEC]}bgcolor=#FFE2F9{/if}><B>{$mm_ary[SEC]}</b></td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td width="80" height="25" align=center class=frnt  {if $mm >= $mm_ary[SEC]}bgcolor=#FFE2F9{/if}>forecast</td>
                <td width="80" align=center class=frnt  {if $mm >= $mm_ary[SEC]}bgcolor=#FFE2F9{/if}>expense</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td height="20" align=right  bgcolor=#CCCCCC class=frnt ><B>{$dp[REP].f[SEC].ttl|number_format}&nbsp;</B></td>
                <td class=frnt align=right bgcolor=#CCCCCC ><B>{$dp[REP].e[SEC].ttl|number_format}&nbsp;</B></td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td bgcolor=#00000000></td>
                <td bgcolor=#00000000></td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" align=right  bgcolor=#EEEEEE class=frnt >{if $dp[REP].f[SEC].salary <> 0}{$dp[REP].f[SEC].salary|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].salary <> 0}{$dp[REP].e[SEC].salary|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right bgcolor=#EEEEEE >{if $dp[REP].f[SEC].rent <> 0}{$dp[REP].f[SEC].rent|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right bgcolor=#EEEEEE >{if $dp[REP].e[SEC].rent <> 0}{$dp[REP].e[SEC].rent|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].stationery <> 0}{$dp[REP].f[SEC].stationery|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].stationery <> 0}{$dp[REP].e[SEC].stationery|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].travel <> 0}{$dp[REP].f[SEC].travel|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].travel <> 0}{$dp[REP].e[SEC].travel|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].freight <> 0}{$dp[REP].f[SEC].freight|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].freight <> 0}{$dp[REP].e[SEC].freight|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].postal <> 0}{$dp[REP].f[SEC].postal|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].postal <> 0}{$dp[REP].e[SEC].postal|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].fix <> 0}{$dp[REP].f[SEC].fix|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].fix <> 0}{$dp[REP].e[SEC].fix|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].ad <> 0}{$dp[REP].f[SEC].ad|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].ad <> 0}{$dp[REP].e[SEC].ad|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].water <> 0}{$dp[REP].f[SEC].water|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].water <> 0}{$dp[REP].e[SEC].water|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].insurance <> 0}{$dp[REP].f[SEC].insurance|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].insurance <> 0}{$dp[REP].e[SEC].insurance|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].communicat <> 0}{$dp[REP].f[SEC].communicat|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].communicat <> 0}{$dp[REP].e[SEC].communicat|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].donate <> 0}{$dp[REP].f[SEC].donate|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].donate <> 0}{$dp[REP].e[SEC].donate|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].taxes <> 0}{$dp[REP].f[SEC].taxes|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].taxes <> 0}{$dp[REP].e[SEC].taxes|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].bed_dabt <> 0}{$dp[REP].f[SEC].bed_dabt|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].bed_dabt <> 0}{$dp[REP].e[SEC].bed_dabt|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].depreciation <> 0}{$dp[REP].f[SEC].depreciation|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].depreciation <> 0}{$dp[REP].e[SEC].depreciation|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].other_1 <> 0}{$dp[REP].f[SEC].other_1|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].other_1 <> 0}{$dp[REP].e[SEC].other_1|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].book <> 0}{$dp[REP].f[SEC].book|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].book <> 0}{$dp[REP].e[SEC].book|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].food <> 0}{$dp[REP].f[SEC].food|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].food <> 0}{$dp[REP].e[SEC].food|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].welfare <> 0}{$dp[REP].f[SEC].welfare|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].welfare <> 0}{$dp[REP].e[SEC].welfare|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].rd <> 0}{$dp[REP].f[SEC].rd|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].rd <> 0}{$dp[REP].e[SEC].rd|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].teach <> 0}{$dp[REP].f[SEC].teach|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].teach <> 0}{$dp[REP].e[SEC].teach|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].medicine <> 0}{$dp[REP].f[SEC].medicine|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].medicine <> 0}{$dp[REP].e[SEC].medicine|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].commission <> 0}{$dp[REP].f[SEC].commission|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].commission <> 0}{$dp[REP].e[SEC].commission|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].labor_1 <> 0}{$dp[REP].f[SEC].labor_1|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].labor_1 <> 0}{$dp[REP].e[SEC].labor_1|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].other_2 <> 0}{$dp[REP].f[SEC].other_2|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].other_2 <> 0}{$dp[REP].e[SEC].other_2|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].other_3 <> 0}{$dp[REP].f[SEC].other_3|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].other_3 <> 0}{$dp[REP].e[SEC].other_3|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].customs <> 0}{$dp[REP].f[SEC].customs|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].customs <> 0}{$dp[REP].e[SEC].customs|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].sample <> 0}{$dp[REP].f[SEC].sample|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].sample <> 0}{$dp[REP].e[SEC].sample|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].bank <> 0}{$dp[REP].f[SEC].bank|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].bank <> 0}{$dp[REP].e[SEC].bank|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].pack <> 0}{$dp[REP].f[SEC].pack|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].pack <> 0}{$dp[REP].e[SEC].pack|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].labor_2 <> 0}{$dp[REP].f[SEC].labor_2|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].labor_2 <> 0}{$dp[REP].e[SEC].labor_2|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].health <> 0}{$dp[REP].f[SEC].health|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].health <> 0}{$dp[REP].e[SEC].health|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].material <> 0}{$dp[REP].f[SEC].material|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].material <> 0}{$dp[REP].e[SEC].material|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].share >0}{$dp[REP].f[SEC].share|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].share >0}{$dp[REP].e[SEC].share|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].prize <> 0}{$dp[REP].f[SEC].prize|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].prize <> 0}{$dp[REP].e[SEC].prize|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].retire_1 <> 0}{$dp[REP].f[SEC].retire_1|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].retire_1 <> 0}{$dp[REP].e[SEC].retire_1|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].reach_cost <> 0}{$dp[REP].f[SEC].reach_cost|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].reach_cost <> 0}{$dp[REP].e[SEC].reach_cost|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].build <> 0}{$dp[REP].f[SEC].build|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].build <> 0}{$dp[REP].e[SEC].build|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].retire_2 <> 0}{$dp[REP].f[SEC].retire_2|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].retire_2 <> 0}{$dp[REP].e[SEC].retire_2|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].cloth_fix <> 0}{$dp[REP].f[SEC].cloth_fix|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].cloth_fix <> 0}{$dp[REP].e[SEC].cloth_fix|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].work_cloth <> 0}{$dp[REP].f[SEC].work_cloth|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].work_cloth <> 0}{$dp[REP].e[SEC].work_cloth|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].manage <> 0}{$dp[REP].f[SEC].manage|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].manage <> 0}{$dp[REP].e[SEC].manage|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
              <tr bgcolor="#FFFFFF">
                {section name=SEC loop=$mm_ary}<td title="{$mm_ary[SEC]}" height="20" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].f[SEC].safety <> 0}{$dp[REP].f[SEC].safety|number_format}{/if}&nbsp;</td>
                <td title="{$mm_ary[SEC]}" class=frnt align=right  bgcolor=#EEEEEE >{if $dp[REP].e[SEC].safety <> 0}{$dp[REP].e[SEC].safety|number_format}{/if}&nbsp;</td>
                <td style="width:1px; background-color:#000000;"></td>
              {/section}</tr>
            </table>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
{/section}
<BR>

<table border=0 cellspacing=0 cellpadding=0 cols=2 width=700>
  <tr> 
    <td align=right>
    	<input type="hidden" name="PHP_e_id" {$dp[REP].e[SEC].id}">	
        <input type="hidden" name="PHP_action" do_rel_exp_update">
        <input type="hidden" name="PHP_year" {$dp[REP].f[SEC].0.yy}">
        <input type="hidden" name="PHP_dept" {$dp[REP].f[SEC].0.dept}">		
				<input type=submit [ UPDATE expense record ]" class="select_e" style="cursor:pointer; width=100%">
    </td>
	</tr>
</table>

</form>
<!--------- footer ---------->
{include file="footer.html"}
