<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM 樣本輔助系統 [ customer data ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<Script language="javascript"> 
	function cunt(names,mm)
	{
	 {/literal}
	 	var exp_ttl = 0;
	 	var vls = 0;

	 {section name=SEC loop=$txt}
			vls = window.document.forms['cust_add'].elements['PHP_e_{$txt[SEC]}'].value;		
			if(vls == '') vls = 0;
			exp_ttl += parseInt(vls);					
			
		{/section}		
		window.document.forms['cust_add'].elements['PHP_e_ttl'].value = exp_ttl;

		
		{literal}
	}
</Script>
{/literal}	
</head>
<body ><form METHOD="POST" name="cust_add" action="{$PHP_SELF}">
<br>
<table border=0 cellspacing=0 cellpadding=1 width=700 >
	<tr bgcolor=#003300 height=40 >
		<td class="des" align=center width=100><B> DEPT : {$f.dept}</B></td>
		<td class="des" align=center ><B>[ <span class=sign>EDIT</span>&nbsp;EXPENSE  record ] </B></td>
		<td class="des" align=right width=100><B> FY : {$f.yy}-{$f.mm}&nbsp;</B></td>
	</tr>
	<tr>	
		<td colspan=2  bgcolor=#FFFFFF>	
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=700>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
		</td>
	</tr>
	<tr>
		<td colspan=2 bgcolor=#FFFFFF>
<table border=0 cellspacing=2 cellpadding=1 width=240 bgcolor=#FFFFFF>
  <tr>
    <td class=frnt align=right><B>&nbsp;</b></td>
    <td class=frnt align=center><B>FORECAST</b></td>
    <td class=frnt align=center><B>EXPENSE</b></td>
  </tr>
	<tr>     
    <td class=snvy align=right >合計: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_ttl" size=8 value="{$f.ttl}">
    </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_ttl" size=7  value="{$e.ttl}">
    </td>    	
  </tr>
  <tr>
    <td class=snvy align=right width=90>實際費用: </td>
    <td class=frnt align=center  width=70 bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_cost" size=7  value="{$f.cost}" readonly >
    </td>
    <td class=frnt align=center  width=70 bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_cost" size=7  class=select value="{if $e.cost <> 0}{$e.cost}{/if}" onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));" >
    </td>
  </tr>  
  <tr>
    <td class=snvy align=right width=90>薪資支出: </td>
    <td class=frnt align=center  width=70 bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_salary" size=7  value="{$f.salary}" readonly >
    </td>
    <td class=frnt align=center  width=70 bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_salary" size=7 class=select value="{if $e.salary <> 0}{$e.salary}{/if}" onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));" >
    </td>
  </tr>    
  
	<tr>
    <td class=snvy align=right>租金支出: </td>
    <td class=frnt align=center bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_rent" size=7  value="{$f.rent}" readonly >
    </td> 
    <td class=frnt align=center bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_rent" size=7 class=select value="{if $e.rent <> 0}{$e.rent}{/if}" onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>
    {section name=SEC loop=$mm_ary} 
 
    {/section}  
  </tr>
  <tr> 
    <td class=snvy align=right>文具用品: </td>
    <td class=frnt align=center bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_sationery" size=7   value="{$f.stationery}" readonly >
    </td> 
    
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_sationery" size=7 class=select  value="{if $e.stationery <> 0}{$e.stationery}{/if}" onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));" >
    </td>   
  </tr>
  <tr>      
    <td class=snvy align=right >旅費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_travel" size=7   value="{$f.travel}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_travel" size=7   value="{if $e.travel <> 0}{$e.travel}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>     
  </tr>   
  <tr>
    <td class=snvy align=right >運費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_freight" size=7  value="{$f.freight}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_freight" size=7  value="{if $e.freight <> 0}{$e.freight}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>  
  </tr>
  <tr> 
    <td class=snvy align=right >郵電費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_postal" size=7   value="{$f.postal}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_postal" size=7  value="{if $e.postal <> 0}{$e.postal}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>   
  </tr>
  <tr> 
    <td class=snvy align=right >修繕費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_fix" size=7   value="{$f.fix}" readonly >
    </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_fix" size=7  value="{if $e.fix <> 0}{$e.fix}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td> 
  </tr>
  <tr>    
    <td class=snvy align=right >廣告費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_ad" size=7   value="{$f.ad}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_ad" size=7  value="{if $e.ad <> 0}{$e.ad}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td> 
  </tr>
  
  <tr>
    <td class=snvy align=right >水電瓦斯: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_water" size=7   value="{$f.water}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_water" size=7  value="{if $e.water <> 0}{$e.water}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td> 
  </tr>
  <tr>  
    <td class=snvy align=right >保險費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_insurance" size=7  value="{$f.insurance}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_insurance" size=7 value="{if $e.insurance <> 0}{$e.insurance}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>
  </tr>
  <tr>
    <td class=snvy align=right >交際費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_communicat" size=7  value="{$f.communicat}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_communicat" size=7 value="{if $e.communicat <> 0}{$e.communicat}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>  
  </tr>
  <tr>
    <td class=snvy align=right >捐贈: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_donate" size=7  value="{$f.donate}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_donate" size=7 value="{if $e.donate <> 0}{$e.donate}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td> 
  </tr> 
  
  <tr>
    <td class=snvy align=right >稅捐: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_taxes" size=7  value="{$f.taxes}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_taxes" size=7 value="{if $e.taxes <> 0}{$e.taxes}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>  
  </tr>    
	<tr>
    <td class=snvy align=right >呆帳損失: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_bed_dabt" size=7  value="{$f.bed_dabt}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_bed_dabt" size=7 value="{if $e.bed_dabt <> 0}{$e.bed_dabt}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>
  </tr>    
	<tr>    
    <td class=snvy align=right >折舊: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_dpereciation" size=7  value="{$f.depreciation}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_dpereciation" size=7 value="{if $e.depreciation <> 0}{$e.depreciation}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>    
  </tr>    
	<tr>      
    <td class=snvy align=right >各項攤提: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_other_1" size=7  value="{$f.other_1}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_other_1" size=7 value="{if $e.other_1 <> 0}{$e.other_1}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>       	  
  </tr> 
  
  <tr>
    <td class=snvy align=right >圖書什誌: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_book" size=7  value="{$f.book}" readonly >
    </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_book" size=7 value="{if $e.book <> 0}{$e.book}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>
  </tr>    
	<tr>    
    <td class=snvy align=right >伙食費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_food" size=7  value="{$f.food}" readonly >
    </td>  
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_food" size=7 value="{if $e.food <> 0}{$e.food}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td> 
  </tr>    
	<tr>    
    <td class=snvy align=right >職工福利金: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_welfare" size=7  value="{$f.welfare}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_welfare" size=7 value="{if $e.welfare <> 0}{$e.welfare}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>    
  </tr>    
	<tr>    
    <td class=snvy align=right >研究發展費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_rd" size=7  value="{$f.rd}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_rd" size=7 value="{if $e.rd <> 0}{$e.rd}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>   
  </tr> 
  
  <tr>
    <td class=snvy align=right >訓練費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_teach" size=7  value="{$f.teach}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_teach" size=7 value="{if $e.teach <> 0}{$e.teach}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>
    {section name=SEC loop=$mm_ary}   
   
    {/section}
  </tr>    
	<tr>      
    <td class=snvy align=right >醫藥費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_medicine" size=7  value="{$f.medicine}" readonly >
    </td>  
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_medicine" size=7 value="{if $e.medicine <> 0}{$e.medicine}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>
  </tr>    
	<tr>      
    <td class=snvy align=right >佣金: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_commission" size=7  value="{$f.commission}" readonly >
    </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_commission" size=7 value="{if $e.commission <> 0}{$e.commission}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>    
  </tr>    
	<tr>      
    <td class=snvy align=right >勞務費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_labor_1" size=7  value="{$f.labor_1}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_labor_1" size=7 value="{if $e.labor_1 <> 0}{$e.labor_1}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>
  </tr> 
  
  <tr>
    <td class=snvy align=right >什費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_other_2" size=7  value="{$f.other_2}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_other_2" size=7  value="{if $e.other_2 <> 0}{$e.other_2}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td> 
  </tr>    
	<tr>     
    <td class=snvy align=right >什項購置: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_other_3" size=7  value="{$f.other_3}" readonly >
    </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_other_3" size=7  value="{if $e.other_3 <> 0}{$e.other_3}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>
  </tr>    
	<tr>     
    <td class=snvy align=right >報關費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_customs" size=7  value="{$f.customs}" readonly >
    </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_customs" size=7  value="{if $e.customs <> 0}{$e.customs}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td> 
  </tr>    
	<tr>      
    <td class=snvy align=right >樣品費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_sample" size=7  value="{$f.sample}" readonly >
    </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_sample" size=7  value="{if $e.sample <> 0}{$e.sample}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>       	
  </tr>  
   
  <tr>
    <td class=snvy align=right >銀行手續費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_bank" size=7  value="{$f.bank}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_bank" size=7 value="{if $e.bank <> 0}{$e.bank}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>
  </tr>    
	<tr>     
    <td class=snvy align=right >包裝費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_pack" size=7  value="{$f.pack}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_pack" size=7 value="{if $e.pack <> 0}{$e.pack}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>
  </tr>    
	<tr>     
    <td class=snvy align=right >勞保費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_labor_2" size=7  value="{$f.labor_2}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_labor_2" size=7  value="{if $e.labor_2 <> 0}{$e.labor_2}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>   
  </tr>    
	<tr>       
    <td class=snvy align=right >健保費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_health" size=7  value="{$f.health}" readonly >
    </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_health" size=7 value="{if $e.health <> 0}{$e.health}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>     	
  </tr>    
  <tr>
    <td class=snvy align=right >耗用物料: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_martrial" size=7  value="{$f.material}" readonly >
    </td>  
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_martrial" size=7  value="{if $e.material <> 0}{$e.material}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>
  </tr>    
	<tr>    
    <td class=snvy align=right >費用分攤: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_share" size=7  value="{$f.share}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_share" size=7  value="{if $e.share <> 0}{$e.share}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>
  </tr>    
	<tr>    
    <td class=snvy align=right >年獎提存: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_prize" size=7  value="{$f.prize}" readonly >
    </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_prize" size=7  value="{if $e.prize <> 0}{$e.prize}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>   
  </tr>    
	<tr>       
    <td class=snvy align=right >退休金準備: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_retire_1" size=7  value="{$f.retire_1}" readonly >
    </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_retire_1" size=7 value="{if $e.retire_1 <> 0}{$e.retire_1}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>       	
  </tr>    
  <tr>
    <td class=snvy align=right >外銷拓展費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_reach_cost" size=7  value="{$f.reach_cost}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_reach_cost" size=7  value="{if $e.reach_cost <> 0}{$e.reach_cost}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>
  </tr>    
	<tr>      
    <td class=snvy align=right >商港建設費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_build" size=7  value="{$f.build}" readonly >
    </td>  
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_build" size=7  value="{if $e.build <> 0}{$e.build}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>
  </tr>    
	<tr>      
    <td class=snvy align=right >退休金費用: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_retire_2" size=7  value="{$f.retire_2}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_retire_2" size=7  value="{if $e.retire_2 <> 0}{$e.retire_2}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td> 
  </tr>    
	<tr>        
    <td class=snvy align=right >衣服修改費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_cloth_fix" size=7  value="{$f.cloth_fix}" readonly >
    </td>  
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_cloth_fix" size=7  value="{if $e.cloth_fix <> 0}{$e.cloth_fix}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>     	
  </tr>  
  
  <tr>
    <td class=snvy align=right >員工制服費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_work_cloth" size=7  value="{$f.work_cloth}" readonly >
    </td> 
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_work_cloth" size=7  value="{if $e.work_cloth <> 0}{$e.work_cloth}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>   
  </tr>    
	<tr>     
    <td class=snvy align=right >管理費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_manage" size=7  value="{$f.manage}" readonly >
    </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_manage" size=7  value="{if $e.manage <> 0}{$e.manage}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>  
  </tr>    
	<tr>     
    <td class=snvy align=right >保全費: </td>
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_f_safty" size=7  value="{$f.safety}" readonly >
    </td>
    <input type="hidden" name="PHP_e_id" value="{$e.id}">	
    <td class=frnt align=center  bgcolor=#EEEEEE >
    	<input type=text name="PHP_e_safty" size=7  value="{if $e.safety <> 0}{$e.safety}{/if}" class=select onchange="cunt();this.value=(this.value.replace(/[^\d\.]/g,''));">
    </td>    	  
  </tr>   
</table>
</td>
</tr>
</table>
<BR>
<table border=0 cellspacing=0 cellpadding=0 cols=2 width=700>
  <tr> 
    <td align=center>
        <input type="hidden" name="PHP_action" value="do_rel_exp_update">
        <input type="hidden" name="PHP_year" value="{$f.yy}">
        <input type="hidden" name="PHP_dept" value="{$f.dept}">		
        <input type="hidden" name="PHP_month" value="{$f.mm}">		
				<input type=submit value="[ UPDATE expense record ]" class="select_e" style="cursor:pointer; width=100%"></form>
    </td>
	</tr>
</table>
<!--------- footer ---------->
{include file="footer.html"}
