<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>===.........  CAPACITY SEARCH .........===</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="JavaScript"><!--
function search() {
	var year = window.document.forms['capacity'].elements['PHP_year'].value;
	var month = window.document.forms['capacity'].elements['PHP_month'].value;
	var dept = window.document.forms['capacity'].elements['PHP_dept'].value;
	if(!dept)
	{
//		alert('Please select Department first!');
//		return;
	}
	location.href="expense.php?PHP_action=do_expense_search&PHP_year="+year+"&PHP_month="+month+"&PHP_dept="+dept;
 }

function add() {
	var year = window.document.forms['capacity'].elements['PHP_year'].value;
	var month = window.document.forms['capacity'].elements['PHP_month'].value;
	var dept = window.document.forms['capacity'].elements['PHP_dept'].value;
	location.href="expense.php?PHP_action=expense_add&PHP_year="+year+"&PHP_month="+month+"&PHP_dept="+dept;
 }

function edit() {
	var year = window.document.forms['capacity'].elements['PHP_year'].value;
	var month = window.document.forms['capacity'].elements['PHP_month'].value;
	var dept = window.document.forms['capacity'].elements['PHP_dept'].value;
	location.href="expense.php?PHP_action=expense_update&PHP_year="+year+"&PHP_month="+month+"&PHP_dept="+dept;
 }
function edit_rel_exp() {
	var year = window.document.forms['capacity'].elements['PHP_year'].value;
	var month = window.document.forms['capacity'].elements['PHP_month'].value;
	var dept = window.document.forms['capacity'].elements['PHP_dept'].value;
	location.href="expense.php?PHP_action=rel_exp_update&PHP_year="+year+"&PHP_month="+month+"&PHP_dept="+dept;
 } 
 
 
function search_fst() {	
	var fty = window.document.forms['fty_forecast'].elements['PHP_fty'].value;
	var cust = window.document.forms['fty_forecast'].elements['PHP_cust'].value;
	var year = window.document.forms['fty_forecast'].elements['PHP_year'].value;

	location.href="forecast.php?PHP_action=forecast_search&PHP_fty="+fty+"&PHP_cust="+cust+"&PHP_year1="+year;
}

function add_fst() {
	var fty = window.document.forms['fty_forecast'].elements['PHP_fty'].value;
	var cust = window.document.forms['fty_forecast'].elements['PHP_cust'].value;
	var year = window.document.forms['fty_forecast'].elements['PHP_year'].value;

	location.href="forecast.php?PHP_action=forecast_add&PHP_fty="+fty+"&PHP_cust="+cust+"&PHP_year1="+year;
 }

function edit_fst() {
	var fty = window.document.forms['fty_forecast'].elements['PHP_fty'].value;
	var cust = window.document.forms['fty_forecast'].elements['PHP_cust'].value;
	var year = window.document.forms['fty_forecast'].elements['PHP_year'].value;

	location.href="forecast.php?PHP_action=forecast_update&PHP_fty="+fty+"&PHP_cust="+cust+"&PHP_year1="+year;
 } 
-->
</script>
{/literal}

</head>
<body  bgcolor="ffffff" background=" ">&nbsp;
<!-- ################################################################################# -->

{if $max_notify > 0 }		
	<table width=620 border=0 cellpadding=3 cellspacing=1>
	<tr height=30 bgcolor=#C0CECF>
		<td align="center" >
			<a href="notify.php?PHP_action=notify"> <span class=sign align=center ><b> You have {$max_notify} message un-read</b></span></a></td>
	</tr>
</table>
<br>
{/if}	

<br><form METHOD="POST" name="capacity">
<table border=1 cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#DDDDDD  align=center>

<tr><td>
<table cellspacing=1 cellpadding=1 cols=1 width=100% bgcolor=#003333 align=center>
	<tr>
		<td class="des" align=center height=28>[ EXPENSE & FORECAST]</td>
	</tr>
</table>
</td></tr>

{if $msg_YES}
 <tr><td>
     <table border=0 cellpadding=2 cellspacing=0 width=600 align=center>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
 </td></tr>
{/if}

<tr><td>
<table border=0 cellspacing=6 cellpadding=1 width=600>
  <tr>
    <td class=snvy align=right width=100><b> DEPT : </b><td>
	  <td align=left width=100>{$dept}</td>  	
    <td class=snvy align=right width=100><b> Year : </b><td>
	  <td align=left width=100>{$year}</td>
    <td class=snvy align=right width=100><b> MONTH : </b><td>
	  <td align=left width=100>{$month}</td>	 		   
	</tr>
</table>
</td></tr>
<tr><td>
<table border=0 cellspacing=0 cellpadding=0 width=600 align=center>
	<tr> 
	  <td align=left class=gry9>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		# select target year, or leave without selection for THIS year only !<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		
		# select target year and month when you asign or update expense !<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		
	  </td>
	</tr>
</table>	
</td></tr>
<tr><td>
<table border=0 cellspacing=0 cellpadding=0 width=600 align=center>
	<tr> 
	<tr> 
	  <td align=center colspan=3 height=30>
		<input type=button value=" SEARCH / LIST EXPENSE " class=select_e style="cursor:pointer; width=99%" onClick="javascript:search(); this.width=0;">
	  </td>
	</tr>
	
	<tr height=30>
{if $add_flag}
	  <td align=center width=25%>
		<input type=button value=" asign FORECAST " class=select_e2 style="cursor:pointer; width=99%" onClick="javascript:add();this.width=0;">
	  </td>

	  <td align=center width=25%>
		<input type=button value=" update FORECAST " class=select_e2 style="cursor:pointer; width=99%" onClick="javascript:edit();this.width=0;">
	  </td>
	  <td align=center width=25%>
		<input type=button value=" update EXPENSE " class=select_yellow style="cursor:pointer; width=99%" onClick="javascript:edit_rel_exp();this.width=0;">
	  </td>	  
{/if}
	
	</tr>
</table>	
</td></tr>
</table>
</form>




<br><form METHOD="POST" name="fty_forecast">
<table border=1 cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#DDDDDD  align=center>

<tr><td>
<table cellspacing=1 cellpadding=1 cols=1 width=100% bgcolor=#003333 align=center>
	<tr>
		<td class="des" align=center height=28>[ SALES FORECAST ]</td>
	</tr>
</table>
</td></tr>


<tr><td>
<table border=0 cellspacing=6 cellpadding=1 width=600>
  </tr>
  <td class=snvy align=right width=100><b>Year : </b><td>
	<td align=left width=100>{$year}</td>
  <td class=snvy align=right width=100><b>factory ID : </b><td>
	<td align=left width=100>{$factory}</td>
  <td class=snvy align=right width=100><b>customer ID :</b></td>
  <td class=snvy align=left width=100>{$cust_select}</td>
  </tr>
</table>
</td></tr>
<tr><td>
<table border=0 cellspacing=0 cellpadding=0 width=600 align=center>
	<tr> 
	  <td align=left class=gry9>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		# select target factory and year,  !<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		# select customer ID  (if creating New FORECAST) !		
	  </td>
	</tr>
</table>	
</td></tr>
<tr><td>
<table border=0 cellspacing=0 cellpadding=0 width=600 align=center>
	<tr> 
	<tr height=30> 
	  <td align=center width=50%>
		<input type=button value=" SALES FORECAST VIEW " class=select_e style="cursor:pointer; width=99%" onClick="javascript:search_fst(); this.width=0;">
	  </td>
{if $add_flag}
	  <td align=center width=24%>
		<input type=button value=" creating NEW FORECAST " class=select_e2 style="cursor:pointer; width=99%" onClick="javascript:add_fst();this.width=0;">
	  </td>
{/if}
{if $edit_flag}
	  <td align=center width=24%>
		<input type=button value=" update FORECAST " class=select_e2 style="cursor:pointer; width=99%" onClick="javascript:edit_fst();this.width=0;">
	  </td>
{/if}
	
	</tr>
</table>	
</td></tr>
</table>
</form>


<br>
<table border=1 cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#DDDDDD  align=center>

<tr><td>
<table cellspacing=1 cellpadding=1 cols=1 width=100% bgcolor=#003333 align=center>
	<tr>
		<td class="des" align=center height=28>[ SEARCH SLAES ANALYSIS]</td>
	</tr>
</table>
</td></tr>
<tr><td>
<table border=0 cellspacing=6 cellpadding=1 width=600>
  <tr height=30>
  <form METHOD="POST" name="sales_ana">	
    <td class=snvy align=right width=80><b> Year : </b><td>
	  <td align=left width=70>{$year}</td>
    <td class=snvy align=right width=80><b> MONTH : </b><td>
	  <td align=left width=70>{$month}</td>

	  
	  <td align=right >
	  	<input type="hidden" name="PHP_action" value="sales_analysis">
			<input type=submit value=" SEARCH / LIST SALES CONTRAST " class=select_e style="cursor:pointer; width=99%">
	  </td>
	  </form>
	</tr>
  <tr height=30>

	</tr>	
</table>
</td></tr>

</table>
</td></tr>
</table>

{if $del_flag}
<br>
<table border=1 cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#DDDDDD  align=center>

<tr><td>
<table cellspacing=1 cellpadding=1 cols=1 width=100% bgcolor=#003333 align=center>
	<tr>
		<td class="des" align=center height=28>[ SEARCH FOB($) ANALYSIS by SEASON]</td>
	</tr>
</table>
</td></tr>
<tr><td>
<table border=0 cellspacing=6 cellpadding=1 width=600>
  <tr height=30>
  <form METHOD="POST" name="season_ana">	
    <td class=snvy align=right width=80><b> Year : </b><td>
	  <td align=left width=70>{$year}</td>
	  
	  <td align=right >
	  	<input type="hidden" name="PHP_action" value="season_analysis">
			<input type=submit value=" SEARCH / LIST FOB ANALYSIS " class=select_e style="cursor:pointer; width=99%">
	  </td>
	  </form>
	</tr>
  <tr height=30>

	</tr>	
</table>
</td></tr>

</table>
</td></tr>
</table>
{/if}
<!--------- footer ---------->
{include file="footer.html"}