<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM -B [ sales ESP distribution ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/open_detial.js"></script>
<script language="javascript">
function ord_out(ord_num) {

//	alert("order number = "+ord_num);
	 var url ="index2.php?PHP_action=order_output&PHP_ord_num="+ord_num;
	 var nm = 'order';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=850,height=600 top=30, left=100');
}
function tblresize() {
	var dh = 110;
	var dw = 60;
	var hh = tblShow.offsetHeight + dh;
	if ( hh > screen.height - dh )
	hh = screen.height - dh ;
  if (tblShow.offsetWidth) window.resizeTo( tblShow.offsetWidth + dw , hh );
  self.focus();
}

</script>
{/literal}

<body topmargin="10" onLoad="tblresize();" />
<table border="0" cellspacing="0" cellpadding="0" id="tblShow" />
  <tr>
    <td>
 <table width=780 border=1 cellspacing=0 cellpadding=0 bgcolor="#000000" >
  <tr  bgcolor="#C2C2C1" ><td colspan=14 align=center class=gry height=35><b>SALES COMPARE ANALYSIS for FOB</b></td></tr>
  <tr  bgcolor="#C2C2C1"  height=25><td colspan=14 align=center class=gry><b>FACTORY : <span class=sign><b>LY</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;YEAR : <span class=sign><b>{$yy}</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MONTH : <span class=sign><b>{$mm}</b></td></tr>
  <tr bgcolor="#0D4368"> 
    <td class=w9 width=120 align=center bgcolor=#122B3F >&nbsp;</td>
	{section name=SEC loop=$show.0.det}
		<td class=w9 bgcolor=#122B3F align=center>&nbsp;<b>{$show.0.det[SEC].cust_iname}</b></td>
	{/section}
		<td class=w9 bgcolor=#122B3F align=center>&nbsp;<b>Total</b></td>
  </tr>
  
{section name=SHW loop=$show}
  <tr > 
  	<td class=gry9 width=90  align=center bgcolor=#dddddd><B>[{$mm_ary[SHW]}] &nbsp;訂單 </B></td>
    {section name=SEC loop=$show[SHW].det}
    	<td class=gry9 bgcolor="#dddddd" align=right>&nbsp;{$show[SHW].det[SEC].ord_fob|number_format}</td>    	
    {/section}
    	<td class=gry9 bgcolor="#dddddd" align=right><B>{$show[SHW].ord_fob_ttl|number_format}</b></td>
  </tr>
  <tr> 
    <td class=gry9 width=90  align=center bgcolor=#eeeeee><B>[{$mm_ary[SHW]}] &nbsp;預算</B></td>
    {section name=SEC loop=$show[SHW].det}
    	<td class=gry9 bgcolor="#eeeeee" align=right>&nbsp;{$show[SHW].det[SEC].fcst_fob|number_format}</td>
    {/section}
    	 <td class=gry9 bgcolor="#eeeeee" align=right><B>{$show[SHW].fcst_fob_ttl|number_format}</B></td>
  </tr>  
  <tr><td colspan=30></td></tr>
{/section}  
  <tr> 
    <td class=gry9 width=90  align=center bgcolor=#E7F3E2><B>差異</B></td>
    {section name=SEC loop=$diff_fob}
    	<td {if $diff_fob[SEC] >= 0}class=gry9{else}class=ssign{/if} bgcolor="#E7F3E2" align=right>{$diff_fob[SEC]|number_format}</td>
    {/section}
    	<td {if $diff_fob_ttl >= 0}class=gry9{else}class=ssign{/if} bgcolor="#E7F3E2" align=right><B>{$diff_fob_ttl|number_format}</B></td>
  </tr>     
</table>
		</td>
  </tr>
</table>
<!--------- footer ---------->
{include file="footer.html"}
