<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>==== ::::::::::  SALES FORECAST :::::::::: ====</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">
function order_out(fty,year,mm,dept)
{
	var gofile ="forecast.php?PHP_action=ord_mm&PHP_fty="+fty+"&PHP_year="+year+"&PHP_month="+mm+"&PHP_dept="+dept;
	var nm = fty+year+mm+"monout";
	window.open(gofile,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=760,height=620 top=30, left=150');

}

function ship_out(fty,year,mm,dept)
{
	var gofile ="forecast.php?PHP_action=ship_mm&PHP_fty="+fty+"&PHP_year="+year+"&PHP_month="+mm+"&PHP_dept="+dept;
	var nm = fty+year+mm+"ship";
	window.open(gofile,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=760,height=620 top=30, left=150');

}

</script>
{/literal}
</head>
<body bgcolor="#003C77">
<BR><form METHOD="POST" name="capacity">

 <table width=850 border=1 cellspacing=0 cellpadding=2 bgcolor=#000000>
  <tr bgcolor=#ffffff>
  <td align=center><B>{$fty}</B></td>
	<td colspan=12 align=center class=gry><b> ==== SALES FORECAST REPORT {if $dept} : [DEPT : {$dept}]{/if}====</b></td>
  <td align=center><B>FOB US$</B></td>
  </tr>
{if $msg}
 <tr><td colspan=14>
     <table border=0 cellpadding=2 cellspacing=0 width=850 align=center>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
 </td></tr>
{/if}
  <tr bgcolor="#0D4368" height=30> 
    <td class=b9 width=100 align=center bgcolor=#ffffff><b>FY-{$year}</span></b></td>
    {section name=SEC loop=$mm_ary}	
		<td class=w9 width=50 align=center>{$mm_ary[SEC]}</td>
		{/section}
    <td class=ylw9 width=70 align=center bgcolor=#004262><b>Total</b></td>
  </tr>

  <tr bgcolor="#dddddd"> 
    <td class=b9 align=center bgcolor=#dddddd><b>累計預計訂單</b></td>
    {section name=SEC loop=$f}	
    <td class=gry7 align=right>{if $f[SEC] != 0}<small>{$f[SEC]|number_format}</small>{else}&nbsp;{/if}</td>
    {/section}
    <td class=bgdy9 align=right bgcolor=#ffffff><b>{if $f_ttl != 0}<small>{$f_ttl|number_format}</small>{else}&nbsp;{/if}</b></td>
  </tr>
  <tr bgcolor="#dddddd"> 
    <td class=b9 align=center bgcolor=#dddddd><b>累計己接訂單</b></td>
    {section name=SEC loop=$ord}	
    <td class=gry9 align=right>{if $ord[SEC] != 0}<a href="javascript:order_out('{$fty}',{$year},'{$mm_num[SEC]}','{$dept}')" ><small>{$ord[SEC]|number_format}</small></a>{else}&nbsp;{/if}</td>
    {/section}
    <td class=bgdy9 align=right bgcolor=#ffffff><b>{if $ord_ttl != 0}<small>{$ord_ttl|number_format}</small>{else}&nbsp;{/if}</b></td>
  </tr>  
  <tr bgcolor="#dddddd"> 
    <td class=b9 align=center bgcolor=#dddddd><b>累計實際出口</b></td>
    {section name=SEC loop=$ord}	
    <td class=gry9 align=right>{if $shp[SEC] != 0}<a href="javascript:ship_out('{$fty}',{$year},'{$mm_num[SEC]}','{$dept}')" ><small>{$shp[SEC]|number_format}</small></a>{else}&nbsp;{/if}</td>
    {/section}
    <td class=bgdy9 align=right bgcolor=#ffffff><b>{if $shp_ttl != 0}<small>{$shp_ttl|number_format}</small>{else}&nbsp;{/if}</b></td>
  </tr>  
   <tr bgcolor="#dddddd"> 
    <td class=b9 align=center bgcolor=#dddddd colspan=14></td>
  </tr> 
  <tr bgcolor="#dddddd"> 
    <td class=b9 align=center bgcolor=#dddddd><b>接單缺口</b></td>
    {section name=SEC loop=$ord}	
    <td class=gry9 align=right nowrap>{if $ord[SEC] != 0}<small>{$dif_ord[SEC]|number_format}</small>{else}&nbsp;{/if}</td>
    {/section}
    <td class=bgdy9 align=right bgcolor=#ffffff><b>{if $dif_ord_ttl != 0}<small>{$dif_ord_ttl|number_format}</small>{else}&nbsp;{/if}</b></td>
  </tr>  
  <tr bgcolor="#dddddd"> 
    <td class=b9 align=center bgcolor=#dddddd><b>出口缺口</b></td>
    {section name=SEC loop=$ord}	
    <td class=gry9 align=right nowrap>{if $shp[SEC] != 0}<small>{$dif_shp[SEC]|number_format}</small>{/if}&nbsp;</td>
    {/section}
    <td class=bgdy9 align=right bgcolor=#ffffff><b>{if $dif_shp_ttl != 0}<small>{$dif_shp_ttl|number_format}</small>{else}&nbsp;{/if}</b></td>
  </tr>   
</table>
<p>
<img src="picture/fcst2.png" name="pic">
</P>


<!--------- footer ---------->
{include file="footer.html"}
