<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5" />
<title>ORDER</title>
<link rel=stylesheet type="text/css" href="./bom.css" />
{literal}
<style type="text/css">
<!--
body {
	margin-left: 1px;
	
	margin-bottom: 0px;
	margin-top: 20px;
}
-->
</style>
{/literal}

<body>

 <table width=720 border=1 cellspacing=0 cellpadding=2 style="position:absolute;left:1px">
  <tr>
	<td colspan=14 align=center class=gry><b> ==== SALES FORECAST ====&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class=bgdy9>for factory :<i> {$fty}</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;year :<i> {$year}</i></span>&nbsp;&nbsp;&nbsp;&nbsp;($US)</b></td>
  </tr>	
  <tr bgcolor="#0D4368" height=30>   	
    <td class=b9   width=60	align=center bgcolor=#ffffff><div style="word-break:break-all;overflow:auto; width:60px; text-align:center;">FTY :<span class=bgdy> {$fty}</span></div></td>
    <td class=w9 width=50	align=center><div style="word-break:break-all;overflow:auto; width:50px; text-align:center;">JAN</div></td>
    <td class=w9 width=50	align=center><div style="word-break:break-all;overflow:auto; width:50px; text-align:center;">FEB</div></td>
    <td class=w9 width=50	align=center><div style="word-break:break-all;overflow:auto; width:50px; text-align:center;">MAR</div></td>
    <td class=w9 width=50	align=center><div style="word-break:break-all;overflow:auto; width:50px; text-align:center;">APL</div></td>
    <td class=w9 width=50	align=center><div style="word-break:break-all;overflow:auto; width:50px; text-align:center;">MAY</div></td>
    <td class=w9 width=50	align=center><div style="word-break:break-all;overflow:auto; width:50px; text-align:center;">JUN</div></td>
    <td class=w9 width=50	align=center><div style="word-break:break-all;overflow:auto; width:50px; text-align:center;">JLY</div></td>
    <td class=w9 width=50	align=center><div style="word-break:break-all;overflow:auto; width:50px; text-align:center;">AUG</div></td>
    <td class=w9 width=50	align=center><div style="word-break:break-all;overflow:auto; width:50px; text-align:center;">SEP</div></td>
    <td class=w9 width=50	align=center><div style="word-break:break-all;overflow:auto; width:50px; text-align:center;">OCT</div></td>
    <td class=w9 width=50	align=center><div style="word-break:break-all;overflow:auto; width:50px; text-align:center;">NOV</div></td>
    <td class=w9 width=50	align=center><div style="word-break:break-all;overflow:auto; width:50px; text-align:center;">DEC</div></td>
    <td class=ylw9 width=60	align=center><div style="word-break:break-all;overflow:auto; width:60px; text-align:center;"><b>Total</b></div></td>
  </tr>  
</table>
</body>
</html>


<!--------- footer ---------->
