<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>嘉裕股份有限公司</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
</head>
<body onload=document.forum.submit()>
<form action="http://scm/phpBB/login.php" method="post" target="_self" name="forum">
<input type="hidden"  class="post" name="username" size="25" maxlength="40" value="{$login}" />
<input type="hidden"  class="post" name="password" size="25" maxlength="32" value="{$passwd}" />
<input type="hidden" name="login" value="" />
</form>
</body>
</html>
