<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>{$lang.head}</title>
{literal}
<script language="javascript" src="./js/open_detial.js"></script>
<Script language="javascript">
function rusure() { 
	if (confirm("請再次確認，將會刪除整各文章主題，包括內文！")) {
		return true; 
	} else { 
		return false; 
	} 
}
function rusure_post() { 
	if (confirm("請再次確認，將會刪除該內文！")) {
		return true; 
	} else { 
		return false; 
	} 
}
</script>
{/literal}
<link rel=stylesheet type="text/css" href="css/mode.css">
<link rel=stylesheet type="text/css" href="css/style.css">
</head>
<body>
<TABLE width="100%" height="100%" border=0 align=center cellPadding=0 cellSpacing=0 >
  <TBODY>
    <TR>
      <td style="BORDER-TOP: #eeeeee 1px solid; BORDER-LEFT: #eeeeee 1px solid; BORDER-BOTTOM: #eeeeee 1px solid" valign=top width="" height=""><table width="100%" height="100%" border=0 cellpadding=0 cellspacing=0>
        <tbody>
          <tr>
            <td valign=top><table cellspacing=0 cellpadding=0 width="100%" border=0>
              <tbody>
                <tr>
                  <td><table height=23 cellspacing=0 cellpadding=0 width="100%" border=0>
                    <tbody>
                      <tr>
                        <td style="PADDING-LEFT: 10px; FONT-SIZE: 8pt; COLOR: #aaaaaa" bgcolor="#f4f4f4" height="22"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                          <tr>
                            <td height="22" nowrap bgcolor="#f4f4f4" style="PADDING-LEFT: 10px; FONT-SIZE: 8pt; COLOR: #aaaaaa"> [ <a title="{$forum_name}" style="COLOR: slategray" href="forum.php"><b> <font color="darkslategray">{$forum_name}</font></b> </a> ] {$pp} </td>
                            <td width="20%" align="right">{if $msg}{section name=SEC_MSG loop=$msg}{$msg[SEC_MSG]}<br>{/section}{/if}</td>
                            <td width="60%" align="right"><a href="./doc/forum.doc">討論版操作手冊</a></td>
                            <td align="right" nowrap>{if $admin_flag} | <a href="forum.php?Ac=forum_manager">討論版主題維護</a>{/if}</td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td bgcolor=#eeeeee height=1></td>
                      </tr>
                    </tbody>
                  </table></td>
                </tr>
                <tr>
                  <td>
										
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="center" valign="top"><table width="90%" border=0 align="center" cellpadding=0 cellspacing=0 >
                        <tbody>
                          <tr>
                            <td valign="top"></td>
                          </tr>
                          <tr>
                            <td width="" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="3">
                                          <tr>
                                            <td>{$page_num}</td>
                                            <td>&nbsp;</td>
                                            {$select_main}
                                          </tr>
                                        </table>
															{if $text}
                              <table class="forumline" width="100%" cellspacing="1" cellpadding="3" border="0">
                                          <tr align="right">
                                            <td class="catHead" colspan="2" height="28"><span class="nav"> ::</span></td>
                                          </tr>
                                          <tr>
                                            <th class="thLeft" width="150" height="26" nowrap="nowrap">發表人</th>
                                            <th class="thRight" nowrap="nowrap">內容</th>
                                          </tr>
                                {section name=SEC loop=$text}
																{if $text[SEC].name}
                                <tr>
                                  <td width="150" align="left" valign="top" class="row1"><span class="name"><b>{$text[SEC].name}</b></span><br /></td>
                                  <td width="100%" height="28" valign="top" class="row1"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td width="100%"><img src="images/icon_minipost.gif" width="12" height="9" alt="" title="" border="0" /><span class="postdetails">回覆主題 : {$text[SEC].title}<span class="gen">&nbsp;</span>&nbsp; &nbsp;</span><span class="postdetails">發表時間 : {$text[SEC].time}</span></td>
                                      <td valign="top" nowrap="nowrap"><a href="forum.php?Ac=forum_edit&theme=1&serial={$text[SEC].serial}&group_id={$text[SEC].group_id}&main_id={$text[SEC].main_id}&search_view=1"><img src="images/icon_edit.gif" alt="編輯這篇文章" border="0" title="編輯這篇文章" /> </a> <a href="forum.php?Ac=forum_del&theme=1&serial={$text[SEC].serial}&group_id={$text[SEC].group_id}&main_id={$text[SEC].main_id}&search_view=1"><img src="images/icon_delete.gif" alt="刪除文章" title="刪除文章" border="0" onClick="return rusure();"/></a> <img src="images/icon_ip.gif" alt="{$text[SEC].ip}" title="{$text[SEC].ip}" border="0" /></td>
                                    </tr>
                                    <tr>
                                      <td colspan="2"><hr /></td>
                                    </tr>
                                    <tr>
                                      <td colspan="2">{$text[SEC].content}<span class="goback"> ... <a href="forum.php?Ac=forum_view&serial={$text[SEC].serial}&group_id={$text[SEC].group_id}&main_id={$text[SEC].main_id}">(回討論分區)</a></span></td>
                                    </tr>
                                  </table></td>
                                </tr>
                                <tr>
                                  <td class="row1" width="150" align="left" valign="middle"><!--<span class="nav"><a href="#top" class="nav" target="_self">回頂端</a></span>--></td>
                                  <td class="row1" width="100%" height="28" valign="bottom" nowrap="nowrap"><table cellspacing="0" cellpadding="0" border="0" height="18" width="18">
                                    <tr>
                                      <td valign="middle" nowrap="nowrap">&nbsp;</td>
                                    </tr>
                                  </table></td>
                                </tr>
                                <tr>
                                  <td class="spaceRow" colspan="2" height="1"><img src="templates/subSilver/images/spacer.gif" alt="" width="1" height="1" /></td>
                                </tr>
                               {else}
                                <tr>
                                  <td width="150" align="left" valign="top" class="row1"><span class="name"><b>{$text[SEC].re_name}</b></span><br /></td>
                                  <td width="100%" height="28" valign="top" class="row1"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td width="100%"><img src="images/icon_minipost.gif" width="12" height="9" alt="" title="" border="0" /><span class="postdetails">回覆主題 : {$text[SEC].re_title}<span class="gen">&nbsp;</span>&nbsp; &nbsp;</span><span class="postdetails">發表時間 : {$text[SEC].re_time}</span></td>
                                      <td valign="top" nowrap="nowrap"><a href="forum.php?Ac=forum_re_edit&theme=2&serial={$text[SEC].re_id}&re_serial={$text[SEC].re_serial}&group_id={$text[SEC].re_group_id}&main_id={$text[SEC].re_main_id}&search_view=1"><img src="images/icon_edit.gif" alt="編輯這篇文章" title="編輯這篇文章" border="0" /></a> <a href="forum.php?Ac=forum_del&theme=2&serial={$text[SEC].re_id}&re_serial={$text[SEC].re_serial}&group_id={$text[SEC].re_group_id}&main_id={$text[SEC].re_main_id}&search_view=1"><img src="images/icon_delete.gif" alt="刪除文章" title="刪除文章" border="0" onClick="return rusure_post();"/></a> <img src="images/icon_ip.gif" alt="{$text[SEC].re_ip}" title="{$text[SEC].re_ip}" border="0" /></td>
                                    </tr>
                                    <tr>
                                      <td colspan="2"><hr /></td>
                                    </tr>
                                    <tr>
                                      <td colspan="2">{$text[SEC].re_content} <span class="goback">... <a href="forum.php?Ac=forum_view&serial={$text[SEC].re_id}&group_id={$text[SEC].re_group_id}&main_id={$text[SEC].re_main_id}" >(回討論分區)</a></span></td>
                                    </tr>
                                  </table></td>
                                </tr>
                                <tr>
                                  <td class="row1" width="150" align="left" valign="middle"><!--<span class="nav"><a href="#" class="nav" target="_self">回頂端</a></span>--></td>
                                  <td class="row1" width="100%" height="28" valign="bottom" nowrap="nowrap"><table cellspacing="0" cellpadding="0" border="0" height="18" width="18">
                                    <tr>
                                      <td valign="middle" nowrap="nowrap">&nbsp;</td>
                                    </tr>
                                  </table></td>
                                </tr>
                                <tr>
                                  <td class="spaceRow" colspan="2" height="1"><img src="templates/subSilver/images/spacer.gif" alt="" width="1" height="1" /></td>
                                </tr>
																{/if}
                                {/section}

                                <tr align="center">
                                  <td class="catBottom" colspan="2" height="28">&nbsp;</td>
                                </tr>
                              </table>
															{else}
															<table width="100%" border="0" cellpadding="3" cellspacing="0" class="forumline">
                                <tr>
                                  <td align="center" valign="middle">沒有搜尋 <font color="#FF0000">{$forum_text}</font> 資料</td>
                                </tr>
                              </table>
															
															{/if}
                              <table width="100%" border="0" cellspacing="0" cellpadding="3">
                                          <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td align="right">{$page_num}</td>
                                          </tr>
                                      </table></td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td></td>
                    </tr>
                  </table>

                  <tr>
                    <TD></TD>
                  </tr>
              </table></TD>
          </TR>
        </TBODY>
      </TABLE></TD>
    </TR>
  </TBODY>
</TABLE>
</body>
</html>