<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>嘉裕股份有限公司</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
</head>
<body onload=document.forum.submit()>
<form action="http://scm.carnival.com.tw/index.php?Ac=do_login" method="post" target="_self" name="forum">
<input type="hidden"  class="post" name="PHP_login_id" size="25" maxlength="40" value="{$login_id}" />
<input type="hidden"  class="post" name="PHP_login_pass" size="25" maxlength="32" value="{$passwd}" />
</form>
</body>
</html>
