{include file="header.html"}
<table cellpadding="0" cellspacing="0" cols="0" class="title_bg">
	<tr>
		<td class="title_l"> Cutting plan : DETAIL ( Order # <a href="javascript:Show_ord('{$id}','{$order_num}')" value='ord_out' style='cursor:pointer'><b>&nbsp;{$order_num}</b></a> ) </td>
		<td class="title_m">[ {if $pdc_status >= 2}SUBMIT{elseif $pdc_status == 0}{literal}UN SUBMIT{/literal}{/if} ]</b></td>
		<td class="title_r">Version : <b>{$pdc_version}</b></td>
	</tr>
</table>

<table cellpadding="0" cellspacing="0" cols="0" class="txt_item">
	<tr>
		<td>
            <table>
                <tr>
                    <td valign="top">{$pic_url}</td>
                    <td valign="top">
                        <form METHOD="POST" id="update_colorway" action="{$PHP_SELF}?PHP_action=update_colorway">
                        <table>
                            <tr>
                                <td class="txt_item_r">Cust. : </td>
                                <td class="txt_item_l">{$cust_iname}</td>
                                <td class="txt_item_r">Dept. : </td>
                                <td class="txt_item_l">{$dept}</td>
                                <td class="txt_item_r">ETD : </td>
                                <td class="txt_item_l">{$etd}</td>
                            </tr>
                            <tr>
                                <td class="txt_item_r">Style : </td>
                                <td class="txt_item_l">{$style}</td>
                                <td class="txt_item_r">SIZE RANGE : </td>
                                <td class="txt_item_l">{$size_scale}</td>
                                <td class="txt_item_r">Q'ty / Unit :</td>
                                <td class="txt_item_l">{$qty|NUMBER_FORMAT} {$unit}</td>
                            </tr>
                            <tr>
                                <td colspan="6"><hr></td>
                            </tr>
                            <tr>
                                <td colspan="6">
                                    <table>
                                        <tr>
                                            <td valign="top">{$PHTML}</td>
                                            <td valign="top">{$DHTML}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" class="space"></td>
                            </tr>
                            <tr>
                                <td colspan="6" align="left">
                                    <input id="search_colorway" type="button" class="submit_ajax" style="width:32%;" value="List">
                                    <input id="view_colorway" type="button" class="submit_ajax" style="width:32%;" value="View">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" align="left">
                                    {if $pdc_status == 2}
                                         Submit：{$pdc_cut_sub_user} ( {$pdc_cut_sub_date|date_format:"%Y/%m/%d"} )
                                    {/if}
                                </td>
                            </tr>	
                        </table>
                        <input type="hidden" name="PHP_ord_num" value="{$order_num}"/>
                        </form>
                        
                        <form METHOD="POST" id="search_colorway" action="{$PHP_SELF}?PHP_action=search_colorway">
                        <input type="hidden" name="PHP_goback" value="{$order_num}"/>
                        </form>
                        
                        <form METHOD="POST" id="view_colorway" action="{$PHP_SELF}?PHP_action=view_colorway">
                        <input type="hidden" name="PHP_ord_num" value="{$order_num}"/>
                        <input type="hidden" name="PHP_action" name="PHP_action" value="view_colorway"/>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
	</tr>
	</tr>
	<tr>
		<td><hr></td>
	</tr>
</table>
{include file="footer.html"}