<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM 樣本輔助系統 [ 製造令 資料 ] ::::::::::===</title>
   <link rel=stylesheet type="text/css" href="./bom.css">
{literal}

<script type="text/javascript"
        src="./js/build/yahoo/yahoo-min.js"></script>
<script type="text/javascript"
        src="./js/build/connection/connection-min.js"></script>
<script language="javascript" src="./js/open_detial.js"></script>      
<script language="JavaScript"><!--
var t_line;
var c_num;
	
var transaction;
  var sUrl;
  var callback = {
    success: function(o) {
    var response = o.responseText.split("|");
    var divrep=response[0];
    	
    document.getElementById("msg_show").style.display='block';
    m_div1.innerText  = divrep; 
//  alert(divrep);

    },
    failure: function(o) {
      alert("Error：Can't get data");
    }
  };
  
  var addback = {
    success: function(o) {
    var response = o.responseText.split("|");
    var divrep=response[0];
    	
    document.getElementById("msg_show").style.display='block';
    m_div1.innerText  = divrep; 

		r=bom_table.insertRow(t_line);
		r.insertCell().innerText	= response[1];
		r.insertCell().innerHTML	= response[2];
		r.insertCell().innerHTML	= response[3];
		r.insertCell().innerHTML	= response[4];
		r.insertCell().innerHTML	= response[5];
		r.insertCell().innerHTML	= response[6];
		var j = 8;
		for (i=0; i<response[7]; i++){
			r.insertCell().innerHTML	= response[j];
			j++;
		}
		for (i=response[7]; i<c_num; i++){
			r.insertCell().innerHTML	= '';
			j++;
		}
		r.insertCell().innerHTML	= response[j];
		alert("here");
    },
    failure: function(o) {
      alert("Error：Can't get data");
    }
  };
  
        
function cfm_del_ajx(bom_id,wi_id,mat_code,mat,r) {

	if ( confirm("Deleting record will permanent deteleted；Can't reversion anymore !\r\rPlease check again \r\rAre you sure delete this record :["+mat_code+"]??")) {
  var i=r.parentNode.parentNode.rowIndex
  document.getElementById('bom_table').deleteRow(i)
	
	sUrl="fty_bom.php?PHP_action=do_bom_del_ajx&PHP_bom_id="+bom_id+"&PHP_id="+wi_id+"&mat_code="+mat_code+"&PHP_mat="+mat+"{/literal}{$back_str2}"{literal};
  transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, callback, null);
  	
	} 
 }

function cfm_add(wi_id,mat_id,num_colors,mat,size,des) {
	var qty = new Array();
	var ck = '';
	var color = '';
	var T1 = '';
	var T2 = '';

//	t_line =(r.parentNode.parentNode.rowIndex)+1;
//	c_num = num_colors;
	for (i=0; i<num_colors; i++){
	 if (mat == "lots"){
		T1 = "window.document.forms.edit.PHP_bom_qty"+mat_id+"_"+i+".checked";
		T2 = "window.document.forms.edit.PHP_bom_qty"+mat_id+"_"+i+".value";
	  }else{
	  	T1 = "window.document.forms.acc_edit.PHP_bom_qty"+mat_id+"_"+i+".checked";

		T2 = "window.document.forms.acc_edit.PHP_bom_qty"+mat_id+"_"+i+".value";	  
	  }

			  if (eval(T1)){
					ck = '1';
					qty[i] = eval(T2);
					
					if(eval(T2) == 0)
					{
						alert("Please choice allocation of this materiel [colorway]!\r\rIf there is no colorway or q'ty data，\rPlease update this data on [W I] first !");
						return;
					}
			  } else {
					qty[i]='';
			  }
	}
	if (ck == ''){
			alert("Please choice allocation of this materiel [colorway]!\r\rIf there is no colorway or q'ty data，\rPlease update this data on [W I] first !");
			return;
	}
	if (mat == "lots"){
		color = eval("window.document.forms.edit.PHP_lots_color_"+mat_id+".value");
	} else {
		color = eval("window.document.forms.acc_edit.PHP_acc_color_"+mat_id+".value");
	}
	
	
	location.href="fty_bom.php?PHP_action=do_bom_add&PHP_mat="+mat+"&PHP_mat_use_id="+mat_id+"&PHP_color="+color+"&PHP_qty="+qty+"&PHP_size="+size+"&PHP_size_des="+des+"&PHP_wi_id="+{/literal}{$wi.id}+"{$back_str2}"{literal};

 }




function cfm_del(bom_id,wi_id,mat_code,mat) {
	
	if ( confirm("Deleting record will permanent deteleted；Can't reversion anymore !\r\rPlease check again \r\rAre you sure delete this record :["+mat_code+"]??")) {
	
	
	location.href="index2.php?PHP_action=do_bom_del&PHP_bom_id="+bom_id+"&PHP_id="+wi_id+"&mat_code="+mat_code+"&PHP_mat="+mat+"{/literal}{$back_str2}"{literal};
	} 
 }

 function file_del(file_name,table,id,wi_id,file_name,back_str)
 {
		if ( confirm("Are you shure to delete this file  ??")) {
			location.href="bom.php?PHP_action=do_bom_file_del&PHP_id="+id+"&PHP_talbe="+table+"&PHP_wi_id="+wi_id+back_str+"&PHP_file_name="+file_name;
		} 
 
 }
-->
</script>
{/literal}

</head>

<body>

<br>
<table cellspacing=1 cellpadding=4 cols=2 width=700 bgcolor=#2E5E73>
	<tr><td class="des" align=center height=28 width=340>[ <b><span class=ylw10> EDIT </span>BOM for Order</b> - <b>{$wi.wi_num}</b> ]</td>
	<td class="ylw10" align=center height=28 width=140>{if $wi.status == 2}<b>[ {literal}SUBMIT{/literal} ]{elseif $wi.status == 1}[{literal}UN SUBMIT{/literal} ]{/if}</span></b></td>
	<td class="des" align=center height=28 width=140>Version :<span class=ylw10><b>{$wi.bom_rev}</span></b></td>
	<td>
	{if $add_flag && $wi.status > 10}
			<a href="{$PHP_SELF}?PHP_action=bom_copy&PHP_id={$wi.id}&PHP_style_code={$wi.style_code}&PHP_bom_cust={$wi.cust}{$back_str2}"  style="cursor:pointer"><img src="images/copy_ws.jpg" alt="Copy BOM " border=0 valign=bottom></a>
	{/if}
	</td>
	</tr>
</table>
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=700 id=msg_show {if $msg_YES}style="display : block" {else}style="display : none" {/if}>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy><div id='m_div1'>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</div></td>
      </tr>
     </table>

<table border=0 cellspacing=0 cellpadding=1 width=700 bgcolor=#FFFFFF>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>
    <td class=snvy align=right nowrap>Customer :</td>
    <td class=bgdy align=left><b>&nbsp;{$smpl.cust_iname}</b></td>
    <td class=snvy align=right nowrap>Department :</td>
    <td class=bgdy align=left><b>&nbsp;{$wi.dept}</b></td>
    <td class=snvy align=right nowrap><b>ETD :</b></td>
    <td class=bgdy align=left><b>&nbsp;{$wi.etd}</b></td>
  </tr>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
</table>
<table border cellspacing=0 cellpadding=3 width=700 bgcolor=#ffffff align=center>
  <tr bgcolor="#003333" height=24> 
	<td nowrap width=100 align=center class=back><b>Picture</b></td>
	<td nowrap width=100 align=center class=back><b>Order #</b></td>
	<td nowrap width=100 align=center class=back><b>style</b></td>
	<td nowrap width=150 align=center class=back><b>SIZE RANGE</b></td>
	<td nowrap width=200 align=center class=back><b>Q'ty / Unit</b></td>
  </tr>
  <tr bgcolor=#DDDDDD height=24>
	<td class=g10 align=center rowspan=2>&nbsp;
		<a href="{$wi.pic_url}" target=_black><img src="{$wi.pic_url}" name="pic" border=0 width=90></a></td>
	<td class=grn9 align=center><b>&nbsp;{$smpl.order_num}</b></td>
    <td class=grn9 align=center><b>&nbsp;{$smpl.style}</b></td>
    <td class=grn9 align=center><b>&nbsp;{$smpl.size_scale}</b></td>
    <td class=grn9 align=center><b><span class=bgdy9><b>{$total}</b></span>&nbsp;pc</b></td>
  </tr>
  <tr>
	<td colspan=5 >
		<table border cellspacing=0 cellpadding=2 width=470 bgcolor=#ffffff align=center>
			{section name=USE loop=$show_breakdown}
				{$show_breakdown[USE]}
			{/section}
			{if $size_ttl}
			<TR>
				<td class=grn9 align=center bgcolor=#DDDDDD colspan="2"><b>&nbsp;G-TTL</b></td>
			{section name=USE loop=$size_ttl}
				<td class=b9 align=center bgcolor=#DDDDDD>&nbsp;<b><i>{$size_ttl[USE]|NUMBER_FORMAT}</b></td>
			{/section}
			  <td class=b9 align=right bgcolor=#DDDDDD>&nbsp;<b><i>{$g_ttl|NUMBER_FORMAT}</b></td>
			<TR>
			{/if}
		</table>
	</td>
  </tr>
</table>
<!-------------  BOM table ------------->
<!-------------  主料 ------------->
<hr size=2 width=700 align=center>
<table width=700 border=1 cellspacing=1 cellpadding=1>
<form method=POST name='edit'>
   <tr><td>
	<table width=700 border=0 cellspacing=1 cellpadding=1 id=bom_table>
	<!-------   Title --------- -->
	 <tr bgcolor=#C4C3AE>
	    <td width=80 class=b9 rowspan=3 align=center><b>Fabirc #</b></td>
	    <td width=90 class=b9 rowspan=3 align=center><b>Fabric Name</b></td>
	    <td width=120 class=b9 rowspan=3 align=center><b>Placement</b></td>
	    <td width=60 class=b9 rowspan=3 align=center><b>consump.</b></td>
	 	  <td class=b9 align=center rowspan=3 width=70><b>Color/cat.</b></td>
	 	  <td class=b9 align=center rowspan=3 width=10><small>size</small></td>
		<td class=b9 align=center rowspan=3 width=0 bgcolor=#666666></td>
	{if $colors_NONE}
		<td class=bgdy9 align=center >NO Colorway data</td>
	  <tr><td class=bgdy9 align=center >NO Q'ty</td>
	{else}
	{section name=NAME loop=$partial} 
		<td class=grn9 align=center colspan={$partial[NAME].size}>ETD : <b>&nbsp;{$partial[NAME].etd}</b></td>
	{/section} 
		<td class=b9 align=center rowspan=3 width=1>&nbsp</td>
	</tr>		
  <tr bgcolor=#D5D5BE>
	{section name=NAME loop=$color} 
		<td class=grn9 align=center><b>&nbsp;{$color[NAME].name}</b></td>
	{/section} 
	</tr>
	 <tr bgcolor=#C9CCC9>
	{section name=QTY loop=$color} 
		<td class=b9 align=center><b>{$color[QTY].qty}</b>&nbsp;{if $wi.unit}{$wi.unit}{else}<span class=bgdy9> ??</span>{/if}</b></td>
	{/section} 

	{/if}
	 </tr>
	<!-------  end  Title 

	 <tr>
		<td width=100% colspan={$total_fields} style="background-image: url('images/2line.gif'); background-repeat: repeat-x" height=3>
	 </tr>
--------- -->
	{if $lots_NONE}  
	  <tr>
		<tr><td class=bgdy9 align=center colspan={$total_fields} height=30>This wi hasn't any Fabric data!</td></tr>
	  </tr>
	{else}


	<!-------  BOM 主料記錄 --------- -->
	{section name=BOM loop=$bom_lots_list} 
	{if $bom_lots_list[BOM].change == 1}
	 <tr>
		<td width=100% colspan={$total_fields} style="background-image: url('images/2line.gif'); background-repeat: repeat-x" height=3>
	 </tr>
	 {/if}
	<tr {$bom_lots_list[BOM].tr}>
		<td class=b9 align=left nowrap>&nbsp;<a href="javascript:Show_fab('{$bom_lots_list[BOM].lots_code}')" value='ord_out' style='cursor:pointer'>{$bom_lots_list[BOM].lots_code}</a></td>
		<td class=b9 align=left>&nbsp;{$bom_lots_list[BOM].lots_name}</td>
		<td class=b9 align=left>&nbsp;{$bom_lots_list[BOM].use_for}</td>
		<td class=b9 align=right>{$bom_lots_list[BOM].est_1}&nbsp;{$bom_lots_list[BOM].unit}</td>
		<td class=b9 align=center>&nbsp;{if $bom_lots_list[BOM].est_1 > 0}{$bom_lots_list[BOM].color}{/if}</td>
		<td class=b9 align=center>{$bom_lots_list[BOM].size}&nbsp;</td>
		<td class=b9 align=center width=0 bgcolor=#666666></td>
		{$bom_lots_list[BOM].list}
		<td class=b9 align=center width=1>{if $bom_lots_list[BOM].est_1 > 0 && $bom_lots_list[BOM].ap_mark == ''}{$bom_lots_list[BOM].remark}{/if}</td>
	</tr>

	{/section}
	<!------- end BOM 主料記錄 --------- -->
	
	{/if}

<!--	</table>	-->
	 <tr>
		<td width=100% colspan={$total_fields} style="background-image: url('images/2line.gif'); background-repeat: repeat-x" height=5>
	 </tr>
</form>
<form method=POST name='acc_edit'>
<!-------------  副料 ------------->
<!--	<table width=700 border=0 cellspacing=1 cellpadding=1>	-->
	<!-------   Title --------- -->
	 <tr bgcolor=#C4C3AE>
	    <td class=b9 align=center rowspan=3><b>Accessory #</b></td>
	    <td class=b9 align=center rowspan=3><b>ACC. Name</b></td>
	    <td class=b9 rowspan=3 align=center><b>Placement</b></td>
	    <td class=b9 align=center rowspan=3><b>consump.</b></td>
		<td class=b9 align=center rowspan=3 width=100><b>Color/cat.</b></td>
		<td class=b9 align=center rowspan=3 width=10><small>size</small></td>
		<td class=b9 align=center rowspan=3 width=0 bgcolor=#666666></td>
	{if $colors_NONE}
		<td class=bgdy9 align=center >NO Colorway</td>
	  <tr><td class=bgdy9 align=center >NO Q'ty</td>
	{else}
	{section name=NAME loop=$partial} 
		<td class=grn9 align=center colspan={$partial[NAME].size}>ETD : <b>&nbsp;{$partial[NAME].etd}</b></td>
	{/section} 
		<td class=b9 align=center rowspan=3 width=1>&nbsp</td>
	</tr>		
  <tr bgcolor=#D5D5BE>
	{section name=NAME loop=$color} 
		<td class=grn9 align=center><b>&nbsp;{$color[NAME].name}</b></td>
	{/section} 
	</tr>
	 <tr bgcolor=#C9CCC9>
	{section name=QTY loop=$color} 
		<td class=b9 align=center><b>{$color[QTY].qty}</b>&nbsp;{if $wi.unit}{$wi.unit}{else}<span class=bgdy9> ??</span>{/if}</b></td>
	{/section} 

	{/if}
	 </tr>
	<!-------  end  Title --------- -->

	 <tr>
		<td width=100% colspan={$total_fields} style="background-image: url('images/2line.gif'); background-repeat: repeat-x" height=3>
	 </tr>

	{if $acc_NONE}  
	  <tr>
		<tr><td class=bgdy9 align=center colspan={$total_fields} height=30>This wi hasn't any accessory data!</td></tr>
	  </tr>
	{else}

	<!-------  BOM 副料記錄 --------- -->
	{section name=BOM loop=$bom_acc_list} 

	{if $bom_acc_list[BOM].change == 1}
	 <tr>
		<td width=100% colspan={$total_fields} style="background-image: url('images/2line.gif'); background-repeat: repeat-x" height=3>
	 </tr>
	 {/if}

	 <tr {$bom_acc_list[BOM].tr}>
		<td class=b9 align=left nowrap>&nbsp;<a href="javascript:Show_acc('{$bom_acc_list[BOM].acc_code}')" value='ord_out' style='cursor:pointer'>{$bom_acc_list[BOM].acc_code}</a></td>
		<td class=b9 align=left>&nbsp;{$bom_acc_list[BOM].acc_name}</td>
		<td class=b9 align=left>&nbsp;{$bom_acc_list[BOM].acc_use}</td>
		<td class=b9 align=right>{$bom_acc_list[BOM].est_1}&nbsp;{$bom_acc_list[BOM].unit}</td>

		<td class=b9 align=center>&nbsp;{if $bom_acc_list[BOM].est_1 > 0}{$bom_acc_list[BOM].color}{/if}</td>
		<td class=b9 align=center>{$bom_acc_list[BOM].size}&nbsp;</td>
		<td class=b9 align=center width=0 bgcolor=#666666></td>
		{$bom_acc_list[BOM].list}
		<td class=b9 align=center width=1>{if $bom_acc_list[BOM].est_1 > 0 && $bom_acc_list[BOM].ap_mark == ''}{$bom_acc_list[BOM].remark}{/if}&nbsp;</td>
	</tr>
	{/section}
	<!------- end BOM 副料記錄 --------- -->
	{/if}

	</table>
</form>

   </td></tr>
</table>

<!--
	 <table width=710 border=1 cellspacing=1 cellpadding=1>
	 <tr bgcolor=#EACEBE height=25>	 
	    <td width=70 align=center><b>Dowload</b></td>	
	 	<td width=300 align=center><b>File name</b></td>
	 	<td width=300 align=center><b>Descript</b></td>
		<td width=30 align=center><b>DEL</b></td>
	 	
	 	</td>
	 </tr>
	 {if $done[0].id}
		 {section name=SEC loop=$done}
	 <tr>	
		<td align=center valign=top>
		<a href="download.php?fname={$done[SEC].file_name}&fdir=bom_file" title="{$done[SEC].file_name}" ><img src='./images/file2.gif' border=0 ALT="download pattern"></a>
		</td>  	
		<td class=snvy >{$done[SEC].file_name}</td>
		<td class=snvy>{$done[SEC].file_des}</td>
		<td class=snvy>&nbsp;
			{if $add_flag}
			<a href="javascript:file_del('{$done[SEC].file_name}','bom_file_det','{$done[SEC].id}','{$wi.id}','{$done[SEC].file_name}','{$back_str2}')" value="刪除" style="cursor:pointer"><img src="images/del.gif" alt="刪除" border=0 valign=bottom></a>
			{/if}
			</td>
     </tr>
       {/section}
     {/if}
     <tr>
     	<td colspan=4>
   <form method=POST name=pattn enctype="multipart/form-data">    
  	<input type="hidden" name="PHP_action" value="upload_bom_file">
		<input type="hidden" name="PHP_num" value="{$wi.wi_num}">
		<input type = "hidden" name = "max_size" value="100000">
		<input type="hidden" name="PHP_id" value="{$wi.id}">&nbsp;		
		<input type='file' name='PHP_pttn' size=20 class=select>&nbsp;&nbsp;
		Descript : &nbsp;
		<input type='text' name='PHP_desp' size=40 class=select >&nbsp;&nbsp;
		<input type='submit' value='upload'>
		</form>
		</td>
	 </tr>
  </table>
-->
<table border=0 cellspacing=0 cellpadding=2 width=690 bgcolor=#ffffff align=center>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>
	<td colspan=2><form method=POST name=back>

		<input type=button onClick="window.location.href='{$PHP_SELF}?PHP_action=bom_search_wi'" value=" << go back " class=select_e style="cursor:pointer; width=99%"></form>

	</td></form>
	
<td><form method=POST name=back>

	<input type=button onClick="window.location.href='{$PHP_SELF}?PHP_action=fty_bom_view&PHP_id={$wi.id}'" value=" BOM VIEW" class=select_e style="cursor:pointer; width=99%"></form>
													              

	</td></form>
  </tr>

</table>


<!--------- footer ---------->
{include file="footer.html"}
