<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM -B [ ORDER RECORD ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/open_detial.js"></script>
<Script language="javascript">
function down_pttn(id, num) {

	if ( confirm("download this style pattern file?")) {
		//location.href="./order_pttn/"+num+".mdl";
		location.href="./order_pttn/"+num;
//		location.href="ie.php?PHP_action=smpl_pttn_download&PHP_id="+id+"&PHP_num="+num+"&PHP_back="+cgiget;
	} 
}

function pttn_resend(id, num,back_str) {

	if ( confirm("resend this cale. IE file ? ")) {
		location.href="ie.php?PHP_action=order_pttn_resend&PHP_id="+id+"&PHP_num="+num+"&cgiget="+back_str;
	} 
}

function ie1_resend(id, num,back_str) {

	if ( confirm("resend this style's pattern ? ")) {

		location.href="ie.php?PHP_action=ie1_resend&PHP_id="+id+"&PHP_num="+num+"&cgiget="+back_str;
	} 
}

function ie2_resend(id, num,back_str) {

	if ( confirm("resend this style's pattern ? ")) {

		location.href="ie.php?PHP_action=ie2_resend&PHP_id="+id+"&PHP_num="+num+"&cgiget="+back_str;
	} 
}

function openRemote(file)
  {
 var gofile = 'ie.php?PHP_action=revise_order_view&PHP_id='+ file ;
window.open2(gofile,'_new','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=740,height=600 top=30, left=100');
  }

function refreshIt()  {
	if (!document.images) return;
	pics.src = '{/literal}{$main_pic}{literal}?'+ Math.random();	
}
function smpl_out2(smpl_num) {
	 var url ="index2.php?PHP_action=show_sample_det&PHP_smpl_num="+smpl_num;
	 var nm = 'sample';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=600 top=50, left=100');
}
function ppttn(id,back_str){


		location.href="ie.php?PHP_action=order_pttn_paper&PHP_id="+id+"&cgiget="+back_str;

}

function change_picture(pic_src)  {
		pics.src = pic_src+'?'+ Math.random();	
}

function open_picture()
{
	var ord_pic = pics.src;
	var ww = (pics.offsetWidth) ;
	var hh = (pics.offsetHeight);   
	if(ww >= hh)
	{
		ww += 350;
		hh += 280;
	}else{
		ww += 180;
		hh += 250;
	}
	window.open2(ord_pic,'ppic','resizable=yes,height='+hh+',width='+ww)
}

function del_ptn(id,file_id){
	if ( confirm("Are you sure to delete ??")) {
		location.href = "ie.php?PHP_action=file_del&PHP_id="+id+"&PHP_file_id="+file_id;
	}
}
</script>
{/literal}
</head>
{if $re_adding}
<body onLoad="refreshIt();">
{else}
<body onLoad="refreshIt();">
{/if}

<br>
<table align="center" cellspacing=1 cellpadding=4 cols=1 width="800" bgcolor=#333333>
	<tr>
	  <td class="ylw10" align="center" height=28 width=150> 
	  							{if $order.status == 0 }Waitting for IE
	  							{elseif $order.status == 1 }Waitting for Submit
									{elseif $order.status == 2}waitting for CFM</span>
									{elseif $order.status == 3}waitting for APV</span>
									{elseif $order.status == 4}<b>APVD</b></span>
									{elseif $order.status == 5}<span class=ssign><b>REJECT</b></span>
									{elseif $order.status == 6}<b>SCHDL CFMing</b></span>
									{elseif $order.status == 7}<b>SCHDL CFMed</b></span>
									{elseif $order.status == 8}<b>PRODUCING</b></span>
									{elseif $order.status == 10}<b>finished</b></span>
									{elseif $order.status == 12}<b>shipped</b></span>
									{else}&nbsp;{/if}</td>
	  <td class="des" align="center" height=28 width=300>[ <span class=ylw10><b>ORDER</b></span> # ] --- <b>{$order.order_num}</b></td>

	  <td class="sign" align="center" width=150>
	   {if $order.revise > 0 }
			[ <b>REVISE</b> ] : <b><i><span class=ylw10>{$order.revise}</span></i></b>
	   {else}
			&nbsp;
	   {/if}
	  </td>

	</tr>
</table>
<table border=1 cellspacing=1 cellpadding=1 width="800" align="center">
  <tr bgcolor=#333333 >
	<td width=34% class=w9><b>&nbsp;OPEN by : 
		<a href="javascript:message_out('{$order.creator_id}')" style="cursor:pointer"><span class=ylw10>{$order.creator}</span></a>					
		-[{$order.opendate}]</b></td>
	<td width=33% class=w9><b>{if $order.cfmer}&nbsp;CFM by : 
		<a href="javascript:message_out('{$order.cfmer_id}')" style="cursor:pointer"><span class=ylw10>{$order.cfmer}</span></a>					
		-[{$order.cfm_date}]{else}&nbsp;{/if}</b></td>
	<td width=33% class=w9><b>{if $order.apver}&nbsp;APV by : 
		<a href="javascript:message_out('{$order.apver_id}')" style="cursor:pointer"><span class=ylw10>{$order.apver}</span></a>					
		-[{$order.apv_date}]{else}&nbsp;{/if}</b></td>
	</tr>
</table>
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width="800">
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align="center"><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
<table align="center" border=0 cellspacing=1 cellpadding=1 width="800" bgcolor=#FFFFFF>
   <tr>
    <td colspan=6 class=grn10 align=left><b>&nbsp;&nbsp;{if $order.last_updator}Last update : {$order.last_updator}<small> [ {$order.last_update} ]</small>{/if}</b></td>
    <td colspan=2 class=frnt align=right><b>currency : US$&nbsp;&nbsp;&nbsp;</b></td>
  </tr>
   <tr>
    <td colspan=8 class=frnt align="center"><hr size=2 width=98%></td>
  </tr>
 <tr>
    <td class=snvy align=right nowrap><b>style No. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.style_num}</b></td>
    <td class=snvy align=right nowrap><b>Customer :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.cust_iname}</b></td>
    <td class=snvy align=right nowrap><b>customer ref. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.ref}</b></td>
    <td class=snvy align=right nowrap><b>Team :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.dept}</b></td>
 </tr>
 <tr>
    <td class=snvy align=right nowrap><b>factory :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.factory}</b></td>
    <td class=snvy align=right nowrap><b>style :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.style}</b></td>
    <td class=snvy align=right nowrap><b>Q'ty :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.qty}&nbsp;{$order.unit}</b></td>
    <td class=snvy align=right nowrap><b>SU :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.f_su}</b></td>
  </tr>
 <tr>
    <td class=snvy align=right nowrap><b>Quota Cat. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.quota}</b></td>
    <td class=snvy align=right nowrap><b>smpl ord #:</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.smpl_ord}</b></td>
	<td class=snvy align=right nowrap><b>final IE :</b></td>
	<td class=grn10 align=left nowrap bgcolor=#dddddd><b>&nbsp;{$order.ie2}</b></td>
    <td class=snvy align=right nowrap><b>calc. IE :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.ie1}</b></td>
  </tr>
 <tr>
    <td class=snvy align=right nowrap><b>patt. No. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3><b>&nbsp;{$order.patt_num}</b></td>
    <td class=snvy align=right nowrap><b>Agent :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.agent}</b></td>
  </tr>
  <tr>
    <td colspan=8 class=frnt align="center"><hr size=2 width=98%></td>
  </tr>
 <tr>
    <td class=snvy align=right nowrap><b>ETD :</b></td>
	<td class=b10 align=left nowrap bgcolor=#dddddd><b>&nbsp;{$order.etd}</b></td>
	<td class=snvy align=right nowrap><b>ETP. :</b></td>
	<td class=sign align="center" nowrap bgcolor=#dddddd><b>&nbsp;{$order.etp}</b></td>
	<td class=snvy align=right nowrap colspan=3><b>est. Lead Time :</b></td>
	<td class=grn10 align=left nowrap bgcolor=#dddddd><b>&nbsp;{$lead_time} days</b></td>
  </tr>
  <tr>
	
	<td><hr size=2 width=96%></td>
	<td class=bgdy align="center"><i><b>picture</b></i></td>
	<td><hr size=2 width=96%></td>
	<td colspan=2><hr size=2 width=96%></td>
	<td colspan=2 class=bgdy align="center"><i><b>support status :</b></i></td>
	<td ><hr size=2 width=96%></td>
  </tr>

 <tr height=25>

        <td align="center" class=head valign=top rowspan=11 colspan=3>
<table width=190 border=0 cellspacing=0 cellpadding=1>
				<tr>
					<td width=50><hr size=2 width=96%></td>
					<td class=bgdy align="center"><i><b>picture</b></i></td>
					<td width=50><hr size=2 width=96%></td>
				</tr>
				<tr>
					<td align="center" colspan=3>
						<input type="image" src="{$main_pic}" name="pic" id=pics width=190 border="0" onclick='open_picture()'>

					</td>
				</tr>
				<tr>
					<td align=left colspan=3>

						<input type="image" src="{$main_pic}" name="pic_lit" id=pics_lit width=20 border="0"  onclick='change_picture("{$main_pic}")'>						
						{section name=SEC loop=$oth_pic}
						{if $oth_pic[SEC]}
							<input type="image" src="{$oth_pic[SEC]}" name="oth_pic[{$oth_num[SEC]}]" id="oth_pics_{$oth_num[SEC]}" width=20 border="0" onclick='change_picture("{$oth_pic[SEC]}")'>
						{/if}						
						{/section}
					</td>					
				</tr>
			</table>
		</td>

    <td class=b10 align=right nowrap colspan=3 bgcolor=#dddddd><b>- MATERIAL STATUS - </b></td>
	<td class=b10 align="center" nowrap bgcolor=#dddddd><b>&nbsp;ETA</b></td>
	<td class=b10 align="center" nowrap bgcolor=#dddddd><b>&nbsp;Received</b></td>
 </tr>

 <tr>
    <td class=snvy align=right nowrap colspan=3><b>major material : </b></td>
	<td class=ssign align="center" nowrap bgcolor=#dddddd><b>&nbsp;{$order.mat_etd}</b></td>
	<td class=ssign align="center" nowrap bgcolor=#dddddd><b>&nbsp;{$order.mat_shp}</b></td>
 </tr>
 <tr>
    <td class=snvy align=right nowrap colspan=3><b>key accessories : </b></td>
	<td class=ssign align="center" nowrap bgcolor=#dddddd><b>&nbsp;{$order.m_acc_etd}</b></td>
	<td class=ssign align="center" nowrap bgcolor=#dddddd><b>&nbsp;{$order.m_acc_shp}</b></td>
 </tr>
 <tr>
    <td class=snvy align=right nowrap colspan=3><b>other accessories : </b></td>
	<td class=ssign align="center" nowrap bgcolor=#dddddd><b>&nbsp;{$order.acc_etd}</b></td>
	<td class=ssign align="center" nowrap bgcolor=#dddddd><b>&nbsp;{$order.acc_shp}</b></td>
 </tr>
  <tr>
    <td colspan=5 class=frnt align="center"><hr size=2 width=98%></td>
  </tr>

 <tr>
  <td class=snvy align=right nowrap colspan=3><b>Estimate production Start date<span class=bgdy9> [ETS]</span> : </b></td>
	<td class=b9 align=left nowrap bgcolor=#dddddd colspan=2><b><i>&nbsp;{$order.ets}</i></b>&nbsp;&nbsp;{if $order.status >= 7}CFMed{elseif $order.status == 6} unCFM{else}{/if}</td>
	<td class=ssign align="center" nowrap colspan=2>&nbsp;</td>
 </tr>
 <tr>
    <td class=snvy align=right nowrap colspan=3><b>Estimate production Finish date<span class=bgdy9> [ETF]</span> : </b></td>
	<td class=b9 align=left nowrap bgcolor=#dddddd colspan=2><b><i>&nbsp;{$order.etf}</i></b>&nbsp;&nbsp;{if $order.status >= 7}CFMed{elseif $order.status == 6} unCFM{else}{/if}</td>
 </tr>
  <tr>
    <td colspan=5 class=frnt align="center"><hr size=2 width=98%></td>
  </tr>

 <tr>
    <td class=snvy align=right nowrap colspan=3><b>Sample order<span class=bgdy9></span> : </b></td>
	<td class=b9 align=left nowrap bgcolor=#dddddd colspan=2><a href="javascript:smpl_out2('{$order.smpl_ord}')" value='ord_out' style='cursor:pointer'><b><i>&nbsp;{$order.smpl_ord}</td>
 </tr>
 <tr>
    <td class=snvy align=right nowrap colspan=3><b>Sample approved<span class=bgdy9></span> : </b></td>
	<td class=b9 align=left nowrap bgcolor=#dddddd colspan=2><b><i>&nbsp;{if $order.smpl_apv == '0000-00-00'}not yet ! {else}&nbsp;</i>{$order.smpl_apv}{/if}</td>
 </tr> 
 
    <td colspan=8 class=frnt align="center"><hr size=2 width=98%></td>
  </tr>
  <form method=POST name=pattn enctype="multipart/form-data">
	{if $add_flag and ( $order.status < 12 || $order.status == 13 ) and $order.smpl_apv <> '0000-00-00' and $order.paper_ptn == 0}
    <tr>
	<td class=snvy align=right><b>pattern : </b></td>
	<td class=snvy align=right bgcolor=#dddddd colspan=7>
    {if $edit_flag and $order.ptn_upload == '0000-00-00'}<input type='button' value='paper pttn' onclick="ppttn('{$order.id}','{$back_str}')";> |{/if}
	  <input type="hidden" name="PHP_action" value="upload_order_pattern">
		<input type="hidden" name="PHP_num" value="{$order.order_num}">		
		<input type="hidden" name="PHP_id" value="{$order.id}">
		<input type="hidden" name="PHP_back_str" value="{$back_str}">
		<input type='file' name='PHP_pttn' size=16 class=select>&nbsp;&nbsp;
		<b>備註 : </b><input type="text" size="30" name="PHP_des" class="select" value="">
		<input type='submit' value='upload'></td>
	</tr>
	{else} 
    <tr>
	<td class=snvy align=right><b>pattern : </b></td>
	<td class=snvy align=right bgcolor=#dddddd colspan=7>
		{if $order.ptn_upload <> '0000-00-00' and $order.paper_ptn == 1}
			<b><span class=bgdy>Paper Pattern&nbsp;&nbsp;&nbsp;&nbsp;</span></b>
		{else}
			{if $order.pttn.0.id == ''}
			<b>no pattern upload</b>
			{/if}
		{/if}
        {if $relod_flag and $add_flag and ( $order.status < 12 || $order.status == 13 ) and $order.smpl_apv <> '0000-00-00'}<a href="javascript:pttn_resend({$order.id},'{$order.order_num}','{$back_str}')" value='re_pttn' style='cursor:pointer'>Resend</a>{else}&nbsp;{/if}</b>
    </td>
	</tr>
	{/if}
  </form>
  
  {section name=PTN loop=$order.pttn}
  <tr>
	<td class=snvy bgcolor=#dddddd align=left>{$order.pttn[PTN].file_name}
		{if $order.pttn[PTN].download_flag and $order.pttn[PTN].file_name}<a href="javascript:down_pttn({$order.id},'{$order.pttn[PTN].file_name}')" value='smpl' style='cursor:pointer'><img src='./images/file2.gif' border=0 ALT="download pattern"></a>{/if}
	</td>
	<td class=snvy bgcolor=#dddddd align=left><b>&nbsp;{$order.pttn[PTN].file_user}</b></td>
	<td class=snvy bgcolor=#dddddd align=left colspan=4><b>&nbsp;{$order.pttn[PTN].file_des}</b></td>
	<td class=snvy bgcolor=#dddddd align=left><b>&nbsp;{$order.pttn[PTN].file_date}</b></td>
	<td class=snvy bgcolor=#dddddd align="center">{if $admin_flag}<input type='image' src="images/del.png" onClick="del_ptn({$order.id},{$order.pttn[PTN].id});">{/if}</td>
  </tr>
  {/section}
  <tr>
  	<td colspan=8><hr size=2 width=98%></td>
  </tr>

<!--預估IE檔案上傳-->
  <tr>
	<form method=POST name=calc enctype="multipart/form-data">
    <td colspan=2 class=snvy align=right><b>calc. IE  : </b></td>
	{if $add_flag and ( $order.status < 12 || $order.status == 13 ) and $order.ie1_check == 0}
    <td class=snvy align=right bgcolor=#dddddd colspan=6>    
	  <input type="hidden" name="PHP_action" value="upload_calc_ie">
		<input type="hidden" name="PHP_num" value="{$order.order_num}">		
		<input type="hidden" name="PHP_id" value="{$order.id}">
		<input type='file' name='PHP_file' size=50 class=select>&nbsp;&nbsp;
		<input type='submit' value='upload'></td>
	{else} 
    <td class=snvy align=left bgcolor=#dddddd colspan=6>
    	{if $order.ie1_check == 0}<B>NONE</B>{else}    	    	
    	&nbsp;&nbsp;DOWLOAD : &nbsp;&nbsp;
    	<a href="download.php?fname={$order.ie1_file}&fdir=ord_ie" title="{$order.ie1_file}">
    		<img src='./images/file2.gif' border=0 ALT="download pattern"></a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {if $edit_flag and ( $order.status < 12 || $order.status == 13 )}<a href="javascript:ie1_resend({$order.id},'{$order.order_num}','{$back_str}')" value='re_pttn' style='cursor:pointer'>Resend</a>{else}&nbsp;{/if}</b>
    	{/if}
    </td>
	{/if}
	</form>
  </tr>
  
<!--實際IE(final IE)檔案上傳-->
  <tr>
	<form method=POST name=calc enctype="multipart/form-data">
    <td colspan=2 class=snvy align=right><b>final IE  : </b></td>
	{if $add_flag and ( $order.status < 12 || $order.status == 13 ) and $order.ie2_check == 0}
    <td class=snvy align=right bgcolor=#dddddd colspan=6>    
	  <input type="hidden" name="PHP_action" value="upload_final_ie">
		<input type="hidden" name="PHP_num" value="{$order.order_num}">		
		<input type="hidden" name="PHP_id" value="{$order.id}">
		<input type='file' name='PHP_file' size=50 class=select>&nbsp;&nbsp;
		<input type='submit' value='upload'></td>
	{else} 
    <td class=snvy align=left bgcolor=#dddddd colspan=6>
    	{if $order.ie2_check == 0}
    	<B>NONE</B>
    	{else}
    	&nbsp;&nbsp;DOWLOAD : &nbsp;&nbsp;
    	<a href="download.php?fname={$order.ie2_file}&fdir=ord_ie" title="{$order.ie2_file}">
    		<img src='./images/file2.gif' border=0 ALT="download pattern"></a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {if $edit_flag and ( $order.status < 12 || $order.status == 13 )}<a href="javascript:ie2_resend({$order.id},'{$order.order_num}','{$back_str}')" value='re_pttn' style='cursor:pointer'>Resend</a>{else}&nbsp;{/if}</b>
     {/if}
    </td>
	{/if}
	</form>
  </tr>  

 <tr> 		
  <td class=snvy align=right colspan=8>&nbsp; <b>BOM : </b>
    	{if $order.bom_date == '0000-00-00' || $order.bom_date == ''}
			 <span class=bgdy9><b>N/A</b></span>

			 {else}
       <a href="javascript:po_bom_view('{$order.order_num}','x')" value='purchase_out' style='cursor:pointer'><b>{$order.bom_date}</b></a>  	 	     
			{/if}
    </td>
 </tr> 
</table>

<!---------- SHOW 出 一些訂單歷史記錄 -->  
{if $log_records}
	<table border=1 cellspacing=1 cellpadding=1 width="800" align="center">
	  <tr bgcolor=#666666 >
	   <td width=120 class=w10 align="center">DateTime</td>
	   <td width=400 class=w10 align="center">History records</td>
	   <td width=80 class=w10 align="center">by</td>
	  </tr>
	 {section name=SEC loop=$logs}
	  <tr bgcolor=#eeeeee >
	   <td class=gry9 align="center"><small>{$logs[SEC].k_time}</small></td>
	   <td class=gry9 align=left>{$logs[SEC].des}</td>
	   <td class=gry9 align="center">{$logs[SEC].user}</td>
	  </tr>
	{/section}
	</table>
{/if}
<!---------- END SHOW   -->  

<table border=0 cellspacing=1 cellpadding=1 width="800" align="center">
  <tr>
    <td colspan=2 class=frnt align="center"><hr size=1 width=98% /></td>
  </tr>
  <tr bgcolor=#333333 >
	<td width="100" align="center" class=w9><b>Combine Order</b></td>
	<td class=w9>{$combine}</td>
  </tr>
</table>

<table border=0 cellspacing=0 cellpadding=2 width="800" bgcolor=#ffffff align="center">
  <tr>
    <td colspan=8 class=frnt align="center"><hr size=2 width=98%></td>
  </tr>
  <tr>
	<td colspan=2><form method=POST name=back>

		<input type=button onClick="window.location.href='ie.php?PHP_action=ie_search'" value=" << go back " class=select_e style="cursor:pointer; width=99%"></form>

	</td>
  </tr>

</table>
<!--------- footer ---------->
{include file="footer.html"}
