{include file="header.html"}
<table cellspacing="0" cellpadding="0" cols="0" width="100%">
	<tr>
		<td class="subtitle">{if $T_acceptance_title}{$T_acceptance_title}{else}Acceptance{/if}</td>
	</tr>
	<tr>
		<td class="space"></td>
	</tr>
<!-- 	<tr>
		<td class="subInputName">Carrier number# : <span style="color:#bf6000;font-weight:bold;">{$carrier_num}</span>
			<input class="submit" type="submit" id="to_incoming_material_time_search" name="Submit" value="Submit">
		</td>
	</tr> -->
    <tr>
		<td>
			<table cellpadding="0" cellspacing="0" cols="0" >
				<tr>
					<td class="subInputName">B.L. Number # : </td>
					<td class="subInputValue">{$po_ship.bl_num}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" cols="0" >
				<tr>
					<td class="subInputName">Carrier Number # : </td>
					<td class="subInputValue">{$po_ship.carrier_num}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" cols="0" >
				<tr>
					<td class="subInputName">From : </td>
					<td class="subInputValue">{$po_ship.org}</td>
					<td class="subInputName">TO : </td>
					<td class="subInputValue">{$po_ship.dist}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="space_line"></td>
	</tr>
    <tr>
		<td class="space"></td>
	</tr>
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" cols="0" >
				<tr>
					<td class="subInputName">SHIP BY : </td>
					<td class="subInputValue">{$po_ship.ship_way} {$po_ship.ex_cmpy}</td>
					<td class="subInputName">SHIP Date : </td>
					<td class="subInputValue">{$po_ship.ship_date}</td>
					<td class="subInputName">ETA : </td>
					<td class="subInputValue">{$po_ship.ship_eta_date}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="space_line"></td>
	</tr>
    <tr>
		<td class="space"></td>
	</tr>
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" cols="0" >
				<tr>
					<td class="subInputName">Arrival Date : </td>
					<td class="subInputValue">{$po_ship.arrival_date} ({$po_ship.arrival_user})</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="space"></td>
	</tr>
	<tr>
		<td>
			<form METHOD="POST" name="submit_incoming_qty" action="{$PHP_SELF}?PHP_action=append_incoming_qty" onSubmit="return append_incoming_qty(this);">
			<input type="hidden" id="ship_id" name="ship_id" value="{$po_ship.id}">
			<input type="hidden" id="ver" name="ver" value="{$ver}">
			<input type="hidden" id="fty" name="fty" value="{$po_ship.dist}">
			<input type="hidden" id="bl_num" name="bl_num" value="{$po_ship.bl_num}">
			<input type="hidden" id="carrier_num" name="carrier_num" value="{$po_ship.carrier_num}">
			<table cellpadding="0" cellspacing="0" cols="0" >
				<tr>
					<td class="TopCtrlValueRight" colspan="15">
						<!--<input class="submit_ajax" type="submit" id="append_incoming_qty" style="width:90px;" name="Submit" value="{if $T_submit}{$T_submit}{else}Submit{/if}">-->
					</td>
				</tr>			
				<tr>
					<td class="TopCtrlValueRight" colspan="15">
						<input name="radio" type="radio" value="" OnClick="select_checkbox('Clear');"/> Clear All Incoming Qty 
						<input name="radio" type="radio" value="" OnClick="select_checkbox('Reply');"/> Reply All Incoming Qty 
					</td>
				</tr>

				{section name=DET loop=$po_ship_det}
				{if $smarty.section.DET.index % 1 == 0}
				<tr>
					<td class="ListName" title="Invoice Number">{if $T_invoice_num}{$T_invoice_num}{else}Inv. #{/if}</td>
					<td class="ListName" title="P.I.">P.I. #</td>
					<td class="ListName" title="Purchase Order Number">PO #</td>
					<td class="ListName" title="Material name">{if $T_material_name}{$T_material_name}{else}Name{/if}</td>
                    <td class="ListName" title="Color">{if $T_color}{$T_color}{else}Color{/if}</td>
					<td class="ListName" title="Size">{if $T_size}{$T_size}{else}Size{/if}</td>					
					<!--<td class="ListName" title="N.W.">N.W.</td>
					<td class="ListName" title="G.W.">G.W.</td>-->
					<td class="ListName" title="Shipping Qty">{if $T_ship_qty}{$T_ship_qty}{else}Ship Qty{/if}</td>
					<td class="ListName" title="Acceptanced">{if $T_acceptanced}{$T_acceptanced}{else}Acceptanced{/if}</td>
					<td class="ListName" title="Acceptance Qty">{if $T_acceptance}{$T_acceptance}{else}Acceptance Qty{/if}</td>
					<!-- <td class="ListName" title="Order Qty" style="display:{if $add_flag}''{else}none{/if}">Order Qty</td> -->
					<td class="ListName" title="Unit">{if $T_unit}{$T_unit}{else}Unit{/if}</td>
				</tr>
				{/if}
                
				<tr id="List_TR" mid="{$po_ship_det[DET].id}">
					<input type="hidden" id="MK_po_ship_link_qty_{$po_ship_det[DET].id}" value="{$po_ship_det[DET].remain|number_format:2:'':''}">
					<input type="hidden" name="ship_det_id[{$po_ship_det[DET].id}]" value="{$po_ship_det[DET].det_id}">
					<input type="hidden" name="po_num[{$po_ship_det[DET].id}]" value="{$po_ship_det[DET].po_num}">
					<input type="hidden" name="invoice_num[{$po_ship_det[DET].id}]" value="{$po_ship_det[DET].invoice_num|escape:'html'}">
					<input type="hidden" name="pi_num[{$po_ship_det[DET].id}]" value="{$po_ship_det[DET].pi_num|escape:'html'}">
					<input type="hidden" name="mat_cat[{$po_ship_det[DET].id}]" value="{$po_ship_det[DET].mat_cat}">
					<input type="hidden" name="mat_id[{$po_ship_det[DET].id}]" value="{$po_ship_det[DET].mat_id}">
					<input type="hidden" name="color[{$po_ship_det[DET].id}]" value="{$po_ship_det[DET].color|escape:'html'}">
					<input type="hidden" name="size[{$po_ship_det[DET].id}]" value="{$po_ship_det[DET].size|escape:'html'}">
					<input type="hidden" name="unit[{$po_ship_det[DET].id}]" id="unit_{$po_ship_det[DET].id}" value="{$po_ship_det[DET].po_unit|escape:'html'}">

					<td class="ListValueLeft" nowrap>{if $po_ship_det[DET].invoice_num}{$po_ship_det[DET].invoice_num}{else}&nbsp;{/if}</td>
					<td class="ListValueLeft">{if $po_ship_det[DET].pi_num}{$po_ship_det[DET].pi_num}{else}&nbsp;{/if}</td>
					<td class="ListValueLeft">
						{if $po_ship_det[DET].po_num}
							<a href="javascript:po_show('{$po_ship_det[DET].ap_num}','')" style='cursor:pointer'>{$po_ship_det[DET].po_num}</a>&nbsp;
						{else
							}&nbsp;
						{/if}
					</td>
					<td class="ListValueLeft">{if $po_ship_det[DET].mat_name}{$po_ship_det[DET].mat_name}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det[DET].color}{$po_ship_det[DET].color|truncate:30:' ... ':true}{else}&nbsp;{/if}</td>
					<td class="ListValueLeft">{if $po_ship_det[DET].size}{$po_ship_det[DET].size}{else}&nbsp;{/if}</td>
					<!--<td class="ListValueLeft">{if $po_ship_det[DET].gw}{$po_ship_det[DET].gw}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det[DET].nw}{$po_ship_det[DET].nw}{else}&nbsp;{/if}</td>-->
                    <td class="ListValueRight">{if $po_ship_det[DET].qty}{$po_ship_det[DET].qty|number_format:2}{else}&nbsp;{/if}</td>
					<td class="ListValueRight" nowrap>{$po_ship_det[DET].received|number_format:2:'':''}</td>
					<td class="ListValueRight" nowrap>
						<input type="hidden" id="acpted_qty_{$po_ship_det[DET].id}" value="{$po_ship_det[DET].received|number_format:2:'':''}">
						<input type="hidden" id="ship_qty_{$po_ship_det[DET].id}" value="{$po_ship_det[DET].qty}">
						<!-- <img src="images/copy.jpg" style="cursor:e-resize;" onclick="qPass('{$po_ship_det[DET].id}');"> -->
						<input type="text" mid='{$po_ship_det[DET].id}' id="po_ship_link_qty_{$po_ship_det[DET].id}" name="po_ship_link_qty[{$po_ship_det[DET].id}]" value="{$po_ship_det[DET].remain|number_format:2:'':''}" size="8" class="input_right" onkeyup="this.value=this.value.replace(/[^\d\.]/g,'');chk_acpt_qty('{$po_ship_det[DET].id}');" readonly> 
						<!-- <img src="images/del.png" style="cursor:help;" onclick="qClear('{$po_ship_det[DET].id}');"> -->
					</td>
					<td class="ListValueLeft" id="td_avg_{$po_ship_det[DET].id}" style="display:{if $add_flag}''{else}none{/if}">
						{section name=ORD loop=$po_ship_det[DET].orders}
							{$po_ship_det[DET].orders[ORD].order_num}
							<input id="order_qty_{$po_ship_det[DET].id}_{$smarty.section.ORD.index}" type="hidden" name="order_qty[{$po_ship_det[DET].id}][{$po_ship_det[DET].orders[ORD].order_num}]" type="text" size="6" class="input_right" onchange="chk_acpt_avg_qty('{$po_ship_det[DET].id}')" value="{$po_ship_det[DET].orders[ORD].i_qty}"><br>
							<input id="percent_{$po_ship_det[DET].id}_{$smarty.section.ORD.index}" type="hidden" size="6" value="{$po_ship_det[DET].orders[ORD].percent}">
							<input name="ap_det_id[{$po_ship_det[DET].id}][{$po_ship_det[DET].orders[ORD].order_num}]" type="hidden" value="{$po_ship_det[DET].orders[ORD].id}">
							<input name="bom_id[{$po_ship_det[DET].id}][{$po_ship_det[DET].orders[ORD].order_num}]" type="hidden" value="{$po_ship_det[DET].orders[ORD].bom_id}">
						{/section}
					</td>
					<td class="ListValueLeft">{if $po_ship_det[DET].po_unit}{$po_ship_det[DET].po_unit}{else}&nbsp;{/if}</td>
				</tr>
				<tr>
					<td colspan="10" align="left">
						<table>
							<tr>
								<td class="ListName" title="C/NO">{if $T_carton_num}{$T_carton_num}{else}C/NO{/if}</td>
								<td class="ListName" title="L/NO">{if $T_dye_lot}{$T_dye_lot}{else}L/NO{/if}</td>
								<td class="ListName" title="R/NO">{if $T_roll_num}{$T_roll_num}{else}R/NO{/if}</td>
								<td class="ListName" title="QTY">Qty</td>
								<td class="ListName" title="ord_num" style="display:none">ord</td>
								<td class="ListName" title="儲位">{if $T_storage}{$T_storage}{else}Storage{/if}</td>
							</tr>
							{section name=LINK loop=$po_ship_det[DET].ship_link}
							<tr id="List_TR">
								<td class="ListValueLeft">{if $po_ship_det[DET].ship_link[LINK].c_no}{$po_ship_det[DET].ship_link[LINK].c_no}{else}&nbsp;{/if}</td>
								<td class="ListValueLeft">{if $po_ship_det[DET].ship_link[LINK].l_no}{$po_ship_det[DET].ship_link[LINK].l_no}{else}&nbsp;{/if}</td>
								<td class="ListValueLeft">{if $po_ship_det[DET].ship_link[LINK].r_no}{$po_ship_det[DET].ship_link[LINK].r_no}{else}&nbsp;{/if}</td>
								<td class="ListValueLeft">
									<input type="text" id="link_order_qty_{$po_ship_det[DET].id}_link_{$smarty.section.LINK.index}" name="link_order_qty[{$po_ship_det[DET].id}][{$smarty.section.LINK.index}]" value="{if $po_ship_det[DET].received > 0}0{else}{$po_ship_det[DET].ship_link[LINK].qty|number_format:2:'':''}{/if}" size="8" class="input_right" onkeyup="this.value=this.value.replace(/[^\d\.]/g,'');chk_link_acpt_qty('{$po_ship_det[DET].id}',{$smarty.section.LINK.index}, this.value);">
									<input type="hidden" type="text" id="TMP_link_order_qty_{$po_ship_det[DET].id}_link_{$smarty.section.LINK.index}" value="{if $po_ship_det[DET].received > 0}0{else}{$po_ship_det[DET].ship_link[LINK].qty|number_format:2:'':''}{/if}" >
								</td>
								<td style="display:none">
								{section name=O_L loop=$po_ship_det[DET].ship_link[LINK].orders}
									{$po_ship_det[DET].ship_link[LINK].orders[O_L].order_num}
									<input type="text" size="5" id="link_det_order_qty_{$po_ship_det[DET].id}_link_det_{$smarty.section.LINK.index}_{$smarty.section.O_L.index}" name="link_det_order_qty[{$po_ship_det[DET].id}][{$smarty.section.LINK.index}][{$po_ship_det[DET].ship_link[LINK].orders[O_L].order_num}]" value="{$po_ship_det[DET].ship_link[LINK].orders[O_L].i_qty}"><br>
								{/section}
								</td>
								<td class="ListValueLeft">
									<input type="text" name="storage[{$po_ship_det[DET].id}][{$smarty.section.LINK.index}]" size="10" class="input_right" value="">
                                    <input type="hidden" name="ship_link_id[{$po_ship_det[DET].id}][{$smarty.section.LINK.index}]" value="{$po_ship_det[DET].ship_link[LINK].id}">
                                    <input type="hidden" name="r_no[{$po_ship_det[DET].id}][{$smarty.section.LINK.index}]" value="{$po_ship_det[DET].ship_link[LINK].r_no}">
                                    <input type="hidden" name="l_no[{$po_ship_det[DET].id}][{$smarty.section.LINK.index}]" value="{$po_ship_det[DET].ship_link[LINK].l_no}">
                                </td>
							</tr>
							{/section}
						</table>
					</td>
				</tr>
				{/section}
				<tr>
					<td class="BottomCtrlValueRight" colspan="15">
						<input class="submit_ajax" type="submit" id="append_incoming_qty" style="width:90px;" name="Submit" value="{if $T_submit}{$T_submit}{else}Submit{/if}">
					</td>
				</tr>
			</table>
			</form>
		</td>
	</tr>
</table>
{include file="footer.html"}