<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <title>==== ::::::::::  Pack Style Input :::::::::: ====</title>
 <link rel=stylesheet type="text/css" href="./bom.css">
  <link type="text/css" href="./js/calendar/css/jscal2.css" rel="stylesheet" />
 <link type="text/css" href="./js/calendar/css/border-radius.css" rel="stylesheet" />
 <link type="text/css" href="./js/calendar/css/gold/gold.css" rel="stylesheet" />
{literal}
<style type="text/css">@import url(js/calendar/skins/aqua/theme.css);.outline {
	border :1px solid #CCCCCC;
	padding:3px 7px 3px 7px;
	background-color:#FFFFFF;
	color:#000000;
	margin:3px  !important;
	cursor:pointer;
}</style>
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/jquery.blockUI.js"></script>
<script type="text/javascript" src="./js/calendar/calendar.js"></script>
<script type="text/javascript" src="./js/calendar/lang/calendar-en.js"></script>
<script type="text/javascript" src="./js/calendar/calendar-setup.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript" src="./js/calendar/js/jscal2.js" charset="big5"></script>
<script type="text/javascript" src="./js/calendar/js/lang/en.js" charset="big5"></script>


<script language="javascript">
(function($){
	$(document).ready(function(){
		
		$("#btn_import_csv").click(function(){
			var fty = $("#fty").find(":selected").val();
				if(fty !='')
				{
				if(fty == 'LY')
				{
					$("#PHP_action").val('ly_invoice_import');
					//alert($("#PHP_action").val());
				}
				else
				{
					$("#PHP_action").val('cf_invoice_import');
					//alert($("#PHP_action").val());
				}
			}
			else
			{
				alert("Please select FTY");
			}
		});
		$("#import_csv_post").click(function(){
			var val_null=true;
			$('input[type=text]').each(function(key,val){
			
				if($(val).val() == '')
				{
					alert('Please keyin SCM Order Number!!')
					val_null=false;
					return false;
					
				}
			});
			if(!val_null)
			{
				return false;
			}
			
		});
		
		var focus_qty = 0;
		var ttl_qty=0;
		var ttl_amount=0;
		$(".txt_qty").focus(function(){
			focus_qty = $(this).val();
			ttl_qty = $('#ttl_qty').text();
			ttl_amount = $('#ttl_amount').text();
			//ttl_qty = ttl_qty - focus_qty;
			//alert(ttl_amount);
			
		});
		$(".txt_unitprice").focus(function(){
			focus_qty = $(this).val();
			ttl_qty = $('#ttl_qty').text();
			ttl_amount = $('#ttl_amount').text();
			//ttl_qty = ttl_qty - focus_qty;
			//alert(ttl_qty);
			
		});
		$(".txt_qty").change(function(){
			//alert("test");
			var thisid = $(this).attr('id');
			thisid = thisid.substr(3);
			var fob = $("#fob"+thisid).val();
			var qty = $("#qty"+thisid).val();
			var this_amount = $("#sum"+thisid).text();
			var new_qty = 0;
			new_qty = parseInt(ttl_qty) - parseInt(focus_qty) + parseInt(qty);
			new_price = (parseFloat(ttl_amount) - parseFloat(this_amount)) + (qty * parseFloat(fob));
			//var ttl_qty
			//var qty = $("#qty"+thisid).attr('qty');
			//alert(parseFloat(ttl_amount));
			var newsum = fob * qty;
			$("#sum"+thisid).html(newsum.toFixed(2));
			$('#ttl_qty').html(new_qty);
			$('#ttl_amount').html(Math.round(new_price*100)/100);
			//$('#ttl_amount').html('123456');
			//alert(new_price );
		});
		$(".txt_unitprice").change(function(){
			//alert("test");
			var thisid = $(this).attr('id');
			thisid = thisid.substr(3);
			var fob = $("#fob"+thisid).val();
			var qty = $("#qty"+thisid).val();
			//var qty = $("#qty"+thisid).attr('qty');
			var this_amount = $("#sum"+thisid).text();
			var newsum = fob * qty;
			$("#sum"+thisid).html(newsum.toFixed(2));
			new_price = (parseFloat(ttl_amount) - parseFloat(this_amount)) + (qty * parseFloat(fob));
			$('#ttl_amount').html(new_price);
			//$('#ttl_amount').html('123456');
			//alert(fob * qty );
			
		});
		$('input[type=text]').keypress(function(e){
			code = (e.keyCode ? e.keyCode : e.which);
			if (code == 13)
			{
			 //targetForm是表單的ID
			  //$("targetForm").submit();
			  return false;
			}
		});
		$(".savebtn").click(function(){
			var thisrow=$(this).attr('row');
			var thisid = $(this).attr('id');
			var btn_inv_mark = $(this).attr('inv');
			thisid = thisid.substr(3);
			
			var fob = $("#fob"+thisid).val();
			var qty = $("#qty"+thisid).val();
			var rmk = $("#rmk"+thisid).val();
			var ord = $("#ord"+thisid).val();
			var inv = $("#"+thisrow+"_invno").val();
			var newsum = fob * qty;
			//alert($("#"+thisrow+"_invno").val());
			//alert($(this).attr('inv'));
			if($(this).attr('inv')==$("#"+thisrow+"_invno").val())
			{
				//alert('test1');
				$.post('./invoice_import.php?PHP_action=invoice_edit_save',{inv:inv,ord_num:ord,thisid:thisid,fob:parseFloat(fob),qty:qty,remark:rmk,amount:newsum},function(data) {
					//alert(data);
					alert("Data revise "+data+"!!!");
				});
			}
			else
			{
				//var inv_no = $("#"+thisrow+"_invno").val();
				var inv_no_id = '';
				//alert('111222333');
				$.post('./invoice_import.php?PHP_action=get_shipdoc_id',{inv:inv},function(data) {
					inv_no_id = data;
					//alert(data);
					if(inv_no_id == 'no')
					{
						alert("Invoice NO. "+inv+" don't exist!!\r\nPlease check it!!")
					}
					else
					{
						$.post('./invoice_import.php?PHP_action=invoice_edit_save',{inv:inv,shipping_doc_id:inv_no_id,ord_num:ord,thisid:thisid,fob:parseFloat(fob),qty:qty,remark:rmk,amount:newsum},function(mydata) {
							//alert("Invoice NO. change!!\r\n"+mydata+"!!!");
							//alert(mydata);
							if(mydata=='success')
							{
								//alert('test');
								//var old_inv = $(this).attr('inv');
								var org_qty = $("#ttl_qty").attr('total');
								var org_amount = $("#ttl_amount").attr('total');
								var old_row_amount = qty*fob;
								var new_ttlqty = org_qty - qty;
								var new_ttlamount = org_amount - old_row_amount;
								
								$("#ttl_qty").attr('total',new_ttlqty);
								$("#ttl_qty").html(new_ttlqty);
								$("#ttl_amount").attr('total',new_ttlamount);
								$("#ttl_amount").html(Math.round(new_ttlamount*100)/100);
								//$("#"+thisrow).hide();
								$("#"+thisrow).css('display','none');
								alert("Invoice NO. been changed!!\r\n"+btn_inv_mark+" to "+$("#"+thisrow+"_invno").val()+"!!!");
							}
							else
							{
								if(mydata == 'Confirmed')
								{
									//表示此Invoice已經Confirm,不能change
									alert('Invoice '+$("#"+thisrow+"_invno").val()+' had been confirm \r\n Please check it !!!');
								}
								else
								{
									//未Confirm
									alert('update failure');
								}
							}
						});
						//alert("Invoice NO. change!!/r/n")
					}
				});
				
			}
		});
		$('#btn_shipdate_change').click(function() {
			//alert('test');
			var inv=$(this).attr('inv');
			var shipdate=$('#calendar-inputField').val();
			//alert(inv + ","+shipdate);
			if (confirm('Change shipping date\r\nAre you sure??')) 
			{
				//alert('test');
				$.post('./invoice_import.php?PHP_action=change_shipdate',{inv:inv,shipdate:shipdate},function(data) {
						if(data)
						{
							alert("Change success!!");
						}
						else
						{
							alert("Change failure!!");
						}
						//alert(data);
				});
			}
		});
		//$('#PHP_csv_file').change(function() {
		//	var filename = $('#PHP_csv_file').val();
		//	$('#show_message').html(filename);
		//});
		//$('#btn_import_csv').click(function() {
		//	var filename = $('#PHP_csv_file').val();
		//	$.post('./invoice_import.php?PHP_action=cf_invoice_import',{file:filename},function(data) {
		//		$(data).appendTo('#show_message');
		//	});
		//});
		
	});
})(jQuery);
</script>
{/literal}
</head>
<body>
{if $msg_YES}
<table cellpadding="0" cellspacing="0" cols="0" >
	<tr bgcolor=#ffffff> 
		<td width="90" class="gry10" align="center"><img src="images/alert.gif" border="0"></td>
		<td class="msg"><b>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}</b><br>{/section}</td>
	</tr>
</table>
{/if}
<div id='show_message'></div>
<table cellspacing="0" cellpadding="0" cols="0" width="100%">
	<tr>
		
    </tr>
	<tr>
		<form method=POST name=import enctype="multipart/form-data" action=invoice_import.php>
		{if $Invoice_import_list}
		
		{foreach from=$Invoice_import_list key=inv item=inv_item name=inv}
		<table style="border:5px #cccccc solid;"  rules="all" cellpadding='0' cellspacing='0' width=100%>
			<tr><td colspan='12' align='left'>
				<font size='4'>SHIP DATE:</font> <font size='4' style="cursor:pointer;font-weight:bold;" id="calendar-trigger" color="blue">{$ship_date}</font> 
				<input type="hidden" id="calendar-inputField" name="PHP_ship_date" size="8" value="{$ship_date}" />
				<input type='button' id='btn_shipdate_change' inv='{$inv_no}' class='changedate_btn' value='Change' />
			</td></tr>
				<tr>
				<td style='width:80px'>INV No#</td>
				<!-- <td style='width:80px'>SHIP Date#</td> -->
				<td style='width:80px'>CUST PO#</td>
				<td style='width:80px'>STYLE#</td>
			{if $inv == 'both'}
				<!--沒有顏色尺碼-->
			{/if}
			{if $inv == 'nocolor'}
				<!-- <td>SIZE#</td> -->
				<td>COLOR#</td>
				<td>SIZE#</td>
			{/if}
			{if $inv == 'nosize'}
				<!-- <td>COLOR#</td> -->
				<td>COLOR#</td>
				<td>SIZE#</td>
			{/if}
			{if $inv == 'all'}
				<td>COLOR#</td>
				<td>SIZE#</td>
			{/if}
				<td>SCM NO.</td>
				<td>Qty(PCS)</td>
				<td style='width:100px'>Unit Price(US$)</td>	
				<td style='width:100px'>Amount(US$)</td>
				<td style='width:230px'>REMARK</td>
				<td style='width:70px'>&nbsp;</td>
				</tr>
			{foreach from=$inv_item key=inv_key item=inv_value name=detail}
			{if $smarty.foreach.detail.index == 0}
			<input type="hidden" id="PHP_INV_NO" name="PHP_INV_NO" value="{$inv_value.inv_no}">
			{/if}
				<!-- {$inv}: -->
				<!-- {$inv_value.id}:{$inv_value.inv_no}:{$inv_value.po}:{$inv_value.style}:{$inv_value.color}:{$inv_value.size}:{$inv_value.qty}:{$inv_value.unit}:{$inv_value.fob}:{$inv_value.dollar_unit}:{$inv_value.amount}:{$inv_value.ord_num}:{$inv_value.remark}<br> -->
				<tr id='{$inv_value.inv_no}_{$smarty.foreach.detail.index}'>
					<td><input type='text' id='{$inv_value.inv_no}_{$smarty.foreach.detail.index}_invno' value='{$inv_value.inv_no}'></td>
					<!-- <td>{$inv_value.ship_date}</td> -->
					<td>{$inv_value.po}</td>
					<td>{$inv_value.style}</td>
					
					{if $inv == 'both'}
					<!--沒有顏色尺碼-->
					{else}
						{if $inv == 'all'}
							{if $inv_value.color=='nocolor'}
							<td>&nbsp;</td>
							{else}
							<td>{$inv_value.color}</td>
							{/if}
							{if $inv_value.size=='nosize'}
							<td>&nbsp;</td>
							{else}
							<td>{$inv_value.size}</td>
							{/if}
						{else}
							{if $inv == 'nocolor'}
								<td>&nbsp;</td>
								<td>{$inv_value.size}</td>
							{/if}
							{if $inv == 'nosize'}
								<td>{$inv_value.color}</td>
								<td>&nbsp;</td>
							{/if}
						{/if}
					{/if}
					
					<td><input type='text' id='ord{$inv_value.id}' class='txt_ordnum' value='{$inv_value.ord_num}' style='width:100px'>&nbsp;</td>
					<td><input type='text' id='qty{$inv_value.id}' class='txt_qty' value='{$inv_value.qty}' style='width:50px'>&nbsp;<!-- {$inv_value.unit} --></td>
					<td><!-- {$inv_value.dollar_unit} -->&nbsp;<input type='text' id='fob{$inv_value.id}' class='txt_unitprice' value='{$inv_value.fob}' style='width:50px'></td>
					<td><!-- {$inv_value.dollar_unit} -->&nbsp;<span id='sum{$inv_value.id}'>{$inv_value.amount}</span></td>
					<!-- <td>{$inv_value.dollar_unit}&nbsp;<input type='text' id='sum{$inv_value.id}' class='txt_amount' value='{$inv_value.amount}' style='width:50px' readonly='readonly'/></td> -->
					<td>{if $inv_value.remark==''}&nbsp;<input type='text' id='rmk{$inv_value.id}' style='width:200px'/>{else}&nbsp;<input type='text' id='rmk{$inv_value.id}' style='width:200px' value='{$inv_value.remark}'/>{/if}</td>
					<td align='center'><input type='button' id='btn{$inv_value.id}' row='{$inv_value.inv_no}_{$smarty.foreach.detail.index}' inv='{$inv_value.inv_no}' class='savebtn' value='SAVE' /></td>
				</tr>	
			{/foreach}
		{/foreach}
			
			{if $inv == 'both'}
				<tr><td colspan='7' align='right'>&nbsp;Total Qty :</td><td>&nbsp;<span id='ttl_qty'>{$ttl_qty}</span></td><td>Total Amount :</td><td>&nbsp;<span id='ttl_amount'>{$ttl_amount}</span></td><td>&nbsp;</td><td>&nbsp;</td></tr>
				<tr><td colspan='12' align='center'><input type='submit' id='PHP_2view' class="select_e" style="cursor:pointer; width=60%"  value='BACK TO VIEW' />&nbsp;</td></tr>
			{/if}
			{if $inv == 'nocolor'}
				<tr><td colspan='7' align='right'>&nbsp;Total Qty :</td><td>&nbsp;<span id='ttl_qty'>{$ttl_qty}</span></td><td>Total Amount :</td><td>&nbsp;<span id='ttl_amount'{$ttl_amount}</span></td><td>&nbsp;</td><td>&nbsp;</td></tr>
				<tr><td colspan='12' align='center'><input type='submit' id='PHP_2view' class="select_e" style="cursor:pointer; width=60%"  value='BACK TO VIEW' />&nbsp;</td></tr>
			{/if}
			{if $inv == 'nosize'}
				<tr><td colspan='7' align='right'>&nbsp;Total Qty :</td><td>&nbsp;<span id='ttl_qty'>{$ttl_qty}</span></td><td>Total Amount :</td><td>&nbsp;<span id='ttl_amount'>{$ttl_amount}</span></td><td>&nbsp;</td><td>&nbsp;</td></tr>
				<tr><td colspan='12' align='center'><input type='submit' id='PHP_2view' class="select_e" style="cursor:pointer; width=60%"  value='BACK TO VIEW' />&nbsp;</td></tr>
			{/if}
			{if $inv == 'all'}
				<!-- <tr><td colspan='7' align='right'>&nbsp;Total Qty :</td><td>&nbsp;<span id='ttl_qty' total='{$ttl_qty}'>{$ttl_qty}</span></td><td>Total Amount :</td><td>&nbsp;<span id='ttl_amount' total='{$ttl_amount}'>{$ttl_amount}</span></td><td>&nbsp;</td><td>&nbsp;</td></tr> -->
				<!-- <tr><td colspan='12' align='center'><input type='submit' id='PHP_2view' class="select_e" style="cursor:pointer; width=60%"  value='BACK TO VIEW' />&nbsp;</td></tr> -->
				<tr><td colspan='6' align='right'>&nbsp;Total Qty :</td><td>&nbsp;<span id='ttl_qty' total='{$ttl_qty}'>{$ttl_qty}</span></td><td>Total Amount :</td><td>&nbsp;<span id='ttl_amount' total='{$ttl_amount}'>{$ttl_amount}</span></td><td>&nbsp;</td><td>&nbsp;</td></tr>
				<tr><td colspan='11' align='center'><input type='submit' id='PHP_2view' class="select_e" style="cursor:pointer; width=60%"  value='BACK TO VIEW' />&nbsp;</td></tr>
			{/if}
		
			
		<input type="hidden" id="PHP_action" name="PHP_action" value="view_invoice">
		{literal}
		<script type="text/javascript">
				cal = Calendar.setup({
					weekNumbers : false,
					trigger     : "calendar-trigger",
					inputField  : "calendar-inputField",
					date        : {/literal}{$ship_dates}{literal} ,
					selection   : {/literal}{$ship_dates}{literal} ,
					showTime    : false,
					onSelect: function() {
						$('#calendar-trigger').html($('#calendar-inputField').val());
						cal.hide();
					}
				});
		</script>
		{/literal}
		
		</table>
		
		{/if}
		</form>
		
	</tr>
	
</table>

{include file="footer.html"}