<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>==== ::::::::::  管理員動態記錄 說明:::::::::: ====</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
	<base target="_top">
{literal}
<script language="javascript">
 function tp(url) { parent.top.location.href=url }
</script>
{/literal}
</head>
<body bgcolor="#003C77">
<table width=600 border=0 cellspacing=0 cellpadding=2>
  <tr> 
	<td class=snvy><br>
		<ol>
		<li class=bgdy9>Best Window size is 1024x768(big font). Table's title is on the top of frame (Dark Blue Area)。</li>
		<li>Please use the button on top of frame to search working log.</li>
		<li>All List is order by Date/Time at least.</li>
		<li>[ List All Record ] will list all record by date/time.</li>
		<li>[ Delete All Record ] will Delete all record. Please make sure before click this button.</li>
		<li>Search / listing work log record ;choice one of rule [user name, work id or point date<font color=#EF4E6E>(before the point date)</font>] and click its button to search data.</li>
		<li>On search list, there are 30 record per page. Click arabic numeral to change 1~10 page and click [per-page] / [next page] to jump 10 page.</li>
		<li>On search list, using click box(on the front of list) to choice records and click [Delete choice record] can delete records that be choiced.</li>
		<li>Delete needless log record can be more efficacy and free more space in system.</li>
		</ol>
	</td>
  </tr>
</table>
<!--------- footer ---------->
{include file="footer.html"}
