<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>{literal}==== :::::::::: 確認刪除 :::::::::: ===={/literal}</title>
	<link REL=STYLESHEET TYPE="text/css" HREF="bom.css">
</head>

<body bgcolor="#003C77" background="images/vline-55.jpg" >
<table border=1 cellpadding=4 cellspacing=0 width=600 bgcolor=#003333><tr><td class=ylw10  align=center>{literal}Delete these record{/literal}</td></tr></table>
<br>
	<table width=600 border=0 cellspacing=2 cellpadding=8 bgcolor=#eeeeee>
		<tr>
			<td width=40% class=snvy align=right>{$del.des}</td>
			<td class=b9>{$del.detail}</td>
		</tr></table>
	<table width=600 border=0 cellspacing=2 cellpadding=5 bgcolor=#eeeeee>
		<tr>
			<td width=50% align=center><form>
				<input type="hidden" NAME="PHP_cfm_del" VALUE=0>
				<input type="button"  onClick="window.history.go(-1);" value=" Not Delete!  <<  Go Back ! " class="select_e" style="width:90%"></form>
			</td>
			<td width=50% align=center><form>
				<input type="hidden" name="PHP_cfm_del" value=1>
				<input type="hidden" name="PHP_action" value="do_log_dump">
				<input type="hidden" name="PHP_del_mode" value="{$del.mode}">
				{section name=id loop=$del.id_arry}
				<input type="hidden" name="PHP_del_id[]" value="{$del.id_arry[id]}"> 
				{/section}
				<input type="hidden" name="PHP_del_where_str" value="{$del.wherestr}">
				<input type="hidden" name="PHP_date" value="{$del_date}">
				<input type="submit" name="cfmyesbutton" value="{literal} Confirmation deletes above record !{/literal} " class="select_e" style="width:90%"></form>
			</td>
		</tr></table>
<table width=660 border=1 cellspacing=0 cellpadding=2>
  <tr bgcolor="#0D4368"> 
    <td class=w9 width=60 align=center>ID</td>
    <td class=w9 width=90 align=center>USER</td>
    <td class=w9 width=140 align=center>Date / Time</td>
    <td class=w9 width=56 align=center>Job ID</td>
    <td class=w9 align=center>Job des.</td>
    <td class=w9 width=90 align=center>IP</td>
  </tr>
{section name=SEC loop=$logs}
  <tr onmouseover="bgColor='#FCF4A4'" onmouseout="bgColor='#EEEEEE'">
   <td class=gry9 width=60 align=center><small>{$logs[SEC].id}</small></td>
   <td class=gry9 width=90 align=center>{$logs[SEC].login_id}</td>
   <td class=gry9 width=140 align=center><small>{$logs[SEC].date}</small></td>
   <td class=gry9 width=56 align=center>{$logs[SEC].job}</td>
   <td class=gry9>{$logs[SEC].description}</td>
   <td class=snvy width=90 align=center><small>{$logs[SEC].ip}</small></td>
  </tr>
  {/section}
</table>
<!--------- footer ---------->
{include file="footer.html"}
