<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>===.........  Fabric search / list .........===</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/open_detial.js"></script>
<script language="javascript">
function cfm(lots_code,lots_name,unit1,unit2,unit3,vendor,id,price) {
	if ( confirm("Are you sure add Fabric:["+lots_code+"] ??")) {

	updateParentList(lots_code,lots_name,unit1,unit2,unit3,vendor,id,price);
	} 
 }
function updateParentList(lots_code,lots_name,unit1,unit2,unit3,vendor,id,price) {
  self.opener.writeToParentList(lots_code,lots_name,unit1,unit2,unit3,vendor,id,price);
  window.close();
}
function refreshIt()  {
	if (!document.images) return;{/literal}
	{section name=SEC loop=$fab} 
	{literal}document.images['pic_{/literal}{$fab[SEC].id}{literal}'].src='./pics/s{/literal}{$fab[SEC].id}.jpg{literal}?'+ Math.random();{/literal}
	{/section}{literal}
}

</script>
{/literal}
</head>
<body  bgcolor="ffffff" background=" " onLoad="refreshIt();">&nbsp;
<!-- ################################################################################# -->

<form method="POST" action=index2.php>
	<!--webbot bot="SaveResults" U-File="D:\PHP\www\parts\templates\_private\form_results.csv" S-Format="TEXT/CSV" S-Label-Fields="TRUE" -->
	<table border=1 cellspacing=0 cellpadding=1 width=620>
	<tr><td bgcolor=black colspan=8>
		<p align="center"><font color=#FFFFFF>Search Fabric No.</font></td></tr>
	<tr>
	<td class=snvy align=right>Fab. # :</td>
	<td><input type="text" name="SCH_lots_code" size="15"></td>
	<td class=snvy align=right>Fab. Name :</td>
	<td><input type="text" name="SCH_lots_name" size="15"></td>
	<td class=snvy align=right>Content :</td>
	<td><input type="text" name="SCH_comp" size="15"><td>
	<input type="hidden" name="PHP_action" value="do_get_lot">
	<td><input type="submit" value="search" name="B1"></td>	
	</tr>
	</table>	
	<p></p>
</form>

<table border cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#cccccc  align=center>
 <tr><form METHOD="POST" name="add_fab"><input type="hidden" name="PHP_action" value="fab_add">   
    <td align=center>
     <table border=1 cellspacing=0 cellpadding=4 cols=1 width=620 bgcolor=#534A67>
		 <tr><td class=des align=center>.....  Fabric List&nbsp;&nbsp;<span class=ylw10>[Choice Fabric]</span> ......</td></tr>
     </table></td></tr>
{if $msg_YES}<tr><td>
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=620 align=center>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
</td></tr>
{/if}
</table></form>
<table border cellspacing=0 cellpadding=2 width=620 bgcolor=#ffffff align=center>
  <tr bgcolor="#003333" height=28> 
	<td nowrap width=80 align=center class=back>Fabric #</td>
	<td nowrap width=150 align=center class=back>Fabric name</td>
	<td nowrap width=100 align=center class=back>Mile #</td>
	<td nowrap width=200 align=center class=back>Content</td>
	<td nowrap width=50 align=center class=ylw9>Choice</td>
  </tr>
	{if $record_NONE}
  <tr>
	<td colspan=8 align=center class=ssign><br>No Records!<br><br>
  </tr>
	{/if}
	{section name=SEC loop=$lots} 
  <tr><form>	
	<td class=g10 align=center nowrap>
	  <a href="javascript:Show_fab('{$lots[SEC].lots_code}')" value='ord_out' style='cursor:pointer'>
      		<b>{$lots[SEC].lots_code}&nbsp;</b></a></td>
    <td class=gry9 align=center><small>{$lots[SEC].lots_name}&nbsp;</small></td>
    <td align=center class=grn9><small>{$lots[SEC].des}</small>&nbsp;</td>
    <td align=center class=grn9><small>{$lots[SEC].comp}</small>&nbsp;</td>
    <td align=center nowrap class=gry9>&nbsp;
		<img src="images/handar.gif" alt="Choice" border=0 valign=bottom onClick="cfm('{$lots[SEC].lots_code}','{$lots[SEC].lots_name}','{$lots[SEC].unit1}','{$lots[SEC].unit2}','{$lots[SEC].unit3}','{$lots[SEC].vendor1}','{$lots[SEC].id}','{$lots[SEC].price1}');" style="cursor:pointer">
		</td>
  </tr>
			{/section} 
</table>
<table border=0 cols=4 width=620 align=center>
  <tr>
  <td colspan=5 align=center width=620>
    {if $pages[0] > 1}
   <a href="{$cgistr_get}&PHP_sr_startno=p{$pages[1]}&SCH_lots_code={$cgi.lots_code}&SCH_lots_name={$cgi.lots_name}&SCH_comp={$cgi.comp}" style="cursor:pointer">&nbsp;<img src="images/left2.gif" border=0 alt="前12筆資料"></a>
   {/if}
   {section name=PGE loop=$pages}
    {if $pages[PGE] <= $maxpage }
    {if $pages[PGE] == $now_pp}
    <font color="#FF0000"><i><b>&nbsp;{$pages[PGE]}</b></i></font>
    {else}
    <a href="{$cgistr_get}&PHP_sr_startno={$pages[PGE]}&SCH_lots_code={$cgi.lots_code}&SCH_lots_name={$cgi.lots_name}&SCH_comp={$cgi.comp}" style="cursor:pointer">&nbsp;{$pages[PGE]}</a>
    {/if}
    {/if}   
    {/section}
    {if $lastpage < $maxpage}
    <a href="{$cgistr_get}&PHP_sr_startno=n{$lastpage}&SCH_lots_code={$cgi.lots_code}&SCH_lots_name={$cgi.lots_name}&SCH_comp={$cgi.comp}" style="cursor:pointer">&nbsp;<img src="images/right2.gif" alt="後12筆資料" border=0></a>
    {/if} 
	</td>	
  </tr>
</table>

	</td>
</tr>
</table>
</form>
<!--------- footer ---------->
{include file="footer.html"}