<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM 樣本輔助系統 [ 主料記錄 資料 ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">
 function cfm(ref,id) {
	if ( confirm("記錄刪除 將會永久刪除；無法再回覆 !\r\r請再確定 是否\r\r確認永久刪除 樣本記錄:["+ref+"]??")) {
	location.href="index2.php?PHP_action=smpl_del&PHP_id="+id;
	} 
 }
function check(){
}

function list(item,cat){
	var gofile ='index2.php?PHP_action=show_supplier_search&PHP_item='+item+'&PHP_cat='+cat;	style=window.open(gofile,'style','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=700,height=500, top=100, left=150');
 	style.focus();
 }

function add_sup(item,cat){
	var gofile ='index2.php?PHP_action=show_supplier_add&PHP_item='+item+'&PHP_cat='+cat;	style=window.open(gofile,'style','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=700,height=500, top=100, left=150');
 	style.focus();
 }
 
function writeToSupItemlList(vndr_no,supl_s_name,supl_cat,item) {
	var i=0;
	if (item == 'vendor1') window.document.forms['lots_add'].elements['PHP_vendor1'].value = vndr_no;
	if (item == 'vendor2') window.document.forms['lots_add'].elements['PHP_vendor2'].value = vndr_no;
	if (item == 'vendor3') window.document.forms['lots_add'].elements['PHP_vendor3'].value = vndr_no;

}
</script>
{/literal}
</head>
<body ><form METHOD="POST" name="lots_add" action="{$PHP_SELF}">
<br><input type="hidden" name="PHP_id" value="{$lots.id}">
<table cellspacing=1 cellpadding=4 cols=1 width=550 bgcolor=#003300>
	<tr><td class="des" align=center height=28> [ <b><span class=sign>Edit</span>&nbsp;Fabric record</b> ] </td></tr>
</table>
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=550>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
<table border=0 cellspacing=0 cellpadding=1 width=550 bgcolor=#FFFFFF>
  <tr><input type="hidden" name="PHP_lots_code" value="{$lots.lots_code}">
    <td colspan=4 class=frnt align=center><hr size=2 width=98%></td>
  <tr>
  <tr>
    <td class=snvy align=right><b>FABRIC # :</b></td>
    <td class=frnt align=left bgcolor=#CEE4E3 nowrap>&nbsp;{$lots.lots_code}</td>
    <td class=snvy align=right><b>Customer# :</b></td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;{$cust_select}</td>
  </tr>
  <tr>
    <td class=snvy align=right>&nbsp;</td>
    <td class=frnt align=left bgcolor=#CEE4E3 nowrap>&nbsp;</td>
    <td class=snvy align=right><b>FABRIC Name :</b></td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;<input type=text name="PHP_lots_name" size=45 class=select value="{$lots.lots_name|htmlspecialchars}"  {if $lots.lots_name && !$mag_flag}readonly{/if} maxlength=20></td>
  </tr>  
  <tr>
    <td class=snvy align=right>&nbsp;</td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;</td>
    <td class=snvy align=right><b>Supplier's code :</b></td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;<input type=text name="PHP_des" size=45 class=select value="{$lots.des|htmlspecialchars}" {if $lots.des && !$mag_flag}readonly{/if}></td>
  </tr>
  <tr>
    <td class=snvy align=right>&nbsp;</td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;</td>
    <td class=snvy align=right><b>Content :</b></td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;<input type=text name="PHP_comp" size=45 class=select value="{$lots.comp|htmlspecialchars}" {if $lots.comp && !$mag_flag}readonly{/if}></td>
  </tr>
  <tr>
    <td class=snvy align=right>&nbsp;</td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;</td>
    <td class=snvy align=right><b>Construction :</b></td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;<input type=text name="PHP_specify" size=45 class=select value="{$lots.specify|htmlspecialchars}" {if $lots.specify && !$mag_flag}readonly{/if}></td>
  </tr>  
    <tr>
    <td class=snvy align=right>&nbsp;</td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;</td>
    <td class=snvy align=right><b>CuttablWidth :</b></td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;<input type=text name="PHP_width" size=45 class=select value="{$lots.width|htmlspecialchars}" {if $lots.width && !$mag_flag}readonly{/if}></td>
  </tr>
  <tr>
    <td class=snvy align=right>&nbsp;</td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;</td>
    <td class=snvy align=right><b>weight :</b></td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;<input type=text name="PHP_weight" size=45 class=select value="{$lots.weight|htmlspecialchars}" {if $lots.weight && !$mag_flag}readonly{/if} onkeyup=value=value.replace(/[^\d]/g,'')></td>
  </tr>
  <tr>
    <td class=snvy align=right>&nbsp;</td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;</td>
    <td class=snvy align=right><b>Finish :</b></td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;<input type=text name="PHP_cons" size=45 class=select value="{$lots.cons|htmlspecialchars}" {if $lots.cons && !$mag_flag}readonly{/if}></td>
  </tr>
  <tr>
    <td class=snvy align=right>&nbsp;</td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;</td>
    <td class=snvy align=right><b>Remark :</b></td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;<input type=text name="PHP_memo" size=45 class=select value="{$lots.memo|htmlspecialchars}" {if $lots.memo && !$mag_flag}readonly{/if}></td>
  </tr>  
   <tr>
    <td colspan=4 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>

		<table border=1 cellspacing=0 cellpadding=1 width=550 bgcolor=#FFFFFF>
  <tr bgcolor=#31657B height=20>
    <td class=w10 align=center><b>Supplier #</b></td>
     <td class=w10 align=center><b>Term</b></td>
    <td class=w10 align=center><b>Price</b></td>
    <td class=w10 align=center><b>Unit</b></td>
    <td class=w10 align=center><b>Currency</b></td>
   </tr>
  <tr bgcolor=#cccccc>
    <td class=w10 align=center>&nbsp;
    	<input type=text name="PHP_vendor1" size=12 class=select value="{$lots.vendor1}" readonly>
    	<img src="./images/icoSearch.gif" alt="Supplier" onClick="list('vendor1','FABRIC');" style="cursor:pointer">
    	<img src="./images/add.gif" alt="Supplier" onClick="add_sup('vendor1','FABRIC');" style="cursor:pointer">       
    </td>
    <td class=w10 align=center>&nbsp;{$term1}</td>
    <td class=w10 align=center>&nbsp;<input type=text name="PHP_price1" size=4 class=select value="{$lots.price1}"></td>
    <td class=w10 align=center>&nbsp;{$unit1}</td>
    <td class=w10 align=center>&nbsp;{$currency1}</td>
  </tr> 
  <tr bgcolor=#cccccc>
    <td class=w10 align=center>&nbsp;
    	<input type=text name="PHP_vendor2" size=12 class=select value="{$lots.vendor2}" readonly>
    	<img src="./images/icoSearch.gif" alt="Supplier" onClick="list('vendor2','FABRIC');" style="cursor:pointer">
    	<img src="./images/add.gif" alt="Supplier" onClick="add_sup('vendor2','FABRIC');" style="cursor:pointer">    
    </td>
    <td class=w10 align=center>&nbsp;{$term2}</td>
    <td class=w10 align=center>&nbsp;<input type=text name="PHP_price2" size=4 class=select value="{$lots.price2}"></td>
    <td class=w10 align=center>&nbsp;{$unit2}</td>
    <td class=w10 align=center>&nbsp;{$currency2}</td>
  </tr> 
   <tr bgcolor=#cccccc>
    <td class=w10 align=center>&nbsp;
    	<input type=text name="PHP_vendor3" size=12 class=select value="{$lots.vendor3}" readonly>
    	<img src="./images/icoSearch.gif" alt="Supplier" onClick="list('vendor3','FABRIC');" style="cursor:pointer">
    	<img src="./images/add.gif" alt="Supplier" onClick="add_sup('vendor3','FABRIC');" style="cursor:pointer">       
    </td>
    <td class=w10 align=center>&nbsp;{$term3}</td>
    <td class=w10 align=center>&nbsp;<input type=text name="PHP_price3" size=4 class=select value="{$lots.price3}"></td>
    <td class=w10 align=center>&nbsp;{$unit3}</td>
    <td class=w10 align=center>&nbsp;{$currency3}</td>
  </tr> 

</table>
		<hr SIZE=2 WIDTH=550>
          <table border=0 cellspacing=0 cellpadding=0 cols=2 width=550>
            <tr> 
              <td align=center>
                <input type="hidden" name="PHP_action" value="do_lots_edit">
<!--2006.11.14 頁碼記錄 start--> 
                <input type="hidden" name="PHP_sr_startno" value={$now_pp}>
                <input type="hidden" name="PHP_back_str" value={$back_str}>
<!--2006.11.14 頁碼記錄 start--> 
<input type="button" onClick="window.location.href='{$PHP_SELF}?PHP_action=do_lots_search&PHP_sr_startno={$now_pp}{$back_str}'" value=" << GO BACK " class=select_e  style=" cursor:pointer; width:30%" >

				<input type=submit value="[ UPDATE Fabric record ]" class=select_e style="cursor:pointer; width=60%"></form>
              </td>
			</tr>
          </table>
<!--------- footer ---------->
{include file="footer.html"}
