<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>===.........  SALES FORECAST .........===</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="JavaScript">
function add()
{
	var fty = window.document.forms['mon'].elements['PHP_FTY'].value;
	var line = window.document.forms['mon'].elements['PHP_LINE'].value;
	var worker = window.document.forms['mon'].elements['PHP_worker'].value;
//		alert('monitor.php?PHP_action=monitor_add&PHP_FTY='+fty+'&PHP_LINE='+line+'&PHP_worker='+worker);
	window.location='monitor.php?PHP_action=monitor_add&PHP_FTY='+fty+'&PHP_LINE='+line+'&PHP_worker='+worker; 	
}
function search()
{
	var fty = window.document.forms['mon_search'].elements['PHP_FTY'].value;
	var line = window.document.forms['mon_search'].elements['PHP_LINE'].value;
	var style = window.document.forms['mon_search'].elements['PHP_style'].value;
	var ord = window.document.forms['mon_search'].elements['PHP_ord'].value;

	window.location='monitor.php?PHP_action=monitor_search&PHP_FTY='+fty+'&PHP_LINE='+line+'&PHP_style='+style+'&PHP_ord='+ord; 	
}
</script>
{/literal}

</head>
<body  bgcolor="ffffff" background=" ">&nbsp;
<!-- ################################################################################# -->

<br>
{if $add_flag}
<form METHOD="POST" name="mon">
<table border=1 cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#DDDDDD  align=center>

<tr><td>
<table cellspacing=1 cellpadding=1 cols=1 width=100% bgcolor=#003333 align=center>
	<tr>
		<td class="des" align=center height=28>[ PRODUCTION MONITOR APPEND]</td>
	</tr>
</table>
</td></tr>

{if $msg_YES}
 <tr><td>
     <table border=0 cellpadding=2 cellspacing=0 width=600 align=center>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
 </td></tr>
{/if}

<tr><td>

<table border=0 cellspacing=6 cellpadding=1 width=600>
  </tr>
  <td class=snvy  align=right width=100><b>factory ID :</b><td>
	<td class=snvy	align=left 	width=80>{$FACTORY_select}</td>
  <td class=snvy  align=right width=150><b>Production LINE :</b></td>
  <td class=snvy  align=left 	width=80><input type=text name="PHP_LINE" size=5 class=select value="{$line}"></td>	
  <td class=snvy  align=right width=80><b>Worker :</b></td>
  <td class=snvy  align=left 	width=80><input type=text name="PHP_worker" size=5 class=select value="{$worker}"></td>	

  </tr>
  <tr><td colspan=7><hr SIZE=2 WIDTH=97%></td></tr>

	<tr> 
	  <td align=center colspan=7>
		<input type=submit value=" create MONITOR " class=select_e2 style="cursor:pointer; width=100%" onClick="javascript:add();this.width=0;">
	  </td>
	</tr>
</table>
</td></tr>

</table>

<input type=hidden value="monitor_add" name="PHP_action">
</form>
{/if}	

<br><form METHOD="POST" name="mon_search">
<table border=1 cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#DDDDDD  align=center>

<tr><td>
<table cellspacing=1 cellpadding=1 cols=1 width=100% bgcolor=#003333 align=center>
	<tr>
		<td class="des" align=center height=28>[ PRODUCTION MONITOR SEARCH]</td>
	</tr>
</table>
</td></tr>

<tr><td>
<table border=0 cellspacing=6 cellpadding=1 width=600>
  <tr>
  <td class=snvy  align=right width=100><b>factory ID :</b></td>
	<td class=snvy	align=left 	width=200>{$FACTORY_select}</td>
  <td class=snvy  align=right width=150><b>Production LINE :</b></td>
  <td class=snvy  align=left 	width=150><input type=text name="PHP_LINE" size=15 class=select value="{$line}"></td>	
  </tr>
  <tr>
  <td class=snvy  align=right><b>Order # :</b></td>
  <td class=snvy  align=left><input type=text name="PHP_ord" size=15 class=select value="{$worker}"></td>	
  <td class=snvy  align=right><b>Style # :</b></td>
  <td class=snvy  align=left><input type=text name="PHP_style" size=15 class=select value="{$worker}"></td>	
  </tr>
  <tr><td colspan=4><hr SIZE=2 WIDTH=97%></td></tr>
	<tr> 
	  <td align=center colspan=4>
		<input type=submit value=" MONITOR SEARCH " class=select_e style="cursor:pointer; width=100%" >
	  </td>&nbsp;&nbsp;
	</tr>
	
</table>
</td></tr>
</table>


<table border=0 cellspacing=0 cellpadding=0 width=600 align=center>
	<tr> 

</table>
<input type=hidden value="monitor_search" name="PHP_action">

</form>
<!--------- footer ---------->
{include file="footer.html"}