<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5" />
<title>menu</title>
<link rel=stylesheet type="text/css" href="./bom.css" />
<link rel=stylesheet type="text/css" href="./css/notice.css" />
<link href="./js/confirm/confirm.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
{literal}
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/confirm/jquery-impromptu.1.5.js"></script>
<script language="javascript" src="./js/open_detial.js"></script>
<script type="text/javascript" src="./js/build/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="./js/build/connection/connection-min.js"></script>
<SCRIPT language=JavaScript>  
<!--

function order_ship(){
	var url ="index2.php?PHP_action=ord_ship_tal";
	var nm = 'order_ship';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=990,height=670, top=20, left=20');
}

// #M11010501 修改大表區隔針織和平織的顯示
function order_total(type){
	var url ="index2.php?PHP_action=ord_prd_tal&fabric="+type;
	var nm = 'order_tal';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=1300,height=670, top=20, left=20');
}

function order_pending(){
	var url ="index2.php?PHP_action=ord_pend_list";
	var nm = 'order_pends';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=830,height=670, top=20, left=20');
}

function purchase_pending(){
	//	var url ="index2.php?PHP_action=purchase_pend_list";
	var url = "wk_report.php?PHP_action=un_rcv_list"
	var nm = 'po_pends';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=500, top=20, left=20');
}

function purchase_receive(ap_num){
	//	var url ="index2.php?PHP_action=purchase_pend_list";
	location.href= "receive.php?PHP_action=rcvd_add&PHP_aply_num="+ap_num;
}

function exceptional(){
	var url ="index2.php?PHP_action=ord_exceptional";
	var nm = 'order_exceptional';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=1000,height=670, top=20, left=20');
}

function ord_out(ord_num) {
	//	alert("order number = "+ord_num);
	var url ="{/literal}{$PHP_SELF}{literal}?PHP_action=order_output&PHP_ord_num="+ord_num;
	var nm = 'order';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=600 top=50, left=100');
}

function smpl_out(smpl_num) {
	 var url ="index2.php?PHP_action=show_sample_det&PHP_smpl_num="+smpl_num;
	 var nm = 'sample';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=600 top=50, left=100');
}

function message_check(max)
{
	var txt = '';
	if ( $("input[id='POP']").val() > 0 ){
		txt = " You Have Important Message un READ !";	
		alert(txt);
		window.location.href="notify.php?PHP_action=notify";
	}
	
	if(max > 0)
	{
		txt = "<font color = red>You Have "+max+" Message un READ ?</font><br>Do you want to read now ?";	
		jQuery.noConflict();
		jQuery.prompt(txt,{ 
			buttons:{Yes:true, No:false},
			callback: function(v,m){
				if(v){
					open_new();
				}else{
					notOpen();
				}				
			},
			 prefix:'cleanblue'
		});	
	}
}

function open_new(){
	window.location.href="notify.php?PHP_action=notify";
}

function notOpen(m){

}

function show_material(id,ord_num) {
	var url ="index2.php?PHP_action=bom_view&PHP_ex_order=1&PHP_bom_num="+ord_num+"&PHP_sr=&PHP_dept_code=&PHP_etdfsh=&PHP_cust=&PHP_wi_num=&PHP_etdstr=&PHP_fty_sch=";
	var nm = 'order';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=600 top=50, left=100');
}

function lots_chk_ajx(id,r){
	var i=r.parentNode.parentNode.rowIndex;
	document.getElementById('material_table').deleteRow(i);	  

	sUrl = "index2.php?PHP_action=do_order_lots_chk&PHP_id="+id;
	transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, '', null);
}

function smpl_out2(smpl_num) {
	smpl_init = smpl_num.split("-");
	var url ="index2.php?PHP_action=show_sample_det&PHP_smpl_num="+smpl_num;
	var nm = 'sample_'+smpl_init[1];
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=600 top=50, left=100');
}

function fab_ckecking() {
	var url ="wk_report.php?PHP_action=rpt_fab_comp";
	var nm = 'fab_ckeck';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=600 top=50, left=100');
}

//採購總表新增 20120530
function po_tracking(){
	var url ="po.php?PHP_action=po_track&PHP_FAB_ACC=init";
	var nm = 'po_track';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=1000,height=670, top=20, left=20');

	} 

(function($){
    $(document).ready(function(){
        $("table[id^='mask_']").attr({'style':'display:none;'});
        $('.over_alert_border').live('click', function(){
            $("table[id^='mask_']").attr({'style':'display:none;'});
            id = $(this).attr('id');
            $("table[id^='mask_"+id+"']").attr({'style':'display:inline;'});
        });
    
        $(".mk").hover(function(){
            $(this).css({'cursor':'pointer'});
        }); 
        
		$('.over_border').hover(function(){
			$(this).addClass("over_border_hover");
		},function(){
			$(this).removeClass("over_border_hover");  
		});
        
		$('.over_alert_border').hover(function(){
			$(this).addClass("over_alert_border_hover");
		},function(){
			$(this).removeClass("over_alert_border_hover");  
		});
        
	});
})(jQuery);
-->
</SCRIPT>

{/literal}
<body topmargin="5" leftmargin="5" bgcolor="#FFFFE6" style="overflow-x: hidden" onLoad="message_check('{$max_notify}');">
<input type="hidden" id="POP" value="{$pop}">
<table border="0" cellspacing="0" width="100%">
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr height="30">
                    <td width="90" class="b7" align="center" style="background-image: url('images/button3.gif'); background-repeat: no-repeat; cursor: default;" >
                        ANNOUNCEMENT
                    </td>
                    <td>
                        <table width="100%" border="0" cellspacing="3" cellpadding="0">
                            <tr>
                                <td>&nbsp;[  To drive this<font color=red><b> ALERT page </b></font>back by clicking Carnival Logo on the left-top.] </td>
                                <td align="right"><a href="main/other_menu.html" target="main">Sub Menu</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width="100%" style="background-image: url('images/Line.gif'); background-repeat: repeat-x">&nbsp;</td>
    </tr>
    <tr>
		<td align="left" width="100%" >
			<table border="0" cellpadding="1" cellspacing="1" >
				<tr>
					<td align="center">
						<table class="over_border" border="0" cellpadding="6" style="background-color:#1c1c61;color:#FFFFFF;" height="88">
							<tr>
								<td align="center" colspan="3"><span align="center" ><b>Production Order Check-List<br>未完工訂單總表</b></span></td>
							</tr>
							<tr colspan="3">
								<td align="center" class="white_link"><a href="javascript:order_total('HJ')" title="Woven"><span align="center"><b>【 HJ 】</b></span></a></td>
								<td align="center" class="white_link"><a href="javascript:order_total('LY')" title="Woven"><span align="center"><b>【 LY 】</b></span></a></td>
								<td align="center" class="white_link"><a href="javascript:order_total('CF')" title="Knitting"><span align="center"><b>【 CF 】</b></span></a></td>
							</tr>
						</table>
					</td>
					<td align="center">
						<table class="over_border" border="0" cellpadding="6" style="background-color:#b5b526;" height="88">
							<tr>
								<td align="center" colspan="3" class="white_link">
                                    <a href="javascript:order_ship()"> <span align="center" ><b>Order Shipping List<br>訂單出貨追蹤</b></span></a>
                                </td>
							</tr>
						</table>
					</td>
					<td align="center">
						<table class="over_border" border="0" cellpadding="6" style="background-color:#cc66bb;" height="88">
							<tr>
								<td align="center" colspan="3" class="white_link">
                                    <a href="javascript:order_pending()"> <span align="center" ><b>Order Pending List Advise<br>訂單待辦通告</b></span></a>
                                </td>
							</tr>
						</table>
					</td>
					<td align="center">
						<table class="over_border" border="0" cellpadding="6" style="background-color:#b4e087;" height="88">
							<tr>
								<td align="center" colspan="3" class="white_link">
                                    <a href="javascript:purchase_pending()"> <span align="center" ><b>Material PO not Accept Notice<br>採購單未驗收通告</b></span></a>
                                </td>
							</tr>
						</table>
					</td>
					<td align="center">
						<table class="over_border" border="0" cellpadding="6" style="background-color:#7abee0;" height="88">
							<tr>
								<td align="center" colspan="3" class="white_link">
                                    <a href="javascript:po_tracking()"> <span align="center" ><b>Tracing Table of Material PO ETD<br>採購進度追蹤表 </b></span></a>
                                </td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
        <td width="100%" style="background-image: url('images/Line.gif'); background-repeat: repeat-x">&nbsp;</td>
    </tr>
	{if $max_notify > 0 || $max_urgent > 0}		
    <tr>
		<td width="100%" >
			<table width=820 border="0" cellpadding="3" cellspacing=1>
				<tr height="33" >
					<td align="center" {if $max_urgent > 0}bgcolor=yellow{else}bgcolor=#C0CECF{/if}>
					<a href="notify.php?PHP_action=urgent"> <span class=sign align="center" ><b> You have {$max_urgent} urgent message un-read</b></span></a>
					</td>
					<td align="center" bgcolor=#C0CECF >
						<a href="notify.php?PHP_action=notify"> <span class=sign align="center" ><b> You have {$max_notify} message un-read</b></span></a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
        <td width="100%" style="background-image: url('images/Line.gif'); background-repeat: repeat-x">&nbsp;</td>
    </tr>
    {/if}
</table>

<table width=820 border="0" cellpadding="3" cellspacing=1>
    <tr>
		<td width="100%" align="center" class="sign"><span class="sign"><b>== System ALERT ==</b></span></td>
    </tr>	
</table>


<table border="0" cellspacing="0" width="100%">
    <tr>
		<td align="left" width="100%" >
			<table border="0" cellpadding="1" cellspacing="1" >
				<tr>
                    {if $APV_ord}
					<td align="center">
						<table class="over_alert_border" id="a" border="0" cellpadding="6" style="background-color:#CCCCCC;color:#666666;" height="88">
							<tr onClick="mask('a');">
								<td align="center" colspan="3"><span align="center" ><b>{literal}Order waiting for Approval<br>等待 Approval 訂單{/literal}<br>({if $APV_ord}{$APV_ord.num}{else}0{/if})</b></span></td>
							</tr>
						</table>
					</td>
                    {/if}
                    {if $REV_ord}
					<td align="center"> 
						<table class="over_alert_border" id="b" border="0" cellpadding="6" style="background-color:#CCCCCC;color:#666666;" height="88">
							<tr onClick="mask('b');">
								<td align="center" colspan="3"><span align="center" ><b>{literal}Order waiting for Review<br>等待 Review 訂單{/literal}<br>({if $REV_ord.num}{$REV_ord.num}{else}0{/if})</b></span></td>
							</tr>
						</table>
					</td>
                    {/if}
                    {if $CFM_ord}
					<td align="center"> 
						<table class="over_alert_border" id="c" border="0" cellpadding="6" style="background-color:#CCCCCC;color:#666666;" height="88">
							<tr onClick="mask('c');">
								<td align="center" colspan="3"><span align="center" ><b>{literal}Order waiting for Confirm<br>等待 Confirm 訂單{/literal}<br>({if $CFM_ord.num}{$CFM_ord.num}{else}0{/if})</b></span></td>
							</tr>
						</table>
					</td>
                    {/if}
                    {if $ex_etd}
					<td align="center">
						<table class="over_alert_border" id="d" border="0" cellpadding="6" style="background-color:#CCCCCC;color:#666666;" height="88">
							<tr onClick="mask('d');">
								<td align="center" colspan="3"><span align="center" ><b>Order can't be produced & <br><font color="red">Lead Time under {$alt_value.una_prd} days!</font><br>
                                {literal}訂單無法開工{/literal} <i>ETD < {$alt_value.una_prd} 天</i><br>({if $ex_etd.num}{$ex_etd.num}{else}0{/if})</b></span></td>
							</tr>
						</table>
					</td>
                    {/if}
                    {if $order_rec}
					<td align="center">
						<table class="over_alert_border" id="e" border="0" cellpadding="6" style="background-color:#CCCCCC;color:#666666;" height="88">
							<tr onClick="mask('e');">
								<td align="center" colspan="3"><span align="center" ><b>Order didn't be submitted & <br><font color="red">Lead Time under {$alt_value.un_sub} days</font><br>
                                {literal}訂單未 SUBMIT{/literal} ETD < {$alt_value.un_sub} 天<br>({if $order_rec.num}{$order_rec.num}{else}0{/if})</b></span></td>
							</tr>
						</table>
					</td>
                    {/if}
                    {if $ie_rec}
					<td align="center">
						<table class="over_alert_border" id="f" border="0" cellpadding="6" style="background-color:#CCCCCC;color:#666666;" height="88">
							<tr onClick="mask('f');">
								<td align="center" colspan="3"><span align="center" ><b>Order without IE<br>ETD < {$alt_value.un_sub} days<br>({if $ie_rec.num}{$ie_rec.num}{else}0{/if})</b></span></td>
							</tr>
						</table>
					</td>
                    {/if}
				</tr>
			</table>
		</td>
	</tr>
    <tr>
		<td align="left" width="100%" >
			<table border="0" cellpadding="1" cellspacing="1" >
				<tr>
                    {if $schedule}
					<td align="center">
						<table class="over_alert_border" id="g" border="0" cellpadding="6" style="background-color:#CCCCCC;color:#666666;" height="88">
							<tr onClick="mask('g');">
								<td align="center" colspan="3"><span align="center" ><b>Order didn't be arranged for Sewing line & <br><font color="red">Lead Time under {$alt_value.un_schld} days</font><br>
                                {literal}訂單未排程(CFM){/literal} <font color="red">ETD < {$alt_value.un_schld} 天</font><br>({if $schedule.num}{$schedule.num}{else}0{/if})</b></span></td>
							</tr>
						</table>
					</td>
                    {/if}
                    {if $CFM_SCHDL}
					<td align="center">
						<table class="over_alert_border" id="h" border="0" cellpadding="6" style="background-color:#CCCCCC;color:#666666;" height="88">
							<tr onClick="mask('h');">
								<td align="center" colspan="3"><span align="center" ><b>Schedule didn't be confirmed<br>
                                {literal}排程未核可(CFM){/literal}<br>({if $CFM_SCHDL.num}{$CFM_SCHDL.num}{else}0{/if})</b></span></td>
							</tr>
						</table>
					</td>
                    {/if}
                    {if $schdl_out}
					<td align="center">
						<table class="over_alert_border" id="i" border="0" cellpadding="6" style="background-color:#CCCCCC;color:#666666;" height="88">
							<tr onClick="mask('i');">
								<td align="center" colspan="3"><span align="center" ><b>Sewing didn't finihed & <br><font color="red">exceed shipment date</font><br>
                                {literal}訂單未完成且排程<font color="red">延誤{/literal} {$alt_value.un_fish} 天 以上</font><br>({if $schdl_out.num}{$schdl_out.num}{else}0{/if})</b></span></td>
							</tr>
						</table>
					</td>
                    {/if}
                    {if $mater}
					<td align="center">
						<table class="over_alert_border" id="j" border="0" cellpadding="6" style="background-color:#CCCCCC;color:#666666;" height="88">
							<tr onClick="mask('j');">
								<td align="center" colspan="3"><span align="center" ><b>Order w/o material input & <br><font color="red">shipment date under {$alt_value.un_eta} days</font><br>
                                {literal}訂單未輸入物料預計出口日{/literal}<font color="red"> ETD < {$alt_value.un_eta} 天</font><br>({if $mater.num}{$mater.num}{else}0{/if})</b></span></td>
							</tr>
						</table>
					</td>
                    {/if}
                    {if $mat_rcvd}
					<td align="center">
						<table class="over_alert_border" id="k" border="0" cellpadding="6" style="background-color:#CCCCCC;color:#666666;" height="88">
							<tr onClick="mask('k');">
								<td align="center" colspan="3"><span align="center" ><b>Factory didn't receive material and behind schedule<br>
                                {literal}預計到料日(ETA)已超過 應到而未到料{/literal}<br>({if $mat_rcvd.num}{$mat_rcvd.num}{else}0{/if})</b></span></td>
							</tr>
						</table>
					</td>
                    {/if}
				</tr>
			</table>
		</td>
	</tr>
    <tr>
		<td align="left" width="100%" >
			<table border="0" cellpadding="1" cellspacing="1" >
				<tr>
                    {if $smpl_apv}
					<td align="center">
						<table class="over_alert_border" id="l" border="0" cellpadding="6" style="background-color:#CCCCCC;color:#666666;" height="88">
							<tr onClick="mask('l');">
								<td align="center" colspan="3"><span align="center" ><b>Sample not approved yet, <br><font color="red">but Lead Time under {$alt_value.un_smpl} days</font><br>
                                {literal}樣本單未核可{/literal} <font color="red">ETD < {$alt_value.un_smpl} 天</font><br>({if $smpl_apv.num}{$smpl_apv.num}{else}0{/if})</b></span></td>
							</tr>
						</table>
					</td>
                    {/if}
                    {if $ord_pttn}
					<td align="center">
						<table class="over_alert_border" id="m" border="0" cellpadding="6" style="background-color:#CCCCCC;color:#666666;" height="88">
							<tr onClick="mask('m');">
								<td align="center" colspan="3"><span align="center" ><b>Paper pattern didn't submitted to <br>factory after sample been approved<br>
                                {literal}已上傳大貨版{/literal} 樣本核可後 {$alt_value.no_pttn} 天<br>({if $ord_pttn.num}{$ord_pttn.num}{else}0{/if})</b></span></td>
							</tr>
						</table>
					</td>
                    {/if}
                    {if $smpl_apv_undo}
					<td align="center">
						<table class="over_alert_border" id="n" border="0" cellpadding="6" style="background-color:#CCCCCC;color:#666666;" height="88">
							<tr onClick="mask('n');">
								<td align="center" colspan="3"><span align="center" ><b>Sample didn't be approved after sample submitted for approval<br>
                                {literal}大貨樣本單未核可{/literal}<br>樣本完成後 10 天<br>({if $smpl_apv_undo.num}{$smpl_apv_undo.num}{else}0{/if})</b></span></td>
							</tr>
						</table>
					</td>
                    {/if}
                    {if $none_wiws}
					<td align="center">
						<table class="over_alert_border" id="o" border="0" cellpadding="6" style="background-color:#CCCCCC;color:#666666;" height="88">
							<tr onClick="mask('o');">
								<td align="center" colspan="3"><span align="center" ><b>WI/WS didn't submitted after spl apporved date<br>
                                {literal}大貨訂單製造令及製造說明未完成{/literal}<br>樣本核可後 2 天<br>({if $none_wiws.num}{$none_wiws.num}{else}0{/if})</b></span></td>
							</tr>
						</table>
					</td>
                    {/if}
				</tr>
			</table>
		</td>
	</tr>
    
	<tr>
        <td width="100%" style="background-image: url('images/Line.gif'); background-repeat: repeat-x">&nbsp;</td>
    </tr>
</table>



{if $APV_ord}
<table align="left" width="820" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666" id="mask_a">
	<tr align="center" bgcolor="#272727" height="33">
        <td class="ylw10" colspan="9" ><b>Order waiting for Approval<br>等待 Approval 訂單</b></td>
    </tr>
	<tr align="center" bgcolor="#eeeeee">
		<td width="80">Order #</td>
		<td width="166">style #</td>
		<td width="166">cust. ref</td>
		<td width="30">Q'ty</td>			
		<td width="60">ETP</td>
		<td width="60">ETD</td>			
		<td width="70">CFM date</td>
		<td width="250">Remark</td>
		<td width="20"><small>FTY</small></td>
	</tr>
	{section name=SEC loop=$APV_ord}
	<tr align="center"  bgcolor="#FFFFE6">
		<td nowrap><a href='index2.php?PHP_action=order_apv_view&PHP_id={$APV_ord[SEC].id}&cgiget={$cgi_get}&cgino=&max_rec=&per_page=&cgi_1=&cgi_2=&cgi_3=&cgi_4=&cgi_5=&cgi_6=&cgi_7='><span class='F3'><small>{$APV_ord[SEC].order_num}</small></span></a></td>
		<td width="166" align="left"><small>{$APV_ord[SEC].style_num}</small></td>
		<td width="166" align="left"><small>{$APV_ord[SEC].ref}</small></td>
		<td {if $APV_ord[SEC].qty == 0}class="B_blue10"  bgcolor="#FFB0B6"{/if} align="right"><small>{$APV_ord[SEC].qty|number_format}</small></td>
		<td nowrap {if $today > $APV_ord[SEC].etp}class="B_blue10" bgcolor="#FFB0B6"{/if}><small>{$APV_ord[SEC].etp}</small></td>
		<td nowrap {if $today > $APV_ord[SEC].etd}class="B_blue10" bgcolor="#FFB0B6"{/if}><b>{$APV_ord[SEC].etd}</b></td>
		<td><small>{$APV_ord[SEC].cfm_date}</small></td>
		<td>&nbsp;{if $APV_ord[SEC].del_mk > 0}<font color=red>* Deleting Order</font>{/if}</td>
		<td><small>{$APV_ord[SEC].factory}</small></td>
	</tr>
	{/section}
</table>
{/if}



{if $REV_ord}     
<table align="left" width="820" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666" id="mask_b">    
	<tr align="center" bgcolor="#272727" height="33"><td class="ylw10" colspan="9" ><b>Order waiting for Approval<br>等待 Review 訂單 </b></td></tr>
	<tr align="center" bgcolor="#eeeeee">
		<td width="80">Order #</td>
		<td width="166">style #</td>
		<td width="166">cust. ref</td>
		<td width="30">Q'ty</td>			
		<td width="60">ETP</td>
		<td width="60">ETD</td>			
		<td width="70">CFM date</td>
		<td width="250">Remark</td>
		<td width="20"><small>FTY</small></td>
	</tr>
	{section name=SEC loop=$REV_ord}
	<tr align="center"  bgcolor="#FFFFE6">
		<td nowrap><a href='index2.php?PHP_action=order_rev_view&PHP_id={$REV_ord[SEC].id}&cgiget={$cgi_get}&cgino=&max_rec=&per_page=&cgi_1=&cgi_2=&cgi_3=&cgi_4=&cgi_5=&cgi_6=&cgi_7='><span class='F3'><small>{$REV_ord[SEC].order_num}</small></span></a></td>
		<td width="166" align="left"><small>{$REV_ord[SEC].style_num}</small></td>
		<td width="166" align="left"><small>{$REV_ord[SEC].ref}</small></td>
		<td {if $REV_ord[SEC].qty == 0}class=B_blue10  bgcolor=#FFB0B6{/if} align=right><small>{$REV_ord[SEC].qty|number_format}</small></td>
		<td nowrap {if $today > $REV_ord[SEC].etp}class=B_blue10 bgcolor=#FFB0B6{/if}><small>{$REV_ord[SEC].etp}</small></td>
		<td nowrap {if $today > $REV_ord[SEC].etd}class=B_blue10 bgcolor=#FFB0B6{/if}><b>{$REV_ord[SEC].etd}</b></td>
		<td><small>{$REV_ord[SEC].cfm_date}</small></td>
		<td>&nbsp;{if $REV_ord[SEC].del_mk > 0}<font color=red>* Deleting Order</font>{/if}</td>
		<td><small>{$REV_ord[SEC].factory}</small></td>
	</tr>
	{/section}
</table>
{/if}



{if $CFM_ord}
<table align="left" width="820" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666" id="mask_c">
	<tr align="center" bgcolor="#272727" height="33">
        <td class="ylw10" colspan="9" ><b>Order waiting for Confirm<br>等待 Confirm 訂單</b></td>
    </tr>
	<tr align="center" bgcolor="#eeeeee">
		<td width="80">Order #</td>
		<td width="166">style #</td>
		<td width="166">cust. ref</td>
		<td width="30">Q'ty</td>
		<td width="60">ETP</td>			
		<td width="60">ETD</td>
		<td width="120">Submit time</td>
		<td width="190">Remark</td>
		<td width="20"><small>FTY</small></td>
	</tr>
	{section name=SEC loop=$CFM_ord}
	<tr align="center" bgcolor="#FFFFE6">
		<td nowrap><a href='index2.php?PHP_action=order_cfm_view&PHP_id={$CFM_ord[SEC].id}&cgiget={$cgi_get}&cgino=&max_rec=&per_page=&cgi_1=&cgi_2=&cgi_3=&cgi_4=&cgi_5=&cgi_6=&cgi_7='><span class='F3'><small>{$CFM_ord[SEC].order_num}</small></span></a></td>
		<td width="166" align="left"><small>{$CFM_ord[SEC].style_num}</small></td>
		<td width="166" align="left"><small>{$CFM_ord[SEC].ref}</small></td>
		<td {if $CFM_ord[SEC].qty == 0}class=B_blue10  bgcolor=#FFB0B6{/if} align=right><small>{$CFM_ord[SEC].qty|number_format}</small></td>
		<td nowrap {if $today > $CFM_ord[SEC].etp}class=B_blue10 bgcolor=#FFB0B6{/if}><small>{$CFM_ord[SEC].etp}</small></td>
		<td nowrap {if $today > $CFM_ord[SEC].etd}class=B_blue10 bgcolor=#FFB0B6{/if}><b>{$CFM_ord[SEC].etd}</b></td>
		<td><small>{$CFM_ord[SEC].last_update}</small></td>
		<td>&nbsp; {if $CFM_ord[SEC].del_mk > 0}<font color=red>* Deleting Order</font>{/if}</td>
		<td><small>{$CFM_ord[SEC].factory}</small></td>
	</tr>
	{/section}
</table>
{/if}



{if $ex_etd}
<table align="left" width="820" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666" id="mask_d">
	<tr align="center" bgcolor="#450612" height="30">
        <td class="ylw10" colspan="11"><b>Order can't be produced & <font color="red">Lead Time under {$alt_value.una_prd} days</font><br>訂單無法開工  <i>( ETD < {$alt_value.una_prd} 天 )</i> --- <font color="red">[請更新 ETD & ETP]</font></b></td>
    </tr>
	<tr align="center" bgcolor="#DBDBDB">
		<td width="80">Order #</td>
		<td width="166">style #</td>
		<td width="166">cust. ref</td>
		<td width="30">Q'ty</td>			
		<td width="60">ETD</td>
		<td width="30"><small><b>Lead <br> Time</b></small></td>						
		<td width="60"><small>FAB. RCVD</small></td>			
		<td width="60"><small>ACC. RCVD</small></td>	
		<td width="70"><small>SMPL APVD</small></td>
		<td width="130">Order status</td>		
		<td width="20"><small>FTY</small></td>
	</tr>
 	{section name=SEC loop=$ex_etd}
	{if $ex_etd[SEC].bk}
	<tr>
        <td colspan="11" bgcolor="#FFFFE6"><b> ETD [{$ex_etd[SEC].sub_mm}] SubTotal Q'ty  : {$ex_etd[SEC].mm_qty|number_format} (pcs.)</b></td>
    </tr>
	{/if}
	{if $ex_etd[SEC].order_num}
	<tr align="center" bgcolor="{if $ex_etd[SEC].etn1 > 0}#FFFFE6{else}#F0B7B7{/if}">
		<td nowrap><a href='index2.php?PHP_action=order_view&PHP_id={$ex_etd[SEC].id}&cgiget={$cgi_get}&cgino=&cgi_1=&cgi_2=&cgi_3=&cgi_4=&cgi_5=&cgi_6=&cgi_7='><span class='F3'><small>{$ex_etd[SEC].order_num}</small></span></a></td>
		<td width="166" align="left"><small>{$ex_etd[SEC].style_num} </small></td>
		<td width="166" align="left"><small>{$ex_etd[SEC].ref} </small></td>
		<td align=right><small>{$ex_etd[SEC].qty|number_format} </td>			
		<td nowrap {if $today > $ex_etd[SEC].etd}class=B_blue10 bgcolor=#FFB0B6{/if}><b>{$ex_etd[SEC].etd} </b></td>
		<td><b>{$ex_etd[SEC].etn1} </b></td>			
		<a href="javascript:po_bom_view('{$ex_etd[SEC].order_num}','x')" style='cursor:pointer'>			
		<td nowrap {if $ex_etd[SEC].mat_shp == ''}bgcolor=#FFB0B6{/if} style='cursor:pointer'>  {if $ex_etd[SEC].mat_shp == '1111-11-11'}---------{else}<small>{$ex_etd[SEC].mat_shp} </small>{/if}</td>
		<td nowrap {if $ex_etd[SEC].m_acc_etd == ''}bgcolor=#FFB0B6{/if} style='cursor:pointer'>{if $ex_etd[SEC].m_acc_shp == '1111-11-11'}---------{else}<small>{$ex_etd[SEC].m_acc_shp}</small>{/if} </td>
		</a>
		<td nowrap {if $ex_etd[SEC].smpl_apv == '0000-00-00'}bgcolor=#FFB0B6{/if}><small>     {if $ex_etd[SEC].smpl_apv == '0000-00-00'}{else}{$ex_etd[SEC].smpl_apv}{/if}      </small></td>			
		<td align="left"><small>{$ex_etd[SEC].rmk} </small></td>
		<td style="background-color:{if $ex_etd[SEC].etn1 > 0}#FFFFE6{else}#F0B7B7{/if};"><small>{$ex_etd[SEC].factory} </small></td>
	</tr>
	{/if}
	{/section}
	<tr><td colspan="11" bgcolor="#FFFFE6"><b> Grand Total Q'ty: {$ex_etd.0.tal_qty|number_format} (pcs.)</b></td></tr>
</table>
{/if}



{if $order_rec}
<table align="left" width="820" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666" id="mask_e">
	<tr align="center" bgcolor="#272727" height=3><td class="ylw10" colspan="10" ><b>Order didn't be submitted & <font color="red">Lead Time under {$alt_value.un_sub} days</font><br>
    訂單未 SUBMIT <font color="red"> ( ETD < {$alt_value.un_sub} 天)</font></b></td></tr>
	<tr bgcolor="#eeeeee" align="center">
		<td width="80">Order #</td>
		<td width="166">style #</td>
		<td width="166">cust. ref</td>
		<td width="30">Q'ty</td>
		<td width="60">ETP</td>			
		<td width="60">ETD</td>
		<td width="166">creator</td>
		<td width=220>Order status</td>
		<td width="20"><small>FTY</small></td>
	</tr>
	{section name=SEC loop=$order_rec}
	{if $order_rec[SEC].bk}<tr><td colspan="9"></td></tr>{/if}
	<tr align="center"  bgcolor="#FFFFE6">
		<td nowrap><a href='index2.php?PHP_action=order_view&PHP_id={$order_rec[SEC].id}&cgiget={$cgi_get}&cgino=&cgi_1=&cgi_2=&cgi_3=&cgi_4=&cgi_5=&cgi_6=&cgi_7='><span class='F3'><small>{$order_rec[SEC].order_num}</small></span></a></td>
		<td width="166" align="left"><small>{$order_rec[SEC].style_num}</small></td>
		<td width="166" align="left"><small>{$order_rec[SEC].ref}</small></td>
		<td align=right><small>{$order_rec[SEC].qty|number_format}</small></td>
		<td nowrap {if $today > $order_rec[SEC].etp}class=B_blue10 bgcolor=#FFB0B6{/if}><small>{$order_rec[SEC].etp}</small></td>			
		<td nowrap {if $today > $order_rec[SEC].etd}class=B_blue10 bgcolor=#FFB0B6{/if}><b>{$order_rec[SEC].etd}</b></td>
		<td align="left"><small>{$order_rec[SEC].creator}</small></td>
		<td align="left" ><b><small>{$order_rec[SEC].rmk}</small></b></td>
		<td><small>{$order_rec[SEC].factory}</small></td>
	</tr>
	{/section}
</table>
{/if}



{if $ie_rec}
<table align="left" width="820" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666" id="mask_f">
	<tr align="center" bgcolor="#272727" height="33"><td class="ylw10" colspan="10" ><b>Order without IE ( ETD < {$alt_value.un_sub} days )</b></td></tr>
	<tr bgcolor="#eeeeee" align="center">
		<td width="80">Order #</td>
		<td width="166">style #</td>
		<td width="166">cust. ref</td>
		<td width="30">Q'ty</td>
		<td width="60">ETP</td>			
		<td width="60">ETD</td>
		<td width="166">creator</td>
		<td width=220>Order status</td>
		<td width="20"><small>FTY</small></td>
	</tr>
	{section name=SEC loop=$ie_rec}
	{if $ie_rec[SEC].bk}<tr><td colspan="9"></td></tr>{/if}
	<tr align="center"  bgcolor="#FFFFE6">
		<td nowrap><a href='index2.php?PHP_action=order_view&PHP_id={$ie_rec[SEC].id}&cgiget={$cgi_get}&cgino=&cgi_1=&cgi_2=&cgi_3=&cgi_4=&cgi_5=&cgi_6=&cgi_7='><span class='F3'><small>{$ie_rec[SEC].order_num}</small></span></a></td>
		<td width="166" align="left"><small>{$ie_rec[SEC].style_num}</small></td>
		<td width="166" align="left"><small>{$ie_rec[SEC].ref}</small></td>
		<td align=right><small>{$ie_rec[SEC].qty|number_format}</small></td>
		<td nowrap {if $today > $ie_rec[SEC].etp}class=B_blue10 bgcolor=#FFB0B6{/if}><small>{$ie_rec[SEC].etp}</small></td>			
		<td nowrap {if $today > $ie_rec[SEC].etd}class=B_blue10 bgcolor=#FFB0B6{/if}><b>{$ie_rec[SEC].etd}</b></td>
		<td align="left"><small>{$ie_rec[SEC].creator}</small></td>
		<td align="left"><b><small>{$ie_rec[SEC].rmk}</small></b></td>
		<td><small>{$ie_rec[SEC].factory}</small></td>
	</tr>
	{/section}
    </table>
    {/if}
    
    
    {if $schedule}
    <table align="left" width="820" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666" id="mask_g">
	<tr align="center" bgcolor="#272727" height="33"><td class="ylw10" colspan="10" ><b>Order didn't be arranged for Sewing line &  <font color="red">Lead Time under {$alt_value.un_schld} days</font><br>
    {literal}訂單未排程(CFM)<font color="red"> ( ETD <{/literal} {$alt_value.un_schld}{literal} 天)</font>{/literal}</b></td></tr>
	<tr align="center" bgcolor="#eeeeee">
		<td width="80">Order #</td>
		<td width="166">style #</td>
		<td width="166">cust. ref</td>
		<td width="30">Q'ty</td>			
		<td width="60">ETP</td>			
		<td width="60">ETD</td>
		<td width="80">FAB. ETD</td>
		<td width="80">ACC. ETD</td>
		<td width=140>Remark</td>
		<td width="20"><small>FTY</small></td>
	</tr>
	{section name=SEC loop=$schedule}
	{if $schedule[SEC].bk}<tr><td colspan="9"></td></tr>{/if}
	<tr align="center"  bgcolor="#FFFFE6">
		<td nowrap><a href='index2.php?PHP_action=schedule_view&PHP_id={$schedule[SEC].id}&cgiget={$cgi_get}&cgino=&cgi_1=&cgi_2=&cgi_3=&cgi_4=&cgi_5=&cgi_6=&cgi_7='><span class='F3'><small>{$schedule[SEC].order_num}</small></span></a></td>
		<td width="166" align="left"><small>{$schedule[SEC].style_num}</small></td>
		<td align="left"><small>{$schedule[SEC].ref}</small></td>
		<td align=right><small>{$schedule[SEC].qty|number_format}</small></td>			
		<td nowrap {if $today > $schedule[SEC].etp}class=B_blue10 bgcolor=#FFB0B6{/if}><small>{$schedule[SEC].etp}</small></td>			
		<td nowrap {if $today > $schedule[SEC].etd}class=B_blue10 bgcolor=#FFB0B6{/if}><b>{$schedule[SEC].etd}</b></td>
		<td {if $schedule[SEC].mat_etd == ''}bgcolor=#FFB0B6{/if}><small>{$schedule[SEC].mat_etd}</small></td>
		<td {if $schedule[SEC].m_acc_etd == ''}bgcolor=#FFB0B6{/if}><small>{$schedule[SEC].m_acc_etd}</small></td>
		<td align="left"><small>&nbsp;</small></td>
		<td><small>{$schedule[SEC].factory}</small></td>
	</tr>
	{/section}
    </table>
    {/if}
    
    
    {if $CFM_SCHDL}
    <table align="left" width="820" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666" id="mask_h">
	<tr align="center" bgcolor="#272727" height="33"><td class="ylw10" colspan="11" ><b>Schedule didn't be confirmed<br>{literal}排程未核可(CFM){/literal} </b></td></tr>
	<tr align="center" bgcolor="#eeeeee">
		<td width="80">Order #</td>
		<td width="166">style #</td>
		<td width="166">Customer ref.</td>
		<td width="30">Q'ty</td>			
		<td width="60">ETP</td>			
		<td width="60">ETD</td>
		<td width="60"><small>Fab. ETD</small></td>
		<td width="60"><small>Acc. ETD</small></td>
		<td width="80">ETS</td>
		<td width="80">ETF</td>
		
		<td width="20"><small>FTY</small></td>
	</tr>
	{section name=SEC loop=$CFM_SCHDL}
	{if $CFM_SCHDL[SEC].bk}<tr><td colspan="11"></td></tr>{/if}
	<tr align="center"  bgcolor="#FFFFE6">
		<td nowrap><a href='index2.php?PHP_action=cfm_schedule_view&PHP_id={$CFM_SCHDL[SEC].id}&cgiget={$cgi_get}&cgino=&cgi_1=&cgi_2=&cgi_3=&cgi_4=&cgi_5=&cgi_6=&cgi_7='><span class='F3'><small>{$CFM_SCHDL[SEC].order_num}</small></span></a></td>
		<td width="166" align="left"><small>{$CFM_SCHDL[SEC].style_num}</small></td>
		<td width="166" align="left"><small>{$CFM_SCHDL[SEC].ref}</small></td>
		<td align=right><small>{$CFM_SCHDL[SEC].qty|number_format}</small></td>			
		<td nowrap {if $today > $CFM_SCHDL[SEC].etp}class=B_blue10 bgcolor=#FFB0B6{/if}><small>{$CFM_SCHDL[SEC].etp}</small></td>			
		<td nowrap {if $today > $CFM_SCHDL[SEC].etd}class=B_blue10 bgcolor=#FFB0B6{elseif $CFM_SCHDL[SEC].etf > $CFM_SCHDL[SEC].etd}class=sign{/if}><b>{$CFM_SCHDL[SEC].etd}</b></td>
		<td nowrap {if $CFM_SCHDL[SEC].mat_etd == ''}bgcolor=#FFB0B6{/if}><small>{$CFM_SCHDL[SEC].mat_etd}</small></td>
		<td nowrap {if $CFM_SCHDL[SEC].m_acc_etd == ''}bgcolor=#FFB0B6{/if}><small>{$CFM_SCHDL[SEC].m_acc_etd}</small></td>
		<td nowrap {if $today > $CFM_SCHDL[SEC].ets}class=B_blue10 bgcolor=#FFB0B6{/if}><small>{$CFM_SCHDL[SEC].ets}</small></td>
		<td nowrap {if $today > $CFM_SCHDL[SEC].etf}class=B_blue10 bgcolor=#FFB0B6{/if}><small>{$CFM_SCHDL[SEC].etf}</small></td>
		
		<td><small>{$CFM_SCHDL[SEC].factory}</small></td>
	</tr>
	{/section}
    </table>
    {/if}
    
    
    
    {if $schdl_out}
    <table align="left" width="820" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666" id="mask_i">
	<tr align="center" bgcolor="#272727" height="33"><td class="ylw10" colspan=12 ><b>Sewing didn't finihed & <font color="red">exceed shipment date</font><br>
    {literal}訂單未完成且排程延誤 <font color="red">( {/literal}{$alt_value.un_fish} {literal}天 以上 )</font>{/literal} </b></td></tr>
	<tr align="center" bgcolor="#eeeeee">
		<td width="80">Order #</td>
		<td width="166">style #</td>
		<td width="166">Customer ref.</td>
		<td width="30">Q'ty</td>	
		<td width=40>Done</td>		
		<td width="70">ETP</td>			
		<td width="70">ETD</td>
		<td width="30"><small>Delay</small></td>
		<td width="70">ETS</td>
		<td width="70">ETF</td>
		<td width=110>Status</td>
		<td width="20"><small>FTY</small></td>
	</tr>
	{section name=SEC loop=$schdl_out}		
	<tr align="center"  bgcolor="#FFFFE6">
		<td nowrap><a href='index2.php?PHP_action=schedule_view&PHP_id={$schdl_out[SEC].id}&cgiget={$cgi_get}&cgino=&cgi_1=&cgi_2=&cgi_3=&cgi_4=&cgi_5=&cgi_6=&cgi_7='><span class='F3'><small>{$schdl_out[SEC].order_num}</small></span></a></td>
		<td width="166" align="left"><small>{$schdl_out[SEC].style_num}</small></td>
		<td width="166" align="left"><small>{$schdl_out[SEC].ref}</small></td>
		<td align=right><small>{$schdl_out[SEC].qty|number_format}</small></td>			
		<td align=right><small>{$schdl_out[SEC].qty_done|number_format}</small></td>			
		<td nowrap><small>{$schdl_out[SEC].etp}</small></td>			
		<td nowrap {if $today > $schdl_out[SEC].etd}class=B_blue10 bgcolor=#FFB0B6{/if}><b>{$schdl_out[SEC].etd}</b></td>
		<td class="ssign"align="center"><b>{$schdl_out[SEC].ex_date}</b></td>
		<td nowrap><small>{$schdl_out[SEC].ets}</small></td>
		<td nowrap><small><i><b>{$schdl_out[SEC].etf}</b></i></small></td>
		<td align="left"><a href="javascript:ord_out('{$schdl_out[SEC].order_num}')" value='ord_out' style='cursor:pointer'><small>{$schdl_out[SEC].rmk}</small></a></td>
		<td><small>{$schdl_out[SEC].factory}</small></td>
	</tr>
	{/section}
    </table>
    {/if}
    
    
    {if $mater}
    <table align="left" width="820" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666" id="mask_j">
	<tr align="center" bgcolor="#272727" height="33"><td class="ylw10" colspan="10" ><b>Order w/o material input & <br><font color="red">shipment date under {$alt_value.un_eta} days</font><br>
    訂單未輸入物料預計出口日 - <font color="red">( ETD < {$alt_value.un_eta} 天)</font> </b></td></tr>
	<tr align="center" bgcolor="#eeeeee">
		<td width="80">Order #</td>
		<td width="166">style #</td>
		<td width="166">Customer ref.</td>
		<td width="30">Q'ty</td>			
		<td width="60">ETP</td>			
		<td width="60">ETD</td>
		<td width="80">FAB. ETD</td>
		<td width="80">ACC. ETD</td>
		<td width=150>Remark</td>
		<td width="20"><small>FTY</small></td>
	</tr>
	{section name=SEC loop=$mater}
	{if $mater[SEC].bk}<tr><td colspan="9"></td></tr>{/if}
	<tr align="center"  bgcolor="#FFFFE6">
		<td nowrap ><a href='index2.php?PHP_action=mat_schedule_view&PHP_id={$mater[SEC].id}&cgiget={$cgi_get}&cgino=&cgi_1=&cgi_2=&cgi_3=&cgi_4=&cgi_5=&cgi_6=&cgi_7='><span class='F3'><small>{$mater[SEC].order_num}</small></span></a></td>
		<td width="166" align="left"><small>{$mater[SEC].style_num}</small></td>
		<td width="166" align="left"><small>{$mater[SEC].ref}</small></td>
		<td align=right><small>{$mater[SEC].qty|number_format}</small></td>			
		<td nowrap {if $today > $mater[SEC].etp}class=B_blue10 bgcolor=#FFB0B6{/if}><small>{$mater[SEC].etp}</small></td>			
		<td nowrap {if $today > $mater[SEC].etd}class=B_blue10 bgcolor=#FFB0B6{/if}><b>{$mater[SEC].etd}</b></td>
		<td nowrap {if $mater[SEC].mat_etd == ''}bgcolor=#FFB0B6{/if}><small>{$mater[SEC].mat_etd}</small></td>
		<td nowrap {if $mater[SEC].m_acc_etd == ''}bgcolor=#FFB0B6{/if}><small>{$mater[SEC].m_acc_etd}</small></td>
		<td width="166" align="left"><small>&nbsp;</small></td>
		<td><small>{$mater[SEC].factory}</small></td>
	</tr>
	{/section}
    </table>
    {/if}
    
    
    
    {if $mat_rcvd}
    <table align="left" width="820" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666" id="mask_k">
	<tr align="center" bgcolor="#272727" height="33"><td class="ylw10" colspan=12 ><b>Factory didn't receive material and behind schedule<br>
    預計到料日(ETA)已超過 ( 應到而未到料) </b></td></tr>
	<tr align="center" bgcolor="#eeeeee">
		<td width="80">Order #</td>
		<td width="166">style #</td>
		<td width="166">cust. ref</td>
		<td width="30">Q'ty</td>			
		<td width="60">ETP</td>			
		<td width="60">ETD</td>
		<td width="60"><small>FAB. ETA</small></td>
		<td width="60"><small>FAB. RCVD</small></td>
		<td width="60"><small>ACC. ETA</small></td>
		<td width="60"><small>ACC. RCVD</small></td>	
		<td width="50"><small>Order status</small></td>		
		<td width="20"><small>FTY</small></td>
	</tr>
	{section name=SEC loop=$mat_rcvd}
	{if $mat_rcvd[SEC].bk}<tr><td colspan=12></td></tr>{/if}
	<tr align="center"  bgcolor="#FFFFE6">
		<td nowrap><a href='index2.php?PHP_action=mat_schedule_view&PHP_id={$mat_rcvd[SEC].id}&cgiget={$cgi_get}&cgino=&cgi_1=&cgi_2=&cgi_3=&cgi_4=&cgi_5=&cgi_6=&cgi_7='><span class='F3'><small>{$mat_rcvd[SEC].order_num}</small></span></a></td>
		<td width="166" align="left"><small>{$mat_rcvd[SEC].style_num}</small></td>
		<td width="166" align="left"><small>{$mat_rcvd[SEC].ref}</small></td>
		<td align=right><small>{$mat_rcvd[SEC].qty|number_format}</td>			
		<td nowrap {if $today > $mat_rcvd[SEC].etp}class=B_blue10 bgcolor=#FFB0B6{/if}><small>{$mat_rcvd[SEC].etp}</small></td>			
		<td nowrap {if $today > $mat_rcvd[SEC].etd}class=B_blue10 bgcolor=#FFB0B6{/if}><b>{$mat_rcvd[SEC].etd}</b></td>
		<td nowrap {if $mat_rcvd[SEC].mat_eta == ''}bgcolor=#FFB0B6{/if}><small>{$mat_rcvd[SEC].mat_eta}</small></td>
		<td nowrap {if $mat_rcvd[SEC].mat_shp == ''}bgcolor=#FFB0B6{/if}><small>{$mat_rcvd[SEC].mat_shp}</small></td>
		<td nowrap {if $mat_rcvd[SEC].m_acc_eta == ''}bgcolor=#FFB0B6{/if}><small>{$mat_rcvd[SEC].m_acc_eta}</td>
		<td nowrap {if $mat_rcvd[SEC].m_acc_shp == ''}bgcolor=#FFB0B6{/if}><small>{$mat_rcvd[SEC].m_acc_shp}</small></td>			
		<td class=b9 align="left"><small>{$mat_rcvd[SEC].rmk}</small></td>
		<td><small>{$mat_rcvd[SEC].factory}</small></td>
	</tr>
	{/section}
    </table>
    {/if}
    
    
    
    {if $smpl_apv}
    <table align="left" width="820" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666" id="mask_l">
	<tr align="center" bgcolor="#272727" height="33"><td class="ylw10" colspan="9" ><b>Sample not approved yet, <font color="red">but Lead Time under {$alt_value.un_smpl} days</font><br>
    {literal}樣本單未核可 - <font color="red">( ETD{/literal}< {$alt_value.un_smpl} 天)</font></b></td></tr>
	<tr align="center" bgcolor="#eeeeee">
		<td width="80">Order #</td>
		<td width="166">style #</td>
		<td width="166">cust. ref</td>
		<td width="30">Q'ty</td>			
		<td width="60">ETP</td>			
		<td width="60">ETD</td>
		<td width=110>SMPL. #</td>
		<td width="20"0>Remark</td>
		<td width="20"><small>FTY</small></td>
	</tr>
	{section name=SEC loop=$smpl_apv}
	{if $smpl_apv[SEC].bk}<tr><td colspan="9"></td></tr>{/if}
	<tr align="center"  bgcolor="#FFFFE6">
		<td nowrap ><a href='index2.php?PHP_action=order_view&PHP_id={$smpl_apv[SEC].id}&cgiget={$cgi_get}&cgino=&cgi_1=&cgi_2=&cgi_3=&cgi_4=&cgi_5=&cgi_6=&cgi_7='><span class='F3'><small>{$smpl_apv[SEC].order_num}</small></span></a></td>
		<td width="166" align="left"><small>{$smpl_apv[SEC].style_num}</small></td>
		<td width="166" align="left"><small>{$smpl_apv[SEC].ref}</small></td>
		<td align=right><small>{$smpl_apv[SEC].qty|number_format}</small></td>			
		<td nowrap {if $today > $smpl_apv[SEC].etp}class=B_blue10 bgcolor=#FFB0B6{/if} nowrap><small>{$smpl_apv[SEC].etp}</small></td>			
		<td nowrap {if $today > $smpl_apv[SEC].etd}class=B_blue10 bgcolor=#FFB0B6{/if} nowrap><b>{$smpl_apv[SEC].etd}</b></td>
		<td><a href="javascript:smpl_out('{$smpl_apv[SEC].smpl_ord}')" value='ord_out' style='cursor:pointer'><small>{$smpl_apv[SEC].smpl_ord}&nbsp;</small></a></td>
		<td width="166" align="left"><small>&nbsp;</small></td>
		<td><small>{$smpl_apv[SEC].factory}</small></td>
	</tr>
	{/section}
    </table>
    {/if}
    
    
    
    {if $ord_pttn}
    <table align="left" width="820" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666" id="mask_m">
	<tr align="center" bgcolor="#272727" height="33"><td class="ylw10" colspan="11" ><b>Paper pattern didn't submitted to factory after sample been approved<br>
    {literal}已上傳大貨版 - ( 樣本核可後{/literal}{$alt_value.no_pttn}天 )</b></td></tr>
	<tr align="center" bgcolor="#eeeeee">
		<td width="80">Order #</td>
		<td width="166">style #</td>
		<td width="166">cust. ref</td>
		<td width="30">Q'ty</td>			
		<td width="60">ETP</td>			
		<td width="60">ETD</td>
		<td width=90>SMPL APV</td>
		<td width=40>Late..</td>
		<td width="80">SMPL. #</td>
		<td width="166">Remark</td>
		<td width="20"><small>FTY</small></td>
	</tr>
	{section name=SEC loop=$ord_pttn}
	{if $ord_pttn[SEC].bk}<tr><td colspan="11"></td></tr>{/if}
	<tr align="center"  bgcolor="#FFFFE6">
		<td nowrap><a href='ie.php?PHP_action=ie_record_view&PHP_id={$ord_pttn[SEC].id}&cgiget={$cgi_get}&cgino=&cgi_1=&cgi_2=&cgi_3=&cgi_4=&cgi_5=&cgi_6=&cgi_7='><span class='F3'><small>{$ord_pttn[SEC].order_num}</small></span></a></td>
		<td width="166" align="left"><small>{$ord_pttn[SEC].style_num}</small></td>
		<td width="166" align="left"><small>{$ord_pttn[SEC].ref}</small></td>
		<td align=right><small>{$ord_pttn[SEC].qty|number_format}</small></td>			
		<td  nowrap {if $today > $ord_pttn[SEC].etp}class=B_blue10 bgcolor=#FFB0B6{/if} nowrap><small>{$ord_pttn[SEC].etp}</small></td>			
		<td  nowrap {if $today > $ord_pttn[SEC].etd}class=B_blue10 bgcolor=#FFB0B6{/if} nowrap><b>{$ord_pttn[SEC].etd}</b></td>
		<td><small>{if $ord_pttn[SEC].smpl_apv == '0000-00-00'}&nbsp;{else}{$ord_pttn[SEC].smpl_apv}{/if}&nbsp;</small></td>
		<td align=right><b>{$ord_pttn[SEC].delay}</b></td>
		<td nowrap align="left"><a href="javascript:smpl_out('{$ord_pttn[SEC].smpl_ord}')" value='ord_out' style='cursor:pointer'><small>{$ord_pttn[SEC].smpl_ord}&nbsp;</small></a></td>
		<td align="left"><small>&nbsp;</small></td>
		<td><small>{$ord_pttn[SEC].factory}</small></td>
	</tr>
	{/section}
    </table>
    {/if}

    {if $smpl_apv_undo}
    <table align="left" width="820" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666" id="mask_n">
	<tr align="center" bgcolor="#272727" height="33"><td class="ylw10" colspan="11" ><b>Sample didn't be approved after sample submitted for approval<br>
    {literal}大貨樣本單未核可{/literal}(樣本完成後10天 )</b></td></tr>
	<tr align="center" bgcolor="#eeeeee">
		<td width="80">Sample #</td>
		<td width="166">style</td>
		<td width="166">style #</td>
		<td width="30">Q'ty</td>			
		<td width="166">ETD</td>
		<td width="80">CLOSE</td>
		<td width=40>Late..</td>
		<td width="190">Remark</td>
		<td width="20"><small>FTY</small></td>
	</tr>
	{section name=SEC loop=$smpl_apv_undo}		
	<tr align="center"  bgcolor="#FFFFE6">
		<td nowrap><a href="javascript:smpl_out2('{$smpl_apv_undo[SEC].num}')"><span class='F3'><small>{$smpl_apv_undo[SEC].num}</small></span></a></td>
		<td width="166" align="left"><small>{$smpl_apv_undo[SEC].style}</small></td>
		<td width="166" align="left"><small>{$smpl_apv_undo[SEC].ref}</small></td>
		<td align=right><small>{$smpl_apv_undo[SEC].qty|number_format}</small></td>			
		<td  nowrap>{$smpl_apv_undo[SEC].etd}</td>
		<td><b>{$smpl_apv_undo[SEC].last_update}</b></td>
		<td align=right><b>{$smpl_apv_undo[SEC].lead}</b></td>
		<td align="left"><small>&nbsp;</small></td>
		<td><small>{$smpl_apv_undo[SEC].factory}</small></td>
	</tr>
	{/section}
    </table>
    {/if}
    
    
    {if $none_wiws}
    <table align="left" width="820" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666" id="mask_o">
	<tr align="center" bgcolor="#272727" height="33"><td class="ylw10" colspan="11" ><b>WI/WS didn't submitted after spl apporved date<br>
    {literal}大貨訂單製造令及製造說明未完成{/literal}(樣本核可後2天 )</b></td></tr>
	<tr align="center" bgcolor="#eeeeee">
		<td width="80">Order #</td>
		<td width="166">style #</td>
		<td width="166">cust. ref</td>
		<td width="30">Q'ty</td>									
		<td width="60">ETD</td>
		<td width="166">SMPL APV</td>
		<td width=40>Late..</td>
		<td width="70"><small>WI submit</small></td>
		<td width="80"><small>WS submit</small></td>
		<td width="20"><small>FTY</small></td>
	</tr>
	{section name=SEC loop=$none_wiws}		
	<tr align="center"  bgcolor="#FFFFE6">
		<td nowrap><a href='index2.php?PHP_action=order_view&PHP_id={$none_wiws[SEC].id}&cgiget={$cgi_get}&cgino=&cgi_1=&cgi_2=&cgi_3=&cgi_4=&cgi_5=&cgi_6=&cgi_7='><span class='F3'><small>{$none_wiws[SEC].order_num}</small></span></a></td>
		<td width="166" align="left"><small>{$none_wiws[SEC].style_num}</small></td>
		<td width="166" align="left"><small>{$none_wiws[SEC].ref}</small></td>
		<td align=right><small>{$none_wiws[SEC].qty|number_format}</small></td>			
		<td  nowrap><b>{$none_wiws[SEC].etd}</b></td>
		<td><small>{$none_wiws[SEC].smpl_apv}</small></td>
		<td align=right><b>{$none_wiws[SEC].lead}</b></td>
		<td><small>{if $none_wiws[SEC].cfm_date <> '0000-00-00'}{$none_wiws[SEC].cfm_date}{/if}</small></td>
		<td><small>{if $none_wiws[SEC].ti_cfm <> '0000-00-00'}{$none_wiws[SEC].ti_cfm}{/if}</small></td>
		<td><small>{$none_wiws[SEC].factory}</small></td>
	</tr>
	{/section}
    </table>
    {/if}



</body>
</html>