<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5" />
<title>ORDER</title>
<link rel=stylesheet type="text/css" href="./bom.css" />
{literal}
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/jquery.blockUI.js"></script>
<SCRIPT language=JavaScript>

(function($){
    $(document).ready(function(){

        // 重新計算數量
        choise_cust_user = function(){
        
            // $.blockUI({ message: ' Loding ...'});
            //alert($("#PHP_user :selected").text());
            var user = $("#PHP_user :selected").val();
            var cust = $("#PHP_cust :selected").val();
            url='?PHP_action=ord_prd_tal_main&PHP_target=&PHP_page=ord_prd_tal_main.html&PHP_user='+user+'&PHP_cust='+cust;
            window.open(url,'mainFrame');

        }

	});
})(jQuery);
</SCRIPT>
{/literal}

<body style="overflow-x: hidden">
<center>	
<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <form method=POST name=month_print action=wk_report.php>
        <td width="100%">
            <table border="0" cellpadding="3" cellspacing="0" bgcolor="#666666" width="100%">
                <tr align="center" bgcolor="#eeeeee">
                    <td align="center">
                        Cust. By：{$cust_select}
                    </td>
                    <td align="center">
                        Order Creator By：{$user_select}
                    </td>
                    <td width="50%" bgcolor="#FFFFFF">
                    </td>
                    <td align="center">
                    {$month_select}
                    <input type=submit value="MONTH PRINT" class=select_e style="cursor:pointer; width=40%">
                    <input type="hidden" name="PHP_action" value="ord_prd_print">
                    </td>
                    </form>
<!--		    
    	<a href="{$PHP_SELF}?PHP_action=ord_prd_tal_excel" style="cursor:pointer">	
			<img src="./images/excel_icon.gif" border=0 alt="windows [Excel]"></a>
-->		
                </tr>
            </table>
        </td>
    </tr>
	<tr align=center bgcolor=#272727 height=30 ><td class=ylw10 ><b>未完工訂單總表 Production Order Check-List {if $pre_tal_type} -- by {$pre_tal_type}{/if}</b></td></tr>
    <tr>
        <td align="left">
            <table border="0" cellpadding="3" cellspacing="1" bgcolor="#666666" >
                <tr align="center" bgcolor="#eeeeee">
                    <td width="80" rowspan="2"><b>Order #</b></td>
                    <td width="17" rowspan="2"><small><a href="?PHP_action=ord_prd_tal_main&PHP_target=style" target="mainFrame">sty</a></small></td>
                    <td width="40" rowspan="2"><b>Q'ty</b><br /><small>(PCs)</small></td>
                    <td width="60" rowspan="2"><b>ETD</b></td>
                    <td width="17" rowspan="2"><small>fty</small></td>
                    <td width="90" rowspan="2" style="border-right:2px solid #666666;"><b>status</b></td>
                    <td colspan="3" style="width:210;border-right:2px solid #666666;"><b>Fabric</b></td>
                    <td colspan="3" style="width:210;border-right:2px solid #666666;"><b>Key Accessory</b></td>
                    <td width="60" rowspan="2" ><b>SMPL<br/>APV</b></td>
                    <td width="60" rowspan="2" style="border-right:2px solid #666666;"><b>Order<br/>Pattern</b></td>
                    <td width="60" rowspan="2"><b>ETS</b></td>
                    <td width="60" rowspan="2"><b>ETF</b></td>
                    <td width="50" rowspan="2"><b><small>Out-put<br />(PCs)</small></b></td>
                    <td width="33" rowspan="2"><b><a href="?PHP_action=ord_prd_tal_main&PHP_target=leadtime" target="mainFrame">Lead<br />Time</a></b></td>
                    <td width="10" rowspan="2">&nbsp;</td>
                </tr>
                <tr align="center" bgcolor="#eeeeee">
                  <td width="65" style="width:60"><strong>PO</strong></td>
                  <td width="80" style="width:60"><strong>SHIP</strong></td>
                  <td width="65" style="border-right:2px solid #666666;"><strong>RCVD</strong></td>
                  <td width="65" style="width:60"><strong>PO</strong></td>
                  <td width="80" style="width:60"><strong>SHIP</strong></td>
                  <td width="65" style="border-right:2px solid #666666;"><strong>RCVD</strong></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</center>
</body>
</html>
