<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5" />
<title>ORDER</title>
<link rel=stylesheet type="text/css" href="./bom.css" />
{literal}
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
{/literal}
<body>
<center>
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td align="right" height=30>&nbsp;&nbsp;</td>
  </tr>
	<tr align=center bgcolor=#272727 height=30 ><td class=ylw10 ><b>訂單出貨追蹤      Production SHIPPING Check-List [ ETD &nbsp; > &nbsp; {$sday} UN-SHIPPED]</td></tr>
  <tr>
    <td align="left"><table border="0" cellpadding="3" cellspacing="1" bgcolor="#666666" >
      <tr align="center" bgcolor="#eeeeee">
        <td width="56"><b>Order #</b></td>
        <td width="17"><small>sty</small></td>
        <td width="40"><b>Q'ty</b><br /><small>(PCs)</small></td>
        <td width="60"><b>ETD</b></td>
        <td width="17"><small>fty</small></td>
        <td width="70" style="border-right:2px solid #666666;"><b>status</b></td>
        <td width="140" style="width:150"><b>Est. ship</b></td>
        <td width="220" style="width:190"><b>On Board</b></td>
        <td width="60"><b>ETS</b></td>
        <td width="60"><b>ETF</b></td>
        <td width="50"><b><small>Out-put<br />(PCs)</small></b></td>
        <td width="33"><b>Lead<br />Time</b></td>
        <td width="10">&nbsp;</td>
      </tr>
    </table>
		</td>
  </tr>
</table>
</center>
</body>
</html>
