<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>=== ...... SCM SYSTEM [ SHIPPING DOCUMENT ADD LIST ] ...... ===</title>
<link type="text/css" rel="stylesheet" href="./css/shipping.css">
<link type="text/css" rel="stylesheet" href="./js/src/css/jscal2.css" />
<link type="text/css" rel="stylesheet" href="./js/src/css/border-radius.css" />
<link type="text/css" rel="stylesheet" href="./js/src/css/steel/steel.css" />
<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript" src="./js/src/js/jscal2.js"></script>
<script type="text/javascript" src="./js/src/js/lang/en.js"></script>
{literal}
<script language="javascript">

$(document).ready(function(){

	$('.mail_msg').hover(function(){
		$(this).animate({ paddingLeft: '+=10' }, 200);
		$(this).addClass("mail_txt");
	},function(){
		$(this).animate({ paddingLeft: '-=10' }, 200);
		$(this).removeClass("mail_txt");  
	});
	
	$('.title_submit').hover(function(){
		$(this).animate({ paddingLeft: '+=10' }, 200);
		$(this).addClass("title_submit_over");
	},function(){
		$(this).animate({ paddingLeft: '-=10' }, 200);
		$(this).removeClass("title_submit_over");  
	});
	
	$('.title_submit2').hover(function(){
		$(this).animate({ fontSize: '+=5' }, 200);
		$(this).addClass("title_submit_over");
	},function(){
		$(this).animate({ fontSize: '-=5' }, 200);
		$(this).removeClass("title_submit_over");  
	});

	
	$('.list_txt , .list_input , .button_ord').hover(function(){
		$(this).addClass("list_txt_bg");
	},function(){
		$(this).removeClass("list_txt_bg");
	});
	
	$('.list_input_d').live({
        mouseenter:
           function()
           {
				$(this).addClass("list_txt_d_bg");
           },
        mouseleave:
           function()
           {
				$(this).removeClass("list_txt_d_bg");
           }
       }
    );
	
	$('.title_submit').click(function(){

		var invoice = $('#invoice').val();
		var id = $(this).attr('id');
		
		$.ajax({
		
			url: 'shipping.php?PHP_action=check_invoice_no',
			type: 'GET',
			data: {
				invoice : invoice
			},
			error: function(xhr) {
				alert('Ajax request 發生錯誤'+xhr);
			},
			success: function(response) {
			
				var sts = response.split(",");

				if ( sts[0] == 'in' ) {
					$(".msg_atc_txt").html('<b>'+invoice+'</b> REPEAT！ ~ PLEASE CHECK INVOICE NUMBER！');
					$('#msg').show();
					$("#append").hide();
					$("tr[id=invoice_ss]").hide();
					$("#check_tr").fadeIn();
				} else {
					$("#"+id).submit();
				}

			}

		});

	});
	
	$('#msg').click(function(){
		$('#msg').hide();
	});
	
	$('.button_ord').click(function(){
		$("table[id^=ORD]").hide();
		$("#ORD"+$(this).attr('ord')).show();
		$("span[id^=cust_po]").hide();
		$("#cust_po"+$(this).attr('ord')).show();
	});
	
	$('.button_ord').hover(function(){
		$(this).animate({ fontSize: '+=8' }, 280);
		$(this).addClass("button_ord_over");
	},function(){
		$(this).animate({ fontSize: '-=8' }, 280);
		$(this).removeClass("button_ord_over");  
	});
	
	$('.title_submit2').click(function(){
	
		var invoice = $('#invoice').val().toUpperCase();
		var ship_date = $('#ship_date').val();
		var consignee = $('#consignee  :selected').text();
		if( invoice == '' ){
			alert('PLEASE INPUT INVOICE NUMBER！');
			return false;
		}
		
		if( $('#ship_date').val() == '' ){
			alert('PLEASE CHOICE SHIPPING DATE！');
			return false;
		}
		
		if( $('#consignee').val() == '' ){
			alert('PLEASE CHOICE CONSIGNEE！');
			return false;
		}
		
		$.ajax({
			url: 'shipping.php?PHP_action=check_invoice_no',
			type: 'GET',
			data: {
				invoice : invoice
			},
			error: function(xhr) {
				alert('Ajax request 發生錯誤'+xhr);
			},
			success: function(response) {
				var sts = response.split(",");
				$('#msg').hide(150);
				if ( sts[0] == 'in' ) {
					$("#check_invoice").html('<b>'+invoice+'</b> REPEAT！ ~ PLEASE CHECK INVOICE NUMBER！');
				} else {
					$("#check_tr").fadeOut(300);
					$("#invoice_no").html('INVOICE NO.：'+invoice+'<input type="hidden" name="PHP_invoice" value="'+invoice+'">');
					$("#iship_date").html('Date：'+ship_date);
					$("#iconsignee").html('CONSIGNEE：'+consignee);
					$("tr[id=invoice_ss]").show();
					$("#append").hide();
				}
			}
		});
	});
	
	$('tr[sid^="in"]').dblclick(function(){
		
		var DHTM = '';

		DHTM += '<tr class="list_input_d" sid="del" >';

		// PO
		DHTM += '<td width="130">'+$("#PHP_cust_po_"+$(this).attr("inpo")+" :selected").text();
		DHTM += '<input type="hidden" name="PHP_ord[]" value="'+$(this).attr("inpo")+'">';
		DHTM += '<input type="hidden" name="PHP_cust_po[]" value="'+$("#PHP_cust_po_"+$(this).attr("inpo")+" :selected").text()+'">';
		DHTM += '</td>';
		
		// ColorWay
		DHTM += '<td width="250">'+$(this).find("td").eq(0).html();
		DHTM += '<input type="hidden" name="PHP_colorway[]" value="'+$(this).find("td").eq(0).html()+'">';
		DHTM += '<input type="hidden" name="PHP_w_id[]" value="'+$(this).find("td").eq(1).attr("w_id")+'">';
		DHTM += '<input type="hidden" id="PHP_qty" name="PHP_qty[]" value="">';
		DHTM += '</td>';
		
		// Qty
		$(this).each(function(i,elm) {
		
			cts = $(elm).find("td").length;
			
			for( var i = 0 ; i < cts ; i ++ ){
				if ( i > 0 & i < cts - 3 ) {
					DHTM += '<td did="'+$(elm).find("td").eq(i).attr("id")+'">';
					DHTM += '<input type="text" value="" size="2" onkeyup="reg(\''+$(this).attr("inpo")+'\');" >';
					DHTM += '</td>';
				}
			}
			
	
		});
		
		// TOTAL
		DHTM += '<td><input type="text" id="" name="PHP_ttl[]" value="" size="4" readonly="readonly"></td>';
		
		// FOB
		DHTM += '<td><input type="text" id="" name="PHP_fob[]" value="" size="4" onkeyup="reg(\''+$(this).attr("inpo")+'\');"></td>';
		
		// Amount
		DHTM += '<td><input type="text" id="" name="PHP_amount[]" value="" size="8" onkeyup="reg(\''+$(this).attr("inpo")+'\');" readonly="readonly"></td>';
		DHTM += '</tr>';

		$("#ORD"+$(this).attr("inpo")).append(DHTM);
		
		$("#append").hide();
		
	});

	$('tr[sid^="del"]').live('dblclick',function(e) { 
		if (confirm('ARE YOU SURE TO DELETE IT ?')) {
			$(this).fadeOut(200, function () {  
				$(this).remove();  
				reg();
			});
		}
	});
	
	var judgment = Number(1);
	reg = function(ord){
		// 尺寸數量
		var ct = 0;
		// 累加數量
		var pm = Number(0);
		
		// 回覆原始數量
		$('tr[sid^="in"]').each(function(im,elm) {
		
			//if( $(elm).attr("inpo") == ord ){

				cts = $(elm).find("td").length;
				
				for( var i = 0 ; i < cts ; i ++ ){

					if( i > 0 & i < cts - 3 ){

						$(elm).find("td").eq(i).html($(elm).find("td").eq(i).attr("uqty"));
					}
					
				}
				
			//}
			
		});
		
		judgment = Number(0);
		
		$('tr[sid^="del"]').each(function(i2, elm2) {
		
			pm = Number(0);
			ct = $(elm2).find("td").length;
			qstr = "";

			for( var m = 0 ; m < ct ; m ++ ){

				if( m > 1 & m < ct - 3 ){
					// 抓取目前的數量
					iqty = $("#"+$(elm2).find("td").eq(m).attr("did")).text();

					// 抓取輸入的數量
					cqty = $(elm2).find("td").eq(m).find("input").val().replace(/[ ]/g,"");
					$(elm2).find("td").eq(m).find("input").val( cqty );

					// 寫入
					mqty = iqty-cqty;
					if( mqty >= 0 ) {
						$("#"+$(elm2).find("td").eq(m).attr("did")).html('<font color="black">'+mqty+'<font>');
					} else {
						$("#"+$(elm2).find("td").eq(m).attr("did")).html('<font color="red">'+mqty+'<font>');
					}
					
					// 加總
					pm += Number($(elm2).find("td").eq(m).find("input").val());
					
					// 組字串
					qstr += (( m > 2 ) ? ',' : '' ) + cqty ;
				}
				
			}

			$(elm2).find("td").eq(m-3).find("input").val( pm );
			ttl = Number($(elm2).find("td").eq(m-2).find("input").val());
			$(elm2).find("td").eq(m-1).find("input").val( Math.round(pm*ttl*100)/100 );
			$(elm2).find("td").eq(1).find("input[id='PHP_qty']").val(qstr);

			// 檢查輸入是否完整
			if ( $(elm2).find("td").eq(m-1).find("input").val() == 0 ) { 
				judgment ++ ;
			}
			
			if ( $(elm2).find("td").eq(m-1).find("input").val() == 'NaN' ) { 
				judgment ++ ;
			}	
			
			if ( $(elm2).find("td").eq(m-1).find("input").val() == '' ) { 
				judgment ++ ;
			}

		});
		
		// 檢查輸入是否完整
		if ( judgment > 0 ) 
			$("#append").hide();
		else 
			$("#append").show();

	};

    function show(){
		$.ajax({
			url: 'shipping.php?PHP_action=chk_ready',
			type: 'GET',
			data: {
				invoice : ''
			},
			error: function(xhr) {
				alert('Ajax request 發生錯誤'+xhr);
			},
			success: function(response) {
				if ( response == 'ok' ) {
					$("#chk_ready").html(' <b style="color:green">online </b>');
				} else {
                    $("#chk_ready").html(' <b style="color:red">offline</b>');
				}
			}
		});
    }
    setInterval(show,60000);// 
    
});

</script>
{/literal}
</head>
<body>
{if $max_notify > 0 }
<table width="100%" border="0" cellpadding="3" cellspacing="1">
	<a href="notify.php?PHP_action=notify">
	<tr height="30">
		<td align="center" class="mail_msg" bgcolor="#EEEEEE">
			<span class="sign" align="center"><b> You have {$max_notify} message un-read</b></span>
		</td>
	</tr>
	</a>
</table>
<br>
{/if}	

<table class="table_bady" border="0" cellspacing="0" cellpadding="0" cols="1">
	{if $msg_YES}
	<tr id="msg">
		<td>
			<table border="0" cellspacing="3" cellpadding="3" width="100%" align="center">
				<tr bgcolor="#ffffff">
					<td class="msg_atc_pic"><img src="images/alert.gif" border="0"></td>
					<td width="1"></td>
					<td class="msg_atc_txt">{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
				</tr>
			</table>
		</td>
	</tr>
	{/if}
	<tr>
		<td class="line_t"></td>
	</tr>
	<tr>
		<td class="title_main">[ SHIPPING DOCUMENT APPEND ]<span id="chk_ready"></span></td>
	</tr>
	<tr>
		<td class="line_spc"></td>
	</tr>
	
	<form method="POST" id="uci" name="ord_size_{$ord[ORD].id}"> 
	<tr id="check_tr">
		<td>
			<div class="check_title"># CHECK INVOICE NUMBER：<span class="check_fb" id="check_invoice">...</span></div>
			<div class="check_invoice_no">
				INVOICE NO.：<input class="check_invoice_input" type="text" id="invoice" value="{$invoice}" size="20" style="text-transform:uppercase"> <span class="title_submit2">INQUIRY</span>
			</div>
			<div class="check_invoice_no">DATE：<input id="ship_date" type=text name="PHP_ship_date" size=10 class=select value="{$ship_date}" readonly="readonly"></div>
			{literal}
			<script type="text/javascript">//<![CDATA[
			  Calendar.setup({
				inputField : "ship_date",
				trigger    : "ship_date",
				onSelect   : function() { this.hide() },
				dateFormat : "%Y-%m-%d"
			  });
			//]]></script>
			{/literal}				
			<div class="check_invoice_no">CONSIGNEE：{$consignee_select}</div>
		</td>
	</tr>
	
	<tr id="invoice_ss" style="display:none">
		<td>
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<td id="invoice_no" class="invoice_no"></td>
					<td id="iship_date" class="ship_date"></td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr id="invoice_ss" style="display:none">
		<td id="iconsignee" class="consignee"></td>
	</tr>
	
	<tr id="invoice_ss" style="display:none">
		<td>
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr>
					{section name=ORD loop=$ord}
					<td  class="button_ord" ord="{$ord[ORD].num}"><B>{$ord[ORD].num}</B></td>
					{/section}
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="cust_po">
		{section name=ORD loop=$ord}
		<span id="cust_po{$ord[ORD].num}" style="display:none">BUYER PO#：{$ord[ORD].cust_po}</span>
		{/section}
		</td>
	</tr>
	
	<tr id="invoice_ss" style="display:none">
		<td>
			{section name=ORD loop=$ord}
			<table id="ORD{$ord[ORD].num}" custpo="{$ord[ORD].cust_po}" border="0" cellspacing="0" cellpadding="0" width="100%" style="display:none">
				<tr>
					<td class="line_black" colspan="20"></td>
				</tr>			
				<tr>
					<td class="ord_number" colspan="20">{$ord[ORD].num}</td>
				</tr>
				<tr>
					<td class="line_b" colspan="20">&nbsp;</td>
				</tr>
				<tr>
					<td class="line_spc" colspan="20"></td>
				</tr>
				<tr>
					<td class="ord_choice" colspan="20">BUYER PO#：{$ord[ORD].cust_po_select}</td>
				</tr>
				<tr>
					<td class="line_spc" colspan="20"></td>
				</tr>
				<tr class="list_detail">
					<td colspan="2" >COLORWAY</td>
					{section name=SECS loop=$ord[ORD].size}
					<td>{$ord[ORD].size[SECS]}</td>
					{/section}
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				{section name=CLRC loop=$ord[ORD].qty_plus}
				<tr sid="in" inpo="{$ord[ORD].num}" scolor="{$ord[ORD].qty_plus[CLRC].ship_color}" class="list_input">
					<td colspan="2">{$ord[ORD].qty_plus[CLRC].ship_color}</td>
					{section name=SEC loop=$ord[ORD].qty_plus[CLRC].sqty}
					<td id="{$ord[ORD].colorway[CLRC].w_id}_{$ord[ORD].size[SEC]}" sz="{$ord[ORD].size[SEC]}" w_id="{$ord[ORD].colorway[CLRC].w_id}" uqty="{$ord[ORD].qty_plus[CLRC].sqty[SEC]}" >{$ord[ORD].qty_plus[CLRC].sqty[SEC]}</td>
					{/section}
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				{/section}
				<tr class="list_choice_detail">
					<td width="130">P.O.NO</td>
					<td width="250">COLORWAY</td>
					{section name=SECS loop=$ord[ORD].size}
					<td>{$ord[ORD].size[SECS]}</td>
					{/section}
					<td>TOTAL<br>QTY.</td>
					<td>UNIT<br>PRICE</td>
					<td>AMOUNT</td>
				</tr>
				{section name=TD loop=$td}
				{if $td[TD].num == $ord[ORD].num}
				<tr class="list_input_d" sid="del">
					<td width="130">{$td[TD].cust_po}
						<input type="hidden" name="PHP_ord[]" value="{$td[TD].num}">
						<input type="hidden" name="PHP_cust_po[]" value="{$td[TD].cust_po}">
					</td>
					<td width="250">{$td[TD].colorway}
						<input type="hidden" name="PHP_colorway[]" value="{$td[TD].colorway}">
						<input type="hidden" name="PHP_w_id[]" value="{$td[TD].w_id}">
						<input type="hidden" id="PHP_qty" name="PHP_qty[]" value="{$td[TD].sqty}">
					</td>
					{section name=TDC loop=$td[TD].qty}
					<td did="{$td[TD].w_id}_{$ord[ORD].size[TDC]}">
					<input type="text" value="{$td[TD].qty[TDC]}" size="2" onkeyup="reg('{$td[TD].num}');" >
					</td>
					{/section}
					<td><input type="text" id="" name="PHP_ttl[]" value="{$td[TD].ttl}" size="4" readonly="readonly"></td>
					<td><input type="text" id="" name="PHP_fob[]" value="{$td[TD].fob}" size="4" onkeyup="reg('{$td[TD].num}');"></td>
					<td><input type="text" id="" name="PHP_amount[]" value="{$td[TD].amount}" size="8" onkeyup="reg('{$td[TD].num}');" readonly="readonly"></td>
				</tr>
				{/if}
				{/section}
			</table>
			{/section}
			<input type=hidden name="PHP_action" value="ord_ship_doc_append">
		</td>
	</tr>
	<tr>
		<td class="invoice_ss" style="display:none"></td>
	</tr>
	<tr id="invoice_ss" style="display:none">
		<td class="line_spc"></td>
	</tr>
	<tr id="append" style="display:none">
		<td class="title_submit" id="uci">[ APPEND SHIPPING DOCUMENT RECORDS ]</td>
	</tr>
	<tr id="invoice_ss" style="display:none">
		<td class="line_spc"></td>
	</tr>
	</form>
</table>