<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>===.........  CAPACITY SEARCH .........===</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="JavaScript">
</script>
{/literal}

</head>
<body  bgcolor="ffffff" background=" ">&nbsp;
<!-- ################################################################################# -->


{if $max_notify > 0 }		
	<table width=620 border=0 cellpadding=3 cellspacing=1>
	<tr height=30 bgcolor=#C0CECF>
		<td align="center" >
			<a href="notify.php?PHP_action=notify"> <span class=sign align=center ><b> You have {$max_notify} message un-read</b></span></a></td>
	</tr>
</table>
<br>
{/if}	

<br><form METHOD="POST" name="capacity">
<table border=1 cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#DDDDDD  align=center>

<tr><td>
<table cellspacing=1 cellpadding=1 cols=1 width=100% bgcolor=#003333 align=center>
	<tr>
		<td class="des" align=center height=28>[ SEARCH ORDER Cost analysis - BY SHIPPED ]</td>
	</tr>
</table>
</td></tr>

{if $msg_YES}
 <tr><td>
     <table border=0 cellpadding=2 cellspacing=0 width=600 align=center>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
 </td></tr>
{/if}

<tr><td>
<table border=0 cellspacing=2 cellpadding=1 width=600>
  </tr>
    <td class=snvy align=right width=150><b>Customer ID : </b><td>
		<td target=left width=150>&nbsp;{$cust_select}</td>
    <td class=snvy align=right width=150><b>ORDER : </b><td>
		<td target=left width=150>&nbsp;<input type=text name="SCH_ord" size=15 class=select value=""></td>

  </tr>
  <tr>
    <td class=snvy align=right width=150><b>SHIP Date : </b><td>
	<td align=left colspan=4>&nbsp;<b> YEAR : </b>&nbsp;{$year_1}&nbsp;&nbsp;&nbsp;&nbsp;<b>Month : </b>{$month}
	</td></tr>
  <tr>
    <td class=snvy align=right width=150><b>FACTORY : </b><td>
		<td align=left colspan=4>&nbsp;{$fty_select}</td>
	</tr>	
	 <tr>
			<td class=snvy align=left colspan=3>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type=checkbox name="SCH_status" value="10">	<b>only finished order</b>
			</td>	
	 </tr>
</table>
</td></tr>
</table>

<table border=0 cellspacing=0 cellpadding=0 width=600 align=center>
	<tr> 
	  <td align=left class=gry9 height=80>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		# select target year, or leave without selection for THIS year only !<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		# maximum layout for 3 years together !<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		
	  </td>
	</tr>
</table>
<table border=0 cellspacing=0 cellpadding=0 width=600 align=center>
	<tr> 
	<tr> 
	  <td align=center width=50%>
	    <input type=hidden name='PHP_action' value="ord_cost_list">
		<input type=submit value=" SEARCH / LIST ORDER RECORDS " class=select_e style="cursor:pointer; width=99%">
	  </td>	
	</tr>
</table>


</form>
<!--------- footer ---------->
{include file="footer.html"}