<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM System [ BOM for Purchase & Receive ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/col.js"></script>

<script type="text/javascript"
        src="./js/build/yahoo/yahoo-min.js"></script>
<script type="text/javascript"
        src="./js/build/connection/connection-min.js"></script>
<script language="javascript" src="./js/open_detial.js"></script>

<script language="VBScript"> 
dim hkey_root,hkey_path,hkey_key 
hkey_root="HKEY_CURRENT_USER" 
hkey_path="\Software\Microsoft\Internet Explorer\PageSetup" 

function pagesetup_default() 
on error resume next 
Set RegWsh = CreateObject("WScript.Shell") 
hkey_key="\header" 
RegWsh.RegWrite hkey_root+hkey_path+hkey_key,"&w&b" 
hkey_key="\footer" 
RegWsh.RegWrite hkey_root+hkey_path+hkey_key,"&d" 
hkey_key="\portrait" 
RegWsh.RegWrite hkey_root+hkey_path+hkey_key,"false"
end function 
</script> 

<script language="javascript">
function printpreview(){
pagesetup_default();
wb.execwb(7,1);
}

</script>



</head>

<body>
<OBJECT id=factory 
	classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2" height=0 id=wb name=wb width=0></OBJECT>
<style media="print">.Noprint { DISPLAY: none }</style>
{/literal}
<form method=POST name=aply_wi>
<br>
<table cellspacing=1 cellpadding=4 cols=2 width=750 bgcolor=#2E5E73>
	<tr>
		<td class="des" align=center height=28 width=150 > <b>Order/BOM : </b> <span class=ylw10><b>{$wi.wi_num}</span> </b> </td>

		<td class="des" align=center height=28 >[ <span class=ylw10><b>Batch Cost</span> </b> ]</td>

</tr>
</table>
<table border=1 cellpadding=4 cellspacing=0 cols=1 width=750 id='tbl_msg' {if $msg_YES} style="display : block" {else}style="display : none"{/if}>
	<tr bgcolor=#ffffff> 
		<td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
		<td class=bgdy><div id='msg1'>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</div></td>
	</tr>
</table>
<table border=0 cellspacing=1 cellpadding=1 width=740 bgcolor=#FFFFFF>
   <tr>
    <td colspan=5 class=grn10 align=left><b>&nbsp;&nbsp;{if $order.last_updator}Last update : {$order.last_updator}<small> [ {$order.last_update} ]</small>{/if}</b></td>
    <td colspan=2 class=frnt align=right><b>currency : US$&nbsp;&nbsp;&nbsp;</b></td>
    <td>
    	<center class=noprint>
    		<input type=button name=button_show value="Print" onclick="javascript:printpreview();"> 

    		</center>
    </td>
  </tr>
   <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
 <tr><form method=POST name=add_order >
    <td class=snvy align=right  nowrap><b>style No. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.style_num}</b></td>
    <td class=snvy align=right nowrap><b>Customer :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.cust}</b></td>
    <td class=snvy align=right width=90 nowrap><b>customer ref. :</b></td>
    <td class=bgdy align=left  width=120 bgcolor=#dddddd><b>&nbsp;<small>{$order.ref}</small></b></td>
    <td class=snvy align=right  nowrap><b>Team :</b></td>
    <td class=bgdy align=left  bgcolor=#dddddd><b>&nbsp;{$order.dept}</b></td>
 </tr>
 <tr>
    <td class=snvy align=right nowrap><b>factory :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.factory}</b></td>
    <td class=snvy align=right nowrap><b>style type :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.style}</b></td>
    <td class=snvy align=right nowrap><b>Q'ty :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.qty|number_format}&nbsp;{$order.unit}</b></td>
    <td class=snvy align=right nowrap><b>SU :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.f_su}</b></td>
  </tr>
 <tr>
    <td class=snvy align=right nowrap><b>FOB @ :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;$ {$order.uprice}</b></td>
    <td class=snvy align=right nowrap><b>Quota Cat. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.quota}</b></td>
    <td class=snvy align=right  nowrap><b>smpl ord No. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><a href="javascript:smpl_out('{$order.smpl_ord}')" value='ord_out' style='cursor:pointer'><b>&nbsp;{$order.smpl_ord}</b></a></td>
    <td class=snvy align=right nowrap><b>Size :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.size}</b></td>
  </tr>    
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
 <tr>
    <td class=snvy align=right nowrap><b>ETD :</b></td>
	<td class=b10 align=left nowrap bgcolor=#dddddd><b>&nbsp;{$order.etd}</b></td>
	<td class=snvy align=right nowrap><b>ETP. :</b></td>
	<td class=b10 align=left nowrap bgcolor=#dddddd><b>&nbsp;{$order.etp}</b></td>
	<td class=snvy align=right nowrap><b>est. Lead Time :</b></td>
	<td class=grn10 align=left nowrap bgcolor=#dddddd><b>&nbsp;{$lead_time} days</b></td>
	<td class=snvy align=right nowrap><b>calc. IE :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.ie1}</b></td> 
  </tr>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
</table>






<!-------------  BOM table ------------->
<!-------------  主料 bom ------------->

<table width=750 border=1 cellspacing=1 cellpadding=1>
   <tr><td>

{if !$dis_lots_NONE}
	<table width=750 border=1 cellspacing=0 cellpadding=1>
	<!------- 物料預先採購  Title --------- -->
	 <tr bgcolor=#D5D5BE>
	    <td colspan=9  class=b9  align=center><b>前版本己採購主料記錄</b></td>
	 </tr>	
	 <tr bgcolor=#D5D5BE>
	    <td width=90  class=b9  align=center rowspan=2><b>Fabric #</b></td>
	    <td width=110  class=b9  align=center rowspan=2><b>Name</b></td>
	  	<td width=80   class=b9  align=center rowspan=2><b>Price</b></td>
	  	<td class=b9  align=center colspan=2><b>BOM</b></td>
	  	<td class=b9  align=center colspan=2><b>Purchased</b></td>
			<td class=b9  align=center colspan=2><b>Receive</b></td>
	 </tr>
		 <tr bgcolor=#D5D5BE>
	    <td  width=80 class=b9  align=center><b>Q'TY</b></td>
	    <td  width=80 class=b9  align=center><b>Amount</b></td>
	    <td  width=80 class=b9  align=center><b>Q'TY</b></td>
	    <td  width=80 class=b9  align=center><b>Amount</b></td>
	    <td  width=80 class=b9  align=center><b>Q'TY</b></td>
	    <td  width=80 class=b9  align=center><b>Amount</b></td>


	{section name=BOM loop=$dis_lots} 
	<tr onmouseover="bgColor='#D4E0F7'" onmouseout="bgColor='#ffffff'">
		<td class=b9 align=left>&nbsp;<a href="javascript:Show_fab('{$dis_lots[BOM].lots_code}')" value='ord_out' style='cursor:pointer'>{$dis_lots[BOM].lots_code}</a></td>
		<td class=b9 align=left>&nbsp;{$dis_lots[BOM].lots_name}</td>
		<td class=b9 align=left>&nbsp;{$dis_lots[BOM].currency}${$dis_lots[BOM].prics}</td>	
		<td class=b9 align=right>&nbsp;{$dis_lots[BOM].bom_qty|number_format:"2f"}{$dis_lots[BOM].unit}</td>
		<td class=b9 align=right>&nbsp;{$dis_lots[BOM].bom_amount|number_format:"2f"}</td>	
		<td class=b9 align=right>&nbsp;{$dis_lots[BOM].po_qty|number_format:"2f"}{$dis_lots[BOM].po_unit}</td>
		<td class=b9 align=right>&nbsp;{$dis_lots[BOM].amount|number_format:"2f"}</td>	
		<td class=b9 align=right>&nbsp;{if $dis_lots[BOM].rcv_qty > 0}{$dis_lots[BOM].rcv_qty|number_format:"2f"}{$dis_lots[BOM].po_unit}{/if}</td>
		<td class=b9 align=right>&nbsp;{if $dis_lots[BOM].rcv_qty > 0}{$dis_lots[BOM].rcv_amount|number_format:"2f"}{/if}</td>	

	</tr>
	{/section}
	<tr>
		<td class=b9 align=right colspan=3 bgcolor=#D5D5BE ><b>Total &nbsp;Amount &nbsp;: &nbsp;</b></td>
	  <td class=snvy align=right colspan=2>&nbsp;{$dis_lots_bom_tal}</td>
	  <td class=snvy align=right colspan=2>&nbsp;{$dis_lots_pur_tal}</td>
	  <td class=snvy align=right colspan=2>&nbsp;{$dis_lots_rcv_tal}</td>
	</tr>	
	</table>
{/if}



{if !$dis_acc_NONE}
<br>
	<table width=750 border=1 cellspacing=0 cellpadding=1>
	<!------- 物料預先採購  Title --------- -->
	 <tr bgcolor=#D5D5BE>
	    <td colspan=9  class=b9  align=center><b>前版本己採購副料記錄</b></td>
	 </tr>	
	 <tr bgcolor=#D5D5BE>
	    <td width=90  class=b9  align=center rowspan=2><b>Accessory #</b></td>
	    <td width=110  class=b9  align=center rowspan=2><b>Name</b></td>
	  	<td width=80   class=b9  align=center rowspan=2><b>Price</b></td>
	  	<td class=b9  align=center colspan=2><b>BOM</b></td>
	  	<td class=b9  align=center colspan=2><b>Purchased</b></td>
			<td class=b9  align=center colspan=2><b>Receive</b></td>
	 </tr>
		 <tr bgcolor=#D5D5BE>
	    <td  width=80 class=b9  align=center><b>Q'TY</b></td>
	    <td  width=80 class=b9  align=center><b>Amount</b></td>
	    <td  width=80 class=b9  align=center><b>Q'TY</b></td>
	    <td  width=80 class=b9  align=center><b>Amount</b></td>
	    <td  width=80 class=b9  align=center><b>Q'TY</b></td>
	    <td  width=80 class=b9  align=center><b>Amount</b></td>


	{section name=BOM loop=$dis_acc} 
	<tr onmouseover="bgColor='#D4E0F7'" onmouseout="bgColor='#ffffff'">
		<td class=b9 align=left>&nbsp;<a href="javascript:Show_fab('{$dis_acc[BOM].acc_code}')" value='ord_out' style='cursor:pointer'>{$dis_acc[BOM].acc_code}</a></td>
		<td class=b9 align=left>&nbsp;{$dis_acc[BOM].acc_name}</td>
		<td class=b9 align=left>&nbsp;{$dis_acc[BOM].currency}${$dis_acc[BOM].prics}</td>	
		<td class=b9 align=right>&nbsp;{$dis_acc[BOM].bom_qty|number_format:"2f"}{$dis_acc[BOM].unit}</td>
		<td class=b9 align=right>&nbsp;{$dis_acc[BOM].bom_amount|number_format:"2f"}</td>	
		<td class=b9 align=right>&nbsp;{$dis_acc[BOM].po_qty|number_format:"2f"}{$dis_acc[BOM].po_unit}</td>
		<td class=b9 align=right>&nbsp;{$dis_acc[BOM].amount|number_format:"2f"}</td>	
		<td class=b9 align=right>&nbsp;{if $dis_acc[BOM].rcv_qty > 0}{$dis_acc[BOM].rcv_qty|number_format:"2f"}{$dis_acc[BOM].po_unit}{/if}</td>
		<td class=b9 align=right>&nbsp;{if $dis_acc[BOM].rcv_qty > 0}{$dis_acc[BOM].rcv_amount|number_format:"2f"}{/if}</td>	

	</tr>
	{/section}

	<tr>
		<td class=b9 align=right colspan=3 bgcolor=#D5D5BE ><b>Total &nbsp;Amount &nbsp;: &nbsp;</b></td>
	  <td class=snvy align=right colspan=2>&nbsp;{$dis_acc_bom_tal}</td>
	  <td class=snvy align=right colspan=2>&nbsp;{$dis_acc_pur_tal}</td>
	  <td class=snvy align=right colspan=2>&nbsp;{$dis_acc_rcv_tal}</td>
	</tr>	

	</table>
{/if}
<br>

	<table width=750 border=1 cellspacing=0 cellpadding=1>
	<!------- 主料 bom  Title --------- -->
	 <tr bgcolor=#D5D5BE>
	    <td width=90  class=b9  align=center rowspan=2><b>Fabirc #</b></td>
	    <td width=130 class=b9  align=center rowspan=2><b>Name</b></td>
	    <td width=80  class=b9  align=center rowspan=2><b>Price</b></td>
	  	<td class=b9  align=center colspan=2><b>BOM</b></td>
	  	<td class=b9  align=center colspan=2><b>Purchased</b></td>
			<td class=b9  align=center colspan=2><b>Receive</b></td>
	 </tr>
		 <tr bgcolor=#D5D5BE>
	    <td  width=80 class=b9  align=center><b>Q'TY</b></td>
	    <td  width=80 class=b9  align=center><b>Amount</b></td>
	    <td  width=80 class=b9  align=center><b>Q'TY</b></td>
	    <td  width=80 class=b9  align=center><b>Amount</b></td>
	    <td  width=80 class=b9  align=center><b>Q'TY</b></td>
	    <td  width=80 class=b9  align=center><b>Amount</b></td>
	 </tr>

	<!-------  BOM 主料記錄 --------- -->

	{section name=BOM loop=$bom_lots} 
	{if $bom_lots[BOM].ln_mk}
	 <tr bgColor='#FFD5A8'>
	{else}
	 <tr onmouseover="bgColor='#FEFFA8'" onmouseout="bgColor='#ffffff'">
	{/if}		<td class=b9 align=left nowrap>&nbsp;<a href="javascript:Show_fab('{$bom_lots[BOM].lots_code}')" value='ord_out' style='cursor:pointer'>{$bom_lots[BOM].lots_code}</a></td>
		<td class=b7 align=left><small>&nbsp;{$bom_lots[BOM].lots_name}</small></td>
		<td class=b7 align=right><small>{if $bom_lots[BOM].po.price > 0}{$bom_lots[BOM].currency}$&nbsp;{$bom_lots[BOM].po.price|number_format:"2f"}/{$bom_lots[BOM].po.unit}{/if}&nbsp;</small></td>
	  <td class=snvy align=right><small>&nbsp;{$bom_lots[BOM].total|number_format:"2f"}&nbsp;{$bom_lots[BOM].unit}</small></td>
	  <td class=snvy align=right><small>&nbsp;{if $bom_lots[BOM].po.price > 0}{$bom_lots[BOM].bom_amount|number_format:"2f"}{/if}&nbsp;</small></td>

	  <td class=snvy align=right>{if $bom_lots[BOM].po.qty > 0}<small>&nbsp;{$bom_lots[BOM].po.qty|number_format:"2f"}&nbsp;{$bom_lots[BOM].po.unit}</small>{else}&nbsp;{/if}</td>
	  <td class=snvy align=right>{if $bom_lots[BOM].po.qty > 0}<small>&nbsp;{$bom_lots[BOM].po.po_amount|number_format:"2f"}</small>{else}&nbsp;{/if}</td>

	  <td class=snvy align=right>{if $bom_lots[BOM].po.rcv_qty > 0}<small>&nbsp;{$bom_lots[BOM].po.rcv_qty|number_format:"2f"}&nbsp;{$bom_lots[BOM].po.unit}</small>{else}&nbsp;{/if}</td>
	  <td class=snvy align=right>{if $bom_lots[BOM].po.rcv_qty > 0}<small>&nbsp;{$bom_lots[BOM].po.rcv_amount|number_format:"2f"}</small>{else}&nbsp;{/if}</td>

	</tr>
	{/section}
	<tr>
		<td class=b9 align=right colspan=3 bgcolor=#D5D5BE ><b>Total &nbsp;Amount &nbsp;: &nbsp;</b></td>
	  <td class=snvy align=right colspan=2>&nbsp;{$fab_bom_tal}</td>
	  <td class=snvy align=right colspan=2>&nbsp;{$fab_pur_tal}</td>
	  <td class=snvy align=right colspan=2>&nbsp;{$fab_rcv_tal}</td>
	</tr>
<!--	</table>	-->

<!-------------  副料 ------------->
<!--	<table width=600 border=0 cellspacing=1 cellpadding=1>	-->

	<!------- 副料 bom  Title --------- -->
	 <tr bgcolor=#D5D5BE>
	    <td width=90  class=b9  align=center rowspan=2><b>Acc. #</b></td>
	    <td width=130 class=b9  align=center rowspan=2><b>Name</b></td>
	    <td width=80  class=b9  align=center rowspan=2><b>Price</b></td>
	  	<td class=b9  align=center colspan=2><b>BOM</b></td>
	  	<td class=b9  align=center colspan=2><b>Purchased</b></td>
			<td class=b9  align=center colspan=2><b>Receive</b></td>
	 </tr>
		 <tr bgcolor=#D5D5BE>
	    <td  width=80 class=b9  align=center><b>Q'TY</b></td>
	    <td  width=80 class=b9  align=center><b>Amount</b></td>
	    <td  width=80 class=b9  align=center><b>Q'TY</b></td>
	    <td  width=80 class=b9  align=center><b>Amount</b></td>
	    <td  width=80 class=b9  align=center><b>Q'TY</b></td>
	    <td  width=80 class=b9  align=center><b>Amount</b></td>
	 </tr>
	<!-------  end  Title --------- -->

	<!-------  BOM 副料記錄 --------- -->
	
	{section name=BOM loop=$bom_acc} 
	{if $bom_acc[BOM].ln_mk}
	 <tr bgColor='#FFD5A8'>
	{else}
	 <tr onmouseover="bgColor='#FEFFA8'" onmouseout="bgColor='#ffffff'">
	{/if}	
		<td class=b9 align=left nowrap>&nbsp;<a href="javascript:Show_acc('{$bom_acc[BOM].acc_code}')" value='ord_out' style='cursor:pointer'>{$bom_acc[BOM].acc_code}</a></td>
		<td class=b7 align=left><small>&nbsp;{$bom_acc[BOM].acc_name}</small></td>
		<td class=b7 align=right><small>&nbsp;{if $bom_acc[BOM].po.price > 0}{$bom_acc[BOM].currency}$&nbsp;{$bom_acc[BOM].po.price|number_format:"2f"}/{$bom_acc[BOM].po.unit}{/if}</small></td>
	  <td class=snvy align=right><small>&nbsp;{$bom_acc[BOM].total|number_format:"2f"}&nbsp;{$bom_acc[BOM].unit}</small></td>
	  <td class=snvy align=right><small>&nbsp;{if $bom_acc[BOM].po.qty > 0}{$bom_acc[BOM].bom_amount|number_format:"2f"}{/if}</small></td>

	  <td class=snvy align=right>{if $bom_acc[BOM].po.qty > 0}<small>&nbsp;{$bom_acc[BOM].po.qty|number_format:"2f"}&nbsp;{$bom_acc[BOM].po.unit}</small>{else}&nbsp;{/if}</td>
	  <td class=snvy align=right>{if $bom_acc[BOM].po.qty > 0}<small>&nbsp;{$bom_acc[BOM].po.po_amount|number_format:"2f"}</small>{else}&nbsp;{/if}</td>
	  <td class=snvy align=right>{if $bom_acc[BOM].po.rcv_qty > 0}<small>&nbsp;{$bom_acc[BOM].po.rcv_qty|number_format:"2f"}&nbsp;{$bom_acc[BOM].po.unit}</small>{else}&nbsp;{/if}</td>
	  <td class=snvy align=right>{if $bom_acc[BOM].po.rcv_qty > 0}<small>&nbsp;{$bom_acc[BOM].po.rcv_amount|number_format:"2f"}</small>{else}&nbsp;{/if}</td>
	</tr>
	{/section}
	<tr>
		<td class=b9 align=right colspan=3 bgcolor=#D5D5BE ><b>Total &nbsp;Amount &nbsp;: &nbsp;</b></td>
	  <td class=snvy align=right colspan=2>&nbsp;{$acc_bom_tal}</td>
	  <td class=snvy align=right colspan=2>&nbsp;{$acc_pur_tal}</td>
	  <td class=snvy align=right colspan=2>&nbsp;{$acc_rcv_tal}</td>
	</tr>

<!--	</table>	-->
	</table>

{if !$fty_acc_NONE || !$fty_lots_NONE}
<br>
	<table width=750 border=1 cellspacing=0 cellpadding=1>
	<!------- 主料 bom  Title --------- -->
	 <tr bgcolor=#C3D5BE>
	    <td class=b9  align=center colspan=9 height=28><b>Factory Sourcing</b></td>
	 </tr>
	 <tr bgcolor=#D5D5BE>
	    <td width=90  class=b9  align=center rowspan=2><b>Material #</b></td>
	    <td width=130 class=b9  align=center rowspan=2><b>Name</b></td>
	    <td width=80  class=b9  align=center rowspan=2><b>Price</b></td>
	  	<td class=b9  align=center colspan=2><b>BOM</b></td>
	  	<td class=b9  align=center colspan=2><b>Purchased</b></td>
			<td class=b9  align=center colspan=2><b>Receive</b></td>
	 </tr>
	 <tr bgcolor=#D5D5BE>
	    <td  width=80 class=b9  align=center><b>Q'TY</b></td>
	    <td  width=80 class=b9  align=center><b>Amount</b></td>
	    <td  width=80 class=b9  align=center><b>Q'TY</b></td>
	    <td  width=80 class=b9  align=center><b>Amount</b></td>
	    <td  width=80 class=b9  align=center><b>Q'TY</b></td>
	    <td  width=80 class=b9  align=center><b>Amount</b></td>
	 </tr>

	<!-------  BOM 主料記錄 --------- -->

	{section name=BOM loop=$fty_lots} 
	{if $fty_lots[BOM].ln_mk}
	 <tr bgColor='#FFD5A8'>
	{else}
	 <tr onmouseover="bgColor='#FEFFA8'" onmouseout="bgColor='#ffffff'">
	{/if}		<td class=b9 align=left nowrap>&nbsp;<a href="javascript:Show_fab('{$fty_lots[BOM].lots_code}')" value='ord_out' style='cursor:pointer'>{$fty_lots[BOM].lots_code}</a></td>
		<td class=b7 align=left><small>&nbsp;{$fty_lots[BOM].lots_name}</small></td>
		<td class=b7 align=right><small>{if $fty_lots[BOM].po.price > 0}{$fty_lots[BOM].currency}$&nbsp;{$fty_lots[BOM].po.price|number_format:"2f"}/{$fty_lots[BOM].po.unit}{/if}&nbsp;</small></td>
	  <td class=snvy align=right><small>&nbsp;{$fty_lots[BOM].total|number_format:"2f"}&nbsp;{$fty_lots[BOM].unit}</small></td>
	  <td class=snvy align=right><small>&nbsp;{if $fty_lots[BOM].po.price > 0}{$fty_lots[BOM].bom_amount|number_format:"2f"}{/if}&nbsp;</small></td>

	  <td class=snvy align=right>{if $fty_lots[BOM].po.qty > 0}<small>&nbsp;{$fty_lots[BOM].po.qty|number_format:"2f"}&nbsp;{$fty_lots[BOM].po.unit}</small>{else}&nbsp;{/if}</td>
	  <td class=snvy align=right>{if $fty_lots[BOM].po.qty > 0}<small>&nbsp;{$fty_lots[BOM].po.po_amount|number_format:"2f"}</small>{else}&nbsp;{/if}</td>

	  <td class=snvy align=right>{if $fty_lots[BOM].po.rcv_qty > 0}<small>&nbsp;{$fty_lots[BOM].po.rcv_qty|number_format:"2f"}&nbsp;{$fty_lots[BOM].po.unit}</small>{else}&nbsp;{/if}</td>
	  <td class=snvy align=right>{if $fty_lots[BOM].po.rcv_qty > 0}<small>&nbsp;{$fty_lots[BOM].po.rcv_amount|number_format:"2f"}</small>{else}&nbsp;{/if}</td>

	</tr>
	{/section}
	<tr>
		<td class=b9 align=right colspan=3 bgcolor=#D5D5BE ><b>Total &nbsp;Amount &nbsp;: &nbsp;</b></td>
	  <td class=snvy align=right colspan=2>&nbsp;{$fty_fab_bom_tal}</td>
	  <td class=snvy align=right colspan=2>&nbsp;{$fty_fab_pur_tal}</td>
	  <td class=snvy align=right colspan=2>&nbsp;{$fty_fab_rcv_tal}</td>
	</tr>


	<!-------  BOM 副料記錄 --------- -->
	
	{section name=BOM loop=$fty_acc} 
	{if $fty_acc[BOM].ln_mk}
	 <tr bgColor='#FFD5A8'>
	{else}
	 <tr onmouseover="bgColor='#FEFFA8'" onmouseout="bgColor='#ffffff'">
	{/if}	
		<td class=b9 align=left nowrap>&nbsp;<a href="javascript:Show_acc('{$fty_acc[BOM].acc_code}')" value='ord_out' style='cursor:pointer'>{$fty_acc[BOM].acc_code}</a></td>
		<td class=b7 align=left><small>&nbsp;{$fty_acc[BOM].acc_name}</small></td>
		<td class=b7 align=right><small>&nbsp;{if $fty_acc[BOM].po.price > 0}{$fty_acc[BOM].currency}$&nbsp;{$fty_acc[BOM].po.price|number_format:"2f"}/{$fty_acc[BOM].po.unit}{/if}</small></td>
	  <td class=snvy align=right><small>&nbsp;{$fty_acc[BOM].total|number_format:"2f"}&nbsp;{$fty_acc[BOM].unit}</small></td>
	  <td class=snvy align=right><small>&nbsp;{if $fty_acc[BOM].po.qty > 0}{$fty_acc[BOM].bom_amount|number_format:"2f"}{/if}</small></td>

	  <td class=snvy align=right>{if $fty_acc[BOM].po.qty > 0}<small>&nbsp;{$fty_acc[BOM].po.qty|number_format:"2f"}&nbsp;{$fty_acc[BOM].po.unit}</small>{else}&nbsp;{/if}</td>
	  <td class=snvy align=right>{if $fty_acc[BOM].po.qty > 0}<small>&nbsp;{$fty_acc[BOM].po.po_amount|number_format:"2f"}</small>{else}&nbsp;{/if}</td>
	  <td class=snvy align=right>{if $fty_acc[BOM].po.rcv_qty > 0}<small>&nbsp;{$fty_acc[BOM].po.rcv_qty|number_format:"2f"}&nbsp;{$fty_acc[BOM].po.unit}</small>{else}&nbsp;{/if}</td>
	  <td class=snvy align=right>{if $fty_acc[BOM].po.rcv_qty > 0}<small>&nbsp;{$fty_acc[BOM].po.rcv_amount|number_format:"2f"}</small>{else}&nbsp;{/if}</td>
	</tr>
	{/section}
	<tr>
		<td class=b9 align=right colspan=3 bgcolor=#D5D5BE ><b>Total &nbsp;Amount &nbsp;: &nbsp;</b></td>
	  <td class=snvy align=right colspan=2>&nbsp;{$fty_acc_bom_tal}</td>
	  <td class=snvy align=right colspan=2>&nbsp;{$fty_acc_pur_tal}</td>
	  <td class=snvy align=right colspan=2>&nbsp;{$fty_acc_rcv_tal}</td>
	</tr>

	</table>
	{/if}


{if !$cust_acc_NONE || !$cust_lots_NONE}
<br>
	<table width=750 border=1 cellspacing=0 cellpadding=1>
	<!------- 主料 bom  Title --------- -->
	 <tr bgcolor=#C3D5BE>
	    <td class=b9  align=center colspan=9 height=28><b>Customer Support</b></td>
	 </tr>
	 <tr bgcolor=#D5D5BE>
	    <td width=90  class=b9  align=center rowspan=2><b>Material #</b></td>
	    <td width=130 class=b9  align=center rowspan=2><b>Name</b></td>
	    <td width=80  class=b9  align=center rowspan=2><b>Price</b></td>
	  	<td class=b9  align=center colspan=2><b>BOM</b></td>
	  	<td class=b9  align=center colspan=2><b>Purchased</b></td>
			<td class=b9  align=center colspan=2><b>Receive</b></td>
	 </tr>
	 <tr bgcolor=#D5D5BE>
	    <td  width=80 class=b9  align=center><b>Q'TY</b></td>
	    <td  width=80 class=b9  align=center><b>Amount</b></td>
	    <td  width=80 class=b9  align=center><b>Q'TY</b></td>
	    <td  width=80 class=b9  align=center><b>Amount</b></td>
	    <td  width=80 class=b9  align=center><b>Q'TY</b></td>
	    <td  width=80 class=b9  align=center><b>Amount</b></td>
	 </tr>

	<!-------  BOM 主料記錄 --------- -->

	{section name=BOM loop=$cust_lots} 
	{if $cust_lots[BOM].ln_mk}
	 <tr bgColor='#FFD5A8'>
	{else}
	 <tr onmouseover="bgColor='#FEFFA8'" onmouseout="bgColor='#ffffff'">
	{/if}		<td class=b9 align=left nowrap>&nbsp;<a href="javascript:Show_fab('{$cust_lots[BOM].lots_code}')" value='ord_out' style='cursor:pointer'>{$cust_lots[BOM].lots_code}</a></td>
		<td class=b7 align=left><small>&nbsp;{$cust_lots[BOM].lots_name}</small></td>
		<td class=b7 align=right><small>{if $cust_lots[BOM].po.price > 0}{$cust_lots[BOM].currency}$&nbsp;{$cust_lots[BOM].po.price|number_format:"2f"}/{$cust_lots[BOM].po.unit}{/if}&nbsp;</small></td>
	  <td class=snvy align=right><small>&nbsp;{$cust_lots[BOM].total|number_format:"2f"}&nbsp;{$cust_lots[BOM].unit}</small></td>
	  <td class=snvy align=right><small>&nbsp;{if $cust_lots[BOM].po.price > 0}{$cust_lots[BOM].bom_amount|number_format:"2f"}{/if}&nbsp;</small></td>

	  <td class=snvy align=right>{if $cust_lots[BOM].po.qty > 0}<small>&nbsp;{$cust_lots[BOM].po.qty|number_format:"2f"}&nbsp;{$cust_lots[BOM].po.unit}</small>{else}&nbsp;{/if}</td>
	  <td class=snvy align=right>{if $cust_lots[BOM].po.qty > 0}<small>&nbsp;{$cust_lots[BOM].po.po_amount|number_format:"2f"}</small>{else}&nbsp;{/if}</td>

	  <td class=snvy align=right>{if $cust_lots[BOM].po.rcv_qty > 0}<small>&nbsp;{$cust_lots[BOM].po.rcv_qty|number_format:"2f"}&nbsp;{$cust_lots[BOM].po.unit}</small>{else}&nbsp;{/if}</td>
	  <td class=snvy align=right>{if $cust_lots[BOM].po.rcv_qty > 0}<small>&nbsp;{$cust_lots[BOM].po.rcv_amount|number_format:"2f"}</small>{else}&nbsp;{/if}</td>

	</tr>
	{/section}
	<tr>
		<td class=b9 align=right colspan=3 bgcolor=#D5D5BE ><b>Total &nbsp;Amount &nbsp;: &nbsp;</b></td>
	  <td class=snvy align=right colspan=2>&nbsp;{$cust_fab_bom_tal}</td>
	  <td class=snvy align=right colspan=2>&nbsp;{$cust_fab_pur_tal}</td>
	  <td class=snvy align=right colspan=2>&nbsp;{$cust_fab_rcv_tal}</td>
	</tr>


	<!-------  BOM 副料記錄 --------- -->
	
	{section name=BOM loop=$cust_acc} 
	{if $cust_acc[BOM].ln_mk}
	 <tr bgColor='#FFD5A8'>
	{else}
	 <tr onmouseover="bgColor='#FEFFA8'" onmouseout="bgColor='#ffffff'">
	{/if}	
		<td class=b9 align=left nowrap>&nbsp;<a href="javascript:Show_acc('{$cust_acc[BOM].acc_code}')" value='ord_out' style='cursor:pointer'>{$cust_acc[BOM].acc_code}</a></td>
		<td class=b7 align=left><small>&nbsp;{$cust_acc[BOM].acc_name}</small></td>
		<td class=b7 align=right><small>&nbsp;{if $cust_acc[BOM].po.price > 0}{$cust_acc[BOM].currency}$&nbsp;{$cust_acc[BOM].po.price|number_format:"2f"}/{$cust_acc[BOM].po.unit}{/if}</small></td>
	  <td class=snvy align=right><small>&nbsp;{$cust_acc[BOM].total|number_format:"2f"}&nbsp;{$cust_acc[BOM].unit}</small></td>
	  <td class=snvy align=right><small>&nbsp;{if $cust_acc[BOM].po.qty > 0}{$cust_acc[BOM].bom_amount|number_format:"2f"}{/if}</small></td>

	  <td class=snvy align=right>{if $cust_acc[BOM].po.qty > 0}<small>&nbsp;{$cust_acc[BOM].po.qty|number_format:"2f"}&nbsp;{$cust_acc[BOM].po.unit}</small>{else}&nbsp;{/if}</td>
	  <td class=snvy align=right>{if $cust_acc[BOM].po.qty > 0}<small>&nbsp;{$cust_acc[BOM].po.po_amount|number_format:"2f"}</small>{else}&nbsp;{/if}</td>
	  <td class=snvy align=right>{if $cust_acc[BOM].po.rcv_qty > 0}<small>&nbsp;{$cust_acc[BOM].po.rcv_qty|number_format:"2f"}&nbsp;{$cust_acc[BOM].po.unit}</small>{else}&nbsp;{/if}</td>
	  <td class=snvy align=right>{if $cust_acc[BOM].po.rcv_qty > 0}<small>&nbsp;{$cust_acc[BOM].po.rcv_amount|number_format:"2f"}</small>{else}&nbsp;{/if}</td>
	</tr>
	{/section}
	<tr>
		<td class=b9 align=right colspan=3 bgcolor=#D5D5BE ><b>Total &nbsp;Amount &nbsp;: &nbsp;</b></td>
	  <td class=snvy align=right colspan=2>&nbsp;{$cust_acc_bom_tal}</td>
	  <td class=snvy align=right colspan=2>&nbsp;{$cust_acc_pur_tal}</td>
	  <td class=snvy align=right colspan=2>&nbsp;{$cust_acc_rcv_tal}</td>
	</tr>

	</table>
	{/if}


{if !$ext_mat_NONE}
<br>
	<table width=750 border=1 cellspacing=0 cellpadding=1>
	<!------- 物料補  Title --------- -->
	 <tr bgcolor=#C3D5BE>
	    <td colspan=8  class=b9  align=center height=28><b>Extra Material</b></td>
	 </tr>	
	 <tr bgcolor=#D5D5BE>
	    <td width=100  class=b9  align=center rowspan=2><b>Material #</b></td>
	    <td width=110  class=b9  align=center rowspan=2><b>Name</b></td>
	  	<td width=80   class=b9  align=center rowspan=2><b>Price</b></td>
	  	<td class=b9  align=center colspan=2><b>Purchase</b></td>
			<td class=b9  align=center colspan=2><b>Receive</b></td>
	 </tr>
	 <tr bgcolor=#D5D5BE>
	  	<td width=80  class=b9  align=center><b>Q'TY</b></td>
			<td width=80  class=b9  align=center><b>Amount</b></td>
	  	<td width=80  class=b9  align=center><b>Q'TY</b></td>
			<td width=80  class=b9  align=center><b>Amount</b></td>

	 </tr>

	{section name=BOM loop=$ext_mat} 
	{if $ext_mat[BOM].ln_mk}
	 <tr bgColor='#FFD5A8'>
	{else}
	 <tr onmouseover="bgColor='#FEFFA8'" onmouseout="bgColor='#ffffff'">
	{/if}
		<td class=b9 align=left>&nbsp;<a href="javascript:{if $ext_mat[BOM].mat_cat == 'a'}Show_acc{else}Show_fab{/if}('{$ext_mat[BOM].mat_code}')" value='ord_out' style='cursor:pointer'>{$ext_mat[BOM].mat_code}</a></td>
		<td class=b7 align=left>&nbsp;{$ext_mat[BOM].mat_name}</td>
		<td class=b9 align=right>&nbsp;{if $ext_mat[BOM].po_qty > 0}{$ext_mat[BOM].currency}$&nbsp;{$ext_mat[BOM].prics|number_format:"2f"}{/if}</td>
	  <td class=snvy align=right>&nbsp;{if $ext_mat[BOM].po_qty > 0}{$ext_mat[BOM].po_qty|number_format:"2f"}&nbsp;{$ext_mat[BOM].unit}{/if}</td>
	  <td class=snvy align=right>&nbsp;{if $ext_mat[BOM].po_qty > 0}{$ext_mat[BOM].amount|number_format:"2f"}{/if}</td>
	  <td class=snvy align=right>&nbsp;{if $ext_mat[BOM].rcv_qty > 0}{$ext_mat[BOM].rcv_qty|number_format:"2f"}&nbsp;{$ext_mat[BOM].unit}{/if}</td>
	  <td class=snvy align=right>&nbsp;{if $ext_mat[BOM].rcv_qty > 0}{$ext_mat[BOM].rcv_amount|number_format:"2f"}{/if}</td>
	</tr>
	{/section}

	<tr>
		<td class=b9 align=right colspan=3 bgcolor=#D5D5BE ><b>Total &nbsp;Amount &nbsp;: &nbsp;</b></td>
	  <td class=snvy align=right colspan=2>&nbsp;{$ext_pur_tal}</td>
	  <td class=snvy align=right colspan=2>&nbsp;{$ext_rcv_tal}</td>
	</tr>

	</table>
{/if}


   </td></tr>
</table>




 <table width=750 border=0 cellspacing=1 cellpadding=2>    
	 <tr>
	   <td width=750 class=gry7 align=right> {literal}Submit: {/literal}&nbsp;&nbsp; <U>{if $wi.bcfm_user}{$wi.bcfm_user}</U>&nbsp;&nbsp; <U>[ {$wi.bcfm_date} ] </U>{else}[ None ]{/if}</td>
   </tr>
 </table>


<table border=0 cellspacing=0 cellpadding=2 width=750 bgcolor=#ffffff align=center>
  <tr>
	<td colspan=2>
{if $back_str && $edit_non <> 1}
		<input type=button onClick="window.location.href='{$PHP_SELF}{$back_str}'" value=" << go back " class=select_e style="cursor:pointer; width=99%">
{else}&nbsp;
{/if}
	</td>
  </tr>

</table>
</form>
<!--------- footer ---------->
{include file="footer.html"}
