<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM -B [ ORDER RECORD ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script type="text/javascript"
        src="./js/build/yahoo/yahoo-min.js"></script>
<script type="text/javascript"
        src="./js/build/connection/connection-min.js"></script>

<Script language="javascript">
var transaction;
  var sUrl;
  var callback = {
    success: function(o) {
    	document.getElementById("tbl_msg").style.display='block';    
    	document.getElementById("ajx_wait").style.display='none';
    	document.getElementById("size_show").style.display='block';    	   	
    	var response = o.responseText.split("|");
    	var divrep=response[1];
    	msg1.innerText  = divrep; 
    	document.e.PHP_Size.value =response[0];    	 

    },
    failure: function(o) {
      alert("Error：Can't get data");
    }
  };
  function get_change(size,size_id,size_item,id,back_str,base_size) {
    document.getElementById("ajx_wait").style.display='block';
    document.getElementById("size_show").style.display='none';
    sUrl = "index2.php?PHP_action=do_order_fa_edit_ajx&PHP_size="+size+"&PHP_size_id="+size_id+"&PHP_size_item="+size_item+"&PHP_id="+id+back_str+"&PHP_base_size="+base_size;	
    transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, callback, null);
  }

  var delback = {
    success: function(o) {
    	document.getElementById("tbl_msg").style.display='block';    
    	var response = o.responseText.split("|");
    	var divrep=response[0];
    	msg1.innerText  = divrep; 
    },
    failure: function(o) {
      alert("Error：Can't get data");
    }
  };  
function cfm_ajx(lots_code,lots_id,back_str,order_num,id,item,r){
	if ( confirm("This record will forever delete and can't reversion anymore  !\r\rPlease check again\r\rAre you sure delet fabric:["+lots_code+"]??")) {

	  var i=r.parentNode.parentNode.rowIndex;
	  document.getElementById('mater_table').deleteRow(i);	  

 	  sUrl = "index2.php?PHP_action=order_fab_del_ajx&PHP_lots_code="+lots_code+"&PHP_lots_id="+lots_id+"&PHP_id="+id+"&PHP_order="+order_num+"&PHP_item="+item;
    transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, delback, null);
	  

	} 

}
</script>

<Script language="javascript">
function cfm(lots_code,lots_id,back_str,order_num,id,item){
	if ( confirm("This record will forever delete and can't reversion anymore  !\r\rPlease check again\r\rAre you sure delet fabric:["+lots_code+"]??")) {

	location.href="index2.php?PHP_action=order_fab_del&PHP_lots_code="+lots_code+"&PHP_lots_id="+lots_id+"&PHP_id="+id+"&PHP_order="+order_num+"&PHP_item="+item+back_str;
	} 
	}
function list(){
	var gofile ='index2.php?PHP_action=show_fabric_search';	style=window.open(gofile,'style','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=805,height=500, top=100, left=150');
 	style.focus();
 }
 
function add_fab(){
	var gofile ='index2.php?PHP_action=lots_add&PHP_status=sub';	style=window.open(gofile,'style','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=805,height=500, top=100, left=150');
 	style.focus();
 }
 
 function acclist(){
	var gofile ='index2.php?PHP_action=show_accessory_search';	style=window.open(gofile,'style','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=805,height=500, top=100, left=150');
 	style.focus();
 }
 
function add_acc(){
	var gofile ='index2.php?PHP_action=acc_add&PHP_status=sub';	style=window.open(gofile,'style','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=805,height=500, top=100, left=150');
 	style.focus();
 } 
 
 function list_size(dept,cust){
	var gofile ='index2.php?PHP_action=show_size_search&PHP_dept='+dept+'&PHP_cust='+cust;	style=window.open(gofile,'style','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=805,height=500, top=100, left=150');
 	style.focus();
 }
function writeToParentList(lots_code,lots_name,unit1,id) {
	var i=0;
	window.document.forms['fat_edit'].elements['PHP_num'].value = lots_code;
	window.document.forms['fat_edit'].elements['PHP_name'].value = lots_name;
  for (var i = 0; i < window.document.forms['fat_edit'].elements['PHP_unit'].options.length; i++) {
    if (unit1 == window.document.forms['fat_edit'].elements['PHP_unit'].options[i].text) 
      window.document.forms['fat_edit'].elements['PHP_unit'].selectedIndex = i;
  }
    window.document.forms['fat_edit'].elements['PHP_select'].value = 1;
}
function writeToAccList(acc_code,acc_name,unit1,id) {
	var i=0;
	window.document.forms['acc_edit'].elements['PHP_num'].value = acc_code;
	window.document.forms['acc_edit'].elements['PHP_name'].value = acc_name;

/*
  for (var i = 0; i < window.document.forms['acc_edit'].elements['PHP_name'].options.length; i++) {
    if (acc_name == window.document.forms['acc_edit'].elements['PHP_name'].options[i].text) 
      window.document.forms['acc_edit'].elements['PHP_name'].selectedIndex = i;
  }
*/	
  for (var i = 0; i < window.document.forms['acc_edit'].elements['PHP_unit'].options.length; i++) {
    if (unit1 == window.document.forms['acc_edit'].elements['PHP_unit'].options[i].text) 
      window.document.forms['acc_edit'].elements['PHP_unit'].selectedIndex = i;
  }
  window.document.forms['acc_edit'].elements['PHP_select'].value = 1;
/*	if (unit1)
	{
		i++;
		window.document.forms['acc_edit'].elements['PHP_unit'].options[i] =new Option(unit1,unit1);
	}
	if (unit2 && unit1!=unit2)
	{
		i++;
		window.document.forms['acc_edit'].elements['PHP_unit'].options[i] =new Option(unit2,unit2);
	}
	if (unit3 && unit1!=unit3 && unit2!=unit3)
	{
		i++;
		window.document.forms['acc_edit'].elements['PHP_unit'].options[i] =new Option(unit3,unit3);
	}*/
}

function writeToSizeList(id,size) {
	var i=0;
	window.document.forms['e'].elements['PHP_Size'].value = size;
	window.document.forms['e'].elements['PHP_Size_id'].value = id;

	size_item=window.document.forms['e'].elements['PHP_Size_item'].value;
	order_id=window.document.forms['e'].elements['order_id'].value;
	back=window.document.forms['e'].elements['back_str'].value;
	pp=window.document.forms['e'].elements['now_pp'].value;
//	edit_all (size,id,size_item,order_id,back,0);
	get_change(size,id,size_item,order_id,back,0);

}

function writeToSizeAddList(size,base_size) {	
	var size_ary = size.split(",");
	var i=(size_ary.length)-1;
	var scale=size_ary[0]+'~'+size_ary[i]
	window.document.forms['e'].elements['PHP_Size'].value = scale;
	window.document.forms['e'].elements['PHP_Size_id'].value = 0;
	window.document.forms['e'].elements['PHP_Size_item'].value = size;
	
	order_id=window.document.forms['e'].elements['order_id'].value;
	back=window.document.forms['e'].elements['back_str'].value;
	pp=window.document.forms['e'].elements['now_pp'].value;
//	edit_all (scale,0,size,order_id,back,base_size);
	get_change(scale,0,size,order_id,back,base_size);

}

function edit_all (size,size_id,size_item,id,back_str,base_size)
{
		location.href="index2.php?PHP_action=do_order_fa_edit_all&PHP_size="+size+"&PHP_size_id="+size_id+"&PHP_size_item="+size_item+"&PHP_id="+id+back_str+"&PHP_base_size="+base_size;	

}

function view (id,back_str,ord_num)
{
		location.href="index2.php?PHP_action=order_fa_view&PHP_id="+id+back_str+"&PHP_ord_num="+ord_num;	

}

</script>
{/literal}
</head>
<body>

<br>
<table cellspacing=1 cellpadding=4 cols=1 width=805 bgcolor=#333333>
	<tr>
<td class="ylw10" align=center height=28 width=150> {if $order.m_status == 0}waitt'g for W/I rec.
									{elseif $order.m_status == 1}wait for W/I CFM</span>
									{elseif $order.m_status == 2}waitt'g for BOM rec.</span>
									{elseif $order.m_status == 3}waitt'g for BOM CFM</span>
									{elseif $order.m_status == 4}<b>waitt'g for Apply</b></span>
									{elseif $order.m_status == 5}<span class=ssign><b>REJECT</b></span>
									{elseif $order.m_status == 6}<span class=lgrn><b>SCHDLing</b></span>
									{elseif $order.m_status == 7}<span class=des><b>SCHDL CFMed</b></span>
									{elseif $order.m_status == 8}<span class=des><b>PRODUCING</b></span>
									{elseif $order.m_status == 10}<b>=finished=</b></span>
									{elseif $order.m_status == 12}<b>==shipped==</b></span>
									{else}&nbsp;{/if}</td>
	  	  <td class="des" align=center width=250>[ <span class=ylw10><b>ORDER</b></span> # ] --- <b>{$order.order_num}</b></td>

	  <td class="sign" align=center width=100>
	   {if $order.revise > 0 }
			[ <b>REVISE</b> ] : <b><i><span class=ylw10>{$order.revise}</span></i></b>
	   {else}
			&nbsp;
	   {/if}
	  </td>
	</tr>
</table>

     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=805 id='tbl_msg' {if $msg_YES} style="display : block" {else}style="display : none"{/if}>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy><div id='msg1'>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</div></td>
        
      </tr>
     </table>

 <form METHOD="POST" name="e" action="{$PHP_SELF}"> 
<table border=0 cellspacing=1 cellpadding=1 width=805 bgcolor=#FFFFFF>
   <tr>
    <td colspan=6 class=grn10 align=left><b>&nbsp;&nbsp;{if $order.last_updator}Last update : {$order.last_updator}<small> [ {$order.last_update} ]</small>{/if}</b></td>
    <td colspan=2 class=frnt align=right><b>currency : US$&nbsp;&nbsp;&nbsp;</b></td>
  </tr>
   <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
 <tr>
    <td class=snvy align=right  nowrap><b>style No. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.style_num}</b></td>
    <td class=snvy align=right nowrap><b>Customer :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.cust}</b></td>
    <td class=snvy align=right width=90 nowrap><b>customer ref. :</b></td>
    <td class=bgdy align=left  bgcolor=#dddddd><b>&nbsp;<small>{$order.ref}</small></b></td>
    <td class=snvy align=right  nowrap><b>Team :</b></td>
    <td class=bgdy align=left  width=80 bgcolor=#dddddd><b>&nbsp;{$order.dept}</b></td>
 </tr>
 <tr>
    <td class=snvy align=right nowrap><b>factory :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.factory}</b></td>
    <td class=snvy align=right nowrap><b>style type :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.style}</b></td>
    <td class=snvy align=right nowrap><b>Q'ty :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.qty}&nbsp;{$order.unit}</b></td>
    <td class=snvy align=right nowrap><b>SU :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.f_su}</b></td>
  </tr>
 <tr>
    <td class=snvy align=right nowrap><b>FOB @ :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;$ {$order.uprice}</b></td>
    <td class=snvy align=right nowrap><b>Quota Cat. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.quota}</b></td>
    <td class=snvy align=right  nowrap><b>smpl ord No. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><a href="javascript:smpl_out('{$order.smpl_ord}')" value='ord_out' style='cursor:pointer'><b>&nbsp;{$order.smpl_ord}</b></a></td>
    <td class=snvy align=right nowrap><b>Size :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd>
    <div align=center id=ajx_wait style="display:none;"><img src="./images/ajax-loader.gif" alt="Wait" style="cursor:pointer" height=20></div>
    <div id=size_show>
    {if $size_edit}
		<input type='text' name="PHP_Size" size=5 class=select value="{$order.size}"  onClick="list_size('{$order.dept}','{$order.cust}')">
		<img src="./images/icoSearch.gif" alt="Fabric" onClick="list_size('{$order.dept}','{$order.cust}');" style="cursor:pointer">
		<input type='hidden' name="PHP_Size_id" value={$order.size_id} >
		<input type='hidden' name="PHP_Size_item" value='' >
    {else}
    	{$order.size}
    	<input type='hidden' name="PHP_Size_id" value={$order.size_id} >
		<input type='hidden' name="PHP_Size_item" value='' >
		<input type='hidden' name="PHP_Size" value="{$order.size}" >
    {/if}
    </div>
    </td>
    <input type='hidden' name="order_id" value="{$order.id}" >
    <input type='hidden' name="back_str" value="{$back_str}" >
    <input type='hidden' name="now_pp" value="{$now_pp}" >

  </tr>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
 <tr>
    <td class=snvy align=right nowrap><b>ETD :</b></td>
	<td class=b10 align=left nowrap bgcolor=#dddddd><b>&nbsp;{$order.etd}</b></td>
	<td class=snvy align=right nowrap><b>ETP. :</b></td>
	<td class=b10 align=left nowrap bgcolor=#dddddd><b>&nbsp;{$order.etp}</b></td>
	<td colspan=3 class=snvy align=right nowrap><b>est. Lead Time :</b></td>
	<td class=grn10 align=left nowrap bgcolor=#dddddd><b>&nbsp;{$lead_time} days</b></td>
  </tr>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
</table>  
</form>
<table border=0 cellspacing=1 cellpadding=1 width=805 bgcolor=#FFFFFF id='mater_table'>
  <tr height=25 bgcolor=#C4C3AE>
  	<td colspan=2 class=snvy align=center nowrap><b>Fabric #</b></td>
  	<td class=snvy align=center nowrap><b>Fabric Name</b></td>
  	<td class=snvy align=center nowrap><b>Unit</b></td>  	
<!--  	<td width=70  class=snvy align=center nowrap><b>consump.</b></td>  	 -->
  	<td class=snvy align=center nowrap><b>Placement</b></td>
  	<td class=snvy align=center nowrap><b>Color</b></td>
	<td class=snvy align=center nowrap><b>Main Fab</b></td>
  	<td class=snvy align=center nowrap colspan=2 ><b>Sourcing</b></td>
  	<td class=snvy align=center nowrap colspan=2>&nbsp;</td>
  </tr>
  <tr bgcolor=#C9CCC9>
  <form METHOD="POST" name="fat_edit" action="{$PHP_SELF}">
	<td width=100 class=grn10 align=center nowrap bgcolor=#dddddd>
		<input type='text' name="PHP_num" size=10 class=select value="{$fab_un_add.num}" onkeyup=value=value.replace(/[^\w\-]/ig,'') readonly >
	</td>
	<td width=40 align=right>
		<img src="./images/icoSearch.gif" alt="Fabric" onClick="list();" style="cursor:pointer" width=15>
<!--		<img src="./images/add.gif" alt="Fabric Add" onClick="add_fab();" style="cursor:pointer" width=15> -->
	</td>
	<td class=grn10 align=center nowrap bgcolor=#dddddd>
		<input type='text' name="PHP_name"	 size=10 class=select value="{$fab_un_add.name}" onkeyup=value=value.replace(/[^\w\-\u4e00-\u9fa5]/ig,'') readonly >
	</td>
	<td class=grn10 align=center nowrap bgcolor=#dddddd>
		{$fab_unit}
	</td>
<!--	
	<td class=grn10 align=center nowrap bgcolor=#dddddd>
		<input type='text' name="PHP_est" size=3 class=select value="{$fab_un_add.est}">
	</td>
-->	
  	<td class=snvy align=center nowrap >
  		{$fab_type} <input type='text' name="PHP_use_for" size=38 class=select value="{$fab_un_add.use_for}" maxlength=30>
  	</td>
  	<td class=snvy align=center nowrap >
  		<input type='text' name="PHP_color" size=18 class=select value="{$fab_un_add.color}" maxlength=32 >
  	</td>
  	<td class=snvy align=center nowrap>
  		<input type="checkbox" name="PHP_fab_main" value="1">
  	</td>
	<td class=snvy align=center nowrap colspan=2 >
  		{$support}
  	</td>  	
  	<td class=snvy align=center nowrap colspan=2 ><input type=submit value="[ ADD fab.]" class=select_e style="cursor:pointer; width=90%"></td>
  	<input type='hidden' name="PHP_action" value="do_order_fa_edit" >
  	<input type='hidden' name="PHP_select" value={$fab_un_add.select} >
  	<input type='hidden' name="PHP_smpl_code" value={$order.order_num} >
  	<input type='hidden' name="PHP_item" value="fab" >
  	<input type='hidden' name="PHP_id" value={$order.id} >
  	<input type='hidden' name="PHP_back_str" value={$back_str2} >
  </form>
  </tr>
   <tr bgcolor=#E7E7E7>
  {if $fab.msg}
  	<td class=b10 align=center nowrap bgcolor=#E7E7E7 colspan=10><b>&nbsp;{$fab.msg}</b></td>
  {else}
  {section name=SEC loop=$fab}
   <form METHOD="POST" name="fat_update" action="{$PHP_SELF}">
  	<td class=snvy align=center nowrap >{$fab[SEC].lots_code}
  	</td>
  	<td  align=right>
   		<a href="{$PHP_SELF}?PHP_action=do_order_fa_edit&PHP_id={$order.id}&PHP_smpl_code={$order.order_num}&PHP_item=fab&PHP_num={$fab[SEC].lots_code}&PHP_name={$fab[SEC].lots_name}&PHP_unit={$fab[SEC].unit}&PHP_est=0&PHP_use_for=&PHP_support=&PHP_fab_type={$fab[SEC].fab_type_v}{$back_str}" style="cursor:pointer">
			<img src="./images/add4.gif" border=0 alt="copy"></a>		
  	</td>
  	<td class=snvy align=center nowrap >{$fab[SEC].lots_name}</td>
  	<td class=snvy align=center nowrap>{$fab[SEC].unit_select}</td>
<!--
  	<td class=snvy align=center nowrap >{$fab[SEC].est_1}</td>  	
-->
   	<td class=snvy align=center nowrap >{$fab[SEC].fab_type} <input type='text' name="PHP_use_for" size=38 class=select value="{$fab[SEC].use_for}" maxlength=30></td>  	
		<td class=snvy align=center nowrap><input type='text' name="PHP_color" size=18 class=select value="{$fab[SEC].color}" maxlength=32></td>
		<td class=snvy align=center nowrap colspan=2 >{$fab[SEC].support}</td>
<!--
  	<td class=snvy align=center nowrap ><input type=submit value="[ Edit ]" class=select_e style="cursor:pointer; width=60%">&nbsp;<a href="javascript:cfm('{$fab[SEC].lots_code}','{$fab[SEC].id}','{$back_str}','{$order.order_num}','{$order.id}','fab')" value="刪除" style="cursor:pointer"><img src="images/del.gif" alt="Del" border=0 valign=bottom></a></td>
-->
  	<td class=snvy align=center nowrap ><input type=submit value="[ Edit ]" class=select_e style="cursor:pointer; width=70%">&nbsp;
 	  	<input type='hidden' name="PHP_action" value="do_order_fa_update" > 
	  	<input type='hidden' name="PHP_item" value="fab" >
	  	<input type='hidden' name="PHP_old_unit" value="{$fab[SEC].unit}" >
	  	<input type='hidden' name="PHP_item_id" value={$fab[SEC].id} >
	  	<input type='hidden' name="PHP_item_name" value={$fab[SEC].lots_code} >
	  	<input type='hidden' name="PHP_id" value={$order.id} >
	  	<input type='hidden' name="PHP_ord_num" value={$order.order_num} >
	  	<input type='hidden' name="cgino" value={$now_pp} >
	  	<input type='hidden' name="PHP_back_str" value={$back_str2} >

    </td>
  	</form>
		<td>
			{if $fab[SEC].po == 0}
		  	<input type='image' src="images/del.png"   onclick=cfm_ajx('{$fab[SEC].lots_code}','{$fab[SEC].id}','{$back_str}','{$order.order_num}','{$order.id}','fab',this)>	
		  {/if}
		</td>
  	</tr>
  	<tr bgcolor=#E7E7E7>
  {/section}
  {/if}
  </tr>
  
  <tr><td></td></tr>
  
  <tr height=25 bgcolor=#C4C3AE>
  	<td class=snvy align=center nowrap colspan=2><b>Accessory #</b></td>
  	<td class=snvy align=center nowrap><b>Acc. Name</b></td>
  	<td class=snvy align=center nowrap><b>Unit</b></td>
	<!-- <td class=snvy align=center nowrap><b>consump.</b></td>  -->
  	<td class=snvy align=center nowrap ><b>Placement</b></td>
  	<td class=snvy align=center nowrap ><b>Color</b></td>
  	<td class=snvy align=center nowrap><b>Main Acc</b></td>
  	<td class=snvy align=center nowrap ><b>Sourcing</b></td>

  	<td class=snvy align=center nowrap colspan=2 >&nbsp;</td>
  </tr>
  <tr bgcolor=#C9CCC9>
  <form METHOD="POST" name="acc_edit" action="{$PHP_SELF}">
	<td class=grn10 align=center nowrap bgcolor=#dddddd>
		<input type='text' name="PHP_num" size=10 class=select value="{$acc_un_add.num}" onkeyup=value=value.replace(/[^\w\-]/ig,'') readonly 	>
	</td>
	<td align=right>
		<img src="./images/icoSearch.gif" alt="Accessory" onClick="acclist();" style="cursor:pointer">
<!--	  <img src="./images/add.gif" alt="Accessory add" onClick="add_acc();" style="cursor:pointer"> -->
	</td>
	<td class=grn10 align=center nowrap bgcolor=#dddddd>
		<input type='text' name="PHP_name"	 size=10 class=select value="{$acc_un_add.name}" onkeyup=value=value.replace(/[^\w\-\u4e00-\u9fa5]/ig,'') readonly >
	</td>
	<td class=grn10 align=center nowrap bgcolor=#dddddd>
		{$acc_unit}
	</td>
<!--
	<td class=grn10 align=center nowrap bgcolor=#dddddd>
		<input type='text' name="PHP_est" size=3 class=select value="{$acc_un_add.est}" >
	</td>
-->	
  	<td class=snvy align=center nowrap>
  		<input type='text' name="PHP_use_for" size=40 class=select value="{$acc_un_add.use_for}" maxlength=40>
  	</td>
  	<td class=snvy align=center nowrap >
  		<input type='text' name="PHP_color" size=18 class=select value="{$acc_un_add.color}" maxlength=32>
  	</td>
  	<td class=snvy align=center nowrap>
  		<input type="checkbox" name="PHP_main" value="1">
  	</td>
  	<td class=snvy align=center nowrap>
  		{$support}
  	</td>   	
  	<td class=snvy align=center nowrap colspan=2 ><input type=submit value="[ ADD acc.]" class=select_e style="cursor:pointer; width=90%"></td>
  	<input type='hidden' name="PHP_action" value="do_order_fa_edit" >
  	<input type='hidden' name="PHP_select" value={$acc_un_add.select} >
  	<input type='hidden' name="PHP_smpl_code" value={$order.order_num} >
  	<input type='hidden' name="PHP_item" value="acc" >
  	<input type='hidden' name="PHP_id" value={$order.id} >
  	<input type='hidden' name="PHP_back_str" value={$back_str2} >
  </form>
  </tr>
  <tr bgcolor=#E7E7E7>
  {if $acc.msg}
  	<td class=b10 align=left nowrap bgcolor=#E7E7E7 colspan=10><b>&nbsp;{$acc.msg}</b></td>
  {else}
  {section name=SEC loop=$acc}
   <form METHOD="POST" name="acc_update" action="{$PHP_SELF}">
  	<td class=snvy align=center nowrap >{$acc[SEC].acc_code}
  	</td>
	<td align=right>
   		<a href="{$PHP_SELF}?PHP_action=do_order_fa_edit&PHP_id={$order.id}&PHP_smpl_code={$order.order_num}&PHP_item=acc&PHP_num={$acc[SEC].acc_code}&PHP_name={$acc[SEC].acc_name}&PHP_unit={$acc[SEC].unit}&PHP_est=0&PHP_use_for=&PHP_main=0{$back_str}" style="cursor:pointer">
			<img src="./images/add4.gif" border=0 alt="copy"></a>
	</td>
  	<td class=snvy align=center nowrap >{$acc[SEC].acc_name}</td>
  	<td class=snvy align=center nowrap>{$acc[SEC].unit_select}</td>
<!--  	<td class=snvy align=center nowrap >{$acc[SEC].est_1}</td>  	-->
  	<td class=snvy align=center nowrap ><input type='text' name="PHP_use_for" size=40 class=select value="{$acc[SEC].use_for}" maxlength=40></td>
	<td class=snvy align=center nowrap><input type='text' name="PHP_color" size=18 class=select value="{$acc[SEC].color}" maxlength=32></td>
  	<td class=snvy align=center nowrap>
  		<input type="checkbox" name="PHP_main" value="1" {if $acc[SEC].acc_cat == 1}checked{/if}>
  	</td>
  	<td class=snvy align=center nowrap>{$acc[SEC].support}</td>
<!--
  	<td class=snvy align=center nowrap ><input type=submit value="[ Edit ]" class=select_e style="cursor:pointer; width=60%">&nbsp;<a href="javascript:cfm('{$acc[SEC].acc_code}','{$acc[SEC].id}','{$back_str}','{$order.order_num}','{$order.id}','acc')" value="刪除" style="cursor:pointer"><img src="images/del.gif" alt="Del" border=0 valign=bottom></a></td>
-->
  	<td class=snvy align=center nowrap ><input type=submit value="[ Edit ]" class=select_e style="cursor:pointer; width=80%"></td>

  	<input type='hidden' name="PHP_action" value="do_order_fa_update" > 
  	<input type='hidden' name="PHP_item" value="acc" >
  	<input type='hidden' name="PHP_old_unit" value="{$acc[SEC].unit}" >
  	<input type='hidden' name="PHP_item_id" value={$acc[SEC].id} >
  	<input type='hidden' name="PHP_item_name" value={$acc[SEC].acc_code}>
  	<input type='hidden' name="PHP_id" value={$order.id} >
  	<input type='hidden' name="PHP_ord_num" value={$order.order_num} >
  	<input type='hidden' name="cgino" value={$now_pp} >
  	<input type='hidden' name="PHP_back_str" value={$back_str2} >
  </form>
   	<td class=snvy align=center nowrap >
   		{if $acc[SEC].po == 0}
	  		<input type='image' src="images/del.png"  onclick="cfm_ajx('{$acc[SEC].acc_code}','{$acc[SEC].id}','{$back_str}','{$order.order_num}','{$order.id}','acc',this)">	
  		{/if}
  	</td>

  	</tr>
  	<tr bgcolor=#E7E7E7>
  {/section}
  {/if}
  </tr>
</table>


<table border=1 cellspacing=1 cellpadding=1 width=805 align=center>
  <tr bgcolor=#333333 >
	<td width=34% class=w9><b>&nbsp;OPEN by : <span class=ylw10></b>{$order.creator}</span>-[{$order.opendate}]</td>
	<td width=33% class=w9>{if $order.cfmer}&nbsp;<b>CFM by : </b><span class=ylw10>{$order.cfmer}</span>-[{$order.cfm_date}]{else}&nbsp;{/if}</td>
	<td width=33% class=w9>{if $order.apver}&nbsp;<b>APV by : </b><span class=ylw10>{$order.apver}</span>-[{$order.apv_date}]{else}&nbsp;{/if}</td>
	</td>
</table>
<!---------- END SHOW   -->  

<table border=0 cellspacing=0 cellpadding=2 width=800 bgcolor=#ffffff align=center>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>
	<td>
		<input type=button onClick="window.location.href='index2.php?PHP_action=order_fa_search'" value=" << go back " class=select_e style="cursor:pointer; width=99%">

	</td>
	<td>
		<input type=button onClick="javascript:view('{$order.id}','{$back_str}','{$order.order_num}')" value=" FAB / ACC VIEW " class=select_e style="cursor:pointer; width=99%">
	</td>
	

  </tr>

</table>
<!--------- footer ---------->
{include file="footer.html"}
