<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM -B [ ORDER RECORD ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/col.js"></script>
<script language="javascript" src="./js/jquery.min.js"></script>
<Script language="javascript">
var $old ="";
var ecount = 4;

{/literal}
{if $order.ps_num > 0}
var etd_nums = {$order.ps_num};
{else}
var etd_nums = 0;
{/if}
{literal}

function cfm_img() {
		var $old ="";
		$old = document.pic.src;
		document.pic.src = document.adding.PHP_pic.value;

	if ( !confirm ("confirm if the picture is correct?")){
		document.pic.src = $old;
	} else {
		document.adding.PHP_pic_upload.value ="1";
	}
}
function cfm_img_2(img) {
	var old ="";
//	alert(document.getElementById("oth_pic[0]").src);
	old = document.getElementById("oth_pic["+img+"]").src;
	document.getElementById("oth_pic["+img+"]").src =  window.document.forms['adding'].elements['PHP_oth_pic['+img+']'].value ;

	if ( !confirm ("confirm if the picture is correct?") ){
		document.getElementById("oth_pic["+img+"]").src = old;
	} else {
		window.document.forms['adding'].elements['PHP_oth_pic_upload['+img+']'].value = '1';
		
	}
}
function wait(){
	alert ("如果您有傳圖上主機時時，將會花上一段時間!!\r\r請在等待[視窗自動更新]前,不要再按任何按扭。 \r最佳的方法，請將您的圖檔盡可能設定與系統要求相同大小    \r\r因為系統接受圖檔後，會自動將圖再format成固定大小 !  ");
}
function upphoto(x){

	if(x=="add"){
		
		r=pic_table.insertRow();
		for( i=0; i<5; i++)
		{
			ecount = ecount + 1;
			r.insertCell().innerHTML= '<img src="./images/graydot.gif" name="oth_pic['+ecount+']" width="120" /><br><input name="PHP_oth_pic['+ecount+']" type="file" size=10 onchange="cfm_img_2('+ecount+')" /><input name="PHP_oth_pic_upload['+ecount+']" type="hidden" value="" />';
		}


	}else{
		document.all["upphoto"].deleteRow(event.srcElement.parentElement.parentElement.rowIndex);
	}
}

function add_etd()
{
	if(document.getElementById('del_mk'))document.getElementById('del_mk').style.display='block';
	etd_nums++;
    dhtm = '<tr id="del'+etd_nums+'">'
    + '<td width="60">&nbsp;</td>'
    + '<td align="left" nowrap><B>Final Destination : </B><input type="text" name="PHP_remark_'+etd_nums+'" size="15" class=input ></td>'
	+ '<td align="right" nowrap><B>ETD. : </B><input type="text" name="PHP_etd_'+etd_nums+'" size="9" class=select readonly><img align="top" onmousedown="javascript:Cal(document.adding.PHP_etd_'+etd_nums+',1,100,50,999,0,\'\')" src="images/cal.gif" width="16" height="16"  align="top" style="cursor:hand"></td>'
	+ '<td align="right" nowrap><B>ETP. : </B><input type="text" name="PHP_etp_'+etd_nums+'" size="9" class=select readonly><img align="top" onmousedown="javascript:Cal(document.adding.PHP_etp_'+etd_nums+',1,100,50,999,0,\'\')" src="images/cal.gif" width="16" height="16"  align="top" style="cursor:hand"></td>'
	+ '<td align="right" nowrap><B>Q\'ty : </B><input type="text" id="PHP_ps_qty'+etd_nums+'" name="PHP_ps_qty['+etd_nums+']" size=8  class=select onchange=count_qty()></td>'
	+ '<td align="right" nowrap><img src="./images/del.gif" style="cursor:pointer" onclick="del_etd('+etd_nums+')"></td>'
	+ '</tr>';
	$("#etd_table").append(dhtm);
    count_qty();

}
function del_etd(id)
{
    $("#del"+id).remove();
    count_qty();
}

function count_qty()
{
    var qty = Number(0);
    $("input[name^=PHP_ps_qty]").each(function(i, elm) {
        qty = Number(qty) + Number($(elm).val());
    });
    $('#PHP_qty').val(qty);
}

// M11010501
function checkItem(objElement){

	if($("#PHP_smpl_ord").val() == ''){
		alert('Please choice sample order!');
		$("#PHP_smpl_ord").focus();
		return false;
	}
	if( $("#PHP_uprice").val() == '' || $("#PHP_uprice").val() == '0.00'){
		alert('Please input currect FOB!');
		$("#PHP_uprice").focus();
		return false;
	}
	if($("#PHP_qty").val() == '' || $("#PHP_qty").val() == '0'){
		alert('Please input currect amount!');
		$("#PHP_qty").focus();
		return false;
	}
	if($("#PHP_factory").val() == ''){
		alert('please choose the manufacture FACTORY!');
		$("#PHP_factory").focus();
		return false;
	}
	if($("#PHP_line").val() == ''){
		alert('請選擇男女裝線!');
		$("#PHP_line").focus();
		return false;
	}
	if($("#PHP_mat_useage").val() == '' || $("#PHP_mat_useage").val() == '0.00' ){
		alert('Please input currect mat useage!');
		$("#PHP_mat_useage").focus();
		return false;
	}
	if($("#PHP_lots_unit").val() == ''){
		alert('Please select lots unit!');
		$("#PHP_lots_unit").focus();
		return false;
	}
	if($("#PHP_syear").val() == '' || $("#PHP_season").val() == ''){
		alert('please select season first!');
		$("#PHP_syear").focus();
		return false;
	}
	if($("#PHP_unit").val() == '' ){
		alert('Please choice unit!');
		$("#PHP_unit").focus();
		return false;
	}

}
</script>
{/literal}
</head>
<body>
<form method=POST name=adding enctype="multipart/form-data" action=order.php onsubmit="return checkItem()">
<br>
<table cellspacing=1 cellpadding=4 cols=1 width=700 bgcolor=#333333>
    <tr><td class="des" align=center height=28> [ <span class=ylw10><b>APPEND</b></span> ORDER ] </td></tr>
</table>
{if $msg_YES}
<table border=1 cellpadding=4 cellspacing=0 cols=1 width=700>
    <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
    </tr>
</table>
{/if}
<table border=0 cellspacing=0 cellpadding=1 width=700 bgcolor=#FFFFFF>
    <tr>
<!--   	
   	<td colspan=4 class=frnt align="left">
   		{if $stock_mk}<input type="checkbox" name="PHP_stk_full" value="庫存布淨裁"><b>庫存布淨裁</b>{/if}
   		&nbsp;
   	</td>    		
-->  
        <td colspan=8 class=frnt align="right"><b>currency : US$&nbsp;&nbsp;&nbsp;</b></td>
    </tr>
    <tr>
        <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
    </tr>
    <tr>
        <td class="snvy" align="right" nowrap><b>Order # :</b></td>
        <td class=bgdy align="left" nowrap><b>{$order_precode}</b></td>
        <td class="snvy" align="right" nowrap><b>Customer :</b></td>
        <input type="hidden" name="PHP_cust" value="{$cust_id}">
        <td class=bgdy align="left"><b>{$cust_id}</b></td>
        <td class="snvy" align="right" nowrap><b>Team :</b></td>
        <input type="hidden" id="PHP_dept" name="PHP_dept" value="{$dept_id}">
        <td class=bgdy align="left" colspan=3><b>{$dept_id}</b></td>
    </tr>
    <tr>
        <td class="snvy" align="right" nowrap colspan=3><b>cust. ref. :</b></td>
        <td class=b9 align="left"><input type='text' name="PHP_ref" size=8 value="{$order.ref}" class=select></td>
        <td class="snvy" align="right" nowrap ><b>season :</b></td>
        <td class=b9 align="left"> <!--{if $dept_id != 'DA'}colspan=3{/if}--> {$year_select}&nbsp;{$season_select}</td>
    </tr> 
    <tr>
        <td class="snvy" align="right" nowrap><b>factory :</b></td>
        <td class=bgdy align="left"><b>{$factory}</b></td>
        {if $fac_flag}<input type="hidden" id="PHP_factory" name="PHP_factory" value={$factory}>{/if}
        <td class="snvy" align="right" nowrap ><b>Pdt. Line : </b></td>
        <td class=b9 align="left">{$line_select}</td>	
        <td class="snvy" align="right" nowrap><b>unit :</b></td>
        <td class=b9 align="left"><b>{$unit}</b></td>
        <td class="snvy" align="right" nowrap><b>smpl ord #:</b></td>
        <td class=bgdy align="left"><b>{$smpl_no}</b></td>
    </tr>
    <tr>
        <td class="snvy" align="right" nowrap><b>FOB @$ :</b></td>
        <td class=b9 align="left"><input type='text' ID="PHP_uprice" name="PHP_uprice" size=8 value='{$order.uprice|number_format:"2f"}' class=select></td>
        <td class="snvy" align="right" nowrap><b>Quota Cat. :</b></td>
        <td class=b9 align="left"><input type='text' name="PHP_quota" size=8 value="{$order.quota}" class=select></td>
        <td class="snvy" align="right" nowrap><b>pattern # :</b></td>
        <td class=b9 align="left"><input type='text' name="PHP_patt_num" size=14 value="{$order.patt_num}" class=select></td>
        <td class="snvy" align="right" nowrap><b>Agent</b></td>
        <td class=b9 align="left">{$agent_select}</td>
    </tr>
    <tr>
        <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
    </tr>
    <tr>
        <td colspan=8>
 	 		<table border=0 cellspacing=0 cellpadding=1 width=100% bgcolor=#FFFFFF id='etd_table' class="snvy">
 	 			<tr bgcolor="#EEEEEE" height="30"> 	 			
 	 				<td align="left" nowrap colspan=3><b>Partial Shipment : </b><a href="javascript:add_etd()" style="cursor:pointer"><img src="./images/add4.gif" border=0 alt="copy"></a></td>
                    <td align="right" colspan=3><b>Q'TY : </b><input type='text' ID="PHP_qty" name="PHP_qty" size=8 value="{$order.qty}" readonly></td>
 				</tr> 
                {if $order.ps_num < 1}
 	 			<tr id="del0">
                    <td width="60" nowrap>&nbsp;</td>
                    <td align="left" nowrap><b>Final Destination : </b><input type="text" name="PHP_remark_0" size="15" class=input value="{$order.remark}" ></td>
                    <td align="right" nowrap><b>ETD. : </b><input type="text" name="PHP_etd_0" size="9" class=select value="{$order.etd}" readonly><img align='top' onmousedown="javascript:Cal(document.adding.PHP_etd_0,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand'></td>
					<td align="right" nowrap><b>ETP. : </b><input type="text" name="PHP_etp_0" size="9" class=select value="{$order.etp}" readonly><img align='top' onmousedown="javascript:Cal(document.adding.PHP_etp_0,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand'></td>
                    <td align="right" nowrap><b>Q'ty : </b><input type='text' id="PHP_ps_qty0" name="PHP_ps_qty[0]" size=8 value="{$order.qty}" class=select onchange=count_qty()></td>
                    <td align="right" nowrap><div id=del_mk style="display:none;"><img src="./images/del.gif" border=0 alt="copy" onclick="del_etd(0)"></div></td>
                </tr>
                {/if}
                {section name=SHP loop=$order.ps_qty} 	 			
 	 			<tr>
                    <td width="60">&nbsp;</td>
                    <td align="left" nowrap><b>Final Destination : </b><input type="text" name="PHP_remark_{$smarty.section.SHP.index}" size="15" class=input value="{$order.remark[SHP]}" ></td>
                    <td align="right" nowrap ><b>ETD. : </b><input type="text" name="PHP_etd_{$smarty.section.SHP.index}" size="9" class=select value="{$order.ps_etd[SHP]}" readonly><img align='top' onmousedown="javascript:Cal(document.adding.PHP_etd_{$smarty.section.SHP.index},1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand'></td>
					<td align="right" nowrap ><b>ETP. : </b><input type="text" name="PHP_etp_{$smarty.section.SHP.index}" size="9" class=select value="{$order.ps_etp[SHP]}" readonly><img align='top' onmousedown="javascript:Cal(document.adding.PHP_etp_{$smarty.section.SHP.index},1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand'></td>
                    <td align="right" nowrap><b>Q'ty : </b><input type='text' id="PHP_ps_qty{$smarty.section.SHP.index}" name="PHP_ps_qty[{$smarty.section.SHP.index}]" size=8 value="{$order.ps_qty[SHP]}" class=select onchange=count_qty()> </td>
                    <td align="right"><img src="./images/del.gif" border=0 alt="copy" onclick="del_etd({$smarty.section.SHP.index})"></td>
                </tr>
                {/section}
            </table>
        </td>
    </tr>
    <tr>
        <td><hr size=2 width=96%></td>
        <td class=bgdy align=center><i><b>picture</b></i></td>
        <td><hr size=2 width=96%></td>
        <td colspan=2><hr size=2 width=96%></td>
        <td class=bgdy align=center><i><b>unit cost :</b></i></td>
        <td colspan=2 ><hr size=2 width=96%></td>
    </tr>
    <tr>
        <td align=center class=head valign=top rowspan=14 colspan=3>
            <table width=190 border=1 cellspacing=0 cellpadding=1>
                <tr><td align=center><img src={if $order.pic}{$order.pic}{else}"./images/graydot.gif"{/if} name="pic" width=190></td></tr>
                <tr>
                    <td align=center valign=top class=head>
                    <input name="PHP_pic" type="file" onChange="cfm_img()" value="{$order.pic}" size=10>
                    <input type="hidden" name="PHP_pic_upload" value="">
                    </td>
                </tr>
            </table>
        </td>
        <td class="snvy" align="right" nowrap colspan=4><b>main fabric volume required per unit :</b></td>
        <td class=b9 align="left" nowrap>&nbsp;&nbsp; <input type='text' id="PHP_mat_useage" name="PHP_mat_useage" size=6 value='{$order.mat_useage|number_format:"2f"}' class=select> / {$lots_unit}</td>
    </tr>
    <tr>
        <td class="snvy" align="right" nowrap colspan=4><b>main fabric unit price :</b></td>
        <td class=b9 align="left">$ <input type='text' name="PHP_mat_u_cost" size=6 value='{$order.mat_u_cost|number_format:"2f"}' class=select></td>
    </tr>
    <tr>
        <td class="snvy" align="right" nowrap colspan=4><b>Fusible unit price :</b></td>
        <td class=b9 align="left">$ <input type='text' name="PHP_fus_u_cost" size=6 value='{$order.fusible|number_format:"2f"}' class=select></td>
    </tr>
    <tr>
        <td class="snvy" align="right" nowrap colspan=4><b>InterLining unit price :</b></td>
        <td class=b9 align="left">$ <input type='text' name="PHP_int_u_cost" size=6 value='{$order.interline|number_format:"2f"}' class=select></td>
    </tr>
    <tr>
        <td class="snvy" align="right" nowrap colspan=4><b>accessory cost per unit :</b></td>
        <td class=b9 align="left">$ <input type='text' name="PHP_acc_u_cost" size=6 value='{$order.acc_u_cost|number_format:"2f"}' class=select></td>
    </tr>
    <tr>
        <td class="snvy" align="right" nowrap colspan=4><b>quota charge per unit [if any] :</b></td>
        <td class=b9 align="left">$ <input type='text' name="PHP_quota_fee" size=6 value='{$order.quota_fee|number_format:"2f"}' class=select></td>
    </tr>
    <tr>
        <td class="snvy" align="right" nowrap colspan=4><b>commission per unit [if any] :</b></td>
        <td class=b9 align="left">$ <input type='text' name="PHP_comm_fee" size=6 value='{$order.comm_fee|number_format:"2f"}' class=select></td>
    </tr>
    <tr>
        <td class="snvy" align="right" nowrap colspan=4><b>C.M. estimate :</b></td>
        <td class=b9 align="left">$ <input type='text' name="PHP_cm" size=6 value='{$order.cm|number_format:"2f"}' class=select></td>
    </tr>
    <tr>
        <td align="right"><hr size=2 width=92%></td>
        <td colspan=2 class=bgdy align=center><i><b>special treatment cost :</b></i></td>
        <td colspan=2 ><hr size=2 width=96%></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td class="snvy" align="right" nowrap><b>&nbsp;embroidery :</b></td>
        <td colspan=3 class=b9 align="left">$ <input type='text' name="PHP_emb" size=6 value="{$order.emb}" class=select></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td class="snvy" align="right" nowrap><b>&nbsp;garment wash :</b></td>
        <td colspan=3 class=b9 align="left">$ <input type='text' name="PHP_wash" size=6 value="{$order.wash}" class=select></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td class="snvy" align="right" nowrap><b>others :</b></td>
        <td class=b9 align="left">$ <input type='text' name="PHP_oth" size=6 value="{$order.oth}" class=select></td>
        <td colspan=2 class="snvy" align="left" nowrap colspan=3><input type='text' name="PHP_oth_treat" size=25 value="{$order.oth_treat}" class=select></td>
    </tr>
    <tr>
        <td colspan=5 class=frnt align=center><hr size=2 width=98%></td>
    </tr>
    <tr>
        <td class="snvy" align="right" nowrap colspan=4><b>sample charge estimate for this order :</b></td>
        <td class=b9 align="left">$ <input type='text' name="PHP_smpl_fee" size=6 value="{$order.smpl_fee}" class=select></td>
    </tr>
    <tr>
        <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
    </tr>
</table>

<table border=0 cellspacing=0 cellpadding=1 width=700>
    <tr>
        <td >OTHER Picutre </td>
        <td  align="right" valign=bottom>
				ADD ROW  ( <img src="images/add4.gif" width="11" height="11" onclick="upphoto('add')" style="cursor:hand" /> )
        </td>
    </tr>
    <tr>
		<td colspan=2>
			<table border=1 cellspacing=0 cellpadding=1  id='pic_table'>
				<tr>
                    <td align=center width=125>
                        <img src={if $order.pic}{$order.pic}{else}"./images/graydot.gif"{/if} name="oth_pic[0]" width=120>
                        <br>
                        <input name="PHP_oth_pic[0]" type="file" onChange="cfm_img_2(0)" value="{$order.pic}" size=10>
                        <input type="hidden" name="PHP_oth_pic_upload[0]" value="">
                    </td>
                    <td align=center width=125>
                        <img src={if $order.pic}{$order.pic}{else}"./images/graydot.gif"{/if} name="oth_pic[1]" width=120>
                        <br>
                        <input name="PHP_oth_pic[1]" type="file" onChange="cfm_img_2(1)" value="{$order.pic}" size=10>
                        <input type="hidden" name="PHP_oth_pic_upload[1]" value="">
                    </td>	
                    <td align=center width=125>
                        <img src={if $order.pic}{$order.pic}{else}"./images/graydot.gif"{/if} name="oth_pic[2]" width=120>
                        <br>
                        <input name="PHP_oth_pic[2]" type="file" onChange="cfm_img_2(2)" value="{$order.pic}" size=10>
                        <input type="hidden" name="PHP_oth_pic_upload[2]" value="">
                    </td>	 					
                    <td align=center width=125>
                        <img src={if $order.pic}{$order.pic}{else}"./images/graydot.gif"{/if} name="oth_pic[3]" width=120>
                        <br>
                        <input name="PHP_oth_pic[3]" type="file" onChange="cfm_img_2(3)" value="{$order.pic}" size=10>
                        <input type="hidden" name="PHP_oth_pic_upload[3]" value="">
                    </td>	 	
                    <td align=center width=125>
                        <img src={if $order.pic}{$order.pic}{else}"./images/graydot.gif"{/if} name="oth_pic[4]" width=120>
                        <br>
                        <input name="PHP_oth_pic[4]" type="file" onChange="cfm_img_2(4)" value="{$order.pic}" size=10>
                        <input type="hidden" name="PHP_oth_pic_upload[4]" value="">
                    </td>							
				</tr>
			</table>
		</td>
	</tr>
</table>	

<table border=0 cellspacing=0 cellpadding=2 width=690 bgcolor=#ffffff align=center>
    <tr>
        <td>
            <input type="hidden" name="PHP_action" value="do_order_add">
            <input type="hidden" name="PHP_back_str" value="{$back_str}">
            <input type="hidden" name="PHP_offer" value="{$offer}">
            <!--庫存訂單-->		
            <input type="hidden" name="PHP_stk_mk" value="{$stock_mk}">
            <input type="hidden" name="PHP_stk_des" value="{$stk_des}">
            <input type="hidden" name="PHP_org_ord" value="{$org_ord_num}">		
            <input type="hidden" name="PHP_spt" value="{$order.ie_time1}">		
            <input type="hidden" name="PHP_fty_cm" value="{$order.fty_cm}">			
            <input type="hidden" name="PHP_org_cm" value="{$order.org_cm}">			
            <input type=submit value="[ APPEND New Order record as above ]" class=select_e style="cursor:pointer; width=100%" onClick=this.width=0;></form>
        </td>
    </tr>
</table>
<!--------- footer ---------->
{include file="footer.html"}