<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>==== ::::::::::  ORDER LISTING :::::::::: ====</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">
function ord_out(ord_num) {
	//	alert("order number = "+ord_num);
	var url ="index2.php?PHP_action=order_output&PHP_ord_num="+ord_num;
	var nm = 'order';
	window.open(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=600 top=50, left=100');
}
function ord_pic(ord_num) {
	 var url ="monitor.php?PHP_action=saw_ord_pic&PHP_ord_num="+ord_num;
	 var nm = 'order';
	window.open(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=600 top=50, left=100');
}
function Show_ord_cost(id)
{
	var url ="cost_analysis.php?PHP_action=ord_cost_show&PHP_id="+id;
	var nm = 'cost';
	window.open(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=600 top=50, left=100');
}
</script>
{/literal}
</head>
<body topmargin="10">
<br>
<table width="820" border="0"  align="center" cellpadding="5" cellspacing="0" cols="1" bgcolor="#cccccc">
	<tr>
		<td align="center">
			<table border="1" cellspacing="0" cellpadding="4" cols="1" width="100%" bgcolor="#534A67">
				<tr>
					<td>
            <table width="100%" border="0" cellspacing="3" cellpadding="3">
              <tr>
              	<td class="des" align="left"width="100" title="{$note}">{$date}</td>
                <td class="des" align="center"><b>+++++++++ ORDER ANALYSIS LIST +++++++++</b></td></td>
                <td class="des" align="center"width="100" title="{$note}">SEARCH NOTE</td>
              </tr>
            </table>
				</tr>
			</table>
			<hr size="2" width="100%">
			<table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#CCCCCC">
				<tr bgcolor="#0D4368">
					<td rowspan="2" align="center" nowrap class="w9" title="訂單號碼"><font color="#FFFFFF">Order#</font></td>
          <td rowspan="2" align="center" nowrap class="w9" title="款式"><font color="#FFFFFF">Style</font></td>
          <td rowspan="2" align="center" nowrap class="w9" title="SU"><font color="#FFFFFF">SU</font></td>
					<td rowspan="2" align="center" nowrap class="w9" title="實際生產數量"><font color="#FFFFFF">Q'ty</font></td>
          {if $dept != 'HJ' && $dept != 'LY'}
          <td rowspan="2" align="center" nowrap class="w9" title="GM%"><font color="#FFFFFF">GM %</font></td>
          <td rowspan="2" align="center" nowrap class="w9" title="FOB * 實際生產數量"><font color="#FFFFFF">Sales</font></td>
          <td rowspan="2" align="center" nowrap class="w9" title="GM% * SALES"><font color="#FFFFFF">GM / USD</font></td>
          {/if}
					<td rowspan="2" align="center" nowrap class="w9" title="出口日"><font color="#FFFFFF">Shipped</font></td>
					<td rowspan="2" align="center" nowrap class="w9" title="結束生產日"><font color="#FFFFFF">Finish</font></td>
					<td colspan="3" align="center" nowrap class="w9">車縫生產貢獻值</td>
          <td rowspan="2" align="center" nowrap class="w9" title="廠商"><font color="#FFFFFF">Cust.</font></td>
					<td rowspan="2" align="center" nowrap class="w9" title="工廠"><font color="#FFFFFF">FTY</font></td>
           <td rowspan="2" align="center" nowrap class="w9" title="訂單狀態"><font color="#FFFFFF">Status</font></td>
				</tr>
				<tr bgcolor="#0D4368">
				  <td align="center" nowrap class="w9" title="訂單總生產日"><font color="#FFFFFF">Days</font></td>
				  <td align="center" nowrap class="w9" title="訂單每日生產工人加總數&#13;( person day )"><font color="#FFFFFF">Pn-day</font></td>
				  <td nowrap align="center" class="w9" title="工人每日生產貢獻值&#13;( contribution / person day )"><font color="#FFFFFF">Contri./pd</font></td>
			  </tr>
        {section name=SEC loop=$pages}
        <tr {$pages[SEC].tr}>
					<td class="gry9" align="center" nowrap><small><a href="javascript:ord_pic('{$pages[SEC].order_num}')" value='ord_out' style='cursor:pointer'>{$pages[SEC].order_num}</a></small></td>
					<td class="gry9" align="center" nowrap><small>{$pages[SEC].style}&nbsp;</small></td>
          <td class="gry9" align="right" nowrap><small>{$pages[SEC].tsu|number_format}&nbsp;</small></td>
          <td class="gry9" align="right" nowrap><small>{$pages[SEC].tqty|number_format}&nbsp;</small></td>
          {if $dept != 'HJ' && $dept != 'LY'}
          <td class="gry9" align="right" title="{$pages[SEC].gm} {$pages[SEC].stts}" nowrap><small><u><a href="javascript:Show_ord_cost('{$pages[SEC].id}')">{if $pages[SEC].gm}{$pages[SEC].gm|number_format:"2f"}{/if}&nbsp;</a></u></small></td>
          <td class="gry9" align="right" title="FOB * Q'ty&#13;{$pages[SEC].uprice} * {$pages[SEC].tqty} = {$pages[SEC].sales}" nowrap><small>${$pages[SEC].sales|number_format}&nbsp;</small></td>
          <td class="gry9" align="right" title="GM % * Salse&#13;{$pages[SEC].gm} * {$pages[SEC].sales} = {$pages[SEC].gmc}" nowrap><small>{if $pages[SEC].gmc}${$pages[SEC].gmc|number_format}{/if}&nbsp;</small></td>
          {/if}
					<td class="gry9" align="center" nowrap><small>{$pages[SEC].ship}&nbsp;</small></td>
					<td class="gry9" align="center" nowrap><small>{$pages[SEC].finish}&nbsp;</small></td>
					<td align="right" class="gry9" nowrap><small>{if $pages[SEC].day }{$pages[SEC].day}{/if}&nbsp;</small></td>
          <td align="right" class="gry9" nowrap><small>{if $pages[SEC].workers}{$pages[SEC].workers|number_format}{/if}&nbsp;</small></td>
          <td align="right" class="gry9" title="sales / person day&#13;{$pages[SEC].sales} / {$pages[SEC].workers} = {$pages[SEC].wv}&#13;平均:{$contri_s}" {if $contri_s > $pages[SEC].wv && $pages[SEC].status > 9 }bgcolor="#FFFF66"{/if}  nowrap><small>{if $pages[SEC].wv} ${$pages[SEC].wv|number_format:'2'}{/if}&nbsp;</small></td>
          <td align="center" class="gry9"  nowrap><b>{$pages[SEC].cust}&nbsp;</b></td>
					<td align="center" class="gry9"  nowrap><b>{$pages[SEC].factory}&nbsp;</b></td>
          <td align="center" class="gry9" title="ETD:{$pages[SEC].etd}" nowrap><b>{if $pages[SEC].status == '12'}SHIPPED{/if}{if $pages[SEC].status == '10'}FINISHED{/if}{if $pages[SEC].status == '8'}PRODUCING{/if}{if $pages[SEC].status == '7'}SCHDL CFMed{/if}&nbsp;</b></td>
				</tr>
				{/section}
        {if $dept != 'HJ' && $dept != 'LY'}
				<tr>
					<td colspan="15" bgcolor="#000000" height="1"></td>
				</tr>
				<tr bgcolor="#CCCCCC">
				  <td colspan="5" align="center" nowrap class="w9"><span class="gry9">SHIPPED</span></td>
				  <td align="right" nowrap bgcolor="#FFCCFF" class="w9" title="SUM(Salse) = {$sales_sum_s}"><font color="#FF0000">${$sales_sum_s|number_format}</font></td>
				  <td align="right" nowrap bgcolor="#FFCCFF" class="w9" title="SUM(GM/USD) = {$gmc_sum_s}"><font color="#FF0000">${$gmc_sum_s|number_format}</font></td>
				  <td align="right" nowrap bgcolor="#99FFFF" class="w9" title="SUM(GM/USD) / SUM(Salse) * 100 &#13;{$gmc_sum_s} / {$sales_sum_s} * 100 = {$m_sum_s}"><font color="#333333">{$m_sum_s|number_format}%</font></td>
				  <td align="center" nowrap class="w9">&nbsp;</td>
				  <td align="right" nowrap colspan="2" bgcolor="#FFCCFF" class="w9" title="SUM(Pn-day)"><font color="#FF0000">{$workers_s|number_format} (person day)</font></td>
				  <td align="right" nowrap bgcolor="#99FFFF" class="w9" title="SUM(sales) / SUM(person day)&#13;{$sales_sum_s} / {$workers_s} = {$contri_s}"><font color="#333333">${$contri_s|number_format}</font></td>
				  <td colspan="3" align="center" nowrap class="w9">&nbsp;</td>
			  </tr>
				<tr bgcolor="#FFFFFF">
				  <td colspan="5" align="center" nowrap bgcolor="#FFFFFF" class="w9"><span class="gry9">unSHIPPED</span></td>
				  <td align="right" nowrap bgcolor="#FFCCFF" class="w9" title="SUM(Salse) = {$sales_sum_p}"><font color="#FF0000">${$sales_sum_p|number_format}</font></td>
				  <td align="right" nowrap bgcolor="#FFCCFF" class="w9" title="SUM(GM/USD) = {$gmc_sum_p}"><font color="#FF0000">${$gmc_sum_p|number_format}</font></td>
				  <td align="right" nowrap bgcolor="#99FFFF" class="w9" title="SUM(GM/USD) / SUM(Salse) * 100 &#13;{$gmc_sum_p} / {$sales_sum_p} * 100 = {$m_sum_p}"><font color="#333333">{$m_sum_p|number_format}%</font></td>
				  <td colspan="7" align="center" nowrap bgcolor="#FFFFFF" class="w9">&nbsp;</td>
			  </tr>
        {/if}
			</table>
			<hr size=2 width=100%>
      {$note}
			<hr size=2 width=100%>
    </td>
  </tr>
</table>
<!--------- footer ---------->
{include file="footer.html"}