<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM -B [ ORDER RECORD ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/open_detial.js"></script>
<Script language="javascript">
function xxx(){alert('Sorry ! The ETP or ETD date is unreasonable.\r\r(ETP : before today at leaset. ETD : 20 days before today at least)\r\rPlease Reject this order to update it first');}

function xxx_qty(){alert('Sorry ! The Q\'ty  is unreasonable.\r\r( Q\'ty must more than 0) \r\rPlease Reject this order to update it first');}

function openRemote(file)
  {
 var gofile = 'index2.php?PHP_action=revise_order_view&PHP_id='+ file ;
window.open(gofile,'_new','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=740,height=600 top=30, left=100');
  }

function smpl_out2(smpl_num) {
	 var url ="index2.php?PHP_action=show_sample_det&PHP_smpl_num="+smpl_num;
	 var nm = 'sample';
	 window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width="800",height=600 top=50, left=100');
}

function Show_ord_wi(id) {
	 var url ='index2.php?PHP_action=wi_view&PHP_ex_order=1&PHP_id='+id+'&PHP_sr=&PHP_dept_code=&PHP_num=&PHP_cust=&PHP_etdstr=&PHP_etdfsh=&PHP_sch_fty=&PHP_un_fhs='; 	
	 var nm = 'Sworking';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width="800",height=600 top=50, left=100');
}

function Show_ord_ti(id) {
	 var url ='index2.php?PHP_action=wi_view&PHP_ex_order=1&PHP_ti=1&PHP_id='+id+'&PHP_sr=&PHP_dept_code=&PHP_num=&PHP_cust=&PHP_etdstr=&PHP_etdfsh=&PHP_sch_fty=&PHP_un_fhs='; 	
	 var nm = 'Sworking';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width="800",height=600 top=50, left=100');
}

function Show_ord_bom(id) {
	 var url ='index2.php?PHP_action=bom_view&PHP_ex_order=1&PHP_id='+id+'&PHP_sr=&PHP_dept_code=&PHP_etdfsh=&PHP_cust=&PHP_wi_num=&PHP_etdstr=&PHP_fty_sch=;'; 	
	 var nm = 'Sworking';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width="800",height=600 top=50, left=100');
}

function Show_batch_cost(id)
{
	 var url ='index2.php?PHP_action=ord_batch_cost&PHP_id='+id; 	
	 var nm = 'Sworking';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width="800",height=600 top=50, left=100');
}


</script>
 
{/literal}
</head>
{if $order.del_mk == 0}
<body >
{else}
<BODY  background="images/vline-516.jpg">

{/if}

<br>
<table align="center" cellspacing=1 cellpadding=4 cols=1 width="800" {if $order.del_mk == 0}bgcolor=#333333{else}bgcolor=#360303{/if} >
	<tr>
	  <td class="ylw10" align="center" height=28 width=150>
									{if $order.del_mk == 1}wait for DEL CFM 
	  							{elseif $order.del_mk == 2}<b>wait for DEL APV </b>
	  							{elseif $order.status == 0}wait for submit
									{elseif $order.status == 1}wait for submit</span>
									{elseif $order.status == 2}waitt'g for CFM</span>
									{elseif $order.status == 3}waitt'g for APV</span>
									{elseif $order.status == 4}<b>APVED</b></span>
									{elseif $order.status == 5}<span class=ssign><b>REJECT</b></span>
									{else}&nbsp;{/if}</td>
	  <td class="des" align="center" height=28 width=300>[ <span class=ylw10><b>ORDER</b></span> # ] --- <b>{$order.order_num}</b></td>
	  <td class="sign" align="center" width=150>
	   {if $order.revise > 0 }
			[ <b>REVISE</b> ] : <b><i><span class=ylw10>{$order.revise}</span></i></b>
	   {else}
			&nbsp;
	   {/if}
	  </td>
	</tr>
</table>
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width="800">
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align="center"><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
<table align="center" border=0 cellspacing=1 cellpadding=1 width="800" {if $order.del_mk == 0}bgcolor=#FFFFFF{else}bgcolor=#FEFFD6{/if}>
   <tr>   	
    {if $order.fellow_ord}    
    	<td colspan=4 class=sign align=left bgcolor="#FFFFE6">
    		Fellow up ORD#:
    		<b>{section name=SEC loop=$order.fellow_ord}<a href="javascript:show_order_rec('','{$order.fellow_ord[SEC].ord_new}')" >{$order.fellow_ord[SEC].ord_new}</a>&nbsp;{/section}</b>    	   
    {elseif $order.carry_ord}
    	<td colspan=4 class=sign align=left bgcolor="#FFFFE6">
    		Carry ORD#:
    		<b>{section name=SEC loop=$order.carry_ord}<a href="javascript:show_order_rec('','{$order.carry_ord[SEC].ord_org}')" >{$order.carry_ord[SEC].ord_org}</a>&nbsp;{/section}</b>    	       
    {else}
    	<td colspan=4 class=sign align=left>
    		&nbsp;
    {/if}
     </td>
    <td colspan=4 class=frnt align=right><b>currency : US$&nbsp;&nbsp;&nbsp;</b></td>
  </tr>
  <tr>
    <td colspan=8 class=grn10 align=left><b>Customer PO# : &nbsp;&nbsp;{section name=SEC loop=$order.cust_po}{$order.cust_po[SEC]}/{/section}</b></td>
  </tr>
   <tr>
    <td colspan=8 class=frnt align="center"><hr size=2 width=98%></td>
  </tr>
 <tr><form method=POST name=add_order >
    <td class=snvy align=right nowrap><b>style No. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b><small>&nbsp;{$order.style_num}</small></b></td>
    <td class=snvy align=right nowrap><b>Customer :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.cust_iname}</b></td>
    <td class=snvy align=right nowrap><b>customer ref. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b><small>&nbsp;{$order.ref}</small></b></td>
    <td class=snvy align=right nowrap><b>Team :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.dept}</b></td>
 </tr>
 <tr>
    <td class=snvy align=right nowrap><b>factory :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.factory}</b></td>
    <td class=snvy align=right nowrap><b>style :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.style}</b></td>
    <td class=snvy align=right nowrap><b>Q'ty :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.qty|number_format}&nbsp;{$order.unit}</b></td>
    <td class=snvy align=right nowrap><b>SU :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.f_su|number_format}</b></td>
  </tr>
 <tr>
    <td class=snvy align=right nowrap><b>FOB @ :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;$ {$order.uprice}</b></td>
    <td class=snvy align=right nowrap><b>Quota Cat. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.quota}</b></td>
    <td class=snvy align=right nowrap><b>smpl ord #:</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><a href="javascript:smpl_out2('{$order.smpl_ord}')" value='ord_out' style='cursor:pointer'><b><small>&nbsp;{$order.smpl_ord}</small></b></a></td>
    
	{if $is_factory == 1}
		{if $account_dept == $order.dept}
		<td class=snvy align=right nowrap><b>calc. IE :</b></td>
		<td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.ie1}</b></td>
		{else}
		<td class=snvy align=right nowrap><b>final IE :</b></td>
		<td class=grn10 align=left nowrap bgcolor=#dddddd><b>&nbsp;{$order.ie2}</b></td>
		{/if}
		
	{else}
	<td class=snvy align=right nowrap><b>calc. IE :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;{$order.ie1}</b></td>
	{/if}
	
	
	
  </tr>
 <tr>
  <td class=snvy align=right nowrap><b>pattern # :</b></td>
	<td class=b10 align=left nowrap bgcolor=#dddddd ><b>&nbsp;{$order.patt_num}</b></td>	
  <td class=snvy align=right nowrap>&nbsp;</td>
	<td class=b10 align=left nowrap  >&nbsp;</td>	

	<td class=snvy align=right nowrap><b>sample APV. :</b></td>
	<td class=b10 align=left nowrap bgcolor=#dddddd ><b>&nbsp;{if $order.smpl_apv == '0000-00-00'}not apv{else}{$order.smpl_apv}{/if}</b></td>
	
	{if $is_factory == 1}
		{if $account_dept == $order.dept}
		<td class=snvy align=right nowrap><b>final IE :</b></td>
		<td class=grn10 align=left nowrap bgcolor=#dddddd><b>&nbsp;{$order.ie2}</b></td>
		{else}
		<td class=snvy align=right nowrap><b></b></td>
		<td class=grn10 align=left nowrap><b></b></td>
		{/if}
		
	{else}
	<td class=snvy align=right nowrap><b>final IE :</b></td>
	<td class=grn10 align=left nowrap bgcolor=#dddddd><b>&nbsp;{$order.ie2}</b></td>
	{/if}
	
  </tr>
  <tr>
 <tr>
  <td class=snvy align=right nowrap><B>season : </B></td>
	<td class=b10 align=left nowrap  ><b>{$order.syear}&nbsp;{$order.season}</b></td>	
  <td class=snvy align=right nowrap>&nbsp;</td>
	<td class=b10 align=left nowrap  >&nbsp;</td>	

	<td class=snvy align=right nowrap><b>Production Line :</b></td>
	<td class=b10 align=left nowrap bgcolor=#dddddd ><b>&nbsp;{if $order.line_sex == 'F'}Woman{elseif $order.line_sex == 'M'}Man{else}Ann{/if}</b></td>
  <td class=snvy align=right nowrap><b>Agnet :</b></td>
	<td class=b10 align=left nowrap bgcolor=#dddddd ><b>&nbsp;{$order.agent}</b></td>	

  </tr>
    <td colspan=8 class=frnt align="center"><hr size=2 width=98%></td>
  </tr>
<!--  <tr>
    <td class=snvy align=right nowrap><b>ETD :</b></td>
	<td class=b10 align=left nowrap bgcolor=#dddddd><b>&nbsp;{$order.etd}</b></td>
	<td class=snvy align=right nowrap><b>ETP. :</b></td>
	<td class=b10 align=left nowrap bgcolor=#dddddd><b>&nbsp;{$order.etp}</b></td>
	<td colspan=3 class=snvy align=right nowrap><b>est. Lead Time :</b></td>
	<td class=grn10 align=left nowrap bgcolor=#dddddd><b>&nbsp;{$lead_time} days</b></td>
  </tr> -->
	{if $order.partial_num == 0}
	<tr>
		<td class="snvy" align="right" nowrap><b>ETD :</b></td>
		<td  class="b10" align="left"  bgcolor="#dddddd" nowrap>
			<div id="etd_view" style="display:block;" >			
				<b>&nbsp;{$order.etd}</b>
			</div>	
			<div id="etd_edit" style="display:none;">	  	  
				<input type="text" name="PHP_etds" size="8" class="select" value="{$order.etd}" readonly> 
				<img align='top' onmousedown="javascript:Cal(document.do_edit.PHP_etds,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand'>    
			</div>
		</td>	
		<td class="snvy" align="right" nowrap><b>ETP :</b></td>
		<td colspan="2" class="b10" align="left" nowrap bgcolor="#dddddd">
			<div id="etp_view" style="display:block;" >
				<b>&nbsp;{$order.etp}</b>
				{if $order.status > 1 && $order.status <> 5 && $order.status < 10 && $edit_flag && $dept_edit}
					<span style="cursor:hand" onClick="etd_edit.style.display='block';etp_edit.style.display='block';etd_view.style.display='none';etp_view.style.display='none'">&nbsp;&nbsp;<img src="images/Add.gif" alt="Edit ETD" border=0 valign="bottom"> </span>
				{/if}
			</div>
			<div id="etp_edit" style="display:none;">		  
				<input type="text" name="PHP_etp" size="8" class="select" value="{$order.etp}" readonly> 
				<img align='top' onmousedown="javascript:Cal(document.do_edit.PHP_etp,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand'>    
				<input type=submit value="[ EDIT ]" class="select_e" width=50 >
				<input type="hidden" name="PHP_action" value="do_etd_edit">
				<input type="hidden" name="PHP_dept_code" value="{$order.dept}">
				<input type="hidden" name="PHP_cust" value="{$order.cust}">
				<input type="hidden" name="PHP_status" value="{$order.status}">
				<input type="hidden" name="PHP_su" value="{$order.su}">	 
				<input type="hidden" name="PHP_fty" value="{$order.factory}">
				<input type="hidden" name="PHP_ord_num" value="{$order.order_num}">
				<input type="hidden" name="PHP_id" value="{$order.id}">	         
			</div>
		</td>
	</tr>
	{else}
	<tr>
		<td colspan="6" class="snvy" align="left" nowrap><b>Partial shipment :</b></td>
		<td class="snvy" align="right" nowrap><b>est. Lead Time :</b></td>
		<td class="grn10" align="left" nowrap bgcolor="#dddddd" ><b>&nbsp;{$lead_time} days</b></td>	
	</tr>
	{section name=SHP loop=$order.ps_qty}	
	<tr>
		<td colspan="2" class="snvy" align="right" nowrap>
			<b>
			{if $order.ct >= 1}
			({$order.mks[SHP]}) &nbsp;
			<div id="remark_view_{$smarty.section.SHP.index}" style="display:inline;" ><b>&nbsp;{$order.ps_remark[SHP]}</b></div>	                
			<div id="remark_edit_{$smarty.section.SHP.index}" style="display:none;">	  	  
				<input type="text" name="PHP_remarks" size="8" class="select" value="{$order.ps_remark[SHP]}">
			</div>                
			{/if}
			</b>
		</td>
		<td class="snvy" align="right" nowrap><b>ETD :</b></td>
		<td class="b10" align="left" bgcolor="#dddddd" nowrap>
			<b>&nbsp;{$order.ps_etd[SHP]}</b>
		</td>	
		<td class="snvy" align="right" nowrap><b>ETP :</b></td>
		<td class="b10" align="left" nowrap bgcolor="#dddddd">
			<b>&nbsp;{$order.ps_etp[SHP]}</b>
		</td>
		<td class="snvy" align="right" nowrap><b>QTY :</b></td>
		<td class="grn10" align="left" nowrap bgcolor="#dddddd"><b>&nbsp;{$order.ps_qty[SHP]|NUMBER_FORMAT} </b></td>			
	</tr>		
	{/section}
	{/if}
  <tr>
	
	<td><hr size=2 width=96%></td>
	<td class=bgdy align="center"><i><b>picture</b></i></td>
	<td><hr size=2 width=96%></td>
	<td colspan=2><hr size=2 width=96%></td>
	<td class=bgdy align="center"><i><b>unit cost :</b></i></td>
	<td colspan=2 ><hr size=2 width=96%></td>
  </tr>

 <tr>

        <td align="center" class=head valign=top rowspan=18 colspan=3>
			<table width=190 border=1 cellspacing=0 cellpadding=1>
				<tr><td align="center"><input type="image" src="{$main_pic}" name="pic" width=190 border="0" onclick='window.open2("{$main_pic}","","resizable=yes,height=640,width=480")'></td></tr>
			</table>
		</td>

    <td class=snvy align=right nowrap colspan=3><b>main fabric volume required per unit  :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=2><b>&nbsp; {$order.mat_useage} {if $order.lots_unit} {$order.lots_unit}{/if}</b></td>
  </tr>
 <tr>	
    <td class=snvy align=right nowrap colspan=4><b>main fabric unit price :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;$ {$order.mat_u_cost}</b></td>
 </tr>
 <tr>	
    <td class=snvy align=right nowrap colspan=4><b>Fusible unit price :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd nowrap><b>&nbsp;$ {$order.fusible}</b></td>
 </tr>
 <tr>	
    <td class=snvy align=right nowrap colspan=4><b>Interlining unit price :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd nowrap><b>&nbsp;$ {$order.interline}</b></td>
 </tr>
 <tr>
    <td class=snvy align=right nowrap colspan=4><b>accessory cost per unit :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;$ {$order.acc_u_cost}</b></td>
 </tr>
 <tr>
    <td class=snvy align=right nowrap colspan=4><b>quota charge per unit [if any] :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;$ {$order.quota_fee}</b></td>
  </tr>
 <tr>
    <td class=snvy align=right nowrap colspan=4><b>commission per unit [if any] :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;$ {$order.comm_fee}</b></td>
 </tr>
 <tr>
    <td class=snvy align=right nowrap colspan=4><b>C.M. estimate per unit [by sales] :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><b>&nbsp;$ {$order.cm}</b></td>
  </tr>
  <tr>
	<td colspan=5 class="frnt" align="center"><hr size=2 width=98%></td>
  </tr>
  <tr>
	<td class="snvy" align="right" nowrap colspan=4><b>C.M. estimate per unit [by IE] :</b></td>
	<td class="bgdy" align="left" bgcolor="#dddddd" nowrap><b>&nbsp;$ {$order.cm2|number_format:"2f"}</b></td>
  </tr>
  <tr>
	<td class="snvy" align="right" nowrap colspan=4><b>FTY-C.M. per unit :</b></td>
	<td class="bgdy" align="left" bgcolor="#dddddd" nowrap><b>&nbsp;$ {$order.fty_cm|number_format:"2f"}</b></td>
  </tr>
  <tr>
	<td class="snvy" align="right" nowrap colspan=4><b>Handling Fee :</b></td>
	<td class="bgdy" align="left" bgcolor="#dddddd" nowrap><b>&nbsp;$ {$order.handling_fee|number_format:"2f"}</b></td>
  </tr>

  <tr>
	<td><hr size=2 width=96%></td>
	<td colspan=2 class=bgdy align="center"><i><b>special treatment cost :</b></i></td>
	<td colspan=2 ><hr size=2 width=96%></td>
  </tr>
 <tr>
	<td>&nbsp;</td>
    <td class=snvy align=right nowrap><b>embroidery :</b></td>
	<td class=bgdy align=left bgcolor=#dddddd><b>$&nbsp;{$order.emb}</b></td>
	<td colspan=2>&nbsp;</td>
 </tr>
 <tr>
	<td>&nbsp;</td>
    <td class=snvy align=right nowrap><b>garment wash :</b></td>
	<td class=bgdy align=left bgcolor=#dddddd><b>$&nbsp;{$order.wash}</b></td>
	<td colspan=2>&nbsp;</td>
  </tr>
 <tr>
	<td>&nbsp;</td>
    <td class=snvy align=right nowrap><b>other treatment :</b></td>
	<td class=bgdy align=left bgcolor=#dddddd><b>$&nbsp;{$order.oth}</b></td>
{if $order.oth_treat}
    <td colspan=2 class=snvy align=left nowrap colspan=4 bgcolor=#dddddd><i><b>for</b>:<small>{$order.oth_treat}</small></i></td>
{else}
	<td colspan=2>&nbsp</td>
{/if}
  </tr>
  <tr>
    <td colspan=5 class=frnt align="center"><hr size=2 width=98%></td>
  </tr>
 <tr>
    <td class=snvy align=right nowrap colspan=3><b>est. Total Sales :</b></td>
    <td class=bgdy align=left><b>&nbsp;</b></td>
    <td class=grn10 align=right nowrap><b>$ {$order.sales|number_format:2}</b></td>
  </tr>
  <tr>
    <td class=snvy align=right nowrap colspan=6><b>est. Total Cost of good sold :</b></td>
    <td class=bgdy align=left><b>&nbsp;</b></td>
    <td class=grn10 align=right><b>$ {$order.grand_cost|number_format:2}</b></td>
  </tr>
  <tr>
    <td class=snvy align=right nowrap colspan=6><b>unit cost :</b></td>
    <td class=grn10 align=right nowrap><b>@ $ {$order.unit_cost|number_format:2}</b></td>
    <td class=bgdy align=left><b>&nbsp;</b></td>
  </tr>
  <tr>
    <td class=snvy align=right nowrap colspan=6><b>sample cost :</b></td>
    <td class=grn10 align=right bgcolor=#dddddd><b>$ {$order.smpl_fee}</b></td>
    <td class=bgdy align=left><b>&nbsp;</b></td>
  </tr>

  <tr>
    <td colspan=8 class=frnt align="center"><hr size=2 width=98%></td>
  </tr>
<tr>
	<td class=snvy align=right nowrap colspan=6><b>estimate Gross Margin :</b></td>
    <td class=bgdy align=left><b>&nbsp;</b></td>
    <td class=grn10 align=right><b>$ {$order.gm|number_format:2}</b></td>
</tr>
<tr>
    <td class=snvy align=right nowrap colspan=6><b>G.M. rate :</b></td>
    <td class=bgdy align=left><b>&nbsp;</b></td>
    <td class=bgdy align=right><b>{$order.gm_rate|number_format:2} %</b></td>
</tr>

<tr>
	 <td colspan=8 class=grn10 align=left><b>&nbsp;&nbsp;{if $order.last_updator}SUBMIT by : 
    	<a href="javascript:message_out('{$order.last_updator_id}')" style="cursor:pointer">{$order.last_updator}</a>					
    	<small> [ {$order.last_update} ]</small>{/if}
   </b></td>
</tr>
 
  <tr>
    <td colspan=8 class=frnt align="center"><hr size=2 width=98%></td>
  </tr>
</table>



<table border=0 cellspacing=0 cellpadding=0 align="center" width="800">
  <tr>
	     <td class=snvy align=right width=60><b>BOM : </b></td>
	{if $order.bom_date == '0000-00-00' ||  $order.bom_date == ''}
	    <td class=snvy align=left><b><span class=bgdy>&nbsp; N/A</span></b></td>
	{else}
    <td class=snvy align=left width=140>&nbsp; <b>
       <a href="javascript:Show_ord_bom('{$order.wi_id}')" value='ord_out' style='cursor:pointer'>{$order.bom_date}</a>  	 	 
    
       &nbsp;&nbsp;&nbsp; 
       <a href="javascript:po_bom_view('{$order.order_num}','x')" value='purchase_out' style='cursor:pointer'><b>status</b></a>  	 	 
    
       </b>
    </td>
    <td>
       <a href="javascript:Show_batch_cost('{$order.wi_id}')" value='ord_out' style='cursor:pointer'><img src='./images/bath_cost.gif' border=0 ALT="Batch Cost"></a>  	 	    
    </td>

	{/if}


     <td class=snvy align=right width=100><b>WorkSheet : </b></td>
	{if $order.ws_date == '0000-00-00' ||  $order.ws_date == ''}
	    <td class=snvy align=left width=80><b><span class=bgdy>&nbsp; N/A</span></b></td>
	{else}
  	  <td class=snvy align=left width=80>&nbsp; <b>
        <a href="javascript:Show_ord_ti('{$order.wi_id}')" value='ord_out' style='cursor:pointer'>{$order.ws_date}</a>  	 	 
  	  </b></td>
	{/if}

     <td class=snvy align=right width=120><b>Working Instruction : </b></td>
	{if $order.wi_date == '0000-00-00' ||  $order.wi_date == ''}
	    <td class=snvy align=left width=80><b><span class=bgdy>&nbsp; N/A</span></b></td>
	{else}
  	  <td class=snvy align=left width=80>&nbsp; <b>
        <a href="javascript:Show_ord_wi('{$order.wi_id}')" value='ord_out' style='cursor:pointer'>{$order.wi_date}</a>  	 	 
  	  </b></td>
	{/if}

  </tr>
</table>


<table border=0 cellspacing=1 cellpadding=1 width="800" align="center">
  <tr bgcolor=#333333 >
	<td width=25% class=w9><b>&nbsp;OPEN by :</b> 
		<a href="javascript:message_out('{$order.creator_id}')" style="cursor:pointer"><span class=ylw10>{$order.creator}</span></a>					
		-[{$order.opendate}]</td>
	<td width=25% class=w9>{if $order.cfmer}&nbsp;<b>CFM by : </b>
		<a href="javascript:message_out('{$order.cfmer_id}')" style="cursor:pointer"><span class=ylw10>{$order.cfmer}</span></a>					
		-[{$order.cfm_date}]{else}&nbsp;{/if}</td>
	<td width=25% class=w9>{if $order.rev_user}&nbsp;<b>REV by : </b>
		<a href="javascript:message_out('{$order.cfmer_id}')" style="cursor:pointer"><span class=ylw10>{$order.rev_user}</span></a>					
		-[{$order.rev_date}]{else}&nbsp;{/if}</td>
	<td width=25% class=w9>{if $order.apver}&nbsp;<b>APV by : </b>
		<a href="javascript:message_out('{$order.apver_id}')" style="cursor:pointer"><span class=ylw10>{$order.apver}</span></a>					
		-[{$order.apv_date}]{else}&nbsp;{/if}</td>
	</td>
  <tr>
    <td colspan=3 class=frnt align="center"><hr size=2 width=98%></td>
  </tr>
</table>
<!---------- SHOW 瞼X 瞻@穡ンq糧瞈甄史簞O聶嚙? -->  
{if $log_records}
	<table border=1 cellspacing=1 cellpadding=1 width="800" align="center">
	  <tr bgcolor=#666666 >
	   <td width=160 class=w10 align="center">DateTime</td>
	   <td width=350 class=w10 align="center">History records</td>
	   <td width=85 class=w10 align="center">by</td>
	  </tr>
	 {section name=SEC loop=$logs}
	  <tr bgcolor=#eeeeee >
	   <td class=gry9 align="center">{$logs[SEC].k_time}</td>
	   <td class=gry9 align=left>{$logs[SEC].des}</td>
	   <td class=gry9 align="center">{$logs[SEC].user}</td>
	  </tr>
	{/section}
	</table>
{/if}
<!---------- END SHOW   -->  

<table border=0 cellspacing=1 cellpadding=1 width="800" align="center">
  <tr bgcolor=#333333 >
	<td width="100" align="center" class=w9><b>Combine Order</b></td>
	<td class=w9>{$combine}</td>
  </tr>
  <tr>
    <td colspan=2 class=frnt align="center"><hr size=1 width=98% /></td>
  </tr>
</table>

<table border=0 cellspacing=0 cellpadding=0 width="800" {if $order.del_mk == 0}bgcolor=#FFFFFF{else}bgcolor=#FEFFD6{/if} align="center">
  {if $order.del_mk > 0}<tr><td colspan=5 align="center"><b><font color=red>* Deleting Order</font></b></td></tr>{/if}
  <tr>
	<td valign=top width=62><form method=POST name=back>
{if $back_str}
		<input type=button onClick="window.location.href='{$back_str}'" value=" << back " class=select_e style="cursor:pointer; width=60; height=40"></form>
{else}&nbsp;
{/if}
	</td>
{if $add_flag}
	<td width=62 valign=top><form method=POST name=cfm action=order.php>
	{if $order.del_mk == 0}
		<input type="hidden" name="PHP_action" value="do_order_apv">
	{else}
		<input type="hidden" name="PHP_action" value="order_del_APV_bysales" />
	{/if}		
		
		<input type="hidden" name="PHP_qty" value="{$order.qty}">
		<input type="hidden" name="max_rec" value="{$max_rec}">
		<input type="hidden" name="per_page" value="{$per_page}">
		<input type="hidden" name="PHP_sr_startno" value="{$PHP_sr_startno}">
		<input type="hidden" name="PHP_su" value="{$order.su}">		
		<input type="hidden" name="PHP_etd" value="{$order.etd}">
		<input type="hidden" name="PHP_etp" value="{$order.etp}">
		<input type="hidden" name="PHP_QTY" value="{$order.qty}" />
		<input type="hidden" name="PHP_order_num" value="{$order.order_num}">
		<input type="hidden" name="PHP_id" value="{$order.id}">
		<input type="hidden" name="PHP_factory" value="{$order.factory}">
		<input type="hidden" name="PHP_back_str" value="{$back_str2}">
		<input type="hidden" name="PHP_style" value="{$order.style}">
		<input type="hidden" name="PHP_status" value="{$order.status}">
		
		<input type="hidden" name="PHP_stk_ord" value="{if $order.carry_ord}1{else}0{/if}" />

		<input type=submit value="APV ok" class=select_e style="cursor:pointer; width=60; height:40"
		{if $order.qty < 1 && $order.del_mk == 0 }onClick="xxx_qty();"{elseif ($order.etp < $check_etp || $order.etd < $check_etd) && $order.del_mk == 0 && $order.carry_ord == ''}onClick="xxx();"{else}&nbsp;{/if}></form>
	</td>
	
	
	<td class=gry10 align=right valign=middle width=65>remark:</td>
	<td class=gry10 valign=top><form method=POST name=reject action=order.php>
	    <textarea name="PHP_detail" rows=2 cols=60 class=select>{$order_log.des}</textarea>
	{if $order.del_mk == 0}
		<input type="hidden" name="PHP_action" value="reject_order_apv">
	{else}
		<input type="hidden" name="PHP_action" value="order_del_APV_reject" />
	{/if}
		
		<input type="hidden" name="max_rec" value="{$max_rec}">
		<input type="hidden" name="per_page" value="{$per_page}">
		<input type="hidden" name="PHP_sr_startno" value="{$PHP_sr_startno}">
		<input type="hidden" name="PHP_id" value="{$order.id}">
		<input type="hidden" name="PHP_order_num" value="{$order.order_num}">
		<input type="hidden" name="PHP_back_str" value="{$back_str2}">
		<input type=submit value=" reject " class=select_e style="cursor:pointer; width=60; height=40" onClick=this.width=0;></form>
	</td>
{/if}
  </tr>
</table>
<!--------- footer ---------->
{include file="footer.html"}
