<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>==== ::::::::::  ORDER LISTING :::::::::: ====</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">
 function tp(url) { parent.top.location.href=url }	
 function cfm(id,num,status,cust,dept,ord_num,ref,fty,pg,po) {
	if ( confirm("確定要刪除"+num+"??")) {
		location.href="index2.php?PHP_action=order_del&PHP_id="+id+"&PHP_num="+num+"&PHP_status="+status+"&PHP_cust="+cust+"&PHP_dept_code="+dept+"&PHP_order_num="+ord_num+"&PHP_ref="+ref+"&PHP_factory="+fty+"&PHP_sr_startno="+pg+"&SCH_po="+po;
	}
 }
 
function refreshIt()  {
	if (!document.images) return;
	{/literal}
	
  {section name=SEC loop=$ord_pic} 
  	{section name=DET loop=$ord_pic[SEC]}
  		pics_{$ord_pic[SEC][DET].id}.src = '{$ord_pic[SEC][DET].main_pic}?'+ Math.random();	
  	{/section}
  {/section}	
	{literal}
} 

function open_order(id)
{
	location.href='index2.php?PHP_action=order_view&PHP_id='+id;
  alert(id);
}
</script>
{/literal}
</head>
<body bgcolor="#003C77" topmargin=10 {if $SCH_pic == 0}onLoad="refreshIt();"{/if}><form>
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=720>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
{if $SCH_pic == 0 || $SCH_pic == 2}
 <table width=800 border=1 cellspacing=0 cellpadding=2>
  <tr><td colspan=15 align=center class=gry><b>ORDER LIST</b></td></tr>
  <tr bgcolor="#0D4368"> 
  	{if $SCH_pic == 2}
  	<td class=w9 width=65 align=center>picture</td>
  	{/if}
    <td class=w9 width=65 align=center>order#</td>
    <td class=w9 width=60 align=center>cust.</td>
    <td class=w9 width=60 align=center>style#</td>
    <td class=w9 width=80 align=center>ETD</td>
    <td class=w9 width=80 align=center>ETP</td>
    <td class=w9 width=70 align=center>q'ty</td>
{if $non_cost <> 1}
    <td class=w9 width=50 align=center>u/price</td>
    <td class=w9 width=50 align=center>G.M.%</td>
{/if}    
    <td class=w9 width=20 align=center>FTY</td>
    <td class=w9 width=110 align=center>status</td>
    <td class=w9 width=20 align=center>WI</td>
    <td class=w9 width=20 align=center>WS</td>
    <td class=w9 width=20 align=center>BOM</td>
    {if $del_flag}
    <td class=w9 align=center>del</td>
    {/if}
  </tr>
{section name=SEC loop=$sorder}
{if $sorder[SEC].status > 5}
  <tr bgColor='#dddddd'></a>
{elseif $sorder[SEC].del_mk > 0}
	<tr bgColor='#B6ADA0'></a>
{else}
  <tr onmouseover="bgColor='#FCF4A4'" onmouseout="bgColor='#ffffff'"></a>
{/if}
	 {if $SCH_pic == 2}	
   <td class=w9 align=center>    	
    	<img src="{$sorder[SEC].main_pic}" name="pic_{$ord_pic[SEC][DET].id}" id="pics_{$ord_pic[SEC][DET].id}" style="cursor:pointer;" width=35 border="0" onclick="window.location='{$PHP_SELF}?PHP_action=order_view&PHP_id={$ord_pic[SEC][DET].id}'">
   </td>
   {/if}
<!--*****--2006.11.16頁碼新增 start	  -->
   <td class=gry9 align=center nowrap><small><a href="{$PHP_SELF}?PHP_action=order_view&PHP_id={$sorder[SEC].id}">{$sorder[SEC].order_num}</a></small></td>
<!--*****--2006.11.16頁碼新增 end	  -->   
   <td class=gry9 align=center><small>{$sorder[SEC].cust_iname}&nbsp;</small></td>
   <td class=gry9 align=center><small>{$sorder[SEC].style_num}&nbsp;</small></td>
   <td class=gry9 align=center><small>{$sorder[SEC].etd}</small></td>
   <td class=gry9 align=center><small>{$sorder[SEC].etp}</small></td>
   <td class=gry9 align=center><small>{$sorder[SEC].qty}&nbsp;{$sorder[SEC].unit}</small></td>
{if $non_cost <> 1}
   <td class=gry9 align=center><small>$ {$sorder[SEC].uprice}</small></td>
   <td class=bgdy9 align=center><small>{$sorder[SEC].gmr|number_format:"2f"} %</small></td>
{/if}   
   <td class=gry9 align=center><b>{$sorder[SEC].factory}</b></td>
   <td class=gry9 align=center><small>{if $sorder[SEC].status == -2}<span class=b9><b>DELETED</b></span>
   								{elseif $sorder[SEC].del_mk == 1}Waiting for DEL CFM
   								{elseif $sorder[SEC].del_mk == 2}Waiting for DEL APV
   								{elseif $sorder[SEC].del_mk == 10}Waiting for DEL Review
   								{elseif $sorder[SEC].status == 0}Waiting for IE
   								{elseif $sorder[SEC].status == -2}<span class=b9><b>DELETED</b></span>
									{elseif $sorder[SEC].status == 1}<span class=ssign>Waiting for Submit</span>
									{elseif $sorder[SEC].status == 2}<span class=bgdy9>Waiting for Confirm</span>
									{elseif $sorder[SEC].status == 13}<span class=ssign>Waiting for Review</span>
									{elseif $sorder[SEC].status == 3}<span class=grn9>Waiting for Approval</span>
									{elseif $sorder[SEC].status == 4}<span class=b9><b>APPROVAL</b></span>
									{elseif $sorder[SEC].status == 5}<span class=ssign><b>REJECT</b></span>
									{elseif $sorder[SEC].status == 6}<span class=gry9><b>SCHDL CFMing</b></span>
									{elseif $sorder[SEC].status == 7}<span class=b9><b>SCHDL CFMed</b></span>
									{elseif $sorder[SEC].status == 8}<span class=b9><b>PRODUCING</b></span>
									{elseif $sorder[SEC].status == 10}<span class=b9><b>= FINISHED =</b></span>
									{elseif $sorder[SEC].status == 12 && $sorder[SEC].close_status == 0}<span class=b9><b>== SHIPPED ==</b></span>
									{elseif $sorder[SEC].status == 12 && $sorder[SEC].close_status == 4}<span class=b9><b>== CLOSED ==</b></span>
									{elseif $sorder[SEC].status == 14}<span class=ssign><b>==未出貨，異常！==</b></span>
									{else}&nbsp;{/if}
									</small></td>
    <td align=center>&nbsp;{if $sorder[SEC].wi_date && $sorder[SEC].wi_date <> '0000-00-00 00:00:00'}<img src="images/yes.gif" border=0 width=15 valign=bottom  style="cursor:pointer">{/if}</td>
    <td align=center>&nbsp;{if $sorder[SEC].ti_date && $sorder[SEC].ti_date <> '0000-00-00'}<img src="images/yes.gif" border=0 width=15 valign=bottom  style="cursor:pointer">{/if}</td>
    <td align=center>&nbsp;{if $sorder[SEC].bom_date && $sorder[SEC].bom_date <> '0000-00-00 00:00:00'}<img src="images/yes.gif" border=0 width=15 valign=bottom  style="cursor:pointer">{/if}</td>

	{if $del_flag}
	<td class=w9 align=center>&nbsp;                                                       
   		<a href="javascript:cfm('{$sorder[SEC].id}','{$sorder[SEC].order_num}','{$sorder[SEC].status}','{$cgi.cust}','{$cgi.dept}','{$cgi.order_num}','{$cgi.ref}','{$cgi.factory}','{$cgi.po}','{$now_pp}')" value="Delete" style="cursor:pointer"><img src="images/del.gif" alt="Delete" border=0 valign=bottom></a>
  </td>
  {/if}
  </tr>
  {/section}
</table>
{else}
 <table width=720 border=1 cellspacing=0 cellpadding=2>
  <tr><td colspan=14 align=center class=gry><b>ORDER LIST by Picture</b></td></tr>
  {section name=SEC loop=$ord_pic}
  <tr> 
  	{section name=DET loop=$ord_pic[SEC]}
    <td class=w9 width=65 align=center>    	
    	<img src="{$ord_pic[SEC][DET].main_pic}" name="pic_{$ord_pic[SEC][DET].id}" id="pics_{$ord_pic[SEC][DET].id}" style="cursor:pointer;" width=160 border="0" onclick="window.location='{$PHP_SELF}?PHP_action=order_view&PHP_id={$ord_pic[SEC][DET].id}'">
    	<BR><a href="{$PHP_SELF}?PHP_action=order_view&PHP_id={$ord_pic[SEC][DET].id}">{$ord_pic[SEC][DET].order_num}</a>
    </td>
    {/section}
	</tr>
	{/section}
</table>
{/if}
<br>
<table width=660 border=0 cellspacing=0 cellpadding=1>
  <tr>
    </td>
    <td class=w9 colspan=4 align=center><span class=bgdy>※ message </font>:above list {section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]} &nbsp;{/section}&nbsp;order record!&nbsp;&nbsp;<span class=bgdy>[ total {$max_no} entries ]</font>
    </td>
  </tr>
  <tr>
    <td align=center width=180><form name="form5" method="post">
<!--*****--2006.11.16頁碼新增 start	  -->  
{if $pages[0] > 1}
          <input type="button" name="Submit5" value=" < prev 10-page" class=select_e style="cursor:pointer; width:90%" onClick="window.location='index2.php?PHP_action=order_search&PHP_sr_startno=p{$pages[0]}'">
{/if}
    &nbsp;
	</td>
	<td align=center width=260>
    
    {section name=PGE loop=$pages}
    {if $pages[PGE] <= $maxpage }
    {if $pages[PGE] == $now_pp}
    <font color="#FF0000"><i><b>&nbsp;{$pages[PGE]}</b></i></font>
    {else}
    <a href="index2.php?PHP_action=order_search&PHP_sr_startno={$pages[PGE]}" style="cursor:pointer">&nbsp;{$pages[PGE]}</a>
    {/if}
    {/if}   
    {/section}
    &nbsp;</td>
    <td  align=center width=180>
{if $lastpage < $maxpage}
          <input type="button" name="Submit6" value="next 10 -page >" class=select_e style="cursor:pointer; width:90%" onClick="window.location='index2.php?PHP_action=order_search&PHP_sr_startno=n{$lastpage}'">
{else}&nbsp;
{/if}
<!--*****--2006.11.16頁碼新增 end	  -->
    </td></form>
{if $non_cost <> 1}
	<td align=center width=50>
			<a href="{$PHP_SELF}?PHP_action=order_excel" style="cursor:pointer">
			<img src="./images/excel_icon.gif" border=0 alt="轉 windows [Excel]檔案"></a>
	</td>
{/if}
  </tr>
</table>
<!--------- footer ---------->
{include file="footer.html"}
