<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>===.........  SALES FORECAST .........===</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/col.js"></script>
<script type="text/javascript"
        src="./js/build/yahoo/yahoo-min.js"></script>
<script type="text/javascript"
        src="./js/build/connection/connection-min.js"></script>

<script language="JavaScript">

</script>
{/literal}

</head>
<body  bgcolor="ffffff" background=" ">&nbsp;
<!-- ################################################################################# -->

{if $max_notify > 0 }		
	<table width=620 border=0 cellpadding=3 cellspacing=1>
	<tr height=30 bgcolor=#C0CECF>
		<td align="center" >
			<a href="notify.php?PHP_action=notify"> <span class=sign align=center ><b> You have {$max_notify} message un-read</b></span></a></td>
	</tr>
</table>
<br>
{/if}	


{if $add_flag}

<form METHOD="POST" name="mon">
<table border=1 cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#DDDDDD  align=center>

<tr><td>
<table cellspacing=1 cellpadding=1 cols=1 width=100% bgcolor=#003333 align=center>
	<tr>
		<td class="des" align=center height=28>[ <b> Append Production <font color = yellow>OUT-PUT</font> -- by date </b>]</td>
	</tr>
</table>
<table border=1 cellpadding=4 cellspacing=0 cols=1 width=100% id='tbl_msg' {if $msg_YES} style="display : block" {else}style="display : none"{/if}>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy><div id='msg1'>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</div></td>
        
      </tr>
     </table>
</td></tr>

<tr><td>

<table border=0 cellspacing=6 cellpadding=1 width=600>
 </tr>
  <td class=snvy  align=right ><b>factory ID :</b><td>
	<td class=snvy	align=left 	width=100>{$FACTORY_select}</td>
	<td class=snvy  align=right ><b>DATE :</b><td>
	<td class=snvy  align=left 	width=100>
  	<input type=text name="PHP_date" size=10 class=select value="">
  	<img align='top' onmousedown="javascript:Cal(document.mon.PHP_date,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand' >
  </td>
	  <td align=center width=200>
		<input type=submit value=" input & update overtime" class=select_e2 style="cursor:pointer; width=90%">
	  </td>
<!--	
	
-->
	</tr>
</table>
</td></tr>

</table>
<input type=hidden value="overtime_add" name="PHP_action">
</form>




{/if}	
<!--
<form METHOD="POST" name="daily_search">
<table border=1 cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#DDDDDD  align=center>

<tr><td>
<table cellspacing=1 cellpadding=1 cols=1 width=100% bgcolor=#003333 align=center>
	<tr>
		<td class="des" align=center height=28>[ <b>OVERTIME <font color = yellow>DAILY SEARCH</font> </b> ]</td>
	</tr>
</table>
</td></tr>

<tr><td>
<table border=0 cellspacing=6 cellpadding=1 width=600>
  <tr>
  <td class=snvy  align=right><b>factory :</b></td>
	<td class=snvy	align=left 	width=150>{$FTY_search}</td>
  <td class=snvy  align=right><b>Overtime Date :</b></td>
  <td class=snvy  align=left 	width=150>  	 
  	<input type=text name="SCH_str" size=10 class=select value=""> 
  	<img align='top' onmousedown="javascript:Cal(document.daily_search.SCH_str,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand' >
	</td>	
 </tr>
  <tr><td colspan=6><hr SIZE=2 WIDTH=97%></td></tr>
	<tr> 
	  <td align=center colspan=6>
		<input type=submit value=" MONITOR SEARCH by Daily" class=select_e style="cursor:pointer; width=100%" this.width=0;">
	  </td>&nbsp;&nbsp;
	</tr>	
	<input type=hidden value="overtime_search" name="PHP_action">	
</table>
</td></tr>
</table>
</form>
-->

<form METHOD="POST" name="mon_search">
<table border=1 cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#DDDDDD  align=center>

<tr><td>
<table cellspacing=1 cellpadding=1 cols=1 width=100% bgcolor=#003333 align=center>
	<tr>
		<td class="des" align=center height=28>[ <b>OVERTIME <font color = yellow> SURVEY</font> -- by date</b> ]</td>
	</tr>
</table>
</td></tr>

<tr><td>
<table border=0 cellspacing=6 cellpadding=1 width=600>
  <tr>
  <td class=snvy  align=right width=100><b>factory :</b></td>
	<td class=snvy	align=left 	width=80>{$FTY_search}</td>  
  <td class=snvy  align=left>YEAR : {$YY_select}&nbsp;&nbsp;  MONTH :{$MM_select}
  </td>	
  </tr>
  <tr><td colspan=6><hr SIZE=2 WIDTH=97%></td></tr>
	<tr> 
	  <td align=center colspan=6>
		<input type=submit value=" MONITOR SEARCH by Daily" class=select_e style="cursor:pointer; width=100%" this.width=0;">
	  </td>&nbsp;&nbsp;
	</tr>
	<input type=hidden value="overtime_view" name="PHP_action">
</table>
</td></tr>
</table>
</form>


<!--------- footer ---------->
{include file="footer.html"}