{include file="header.html"}
<div id="jquery_div"></div>
<form METHOD="POST" id="packing_list" name="packing_list">
<table id="main" cellspacing="0" cellpadding="0" cols="0" width="100%">
	<tr>
		<td>
			<table id='carton_standard_info'>
			<tr>
				<td>CUST</td>
				<td>{$cust_select}</td>
				<td><select id="main_option" name="main_option" class="main_option'">
				<option value="PO">PO</option>
				<option value="SCM">SCM NO.</option>
				</select></td>
				<td>Order No</td>
				<td><input type='text' id='main_order' name="main_order" class="main_order" value=""/></td>
			</tr>
			</table>
		</td>
	</tr>
	
    <tr>
        <td>
			<table id='carton_standard_info_4PO'  class='cls_public_table' style='display:none'>
				<tr>
					<td align='right'>Carton NO. Start </td><td><input type="text" id="po_carton_begin" name="po_carton_begin" class="cls_static_IntValidate" style="width:100px;" value=""></td>
					<td align='left'>Carton NO. End</td><td><input type="text" id="po_carton_end" name="po_carton_end" class="cls_static_IntValidate" style="width:100px;" value=""></td>
				</tr>
				<tr>
					<td>Pack Style </td><td> <select id='po_packstyle' name='po_packstyle' class='packstyle' ><option value='pack'>By Pack</option><option value='bulk'>By Bulk</option></select></td>
					<td colspan=2><input type='checkbox' id='po_hanger' name='po_hanger' class='hanger'/>Hanger</td>
					
				</tr>
				<tr>
					<td>SHIP DATE</td><td><font size='2' style='cursor:pointer;font-weight:bold;' id='po_calendar-trigger' color='blue'>{$pt_date}</font><input type='hidden' id='po_calendar-inputField' name='po_ship_date' size='8' value='{$pt_date}' /></td>
					<td>SHIP WAY</td><td>{$ship_way}</td>
				</tr>
				<tr>
					<td>SHIP To</td><td colspan=3><div id='po_consignee' name="po_consignee" style='display:inline'></div></td>
				</tr>
			</table>	
			
			<table id='carton_standard_info_4SCM' class='cls_public_table' style='display:none'>
				<tr>
					<td>Carton NO. Start </td><td><input type="text" id="scm_carton_begin" class='cls_static_IntValidate' name="scm_carton_begin" style="width:100px;" value=""></td>
					<td>Carton NO. End</td><td><input type="text" id="scm_carton_end" class='cls_static_IntValidate' name="scm_carton_end" style="width:100px;" value=""></td>
				</tr>
			</table>
        </td>
    </tr>
	<tr>
		<td align='center' id='td_btn_new_record' style='display:none' >
			<input type='button' id='btn_new_record' value='New Record'  style='width:690px' />
		</td>
	</tr>
    <tr>
		
        <td>
			<table id='tbl_po_carton_edit' class='cls_carton_edit' border=1px align='center' style='display:none'>
				<tr>
					<td>SCM Order</td>
					<td>Partial</td>
					<td>SizeBreakdown</td>
					<!-- <td>UCC Label</td> -->
					<td>Prepack ID</td>
					<td>Button</td>
				</tr>
				<tr id='po_ord1_tr' idx='1'>
					<td><input type='text' id='po_ord1_order' name='po_ord1_order' class='po_order' value=''/></td>
					<td><div id='po_ord1_partial'></div></td>
					<td><div id='po_ord1_sizebreakdown'></div></td>
					<!-- <td><input type='text' id='po_ord1_ucc' name='po_ord1_ucc' value=''/></td> -->
					<td><input type='text' id='po_ord1_prepack' name='po_ord1_prepack' value=''/></td>
					<td><img src="images/Save.png"  id='po_ord1_save' class='single_save' idx='1' border="0"><img src="images/trashcan.png"  id='po_ord1_delete' class='single_delete' idx='1' border="0"></td>
					<input type="hidden" id="PHP_po_index1" name="PHP_po_index[]" value="1">
				</tr>
			</table>
			<!-- <div id='carton_edit'></div></td> --><!--訂單箱號編輯與訂單箱號新增-->
			<table id='tbl_scm_carton_edit' class='cls_carton_edit' border=1px align='center' style='display:none'>
				<tr>
					<td>PO</td>
					<td>Pack Style</td>
					<td>Hanger</td>
					<td>SHIP DATE</td>
					<td>SHIP WAY</td>
					<td>SHIP To</td>
					<td>Order Partial</td>
					<td>SizeBreakdown</td>
					<td>UCC Label</td>
					<td>Prepack ID</td>
					<td>Button</td>
				</tr>
				<tr id='scm_ord1_tr' idx='1'>
					<td><input type='text' id='scm_ord1_order' name='scm_ord1_order' style="width:100px;" class='scm_order' value=''/></td>
					<td><select id='scm_ord1_packstyle' name='scm_ord1_packstyle' class='packstyle' ><option value='pack'>By Pack</option><option value='bulk'>By Bulk</option></select></td>
					<td><input type='checkbox' id='scm_ord1_hanger' name='scm_ord1_hanger' class='hanger'/></td>
					<td><!-- <div id='scm_ord1_calendar_div'></div> -->
					<font size='2' style='cursor:pointer;font-weight:bold;' id='scm_ord_calendar-trigger' color='blue'>{$pt_date}</font>
					<input type='hidden' id='scm_ord_calendar-inputField' name='scm_ord_ship_date' size='8' value='{$pt_date}' />
					</td>
					
					<!-- <td>{$ship_way}</td> -->
					<td><div id='scm_ord1_shipway'></div></td>
					<td><div id='scm_ord1_shipto'></div></td>
					<td><div id='scm_ord1_partial'></div></td>
					<td><div id='scm_ord1_sizebreakdown'></div></td>
					<td><input type='text' id='scm_ord1_ucc' name='scm_ord1_ucc' value=''/></td>
					<td><input type='text' id='scm_ord1_prepack' name='scm_ord1_prepack' value=''/></td>
					<td><img src="images/Save.png"  id='scm_ord1_save' class='single_save' idx='1' border="0"><img src="images/trashcan.png"  id='scm_ord1_delete' class='single_delete' idx='1' border="0"></td>
					<input type="hidden" id="PHP_scm_index1" name="PHP_scm_index[]" value="1">
				</tr>
			</table>
        </td>
    </tr>
	<tr>
		<td align='center' id='td_btn_save' style='display:none' >
			<!-- <input type='button' id='btn_save' value='SAVE ALL'  style='width:690px'  /> -->
			<input type="hidden" id="PHP_action" name="PHP_action" value="packlist_save">
		</td>
	</tr>
    
    
</table>
</form>
<table>
<tr><td><div id='carton_list'></div></td></tr><!--使用者輸入訂單的列表-->
</table>
{literal}
<div id="jquery_div_4calendar"></div>
<script type="text/javascript">
    cal_po = Calendar.setup({
        weekNumbers : false,
        trigger     : "po_calendar-trigger",
        inputField  : "po_calendar-inputField",
        date        : {/literal}{$pt_dates}{literal} ,
        selection   : {/literal}{$pt_dates}{literal} ,
        showTime    : false,
        onSelect: function() {
            $('#po_calendar-trigger').html($('#po_calendar-inputField').val());
            cal_po.hide();
        }
    });
</script>
<script type="text/javascript">
    cal_scm = Calendar.setup({
        weekNumbers : false,
        trigger     : "scm_ord_calendar-trigger",
        inputField  : "scm_ord_calendar-inputField",
        date        : {/literal}{$pt_dates}{literal} ,
        selection   : {/literal}{$pt_dates}{literal} ,
        showTime    : false,
        onSelect: function() {
            $('#scm_ord_calendar-trigger').html($('#scm_ord_calendar-inputField').val());
            cal_scm.hide();
        }
    });
</script>
{/literal}
{include file="footer.html"}
