{include file="header.html"}
<div id="jquery_div"></div>
<form METHOD="POST" id="packing_list" name="packing_list">
<table id="main" cellspacing="0" cellpadding="0" cols="0" width="100%">
	
	

</table>
</form>
<table>
<tr><td><div id='carton_list'></div></td></tr><!--使用者輸入訂單的列表-->
</table>
{literal}
<div id="jquery_div_4calendar"></div>
<script type="text/javascript">
    cal_start = Calendar.setup({
        weekNumbers : false,
        trigger     : "start_calendar-trigger",
        inputField  : "start_calendar-inputField",
        date        : {/literal}{$pt_dates}{literal} ,
        selection   : {/literal}{$pt_dates}{literal} ,
        showTime    : false,
        onSelect: function() {
            $('#start_calendar-trigger').html($('#start_calendar-inputField').val());
            cal_start.hide();
        }
    });
</script>
<script type="text/javascript">
    cal_end = Calendar.setup({
        weekNumbers : false,
        trigger     : "end_calendar-trigger",
        inputField  : "end_calendar-inputField",
        date        : {/literal}{$pt_dates}{literal} ,
        selection   : {/literal}{$pt_dates}{literal} ,
        showTime    : false,
        onSelect: function() {
            $('#end_calendar-trigger').html($('#end_calendar-inputField').val());
            cal_end.hide();
        }
    });
</script>
{/literal}
{include file="footer.html"}
