<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>===.........  SCM System .........===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">

function check(){
}

function list(item){
	var gofile ='index2.php?PHP_action=show_supplier_search&PHP_item='+item;	style=window.open(gofile,'style','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=700,height=500, top=100, left=150');
	style.focus();
}
 
function fablist(){
	var gofile ='index2.php?PHP_action=show_fabric_search';	style=window.open(gofile,'style','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=700,height=500, top=100, left=150');
	style.focus();
}

function acclist(){
	var gofile ='index2.php?PHP_action=show_accessory_search';	style=window.open(gofile,'style','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=700,height=500, top=100, left=150');
	style.focus();
}
 
function writeToParentList(lots_code,lots_name,unit1,unit2,unit3,id) {
	var i=0;
	window.document.forms['search_aply'].elements['PHP_fab'].value = lots_code;
}

function writeToAccList(acc_code,acc_name,unit1,unit2,unit3,id) {
	var i=0;
	window.document.forms['search_aply'].elements['PHP_acc'].value = acc_code;
} 
 
function writeToSuplList(supl_s_name,supl_cat) {
	var i=0;
	window.document.forms['add_aply'].elements['PHP_supl'].value = supl_s_name;
	window.document.forms['add_aply'].elements['PHP_supl_cat'].value = supl_cat;
}

function writeToSupSESlList(supl_s_name,supl_cat) {
	var i=0;
	window.document.forms['search_aply'].elements['PHP_supl'].value = supl_s_name;
}

</script>
{/literal}
</head>
<body  bgcolor="ffffff" background=" ">&nbsp;
<!-- ################################################################################# -->
{if $add_flag}
<table border cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#cccccc  align=center>
	<form METHOD="POST" name="add_aply">
	<tr> 
		<td class=des align=center colspan=5 bgcolor=#280004 >[ Purchase Order Developing-- <b>B.O.M. Search  </b> ]</td>
	</tr>
	<tr>
	{if $manager_flag}
		<td class=b9 align=center><b>TEAM : &nbsp;&nbsp;{$dept_ary}</b></td>
	{else}
		<td class=b9 align=center><b><span class=ylw10>TEAM : &nbsp;&nbsp;{$dept_id}</span></b></td>
	{/if}
		{if !$manager_flag}<input type="hidden" name="PHP_dept_code" value="{$dept_id}">{/if}
		<td class=b9 align=center ><b>CUST : &nbsp;&nbsp;{$cust_select}</b></td>
		<td class=b9 align=center> <b>ORDER # : </b>&nbsp;&nbsp;<input type=text name="PHP_num" size=15 class=select value=""></td>
	</tr>
			<td colspan=3>
				<input type="submit" value="Purchase Order" class=select_e style="width:99%;cursor:pointer">
			</td>

	<tr>
	</tr>
	<input type="hidden" name="PHP_action" value="po_search_bom">
	</form> 
{/if}


	{if $msg_YES}
	<tr>
		<td colspan=5 >
			<table border=1 cellpadding=4 cellspacing=0 width=600 align=center>
				<tr bgcolor=#ffffff> 
					<td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
					<td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
				</tr>
			</table>
		</td>
	</tr>
	{/if}
</table>
<hr size=1 width=600 align=center>
<br><br><br>
<table border cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#cccccc  align=center>
<form METHOD="POST" name="search_aply">
	<tr>
		<td>
			<table cellspacing=1 cellpadding=4 cols=1 width=600 bgcolor=#003300 align=center>
				<tr>
					<td class="des" align=center height=28>[ SEARCH EXISTING&nbsp;Purhcase Order ]</td>
				</tr>
			</table>
			<table border=0 cellspacing=0 cellpadding=1 width=600>
				<tr>
					<td colspan=6 class=frnt align=center><hr size=2 width=98%></td>
				</tr>
				<tr><input type="hidden" name="PHP_dept_code" value={if $manager_v_flag}""{else}"{$dept_id}"{/if}>
					<td class=snvy align=right><b>P/O No. : </b></td>
					<td class=frnt align=left><input type=text name="PHP_SCH_num" size=15 class=select value=""></td>
					<td class=snvy align=right><b>Supplier : </b></td>
					<td class=frnt align=left><b><input type=text name="PHP_SCH_supl" size=15 class=select value=""><img src="./images/icoSearch.gif" alt="Supplier" onClick="list('search');" style="cursor:pointer"></b></td>
				</tr>
				<tr>
					<td class=snvy align=right><b>Ship To:</b></td>
					<td class=frnt align=left>{$factory_select}</td>
					<td class=snvy align=right><b>Customer : </b></td>
					<td class=frnt align=left><b>{$cust_sch_select}
				</td>
				<tr>
					<td class=snvy align=right colspan=4>
						<input type=radio name="SCH_del" value="1">
						<b>include deleted PO</b>
					</td>					
				</td>				
			</table>
			<table border=0 cellspacing=0 cellpadding=0 width=600 align=center>
				<tr> 
					<td align=left class=b9>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					※ 1: search / listing purchase record ; please use combo selection or/and key field.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					※ 2: if entire listing ; keep fields in blank and just click [ SEARCH/LIST P / O RECORDS ] button.
					</td>
				</tr>
				<tr><hr SIZE=2 WIDTH=97%></tr>
				<tr> 
					<td align=center>
					<input type="hidden" name="PHP_action" value="po_search">
					<input type=submit value="[ SEARCH / LIST Purchase Order RECORDS ]" class=select_e style="cursor:pointer; width=95%" onClick=this.width=0;>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</form>
</table>
<!--------- footer ---------->
{include file="footer.html"}