<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>==== ::::::::::  SCM SYSTEM :::::::::: ====</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/open_detial.js"></script>
<script language="javascript">
	
function tp(url) { parent.top.location.href=url }
function del_ann(id,num,back_str) {
	if ( confirm("Are you sure to Delete WA-ANN  Number??")) {
	window.location='po.php?PHP_action=po_ann_del&PHP_id='+id+'&PHP_po_num='+num+back_str; 	
	}
}
</script>
{/literal}
</head>
<body bgcolor="#003C77" topmargin=10>
	{if $msg_YES}

			<table border=1 cellpadding=4 cellspacing=0 width=720 align=center>
				<tr bgcolor=#ffffff> 
					<td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
					<td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
				</tr>
			</table>

	{/if}	
<table width=720 border=1 cellspacing=0 cellpadding=2>
	<tr>
		<td colspan=11 align=center class=gry><b>Purchase Order LIST</b></td></tr>
		<tr bgcolor="#003333"> 
		<td class=w9 width=90 align=center><b>PO. #</b></td>
		<td class=w9 width=60 align=center><b>dept.</b></td>
		<td class=w9 width=160 align=center><b>supplier</b></td>
		<td class=w9 width=80 align=center><b>source area</b></td>
		<td class=w9 width=80 align=center><b>ETD</b></td>
		<td class=w9 width=130 align=center><b>Add Note</b></td>
		<td class=w9 align=center colspan=2><b>Note</b></td>
	</tr>
	{section name=SEC loop=$apply}
	<form METHOD="POST" name="ann_add_{$apply[SEC].id}">
	{if $apply[SEC].status == 12}
	<tr bgColor='#dddddd'>
	{else}
	<tr onMouseOver="bgColor='#FCF4A4'" onMouseOut="bgColor='#ffffff'">
	{/if}
		<td class=gry9 align=center nowrap><small><a href="javascript:po_show('{$apply[SEC].ap_num}')">{$apply[SEC].po_num}</a></small></td>
		<td class=gry9 align=center><small>{$apply[SEC].dept}&nbsp;</small></td>
		<td class=gry9 align=center><small>{$apply[SEC].s_name}&nbsp;</small></td>
		<td class=gry9 align=right>
			<b>{$apply[SEC].currency}${$apply[SEC].po_total|number_format:"2f"}&nbsp;</b>
		</td>
		<td class=gry9 align=center nowrap><small>{$apply[SEC].eta}&nbsp;</small></td>
		<td class=gry9 align=center>
		<input type=hidden name="PHP_org_ann"  size=8 class=select value="{$apply[SEC].ann_num}">
		<input type=hidden name="PHP_id" 			 size=8 class=select value="{$apply[SEC].id}">
		<input type=hidden name="PHP_po_num"   size=8 class=select value="{$apply[SEC].po_num}">
		<input type=hidden name="PHP_back_str" size=8 class=select value="{$back_str}">
		<input type=hidden name="PHP_action"   size=8 class=select value="do_po_ann_add">

		<input type=text name="PHP_ann_no" size=8 class=select value="">
		<input type=submit value="OK" class=select_e >
		</td>
</form>
		<td width=220 class=gry9 align=left><small>{$apply[SEC].ann_num}&nbsp;</small></td>
		<td width=20 class=gry9 align=left><img src="images/del.png"   onclick="javascript:del_ann('{$apply[SEC].id}','{$apply[SEC].po_num}','{$back_str}')"; width=11 style="cursor:pointer"></td>
	</tr>

	{/section}
</table>
<br>
<table width=660 border=0 cellspacing=0 cellpadding=1>
	<tr>
		<td class=w9 colspan=4 align=center><span class=bgdy>※ message </font>:above list {section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]} &nbsp;{/section}&nbsp;Purchase Order record!&nbsp;&nbsp;<span class=bgdy>[ total {$max_no} entries ]</font>
	</tr>
  <tr>
    <td align=center width=180>&nbsp;
		{if $pages[0] > 1}
			<input type="button" name="Submit5" value=" < prev 10-page" class=select_e style="cursor:pointer; width:90%" onClick="window.location='{$cgistr_get}{$back_str}&PHP_sr_startno=p{$pages[0]}'">
		{/if}
		</td>
		<td align=center width=260>
    {section name=PGE loop=$pages}
    {if $pages[PGE] <= $maxpage }
			{if $pages[PGE] == $now_pp}
				<font color="#FF0000"><i><b>&nbsp;{$pages[PGE]}</b></i></font>
			{else}
				<a href="{$cgistr_get}{$back_str}&PHP_sr_startno={$pages[PGE]}" style="cursor:pointer">&nbsp;{$pages[PGE]}</a>
			{/if}
		{/if}   
    {/section}
    </td>
    <td  align=center width=180>
		{if $lastpage < $maxpage}
			<input type="button" name="Submit6" value="next 10 -page >" class=select_e style="cursor:pointer; width:90%" onClick="window.location='{$cgistr_get}{$back_str}&PHP_sr_startno=n{$lastpage}'">
		{/if}
		</td>
	</tr>
</table>
<!--------- footer ---------->
{include file="footer.html"}
