<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5" />
<title>ORDER</title>
<link rel=stylesheet type="text/css" href="./bom.css" />
{literal}
<style type="text/css">
<!--
body {
	margin-top: 0px;
	margin-left: 16px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
<script language="javascript" src="./js/open_detial.js"></script>
{/literal}
<body> 
<table border=0 cellpadding=3 cellspacing=1 bgcolor=#666666 >
		<tr align=center bgcolor=#272727 height=30 ><td class=ylw10 colspan=15 > &nbsp;&nbsp;[ 預先採購未沖銷 ]&nbsp;</td>
		</tr>
		{section name=SEC loop=$pp}
		<tr align=center  bgcolor="#FFFFE6">
			<td width=70 class=snvy><small><a href="javascript:po_bom_view('{$pp[SEC].ord_num}','x')" style='cursor:pointer'>{$pp[SEC].ord_num}</a></small></td>
			<td width=200 class=snvy><small>
				<a href="javascript:po_show('{$pp[SEC].ap_num}')">{$pp[SEC].po_num}</a>
				({if $pp[SEC].status == 6}wait for PO submit
									{elseif $pp[SEC].status == 8}<span class=bgdy9>wait PO CFM</span>
									{elseif $pp[SEC].status == 10}<span class=grn9>wait PO APV</span>
									{elseif $pp[SEC].status == 12}<span class=b9>PO APVD</span>
									{elseif $pp[SEC].status == 13}<span class=ssign>PO Reject</span>
									{else}&nbsp;{/if})
			</small></td>
			<td width=70  align=left> <small>{if $pp[SEC].mat_cat=='a'}Accessory{else}Fabric{/if}</small></td>
			<td width=100 align=center><small>{$pp[SEC].po_eta}</small></td>
			<td width=100 align=center><small>{if $pp[SEC].arv_area}{$pp[SEC].arv_area}{else}{$pp[SEC].ship_name}{/if}</small></td>
			<td width=110 class=b9 align=left><small>{$pp[SEC].ord_status}</small></td>
			<td width=110 align=right><small><font color=#5B4170>{$pp[SEC].currency}$ {$pp[SEC].dear} </font></small></td>			
		{/section}
		
		<tr align=center bgcolor=#272727 height=30 ><td class=ylw10 colspan=15 > &nbsp;&nbsp;[ 前版本採購單未沖銷 ]&nbsp;</td></tr>
		{section name=SEC loop=$dis_ver}
		<tr align=center  bgcolor="#FFFFE6">
			<td width=70 class=snvy><small><a href="javascript:po_bom_view('{$dis_ver[SEC].smpl_code}','x')" style='cursor:pointer'>{$dis_ver[SEC].smpl_code}</a></small></td>
			<td width=200 class=snvy><small>
				<a href="javascript:po_show('{$dis_ver[SEC].ap_num}')">{$dis_ver[SEC].po_num}</a>
				({if $dis_ver[SEC].status == 6}wait for PO submit
									{elseif $dis_ver[SEC].status == 8}<span class=bgdy9>wait PO CFM</span>
									{elseif $dis_ver[SEC].status == 10}<span class=grn9>wait PO APV</span>
									{elseif $dis_ver[SEC].status == 12}<span class=b9>PO APVD</span>
									{elseif $dis_ver[SEC].status == 13}<span class=ssign>PO Reject</span>
									{else}&nbsp;{/if})
			</small></td>
			<td width=70  align=left><small>{if $dis_ver[SEC].mat_cat == 'a'}Accessory{else}Fabric{/if}</small></td>
			<td width=100 align=center><small>{$dis_ver[SEC].po_eta}</small></td>
			<td width=100 align=center><small>{if $dis_ver[SEC].arv_area}{$dis_ver[SEC].arv_area}{else}{$dis_ver[SEC].ship_name}{/if}</small></td>
			<td width=110 class=b9 align=left><small>{$dis_ver[SEC].ord_status}</small></td>
			<td width=110 align=right><small><font color=#5B4170>{$dis_ver[SEC].currency}$ {$dis_ver[SEC].dear}</font></small></td>			
		{/section}
		<tr align=center bgcolor=#272727 height=30 ><td class=ylw10 colspan=15 > &nbsp;&nbsp;〔 採購單未送出 - wait for submit〕&nbsp;</td></tr>
		{section name=SEC loop=$po_unsub}
		<tr align=center  bgcolor="#FFFFE6">
			<td width=70 class=snvy><small><a href="javascript:po_bom_view('{$po_unsub[SEC].smpl_code}','x')" style='cursor:pointer'>{$po_unsub[SEC].smpl_code}</a></small></td>
			<td width=200 class=snvy><small>
				<a href="javascript:po_show('{$po_unsub[SEC].ap_num}')">{$po_unsub[SEC].po_num}</a>
				({if $po_unsub[SEC].status == 6}wait PO submit
									{elseif $po_unsub[SEC].status == 8}wait PO CFM
									{elseif $po_unsub[SEC].status == 10}wait PO APV
									{elseif $po_unsub[SEC].status == 12}PO APVD
									{elseif $po_unsub[SEC].status == 13}PO Reject
									{else}&nbsp;{/if})
			</small></td>
			<td width=70 align=left><small>{if $po_unsub[SEC].mat_cat == 'a'}Accessory{else}Fabric{/if}</small></td>
			<td width=100 align=center><small>{$po_unsub[SEC].po_eta}</small></td>
			<td width=100 align=center><small>{if $po_unsub[SEC].arv_area}{$po_unsub[SEC].arv_area}{else}{$po_unsub[SEC].ship_name}{/if}</small></td>
			<td width=110 class=b9 align=left><small>{$po_unsub[SEC].ord_status}</small></td>
			<td width=110 align=right><small><font color=#5B4170>{$po_unsub[SEC].currency}$ {$po_unsub[SEC].dear}</font></small></td>
			</tr>	
		{/section}
		</table>
		<br>
	
		<!--------- footer ---------->
{include file="footer.html"}