<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>===:::::::::: SCM System ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/open_detial.js"></script>

{/literal}
</head>
<body >
<br>
<table cellspacing=1 cellpadding=4 cols=1 width=750 bgcolor=#003300>
	<tr>
		{if $ap.status == 6 && $back_str && $add_flag}<td class=gry9 align=center><small><input type='image' src="images/cancel.gif"   onclick=del_po('{$ap.ap_num}','{$back_str}','{$ap.po_num}')></small></td>{/if}
	
		<td class="ylw10" align=center><small>{if $ap.status == 0}waitt'g for submit
									{elseif $ap.status == 2}<span class=bgdy9><b>waitt'g for PA. CFM</b></span>
									{elseif $ap.status == 3}<span class=ylw10><b>waitt'g for PA. APV</b></span>
									{elseif $ap.status == 4}<span class=ylw10><b>PA. APVD</b></span>
									{elseif $ap.status == 5}<span class=ssign><b>PA. Reject</b></span>
									{elseif $ap.status == 6}<span class=ylw10><b>waitt'g for PO. submit</b></span>
									{elseif $ap.status == 8}<span class=bgdy9><b>waitt'g for PO. CFM</b></span>
									{elseif $ap.status == 10}<span class=ylw10><b>waitt'g for PO. APV</b></span>
									{elseif $ap.status == 12}<span class=ylw10><b>PO. APVD</b></span>
									{elseif $ap.status == 13}<span class=ssign><b>PO. Reject</b></span>									
									{else}&nbsp;{/if}
									</small></td>
		<td class="des" align=center width=180 height=28> <span class=ssign>{if $pp > 0}<b>Pre-Purchase</b>{else}{if $ap.special == 0}<b>Purchase Order </b>{else}<b>Extra Purchase</b>{/if}{/if} </td>

		<td class="des" align=center width=180 height=28> P / O  # <span class=ylw10><b> {$ap.po_num}</b></span> </td>

		<td class="des" align=center>
	   {if ($ap.status == 8 || $ap.status ==10) && $edit_flag && $rcv_mk <> 1}

			<a href="javascript:aply_revise('{$ap.ap_num}','{$back_str}','{$ap.po_num}','{$ap.id}','{$ap.revise}','{$ap.po_num}')" value='revise' style='cursor:pointer'>
			<img src='./images/revise21.jpg' border=0 ALT="REVISE"></a>
	   {/if}
	   {if $ap.status == 12 && $edit_flag && $rcv_mk <> 1}

			<a href="javascript:del_po_apv('{$ap.ap_num}','{$back_str}','{$ap.po_num}')" value='revise' style='cursor:pointer'>
			<img src="images/cancel.gif" border=0 ALT="DELETE"></a>
	   {/if}

	  </td>
		<td class="ylw10" align=center height=28> {if $ap.revise}<span class=sign_b>Version : </span> <b>{$ap.revise}</b>{else}&nbsp;{/if} </td>
	
	</tr>
</table>
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=750 id='tbl_msg' {if $msg_YES} style="display : block" {else}style="display : none"{/if}>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy><div id='msg1'>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</div></td>
        
      </tr>
     </table>

<table border=0 cellspacing=0 cellpadding=0 width="750" bgcolor=#FFFFFF>

	<tr height=40>
		<td class="frnt" align=center width=180 height=28>  <b> WA-ANN  # : <font color=blue>{$ap.ann_num}</font></b> </td>
		<td class="frnt" align=left height=28>  <b> SHIP BY : {$ap.ship_way} ON : {$ap.ship_date}</b> </td>		
	</tr>	
</table>

<form METHOD="POST" name="apply_add" action="{$PHP_SELF}">
<hr SIZE=2 WIDTH=740>
{if $ap.special  == 0 || $ap.special  == 1}
<table border="1" cellspacing=0 cellpadding=2 width=750 id="table2">	
	<tr bgcolor="#003333" height=28>
		<td width="90"  class=back align="center"><b>Order #</b></td>		
		<td width="90" class=back align="center"><b>Material #</b></td>
		<td width="160" class=back align="center"><b>Color / Cat.</b></td>
		<td width="100" class=back align="center"><b>Q'ty</b></td>		
		<td width="400"  class=back align="center"><b>SHIP REMARK</b></td>
	</tr>
	{section name=SEC loop=$ap_det2} 
	<tr onMouseOver="bgColor='#FCF4A4'" onMouseOut="bgColor='#ffffff'">
		<td  align="left">
 	  	{section name=AP loop=$ap_det2[SEC].orders}
	  	<a href="javascript:po_bom_view('{$ap_det2[SEC].orders[AP]}','{$ap.po_num}')" value='ord_out' style='cursor:pointer'>
 	  	{$ap_det2[SEC].orders[AP]}&nbsp;</a><br>
 	  	{/section}
		</td>
		<td  align="left" nowrap>
			<a href="javascript:{if $ap_det2[SEC].mat_cat == 'l'}Show_fab{else}Show_acc{/if}('{$ap_det2[SEC].mat_code}')" value='ord_out' style='cursor:pointer'>{$ap_det2[SEC].mat_code}</a>
		</td>
		<td  align="left">{$ap_det2[SEC].color}&nbsp;</td>
		<td  align="right">{$ap_det2[SEC].po_qty|number_format:"2f"}&nbsp;{$ap_det2[SEC].po_unit}</td>	
		<td  align="left"><input type=text name="PHP_des[{$ap_det2[SEC].po_spare}]" size=67 class=select value="{$ap_det2[SEC].ship_rmk}"></td>	
	</tr>	
	{/section}

{else}
<table border="1" cellspacing=0 cellpadding=2 width=750 id="table2">	
	<tr bgcolor="#003333" height=28>	
		<td width="90" class=back align="center"><b>Order</b></td>	
		<td width="90" class=back align="center"><b>Material #</b></td>		
		<td width="160" class=back align="center"><b>Color/Cat.</b></td>
		<td width="100"  class=back align="center"><b>Q'ty</b></td>		
		<td width="400"  class=back align="center"><b>SHIP REMARK</b></td>
	</tr>
	{section name=SEC loop=$ap_spec} 
	<tr onMouseOver="bgColor='#FCF4A4'" onMouseOut="bgColor='#ffffff'">
		<td  align="left">			
	  	<a href="javascript:po_bom_view('{$ap_spec[SEC].ord_num}','{$ap.po_num}')" value='ord_out' style='cursor:pointer'>
 	  	{$ap_spec[SEC].ord_num}&nbsp;</a>
		</td>	
		<td  align="left" nowrap >			
			<a href="javascript:{if $ap_spec[SEC].mat_cat == 'l'}Show_fab{else}Show_acc{/if}('{$ap_spec[SEC].mat_code}')" value='ord_out' style='cursor:pointer'>{$ap_spec[SEC].mat_code}</a>
		</td>		<td  align="left">{$ap_spec[SEC].color}&nbsp;</td>
		<td  align="right">{$ap_spec[SEC].po_qty|number_format:"2f"}&nbsp;{$ap_spec[SEC].po_unit}</td>				
		<td  align="left"><input type=text name="PHP_des[{$ap_spec[SEC].po_spare}]" size=67 class=select value="{$ap_spec[SEC].ship_rmk}"></td>
	</tr>	
	{/section}

{/if}

</table>



<hr SIZE=2 WIDTH=740>
<table border=0 cellspacing=0 cellpadding=0 cols=2 width=750>
	<tr>
			{if $back_str}
		<td valign=top width=100>
			<input type=button onClick="window.location.href='{$PHP_SELF}{$back_str}'" value=" << back " class=select_e style="cursor:pointer; width=99">
		</td>
			{/if} 
		<td align=right>		
			<input type="hidden" name="PHP_action" value="do_ship_rmk">
			<input type="hidden" name="PHP_id" value="{$ap.id}">
			<input type="hidden" name="PHP_special" value="{$ap.special}">
			<input type="hidden" name="PHP_aply_num" value="{$ap.ap_num}">
				<input type="hidden" name="PHP_po_num" value="{$ap.po_num}">
				<input type="hidden" name="my_action" value="po_ship_det">
			<input type="hidden" name="PHP_back_str" value="{$back_str}">
			<input type=submit value="[ UPDATE ABOVE RECORDS ]" class=select_e style="cursor:pointer; width=40%">	
		
		</td>
	</tr>
</table> 
</form>
<!--------- footer ---------->
{include file="footer.html"}