<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>==== ::::::::::  SCM SYSTEM :::::::::: ====</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">
function tp(url) { parent.top.location.href=url }
function cfm(doit) {
	if ( confirm("確定要刪除 ??")) {
		location.href=doit;
	}
}
function next_shfit(back_str)
{
	location.href="po.php?&PHP_action=check_po_rcvd"+back_str;
}
</script>
{/literal}
</head>
<body bgcolor="#003C77" topmargin=10>
<table width=730 border=1 cellspacing=0 cellpadding=2>
	<tr>
		<td colspan=10 align=center class=gry><b>Purchase Order LIST</b></td></tr>
		<tr bgcolor="#003333"> 
		<td class=w9 width=80 align=center><b>PO. #</b></td>
		<td class=w9 width=50 align=center><b>dept.</b></td>
		<td class=w9 width=160 align=center><b>supplier</b></td>
		<td class=w9 width=80 align=center><b>source area</b></td>
		<td class=w9 width=110 align=center><b>Currency/Amt.</b></td>
		<td class=w9 width=110 align=center><b>Deal</b></td>

	</tr>
	{section name=SEC loop=$apply}
	{if $apply[SEC].status == 12}
	<tr bgColor='#dddddd'>
	{else}
	<tr onMouseOver="bgColor='#FCF4A4'" onMouseOut="bgColor='#ffffff'">
	{/if}
		<td class=gry9 align=center nowrap><small><a href="{$PHP_SELF}?PHP_action=aply_shift_edit&PHP_aply_num={$apply[SEC].ap_num}{$back_str}">{$apply[SEC].po_num}</a></small></td>
		<td class=gry9 align=center><small>{$apply[SEC].dept}&nbsp;</small></td>
		<td class=gry9 align=center><small>{$apply[SEC].s_name}&nbsp;</small></td>
		<td class=gry9 align=center><small>{$apply[SEC].country}&nbsp;</small></td>
		<td class=gry9 align=right>
			<b>{$apply[SEC].currency}${$apply[SEC].po_total|number_format:"2f"}&nbsp;</b>
		</td>
		<td class=gry9 align=right>
			<b>{$apply[SEC].currency}${$apply[SEC].dear|number_format:"2f"}&nbsp;</b>
		</td>		

	</tr>
	{/section}
</table>
<br>
{if $apply.0.id == ''}
<table width=660 border=0 cellspacing=0 cellpadding=1>
	<tr>
		<td class=w9 align=center><input type=button value="GO Next step" onclick=next_shfit('{$back_str}')></td>
	</tr>
</table>
{/if}
<!--------- footer ---------->
{include file="footer.html"}
