<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>===:::::::::: SCM System -- PO SHOW CFM ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script type="text/javascript" src="./js/build/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="./js/build/connection/connection-min.js"></script>
<script language="javascript" src="./js/open_detial.js"></script>
<Script language="javascript">

var transaction;
  var sUrl;
  var callback = {
    success: function(o) {
    
    	var response = o.responseText.split("|");
    	document.getElementById("tbl_msg").style.display='block';
    	msg1.innerText  = response[0]; 
    	msg_status.innerText = "waitt'g for APV";
    	cfm_info.innerHTML  = response[1]; 
    	
    	document.getElementById("cfm_1").style.display='none';
    	
    	document.getElementById("cfm_2").style.display='none';
    	document.getElementById("cfm_3").style.display='none';
    },
    failure: function(o) {
      alert("Error：Can't get data");
    }
  };
  
function do_cfm(id,aply_num) {
 	  sUrl = "po.php?PHP_action=do_po_cfm&PHP_id="+id+"&PHP_aply_num="+aply_num;
    transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, callback, null);
}
</script>
{/literal}
</head>
<body >
<br>
<table cellspacing=1 cellpadding=4 cols=1 width=900 bgcolor=#003300>
	<tr>
		<td class="ylw10" align=center>
			<div id=msg_status>
					 <small>{if $ap.status == 0}waitt'g for submit
									{elseif $ap.status == 2}<span class=bgdy9><b>waitt'g for CFM</b></span>
									{elseif $ap.status == 3}<span class=ylw10><b>waitt'g for APV</b></span>
									{elseif $ap.status == 4}<span class=ylw10><b>PA. APVD</b></span>
									{elseif $ap.status == 5}<span class=ssign><b>PA. Reject</b></span>
									{elseif $ap.status == 6}<span class=ylw10><b>waitt'g for PO. submit</b></span>
									{elseif $ap.status == 8}<span class=bgdy9><b>waitt'g for PO. CFM</b></span>
									{elseif $ap.status == 10}<span class=ylw10><b>waitt'g for PO. APV</b></span>
									{elseif $ap.status == 12}<span class=ylw10><b>PO. APVD</b></span>
									{elseif $ap.status == 13}<span class=ssign><b>PO. Reject</b></span>									
									{else}&nbsp;{/if}
									</small>
			</div>
		</td>
		<td class="des" align=center width=200 height=28> <span class=ssign>{if $ap.special == 0}<b>Purchase Order </b>{elseif $ap.special >= 2}<b>Pre-Purchase</b>{else}<b>Extra Purchase</b>{/if} </td>
		<td class="des" align=center width=200 height=28> P / O  # <span class=ylw10><b> {$ap.po_num}</b></span> </td>
	
		<td class="ylw10" align=center height=28> {if $ap.revise}<span class=sign_b>Version : </span> <b>{$ap.revise}</b>{else}&nbsp;{/if} </td>
	</tr>
</table>
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=900 id='tbl_msg' {if $msg_YES} style="display : block" {else}style="display : none"{/if}>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy><div id='msg1'>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</div></td>
        
      </tr>
     </table>
<hr SIZE=2 WIDTH=900>
<table border=1 cellspacing=0 cellpadding=0 width="900" bgcolor=#FFFFFF>
	<tr>
		<td>
			<table border=0 cellspacing=1 cellpadding=3 width="900" bgcolor=#FFFFFF>
				<tr>
					<td class=snvy width=100 align=right ><b>Supplier : </b></td>
					<td class=frnt width=130 align=left bgcolor=#E7E6E6><b>&nbsp;{$ap.s_name}</b></td>
					<td class=snvy width=100  align=right><b>Dept : </b></td>			
					<td class=frnt width=130  align=left bgcolor=#E7E6E6><b>&nbsp;{$ap.dept}</b></td>
					<td class=snvy width=100  align=right ><b>Currency: </b></td>
					<td class=frnt width=130  align=left bgcolor=#E7E6E6><b>&nbsp;{$ap.currency}</b></td>
				</tr>
				<tr>
					<td class=snvy align=right><b>Payment : </b></td>
					<td class=frnt align=left bgcolor=#E7E6E6 colspan=3><b>&nbsp;{$ap.dm_way}</b></td>
					<td class=snvy align=right><b>Source area : </b></td>			
					<td class=frnt align=left bgcolor=#E7E6E6><b>&nbsp;{$ap.country}</b></td>

				<tr>
				<tr>
					<td class=snvy align=right><b>Ship TO : </b></td>			
					<td class=frnt align=left bgcolor=#E7E6E6 colspan=3><b>&nbsp;{$ap.ship_name}</b></td>
					<td class=snvy align=right><b>Attn. TO : </b></td>			
					<td class=frnt align=left  bgcolor=#E7E6E6><b>&nbsp;{$ap.ship_attn}</b></td>

				</tr>
				<tr>
					<td class=snvy align=right><b>Rcver TEL: </b></td>
					<td class=frnt align=left  bgcolor=#E7E6E6 colspan=2><b>&nbsp;{$ap.ship_tel}</b></td>
					<td class=snvy align=right ><b>Rcver FAX : </b></td>
					<td class=frnt align=left  bgcolor=#E7E6E6 colspan=2><b>&nbsp;{$ap.ship_fax}</b></td>
				</tr>
				<tr>
					<td class=snvy align=right><b>Rcver Addr: </b></td>
					<td class=frnt align=left  bgcolor=#E7E6E6 colspan=6><b>&nbsp;{$ap.ship_addr}</b></td>
				</tr>
				{if $ap.finl_dist}
				<tr><td colspan=8><hr SIZE=1 WIDTH=99%></td></tr>				
				<tr>
					<td class=snvy align=right><b>Final Dist. : </b></td>			
					<td class=frnt align=left bgcolor=#E7E6E6 colspan=3><b>&nbsp;{$ap.finl_name}</b></td>
					<td class=snvy align=right><b>Attn. TO : </b></td>			
					<td class=frnt align=left  bgcolor=#E7E6E6><b>&nbsp;{$ap.finl_attn}</b></td>

				</tr>
				<tr>
					<td class=snvy align=right><b>Rcver TEL: </b></td>
					<td class=frnt align=left  bgcolor=#E7E6E6 colspan=2><b>&nbsp;{$ap.finl_tel}</b></td>
					<td class=snvy align=right ><b>Rcver FAX : </b></td>
					<td class=frnt align=left  bgcolor=#E7E6E6 colspan=2><b>&nbsp;{$ap.finl_fax}</b></td>
				</tr>
				<tr>
					<td class=snvy align=right><b>Rcver Addr: </b></td>
					<td class=frnt align=left  bgcolor=#E7E6E6 colspan=6><b>&nbsp;{$ap.finl_addr}</b></td>
				</tr>	
				{/if}				
			</table>
		</td>
	</tr>
</table>
<hr SIZE=2 WIDTH=900>
{if $ap.special  == 0 || $ap.special  == 1 || $ap.special == 3}
<table border="1" cellspacing=0 cellpadding=2 width=900 id="table2">	
	<tr bgcolor="#003333" height=28>
		<td width="90"  class=back align="center" nowrap><b>Order #</b></td>		
		<td width="90" class=back align="center"><b>Material #</b></td>
		<td width="160" class=back align="center"><b>Color / Cat.</b></td>
        <td width="100" class=back align="center"><b>BOM Q'ty</b></td>
		<td width="70"  class=back align="center"><b>Loss(%)</b></td>
		<td width="100" class=back align="center"><b>Q'ty</b></td>		
		<td width="100"  class=back align="center"><b>Price</b></td>
		<td width="70" class=back align="center"><b>Amount</b></td>
		<td width="80" class=back align="center"><b>Ori ETD</b></td>
		<td width="80" class=back align="center"><b>Revise ETD</b></td>
	</tr>
	{section name=SEC loop=$ap_det2} 
	<tr onMouseOver="bgColor='#FCF4A4'" onMouseOut="bgColor='#ffffff'">
		<td  align="left">
 	  	{section name=AP loop=$ap_det2[SEC].orders}
	  	<a href="javascript:po_bom_view('{$ap_det2[SEC].orders[AP]}','{$ap.po_num}')" value='ord_out' style='cursor:pointer' title="ETP：{$ap_det2[SEC].orders_etp[AP]}">
 	  	{$ap_det2[SEC].orders[AP]}&nbsp;</a><br>
 	  	{/section}
		</td>
		<td  align="left" nowrap>
			<a href="javascript:{if $ap_det2[SEC].mat_cat == 'l'}Show_fab{else}Show_acc{/if}('{$ap_det2[SEC].mat_code}')" value='ord_out' style='cursor:pointer' title='{$ap_det2[SEC].mat_code}'>{$ap_det2[SEC].mat_code}</a>
		</td>
		<td  align="left">{$ap_det2[SEC].color}&nbsp;</td>
        <td  align="right">{$ap_det2[SEC].ap_qty|number_format:"2f"}&nbsp;{$ap_det2[SEC].unit}</td>		
		<td  align="right">{$ap_det2[SEC].range} %</td>
		<td  align="right">{$ap_det2[SEC].po_qty|number_format:"2f"}&nbsp;{$ap_det2[SEC].po_unit}</td>		
		<td  align="right">{$ap.fob}&nbsp;{$ap.fob_area}<br>{$ap_det2[SEC].prics|number_format:"2f"} / {$ap_det2[SEC].prc_unit}</td>
		<td  align="right">{$ap_det2[SEC].amount|number_format:"2f"}</td>
		<td  align="center" nowrap>{if $ap_det2[SEC].po_eta == '0000-00-00'}{$ap_det2[SEC].eta}{else}{$ap_det2[SEC].po_eta}{/if} </td>
		<td  align="center" nowrap>{if $ap_det2[SEC].rev_eta == '0000-00-00'}{$ap_det2[SEC].po_eta}{else}{$ap_det2[SEC].rev_eta}{/if} </td>
	</tr>	
	{if $ap_det2[SEC].ship_rmk}
	<tr>
		<td colspan=10 align="left" class="min_purchase"> <B>Remark : </B>{$ap_det2[SEC].ship_rmk} &nbsp;</td>
	</tr>
	{/if}	
	{/section}
{else}
<table border="1" cellspacing=0 cellpadding=2 width=900 id="table2">	
	<tr bgcolor="#003333" height=28>	
		<td width="90" class=back align="center"><b>Order</b></td>	
		<td width="90" class=back align="center"><b>Material #</b></td>		
		<td width="160" class=back align="center"><b>Color/Cat.</b></td>
        <td width="100"  class=back align="center"><b>BOM Q'ty</b></td>		
		<td width="60"  class=back align="center"><b>Loss(%)</b></td>
		<td width="100"  class=back align="center"><b>Q'ty</b></td>		
		<td width="100"  class=back align="center"><b>Price</b></td>
		<td width="70" class=back align="center"><b>Amount</b></td>
		<td width="80" class=back align="center"><b>Ori ETD</b></td>
		<td width="80" class=back align="center"><b>Revise ETD</b></td>
	</tr>
	{section name=SEC loop=$ap_spec} 
	<tr onMouseOver="bgColor='#FCF4A4'" onMouseOut="bgColor='#ffffff'">
		<td  align="left">			
	  	<a href="javascript:po_bom_view('{$ap_spec[SEC].ord_num}','{$ap.po_num}')" value='ord_out' style='cursor:pointer' title="ETP：{$ap_det2[SEC].orders_etp[AP]}">
 	  	{$ap_spec[SEC].ord_num}&nbsp;</a>
		</td>	
		<td  align="left" nowrap >			
			<a href="javascript:{if $ap_spec[SEC].mat_cat == 'l'}Show_fab{else}Show_acc{/if}('{$ap_spec[SEC].mat_code}')" value='ord_out' style='cursor:pointer'>{$ap_spec[SEC].mat_code}</a>
		</td>		<td  align="left">{$ap_spec[SEC].color}&nbsp;</td>
        <td  align="right">{$ap_spec[SEC].ap_qty|number_format:"2f"}&nbsp;{$ap_spec[SEC].unit}</td>
		<td  align="right">{$ap_spec[SEC].range}&nbsp;%</td>
		<td  align="right">{$ap_spec[SEC].po_qty|number_format:"2f"}&nbsp;{$ap_spec[SEC].po_unit}</td>				
		<td  align="right">{$ap.fob}&nbsp;{$ap.fob_area}<br>{$ap_spec[SEC].prics|number_format:"2f"}&nbsp;/ {$ap_spec[SEC].prc_unit}</td>
		<td  align="right">{$ap_spec[SEC].amount|number_format:"2f"}&nbsp;</td>
		<td  align="center" nowrap >{if $ap_spec[SEC].po_eta == '0000-00-00'}{$ap_spec[SEC].eta}{else}{$ap_spec[SEC].po_eta}{/if} </td>
		<td  align="center" nowrap >{if $ap_spec[SEC].rev_eta == '0000-00-00'}{$ap_spec[SEC].po_eta}{else}{$ap_spec[SEC].rev_eta}{/if}</td>
	</tr>	
	{/section}
{/if}


	{section name=SEC loop=$ap_oth_cost}	
	<tr bgColor='#ffffff'>	
		<td align="left" colspan=5>
				&nbsp;&nbsp; {$ap_oth_cost[SEC].item}			
		</td>	
		<td align="right" colspan=3>{$ap.currency}${$ap_oth_cost[SEC].cost|number_format:"2f"}</td>		
		<td align="center" colspan="2">&nbsp;</td>
	</tr>	
	{/section}
    <tr bgColor='#ffffff'>	
        <td align="left" colspan=3><b>&nbsp;&nbsp;Total</b></td>
        <td align="right"><b>{$ap.ap_ttl_qty|number_format:"2f"}</b></td>
        <td align="right">&nbsp;</td>
        <td align="right"><b>{$ap.ttl_qty|number_format:"2f"}</b></td>
        <td align="right" colspan=2><b>{$ap.currency}${$ap.po_total|number_format:"2f"}</b></td>
        <td align="center" colspan=2>&nbsp;</td>
    </tr>
	<tr bgColor='#ffffff'>	
		<td align="left" colspan="5"><b>&nbsp;&nbsp;Deal	 Amount</b></td>	
		<td align="right" colspan="3"><b>{$ap.currency}${$ap.dear|number_format:"2f"}</b></td>		
		<td align="center" colspan="2">&nbsp;</td>
	</tr>	
</table>

<table border="0" cellspacing=0 cellpadding=2 width=900>	
	<tr height=28>
		<td align="Left"><b>&nbsp;Acceptable Tolerance : {$ap.toler} % ( + - )</b></td>
	</tr>
</table>
<hr SIZE=2 WIDTH=900>

<!---------- SHOW 出 一些訂單歷史記錄   -->
{if $apply_special}  
<table border=1 cellspacing=0 cellpadding=0 width=900 align=center>
	<tr bgcolor=#A49587 height=25>
		<td colspan=5 align=center class=nvy9><b>Reason for Special Purchase</b></td>
	</tr>
	<tr bgcolor=#54473B height=25>
		<td width=100 class=w10 align=center>Date</td>
		<td width=80 class=w10 align=center>Item</td>
		<td width=300 class=w10 align=center>History records</td>
		<td width=80 class=w10 align=center>by</td>
	</tr>
	{section name=SEC loop=$apply_special}
	<tr bgcolor=#E2D9D1 >
		<td class=gry9 align=center><small>{$apply_special[SEC].k_date}</small></td>
		<td class=gry9 align=left>{$apply_special[SEC].item}</td>
		<td class=gry9 align=left>{$apply_special[SEC].des}</td>
		<td class=gry9 align=center>{$apply_special[SEC].user}</td>
	</tr>
	{/section}
</table>
<br>
{/if}    
{if $apply_log}  
<table border=1 cellspacing=0 cellpadding=0 width=900 align=center>
	<tr bgcolor=#bbbbbb height=25>
		<td colspan=5 align=center class=nvy9><b>History Remark</b></td>
	</tr>
	<tr bgcolor=#666666 height=25>
		<td width=100 class=w10 align=center>Date</td>
		<td width=80 class=w10 align=center>Item</td>
		<td width=300 class=w10 align=center>History records</td>
		<td width=80 class=w10 align=center>by</td>
	</tr>
	{section name=SEC loop=$apply_log}
	<tr bgcolor=#eeeeee >
		<td class=gry9 align=center><small>{$apply_log[SEC].k_date}</small></td>
		<td class=gry9 align=left>{$apply_log[SEC].item}</td>
		<td class=gry9 align=left>{$apply_log[SEC].des}</td>
		<td class=gry9 align=center>{$apply_log[SEC].user}</td>
	</tr>
	{/section}
</table>
{/if}   

<table border="0" cellspacing=0 cellpadding=2 width=900 id="table2">	
	<tr>
		<td width="100"  class=snvy align="Right">Approval : </td>
		<td width="170"  class=frnt align="left"><small>&nbsp;{if $ap.po_apv_user}<a href="javascript:message_out('{$ap.po_apv_user_id}')" style="cursor:pointer">{$ap.po_apv_user}</a>&nbsp;/&nbsp;{$ap.po_apv_date}{else}NO{/if}</small></td>
		<td width="100"  class=snvy align="Right">Confirm : </td>
		<td width="170"  class=frnt align="left"><div id='cfm_info'><small>&nbsp;{if $ap.po_cfm_user}<a href="javascript:message_out('{$ap.po_cfm_user_id}')" style="cursor:pointer">{$ap.po_cfm_user}</a>&nbsp;/&nbsp;{$ap.po_cfm_date}{else}NO{/if}</small></div></td>

		<td width="140" class=snvy align="Right">Submit : </td>
		<td width="120"  class=frnt align="left"><small>&nbsp;{if $ap.po_sub_date > '0000-00-00'}{$ap.po_sub_date}{else}NO{/if}</small></td>
		<td width="100"  class=snvy align="left">Apply by : </td>
		<td width="170"  class=frnt align="left"><small><a href="javascript:message_out('{$ap.ap_user}')" style="cursor:pointer">{$ap.po_sub_user}</a>&nbsp;/&nbsp;{$ap.po_date}</small></td>

	</tr>
</table> 

<hr SIZE=2 WIDTH=900>
<table border=0 cellspacing=0 cellpadding=0 cols=2 width=900>
	<tr>
		<td valign=top width=100>
			{if $back_str}
			<input type=button onClick="window.location.href='{$PHP_SELF}?PHP_action=po_cfm_search{$back_str}'" value=" << back " class=select_e style="cursor:pointer; width=99; height:40;"></form>
			{/if} 
		</td>
{if $add_flag && $ap.status == 8}
	<td width=62 valign=top><div id=cfm_1>
		<form method=POST name=cfm action="{$PHP_SELF}">
		<input type="hidden" name="PHP_action" value="do_po_cfm" >
		<input type="hidden" name="PHP_id" value="{$ap.id}">
		<input type="hidden" name="PHP_aply_num" value="{$ap.ap_num}">
		<input type="hidden" name="PHP_back_str" value="{$back_str}">	
		<input type=button value="CFM ok" class=select_e style="cursor:pointer; width=60; height:40" onclick="do_cfm('{$ap.id}','{$ap.ap_num}')"; ></form>
	</div></td>
	<td class=gry10 align=right valign=middle width=65><div id=cfm_2>remark:</div></td>
	<td class=gry10 valign=top ><div id=cfm_3>
		<form method=POST name=reject action="{$PHP_SELF}">
	    <textarea name="PHP_detail" rows=2 cols=60 class=select>{$ap_log.des}</textarea>
		<input type="hidden" name="PHP_action" value="reject_po_cfm">
		<input type="hidden" name="PHP_id" value="{$ap.id}">
		<input type="hidden" name="PHP_aply_num" value="{$ap.ap_num}">
		<input type="hidden" name="PHP_back_str" value="{$back_str}">	
		<input type=submit value=" reject " class=select_e style="cursor:pointer; width=60; height=40" onClick=this.width=0; /></form>
	</div></td>
{/if}
  </tr>
</table> 
<!--------- footer ---------->
{include file="footer.html"}