<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM -B [ ORDER RECORD ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<Script language="javascript">
var $old ="";
function refreshIt()  {
	if (!document.images) return;
	picturs.src = '{/literal}{$main_pic}{literal}?'+ Math.random();	
//	window.document.forms['show_pre'].elements['picturs'].value = '{/literal}{$main_pic}{literal}?'+ Math.random();	

}

function cfm_revise(id,status,pre_ord) {
	if ( confirm("are you sure to REVISE pre-order :#[ "+pre_ord+" ] ?\r\rEvery Revise event will cancel entire process had done !\rAnd restart the Order procedure from beginning Again !\r\rBe sure this is OK for you!")) {
		location.href="pre_order.php?PHP_action=revise_pre_order&PHP_id="+id+"&PHP_status="+status;
	} 
}
</script>
{/literal}
</head>
<body bgcolor="#003C77" background="images/vline-515.jpg" onLoad="refreshIt();">

<br>
<table cellspacing=1 cellpadding=4 cols=1 width=700 bgcolor=#333333>
	<tr>
	  <td class="ylw10" align=center height=28 width=130> {if $order.status == 0}<b>Wait for Submit</b>
	  							{elseif $order.status == 2}SUBMITTED
									{else}&nbsp;{/if}									
		</td>
		
		<td class="des" align=center height=28> [ <span class=ylw10><b>PER-ORDER</b></span> RECORD -- REVISE ] </td>
	

	  <td class="sign" align=center width=90>
	   {if $order.revise > 0 }[ <b>REVISE</b> ] : <b><i><span class=ylw10>{$order.revise}</span></i></b>{else}&nbsp;{/if}
	  </td>

	  <td class="des" align=center width=50>
	   {if $order.status > 1 }
			<a href="javascript:cfm_revise('{$order.id}','{$order.status}','{$order.pre_ord}')" value='revise' style='cursor:pointer'>
			<img src='./images/revise21.jpg' border=0 ALT="REVISE ORDER"></a>
	   {else}
		&nbsp;
	   {/if}
	  </td>	   
	
	</tr>
</table>
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=700>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
<table border=0 cellspacing=0 cellpadding=1 width=700 bgcolor=#FFFFFF>


 <tr>
 	  <td class=bgdy align=center><i><b>picture</b></i></td>
 	  <td class=snvy align=right colspan=6 nowrap>&nbsp;</td>
 </tr> 	  
	
  <tr>	
		<td align=center class=head valign=top rowspan=8>
			<table width=150 border=1 cellspacing=0 cellpadding=1>
				<tr><td align=center>
					<input type="image" name="picturs"  id="picturs" src="{$main_pic}"  width=150 border="0" onclick='window.open2("{$main_pic}","","resizable=yes,height=480,width=640")'>
				</td></tr>

			</table>
		</td>
    <td colspan=6 class=frnt align=right><b>currency : US$&nbsp;&nbsp;&nbsp;</b></td>
  </tr>
  <tr>
    <td colspan=6 class=frnt align=center><hr size=2 width=98%></td>
  </tr>  
	<tr>
    <td class=snvy width=80  align=right nowrap><b>Pre-Order # :</b></td>
    <td class=bgdy width=100 align=left ><b>{$order.pre_ord}</b></td>
    <td class=snvy width=90  align=right nowrap><b>Team :</b></td>
    <td class=b9   width=100 align=left><b>{$order.dept}</b></td>
    <td class=snvy width=80  align=right nowrap><b>Customer :</b></td>
    <td class=b9   width=240 align=left><b>{$order.cust_iname}</b></td>

	</tr>
    <td class=snvy align=right nowrap><b>Factory :</b></td>
    <td class=b9 align=left><b>{$order.fty}</b></td>
    <td class=snvy align=right nowrap><b>Style :</b></td>
    <td class=b9 align=left><b>{$order.style}</b></td>
    <td class=snvy width=80 align=right nowrap><b>Agent :</b></td>
    <td class=b9 width=170 align=left><b>{$order.agent}</b></td>
 	</tr>

 <tr>
    <td class=snvy align=right nowrap><b>Q'ty : </b></td>
		<td class=b9 align=left><b>{$order.qty} {$order.unit}</b></td>
    <td class=snvy align=right nowrap><b>SU :</b></td>
  	<td class=b9 align=left><b>{$order.su}</b></td>
    <td class=snvy align=right nowrap><b>ETD :</b></td>
	  <td class=b9 align=left><b>{$order.etd}</b></td>	    	  
 </tr>
  
 <tr> 
    <td class=snvy align=right nowrap><b>SPT. :</b></td>
 	  <td class=b9 align=left><b>{$order.spt}</b></td>
    <td class=snvy align=right nowrap><b>IE. :</b></td>
 	  <td class=b9 align=left><b>{$order.ie}</b></td>

  </tr>
  <tr>
    <td colspan=6 class=frnt align=center><hr size=2 width=98%></td>
  </tr> 
  <tr> 
    <td class=snvy align=right nowrap><b>Submit :</b></td>
 	  <td class=b9 align=left colspan=2>&nbsp;{if $order.submit_user}{$order.submit_user} -[{$order.last_update}]{/if}</td>
	  <td class=snvy align=right nowrap><b>Open :</b></td>
	  <td class=b9 align=left colspan=2>&nbsp;{$order.creator} - [{$order.open_date}]</td>	
    	  
  </tr>  
  <tr>
    <td colspan=7 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
 <tr>
</table>



<!--------- footer ---------->
{include file="footer.html"}
