<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM -B [ ORDER RECORD ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/col.js"></script>
<Script language="javascript">
var $old ="";
function cfm_img() {
		var $old ="";
		$old = document.pic.src;
		document.pic.src = document.adding.PHP_pic.value;

	if ( !confirm ("confirm if the picture is correct?")){
		document.pic.src = $old;
	} else {
		document.adding.PHP_pic_upload.value ="1";
	}
}
function wait(){
	alert ("如果您有傳圖上主機時時，將會花上一段時間!!\r\r請在等待[視窗自動更新]前,不要再按任何按扭。 \r最佳的方法，請將您的圖檔盡可能設定與系統要求相同大小    \r\r因為系統接受圖檔後，會自動將圖再format成固定大小 !  ");
}

</script>
{/literal}
</head>
{if $re_adding}
<body>
{else}
<body>
{/if}
<form method=POST name=adding enctype="multipart/form-data">
<br>
<table cellspacing=1 cellpadding=4 cols=1 width=700 bgcolor=#333333>
	<tr><td class="des" align=center height=28> [ <span class=ylw10><b>APPEND</b></span> ORDER ] </td></tr>
</table>
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=700>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
<table border=0 cellspacing=0 cellpadding=1 width=700 bgcolor=#FFFFFF>


 <tr>
 	  <td class=bgdy align=center><i><b>picture</b></i></td>
 	  <td class=snvy align=right colspan=6 nowrap>&nbsp;</td>
 </tr> 	  
	
  <tr>	
		<td align=center class=head valign=top rowspan=6>
			<table width=150 border=1 cellspacing=0 cellpadding=1>
				<tr><td align=center><img src={if $main_pic}{$main_pic}{else}"./images/graydot.gif"{/if} name="pic" width=150></td></tr>
				<tr><td align=center valign=top class=head>
					<input name="PHP_pic" type="file" onChange="cfm_img()" value="{$order.pic}" size=10>
					<input type="hidden" name="PHP_pic_upload" value="">
					</td>
				</tr>
			</table>
		</td>
    <td colspan=6 class=frnt align=right><b>currency : US$&nbsp;&nbsp;&nbsp;</b></td>
  </tr>
  <tr>
    <td colspan=6 class=frnt align=center><hr size=2 width=98%></td>
  </tr>  
	<tr>
    <td class=snvy align=right nowrap><b>Pre-Order # :</b></td>
    <td class=bgdy align=left  ><b>{$order.pre_ord}</b></td>
    <td class=snvy align=right nowrap><b>Customer :</b></td>
    <td class=bgdy align=left><b>{$order.cust}</b></td>
    <td class=snvy align=right nowrap><b>Team :</b></td>
    <td class=bgdy align=left><b>{$order.dept}</b></td>
 	</tr>

 <tr>
    <td class=snvy align=right nowrap><b>Style :</b></td>
    <td class=bgdy align=left><b>{$style}</b></td>
    <td class=snvy align=right nowrap><b>Q'ty : </b></td>
    <td class=bgdy align=left><b><input type='text' name="PHP_qty" size=8 value="{$order.qty}" class=select> </td>
    <td class=snvy align=right nowrap><b>unit :</b></td>
  	<td class=b9 align=left><b>{$unit}</b></td>
 </tr>
  
 <tr>
    <td class=snvy align=right nowrap><b>Agent</b></td>
	  <td class=b9 align=left>{$agent_select}</td>
 
    <td class=snvy align=right nowrap><b>ETD :</b></td>
	  <td class=b9 align=left>
	    <input type="text" name="PHP_etd" size="15" class=select value="{$order.etd}" readonly> 
	    <img align='top' onmousedown="javascript:Cal(document.adding.PHP_etd,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand'>
	  </td>	 	    
    <td class=snvy align=right nowrap><b>FTY :</b></td>
  	<td class=b9 align=left><b>{$factory}</b></td>   	  

  </tr>	  
  <tr>
    <td class=snvy align=right nowrap><b>SPT. :</b></td>
 	  <td class=b9 align=left colspan=3><input type='text' name="PHP_spt" size=8 value="{$order.spt}" class=select></td>
  </tr>
  <tr>
    <td colspan=7 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
 <tr>
</table>
<table border=0 cellspacing=0 cellpadding=2 width=690 bgcolor=#ffffff align=center>
  <tr>
  <td colspan=7>
	<input type="hidden" name="PHP_action" value="do_pre_order_edit">
	<input type="hidden" name="PHP_back_str" value="{$back_str}">
	<input type="hidden" name="PHP_id" value="{$order.id}">
	<input type="hidden" name="PHP_pre_ord" value="{$order.pre_ord}">
	<input type="hidden" name="PHP_revise" value="{$order.revise}">
	<input type=submit value="[ UPDATE as above ]" class=select_e style="cursor:pointer; width=100%" onClick=this.width=0;></form>
  </tr>



</table>
<!--------- footer ---------->
{include file="footer.html"}
