<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>==== ::::::::::  ORDER LISTING :::::::::: ====</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">
<!--*****­¶¼Ʒs¼Wstart -->
function re_open(pd_id,ord_num, pgs) {
//	var T = '';
//		T = window.document.forms['add'].elements['qty_'+pd_id].value;
	if ( confirm("are you sure to re-open Order:[ "+ord_num+" ]?")) {
		cgiget="{/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.order_num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}";
		location.href="index2.php?PHP_action=re_open_finish&PHP_pd_id="+pd_id+"&PHP_ord_num="+ord_num+"&PHP_back="+cgiget+"&PHP_sr_startno="+pgs;
	} 
}

function cfm_add(pd_id, ord_num, unit, pgs, qty, qty_done) {
	var T = '';
		T = window.document.forms['add'].elements['qty_'+pd_id].value;
	var m_qty = parseInt(qty) + parseInt((qty*20/100));
	var done = parseInt(qty_done)+parseInt(T);
	if(m_qty < done)
	{
		alert("Cannot Accept Your Input Q'ty. \rTotal finish q'ty exceed 20% then original order Q'ty. \rPlease Contaet Sales division if needed.");
   	document.getElementById("tbl_msg").style.display='block';    
    	msg1.innerHTML  = "<b>Cannot Accept Your Input Q'ty. <br>  Total finish q'ty exceed 20% then original order Q'ty. <br> Please Contaet Sales division if needed. </b>"; 

		return;
	}
	if ( confirm("are you sure to add #[ "+ord_num+" ] \rin quantity ["+T+"] "+unit+"\rfor today's production ??")) {
		cgiget="{/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.order_num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}";
		location.href="index2.php?PHP_action=add_production&PHP_pd_id="+pd_id+"&PHP_ord_num="+ord_num+"&PHP_qty="+T+"&PHP_back="+cgiget+"&PHP_sr_startno="+pgs;
	} 
}

function cfm_finish(pd_id, ord_num, unit, pgs, qty, qty_done) {
	var T = '';
		T = window.document.forms['add'].elements['qty_'+pd_id].value;

	var m_qty = parseInt(qty) + parseInt((qty*20/100));
	var done = parseInt(qty_done)+parseInt(T);
	if(m_qty < done)
	{
		alert("Cannot Accept Your Input Q'ty. \rTotal finish q'ty exceed 20% then original order Q'ty. \rPlease Contaet Sales division if needed.");
   	document.getElementById("tbl_msg").style.display='block';    
    	msg1.innerHTML  = "<b>Cannot Accept Your Input Q'ty. <br>  Total finish q'ty exceed 20% then original order Q'ty. <br> Please Contaet Sales division if needed. </b>"; 

		return;
	}



	if ( confirm("are you sure to FINISH #[ "+ord_num+" ] \rin quantity ["+T+"] "+unit+"\rafter today's production ??")) {
		cgiget="{/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.order_num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}";
		location.href="index2.php?PHP_action=finish_production&PHP_pd_id="+pd_id+"&PHP_ord_num="+ord_num+"&PHP_qty="+T+"&PHP_back="+cgiget+"&PHP_sr_startno="+pgs;
	} 
}
<!--*****­¶¼Ʒs¼Wend -->
function cfm_ship(pd_id, ord_num, unit, fty) {
	var T = '';
		T = window.document.forms['add'].elements['qty_'+pd_id].value;
	if ( confirm("are you sure to SHIP #[ "+ord_num+" ] \rin quantity ["+T+"] "+unit+"\rtoday ??")) {
		cgiget="{/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.order_num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5="+fty;
		location.href="index2.php?PHP_action=add_shipping&PHP_pd_id="+pd_id+"&PHP_ord_num="+ord_num+"&PHP_qty="+T+"&PHP_back="+cgiget;
	} 
}
 
function cfm_del_out(ord_num, qty, su, fty, unit, id, pgs) {
//	var T = '';
//		T = window.document.forms['add'].elements['qty_'+pd_id].value;
	if ( confirm("are you sure to CANCEL today's output record :\r\r #[ "+ord_num+" ] in quantity ["+qty+"] "+unit+"\r\r  ????")) {
		cgiget="{/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.order_num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}";
		location.href="index2.php?PHP_action=del_production&PHP_daily_id="+id+"&PHP_ord_num="+ord_num+"&PHP_fty="+fty+"&PHP_qty="+qty+"&PHP_su="+su+"&PHP_back="+cgiget+"&PHP_sr_startno="+pgs;
	} 
}

function cfm_del_shp(ord_num, qty, su, fty, unit, id) {
//	var T = '';
//		T = window.document.forms['add'].elements['qty_'+pd_id].value;
	if ( confirm("are you sure to CANCEL today's shipping record :\r\r #[ "+ord_num+" ] in quantity ["+qty+"] "+unit+"\r\r  ????")) {
		cgiget="{/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.order_num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5="+fty;
		location.href="index2.php?PHP_action=del_shipping&PHP_shp_id="+id+"&PHP_ord_num="+ord_num+"&PHP_fty="+fty+"&PHP_qty="+qty+"&PHP_su="+su+"&PHP_back="+cgiget;
	} 
}
 
 </script>
{/literal}
</head>
<body bgcolor="#003C77" topmargin=10><form name='add'>

     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=690 id='tbl_msg' style="display : none">
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy><div id='msg1'></div></td>        
      </tr>
     </table>

 <table width=730 border=1 cellspacing=0 cellpadding=2>
  <tr><td colspan=13 align=center class=gry><b>PRODUCTION ORDER LIST</b></td></tr>
<!----------
{if $msg_YES}
 <TR><TD colspan=10>
     <table border=0 cellpadding=3 cellspacing=0 cols=1 width=690>
      <tr bgcolor=#ffffff>
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
 </TD></TR>
{/if}
------>

  <tr bgcolor="#0D4368"> 
    <td class=w9 width=55 align=center>order#</td>
    <td class=w9 width=55 align=center>cust.</td>
    <td class=w9 width=65 align=center>ETD</td>
    <td class=w9 width=65 align=center>STYEL#</td>
    <td class=w9 width=30 align=center>Est. <br> C.M.</td>
    <td class=w9 width=30 align=center>FTY <br> C.M.</td>
    <td class=w9 width=50 align=center>Order <br> Q'ty</td>
    <td class=w9 width=50 align=center>finish <br> Q'ty</td>
    <td class=w9 width=130 align=center colspan=2>out-put</td>
    <td class=w9 width=65 align=center bgcolor=#4A0033>close</td>
    <td class=w9 width=20 align=center>FTY</td>
    <td class=w9 width=10 align=center>Pd</td>
  </tr>
{section name=SEC loop=$sorder}
{if $sorder[SEC].status > 9}
  <tr bgColor='#dddddd'>
{else}
  {if $sorder[SEC].sub_con == 1}
	  <tr bgColor='#FFFFDF'></a>
  {else}
  <tr onmouseover="bgColor='#FCF4A4'" onmouseout="bgColor='#ffffff'">
  {/if}
{/if}
   <td class=gry9 align=center><small><a href="{$PHP_SELF}?PHP_action=ord_schedule_view&PHP_order_num={$sorder[SEC].order_num}&cgiget= {$cgistr_get}&cgino={$now_pp}&cgi_1={$cgi.dept}&cgi_2={$cgi.order_num}&cgi_3={$cgi.cust}&cgi_4={$cgi.ref}&cgi_5={$cgi.factory}">{$sorder[SEC].order_num}</a></small></td>
   <td class=gry9 align=center><small>{$sorder[SEC].cust_iname}&nbsp;</small></td>
   <td class=b9 align=center><small>{$sorder[SEC].etd}&nbsp;</small></td>
   <td class=gry9 align=center><small>{$sorder[SEC].style_num}&nbsp;</small></td>
   <td class=gry9 align=center><small>{$sorder[SEC].cm}&nbsp;</small></td>
   <td class=gry9 align=center><small>{$sorder[SEC].fty_cm}&nbsp;</small></td>
   <td class=gry9 align=right>{$sorder[SEC].qty|number_format}&nbsp;{$sorder[SEC].unit}</td>
   <td class=ssign align=right>{$sorder[SEC].qty_done|number_format}&nbsp;{if $sorder[SEC].qty_done}{$sorder[SEC].unit}{/if}</td>
   {if $add_flag && $sorder[SEC].status < 10 && $sorder[SEC].del_mk == 0}
   <!--*****­¶¼Ʒs¼Wstart -->
   <td class=ssign align=center><b>
		<input type=text name="qty_{$sorder[SEC].id}" size=5 class=select value="{$sorder[SEC].today}" style='text-align:center'></td>
	<td class=b9 align=center>
		<a href="javascript:cfm_add({$sorder[SEC].id},'{$sorder[SEC].order_num}','{$sorder[SEC].unit}','{$now_pp}','{$sorder[SEC].qty}','{$sorder[SEC].qty_done}')" value='add' style='cursor:pointer'>
		<img src='./images/done.jpg' border=0 ALT="produced Today"></a></td>
	<td class=ssign align=center>
		<a href="javascript:cfm_finish({$sorder[SEC].id},'{$sorder[SEC].order_num}','{$sorder[SEC].unit}','{$now_pp}','{$sorder[SEC].qty}','{$sorder[SEC].qty_done}')" value='finish' style='cursor:pointer'>
		<img src='./images/finish.jpg' border=0 ALT="finish Today"></a></td>
	{else}
   <td class=b9 align=center colspan=3>{if $sorder[SEC].status >= 10}{$sorder[SEC].finish}&nbsp;finished{/if}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {if $add_flag}<a href="javascript:re_open({$sorder[SEC].id},'{$sorder[SEC].order_num}','{$now_pp}')" value='finish' style='cursor:pointer'><img src='./images/REOPEN.jpg' border=0 ALT="RE_OPEN style">{/if}</a></td>
   {/if}
<!--*****­¶¼Ʒs¼Wend -->


   <td class=gry9 align=center><b>{$sorder[SEC].factory}&nbsp;</b></td>
   <td class=gry9 align=center><b>{if $sorder[SEC].sub_con == 1}S{else}I{/if}&nbsp;</b></td>
  </tr>
  {/section}

</table>
<br>
<table width=660 border=0 cellspacing=0 cellpadding=1>
  <tr>
    </td>
    <td class=w9 colspan=3 align=center><span class=bgdy>* </font>above listing {if $msg_YES}{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]} &nbsp;{/section}{/if}&nbsp;order records!&nbsp;&nbsp;<span class=bgdy9>[ total :{$max_no} entries ]</font>
    </td>
  </tr>
  <tr>
    <td align=center width=180><form name="form5" method="post">    
<!--*****--2006.11.16­¶½X·s¼W start	  -->  
{if $pages[0] > 1}
    <input type="button" name="Submit5" value=" < prev 10 page" class=select_e style="cursor:pointer; width:90%" onClick="window.location='{$cgistr_get}&PHP_cust={$cgi.cust}&PHP_dept_code={$cgi.dept}&PHP_order_num={$cgi.order_num}&PHP_ref={$cgi.ref}&PHP_factory={$cgi.factory}&PHP_sr_startno=p{$pages[0]}'">
{/if}
    &nbsp;
	</td>
	<td align=center width=260>    
    
    {section name=PGE loop=$pages}
    {if $pages[PGE] <= $maxpage }
    {if $pages[PGE] == $now_pp}
    <font color="#FF0000"><i><b>&nbsp;{$pages[PGE]}</b></i></font>
    {else}
    <a href="{$cgistr_get}&PHP_cust={$cgi.cust}&PHP_dept_code={$cgi.dept}&PHP_order_num={$cgi.order_num}&PHP_ref={$cgi.ref}&PHP_factory={$cgi.factory}&PHP_sr_startno={$pages[PGE]}" style="cursor:pointer">&nbsp;{$pages[PGE]}</a>
    {/if}
    {/if}   
    {/section}
    &nbsp;</td>
    <td  align=center width=180>
    
{if $lastpage < $maxpage}
    <input type="button" name="Submit6" value="next 10 page >" class=select_e style="cursor:pointer; width:90%" onClick="window.location='{$cgistr_get}&PHP_cust={$cgi.cust}&PHP_dept_code={$cgi.dept}&PHP_order_num={$cgi.order_num}&PHP_ref={$cgi.ref}&PHP_factory={$cgi.factory}&PHP_sr_startno=n{$lastpage}'">
{/if}
<!--*****--2006.11.16­¶½X·s¼W end	  -->    
    </td></form>

	<td align=center width=60>
			<a href="{$PHP_SELF}?PHP_action=pdt_excel&PHP_cust={$cgi.cust}&PHP_dept_code={$cgi.dept}&PHP_order_num={$cgi.order_num}&PHP_ref={$cgi.ref}&PHP_factory={$cgi.factory}" style="cursor:pointer">
			<img src="./images/excel_icon.gif" border=0 alt="轉  windows [Excel]"></a>
	</td>
  </tr>
</table>
<br>
<!----------------------------------------------------------->
<!--====================  ¤µ¤砲£¥X¼ƶq ¦Cª랭------------->
 <table width=500 border=1 cellspacing=0 cellpadding=2 align=center>
  <tr>
    <td colspan=3 align=center class=gry><b>+++ OUTPUT records of TODAY ++++</b></td>
    <td colspan=2 align=center class=bgdy9>Q'ty: <span class=snvy><b>{$today_qty}</b></span> unit ::<span class=snvy> <b>{$today_su}</b></span> s.u.</td>
 </tr>
  <tr bgcolor="#0D4368"> 
    <td class=w9 width=120 align=center>order#</td>
    <td class=w9 width=100 align=center>output Q'ty</td>
    <td class=w9 width=100 align=center>S.U.</td>
    <td class=w9 width=80 align=center>FTY</td>
    <td class=w9 width=50 align=center>remark</td>
  </tr>
{section name=TODAY loop=$pdt}
  <tr onmouseover="bgColor='#FCF4A4'" onmouseout="bgColor='#ffffff'"></a>
   <td class=b9 align=center>{$pdt[TODAY].ord_num}&nbsp;</td>
   <td class=b9 align=center>{$pdt[TODAY].qty}&nbsp;{$pdt[TODAY].unit}</td>
   <td class=b9 align=center>{$pdt[TODAY].su}&nbsp;</td>
   <td class=b9 align=center>{$pdt[TODAY].factory}&nbsp;</td>
   <td class=b9 align=center>
   {if $add_flag}
 <!--*****­¶¼Ʒs¼Wstart -->
		<a href="javascript:cfm_del_out('{$pdt[TODAY].ord_num}',{$pdt[TODAY].qty},{$pdt[TODAY].su},'{$pdt[TODAY].factory}','{$pdt[TODAY].unit}','{$pdt[TODAY].id}','{$now_pp}')" value='del' style='cursor:pointer'>
		<img src='./images/x07.jpg' border=0 ALT="cancel output">{/if}&nbsp;</td>
  </tr>
  <!--*****­¶¼Ʒs¼Wend -->
{/section}
{if !$daily_records}
   <td class=bgdy align=center colspan=5>+++ none OUTPUT records for today currently +++</td>
{/if}
<!----------------------------------------------------------->
<!--------- footer ---------->
{include file="footer.html"}
