<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>===.........  CAPACITY SEARCH .........===</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="JavaScript">
function search() {
	month = window.document.forms['rate'].elements['PHP_month'].value;
	year  = window.document.forms['rate'].elements['PHP_year'].value;
	location.href="rate.php?PHP_action=do_rate_search&PHP_month="+month+"&PHP_year="+year;
}

function add() {
	month = window.document.forms['rate'].elements['PHP_month'].value;
	year  = window.document.forms['rate'].elements['PHP_year'].value;
	location.href="rate.php?PHP_action=rate_add&PHP_month="+month+"&PHP_year="+year;
 }
</script>
{/literal}

</head>
<body  bgcolor="ffffff" background=" ">&nbsp;
<!-- ################################################################################# -->

<br><form METHOD="POST" name="rate">
<table border=1 cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#DDDDDD  align=center>

<tr><td>
<table cellspacing=1 cellpadding=1 cols=1 width=100% bgcolor=#003333 align=center>
	<tr>
		<td class="des" align=center height=28>[ SEARCH TARGET FACTORY'S CAPACITY]</td>
	</tr>
</table>
</td></tr>

{if $msg_YES}
 <tr><td>
     <table border=0 cellpadding=2 cellspacing=0 width=620 align=center>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
 </td></tr>
{/if}

<tr><td>
<table border=0 cellspacing=6 cellpadding=1 width=600>
  </tr>
		<td nowrap width=100  align=center class=b10><b>Year :</b></td>
		<td nowrap width=60  class=b10>{$year_select}</td>
		<td nowrap width=100  align=center class=b10><b>Month :</b></td>
		<td nowrap width=340  class=b10>{$month_select}</td>
  </tr>
 </table>
</td></tr>
</table>
<br>
<table border=0 cellspacing=0 cellpadding=0 width=600 align=center>
	<tr> 
	<tr> 
	  <td align=center width=400>
		<input type=button value=" SEARCH / LIST CURRENCY " class=select_e style="cursor:pointer; width:99%" onClick="javascript:search(); this.width=0;">
	  </td>
{if $add_flag}
	  <td align=center width=200>
		<input type=button value=" asign CURRENCY " class=select_e2 style="cursor:pointer; width:99%" onClick="javascript:add();this.width=0;">
	  </td>
{/if}
	</tr>
</table>


</form>
<!--------- footer ---------->
{include file="footer.html"}