<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===::::::::::SCM SYSTEM -- RECEIVING ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/open_detial.js"></script>
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/jquery.blockUI.js"></script>
<Script language="javascript">

function aply_revise(id,rcv_num,back_str,version) {
	var loc;
	loc='apply_revise';
	if ( confirm("are you sure to REVISE Receive:#[ "+rcv_num+" ] ?\r\rEvery Revise event will cancel entire process had done !\rAnd restart the apply procedure from beginning Again !\r\rBe sure this is OK for you!")) {
		location.href="receive.php?PHP_action=rcvd_revise&PHP_rcv_num="+rcv_num+back_str+"&PHP_id="+id+"&PHP_ver="+version;
	} 
}

function Show_batch_cost(id) {
	var url ='index2.php?PHP_action=ord_batch_cost&PHP_bom_num='+id; 	
	var nm = 'Sworking';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=900,height=600 top=50, left=100');
}

function file_del(table,id,rcv_num,file_name,back_str) {
	if ( confirm("Are you shure to delete this file  ??")) {
		location.href="receive.php?PHP_action=do_file_del&PHP_id="+id+"&PHP_talbe="+table+"&PHP_rcv_num="+rcv_num+"&PHP_file_name="+file_name+back_str;
	}
}
 
function mask() {
	$.blockUI({ message: '<div><br><h4>Submit...</h4></div>'});
}


</script>

{/literal}
</head>
{if $resize}
<body topmargin="10" onLoad="tblresize();" />
{else}
<body>
{/if}
<br>
<table cellspacing=1 cellpadding=4 cols=1 width=900 id="tblShow">
	<tr>
		<td>
			<table cellspacing=1 cellpadding=4 cols=1 width=900 bgcolor=#003300>
				<tr>
					<td class="des" align=center width=150>
						{if $rcv.status ==0}<b>Waiting for submit</b>
						{elseif $rcv.status ==2}<b>Rcvd. Submitted</b>
						{elseif $rcv.status ==4}<b>Rcvd. CFM</b>
						{elseif $rcv.status ==13}<span class=ssign><b>Rcvd. Reject</b></span>
						{else}&nbsp;
						{/if}
					</td>
					<td class="des" align=center width=300><span class=sign_b>Factory Receiving&nbsp;</span> # <span class=ylw10><b>{$rcv.rcv_num}</b></span>  Record </td>
						<td class="des" align=center>
					   {if ($rcv.status == 4 or $rcv.status == 2) && $edit_flag  }
							<a href="javascript:aply_revise('{$rcv.id}','{$rcv.rcv_num}','{$back_str}','{$rcv.version}')" value='revise' style='cursor:pointer'>
							<img src='./images/revise21.jpg' border=0 ALT="REVISE"></a>
					   {/if}
					  </td>
						<td class="ylw10" align=center height=28> {if $rcv.version <> 0}<span class=sign_b>Version</span> <b>{$rcv.version}</b>{else}&nbsp;{/if} </td>

					<td>
					{if $rcv.status == 2 }
					<a href="receive.php?PHP_action=rcvd_print&PHP_rcv_num={$rcv.rcv_num}">
							<img src="./images/print9.jpg" border=0 alt="PDF: SAVE/PRINT"></a>
							{else}&nbsp;{/if}
					</td>
				</tr>
			</table>

			{if $msg_YES}
			<table border=1 cellpadding=4 cellspacing=0 cols=1 width=900>
				<tr bgcolor=#ffffff> 
					<td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
					<td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
				</tr>
			</table>
			{/if}
			<hr SIZE=2 WIDTH=900>
			<table border=0 cellspacing=1 cellpadding=4 width=900 bgcolor=#FFFFFF>
				<input type="hidden" name="PHP_chkacc_no" value="{$rcv.rcv_num}">
				<tr>
					<td width=80  class=snvy  align=right bgcolor=#E9F7E8 ><b>Receiving #: </b></td>
					<td width=90  class=b9    align=left><b>&nbsp;{$rcv.rcv_num}</b></td>		
					<td width=60  class=snvy  align=right bgcolor=#E9F7E8 ><b>Dept : </b></td>
					<td width=50  class=b9    align=left><b>&nbsp;{$rcv.dept}</b></td>
					<td width=110  class=snvy  align=right bgcolor=#E9F7E8 ><b>Receiver : </b></td>
					<td width=140  class=b9    align=left><b>&nbsp;{$rcv.ship}</b></td>		
					<td width=70  class=snvy  align=right bgcolor=#E9F7E8 ><b>Ship num : </b></td>
					<td width=90  class=b9    align=left><b>&nbsp;{$rcv.ship_num}</b></td>
				</tr>

				<tr>
					<td class=snvy  align=right ></td>
					<td class=ssign    align=left colspan=3>&nbsp;{if $rcv.ann_num}({$rcv.ann_num}){/if}</td>		
				

				</tr>
			</table>

			<hr SIZE=2 WIDTH=900>

			<table border="1" cellspacing=0 cellpadding=3 width="900" id="table1">	
				<tr bgcolor="#584E5C" height=30>
					<td cellpadding=2 width="100" class=back align="center"><b>Invoice #</b></td>
					<td cellpadding=2 width="80" class=back align="center"><b>Order #</b></td>
					<td cellpadding=2 width="80" class=back align="center"><b>P / O #</b></td>
					<td cellpadding=2 width="90" class=back align="center"><b>Material #</b></td>
					<td cellpadding=2 width="150" class=back align="center"><b>Color/cat</b></td>
					<td cellpadding=2 width="100" class=back align="center"><b>P / O &nbspQ'ty</b></td>
					<td cellpadding=2 width="100" class=back align="center"><b>Export &nbsp;Q'ty</b></td>
					<td cellpadding=2 width="100" class=back align="center"><b>Receiving Q'ty</b></td>
				</tr>
				{section name=CHK_D loop=$rcv_det} 
				<tr onmouseover="bgColor='#FCF4A4'" onmouseout="bgColor='#ffffff'">
					<td align="left">{$rcv_det[CHK_D].inv_num}&nbsp;</td>
					<td  align="center" nowrap>
					{section name=AP loop=$rcv_det[CHK_D].link_qty}
						<a href="javascript:po_bom_view('{$rcv_det[CHK_D].link_qty[AP].ord_num}','{$rcv_det[CHK_D].po.po_num}')" style='cursor:pointer'>{$rcv_det[CHK_D].link_qty[AP].ord_num}</a>&nbsp;<br>
					{/section}
					</td>
					<td align="center"><a href="javascript:po_show('{$rcv_det[CHK_D].ap_num}','')" style='cursor:pointer'>{$rcv_det[CHK_D].po_num}</a></td>
					<td align="center">			
						<a href="javascript:{if $rcv_det[CHK_D].mat_cat == 'l'}Show_fab{else}Show_acc{/if}('{$rcv_det[CHK_D].mat_code}')" style='cursor:pointer'>{$rcv_det[CHK_D].sname[0]}</a>
					</td>
					<td align="left">{$rcv_det[CHK_D].color}&nbsp;</td>
					<td cellpadding=2 align="right">{$rcv_det[CHK_D].po.po_qty|number_format:"2f"} {$rcv_det[CHK_D].po.po_unit}</td>
					<td cellpadding=2 align="right">{$rcv_det[CHK_D].ship_qty|number_format:"2f"} {$rcv_det[CHK_D].po.po_unit}</td>
					<td cellpadding=2 align="right">{$rcv_det[CHK_D].qty|number_format:"2f"} {$rcv_det[CHK_D].po.po_unit}</td>

				</tr>
				{/section}
			</table>

			<br>

			<hr SIZE=2 WIDTH=900>

			<table width=900 border=1 cellspacing=1 cellpadding=1>
				<tr bgcolor=#EACEBE height=25>	 
					<td width=70 align=center><b>Dowload</b></td>	
					<td width=250 align=center><b>File name</b></td>
					<td width=300 align=center><b>Descript</b></td>	 	
				</tr>
				{if $done[0].id}
				{section name=SEC loop=$done}
				<tr>	
					<td align=center valign=top>
					<a href="download.php?fname={$done[SEC].file_name}&fdir=receive_file" title="{$done[SEC].file_name}" ><img src='./images/file2.gif' border=0 ALT="download pattern"></a>
					</td>  	
					<td class=snvy >{$done[SEC].file_name}</td>
					<td class=snvy>{$done[SEC].file_des}</td>
				</tr>
				{/section}
				{/if}
				<tr>
					<td colspan=4>
					<form method=POST name=pattn enctype="multipart/form-data">    
					<input type="hidden" name="PHP_action" value="upload_file">
						<input type="hidden" name="PHP_num" value="{$rcv.rcv_num}">
						<input type="hidden" name="PHP_back_str" value="{$back_str}">
						<input type="hidden" name="max_size" value="100000">
						<input type="hidden" name="PHP_id" value="{$rcv.id}">&nbsp;		
						<input type='file' name='PHP_pttn' size=20 class=select>&nbsp;&nbsp;
						Descript : &nbsp;
						<input type='text' name='PHP_desp' size=40 class=select >&nbsp;&nbsp;
						<input type='submit' value='upload'>
					</form>
					</td>
				</tr>
			</table>

			<br>

			{if $rcv_log}  
			<table border=1 cellspacing=0 cellpadding=0 width=900 align=center>
				<tr bgcolor=#bbbbbb height=25>
					<td colspan=5 align=center class=nvy9><b>Remark Records</b></td>
				</tr>
				<tr bgcolor=#666666 height=25>
					<td width=100 class=w10 align=center>Date</td>
					<td width=80 class=w10 align=center>Item</td>
					<td width=300 class=w10 align=center>History records</td>
					<td width=80 class=w10 align=center>by</td>
				</tr>
				{section name=SEC loop=$rcv_log}
				<tr bgcolor=#eeeeee >
					<td class=gry9 align=center><small>{$rcv_log[SEC].k_date}</small></td>
					<td class=gry9 align=left>{$rcv_log[SEC].item}</td>
					<td class=gry9 align=left>{$rcv_log[SEC].des}</td>
					<td class=gry9 align=center>{$rcv_log[SEC].user}</td>
				</tr>
				{/section}
			</table>
			{/if}  


			<table border=0 cellspacing=0 cellpadding=2 width=900>
				<tr>
					<td WIDTH=360 align=right><font size=1 >Submit : </font> </td>
					<td WIDTH=120 align=left>{if $rcv.rcv_sub_user}<font size=1 ><a href="javascript:message_out('{$rcv.rcv_sub_user_id}')" style="cursor:pointer">{$rcv.rcv_sub_user}</a> / {$rcv.rcv_sub_date}&nbsp;</font>{/if}</td>
					<td WIDTH=100 align=right><font size=1 >Receive : </font></td>
					<td WIDTH=120 align=left><font size=1 ><a href="javascript:message_out('{$rcv.rcv_user_id}')" style="cursor:pointer">{$rcv.rcv_user}</a> / {$rcv.rcv_date}&nbsp;</font></td>
				</tr>
			</table>

			<br>
			{if $add_flag && $rcv.status == 0}
			<!---------- sample logs form   -->
			<table border=1 cellspacing=0 cellpadding=0 width=900 align=center>
				<form method=POST name=smpl_logs>
				<tr bgcolor=#bbbbbb height=25>
					<td colspan=2 align=center class=nvy9><b>ADD Remark</b></td>
				</tr>
				<tr bgcolor=#666666 height=25>
					<td width=520 class=w10 align=center>Remark</td>
					<td width=70 class=w10 align=center>&nbsp;</td>
				</tr>
				<tr bgcolor=#eeeeee >
					<td class=gry9 align=left>
					<textarea name="PHP_des" rows=2 cols=120 class=select>{$smpl_log.des}</textarea></td>
					<td class=ylw9 align=center valign=center>
					<input type=submit value="save" class=select_e style="cursor:pointer; width=55; height=35" onClick=this.width=0;></td>
					<input type="hidden" name="PHP_action" value="rcvd_log_add">
					<input type="hidden" name="PHP_back_str" value="{$back_str}">
					<input type="hidden" name="PHP_rcv_num" value="{$rcv.rcv_num}">
					<input type="hidden" name="PHP_id" value="{$rcv.id}">
				<!--		<input type="hidden" name="PHP_back_str" value="{$back_str2}">    -->
				</tr>
				</form>
			</table>
			<br>
			{/if} 
			<form method=POST name=smpl_logs>
			<table border=0 cellspacing=0 cellpadding=0 cols=2 width=900>
				<tr>       
				{if $back_str}
					<td width=100>			
						<input type="button" onClick="window.location.href='{$PHP_SELF}?PHP_action=rcvd_search{$back_str}'" value=" << back " class=select_e  style="cursor:pointer; width:95%" >
					</td>
				{/if}
					<td align=center width=208>
					{if $edit_flag && ($rcv.status == 0 or $rcv.status == 13)}
						<input type="submit"  value=" [ Submit ] " class=select_e  style="cursor:pointer; width:95%" onClick="return mask()">
						<input type="hidden" name="PHP_action" value="rcvd_submit">
						<input type="hidden" name="PHP_id" value="{$rcv.id}">
						<input type="hidden" name="PHP_rcv_num" value="{$rcv.rcv_num}">
						<input type="hidden" name="PHP_ver" value="{$rcv.version}">
						<input type="hidden" name="PHP_back_str" value="{$back_str}">
						{section name=NUM loop=$ord_num}
						<input type="hidden" name="PHP_ord_num[{$ord_num[NUM].i}]" value="{$ord_num[NUM].ord_num}">				
						{/section}
						<input type="hidden" name="PHP_mat_cat" value="{$rcv_det.0.po.mat_cat}">
					{/if}				
					</td>
					<td align=center width=208>	
						{if ($rcv.status == 0 or $rcv.status == 13) && $edit_flag}				
						<input type="button" onClick="window.location.href='{$PHP_SELF}?PHP_action=rcvd_edit&PHP_rcv_num={$rcv.rcv_num}{$back_str}'" value=" [ EDIT ] " class=select_e  style="cursor:pointer; width:95%" >
						{/if}
					</td>
				</tr>
			</table>
			</form>
		</td>
	</tr>
</table>


<!--------- footer ---------->
{include file="footer.html"}
