<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===::::::::::SCM SYSTEM -- RECEIVING ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/open_detial.js"></script>
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/jquery.blockUI.js"></script>
<Script language="javascript">

function aply_revise(id,rn_num,back_str) {
	var loc;
	loc='apply_revise';
	if ( confirm("are you sure to REVISE Notice:#[ "+rn_num+" ]\r\rBe sure this is OK for you!")) {
		location.href="bom_of_materials.php?PHP_action=notice_revise&PHP_rn_num="+rn_num+back_str+"&PHP_id="+id;
	} 
}

function mask() {
	$.blockUI({ message: '<div><br><h4>Confirm...</h4></div>'});
}

</script>

{/literal}
</head>
{if $resize}
<body topmargin="10" onLoad="tblresize();" />
{else}
<body>
{/if}
<br>
<table cellspacing=1 cellpadding=4 cols=1 width=800 id="tblShow">
	<tr>
		<td>
			<table cellspacing=1 cellpadding=4 cols=1 width=800 bgcolor=#003300>
				<tr>
					<td class="des" align=center width=150>
						{if $notice.status ==0}<b>Waiting for submit</b>
						{elseif $notice.status ==2}<b>Notice. Submitted</b>
						{elseif $notice.status ==4}<b>Notice. CFM</b>
						{else}status error
						{/if}
					</td>
					<td class="des" align=center width=300><span class=sign_b>Factory Notice&nbsp;</span> # <span class=ylw10><b>{$notice.rn_num}</b></span>  Record </td>
						<td class="des" align=center>
					   {if ($notice.status == 2) && $edit_flag}
							<a href="javascript:aply_revise('{$notice.id}','{$notice.rn_num}','{$back_str}')" value='revise' style='cursor:pointer'>
							<img src='./images/revise21.jpg' border=0 ALT="REVISE"></a>
					   {/if}
					  </td>
						<td class="ylw10" align=center height=28> {if $notice.version <> 0}<span class=sign_b>Version</span> <b>{$notice.version}</b>{else}&nbsp;{/if} </td>

					<td>
					&nbsp;
					</td>
				</tr>
			</table>

			{if $msg_YES}
			<table border=1 cellpadding=4 cellspacing=0 cols=1 width=800>
				<tr bgcolor=#ffffff> 
					<td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
					<td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
				</tr>
			</table>
			{/if}
			<hr SIZE=2 WIDTH=800>
			<table border=0 cellspacing=1 cellpadding=4 width=800 bgcolor=#FFFFFF>
				<tr>
					<td width=80  class=snvy  align=right bgcolor=#E9F7E8 ><b>Order # : </b></td>
					<td width=90  class=b9    align=left><b>&nbsp;{$notice.ord_num}</b></td>		
					<td width=60  class=snvy  align=right bgcolor=#E9F7E8 ><b>factory : </b></td>
					<td width=50  class=b9    align=left><b>&nbsp;{$notice.fty}</b></td>
					<td width=70  class=snvy  align=right bgcolor=#E9F7E8 ><b>Line # : </b></td>
					<td width=90  class=b9    align=left><b>&nbsp;{$notice.line}</b></td>
					<td width=110  class=snvy  align=right bgcolor=#E9F7E8 ><b>User : </b></td>
					<td width=140  class=b9    align=left><b>&nbsp;{$notice.create_user}</b></td>		
				</tr>
			</table>

			<hr SIZE=2 WIDTH=800><br>

			<table border="1" cellspacing=0 cellpadding=3 width="800" id="table1">
				<tr bgcolor="#584E5C" height=30>
					<td cellpadding=2 width="100" class=back align="center"><b>Material name#</b></td>
					<td cellpadding=2 width="250" class=back align="center"><b>Color/cat</b></td>
					<td cellpadding=2 width="40" class=back align="center"><b>Size</b></td>
					<td cellpadding=2 width="100" class=back align="center"><b>Bill #</b></td>
					<td cellpadding=2 width="40" class=back align="center"><b>R #</b></td>
					<td cellpadding=2 width="40" class=back align="center"><b>L #</b></td>
					<td cellpadding=2 width="60" class=back align="center"><b>Q'ty</b></td>
					<td cellpadding=2 width="70" class=back align="center"><b>Storage</b></td>
				</tr>
				{section name=CHK_D loop=$notice_det} 
				<tr onmouseover="bgColor='#FCF4A4'" onmouseout="bgColor='#ffffff'">
					<td align="center">			
						<a href="javascript:{if $notice_det[CHK_D].mat_cat == 'l'}Show_fab{else}Show_acc{/if}('{$notice_det[CHK_D].mat_code}')" style='cursor:pointer'>{$notice_det[CHK_D].mat_name}</a>
					</td>
					<td align="left">{$notice_det[CHK_D].color}&nbsp;</td>
					<td cellpadding=2 align="right">&nbsp;{$notice_det[CHK_D].size}</td>
					<td cellpadding=2 align="right">&nbsp;{$notice_det[CHK_D].bl_num}</td>
					<td cellpadding=2 align="right">&nbsp;{$notice_det[CHK_D].r_no}</td>
					<td cellpadding=2 align="right">&nbsp;{$notice_det[CHK_D].l_no}</td>
					<td cellpadding=2 align="right">{$notice_det[CHK_D].qty|number_format:"2f"}</td>
					<td cellpadding=2 align="right">&nbsp;{$notice_det[CHK_D].storage}</td>
				</tr>
				{/section}
			</table>

			<br>
			<hr SIZE=2 WIDTH=800>
			<br>

			{if $notice_log}  
			<table border=1 cellspacing=0 cellpadding=0 width=800 align=center>
				<tr bgcolor=#bbbbbb height=25>
					<td colspan=5 align=center class=nvy9><b>Remark Records</b></td>
				</tr>
				<tr bgcolor=#666666 height=25>
					<td width=100 class=w10 align=center>Date</td>
					<td width=300 class=w10 align=center>History records</td>
					<td width=80 class=w10 align=center>by</td>
				</tr>
				{section name=SEC loop=$notice_log}
				<tr bgcolor=#eeeeee >
					<td class=gry9 align=center><small>{$notice_log[SEC].k_date}</small></td>
					<td class=gry9 align=left>{$notice_log[SEC].des}</td>
					<td class=gry9 align=center>{$notice_log[SEC].user}</td>
				</tr>
				{/section}
			</table>
			{/if}  


			<table border=0 cellspacing=0 cellpadding=2 width=800>
				<tr>
					<td WIDTH=300 align=right><font size=1 >Submit : </font> </td>
					<td WIDTH=180 align=left>{if $notice.sub_user}<font size=1 ><a href="javascript:message_out('{$rcv.rcv_sub_user_id}')" style="cursor:pointer">{$notice.sub_user}</a> / {$notice.sub_date}&nbsp;</font>{/if}</td>
					<td WIDTH=140 align=right><font size=1 >Confirm : </font></td>
					<td WIDTH=180 align=left><font size=1 ><a href="javascript:message_out('{$rcv.rcv_user_id}')" style="cursor:pointer">{$notice.cfm_user}</a> / {$notice.cfm_date}&nbsp;</font></td>
				</tr>
			</table>

			<br>
			{if $add_flag && $notice.status == 0}
			<!---------- sample logs form   -->
			<table border=1 cellspacing=0 cellpadding=0 width=800 align=center>
				<form method=POST name=smpl_logs>
				<tr bgcolor=#bbbbbb height=25>
					<td colspan=2 align=center class=nvy9><b>ADD Remark</b></td>
				</tr>
				<tr bgcolor=#666666 height=25>
					<td width=520 class=w10 align=center>Remark</td>
					<td width=70 class=w10 align=center>&nbsp;</td>
				</tr>
				<tr bgcolor=#eeeeee >
					<td class=gry9 align=left>
					<textarea name="PHP_des" rows=2 cols=120 class=select></textarea></td>
					<td class=ylw9 align=center valign=center>
					<input type=submit value="save" class=select_e style="cursor:pointer; width=55; height=35" onClick=this.width=0;></td>
					<input type="hidden" name="PHP_action" value="notice_log_add">
					<input type="hidden" name="PHP_back_str" value="{$back_str}">
					<input type="hidden" name="PHP_rn_num" value="{$notice.rn_num}">
				</tr>
				</form>
			</table>
			<br>
			{/if} 
			<form method=POST name=smpl_logs>
			<table border=0 cellspacing=0 cellpadding=0 cols=2 width=800>
				<tr>       
				{if $back_str}
					<td width=100>			
						<input type="button" onClick="window.location.href='{$PHP_SELF}?PHP_action=uncfm_search{$back_str}'" value=" << back " class=select_e  style="cursor:pointer; width:95%" >
					</td>
				{/if}
					<td align=center width=208>
					{if $add_flag && $notice.status == 2}
						<input type="submit"  value=" [ CFM ] " class=select_e  style="cursor:pointer; width:95%" onclick="mask();">
						<input type="hidden" name="PHP_action" value="notice_cfm">
						<input type="hidden" name="PHP_rn_num" value="{$notice.rn_num}">
						<input type="hidden" name="PHP_back_str" value="{$back_str}">
					{/if}				
					</td>
					<td align=center width=208>	
						&nbsp;
					</td>
				</tr>
			</table>
			</form>
		</td>
	</tr>
</table>


<!--------- footer ---------->
{include file="footer.html"}
