<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>===.........  ORDER LIST .........===</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">
 function cfm(ref,id) {
	if ( confirm("記錄刪除 將會永久刪除；無法再回覆 !\r\r請再確定 是否\r\r確認永久刪除 樣本記錄:["+ref+"]??")) {
	location.href="index2.php?PHP_action=smpl_del&PHP_id="+id;
	} 
 }
function check(){
}

function list(item){
	var gofile ='index2.php?PHP_action=show_supplier_search&PHP_item='+item;	style=window.open(gofile,'style','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=700,height=500, top=100, left=150');
 	style.focus();
 }
 
function fablist(){
	var gofile ='index2.php?PHP_action=show_fabric_search';	style=window.open(gofile,'style','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=700,height=500, top=100, left=150');
 	style.focus();
 }
 function acclist(){
	var gofile ='index2.php?PHP_action=show_accessory_search';	style=window.open(gofile,'style','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=700,height=500, top=100, left=150');
 	style.focus();
 }
 
 function writeToParentList(lots_code,lots_name,unit1,unit2,unit3,id) {
	var i=0;
	window.document.forms['search_aply'].elements['PHP_fab'].value = lots_code;
}
function writeToAccList(acc_code,acc_name,unit1,unit2,unit3,id) {
	var i=0;
	window.document.forms['search_aply'].elements['PHP_acc'].value = acc_code;
} 
 
function writeToSuplList(supl_s_name,supl_cat) {
	var i=0;
	window.document.forms['add_aply'].elements['PHP_supl'].value = supl_s_name;
	window.document.forms['add_aply'].elements['PHP_supl_cat'].value = supl_cat;
}

function writeToSupSESlList(supl_s_name,supl_cat) {
	var i=0;
	window.document.forms['search_aply'].elements['PHP_supl'].value = supl_s_name;
}
</script>
{/literal}
</head>
<body  bgcolor="ffffff" background=" ">&nbsp;

<br>
<table border cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#cccccc  align=center>
<tr><td>
<form METHOD="GET" name="search_aply">
<table cellspacing=1 cellpadding=4 cols=1 width=600 bgcolor=#003300 align=center>
	<tr>
		<td class="des" align=center height=28>[ SEARCH/LISTING&nbsp;SEND ]</td>
	</tr>
</table>
<table border=0 cellspacing=0 cellpadding=1 width=600>
  <tr>
    <td colspan=6 class=frnt align=center><hr size=2 width=98%></td>
  <tr>
  <tr>
    <td class=snvy align=right><b>Send No. : </b></td>
    <td class=frnt align=left><input type=text name="sch_rn_num" size=15 class=select value=""></td>
    <td class=snvy align=right><b>Order No. : </b></td>
	<td class=frnt align=left><b><input type=text name="sch_ord_num" size=15 class=select value=""></b></td></tr>
  </tr>
  <tr>
  <tr>
    <td class=snvy align=right><b>Factory : </b></td>
    <td class=frnt align=left>
   		<b>{$fty_select}</b>
    </td>
  </tr>

</table>

<table border=0 cellspacing=0 cellpadding=0 width=600 align=center>
	<tr> 
	  <td align=left class=b9>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;
	  </td>
	</tr>
	<tr><hr SIZE=2 WIDTH=97%></tr>
	<tr> 
	  <td align=center>
		<input type="hidden" name="PHP_action" value="mat_notice_search">
		<input type=submit value="[ SEARCH / LIST MATERIAL SEND RECORDS ]" class=select_e style="cursor:pointer; width=95%" onClick=this.width=0;>
	  </td>
	</tr>
</table></form>

	</td>
</tr>
</table>



<!--------- footer ---------->
{include file="footer.html"}