{include file="header.html"}
<table cellspacing="0" cellpadding="0" cols="0" width="100%">
	<tr>
		<td class="subtitle">{if $T_acceptance_adjustment_search_title}{$T_acceptance_adjustment_search_title}{else}Returned material / Adjustment{/if}</td>
	</tr>
	<tr>
		<td class="subInputName">
            <table class="table_bady" border="0" cellspacing="0" cellpadding="0" cols="1">
                <tr>
                    <td class="item_title">{if $T_acceptance_search_title}{$T_acceptance_search_title}{else}驗收調整{/if}</td>
                </tr>
                <tr>
                    <td class="subInputName">
                        <table cellspacing="3" cellpadding="0" cols="0">
                            <tr>
                                <td id="box_right">Input B.L. number # : </td>
                                <td><input type="text" id="bl_num" size="20" class="ui-widget"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td id="box_right">Input Carrier number # : </td>
                                <td><input type="text" id="carrier_num" size="20" class="ui-widget"></td>
                                <td><input class="submit_ajax" type="button" id="returned_material_adjustment_search_incoming" style="width:90px;" name="Submit" value="{if $T_submit}{$T_submit}{else}Submit{/if}"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="item_title">{if $T_return_search_title}{$T_return_search_title}{else}退料{/if}</td>
                </tr>
                <tr>
                    <td class="subInputName">
                        <table cellspacing="3" cellpadding="0" cols="0">
                            <tr>
                                <td>{if $T_notice_num}{$T_notice_num}{else}領料單{/if} : </td>
                                <td><input type="text" id="rn_num" size="20" class="ui-widget"></td>
							</tr>
							<tr>
								<td>Order# : </td>
                                <td><input type="text" id="ord_num" size="20" class="ui-widget"></td>
								<td><input class="submit_ajax" type="button" id="returned_material_adjustment_search" style="width:90px;" name="Submit" value="{if $T_submit}{$T_submit}{else}Submit{/if}"></td>
							</tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    
                </tr>
                {if $dept}
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="0" cols="0">
                            {section name=DET loop=$dept_html}
                            {if $smarty.section.DET.index % 16 == 0}
                            <tr>
                                <td class="ListName" title="Color">Ship #</td>
                                <td class="ListName" title="Color">Currier #</td>
                                <td class="ListName" title="Color">From</td>
                                <td class="ListName" title="Color">TO</td>
                                <td class="ListName" title="Color">SHIP BY</td>
                                <td class="ListName" title="Color">SHIP Date</td>
                                <td class="ListName" title="Color">ETA</td>
                                <td class="ListName" title="Color">Express Company</td>
                            </tr>				
                            {/if}
                            <tr id="List_TR_link" link="{$dept_html[DET].carrier}~({$dept_html[DET].num})">
                                <td class="ListValueLeft">{$dept_html[DET].num}</td>
                                <td class="ListValueLeft">{$dept_html[DET].carrier}</td>
                                <td class="ListValueLeft">{$dept_html[DET].org}</td>
                                <td class="ListValueLeft">{$dept_html[DET].dist}</td>
                                <td class="ListValueLeft">{$dept_html[DET].ship_way}</td>
                                <td class="ListValueLeft">{$dept_html[DET].ship_date}</td>
                                <td class="ListValueLeft">{$dept_html[DET].ship_eta}</td>
                                <td class="ListValueLeft">{$dept_html[DET].ex_cmpy}</td>
                            </tr>
                            {sectionelse}
                            <tr>
                                <td class="List_msg">{$dept}, No data!</td>
                            </tr>
                            {/section}
                        </table>
                    </td>
                </tr>
                {/if}
            </table>
        </td>
    </tr>
</table>
{include file="footer.html"}