{include file="header.html"}
<table cellspacing="0" cellpadding="0" cols="0" width="100%">
    <tr>
        <td class="subtitle">{if $T_acceptance_search_title}{$T_acceptance_search_title}{else}驗收調整{/if}</td>
    </tr>
    <tr>
        <td class="space"></td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" cols="0" >
                <tr>
                    <td class="subInputName">B.L. Number # : </td>
                    <td class="subInputValue">{$po_ship.bl_num}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" cols="0" >
                <tr>
                    <td class="subInputName">Carrier Number # : </td>
					<td class="subInputValue">{$po_ship.carrier_num}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" cols="0" >
                <tr>
                    <td class="subInputName">From : </td>
                    <td class="subInputValue">{$po_ship.org}</td>
                    <td class="subInputName">TO : </td>
                    <td class="subInputValue">{$po_ship.dist}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="space_line"></td>
    </tr>
    <tr>
        <td class="space"></td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" cols="0" >
                <tr>
                    <td class="subInputName">SHIP BY : </td>
                    <td class="subInputValue">{$po_ship.ship_way} {$po_ship.ex_cmpy}</td>
                    <td class="subInputName">SHIP Date : </td>
                    <td class="subInputValue">{$po_ship.ship_date}</td>
                    <td class="subInputName">ETA : </td>
                    <td class="subInputValue">{$po_ship.ship_eta_date}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="space_line"></td>
    </tr>
    <tr>
        <td class="space"></td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" cols="0" >
                <tr>
                    <td class="subInputName">{if $T_arrial_date}{$T_arrial_date}{else}Arrival Date{/if} : </td>
                    <td class="subInputValue">{$po_ship.arrival_date} ({$po_ship.arrival_user})</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="space"></td>
    </tr>
    <tr>
        <td>
            <form METHOD="POST" name="submit_feeding_qty" action="{$PHP_SELF}?PHP_action=update_incoming_qty" onSubmit="return update_incoming_qty(this);">
			<input type="hidden" id="fty" name="fty" value="{$po_ship.dist}">
			<input type="hidden" id="ship_id" name="ship_id" value="{$po_ship.id}">
			<input type="hidden" id="bl_num" name="bl_num" value="{$po_ship.bl_num}">
			<input type="hidden" id="carrier_num" name="carrier_num" value="{$po_ship.carrier_num}">
            <table cellpadding="0" cellspacing="0" cols="0" >
                <tr>
                    <td class="TopCtrlValueRight" colspan="15">
                        
                    </td>
                </tr>			

                {section name=DET loop=$po_ship_det}
                {if $smarty.section.DET.index % 16 == 0}
                <tr>
                    <td class="ListName" title="Invoice Number">{if $T_invoice_num}{$T_invoice_num}{else}Inv. #{/if}</td>
                    <td class="ListName" title="P.I.">P.I. #</td>
                    <td class="ListName" title="Purchase Order Number">PO #</td>
					<td class="ListName" title="Name">{if $T_material_name}{$T_material_name}{else}Name{/if}</td>
                    <td class="ListName" title="C/NO">{if $T_carton_num}{$T_carton_num}{else}C/NO{/if}</td>
                    <td class="ListName" title="L/NO">{if $T_dye_lot}{$T_dye_lot}{else}L/NO{/if}</td>
                    <td class="ListName" title="R/NO">{if $T_roll_num}{$T_roll_num}{else}R/NO{/if}</td>
                    <td class="ListName" title="Color">{if $T_color}{$T_color}{else}Color{/if}</td>
                    <td class="ListName" title="Size">{if $T_size}{$T_size}{else}Size{/if}</td>					
                    <td class="ListName" title="Acceptance Qty">{if $T_acceptance}{$T_acceptance}{else}Acceptance{/if}</td>
					<td class="ListName" title="Order Qty" style="display:{if $add_flag}''{else}none{/if}">Order Qty</td>
                    <td class="ListName" title="Unit">{if $T_unit}{$T_unit}{else}Unit{/if}</td>
                    <!--<td class="ListName" title="Delete">{if $T_delete}{$T_delete}{else}Delete{/if}</td>-->
                </tr>
                {/if}
                <tr id="List_TR" mid="{$smarty.section.DET.index}">
                    <td class="ListValueLeft" nowrap title="{$po_ship_det[DET].open_date}({$po_ship_det[DET].open_user})&#13;{$po_ship_det[DET].last_up_date}({$po_ship_det[DET].last_up_user})">{if $po_ship_det[DET].invoice_num}{$po_ship_det[DET].invoice_num}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det[DET].pi_num}{$po_ship_det[DET].pi_num}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det[DET].po_num}{$po_ship_det[DET].po_num}{else}&nbsp;{/if}</td>
					<td class="ListValueLeft">{if $po_ship_det[DET].mat_name}{$po_ship_det[DET].mat_name}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det[DET].c_no}{$po_ship_det[DET].c_no}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det[DET].l_no}{$po_ship_det[DET].l_no}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det[DET].r_no}{$po_ship_det[DET].r_no}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det[DET].color}{$po_ship_det[DET].color|truncate:30:' ... ':true}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft">{if $po_ship_det[DET].size}{$po_ship_det[DET].size}{else}&nbsp;{/if}</td>
                    <td class="ListValueLeft" nowrap>
                        <input type="hidden" name="unit[{$smarty.section.DET.index}]" value="{$po_ship_det[DET].unit}"> 
                        <input type="hidden" name="tmp_qty[{$smarty.section.DET.index}]" value="{$po_ship_det[DET].qty|number_format:2:'':''}"> 
                        <input type="hidden" name="tmp_del_mk[{$smarty.section.DET.index}]" value="{$po_ship_det[DET].del_mk}"> 
                        <input type="text" readonly id="stock_i_qty_{$smarty.section.DET.index}" name="stock_i_qty[{$smarty.section.DET.index}]" value="{$po_ship_det[DET].qty|number_format:2:'':''}" size="12" class="input_right" {if $po_ship_det[DET].send_flag} readonly {/if}}> 
                    </td>
					<td class="ListValueLeft" id="td_avg_{$smarty.section.DET.index}" style="display:{if $add_flag}''{else}none{/if}">
						{section name=ORD loop=$po_ship_det[DET].orders}
							{$po_ship_det[DET].orders[ORD].ord_num}
							<input id="order_qty_{$smarty.section.DET.index}_{$smarty.section.ORD.index}" name="order_qty[{$smarty.section.DET.index}][{$po_ship_det[DET].orders[ORD].id}]" type="text" size="6" class="input_right" onchange="chk_adjust_avg_qty('{$smarty.section.DET.index}', '{$po_ship_det[DET].orders[ORD].send_qty}', this)" value="{$po_ship_det[DET].orders[ORD].qty}"><br>
						{/section}
					</td>
                    <td class="ListValueLeft">{if $po_ship_det[DET].unit}{$po_ship_det[DET].unit}{else}&nbsp;{/if}</td>
                    <!--<td class="ListValueLeft">
						{if $po_ship_det[DET].send_flag}
							<a onclick="send_detail('{$po_ship.bl_num}','{$po_ship_det[DET].l_no}','{$po_ship_det[DET].r_no}','{$po_ship_det[DET].mat_id}','{$po_ship_det[DET].color}','{$po_ship_det[DET].size}');" style="cursor:pointer">detail</a>
						{else}
							{html_radios id=$po_ship_det[DET].mk_id name=$po_ship_det[DET].mk values=$del_key checked=$po_ship_det[DET].del_mk output=$del_names separator=" "}
						{/if}
					</td>-->
                </tr>
                {/section}
                <tr>
                    <td class="BottomCtrlValueRight" colspan="15">
                        <input class="submit_ajax" type="submit" id="update_incoming_qty" style="width:90px;" name="Submit" value="{if $T_submit}{$T_submit}{else}Submit{/if}">
                    </td>
                </tr>
            </table>
            </form>
        </td>
    </tr>
</table>
{include file="footer.html"}