{include file="header.html"}
<script type="text/javascript">
    var $ppd = '{$select_express}';
</script>
<form method="POST" id="append"><input type="hidden" name="PHP_action" value="append_po"></form>
<table cellspacing="0" cellpadding="0" cols="0" width="100%">
	<tr>
		<td class="subtitle">{if $T_return_notice_list_title}{$T_return_notice_list_title}{else}領料單 -- 退料{/if}</td>
	</tr>
	<tr>
		<td class="subInputName">
            <table border="0" cellspacing="0" cellpadding="0" cols="0">
                <tr>
                    <td>
                        <table border="0" cellspacing="0" cellpadding="0" cols="0">
                            <tr class="list_title">
                                <td>{if $T_notice_num}{$T_notice_num}{else}領料單{/if}</td>
                                <td>{if $T_order_num}{$T_order_num}{else}Order #{/if}</td>
                                <td>{if $T_line}{$T_line}{else}Line #{/if}</td>
                                <td>{if $T_date}{$T_date}{else}Date{/if}</td>
                                <td>{if $T_user}{$T_user}{else}User{/if}</td>
                                <td>{if $T_status}{$T_status}{else}Status{/if}</td>
                            </tr>
                            {if !$notice}
                            <tr class="list_txt">
                                <td colspan="6" align="center"><br>No Records!<br><br>
                            </tr>
                            {/if}
                            {section name=SEC loop=$notice}
                            <tr class="list_txt" id="notice_adjust_link" rn_num="{$notice[SEC].rn_num}">
                                <td>{$notice[SEC].rn_num}</td>
                                <td>{$notice[SEC].ord_num}</td>
                                <td>{$notice[SEC].line}</td>
                                <td>{$notice[SEC].create_date}</td>   
                                <td>{$notice[SEC].create_user}</td> 
                                <td>{$notice[SEC].status_txt}</td> 
                            </tr>
                            {/section} 
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="list_note" colspan="6">
                        {$page}
                        {$page_text}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{include file="footer.html"}