{include file="header_utf8.html"}
<table cellspacing="0" cellpadding="0" cols="0" width="100%">
	<tr>
		<td class="subtitle">Returned material / Adjustment</td>
	</tr>
	<tr>
		<td class="space"></td>
	</tr>
	<tr>
		<td>
			<table width="100%" cellpadding="0" cellspacing="0" cols="0" >
				<tr>
					<td valign="top" style="line-height:10pt;">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<table cellpadding="0" cellspacing="0" cols="0" >
										<tr>
											<td class="subInputName">B.L. Number # : </td>
											<td class="subInputValue">{$po_ship.bl_num}</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table cellpadding="0" cellspacing="0" cols="0" >
										<tr>
											<td class="subInputName">Carrier Number # : </td>
											<td class="subInputValue">{$po_ship.carrier_num}</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table cellpadding="0" cellspacing="0" cols="0" >
										<tr>
											<td class="subInputName">From : </td>
											<td class="subInputValue">{$po_ship.org}</td>
											<td class="subInputName">To : </td>
											<td class="subInputValue">{$po_ship.dist}</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table cellpadding="0" cellspacing="0" cols="0" >
										<tr>
											<td class="subInputName">Ship by : </td>
											<td class="subInputValue">{$po_ship.ship_way}</td>
											<td class="subInputName">Ship date : </td>
											<td class="subInputValue">{$po_ship.ship_date}</td>
											<td class="subInputName">ETA : </td>
											<td class="subInputValue">{$po_ship.ship_eta_date}</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table cellpadding="0" cellspacing="0" cols="0" >
										<tr>
											<td class="subInputName">Arrival Date : </td>
											<td class="subInputValue">{$po_ship.arrival_date} ({$po_ship.arrival_user})</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="space"></td>
	</tr>
	<tr>
		<td>
			<form METHOD="POST" id="submit_retreat_qty" name="submit_retreat_qty" action="{$PHP_SELF}?PHP_action=append_retreat_qty" onSubmit="return append_retreat_qty(this);">
			<input type="hidden" id="PHP_action" name="PHP_action" value="append_retreat_qty">
			<input type="hidden" id="ver" name="ver" value="{$ver}">
			<input type="hidden" id="fty" name="fty" value="{$factory}">
			<input type="hidden" id="order_num" name="order_num" value="{$order_num}">
			<table cellpadding="0" cellspacing="0" cols="0" >
				<tr>
					<td class="TopCtrlValueRight" colspan="10">
						<input class="submit_ajax" type="Submit" id="append_retreat_qty" style="width:90px;" name="Submit" value="Submit">
					</td>
				</tr>

				{section name=DET loop=$po_ship_det}
				{if $smarty.section.DET.index % 16 == 0}
				<tr>
					<td class="ListName" title="發票號碼&#13;Name">Inv. #</td>
					<td class="ListName" title="PI號碼&#13;Material Detail">P.I. #</td>
					<td class="ListName" title="PO號碼&#13;Content">PO #</td>
					<td class="ListName" title="箱號&#13;Cuttable Width">C/NO</td>
					<td class="ListName" title="缸號&#13;Cuttable Width">L/NO</td>
					<td class="ListName" title="捲號&#13;Cuttable Width">R/NO</td>
					<td class="ListName" title="顏色&#13;Color">Color</td>
					<td class="ListName" title="尺寸&#13;Size">Size</td>
					<td class="ListName" title="單位&#13;Demand Qty">Unit</td>
					<td class="ListName" title="已領數量&#13;Receive Qty">Acceptance<br>Qty </td>
				</tr>
				{/if}
				<tr id="List_TR" name="List_TRs" mid="{$po_ship_det[DET].id}"><!-- fty carrier_num   unit ord_num  ship_link_id  po_num  mat_cat  mat_code  bom_id  remark  -->
					<input type="hidden" size="9" id="MK_po_ship_link_qty_{$po_ship_det[DET].id}" value="">
					<input type="hidden" size="9" id="stock_qty{$po_ship_det[DET].id}" value="{$po_ship_det[DET].stock_qty|number_format:2:'':''}">
					<input type="hidden" size="9" id="bom_qty{$po_ship_det[DET].id}" value="{$po_ship_det[DET].bom_qty}">
					<input type="hidden" size="9" id="est_1{$po_ship_det[DET].id}" value="{$po_ship_det[DET].est_1}">
					
					<input type="hidden" size="9" name="unit[{$po_ship_det[DET].id}]" value="{$po_ship_det[DET].po_unit}">
					<input type="hidden" size="9" name="mat_cat[{$po_ship_det[DET].id}]" value="{$po_ship_det[DET].mat_cat}">
					<input type="hidden" size="9" name="mat_id[{$po_ship_det[DET].id}]" value="{$po_ship_det[DET].mat_id}">
					<input type="hidden" size="9" name="bom_id[{$po_ship_det[DET].id}]" value="{$po_ship_det[DET].bom_id}">
					<input type="hidden" size="9" name="color[{$po_ship_det[DET].id}]" value="{$po_ship_det[DET].color}">
					<input type="hidden" size="9" name="size[{$po_ship_det[DET].id}]" value="{$po_ship_det[DET].size}">
					
					<td class="ListValueLeft" nowrap>{if $po_ship_det[DET].invoice_num}<span title="{$po_ship_det[DET].invoice_num}">{$po_ship_det[DET].invoice_num|truncate:20:' ... ':true}</span>{else}&nbsp;{/if}</td>
					<td class="ListValueLeft">{if $po_ship_det[DET].pi_num}<span title="{$po_ship_det[DET].pi_num}">{$po_ship_det[DET].pi_num|truncate:20:' ... ':true}</span>{else}&nbsp;{/if}</td>
					<td class="ListValueLeft" nowrap>{if $po_ship_det[DET].po_num}<span title="{$po_ship_det[DET].po_num}">{$po_ship_det[DET].po_num}</span>{else}&nbsp;{/if}</td>
					<td class="ListValueLeft" nowrap>{if $po_ship_det[DET].c_no}{$po_ship_det[DET].c_no}{else}&nbsp;{/if}</td>	
					<td class="ListValueLeft" nowrap>{if $po_ship_det[DET].l_no}{$po_ship_det[DET].l_no}{else}&nbsp;{/if}</td>	
					<td class="ListValueLeft" nowrap>{if $po_ship_det[DET].r_no}{$po_ship_det[DET].r_no}{else}&nbsp;{/if}</td>	
					<td class="ListValueLeft" nowrap>{if $po_ship_det[DET].color}<span title="{$po_ship_det[DET].color}">{$po_ship_det[DET].color|truncate:20:' ... ':true}</span>{else}&nbsp;{/if}</td>
					<td class="ListValueLeft" nowrap>{if $po_ship_det[DET].size}{$po_ship_det[DET].size}{else}&nbsp;{/if}</td>	
					<td class="ListValueRight">{$po_ship_det[DET].po_unit}</td>
					<td class="ListValueRight" nowrap>
						<img src="images/copy.jpg" style="cursor:e-resize;" onclick="qPass('{$po_ship_det[DET].id}');">
						<input type="text" id="po_ship_link_qty_{$po_ship_det[DET].id}" name="retreat_qty[{$po_ship_det[DET].id}]" value="{$po_ship_det[DET].qty}" size="8" class="input_right" {if $po_ship_det[DET].send_flag}readonly{/if}> 
						<img src="images/del.png" style="cursor:help;" onclick="qClear('{$po_ship_det[DET].id}');">
					</td>
				</tr>
				{/section}
				<tr>
					<td class="BottomCtrlRight" colspan="7">
					</td>
					<td class="BottomCtrlValueRight" colspan="6">
						<input class="submit_ajax" type="Submit" id="append_retreat_qty" style="width:90px;" name="Submit" value="Submit">
					</td>
				</tr>
			</table>
			</form>
		</td>
	</tr>
</table>
{include file="footer_utf8.html"}