<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>==== ::::::::::  SALES FORECAST :::::::::: ====</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">
function line_det(yy,mm,fty,sex)
{
		gofile="monitor.php?PHP_action=line_mm_report&PHP_year1="+yy+"&PHP_mm="+mm+"&PHP_fty="+fty+"&PHP_sex="+sex;
		window.open(gofile,'_new','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=740,height=600 top=30, left=100');

}
</script>
{/literal}
</head>
<body bgcolor="#003C77">
<br><br>


 <table width=760 border=0 cellspacing=0 cellpadding=2>
  <tr class="top16bg">  
    <td width=30>&nbsp;</td>  
	<td  width=690  align=center class="top16bg"><b>Production Analysis by [Factory :  {$fty}]</b></td>
	<td width=60 align=center class="txt_B_y_16t"><b> &nbsp;FY:{$year}&nbsp;&nbsp;</b></td>
  </tr>
{if $msg}
 <tr><td colspan=14>
     <table border=0 cellpadding=2 cellspacing=0 width=600 align=center>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
 </td></tr>
{/if}
 </table>




{if $man}
 <table width=760 border=1 cellspacing=0 cellpadding=2>
  <tr bgcolor="#0D4368" height=30> 
    <td class=w10 align=center colspan=13><b>{if $fty == 'HJ'}湖嘉{else}立元{/if}廠每月產出  -- 男裝</b></td>    
  </tr>
  <tr bgcolor="#0D4368" height=30> 
  	<td class=w9 width=60 align=center>&nbsp;</td>
  	{section name=SEC loop=$mon} 
  	
    	<td class=w9 width=45 align=center>
 	    	<a href=javascript:line_det('{$year}','{$nb_mon[SEC]}','{$fty}','M')>
    		<font color='#FFFFFF'>{$mon[SEC]}</font></a>
    	</td>    
    {/section}
  </tr>
    <tr>
    <td class=b9 align=center><b>生產線數(ln)</b></td>	
    {section name=SEC loop=$man}     
    	<td class=b9 align=right>{$man[SEC].line_count}</td>
    {/section} 
    </tr> 
    <tr>
    <td class=b9 align=center><b>生產線月產出(su)</b></td>	
    {section name=SEC loop=$man}     
    	<td class=b9 align=right>{$man[SEC].line_ttl|number_format}</td>
    {/section} 
    </tr>      
    <tr>
    <td class=b9 align=center><b>生產線日平均(su)</b></td>	
    {section name=SEC loop=$man}     
    	<td class=b9 align=right>{$man[SEC].pdt_line|number_format:"2f"}</td>
    {/section} 
    </tr>   

    <tr>
    <td class=b9 align=center><b>工人日平均(su)</b></td>	
    {section name=SEC loop=$man}     
    	<td class=b9 align=right>{$man[SEC].pdt_pp|number_format:"2f"}</td>
    {/section} 
    </tr> 
    <tr>
    <td class=b9 align=center><b>日產量達成比/人</b></td>	
    {section name=SEC loop=$man}     
    	<td class=b9 align=right>{$man[SEC].pp_rate|number_format:"2f"}%</td>
    {/section} 
    </tr> 
    
</table>
{/if}



{if $girl}
 <table width=760 border=1 cellspacing=0 cellpadding=2>
  <tr bgcolor="#0D4368" height=30> 
    <td class=w10 align=center colspan=13><b>{if $fty == 'HJ'}湖嘉{else}立元{/if}廠每月產出  -- 女裝</b></td>    
  </tr>
  <tr bgcolor="#0D4368" height=30> 
  	<td class=w9 width=60 align=center>&nbsp;</td>
  	{section name=SEC loop=$mon} 
    	<td class=w9 width=45 align=center>
 	    	<a href=javascript:line_det('{$year}','{$nb_mon[SEC]}','{$fty}','F')>
    		<font color='#FFFFFF'>{$mon[SEC]}</font></a>    	
    	</td>    
    {/section}
  </tr>
    <tr>
    <td class=b9 align=center><b>生產線數(ln)</b></td>	
    {section name=SEC loop=$girl}     
    	<td class=b9 align=right>{$girl[SEC].line_count}</td>
    {/section} 
    </tr> 
    <tr>
    <td class=b9 align=center><b>生產線月產出(su)</b></td>	
    {section name=SEC loop=$girl}     
    	<td class=b9 align=right>{$girl[SEC].line_ttl|number_format}</td>
    {/section} 
    </tr> 
    <td class=b9 align=center><b>生產線日平均(su)</b></td>	
    {section name=SEC loop=$girl}     
    	<td class=b9 align=right>{$girl[SEC].pdt_line|number_format:"2f"}</td>
    {/section} 
    </tr>   

    <tr>
    <td class=b9 align=center><b>工人日平均(su)</b></td>	
    {section name=SEC loop=$girl}     
    	<td class=b9 align=right>{$girl[SEC].pdt_pp|number_format:"2f"}</td>
    {/section} 
    </tr> 
    <tr>
    <td class=b9 align=center><b>日產量達成比/人</b></td>	
    {section name=SEC loop=$girl}     
    	<td class=b9 align=right>{$girl[SEC].pp_rate|number_format:"2f"}%</td>
    {/section} 
    </tr> 
    
</table>
{/if}
<table border=0 cellspacing=0 cellpadding=2 width=760 bgcolor=#ffffff align=center>
  <tr>

	<td width=200>	
			<input type=button onClick="window.location.href='monitor.php?PHP_action=production_year_report&PHP_fty={$fty}&PHP_year1={$year}'" value=" << go back " class=select_e style="cursor:pointer; width=99%">

	</td>
</tr>
</table>

<!--------- footer ---------->
{include file="footer.html"}
