<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>==== ::::::::::  SALES FORECAST :::::::::: ====</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">
function prd_out(ord_num) {
	 var url ="index2.php?PHP_action=order_output&PHP_ord_num="+ord_num+"&cgiget=&cgino=&cgi_1=&cgi_2=&cgi_3=&cgi_4=&cgi_5=";
	 var nm = 'order';
	window.open(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=850,height=600 top=30, left=100');
}

function ord_out(id) {
	 var url ="index2.php?PHP_action=order_view&PHP_id="+id+"&cgiget=&cgino=&cgi_1=&cgi_2=&cgi_3=&cgi_4=&cgi_5=";
	 var nm = 'order';
	window.open(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=850,height=600 top=30, left=100');
}
</script>
{/literal}
</head>
<body bgcolor="#003C77">
<br><br>


 <table width=450 border=0 cellspacing=0 cellpadding=2>
  <tr class="top16bg">  
    <td width=90>&nbsp;</td>  
	<td    align=center class="top16bg"> Order <font color=yellow><b><u>Q'ty</u></b></font> analysis</td>
	<td width=90 align=right class="txt_B_y_16t"><b>FTY : {$fty} &nbsp;&nbsp;</b></td>
  </tr>
  <tr class="top16bg">  
	<td  colspan=3 align=center class="top16bg"> From : {$start}&nbsp;&nbsp;&nbsp;&nbsp; To : {$finish}</td>
  </tr>

{if $msg}
 <tr><td colspan=14>
     <table border=0 cellpadding=2 cellspacing=0 width=450 align=center>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
 </td></tr>
{/if}
 </table>
 <table width=450 border=1 cellspacing=0 cellpadding=2>
  <tr bgcolor="#0D4368" height=30> 
    <td class=w9  align=center><b>Q'ty</b></td> 
    <td class=w9  align=center colspan=2><b>Orders</b></td>   
  </tr>

  <tr> 
    <td class=b10  align=left><b>&nbsp;{$dist.0}&nbsp; Under</b></td> 
    <td class=b10  align=right width=100><b>{$ord.0}</b></td>  
    <td class=b10  align=right><b>{$ord_rate.0|NUMBER_FORMAT:"2f"}%</b></td>    
  </tr>
  <tr> 
    <td class=b10  align=left><b>&nbsp;{$dist.0}&nbsp;~&nbsp;{$dist.1}</b></td> 
    <td class=b10  align=right><b>{$ord.1}</b></td>  
    <td class=b10  align=right><b>{$ord_rate.1|NUMBER_FORMAT:"2f"}%</b></td>  
  </tr>

  <tr> 
    <td class=b10  align=left><b>&nbsp;{$dist.1}&nbsp;~&nbsp;{$dist.2}</b></td> 
    <td class=b10  align=right><b>{$ord.2}</b></td>  
    <td class=b10  align=right><b>{$ord_rate.2|NUMBER_FORMAT:"2f"}%</b></td>  
  </tr>

  <tr> 
    <td class=b10  align=left><b>&nbsp;{$dist.2}&nbsp;~&nbsp;{$dist.3}</b></td> 
    <td class=b10  align=right><b>{$ord.3}</b></td> 
    <td class=b10  align=right><b>{$ord_rate.3|NUMBER_FORMAT:"2f"}%</b></td>   
  </tr>
  <tr> 
    <td class=b10  align=left><b>&nbsp;{$dist.3}&nbsp;~&nbsp;{$dist.4}</b></td> 
    <td class=b10  align=right><b>{$ord.4}</b></td> 
    <td class=b10  align=right><b>{$ord_rate.4|NUMBER_FORMAT:"2f"}%</b></td>   
  </tr>
  <tr> 
    <td class=b10  align=left><b>&nbsp;{$dist.4}&nbsp; Above</b></td> 
    <td class=b10  align=right><b>&nbsp;{$ord.5}</b></td>   
    <td class=b10  align=right><b>{$ord_rate.5|NUMBER_FORMAT:"2f"}%</b></td> 
  </tr>
 <tr> 
    <td class=b10  align=left><b>&nbsp;Total</b></td> 
    <td class=b10  align=right><b>{$ord_total}</b></td>   
    <td class=b10  align=right>&nbsp;</td> 

  </tr>
</table>



<!--------- footer ---------->
{include file="footer.html"}
