<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>==== ::::::::::  SALES FORECAST :::::::::: ====</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">
function ord_out(cust,cust_ini) {
	 var url ="index2.php?PHP_action=rpt_smple_use_det&PHP_cust="+cust+"&PHP_cust_ini="+cust_ini;
	 var nm = 'order';
	window.open(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=650,height=600 top=30, left=200');
}
</script>
{/literal}
</head>
<body bgcolor="#003C77">
<br><br>


 <table width=760 border=0 cellspacing=0 cellpadding=2>
  <tr class="top16bg">  
    <td width=30>&nbsp;</td>  
	<td  width=600  align=center class="top16bg"> <font color=yellow><b><u>Valid Sample</u></b></font> Analysis by Customer</td>
	<td width=150 align=center class="txt_B_y_16t"><b> &nbsp;FY:{$today}&nbsp;&nbsp;</b></td>
  </tr>
{if $msg}
 <tr><td colspan=3>
     <table border=0 cellpadding=2 cellspacing=0 width=600 align=center>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
 </td></tr>123
{/if}
 </table>
 <table width=760 border=1 cellspacing=0 cellpadding=2>

    {section name=SEC loop=$ord} 
    <tr>
    <td class=b9 width=100 align=Left><a href="javascript:ord_out('{$ord[SEC].cust}','{$ord[SEC].cust_i}')" value='ord_out' style='cursor:pointer'>&nbsp;&nbsp;{$ord[SEC].cust_i}</a></td>
    <td class=b9 align=left>Sample(S) : {$ord[SEC].smpl|number_format} &nbsp; &nbsp;({$ord[SEC].s_qty|number_format}&nbsp; Fpcs.)</td>
    <td class=b9 align=left>Valid Sample (s) : <b>{$ord[SEC].use|number_format}&nbsp; &nbsp;({$ord[SEC].use_qty|number_format}&nbsp; pcs.)</b></td>	
    <td class=b9 align=left>Order(s) : <b>{$ord[SEC].ord|number_format}&nbsp; &nbsp;({$ord[SEC].ord_qty|number_format}&nbsp; pcs.)</b></td>	   
    </tr>
    {/section}    
  
</table>



<!--------- footer ---------->
{include file="footer.html"}
