<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>===...::  PRODUCTION REPORT ::.....===</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">
function edit_rate(rate_date) {
	location.href="rate.php?PHP_action=rate_update&PHP_date="+rate_date;
 }
</script>
{/literal}
</head>
<body  bgcolor="ffffff" background=" ">&nbsp;
<!-- ################################################################################# -->
<form METHOD="POST" action="{$PHP_SELF}" name="rate_add">
<table border cellspacing=0 cellpadding=2 cols=1 width=550 bgcolor=#cccccc  align=center>
  <tr>
    <td align=center>
     <table border=0 cellspacing=0 cellpadding=4 cols=1 width=550 bgcolor=#534A67>
      <tr>
      	<td width=15% class=des align=center><b>FTY : {$fty}</b></td>
      	<td width=60% class=des align=center><b>PRODUCTION OVERTIME REPORT</b></td>
      	<td width=20% class=des align=center><b>FY : {$yy}-{$mm}</b></td>
      </tr>
     </table>


<table border cellspacing=0 cellpadding=2 width=550 bgcolor=#eeeeee align=center>

  <tr bgcolor="#003333" height=28> 	
	<td nowrap width=120    class=back align=center rowspan=2 ><b>DATE</b></td>
	<td nowrap align=center class=back colspan=3><b>REGULAR</b></td>
	<td nowrap align=center class=back colspan=3><b>OVERTIME</b></td>	
  </tr>
  <tr bgcolor="#003333" height=28> 	
	<td nowrap align=center class=back ><b>WORKERS</b></td>
	<td nowrap align=center class=back ><b>Work<BR> hour</td>
	<td nowrap align=center class=back ><b>QTY</b></td>
	<td nowrap align=center class=back ><b>WORKERS</b></td>
	<td nowrap align=center class=back ><b>Work<BR> hour</td>
	<td nowrap align=center class=back ><b>QTY</b></td>.
  </tr>  
	{section name=SEC loop=$ot_det} 
  <tr>
    <td align=center class=b9 nowrap><b>{$ot_det[SEC].out_date}&nbsp;</b></td>
    <td align=right class=b9 nowrap><b>{$ot_det[SEC].workers}&nbsp;</b></td> 
    <td align=right class=b9 nowrap><b>{$ot_det[SEC].wk_time|NUMBER_FORMAT}&nbsp;</b></td>   
 		<td align=right class=b9 nowrap><b>{$ot_det[SEC].wk_qty|NUMBER_FORMAT}&nbsp;</b></td>      

    <td align=right class=b9 nowrap><b>{$ot_det[SEC].ot_wk}&nbsp;</b></td> 
    <td align=right class=b9 nowrap><b>{$ot_det[SEC].ot_time|NUMBER_FORMAT}&nbsp;</b></td>   
 		<td align=right class=b9 nowrap><b>{$ot_det[SEC].ot_qty|NUMBER_FORMAT}&nbsp;</b></td>      
  </tr>
  {/section} 
  <tr>
    <td align=center class=b9 nowrap><b>TOTAL</b></td>
    <td align=right class=b9 nowrap><b>{$amt.workers|NUMBER_FORMAT}&nbsp;</b></td> 
    <td align=right class=b9 nowrap><b>{$amt.wk_time|NUMBER_FORMAT}&nbsp;</b></td>   
 		<td align=right class=b9 nowrap><b>{$amt.wk_qty|NUMBER_FORMAT}&nbsp;</b></td>      

    <td align=right class=b9 nowrap><b>{$amt.ot_wk|NUMBER_FORMAT}&nbsp;</b></td> 
    <td align=right class=b9 nowrap><b>{$amt.ot_time|NUMBER_FORMAT}&nbsp;</b></td>   
 		<td align=right class=b9 nowrap><b>{$amt.ot_qty|NUMBER_FORMAT}&nbsp;</b></td>      
  </tr>  
</table>

<!--------- footer ---------->
{include file="footer.html"}