<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5" />
<title>SCM SYSTEM [ sales cost CFM ]</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}

<Script language="javascript">

</script>


{/literal}
</head>

<body>

<br>
<table cellspacing=1 cellpadding=4 cols=1 width=800 bgcolor=#333333>
	<tr>
        	<td align="Left"   class="des" height=28 width=70><b>FTY : <span class=ylw10>{$cost.fty}</span> </b></td>
          <td align="Right"  class="des" height=28 width=70><b>Cust : <span class=ylw10>{$cost.cust}</span> </b></td>
          <td align="center" class="des" height=28><b>Sales Cost [<span class=ylw10>{$cost.out_month}</span>]</b></td>
          <td align="Right" class="des" height=28 width=170><b>
          	{if $cost.status == 0}Waitting for Submit{/if}
          	{if $cost.status == 2}Waitting for CFM{/if}
          	{if $cost.status == 4}Waitting for APV{/if}
          	{if $cost.status == 6}APVD{/if}
          </b></td>
	</tr>
</table>

<table border=1 cellpadding=4 cellspacing=0 cols=1 width=800 id='tbl_msg' {if $msg_YES} style="display : block" {else}style="display : none"{/if}>
	<tr bgcolor=#ffffff> 
		<td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
		<td class=bgdy><div id='msg1'>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</div></td>
	</tr>
</table>

<br>
	<table width=800 border=0 cellspacing=2 cellpadding=2>
		 <tr>
		  	<td width=100 align=right><b>Invoice#:</b></td>
		  	<td width=300 align=left>{$cost.inv}</td>
		  	<td align=right>
		  	    {if $cost.status == 6 }
    					<a href="cost.php?PHP_action=cost_print&PHP_cost={$cost.id}">
							<img src="./images/print9.gif" border=0 alt="PDF: SAVE/PRINT"></a>
					{/if}
		  	</td>
		 </tr>
	</table>
	  <table width=800 border=1 cellspacing=0 cellpadding=2 id='cost_show' class=b9 bgcolor="#FFFFFF">
                <tr>
                  <td height="20" colspan="6" align="center" bgcolor="#FFFFFF" class="B_blue10">Product item</td>
                  <td colspan="2" align="center" nowrap="nowrap" bgcolor="#FFFFFF" class="B_blue10">Sales</td>
                  <td colspan="1" align="center" bgcolor="#FFFFFF" class="B_blue10">Costs</td> 
                  <td colspan="1" align="center" nowrap="nowrap" bgcolor="#FFFFFF" class="B_blue10">&nbsp;</td>

                </tr>
                <tr class=b9>
                	<td width=40 align="center" nowrap="nowrap" bgcolor="#EEEEEE" class="item1">&nbsp;</td>
                  <td width=70 height="16"  align="center" nowrap="nowrap" bgcolor="#EEEEEE" class="item1">Order #</td>
                  <td width=90 align="center" nowrap="nowrap" bgcolor="#EEEEEE" class="item1">Style #</td>
                  <td width=70 align="center" nowrap="nowrap" bgcolor="#EEEEEE" class="item1">ETD</td>
                  <td align="center" nowrap="nowrap" bgcolor="#EEEEEE" class="item1">Q'ty</td>
                  <td align="center" nowrap="nowrap" bgcolor="#EEEEEE" class="item1">Quota</td>
                  <td width=60 align="center" nowrap="nowrap" bgcolor="#EEEEEE" class="item1">FOB</td>
                  <td width=90 align="center" nowrap="nowrap" bgcolor="#EEEEEE" class="item1">Sales</td>
<!--                  
                  <td align="center" nowrap="nowrap" bgcolor="#EEEEEE" class="item1">Fab. <br> u-cost</td>
                  <td align="center" nowrap="nowrap" bgcolor="#EEEEEE" class="item1">YY</td>
                  <td align="center" nowrap="nowrap" bgcolor="#EEEEEE" class="item1">Fab.<br> Cost </td>
                  <td align="center" nowrap="nowrap" bgcolor="#EEEEEE" class="item1">acc. <br> Cost</td>
                  <td align="center" nowrap="nowrap" bgcolor="#EEEEEE" class="item1">Fty-acc.<br> Cost</td>
 -->
                  <td width=50 align="center" nowrap="nowrap" bgcolor="#EEEEEE" class="item1">C.M.</td>
                  <td align="center" nowrap="nowrap" bgcolor="#EEEEEE" class="item1">Remark</td>
<!--
                  <td align="center" nowrap="nowrap" bgcolor="#EEEEEE" class="item1">Comm.</td>
                  <td align="center" nowrap="nowrap" bgcolor="#EEEEEE" class="item1">@cost</td>
                  <td align="center" nowrap="nowrap" bgcolor="#EEEEEE" class="item1">Cost</td>
                  <td align="center" nowrap="nowrap" bgcolor="#EEEEEE" class="item1">Smpl.<br> Cost</td>
                  <td align="center" nowrap="nowrap" bgcolor="#EEEEEE" class="item1">G.M.</td>
                  <td align="center" nowrap="nowrap" bgcolor="#EEEEEE" class="item1">G.M.<br>(%)</td>
-->
                </tr>                
						{section name=USE loop=$scost}
                <tr class=b9>
                	<td align="center" nowrap="nowrap">預估</td>
                  <td height="16" align="center" nowrap="nowrap"  rowspan=3>{$scost[USE].order_num}</td>
                  <td align="center" nowrap="nowrap" rowspan=3>{$scost[USE].style_des}</td>
                  <td align="center" nowrap="nowrap" >{$scost[USE].o_etd}</td>
                  <td align="right" nowrap="nowrap" >{$scost[USE].rem_qty|number_format}</td>
                  <td align="right" nowrap="nowrap" >{$scost[USE].o_quota}&nbsp;</td>
                  <td align="right" nowrap="nowrap" >{$scost[USE].uprice|number_format:"2f"}</td>
                  <td align="right" nowrap="nowrap" >{$scost[USE].o_in_cost|number_format:"2f"}</td>
<!-- 
                  <td align="center" nowrap="nowrap" >{$scost[USE].mat_u_cost|number_format:"2f"}</td>
                  <td align="center" nowrap="nowrap" >{$scost[USE].mat_useage|number_format:"2f"}</td>
                  <td align="center" nowrap="nowrap" >{$scost[USE].o_mat|number_format:"2f"} </td>
                  <td align="center" nowrap="nowrap" >{$scost[USE].o_acc|number_format:"2f"}</td>
                  <td align="center" nowrap="nowrap" >{$scost[USE].fty_acc_cost|number_format:"2f"}</td>
-->
                  <td align="right" nowrap="nowrap" >{$scost[USE].fty_cm|number_format:"2f"}</td>
<!--
                  <td align="center" nowrap="nowrap" >{$scost[USE].comm_fee|number_format:"2f"}</td>
                  <td align="center" nowrap="nowrap" >{$scost[USE].o_a_cost|number_format:"2f"}</td>
                  <td align="center" nowrap="nowrap" >{$scost[USE].o_cost|number_format:"2f"}</td>
                  <td align="center" nowrap="nowrap" >&nbsp;</td>
                  <td align="center" nowrap="nowrap" >{$scost[USE].o_gross|number_format:"2f"}</td>
                  <td align="center" nowrap="nowrap" >{$scost[USE].o_gross_rate|number_format:"2f"}</td>
                  
-->
									<td align="left" nowrap="nowrap" rowspan=3>{$scost[USE].rmk}&nbsp;</td>
                </tr> 

								<tr bgcolor="#FFFFFF">
                	<td align="center" nowrap="nowrap"  bgcolor="#FFFFFF" >實際</td>
                  <td align="center" nowrap="nowrap"  >{$scost[USE].etd}</td>
                  <td align="right" nowrap="nowrap"  >{$scost[USE].qty|number_format}</td>
                  <td align="right" nowrap="nowrap"  >{$scost[USE].quota}&nbsp;</td>
                  <td align="right" nowrap="nowrap"  >{$scost[USE].fob|number_format:"2f"}</td>
                  <td align="right" nowrap="nowrap"  >{$scost[USE].c_in_cost|number_format:"2f"}</td>
 <!--
                  <td align="center" nowrap="nowrap"  >{$scost[USE].fab_cost|number_format:"2f"}</td>
                  <td align="center" nowrap="nowrap"  >{$scost[USE].yy|number_format:"2f"}</td>
                  <td align="center" nowrap="nowrap"  >{$scost[USE].c_fab|number_format:"2f"} </td>
                  <td align="center" nowrap="nowrap"  >{$scost[USE].acc_cost|number_format:"2f"}</td>
                  <td align="center" nowrap="nowrap"  >{$scost[USE].acc_f_cost|number_format:"2f"}</td>
-->
                  <td align="right" nowrap="nowrap"  ><b><i>{$scost[USE].cm|number_format:"2f"}</i></b></td>
<!--                  
                  <td align="center" nowrap="nowrap"  >{$scost[USE].comm|number_format:"2f"}</td>
                  <td align="center" nowrap="nowrap"  >{$scost[USE].c_a_cost|number_format:"2f"}</td>
                  <td align="center" nowrap="nowrap"  >{$scost[USE].c_cost|number_format:"2f"}</td>
                  <td align="center" nowrap="nowrap"  >{$scost[USE].smpl_cost}</td>
                  <td align="center" nowrap="nowrap"  >{$scost[USE].c_gross|number_format:"2f"}</td>
                  <td align="center" nowrap="nowrap"  >{$scost[USE].c_gross_rate|number_format:"2f"}</td>
--> 
                </tr>   


                <tr bgcolor="#FFFFFF">
                	<td align="center" nowrap="nowrap"  bgcolor="#FFFFFF" >差異</td>
                  <td align="right" nowrap="nowrap"  >&nbsp;</td>
                  <td align="right" nowrap="nowrap"  >{$scost[USE].d_qty|number_format}</td>
                  <td align="right" nowrap="nowrap"  >&nbsp;</td>
                  <td align="right" nowrap="nowrap"  >{$scost[USE].d_fob|number_format:"2f"}</td>
                  <td align="right" nowrap="nowrap"  >{$scost[USE].d_in_cost|number_format:"2f"}</td>

                  <td align="right" nowrap="nowrap"  ><b><i>{$scost[USE].d_cm|number_format:"2f"}</i></b></td>

                </tr>                 
              
               {/section}

      </table>

<br>

<table border=0 cellspacing=0 cellpadding=0 width=800 {if $order.del_mk == 0}bgcolor=#FFFFFF{else}bgcolor=#FEFFD6{/if} align=center>
  {if $order.del_mk > 0}<tr><td colspan=5 align=center><b><font color=red>* Deleting Order</font></b></td></tr>{/if}
  <tr>
	<td valign=top width=100><form method=POST name=back>
		<input type=button onClick="window.location.href='index2.php?PHP_action=order_apv&PHP_sr_cost={$now_pp}'" value=" << go back " class=select_e style="cursor:pointer; width=95% ;height:40">
		&nbsp;&nbsp;
	</td>
{if $add_flag && $cost.status == 4}
	<td width=80 valign=top align=center><form method=POST name=cfm>
		<input type="hidden" name="PHP_action" value="do_cost_apv">				
		<input type="hidden" name="PHP_cost" value="{$cost.id}">
		<input type="hidden" name="PHP_now_pp" value="{$now_pp}">
		
		<input type=submit value="APV ok" class=select_e style="cursor:pointer; width=60; height:40"></form>
	</td>
	
	
	<td class=gry10 align=right valign=middle width=65>remark:</td>
	<td class=gry10 valign=top><form method=POST name=reject>
    <textarea name="PHP_des" rows=2 cols=90 class=select></textarea>
		<input type="hidden" name="PHP_action" value="cost_apv_rjt">
		<input type="hidden" name="PHP_cost" value="{$cost.id}">		
		<input type="hidden" name="PHP_now_pp" value="{$now_pp}">
		<input type=submit value=" reject " class=select_e style="cursor:pointer; width=60; height=40" onClick=this.width=0;></form>
	</td>
{/if}
  </tr>
</table>

<!--------- footer ---------->
{include file="footer.html"}
