<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>===.........  SALES FORECAST .........===</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/col.js"></script>
<script type="text/javascript"
        src="./js/build/yahoo/yahoo-min.js"></script>
<script type="text/javascript"
        src="./js/build/connection/connection-min.js"></script>

<script language="JavaScript">


var transaction;
var sUrl;
function get_hdy()
{
	var fty = window.document.forms['mon'].elements['PHP_FTY'].value;
	var dates = window.document.forms['mon'].elements['PHP_hyd_date'].value;
	window.location='monitor.php?PHP_action=saw_hdy_add&PHP_FTY='+fty+'&PHP_date='+dates;
}
function get_fty(r)
{
	var fty = r.value;
	
	sUrl="monitor.php?PHP_action=get_fty&SCH_fty="+fty;
	transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, callback, null);

}
function add_line()
{
	var fty = window.document.forms['mon_line'].elements['PHP_FTY'].value;
	//alert(fty);
	if (!fty)
	{
		alert("Please Select Factory first.");
		return;
	}
	location.href="monitor.php?PHP_action=saw_line_add&PHP_FTY="+fty;

}
function edit_line()
{
	var fty = window.document.forms['mon_line'].elements['PHP_FTY'].value;
	if (!fty)
	{
		alert("Please Select Factory first.");
		return;
	}
	location.href="monitor.php?PHP_action=saw_line_edit&PHP_FTY="+fty;

}
var callback = {
	success: function(o) {
		// document.getElementById("tbl_msg").style.display='block';    
		var response = o.responseText.split("|");    	
		line.innerHTML  = response[0]; 
		ord_num.innerHTML = response[1]; 
	},
	failure: function(o) {
		alert("Error：Can't get data");
	}
};
</script>
{/literal}

</head>
<body  bgcolor="ffffff" background=" ">&nbsp;
<!-- ################################################################################# -->

{if $max_notify > 0 }		
	<table width=620 border=0 cellpadding=3 cellspacing=1>
	<tr height=30 bgcolor=#C0CECF>
		<td align="center" >
			<a href="notify.php?PHP_action=notify"> <span class=sign align=center ><b> You have {$max_notify} message un-read</b></span></a></td>
	</tr>
</table>
<br>
{/if}	
<!--
<form METHOD="POST" name="mon_ord" action="overtime.php">
<table border=0 cellspacing=0 cellpadding=2 cols=1 width=620 align=center>
<tr><td align=right>
		<input type=submit value="OVERTIME" style="cursor:pointer; width:30%">
		<input type=hidden value="overtime" name="PHP_action">

</td></tr>
</table>
</form>
-->

{if $add_flag}
<form METHOD="POST" name="mon_line">
<table border=1 cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#DDDDDD  align=center>

<tr><td>
<table cellspacing=1 cellpadding=1 cols=1 width=100% bgcolor=#003333 align=center>
	<tr>
		<td class="des" align=center height=28>[ <b><font color = yellow>Production-Line</font> EDIT</b> ]</td>
	</tr>
</table>
</td></tr>

{if $msg_YES}
 <tr><td>
     <table border=0 cellpadding=2 cellspacing=0 width=600 align=center>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
 </td></tr>
{/if}

<tr><td>

<table border=0 cellspacing=6 cellpadding=1 width=600>
 </tr>
  <td class=snvy  align=right width=100><b>factory ID :</b></td>
	<td class=snvy	align=left 	width=500>{$FACTORY_select}</td>
 </tr>
  <tr><td colspan=2><hr SIZE=2 WIDTH=97%></td></tr>

	<tr> 
  <td align=center colspan=2 >
		<input type=button value=" Create new Production Line" class=select_e2 style="cursor:pointer; width:40%" onclick=add_line()>
		<input type=button value=" Edit Production Line" class=select_e2 style="cursor:pointer; width:55%" onclick=edit_line()>
  </td>
	</tr>
</table>
</td></tr>

</table>
</form>


<!-- <form METHOD="POST" name="mon">
<table border=0 cellspacing=6 cellpadding=1 width=600>
 </tr>
  <td class=snvy  align=right width=100><b>factory ID :</b><td>
	<td class=snvy	align=left 	width=180>{$FTY_search}</td>
  <td class=snvy  align=right width=120><b>DATE :</b></td>
  <td class=snvy  align=left 	width=200>
  	<input type=text name="PHP_date" size=10 class=select value="">
  	<img align='top' onmousedown="javascript:Cal(document.mon.PHP_date,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand' >
  </td>	

 </tr>
  <tr><td colspan=8><hr SIZE=2 WIDTH=97%></td></tr>

	<tr> 
	  <td align=center colspan=8>
		<input type=submit value=" EDIT Production out-put" class=select_e2 style="cursor:pointer; width=100%">
	  </td>
	</tr>
</table>
<input type=hidden value="saw_adm_add" name="PHP_action">
</form> -->



<form METHOD="POST" name="mon" id="mon" >
<table border=1 cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#DDDDDD  align=center>

<tr><td>
<table cellspacing=1 cellpadding=1 cols=1 width=100% bgcolor=#003333 align=center>
	<tr>
		<td class="des" align=center height=28>[ <b> Append Production <font color = yellow>OUT-PUT</font> -- by date </b>]</td>
	</tr>
</table>
</td></tr>

<tr><td>

<table border=0 cellspacing=3 cellpadding=1 width=600>
 </tr>
  <td class=snvy  align=right width=100><b>factory ID :</b><td>
	<td class=snvy	align=left 	width=80>{$FACTORY_select}</td>
    <td class=snvy  align=right width=150><b>Out-put Date :</b><td>
    <td class=snvy  align=left 	width=160>
    <input type=text name="PHP_date" size=10 class=select value="">
    <img align='top' onmousedown="javascript:Cal(document.mon.PHP_date,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand' >
    </td>	
  <td class=snvy  align=right width=120><b>if Holiday... &nbsp;&nbsp;DATE :</b></td>
  <td class=snvy  align=left 	width=200>
  	<input type=text name="PHP_hyd_date" size=10 class=select value="{$line}">
  	<img align='top' onmousedown="javascript:Cal(document.mon.PHP_hyd_date,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:pointer' >
		<input type=button value="Holiday" style="cursor:pointer; width:30%" onclick=get_hdy()>

  </td>	

 </tr>
  <tr><td colspan=8><hr SIZE=2 WIDTH=97%></td></tr>

	<tr> 
	  <td align=center colspan=9>
		<input type=submit value="EDIT Production out-put" class=select_e2 style="cursor:pointer; width:100%">
	  </td>
	</tr>
</table>
</td></tr>

</table>
<input type=hidden value="dm_add" name="PHP_action">
<!-- <input type=hidden value="saw_adm_add" name="PHP_action"> -->
</form>




{/if}	

<form METHOD="POST" name="mon_search">
<table border=1 cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#DDDDDD  align=center>

<tr><td>
<table cellspacing=1 cellpadding=1 cols=1 width=100% bgcolor=#003333 align=center>
	<tr>
		<td class="des" align=center height=28>[ <b>PRODUCTION <font color = yellow>MONITOR SEARCH</font> -- by date</b> ]</td>
	</tr>
</table>
</td></tr>

<tr><td>
<table border=0 cellspacing=6 cellpadding=1 width=600>
  <tr>
  <td class=snvy  align=right width=100><b>factory :</b></td>
	<td class=snvy	align=left 	width=80>{$FTY_search}</td>
  <td class=snvy  align=right width=140><b>Production LINE :</b></td>
  <td class=snvy  align=left 	width=100><div id=line>{$LINE_search}</div></td>	
  <td class=snvy  align=right width=80><b>Customer :</b></td>
  <td class=snvy  align=left width=100><div id=ord>{$cust_select}</div></td>	

  </tr>
  <tr>
  <td class=snvy  align=right><b>Order # :</b></td>
  <td class=snvy  align=left><div id=ord_num>{$ORDER_search}</div></td>	
  <td class=snvy  align=right><b>Style # :</b></td>
  <td class=snvy  align=left><input type=text name="SCH_style" size=15 class=select value=""></td>	

  </tr>
  <tr>
  <td class=snvy  align=right colspan=2><b>Out-put Date :</b>&nbsp;&nbsp; From :&nbsp;&nbsp; </td>
  <td class=snvy  align=left colspan=4>
  	 <input type=text name="SCH_str" size=15 class=select value=""> 
  	<img align='top' onmousedown="javascript:Cal(document.mon_search.SCH_str,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:pointer' >

  	&nbsp;&nbsp;~ &nbsp;&nbsp;TO : <input type=text name="SCH_end" size=15 class=select value="">
  	<img align='top' onmousedown="javascript:Cal(document.mon_search.SCH_end,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:pointer' >

  </td>	
  </tr>
  <tr><td colspan=6><hr SIZE=2 WIDTH=97%></td></tr>
	<tr> 
	  <td align=center colspan=6>
		<input type=submit value=" MONITOR SEARCH by Daily" class=select_e style="cursor:pointer; width:100%" this.width=0;">
	  </td>&nbsp;&nbsp;
	</tr>
	
</table>
</td></tr>
</table>


<table border=0 cellspacing=0 cellpadding=0 width=600 align=center>
	<tr> 

</table>
<input type=hidden value="dm_search" name="PHP_action">


</form>
<!--
{if $add_flag}
<form METHOD="POST" name="mon_fninish">
<table border=0 cellspacing=0 cellpadding=2 cols=1 width=620 align=center>
<tr><td align=right>
		<input type=submit value=" FINISH" style="cursor:pointer; width:30%">
		<input type=hidden value="saw_finish_create" name="PHP_action">

</td></tr>
</table>
</form>
{/if}

{if $add_flag}
<table border=0 cellspacing=0 cellpadding=2 cols=1 width=620 align=center>
    <tr>
        <td class="item_title">Import csv file&nbsp;<a href="./ship template.csv"><small>匯入格式檔</small></a></td>
    </tr>
    <tr>
        <td>
            <form id="import_csv" method=POST name=pattn enctype="multipart/form-data">    
            檔案：<input type="hidden" name="PHP_action" value="import_csv_file">
                <input type='file' name='PHP_csv_file' size=20 class=select>&nbsp;&nbsp;
                <input id="import_csv" class="title_submit" type='submit' value=' upload '>
            </form>
        </td>
    </tr>
</table>
{/if}
-->

{if $del_flag}
<form METHOD="POST" name="mon_ord">
<table border=0 cellspacing=0 cellpadding=2 cols=1 width=620 align=center>
<tr><td align=right>
		<input type=submit value=" MONITOR BY Production Line" style="cursor:pointer; width:30%">
		<input type=hidden value="monitor_ord" name="PHP_action">

</td></tr>
</table>
</form>


<form METHOD="POST" name="mon_ord">
<table border=0 cellspacing=0 cellpadding=2 cols=1 width=620 align=center>
<tr><td align=right>
		<input type=submit value=" ADMIN EDIT" style="cursor:pointer; width:30%">
		<input type=hidden value="saw_adm" name="PHP_action">

</td></tr>
</table>
</form>

{/if}
<!--------- footer ---------->
{include file="footer.html"}