<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: Tai Yuen ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script type="text/javascript"
        src="./js/build/yahoo/yahoo-min.js"></script>
<script type="text/javascript"
        src="./js/build/connection/connection-min.js"></script>
<Script language="javascript">

 </script>
{/literal}
</head>
<body >
<br>
<table cellspacing=1 cellpadding=4 cols=1 width=550 bgcolor=#003300>
	<tr>

		<td class="des" align=center height=28>
			[ <b>&nbsp;Production Line </b> -- Create]
		</td>
	</tr>
</table>

     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=550 id='tbl_msg' {if $msg_YES} style="display : block" {else}style="display : none"{/if}>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy><div id='msg1'>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</div></td>
        
      </tr>
     </table>
<form METHOD="POST" name="mon_add_ln" action="{$PHP_SELF}">
<table border=1 cellspacing=1 cellpadding=1 width=550 bgcolor=#FFFFFF>
  <tr>
  	<td class="des" align=center width=100 bgcolor=#003300>
			<b><font color=yellow>FTY : {$sc_select}</font>
		</td>
  	<td><b>LINE : </b>
  	<input type=text name="PHP_line" size=5 class=select value="">
  	</td>
  	<td><b>workers : </b>
  	<input type=text name="PHP_worker" size=5 class=select value="">
  	</td>
  	<td><b>style : </b>
  	{$style}
  	</td>  	
  	<td align=center width=60>
		<input type=submit value=" ADD " class=select_e2 style="cursor:pointer; width=100%">
	  </td>
	</tr>
</table>
<input type=hidden value="do_saw_line_add" name="PHP_action">
<input type=hidden value="{$fty}" name="PHP_FTY">
</form>



<table border=0 cellspacing=1 cellpadding=1 width=550 bgcolor=#FFFFFF>
  <tr>
    <td colspan=7 class=frnt align=center><hr size=2 width=98%></td>
  <tr>
  <tr>
  	<td width=100 class=frnt align=center bgcolor=#CEE4E3>&nbsp;<b>Factory</b></td>
  	<td width=100 class=frnt align=center bgcolor=#CEE4E3>&nbsp;<b>SUB. FTY.</b></td>
    <td width=100 class=frnt align=center bgcolor=#CEE4E3>&nbsp;<b>Line</b></td>
    <td width=100 class=frnt align=center bgcolor=#CEE4E3>&nbsp;<b>workers</b></td>
    <td width=100 class=frnt align=center bgcolor=#CEE4E3>&nbsp;<b>Style</b></td>
  </tr>
{section name=SEC loop=$line} 
  <tr>
  	<td class=frnt align=center>&nbsp;<b>{if $line[SEC].sc == 0}{$line[SEC].fty}{else}SC.{/if}</b></td>
    <td class=frnt align=center>&nbsp;<b>{$line[SEC].sub_fty}</b></td>
    <td class=frnt align=center>&nbsp;<b>{$line[SEC].line}</b></td>
    <td class=frnt align=center>&nbsp;<b>{$line[SEC].worker}</b></td>
    <td class=frnt align=center>&nbsp;<b>{$line[SEC].line_style}</b></td>
  </tr>
{/section}

</table>
<form METHOD="POST" name="mon_back" action="{$PHP_SELF}">
		<hr SIZE=2 WIDTH=550>
          <table border=0 cellspacing=0 cellpadding=0 cols=2 width=550>
            <tr> 
              <td align=center>
              			<input type='hidden' name="PHP_action" value="monitor_daily" >
				<input type=submit value=" << back " class=select_e style="cursor:pointer; width=95%">
              </td>
   
        </table>
</form>
<!--------- footer ---------->
{include file="footer.html"}
