<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM -B [ ORDER RECORD ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
<link rel=stylesheet type="text/css" href="./css/scm.css">
{literal}
<script language="javascript" src="./js/jquery.min.js"></script>
<script language="javascript" src="./js/col.js"></script>
<script language="javascript" src="./js/open_detial.js"></script>
<Script language="javascript">
topPosition=function(){return typeof window.pageYOffset != 'undefined' ? window.pageYOffset : document.documentElement && document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ? document.body.scrollTop : 0;}

function openRemote(file)
  {
 var gofile = 'index2.php?PHP_action=revise_order_view&PHP_id='+ file ;
window.open2(gofile,'_new','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=740,height=700 top=30, left=100');
  }

function refreshIt()  {
	if (!document.images) return;
	ord_pic.src = '{/literal}{$main_pic}{literal}?'+ Math.random();	
	schedule_char.src  = 'picture/schedule_out.png?'+Math.random();	
	output_char.src  = 'picture/order_out.png?'+Math.random();	
}
function smpl_out2(smpl_num) {
	 var url ="index2.php?PHP_action=show_sample_det&PHP_smpl_num="+smpl_num;
	 var nm = 'sample';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=700 top=50, left=100');
}

function down_pttn(id, num) {

	if ( confirm("download this style pattern file?")) {
		cgiget="{/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}";
		location.href="./order_pttn/"+num+".mdl";
//		location.href="index2.php?PHP_action=smpl_pttn_download&PHP_id="+id+"&PHP_num="+num+"&PHP_back="+cgiget;
	} 
}

function ord_line(line,date,fty) {
	 var url ="monitor.php?PHP_action=saw_line_pic&PHP_line="+line+"&PHP_date="+date+"&PHP_fty="+fty;
	 var nm = 'line';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=600 top=50, left=100');
}

function prd_out(ord_num) {
	var url ="index2.php?PHP_action=out_put_lc&PHP_order_num="+ord_num;
	var nm = 'Output';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=850,height=400 top=50, left=100');
}

function ord_pic(ord_num) {
	 var url ="monitor.php?PHP_action=saw_ord_pic&PHP_ord_num="+ord_num;
	 var nm = 'Output';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=600 top=50, left=100');
}


(function($){

	$(document).ready(function(){
        
        // mouse cursor
		$('td[id^=td_ets] , td[id^=td_etf]').hover(function(){
            // if( $(this).attr("id") == 'un' )
            
			$(this).addClass("m_help");
		},function(){
			$(this).removeClass("m_help");
		});
        
        // mouse cursor
		$('td[id^=ms_] , span[id=in] , span[id=un] , span[id=Desc] ').hover(function(){
            // if( $(this).attr("id") == 'un' )
			$(this).addClass("m_p");
		},function(){
			$(this).removeClass("m_p");
		});
        
        // mouse cursor
		$('tr[id^=fty]').hover(function(e){
            var $index = $(this).attr('index');
            var $pre_ets = $(this).attr('pre_ets');
            var $pre_etf = $(this).attr('pre_etf');
            var $pre_day = $(this).attr('pre_day');

            var $td_top2 = topPosition();
            var $td_top = $(this).offset().top + $('body').scrollTop();
            var $td_left = $('#td_mks_'+$index).offset().left;
            var $height = $('#td_ets_'+$index).height();
            var $td_mks_width = $('#td_mks_'+$index).width();
            var $td_ets_width = $('#td_ets_'+$index).width();
            var $td_etf_width = $('#td_etf_'+$index).width();
            var $td_day_width = $('#td_day_'+$index).width();
            
            $('#pre_ets').html($pre_ets);
            $('#pre_etf').html($pre_etf);
            $('#pre_day').html($pre_day);
            
            $("#div_plan").offset({ top : $td_top + $height + 6 , left : $td_left-1 });
            
            $('#title').css({
                height : $height , 
                width : $td_mks_width 
            });
            $('#pre_ets').css({
                width : $td_ets_width
            });
            $('#pre_etf').css({
                width : $td_etf_width
            });
            $('#pre_day').css({
                width : $td_day_width
            });
            
            $html = ''
            // if( $(this).attr("id") == 'un' )
            $("#div_plan").show();
			$(this).addClass("m_plan");
		},function(){
            $("#div_plan").offset({ top : 0 , left : 0 });
            $("#div_plan").hide();
			$(this).removeClass("m_plan");
		});
        
        $('tr[id^=over]').hover(function(){
            $(this).addClass("m_mouse_over");
		},function(){
			$(this).removeClass("m_mouse_over");
		});
        
        $('span[id=in]').bind('click', function(){
            $('span[id=in]').removeClass("menu_off");
            $('tr[id=un]').hide();
            $('tr[id=Desc]').hide();
            $('tr[id=in]').show();
            $('span[id=in]').addClass("menu_on");
            $('span[id=un]').addClass("menu_off");
            $('span[id=Desc]').addClass("menu_off");
        });
        $('span[id=un]').bind('click', function(){
            $('span[id=un]').removeClass("menu_off");
            $('tr[id=in]').hide();
            $('tr[id=Desc]').hide();
            $('tr[id=un]').show();
            $('span[id=in]').addClass("menu_off");
            $('span[id=Desc]').addClass("menu_off");
            $('span[id=un]').addClass("menu_on");
            $('div[id=div_calendar]').hide();
            $('div[id=div_line]').hide();
        });
        $('span[id=Desc]').bind('click', function(){
            $('span[id=Desc]').removeClass("menu_off");
            $('tr[id=in]').hide();
            $('tr[id=un]').hide();
            $('tr[id=Desc]').show();
            $('span[id=in]').addClass("menu_off");
            $('span[id=un]').addClass("menu_off");
            $('span[id=Desc]').addClass("menu_on");
        });
        
    });
    
})(jQuery);

</script>
{/literal}
</head>
<body onLoad="refreshIt();">
<div id="div_plan" style="position:absolute;overflow-x:hidden;overflow-y:hidden;display:none;z-index:3;">
<table border=1 cellspacing=0 cellpadding=3 cols=1>
    <tr bgcolor="#999999">
        <td bgcolor="#122B3F" class=w9 align=center id="title">Factory Plan</td>
        <td class=b10 align=center id="pre_ets">pre_ets</td>
        <td class=b10 align=center id="pre_etf">pre_etf</td>
        <td class=b10 align=center id="pre_day">pre_day</td>
    </tr>
</table>
</div>
<table border="0" cellspacing="0" cellpadding="0" cols="0" width="100%">
    <tr>
        <td class="subtitle" colspan="2">
            <table width="780" border=0 cellspacing=0 cellpadding=6>
                <tr> 
                    <td width="15%" align="right"><b>ORDER # : </b></td>
                    <td width="25%" align="left">
                        <span class=bgdy>
                            <a href="javascript:show_order_rec('{$order.id}','{$order.order_num}')" value='ord_out' style='cursor:pointer'>
                                {$order.order_num} ({$order.qty|number_format} pcs)
                            </a>
                        </span>
                    </td>
                    <td width="20%" align="center"><b>PROGRESS STATUS</b></td>
                    <td width="40%" align="right">{if $order.sub_con == 1}(Sub-con.){/if} <a href="javascript:po_bom_view('{$order.order_num}','x')">Material Status</a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="space" colspan="2"></td>
    </tr>
    <tr id="add_box">
        <td class="subInputName" colspan="2">
            <span id="in" class="menu_on">ORDER PROGRESS</span><span id="un" class="menu_off">PROJECT SCHEDULE PLAN</span><span id="Desc" class="menu_off">Output List</span> <span id="m_alert" style="color:#0000FF"></span>
        </td>
    </tr>
    <tr>
        <td class="space" colspan="2"></td>
    </tr>
    <tr id="in">
        <td valign="top" id="bar">
            <table width="780" border=0 cellspacing=1 cellpadding=2>
                <img type="image" src="picture/order_out.png" name="output_char" id="output_char" >
                <a href="javascript:po_bom_view('{$order.order_num}','x')" value='purchase_out' title="material P.O. static">	 	 
                <tr bgcolor=#122B3F height=25 align=center style='cursor:pointer' title="material P.O. static" > 
                    <td class=w9 rowspan=2><b>APV DATE</b></td>
                    <td class=w9 rowspan=2><b>SMPL. APV</b></td>
                    <td class=w9 colspan=3><b>FAB.</b></td>
                    <td class=w9 colspan=3><b>KEY ACC.</b></td>
                    <td class=w9 rowspan=2><b>FINISH <BR> DATE</b></td>
                    <td class=w9 rowspan=2><b>SHIPPING <BR> DATE</b></td>
                </tr>
                <tr bgcolor=#122B3F height=25 align=center style='cursor:pointer' title="material P.O. static" >
                    <td class=w9 ><b>ETD</b></td>
                    <td class=w9 ><b>ETA</b></td>
                    <td class=w9 ><b>RCVD.</b></td>
                    <td class=w9 ><b>ETD</b></td>
                    <td class=w9 ><b>ETA</b></td>
                    <td class=w9 ><b>RCVD.</b></td>
                </tr>
                </a>
                <tr bgcolor=#eeeeee height=20 align=center> 
                    <td class=dgrn>{$order.apv_date}</td>
                    <td {if $order.smpl_apv == '0000-00-00'}class=sign{else}class=dgrn{/if}>{if $order.smpl_apv == '0000-00-00'}=UN APV={else}{$order.smpl_apv}{/if}</td>
                    <td {if $order.mat_etd == '0000-00-00' || $order.mat_etd ==''}class=sign{else}class=dgrn{/if}>{if $order.mat_etd == '0000-00-00' || $order.mat_etd ==''}NO ETD{else}{$order.mat_etd}{/if}</td>
                    <td {if $order.mat_eta == '0000-00-00' || $order.mat_eta ==''}class=sign{else}class=dgrn{/if}>{if $order.mat_eta == '0000-00-00' || $order.mat_eta ==''}NO ETA{else}{$order.mat_eta}{/if}</td>
                    <td {if $order.mat_shp == '0000-00-00' || $order.mat_shp ==''}class=sign{else}class=dgrn{/if}>{if $order.mat_shp == '0000-00-00' || $order.mat_shp ==''}UN RCVD.{else}{$order.mat_shp}{/if}</td>

                    <td {if $order.m_acc_etd == '0000-00-00' || $order.m_acc_etd ==''}class=sign{else}class=dgrn{/if}>{if $order.m_acc_etd == '0000-00-00' || $order.m_acc_etd ==''}NO ETD.{else}{$order.m_acc_etd}{/if}</td>
                    <td {if $order.m_acc_eta == '0000-00-00' || $order.m_acc_eta ==''}class=sign{else}class=dgrn{/if}>{if $order.m_acc_eta == '0000-00-00' || $order.m_acc_eta ==''}NO ETA.{else}{$order.m_acc_eta}{/if}</td>
                    <td {if $order.m_acc_shp == '0000-00-00' || $order.m_acc_shp ==''}class=sign{else}class=dgrn{/if}>{if $order.m_acc_shp == '0000-00-00' || $order.m_acc_shp ==''}UN RCVD.{else}{$order.m_acc_shp}{/if}</td>

                    <td class=dgrn>{$order.finish}</td>
                    <td {if $order.shp_date == 'not ship yet!'}class=sign{else}class=dgrn{/if}>{$order.shp_date}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr id="un" style="display:none;height:520px;">
        <td valign="top" id="bar">
            <table width="780" border=0 cellspacing=0 cellpadding=1>
                <img type="image" src="picture/schedule_out.png" name="schedule_char" id="schedule_char" >
                <tr>
                    <td valign=top>
                        <table width="100%" border=0 cellspacing=1 cellpadding=2>
                            <tr bgcolor=#122B3F height=25 align=center> 
                                <td class=w9 width="180"><b>PROJECT SCHEDULE PLAN</b></td>
                                <td class=w9><b>START</b></td>
                                <td class=w9><b>FINISH</b></td>
                                <td class=w9><b>DURATION</b></td>
                                <td class=w9><b>REMARK</b></td>
                            </tr>
                            <tr id="over" id="fty" bgcolor=#eeeeee height=20 align=center> 
                                <td class=dgrn><b>Sales Plan</b></td>
                                <td class=bgdy><b>{$order.ets}</b></td>
                                <td class=bgdy><b>{$order.etf}</b></td>
                                <td class=dgrn align="right"><b>{$dur1}&nbsp;</b></td>
                                <td class=gry9><b>ETP - ETD</b></td>
                            </tr>
                            <tr id="over" bgcolor=#eeeeee height=20 align=center> 
                                <td class=dgrn><b>Factory Plan</b></td>
                                <td class=bgdy><b>{$order.pre_ets}</b></td>
                                <td class=bgdy><b>{$order.pre_etf}</b></td>
                                <td class=dgrn align="right"><b>{$dur2}&nbsp;</b></td>
                                <td class=gry9><b>ETS - ETF</b></td>
                            </tr>
                            <tr id="over" bgcolor=#eeeeee height=20 align=center> 
                                <td class=dgrn><b>Computer Plan</b></td>
                                <td class=bgdy><b>{$order.rel_ets}</b></td>
                                <td class=bgdy><b>{$order.rel_etf}</b></td>
                                <td class=dgrn align="right"><b>{$dur3}&nbsp;</b></td>
                                <td class=gry9><b>ETS - ETF</b></td>
                            </tr>
                            <tr id="over" bgcolor=#eeeeee height=20 align=center> 
                                <td class=dgrn><b>Actual Production</b></td>
                                <td class=bgdy><b>{$order.out_ets}</b></td>
                                <td class=bgdy><b>{$order.out_etf}</b></td>
                                <td class=dgrn align="right"><b>{$dur4}&nbsp;</b></td>
                                <td class=gry9><b>ETS - ETF</b></td>
                            </tr>
                        </table>
                        <table width="100%" border=1 cellspacing=0 cellpadding=3 cols=1>
                            <tr bgcolor="#eeeeee"><td class=snvy align=center colspan=9 height=30><b>SCHEDULE INFORMATION - for Computer Plan</b></td></tr>
                            <tr bgcolor="#122B3F">
                                <td class=w9 align=center><b>LINE</b></td>
                                <td class=w9 align=center><b>Partial</b></td>
                                <td class=w9 align=center><b>ETS</b></td>
                                <td class=w9 align=center><b>ETF</b></td>
                                <td class=w9 align=center><b>DAY</b></td>
                                <td class=w9 align=center><b>ETD</b></td>
                                <td class=w9 align=center><b>QTY</b></td>
                                <td class=w9 align=center><b>Output</b></td>
                                <td class=w9 align=center><b>DES</b></td>
                            </tr>
                            {section name=SEC loop=$schedule} 	
                            <tr id="fty" index="{$smarty.section.SEC.index}" pre_ets="{$schedule[SEC].pre_ets}" pre_etf="{$schedule[SEC].pre_etf}" pre_day="{$schedule[SEC].pre_day}">
                                <td class=b10 align=center>
                                    <a href="javascript:ord_line('{$schedule[SEC].line_name}','{$today}','{$order.factory}')" value='order' style='cursor:pointer'>
                                    {$schedule[SEC].line_name}<small>({$schedule[SEC].worker}p)</small></a>	
                                </td>
                                <td class=b10 align=left id="td_mks_{$smarty.section.SEC.index}">{$schedule[SEC].mks}):{$schedule[SEC].remark}&nbsp;</td>
                                <td class=b10 align=center id="td_ets_{$smarty.section.SEC.index}">{$schedule[SEC].rel_ets}&nbsp;</td>
                                <td class=b10 align=center id="td_etf_{$smarty.section.SEC.index}">{$schedule[SEC].rel_etf}&nbsp;</td>
                                <td class=b10 align=center id="td_day_{$smarty.section.SEC.index}">{$schedule[SEC].day}&nbsp;</td>
                                <td class=b10 align=center bgcolor="#CCCCCC">{$schedule[SEC].etd}&nbsp;</td>
                                <td class=b10 align=right >{$schedule[SEC].qty|NUMBER_FORMAT}&nbsp;</td>
                                <td class=b10 align=right >{$schedule[SEC].pdt_qty|NUMBER_FORMAT}&nbsp;</td>
                                <td class=b10 align=center>{$schedule[SEC].des}&nbsp;</td>
                            </tr>	
                            {/section}
                            <tr bgcolor="#EEEEEE">
                                <td colspan=6 class=b10 align=right><b>Total：</b></td>
                                <td class=b10 align=right><b>{$ttl_qty|NUMBER_FORMAT}&nbsp;</b></td>
                                <td class=b10 align=right><b>{$ttl_pdt_qty|NUMBER_FORMAT}&nbsp;</b></td>
                                <td class=b10 align=center><b>&nbsp;</b></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr id="Desc" style="display:none;">
        <td valign="top" id="bar">
            <table width="780" border=1 cellspacing=0 cellpadding=2>
                <tr height=25><td colspan=6 align=center class=gry><b>CUSTOMER : <span class=sign><b>{$order.cust_iname}</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ETD : <span class=sign><b>{$order.etd}</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ORDER Q'TY : <span class=sign><b>{$order.qty|number_format}&nbsp;pcs</b></span></td></tr>
                <tr bgcolor="#0D4368" height=30> 
                    <td class=w9 align=center bgcolor=#122B3F>OUTPUT DATE</td>
                    <td class=w9 align=center bgcolor=#122B3F>Q'TY</td>
                    <td class=w9 align=center bgcolor=#122B3F>S.U.</td>
                    <td class=w9 align=center bgcolor=#122B3F>SUM-Q'TY</td>
                    <td class=w9 align=center bgcolor=#122B3F>SUM-S.U.</td>
                    <td class=w9 align=center bgcolor=#122B3F>FINISH %</td>
                </tr>
                {if $record_NONE}
                <tr bgcolor="#cccccc" height=45> 
                    <td class=bgdy align=center colspan=6>NONE OUT-PUT Records for this order !</td>
                </tr>
                {else}
                {section name=SEC loop=$order_out}
                <tr bgcolor="#ffffff" height=20> 
                    <td class=b9 align=center title="{$order_out[SEC].saw_line}"><b>{$order_out[SEC].k_date}</b></td>
                    <td class=b9 align=center><b>{$order_out[SEC].qty|number_format}</b></td>
                    <td class=b9 align=center><b>{$order_out[SEC].su|number_format}</b></td>
                    <td class=gry9 align=center><b>{$order_out[SEC].ttl_qty|number_format}</b></td>
                    <td class=gry9 align=center><b>{$order_out[SEC].ttl_su|number_format}</b></td>
                    <td class=sign align=right><b><i>{$order_out[SEC].f_rate|number_format:2} %</i></b></td>
                </tr>
                {/section}
                <tr bgcolor="#cccccc" height=25> 
                    <td class=bgdy align=center>Total out-put <br> 
                    {if $order_out.0.k_date < '2008-05-09'}
                    <a href="javascript:prd_out('{$order.order_num}')" style="cursor:pointer">										
                    {else}
                    <a href="javascript:ord_pic('{$order.order_num}')" value='order' style='cursor:pointer'>
                    {/if}
                    <b>Out-put curve</b></a>
                    </td>
                    <td class=dgrn align=center><b>{$order.finish_qty|number_format}</b></td>
                    <td class=dgrn align=center><b>{$order.finish_su|number_format}</b></td>
                    <td class=dgrn colspan=3 align=center><b>IN HOUSE:<span class='sign'> {$order.inhouse}</span> DAYS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>FINISH DATE:<span class='sign'> {$order.finish}</span></b></td>
                </tr>
                {/if}
            </table>
        </td>
    </tr>
</table>
<img src="{$main_pic}" name="ord_pic" id=ord_pic width=190 border="0" >
<!--------- footer ---------->
{include file="footer.html"}
