<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>===:::::::::: SCM SYSTEM ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<style type="text/css">

<!--
#l1 {
background: #696968;
opacity:0.9;
filter: alpha(opacity=95);
position:absolute;

height:300;
width:500;
z-index: 1000;
}

.l2{ 
    position: relative;
    }

-->

</style>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript"
        src="./js/build/yahoo/yahoo-min.js"></script>
<script type="text/javascript"
        src="./js/build/connection/connection-min.js"></script>
<script language="javascript" src="./js/col.js"></script>


<Script language="javascript">
function add_check(actions)
{
	if( actions == 'do_contractor_add'){
		if( window.document.forms['sch_add'].elements['PHP_qty'].value == '' ){
			alert('Please input Qty');
			return false;
		}
		if( window.document.forms['sch_add'].elements['PHP_ets'].value == '' ){
			alert('Please input ETS');
			return false;
		}
		if( window.document.forms['sch_add'].elements['PHP_etf'].value == '' ){
			alert('Please input ETF');
			return false;
		}
	}
	
	window.document.forms['sch_add'].elements['PHP_action'].value = actions;

}

function chg_month(chg)
{
	location.href="schedule.php?PHP_action=chg_month&PHP_chg="+chg+"&PHP_action_to=schedule_add";
}

function edit_schedule(p_id,line_id,id,ord_num,style,sch_qty,rem_qty,des,line)
{
	//ev =  window.event.clientY;
//	document.getElementById("l1").style.display='block';
	
	window.document.forms['line_edit'].elements['PHP_ord_num'].value = ord_num;
	window.document.forms['line_edit'].elements['PHP_line_id'].value = line_id;
	window.document.forms['line_edit'].elements['PHP_id'].value = id;
	window.document.forms['line_edit'].elements['ord_style'].value = style;
	window.document.forms['line_edit'].elements['sch_qty'].value = sch_qty;
	window.document.forms['line_edit'].elements['rem_qty'].value = rem_qty;
	window.document.forms['line_edit'].elements['PHP_des'].value = des;
	window.document.forms['line_edit'].elements['PHP_p_id'].value = p_id;
	window.document.forms['line_edit'].elements['PHP_lines'].value = line;

	sUrl="schedule.php?PHP_action=get_line_change&PHP_id="+line_id;
	transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, lineback, null);

}

var lineback = {
	success: function(o) {
		var response = o.responseText.split("|");    	
		document.getElementById("l1").style.visibility = "visible";
		document.getElementById("l1").style.left = document.body.scrollLeft + (document.body.offsetWidth / 2) - (document.getElementById("l1").offsetWidth / 2 ) + 'px';
		document.getElementById("l1").style.top = document.body.scrollTop + (document.body.offsetHeight / 2) - (document.getElementById("l1").offsetHeight / 2 )  + 'px';
		line_name.innerHTML = response[0]; 
		line_sp_name.innerHTML = response[1]; 
	},
	failure: function(o) {
		alert("Error：Can't get data");
	}
};

function close_frame()
{
	document.getElementById("l1").style.visibility = "hidden";
}

function edit_chg(actions)
{
	window.document.forms['line_edit'].elements['PHP_action'].value = actions;
}

//function del_schedule(id,ord_num,line)
function del_schedule(p_id,line_id,id,ord_num,style,qty,des,line)
{
//alert(ord_num);
    //alert(p_id+' '+line_id+' '+id+' '+ord_num+' '+style+' '+qty+' '+des+' '+line);
	if ( confirm("are you sure DELETE [ "+ord_num+" ] schedule on Line [ "+line+" ] ?")) {
		location.href="schedule.php?PHP_action=sch_del&PHP_id="+id+"&PHP_ord_num="+ord_num+"&PHP_line="+line;
	} 
}
function sch_ord_show(num,init)
{
	 var url ="schedule.php?PHP_action=sch_ord_view&PHP_ord_num="+num;
	 var nm = 'schedule_ord_'+init;

	window.open(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=700 top=50, left=100');
}



function get_ets(fty,r){
	var line = r.value;
	sUrl="schedule.php?PHP_action=get_ets_ajx&PHP_fty="+fty+"&PHP_line="+line+"&PHP_select_name=PHP_pt_ets&PHP_onChange=get_ets_add()";
	transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, callback, null);
	
}

function get_ets_add()
{
    $('#pt_ets').val($('#ets_add').find(":selected").text());
}


var callback = {
	success: function(o) {
		var response = o.responseText;
        //alert(response);
		ets_add.innerHTML = response; 
	},
	failure: function(o) {
		alert("Error：Can't get data");
	}
};

function get_chg_ets(fty,r){

	var line = r.value;
	sUrl="schedule.php?PHP_action=get_ets_ajx&PHP_fty="+fty+"&PHP_line="+line+"&PHP_select_name=PHP_pt_ets";
	transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, editback, null);	
}
var editback = {
	success: function(o) {

		var response = o.responseText;    	
//		alert(document.getElementById("ets_eidt"));
		document.getElementById("ets_eidt").innerHTML = response; 
	},
	failure: function(o) {
		alert("Error：Can't get data");
	}
};

function get_spl_ets(fty,r){
	var line = r.value;
		
	sUrl="schedule.php?PHP_action=get_ets_ajx&PHP_fty="+fty+"&PHP_line="+line+"&PHP_select_name=PHP_pt_sp_ets";
	transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, spback, null);	
}
var spback = {
	success: function(o) {

		var response = o.responseText;    	
//		alert(document.getElementById("sp_eidt"));
		document.getElementById("ets_sp").innerHTML = response; 
	},
	failure: function(o) {
		alert("Error：Can't get data");
	}
};

function small_show(fty,yy,mm)
{
	var url ="schedule.php?PHP_action=schedule_view_small&SCH_fty="+fty+"&SCH_yy="+yy+"&SCH_mm="+mm;
  var nm = 'schedule_small';
	window.open(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=1000,height=700 top=50, left=100');

}

function ord_line(line,date,fty) {
	 var url ="monitor.php?PHP_action=saw_line_pic&PHP_line="+line+"&PHP_date="+date+"&PHP_fty="+fty;
	 var nm = 'line';
	window.open(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=600 top=50, left=100');
}

function RePos()	{
    document.getElementById("hh").style.Width = document.body.offsetWidth - 36;
    document.getElementById("md").style.Width = document.body.offsetWidth - 60;
}
</script>
{/literal}
</head>
<body OnLoad="RePos()" OnResize="RePos()">

<div id=l1 style="position:absolute; z-index:1; visibility:hidden;">
<form method=POST name=line_edit>
<table width="550" height="100%" bordercolor="#696968" id="l2" >
    <tr>
        <td align=right>
            <a href="javascript:close_frame()" style='cursor:pointer'>
            <img src='./images/del.gif' border=0 ALT="CLOSE"></a>
        </td>
    </tr>
    <tr>
        <td align="center" valign="middle">
            <table border=0 cellspacing=0 cellpadding=2 width=500 align=center valign="middle" bgcolor=#333333>
                <tr>
                    <td class="snvy" align="left" colspan=4>&nbsp;	 </td>
                </tr>
                <tr height=28 >
                    <td class=ylw10 align=center colspan=4><b>&nbsp;SCHEDULE EDIT&nbsp;</b></td>
                </tr>
                <tr>
                    <td class=gry9 align="left" colspan=4>
                        <b> Line : </b> <input type=text name="PHP_lines" size=4 value="1" readonly >&nbsp;
                        <b> ORDER# : </b> <input type=text name="PHP_ord_num" size=10 value="" readonly >&nbsp;
                        <input type=hidden name="PHP_p_id" value="">
                        <b> STYLE : </b> <input type=text name="ord_style" size=5 value="" readonly >&nbsp;
                    </td>
                </tr>
                <tr>
                    <td class=gry9 align="left" colspan=4>
                        <b>Schedule Q'TY : </b> <input type=text name="sch_qty" size=5 value="" readonly >&nbsp;
                        <b>Rem Q'TY : </b> <input type=text name="rem_qty" size=5 value="" readonly >&nbsp;
                    </td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td class=gry9 align="left" colspan=5>	   		   
                        <b> DES : </b><input type=text name="PHP_des" size=55 value="" class=select>
                    </td>	    
                </tr>	  
                <tr>
                    <td class="snvy" align="left" colspan=5><hr SIZE=2 WIDTH=99%>	 </td>
                </tr>
                <!--
                <tr height=28>
                    <td class=gry9 align=right width=70>	   	
                        <b> Change to :  &nbsp;</b>
                    </td>	  	
                    <td class=gry9 align="left" >	   	
                        <div id='line_name'>{$line_change}</div>
                    </td>
                    <td class=gry9 align="left" colspan=2>	   		   
                        <div id='ets_eidt'><b> ETS : </b>----</div>
                    </td>	   
                    <td class=gry9 align=center>       
                        <input type=submit value="OK" class=select_e style="cursor:pointer; width=90%;" onclick=edit_chg('sch_line_change') >
                    </td>	    
                </tr>	 
                <tr>
                    <td class="snvy" align=center colspan=5><hr SIZE=1 WIDTH=99%>	 </td>
                </tr>	  
                <tr height=28>
                    <td class=gry9 align=right width=70>	   	
                        <b> Share to :  &nbsp;	</b>
                    </td>	
                    <td class=gry9 align="left" width=100>	   	
                        <div id='line_sp_name'>{$line_sp}</div>
                    </td>	  	
                    <td class=gry9 align="left">	   		   
                        <div id='ets_sp'><b> ETS : </b>----</div>
                    </td>	   
                    <td class=gry9 align="left" width=150>
                        Q'TY : <input type=text name="PHP_sp_qty" size=5 class=select value=""> 
                    </td>	   
                    <td class=gry9 align=center>       
                        <input type=submit value="OK" class=select_e style="cursor:pointer; width=90%;" onclick=edit_chg('sch_line_spare') >
                    </td>	    
                </tr>	
                <tr>
                    <td class="snvy" align=center colspan=5><hr SIZE=1 WIDTH=99%>	 </td>
                </tr>-->
                <tr height=28>
                    <td class=gry9 align=right width=70>	   	
                        <b> DELETE :  &nbsp;	</b>
                    </td>	
                    <td class=gry9 align="left" colspan=3>
                        Q'TY : <input type=text name="PHP_del_qty" size=5 class=select value=""> 
                    </td>	   
                    <td class=gry9 align=center>       
                        <input type=submit value="OK" class=select_e style="cursor:pointer; width=90%;" onclick=edit_chg('sch_del') >
                    </td>	    
                </tr>	  
                <tr>
                    <td class="snvy" align="left" colspan=4>&nbsp;	 </td>
                </tr>		   
                <input type="hidden" name="PHP_action" value=""> 
                <input type="hidden" name="PHP_line_id" value="">	
                <input type="hidden" name="PHP_id" value="">	
            </table>
        </td>
    </tr>
</table>
</div>
</form>
<table cellspacing=1 cellpadding=4 cols=1 width=990 bgcolor=#003300>
	<tr>
		<td class="ylw10" align="left" width=120 height=28><b>FTY : {$fty}</b> </td>
		<td class="ylw10" align=center width=600 height=28><b>Schedule APPEND</b> </td>
		<td class="ylw10" align=right width=120 height=28><!--<input type=button value="aerial view" class=select_e style="cursor:pointer; width=70%"  onclick=small_show('{$fty}','{$yy}','{$mm}')>-->&nbsp;</td>		

	</tr>
</table>
<table border=1 cellpadding=4 cellspacing=0 cols=1 width=990 id='tbl_msg' {if $msg_YES} style="display : block" {else}style="display : none"{/if}>
	<tr bgcolor=#ffffff> 
		<td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
		<td class=bgdy><div id='msg1'>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</div></td>
	</tr>
</table>

<table border=0 cellspacing=0 cellpadding=3 width="990" bgcolor=#FFFFFF>
    <form METHOD="POST" name="sch_add" action="{$PHP_SELF}">
	<tr>
		<td>
			<table border=0 cellspacing=3 cellpadding=0 width="100%">
				<tr>
					<td class="snvy" align="left" colspan=6 nowrap><b>ORDER : {$ord_select}</b></td>
                    <td class="snvy" align="left" colspan=5>
					{if $admin_flag}
					<input type=submit value="AUTO in Line Schedule" class=select_e style="cursor:pointer; width=100%"  onclick=add_check("do_sch_add")>
					{/if}
                    </td>
				</tr>	
				<tr>
					<td class="snvy" align="left" colspan=11><hr SIZE=1 WIDTH=99%></td>
				</tr>					
				<tr>
					<td class="snvy" align="right" nowrap><b>IN HOUSE QTY : </b></td>
                    <td class="snvy" align="left"><input type=text name="PHP_sp_qty" size=10 class=select value=""></td>
					<td class="snvy" align="right" nowrap><b>  Line : </b></td>
                    <td class="snvy" align="left">{$line_select}</td>
					<td class="snvy" align="right" nowrap><b>ETS : </b></td>
					<td class="snvy" align="left" nowrap><span id='ets_add'>-----------------</span><input type="hidden" id="pt_ets" name="PHP_pt_ets" size=20 class=select value=""></td>
                    <td class="snvy" align="right"></td>
                    <td class="snvy" align="right"></td>
					<td class="snvy" align="right" nowrap><b>REMARK : </b></td>
                    <td class="snvy" align="left"><input type=text name="PHP_des" size=20 class=select value=""></td>
					<td class="snvy" align="left" width=150><input type=submit value="ADD in Line" class=select_e style="cursor:pointer; width=99%" onclick=add_check("do_sch_point")> </td>
				</tr>
				<tr>
					<td class="snvy" align="left" colspan=11><hr SIZE=1 WIDTH=99%></td>
				</tr>
				<tr>
					<td class="snvy" align="right" nowrap><b>CONTRACTOR QTY : </b></td>
                    <td class="snvy" align="left"><input type=text name="PHP_qty" size=10 class=select value="">{$ct_select}</td>
                    <td class="snvy" align="right"></td>
                    <td class="snvy" align="right"></td>
					<td class="snvy" align="right" nowrap><b>ETS : </b></td>
					<td class="snvy" align="left"><input type=text name="PHP_ets" size=10 class=select value=""> <img align='top' onmousedown="javascript:Cal(document.sch_add.PHP_ets,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand'></td>
					<td class="snvy" align="right" nowrap><b>ETF : </b></td>
                    <td class="snvy" align="left"><input type=text name="PHP_etf" size=10 class=select value=""> <img align='top' onmousedown="javascript:Cal(document.sch_add.PHP_etf,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand'></td>
					<td class="snvy" align="right" nowrap><b>REMARK : </b></td>
                    <td class="snvy" align="left"><input type=text name="PHP_con_des" size=20 class=select value=""></td>
					<td class="snvy" align="left" width=150><input type=submit value="ADD Contractor" class=select_e style="cursor:pointer; width=99%"  onclick='return add_check("do_contractor_add")'></td>
				</tr>
                <input type=hidden name="PHP_action" value="">
			</table>
		</td>
    </tr>
    </form>
</table>


<div id="hh" style="overflow:hidden;width:1400px;">	
<table border="0" cellspacing=0 cellpadding=0>	
	<tr>
		<td width=42 valign="top">
			<table border="1" cellspacing=0 cellpadding=2 width=42>	
				<tr bgcolor="#003333" height=28>
<!--		<td class=back align="center" colspan=5><input type=button value="<< Pre. Month" class=select_e style="cursor:pointer; width=95%"  onclick=chg_month('-1')></td> -->
					<td width="28" class=back align="center">&nbsp</td>
<!--		<td class=back align="center" colspan=6><input type=button value="Next Month >>" class=select_e style="cursor:pointer; width=95%"  onclick=chg_month(1)></td>	 -->
				</tr>
				<tr bgcolor="#003333" height=28>
					<td class=back align="center"><b>LN.</b></td>
				</tr>
				{section name=SEC loop=$ln_rec} 
				<tr height=20>
					<td class="snvy" align="center">
						<a href="javascript:ord_line('{$ln_rec[SEC].line}','{$today}','{$fty}')" value='order' style='cursor:pointer'>
						<b>{$ln_rec[SEC].line}</b> {if $ln_rec[SEC].style == 'top'}(T){/if}{if $ln_rec[SEC].style == 'btm.'}(B){/if}
						</a>					
					</td>					
				</tr>	
				{/section}

				{section name=SEC loop=$con_rec} 
				<tr height=20>
					<td class="snvy" align="center"><b>SC.</b></td>					
				</tr>	
				{/section}	
			</table>
		</td>
		
		
		<td width=28 valign="top">
			<div id="md" style="overflow: scroll;width:1400px;">
			<table border="1" cellspacing=0 cellpadding=2 id="mat_table">	
				<tr bgcolor="#003333" height=28>
					{section name=SEC loop=$yy_mm} 
					<td  class=back align="center" colspan='{$span_mm[SEC]}'><b>{$yy_mm[SEC]}</b></td>
					{/section}
				</tr>
				<tr bgcolor="#003333" height=28>
					{section name=SEC loop=$days} 
					<td class=back align="center"><b>{$days[SEC]}</b></td>
					{/section}
				</tr>
				{section name=SEC loop=$ln_rec} 
				<tr height=20>
					{section name=DET loop=$ln_rec[SEC].sch_rec} 
					<td nowrap class="snvy" align="center" colspan={$ln_rec[SEC].sch_rec[DET].day_range} bgcolor="{$ln_rec[SEC].sch_rec[DET].flag_color}"  title="ETD : {$ln_rec[SEC].sch_rec[DET].etd}">		
						{if $ln_rec[SEC].sch_rec[DET].flag == 7}<B><I>{/if}
						{if $ln_rec[SEC].sch_rec[DET].flag > 0 && $ln_rec[SEC].sch_rec[DET].flag <> 11}
							<a href="javascript:edit_schedule({$ln_rec[SEC].sch_rec[DET].p_id},{$ln_rec[SEC].sch_rec[DET].line_id},{$ln_rec[SEC].sch_rec[DET].id},'{$ln_rec[SEC].sch_rec[DET].ord_num}','{$ln_rec[SEC].sch_rec[DET].style}','{$ln_rec[SEC].sch_rec[DET].sch_qty}','{$ln_rec[SEC].sch_rec[DET].rem_qty}','{$ln_rec[SEC].sch_rec[DET].des}','{$ln_rec[SEC].line}')" style='cursor:pointer'>
	  					<img src="./images/Add.gif" height="13" width="13" align="right" border=0 ALT="EDIT"></a>
							<!--
								<a href="javascript:del_schedule({$ln_rec[SEC].sch_rec[DET].id},'{$ln_rec[SEC].sch_rec[DET].ord_num}','{$ln_rec[SEC].line}')" style='cursor:pointer'>
								<img src='./images/del.gif' align=right border=0 ALT="DEL"></a>				
							-->
						{/if}
								
						{if $ln_rec[SEC].sch_rec[DET].ord_num}
							<a href="javascript:sch_ord_show('{$ln_rec[SEC].sch_rec[DET].ord_num}','{$ln_rec[SEC].sch_rec[DET].ord_init}')" style='cursor:pointer'>
	  						{$ln_rec[SEC].sch_rec[DET].ord_num}{if $ln_rec[SEC].sch_rec[DET].partial_num > 1}{$ln_rec[SEC].sch_rec[DET].mks}{/if}</a> ({$ln_rec[SEC].sch_rec[DET].style})
							
						{/if}
					  {if $ln_rec[SEC].sch_rec[DET].flag == 7}</B></I>{/if}
					</td>
					{sectionelse}
					<td class="snvy">&nbsp;</td>
					{/section}
				</tr>	
				{/section}

				{section name=SEC loop=$con_rec} 
				<tr height=20>					
					{section name=DET loop=$con_rec[SEC].sch_rec} 
					<td  nowrap class="snvy" align="center" colspan={$con_rec[SEC].sch_rec[DET].day_range} bgcolor="{$con_rec[SEC].sch_rec[DET].flag_color}"}>	
						{if $con_rec[SEC].sch_rec[DET].flag == 7}<B><I>{/if}
						{if $con_rec[SEC].sch_rec[DET].flag > 0 && $con_rec[SEC].sch_rec[DET].flag <> 11}
							<!--
								<a href="javascript:edit_schedule({$ln_rec[SEC].sch_rec[DET].line_id},{$ln_rec[SEC].sch_rec[DET].id},'{$ln_rec[SEC].sch_rec[DET].ord_num}')" style='cursor:pointer'>
	  						<img src="./images/Add.gif" align="right" border=0 ALT="EDIT"></a>
							-->
							<!-- <a href="javascript:del_schedule({$con_rec[SEC].sch_rec[DET].id},'{$con_rec[SEC].sch_rec[DET].ord_num}','{$con_rec[SEC].line}')" style='cursor:pointer'> -->
							<a href="javascript:edit_schedule('{$con_rec[SEC].sch_rec[DET].p_id}','{$con_rec[SEC].sch_rec[DET].line_id}','{$con_rec[SEC].sch_rec[DET].id}','{$con_rec[SEC].sch_rec[DET].ord_num}','{$con_rec[SEC].sch_rec[DET].style}','{$con_rec[SEC].sch_rec[DET].rem_qty}','{$con_rec[SEC].sch_rec[DET].des}','{$con_rec[SEC].line}')" style='cursor:pointer'>
							<img src="./images/del.gif" height="13" width="13" align="right" border=0 ALT="DEL"></a>				
						{/if}

						{if $con_rec[SEC].sch_rec[DET].ord_num}
							<a href="javascript:sch_ord_show('{$con_rec[SEC].sch_rec[DET].ord_num}','{$con_rec[SEC].sch_rec[DET].ord_init}')" style='cursor:pointer' TITLE="ETD：{$con_rec[SEC].sch_rec[DET].etd}">
								{$con_rec[SEC].sch_rec[DET].ord_num}{if $con_rec[SEC].sch_rec[DET].partial_num > 1}{$con_rec[SEC].sch_rec[DET].mks}{/if}</a>
							({$con_rec[SEC].sch_rec[DET].style})
						{/if}
					  {if $con_rec[SEC].sch_rec[DET].flag == 7}</B></I>{/if}
					</td>
					{/section}
				</tr>	
				{/section}	
			</table>
			</div>
		</td>			
	</tr>	
</table>
</div>

<hr SIZE=2 WIDTH=990>
<table border="1" cellspacing=0 cellpadding=2 width=990>	
	<tr>
		<td align="center" bgcolor=#A36ED4>&nbsp;</td>		
		<td class="snvy" align="left" > : 無BOM</td>		
		<td align="center" bgcolor=#FE00B9>&nbsp;</td>		
		<td class="snvy" align="left"> : 主料未到齊</td>		
		<td class="snvy" align="left" colspan=4> : <B><I>{literal}樣本未確認{/literal}  (粗斜體)</I></B></td>
		<td align="center" bgcolor=#FFC5F3>&nbsp;</td>		
		<td class="snvy" align="left"> : 副料未到齊</td>
	</tr>		
    <tr>
		<td align="center" bgcolor=#D7D7FF>&nbsp;</td>		
		<td class="snvy" align="left"> : ORDER FINISHED</td>
		<td align="center" bgcolor=#FD1838>&nbsp;</td>		
		<td class="snvy" align="left"> : 排產ETF超過出口日</td>
		<td align="center" bgcolor=#D0FDCD>&nbsp;</td>		
		<td class="snvy" align="left"> : 生產中</td>
		<td align="center" bgcolor=#96DDA3>&nbsp;</td>		
		<td class="snvy" align="left"> : 生產中,超過出口日</td>
		<td align="center" bgcolor=#F8FF84>&nbsp;</td>		
		<td class="snvy" align="left"> : 訂單與生產線不同style</td>		
	</tr>	
</table>

<hr SIZE=2 WIDTH=990>
<!-- 
<table border=0 cellspacing=0 cellpadding=0 cols=2 width=990>
    <form METHOD="POST" name="sch_view" action="{$PHP_SELF}">	
	<tr>
		<td width=990>
			<input type=submit value="[ Submit above records ]" class=select_e style="cursor:pointer; width=99%"  >
		</td>
	</tr>
    <input type=hidden name="PHP_action" value="schedule_view">
    </form>
</table> -->
<!--------- footer ---------->
{include file="footer.html"}