{include file="header.html"}
<table cellspacing="0" cellpadding="0" cols="0" width="100%">
    <tr>
        <td class="subtitle">Schedule</td>
    </tr>
    <tr>
        <td class="space"></td>
    </tr>
    <tr>
        <td class="subInputName">
            <form METHOD="POST" id="schedule_append_edit" name="schedule_append_edit">
            <input type="hidden" id="PHP_action" name="PHP_action" value="schedule_append_edit">
            <table class="table_bady" border="0" cellspacing="0" cellpadding="0" cols="1">
                <tr>
                    <td class="item_title"> 
                        <table cellspacing="0" cellpadding="0" cols="0">
                            <tr>
                                <td class="bar_t_l"></td>
                                <td class="bar_t_m"></td>
                                <td class="bar_t_r"></td>
                            </tr>
                            <tr>
                                <td class="bar_m_l"></td>
                                <td class="bar_m_m"> APPEND / EDIT </td>
                                <td class="bar_m_r"></td>
                            </tr>
                            <tr>
                                <td class="bar_b_l"></td>
                                <td class="bar_b_m"></td>
                                <td class="bar_b_r"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="space"></td>
                </tr>
                <tr>
                    <td class="item_list">Factory : {$fty_select}</td>
                </tr>
                <tr>
                    <td class="space"></td>
                </tr>
                <tr>
                    <td><input class="submit_ajax" type="Submit" id="schedule_append_edit" style="width:150px;" name="Submit" value="APPEND & EDIT"></td>
                </tr>
            </table>
            </form>
        </td>
    </tr>
    <tr>
        <td class="space_9"></td>
    </tr>
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0" cols="0" class="space_line">
                <tr>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="space"></td>
    </tr>
    <tr>
        <td class="subInputName">
            <form METHOD="POST" id="schedule_view" name="schedule_view">
            <input type="hidden" id="PHP_action" name="PHP_action" value="schedule_view">
            <table class="table_bady" border="0" cellspacing="0" cellpadding="0" cols="1">
                <tr>
                    <td class="item_title">
                        <table cellspacing="0" cellpadding="0" cols="0">
                            <tr>
                                <td class="bar_t_l"></td>
                                <td class="bar_t_m"></td>
                                <td class="bar_t_r"></td>
                            </tr>
                            <tr>
                                <td class="bar_m_l"></td>
                                <td class="bar_m_m"> SEARCH / VIEW </td>
                                <td class="bar_m_r"></td>
                            </tr>
                            <tr>
                                <td class="bar_b_l"></td>
                                <td class="bar_b_m"></td>
                                <td class="bar_b_r"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="space"></td>
                </tr>
                <tr>
                    <td class="item_list">Factory : {$fty_select}</td>
                </tr>
                <tr>
                    <td class="space"></td>
                </tr>
                <tr>
                    <td class="item_list">
                        Date : <font size="2" style="cursor:pointer;font-weight:bold;" id="calendar-trigger" color="blue">{$pt_date}</font>
                        <input type="hidden" id="calendar-inputField" name="PHP_pt_date" size="8" value="{$pt_date}" />
                    </td>
                </tr>
                <tr>
                    <td class="space"></td>
                </tr>
                <tr>
                    <td class="note_msg">
                        ¡° 1: search / view order schedule; please use combo selection or/and key field.<br>
                        ¡° 2: if entire schedule ; keep fields in blank and just click [ SEARCH / VIEW SCHEDULE ] button.
                    </td>
                </tr>
                <tr>
                    <td class="space"></td>
                </tr>
                <tr>
                    <td><input class="submit_ajax" type="Submit" id="schedule_view" style="width:150px;" name="Submit" value="SEARCH"></td>
                </tr>
            </table>
            </form>
        </td>
    </tr>
    <tr>
        <td class="space_9"></td>
    </tr>
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0" cols="0" class="space_line">
                <tr>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="space"></td>
    </tr>
    <tr>
        <td class="subInputName">
            <form METHOD="POST" id="schedule_un_finish" name="schedule_un_finish">
            <input type="hidden" id="PHP_action" name="PHP_action" value="schedule_un_finish">
            <table class="table_bady" border="0" cellspacing="0" cellpadding="0" cols="1">
                <tr>
                    <td class="item_title"> 
                        <table cellspacing="0" cellpadding="0" cols="0">
                            <tr>
                                <td class="bar_t_l"></td>
                                <td class="bar_t_m"></td>
                                <td class="bar_t_r"></td>
                            </tr>
                            <tr>
                                <td class="bar_m_l"></td>
                                <td class="bar_m_m"> SEARCH / LISTING UN-FINIS </td>
                                <td class="bar_m_r"></td>
                            </tr>
                            <tr>
                                <td class="bar_b_l"></td>
                                <td class="bar_b_m"></td>
                                <td class="bar_b_r"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="space"></td>
                </tr>
                <tr>
                    <td class="item_list">Factory : {$fty_select}</td>
                </tr>
                <tr>
                    <td class="space"></td>
                </tr>
                <tr>
                    <td><input class="submit_ajax" type="Submit" id="schedule_un_finish" style="width:150px;" name="Submit" value="SEARCH"></td>
                </tr>
            </table>
            </form>
        </td>
    </tr>
    <tr>
        <td class="space_9"></td>
    </tr>
</table>
{literal}
<script type="text/javascript">
    cal = Calendar.setup({
        weekNumbers : false,
        trigger     : "calendar-trigger",
        inputField  : "calendar-inputField",
        date        : {/literal}{$pt_dates}{literal} ,
        selection   : {/literal}{$pt_dates}{literal} ,
        showTime    : false,
        onSelect: function() {
            $('#calendar-trigger').html($('#calendar-inputField').val());
            cal.hide();
        }
    });
</script>
{/literal}
{include file="footer.html"}
