<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>==== ::::::::::  CAPACITY LISTING :::::::::: ====</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">


</script>
{/literal}
</head>
<body bgcolor="#003C77" topmargin=10><form>
<br><br><form METHOD="POST" name="capacity">

 <table width=800 border=1 cellspacing=0 cellpadding=2>
  <tr>
  <td colspan=2 align=center class=gry><b> YAER : {$year}</b></td>	
	<td colspan=9 align=center class=gry><b> +++++++++ ASSIGN NEW FORECAST+++++++++&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class=bgdy9>unit: S.U.</span></b></td>
  <td colspan=2 align=center class=gry><b> DEPT : {$dept}</b></td>	
  </tr>
{if $msg_YES}
 <tr><td colspan=13>
     <table border=0 cellpadding=2 cellspacing=0 width=600 align=center>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
 </td></tr>
{/if}
  <tr bgcolor="#0D4368"> 
    <td class=b9 width=100 align=center bgcolor=#ffffff><b>&nbsp;</b></td>
    <td class=w9 width=60 align=center>JAN</td>
    <td class=w9 width=60 align=center>FEB</td>
    <td class=w9 width=60 align=center>MAR</td>
    <td class=w9 width=60 align=center>APR</td>
    <td class=w9 width=60 align=center>MAY</td>
    <td class=w9 width=60 align=center>JUN</td>
    <td class=w9 width=60 align=center>JUL</td>
    <td class=w9 width=60 align=center>AUG</td>
    <td class=w9 width=60 align=center>SEP</td>
    <td class=w9 width=60 align=center>OCT</td>
    <td class=w9 width=60 align=center>NOV</td>
    <td class=w9 width=60 align=center>DEC</td>
  </tr>
  <tr bgcolor="#CCCCCC"> 
    <td class=b9 width=100 align=center bgcolor=#dddddd><b>Q'TY&nbsp;</b></td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_qty_m01" size=4 value="{$c1.1}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_qty_m02" size=4 value="{$c1.2}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_qty_m03" size=4 value="{$c1.3}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_qty_m04" size=4 value="{$c1.4}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_qty_m05" size=4 value="{$c1.5}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_qty_m06" size=4 value="{$c1.6}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_qty_m07" size=4 value="{$c1.7}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_qty_m08" size=4 value="{$c1.8}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_qty_m09" size=4 value="{$c1.9}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_qty_m10" size=4 value="{$c1.10}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_qty_m11" size=4 value="{$c1.11}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_qty_m12" size=4 value="{$c1.12}" class=select style='text-align:center'>&nbsp;</td>
  </tr>
  <tr bgcolor="#CCCCCC"> 
    <td class=b9 width=100 align=center bgcolor=#dddddd><b>FOB&nbsp;</b></td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_fob_m01" size=4 value="{$c1.1}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_fob_m02" size=4 value="{$c1.2}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_fob_m03" size=4 value="{$c1.3}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_fob_m04" size=4 value="{$c1.4}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_fob_m05" size=4 value="{$c1.5}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_fob_m06" size=4 value="{$c1.6}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_fob_m07" size=4 value="{$c1.7}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_fob_m08" size=4 value="{$c1.8}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_fob_m09" size=4 value="{$c1.9}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_fob_m10" size=4 value="{$c1.10}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_fob_m11" size=4 value="{$c1.11}" class=select style='text-align:center'>&nbsp;</td>
    <td class=b9 width=60 align=right>
		<input type='text' name="PHP_fob_m12" size=4 value="{$c1.12}" class=select style='text-align:center'>&nbsp;</td>
  </tr>

</table>
<br><br><br>

    <table border=0 cellspacing=0 cellpadding=0 cols=2 width=700>
      <tr> 
        <td class=gry9>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			# be sure key-in all the fields above are only numeric acceptable; not any [ , ], [ . ] or even [space]  !
        </td>
      <tr> 
        <td align=center>
			<input type="hidden" name="PHP_action" value="do_capacity_add">
			<input type="hidden" name="PHP_fty" value="{$fty}">
			<input type="hidden" name="PHP_year1" value="{$year1}">
			<input type="hidden" name="PHP_year2" value="{$year2}">
			<input type="hidden" name="PHP_year3" value="{$year3}">
			<input type=submit value="[ ADD new CAPACITY record ]" class=select_e style="cursor:pointer; width=100%"></form>
        </td>
	  </tr>
    </table>


<!--------- footer ---------->
{include file="footer.html"}
