<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM -B [ ORDER RECORD ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">

</head>
<body>

<br>
<table cellspacing=1 cellpadding=4 cols=1 width=840 bgcolor=#333333>
	<tr>
	  <td class="des" align=center width=250><b> INVOICE EDIT </b></td>
	</tr>
</table>
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=840 id='tbl_msg' {if $msg_YES} style="display : block" {else}style="display : none"{/if}>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy><div id='msg1'>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</div></td>
        
      </tr>
     </table>
<br>    
<table border=0 cellspacing=1 cellpadding=1 width=600 bgcolor=#FFFFFF> 	
 	<tr>	
    <td class=snvy align=center  colspan=2 height=30><b>Shipping document detial is group by order?</b></td>
  </tr>
  <tr>
  	<form method=POST name=edit_yes> 
  	<td class=snvy align=center width=300><input type=submit class=select_e value='YES' style="cursor:pointer; width=50%" ></td>  	
		<input type=hidden class=select name='PHP_id' value='{$id}'>
		<input type=hidden class=select name='PHP_action' value='shipdoc_i_edit'>
		</form>
  	<form method=POST name=edit_no width=300> 
  	<td class=snvy align=center><input type=submit class=select_e value='NO' style="cursor:pointer; width=50%" ></td>  	
		<input type=hidden class=select name='PHP_id' value='{$id}'>
		<input type=hidden class=select name='PHP_action' value='shipdoc_i_m_edit'>
		</form>
  </tr>
</table>

<!--------- footer ---------->
{include file="footer.html"}
