<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM -B [ ORDER RECORD ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/col.js"></script>        

<script type="text/javascript"
        src="./js/build/yahoo/yahoo-min.js"></script>
<script type="text/javascript"
        src="./js/build/connection/connection-min.js"></script>


<Script language="javascript"> 
	var transaction;
  var sUrl;

  var addback = {
    success: function(o) {
		document.getElementById("tbl_msg").style.display='block';    
    	var response = o.responseText.split("|");

		msg1.innerText  = response[0]; 

 		r=charge_table.insertRow();
		r.insertCell().innerHTML	= "<P align=center>"+response[1]+"</P>";
		r.insertCell().innerHTML	= "<P align=center>"+response[2]+"</P>";
		r.insertCell().innerHTML	= "<P align=center>"+response[3]+"</P>";
	  

    },
    failure: function(o) {
      alert("Error：Can't get data");
    }
  };
  
  var editback = {
    success: function(o) {
			document.getElementById("tbl_msg").style.display='block';    
   		var response = o.responseText.split("|");
			msg1.innerText  = response[0]; 
    },
    failure: function(o) {
      alert("Error：Can't get data");
    }
  };  
</script>

<Script language="javascript"> 
function add_consignee(cust,dept)
{
	var url ='consignee.php?PHP_action=consignee_add_sub&PHP_cust='+cust+'&PHP_dept='+dept; 	
	var nm = 'consignee';
	window.open(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=700,height=500 top=50, left=100');
}

function writeToConsignee(s_name)
{
	window.document.forms['add_main'].elements['PHP_consignee2'].value = s_name;
}

function add_charge(id)
{
	var charge = window.document.forms['add_main'].elements['PHP_charge'].value;
	var des = window.document.forms['add_main'].elements['PHP_chg_des'].value;

 	  sUrl = "shipdoc.php?PHP_action=ship_charge_add&PHP_id="+id+"&PHP_charge="+charge+"&PHP_chg_des="+des;
    transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, addback, null);
}

function edit_charge(id)
{
	var charge = window.document.forms['add_main'].elements['PHP_up_chg_'+id].value;
	var des = window.document.forms['add_main'].elements['PHP_up_des_'+id].value;

 	  sUrl = "shipdoc.php?PHP_action=ship_charge_edit&PHP_id="+id+"&PHP_charge="+charge+"&PHP_chg_des="+des;
    transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, editback, null);
}

function del_ajx(id,r)
{
	if ( confirm("Are you sure delete this charge item?")) {

	  var i=r.parentNode.parentNode.rowIndex;
	  document.getElementById('charge_table').deleteRow(i);	  
 	  sUrl = "shipdoc.php?PHP_action=ship_charge_del&PHP_id="+id;
    transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, editback, null);
	  

	}
}
</script>
{/literal}

</head>
<body>

<br>
<table cellspacing=1 cellpadding=4 cols=1 width=840 bgcolor=#333333>
	<tr>
	  <td class="des" align=center width=250><b> UN-CONFIRM SHIPPING DOCUMENT EDIT </b></td>
	</tr>
</table>
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=840 id='tbl_msg' {if $msg_YES} style="display : block" {else}style="display : none"{/if}>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy><div id='msg1'>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</div></td>
        
      </tr>
     </table>
<br>    
<form method=POST name=add_main> 
  <table border=0 cellspacing=1 cellpadding=1 width=840 bgcolor=#FFFFFF> 	
 	<tr>	
    <td width=80 class=snvy align=right  nowrap><b>Invoice# :</b></td>
    <td width=160 class=bgdy align=left bgcolor=#dddddd><input type='text' name="PHP_inv_num" size=15 value="{$shp.inv_num}" class=select></td> 
    <td width=80  class=snvy align=right  nowrap><b>SHIP Date : </b>
		</td>
    <td width=150  class=bgdy align=left bgcolor=#dddddd >
    	<input type='text' name="PHP_ship_date" size=10 value="{$shp.ship_date}" class=select>
    	<img align='top' onMouseDown="javascript:Cal(document.add_main.PHP_ship_date,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16" style='cursor:hand'>    
    </td>   

    <td width=115 class=snvy align=right  nowrap><b>Cust. :</b></td>
    <td width=115 class=bgdy align=left bgcolor=#dddddd>{$shp.ord_cust}</td> 
    <td width=40 class=snvy align=right  nowrap><b>FTY : </b></td>
    <td width=110 class=bgdy align=left bgcolor=#dddddd >{$shp.fty}</td>   
 </tr>   
 	<tr>	
    <td class=snvy align=right  nowrap><b>SHIP TERM :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><input type='text' name="PHP_ship_term" size=15 value="{$shp.ship_term}" class=select></td> 
    <td class=snvy align=right ><b>SHIP VIA : </b></td>
    <td class=bgdy align=left bgcolor=#dddddd><input type='text' name="PHP_ship_via" size=15 value="{$shp.ship_via}" class=select></td>   
    <td class=snvy align=right nowrap><b>SHIP BY : </b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3><input type='text' name="PHP_ship_by" size=50 value="{$shp.ship_by}" class=select></td>

	</tr>
    <td class=snvy align=right nowrap><b>FROM : </b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3><input type='text' name="PHP_ship_from" size=47 value="{$shp.ship_from}" class=select></td>
    <td class=snvy align=right nowrap><b>TO : </b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3><input type='text' name="PHP_ship_to" size=50 value="{$shp.ship_to}" class=select></td>
 </tr> 

 	<tr>	
    <td class=snvy align=right  nowrap><b>Payment :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><input type='text' name="PHP_payment" size=15 value="{$shp.payment}" class=select></td> 
    <td class=snvy align=right  nowrap><b>Marks No :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><input type='text' name="PHP_mark_no" size=15 value="{$shp.mark_no}" class=select></td> 
    <td class=snvy align=right  nowrap><b>Descript :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3><input type='text' name="PHP_des" size=50 value="{$shp.des}" class=select></td> 
 </tr> 
 	<tr>	
    <td class=snvy align=right  nowrap><b>FV :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3><input type='text' name="PHP_fv" size=57 value="{$shp.fv}" class=select></td> 
    <td class=snvy align=right  nowrap><b>ETD </b></td>
    <td class=bgdy align=left bgcolor=#dddddd><input type='text' name="PHP_fv_etd" size=15 value="{$shp.fv_etd}" class=select></td> 
    <td class=snvy align=right  nowrap><b>ETA </b></td>
    <td class=bgdy align=left bgcolor=#dddddd ><input type='text' name="PHP_fv_eta" size=13 value="{$shp.fv_eta}" class=select></td> 
 </tr>  
 	<tr>	
    <td class=snvy align=right  nowrap><b>MV :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3><input type='text' name="PHP_mv" size=57 value="{$shp.mv}" class=select></td> 
    <td class=snvy align=right  nowrap><b>ETD </b></td>
    <td class=bgdy align=left bgcolor=#dddddd><input type='text' name="PHP_mv_etd" size=15 value="{$shp.mv_etd}" class=select></td> 
    <td class=snvy align=right  nowrap><b>ETA </b></td>
    <td class=bgdy align=left bgcolor=#dddddd ><input type='text' name="PHP_mv_eta" size=13 value="{$shp.mv_eta}" class=select></td> 
 </tr> 
 	<tr>	
    <td class=snvy align=right  nowrap><b>L/C NO :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><input type='text' name="PHP_lc_no" size=15 value="{$shp.lc_no}" class=select></td> 
    <td class=snvy align=right  nowrap><b>Date:</b></td>
    <td class=bgdy align=left bgcolor=#dddddd><input type='text' name="PHP_lc_date" size=15 value="{$shp.lc_date}" class=select></td> 

    <td class=snvy align=right  nowrap><b>L/C BANK </b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3><input type='text' name="PHP_lc_bank" size=50 value="{$shp.lc_bank}" class=select></td>  
 </tr> 
 	<tr>	
    <td class=snvy align=right  nowrap><b>VENDOR :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3><input type=text name='PHP_vendor' value='{$shp.vendor_name}' size=57 class=select ></td>    
    <td class=snvy align=right  nowrap><b>ADDRESS :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=4><input type=text name='PHP_vendor2' value='{$shp.vendor_addr}' size=50 class=select ></td>    
 </tr> 
 <tr>	
    <td class=snvy align=right  nowrap><b>CONSIGNEE :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=7>{$csgn_select} OR 
    	<input type=text name='PHP_consignee2' value='' size=50 class=select >
			<img src="./images/Add.gif" border=0 alt="add" onclick=add_consignee('{$shp.ord_cust}','{$shp_det.0.dept}') style="cursor:pointer">		

    </td>    
 </tr>
 <tr>
    <td class=snvy align=right ><b>PACKAGING : </b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=7><b>
    	<input type=text name='PHP_pack' value='{$shp.pack}' size=67 class=select >
    </b></td>  
 </tr>  
 <tr>	
    <td class=snvy align=right  nowrap><b>SHIP TO :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3><input type='text' name="PHP_ship_addr1" size=57 value="{$shp.ship_addr1}" class=select></td>    
    <td class=snvy align=right  nowrap><b>address :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3><input type='text' name="PHP_ship_addr2" size=50 value="{$shp.ship_addr2}" class=select></td>    

 </tr>
 <tr>	
    <td class=snvy align=right  nowrap><b>BILL TO :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3><input type='text' name="PHP_bill_addr1" size=57 value="{$shp.bill_addr1}" class=select></td>    
    <td class=snvy align=right  nowrap><b>address :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3><input type='text' name="PHP_bill_addr2" size=50 value="{$shp.bill_addr2}" class=select></td>    
 </tr> 
 

 <tr>	
    <td class=snvy align=right  nowrap><b>M.I.D. NO:</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3>{$shp.mid_select}</td> 
    <td class=snvy align=right  nowrap><b> Org. Country :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3 >{$shp.country_select}</td>    
 </tr>  
 <tr>	
    <td class=snvy align=right  nowrap><b> Carrier :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3 ><input type='text' name="PHP_carrier" size=57 value="{$shp.carrier}" class=select></td>    
    <td class=snvy align=right  nowrap><b> DISCHARGE PORT :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3 ><input type='text' name="PHP_dis_port" size=50 value="{$shp.dis_port}" class=select></td>    
 </tr>       
 
 <tr>	
	  <td class=snvy align=right  nowrap><b> Container :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3 >{$shp.conter_select}</td>    
    <td class=snvy align=right  nowrap><b> Consolidator :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3 >{$shp.constor_select}</td>    
   </tr>  

 <tr>	
    <td class=snvy align=right  nowrap><b> CBM (m) :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd ><input type='text' name="PHP_cbm" size=10 value="{$shp.cbm}" class=select></td>    
    <td class=snvy align=right  nowrap><b> PO Type :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd >{$shp.po_type_select}</td>    
    <td class=snvy align=right  nowrap><b> Facillity :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd >{$shp.facility_select}</td>    
    <td class=snvy align=right  nowrap><b> Mode :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd >{$shp.mode_select}</td> 
 </tr> 
 	<tr>	
    <td class=snvy align=right  nowrap><b>Freight :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd>
    	<input type='text' name="PHP_freight_date" size=10 value="{$shp.freight_date}" class=select>
     	<img align='top' onMouseDown="javascript:Cal(document.add_main.PHP_freight_date,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16" style='cursor:hand'>    
    </td> 
    <td class=snvy align=right  nowrap><b>Discharg : </b>
		</td>
    <td  class=bgdy align=left bgcolor=#dddddd >
    	<input type='text' name="PHP_dischg_date" size=10 value="{$shp.dischg_date}" class=select>
    	<img align='top' onMouseDown="javascript:Cal(document.add_main.PHP_dischg_date,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16" style='cursor:hand'>    
    </td>   
    <td class=snvy align=right  nowrap><b>Fty-Ship :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd>
    	<input type='text' name="PHP_fty_ship_date" size=10 value="{$shp.freight_date}" class=select>
     	<img align='top' onMouseDown="javascript:Cal(document.add_main.PHP_fty_ship_date,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16" style='cursor:hand'>    
    </td> 
    <td class=snvy align=right  nowrap><b>Load : </b>
		</td>
    <td  class=bgdy align=left bgcolor=#dddddd >
    	<input type='text' name="PHP_lod_date" size=10 value="{$shp.lod_date}" class=select>
    	<img align='top' onMouseDown="javascript:Cal(document.add_main.PHP_lod_date,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16" style='cursor:hand'>    
    </td> 
 </tr> 
 
  <tr>	
	  <td class=snvy align=right  nowrap><b> Container# :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd ><input type='text' name="PHP_conter_num" size=15 value="{$shp.conter_num}" class=select></td>    
	  <td class=snvy align=right  nowrap><b> voyage :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd ><input type='text' name="PHP_voyage" size=13 value="{$shp.voyage}" class=select></td>    

    <td class=snvy align=right  nowrap><b> freight receipt :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3><input type='text' name="PHP_freight_rcp" size=50 value="{$shp.freight_rcp}" class=select></td>    
  </tr>  

  <tr>	
	  <td class=snvy align=right  nowrap><b> facility # :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd ><input type='text' name="PHP_facility_code" size=15 value="{$shp.facility_code}" class=select></td>    
	  <td class=snvy align=right  nowrap><b> HBL# :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd ><input type='text' name="PHP_hbl" size=13 value="{$shp.hbl}" class=select></td>    

    <td class=snvy align=right  nowrap><b> facility name :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3><input type='text' name="PHP_facility_name" size=50 value="{$shp.facility_name}" class=select></td>    
  </tr>   
  <tr>	
	  <td class=snvy align=right  nowrap><b> Ship method :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd >{$shp.method_select}</td>    
  </tr> 

  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr> 
  
 <input type=hidden name='PHP_seal' value='0'>     
  <input type=hidden name='PHP_que1' value='0'>
 <input type=hidden name='PHP_que2' value='0'>    
  <input type=hidden name='PHP_que3' value='0'>
  <input type=hidden name='PHP_que4' value='0'>
	<input type=hidden name='PHP_que5' value='0'>		

 	<tr>	
    <td class=snvy align=right  nowrap><b>Final TO :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3>
    	<input type=text name='PHP_fnl_name' value='{$shp.fnl_name}' size=57 class=select >
    </td>    
    <td class=snvy align=right  nowrap><b>ADDRESS : </b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3>
    	<input type=text name='PHP_fnl_addr' value='{$shp.fnl_addr}' size=50 class=select >
    </td>  
  </tr> 
 	<tr>	
    <td class=snvy align=right  nowrap><b>Style# :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3>
    	<input type=text name='PHP_fnl_style' value='{$shp.fnl_style}' size=57 class=select >
    </td> 
    <td class=snvy align=right  nowrap><b>P/O :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3>
    	<input type=text name='PHP_fnl_po' value='{$shp.fnl_po}' size=50 class=select >
    </td>       
  </tr>    
 	<tr>	
    <td class=snvy align=right  nowrap><b>Description :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3>
    	<input type=text name='PHP_fnl_des' value='{$shp.fnl_des}' size=57 class=select >
    </td>       
    <td class=snvy align=right  nowrap><b>DEL.DUE :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3>
    	<input type=text name='PHP_del_due' value='{$shp.del_due}' size=50 class=select >
    </td> 
  </tr>  
 	<tr>	
    <td class=snvy align=right  nowrap><b>DEPT # :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3>
    	<input type=text name='PHP_fnl_dept' value='{$shp.fnl_dept}' size=57 class=select >
    </td> 
    <td class=snvy align=right  nowrap><b>DEPT des.:</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3>
    	<input type=text name='PHP_dept_des' value='{$shp.dept_des}' size=50 class=select >
    </td>       
  </tr>       
 	<tr>	
    <td class=snvy align=right  nowrap><b>CONTAINER # :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3>
    	<input type=text name='PHP_ctn_num' value='{$shp.ctn_num}' size=57 class=select >
    </td> 
    <td class=snvy align=right  nowrap><b>SEAL # :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3>
    	<input type=text name='PHP_seal' value='{$shp.seal}' size=50 class=select >
    </td>       
  </tr>
 	<tr>	
    <td class=snvy align=right  colspan=3><b>HANGING GARMENTS</b></td>
    <td class=bgdy align=left>
    	<input type=checkbox name='PHP_que1' value=1 class=select {if $shp.que1}checked{/if}>
    </td> 
    <td class=snvy align=right  colspan=3><b>BOXED GARMENT ON HANGER</b></td>
    <td class=bgdy align=left >
    	<input type=checkbox name='PHP_que2' value=1 class=select {if $shp.que2}checked{/if}>
    </td>       
  </tr>     
  <tr>
    <td class=snvy align=right  colspan=3><b>LOOSE CARTONS</b></td>
    <td class=bgdy align=left >
    	<input type=checkbox name='PHP_que3' value=1 class=select {if $shp.que3}checked{/if}>
    </td>       
    <td class=snvy align=right  colspan=3><b>PALLETISD CARTONS</b></td>
    <td class=bgdy align=left >
    	<input type=checkbox name='PHP_que4' value=1 class=select {if $shp.que4}checked{/if}>
    </td>       
  </tr>    
  <tr>
    <td class=snvy align=right  colspan=3><b>ACCESSORIES</b></td>
    <td class=bgdy align=left >
    	<input type=checkbox name='PHP_que5' value=1 class=select {if $shp.que5}checked{/if}>
    </td>             
  </tr>   
 
  
 <tr> 
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
 </tr>
 <tr>	
    <td colspan=4 class=frnt align=left ><b>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	&nbsp;&nbsp;&nbsp;&nbsp;SHIPPING MARK :
    </b></td>
    <td colspan=4 class=frnt align=left><b>&nbsp;Fabric Description :</b></td>
 </tr>
 
 <tr>	
    <td colspan=4 class=frnt align=right >
			<textarea rows=5 cols=80 name="PHP_ship_mark">{$shp.ship_mark}</textarea> &nbsp;   
    </td>  
    <td colspan=4 class=frnt align=left >
			<textarea rows=5 cols=98 name="PHP_fab_des">{$shp.fab_des}</textarea> &nbsp;   
    </td>       
 </tr>  
 
 <tr>	
    <td colspan=4 class=frnt align=left ><b>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	&nbsp;&nbsp;&nbsp;&nbsp;MANUFACTURER NAME & ADDRESS :
    </b></td>
    <td colspan=4 class=frnt align=left><b>&nbsp;SHIPPER FULL NAME & ADDRESS :</b></td>
 </tr>    
 <tr>	
    <td colspan=4 class=frnt align=right >
			<textarea rows=5 cols=80 name="PHP_fty_det">{$shp.fty_det}</textarea> &nbsp;   
    </td>
    <td colspan=4 class=frnt align=left >&nbsp;
			<textarea rows=5 cols=98 name="PHP_ship_det">{$shp.ship_det}</textarea>    
    </td>    
 </tr>     
 <tr>	
    <td colspan=4 class=frnt align=left ><b>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	&nbsp;&nbsp;&nbsp;&nbsp;Notify Party :
    </b></td>
    <td colspan=4 class=frnt align=left><b>&nbsp;Comments :</b></td>
 </tr>    
 <tr>	
    <td colspan=4 class=frnt align=right >
			<textarea rows=5 cols=80 name="PHP_nty_part">{$shp.nty_part}</textarea> &nbsp;   
    </td>
    <td colspan=4 class=frnt align=left >&nbsp;
			<textarea rows=5 cols=98 name="PHP_comm">{$shp.comm}</textarea>    
    </td>    
 </tr> 
 <tr>	
    <td colspan=8 class=frnt align=left ><b>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	&nbsp;&nbsp;&nbsp;&nbsp;BENEFICIARY ACCOUNT DETAIL AS BELOW :
    </b></td>
 </tr>    
 <tr>	
    <td colspan=8 class=frnt align=right >
			<textarea rows=5 cols=188 name="PHP_benf_det">{$shp.benf_det}</textarea> &nbsp;   
    </td>    
 </tr>
 
 <tr>	
    <td colspan=8 class=frnt align=left ><b>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	&nbsp;&nbsp;&nbsp;&nbsp;Statements :
    </b></td>
 </tr>
 
 <tr>	
    <td colspan=8 class=frnt align=right >
			<textarea rows=5 cols=188 name="PHP_stmt">{$shp.stmt}</textarea> &nbsp;   
    </td>    
 </tr> 
 
 <tr>	
    <td colspan=8 class=frnt align=left ><b>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	&nbsp;&nbsp;&nbsp;&nbsp;OTHERS :
    </b></td>
 </tr>
 
 <tr>	
    <td colspan=8 class=frnt align=right >
			<textarea rows=5 cols=188 name="PHP_others">{$shp.others}</textarea> &nbsp;   
    </td>    
 </tr>  
 
 </tr> 
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr> 
</table> 




	<table border=1 cellspacing=1 cellpadding=1 width=970 id='ship_table'>

  	<tr bgcolor=#C4C3AE height=25>
  		<td class=snvy align=center nowrap width=100 rowspan=2 ><B>Cust. P.O.#  </B></td>
  		<td class=snvy align=center nowrap width=100 rowspan=2 ><b>Style#</b></td>
  		<td class=snvy align=center nowrap width=130 rowspan=2 ><B>Content# </B></td>
  		<td class=snvy align=center nowrap width=70  rowspan=2 ><B>Desc. </B></td>
  		<td class=snvy align=center nowrap width=70  rowspan=2 ><B>Component# </B></td> 
  		<td class=snvy align=center nowrap width=70  rowspan=2 ><B>HTS CODE / CAT# </B></td>
  		<td class=snvy align=center nowrap width=70  rowspan=2 ><B>CASE# </B></td>  		
  		<td class=snvy align=center nowrap width=45  rowspan=2 ><B>Material(F/T)# </B></td>
  		<td class=snvy align=center nowrap width=45  rowspan=2 ><B>Ship<BR>(F/T)# </B></td>
  		<td class=snvy align=center nowrap width=55  rowspan=2 ><B>Belt CO </B></td>
  		<td class=snvy align=center nowrap width=50   ><B>Hanger </B></td>
  		<td class=snvy align=center nowrap width=30   ><B>Belt </B></td>

  		<td class=snvy align=center nowrap width=40  rowspan=2 ><B>Q'TY</B></td>
  		<td class=snvy align=center nowrap width=40  rowspan=2 ><B>FOB</B></td>

  		<td class=snvy align=center nowrap ><B>Other charge   </B></td>
  	</tr>
  	<tr bgcolor=#C4C3AE height=25>
   		<td class=snvy align=center nowrap colspan=2 ><B>Unit Price   </B></td>
 		
  		<td class=snvy align=center nowrap width=120 ><B>Quota charge   </B></td>
  	</tr>  
{section name=SEC loop=$shp_det}
  {if $shp_det[SEC].tb_mk == 1}
    <tr bgcolor="#FFFFFF" onmouseover="bgColor='#FCF4A4'" onmouseout="bgColor='#ffffff'">
  	<td class=snvy align=left>
  		{$shp_det[SEC].cust_po} - {$shp_det[SEC].ship_ord_id}&nbsp;
  	</td>
  	<td class=snvy align=left>
  		<input type='text' name="PHP_style_num[{$shp_det[SEC].ord_num}]" size=15 value="{$shp_det[SEC].style_num}" class=select>&nbsp;&nbsp;

  	</td>
  	<td class=snvy align=left>
  		<input type='text' name="PHP_content[{$shp_det[SEC].ord_num}]" size=20 value="{$shp_det[SEC].content}" class=select>&nbsp;&nbsp;
  	</td>
  	<td class=snvy align=left>
  		<input type='text' name="PHP_ord_des[{$shp_det[SEC].ord_num}]" size=10 value="{if $shp_det[SEC].des}{$shp_det[SEC].des}{else}{$shp_det[SEC].style_des}{/if}" class=select>&nbsp;&nbsp;
  	</td>
  	<td class=snvy align=left>
  		<input type='text' name="PHP_compt[{$shp_det[SEC].ship_ord_id}]" size=10 value="{$shp_det[SEC].compt}" class=select>&nbsp;&nbsp;
  	</td>  	
  	<td class=snvy align=left>
  		<input type='text' name="PHP_hts_cat[{$shp_det[SEC].ship_ord_id}]" size=10 value="{$shp_det[SEC].hts_cat}" class=select>&nbsp;&nbsp;
  	</td>  
  	<td class=snvy align=left>
  		<input type='text' name="PHP_case_num[{$shp_det[SEC].ship_ord_id}]" size=10 value="{$shp_det[SEC].case_num}" class=select>&nbsp;&nbsp;
  	</td>   	
  	<td class=snvy align=left>
  		<input type='text' name="PHP_mat_ft[{$shp_det[SEC].ship_ord_id}]" size=3 value="{$shp_det[SEC].mat_ft}" class=select>&nbsp;&nbsp;
  	</td>   		
  	<td class=snvy align=left>
  		<input type='text' name="PHP_ship_ft[{$shp_det[SEC].ship_ord_id}]" size=3 value="{$shp_det[SEC].ship_ft}" class=select>&nbsp;&nbsp;
  	</td>   		
  	<td class=snvy align=left>
  		<input type='text' name="PHP_belt_co[{$shp_det[SEC].ship_ord_id}]" size=5 value="{$shp_det[SEC].belt_co}" class=select>&nbsp;&nbsp;
  	</td>  
  	<td class=snvy align=center >
  		<input type='text' name="PHP_hanger[{$shp_det[SEC].ship_ord_id}]" size=1 value="{$shp_det[SEC].hanger}" class=select>&nbsp;&nbsp;
  	</td>  
  	<td class=snvy align=center >
  		<input type='text' name="PHP_belt[{$shp_det[SEC].ship_ord_id}]" size=1 value="{$shp_det[SEC].belt}" class=select>&nbsp;&nbsp;
  	</td>  		
  	<td class=snvy align=right nowrap>
			{$shp_det[SEC].f_qty}
  	</td>  	
  	<td class=snvy align=left>
  		<input type='text' name="PHP_uprice[{$shp_det[SEC].ord_num}]" size=3 value="{if $shp_det[SEC].ship_fob <= 0}{$shp_det[SEC].uprice}{else}{$shp_det[SEC].ship_fob}{/if}" class=select style=text-align:right>&nbsp;&nbsp;
  		<input type='hidden' name="PHP_old_fob[{$shp_det[SEC].ord_num}]" value="{if $shp_det[SEC].ship_fob <= 0}{$shp_det[SEC].uprice}{else}{$shp_det[SEC].ship_fob}{/if}">	
  	</td>

  	<td class=snvy align=left>

  		$ <input type='text' name="PHP_quota[{$shp_det[SEC].ord_num}]" size=3 value="{$shp_det[SEC].ship_quota}" class=select style=text-align:right>
  			/{$shp_det[SEC].unit_select}</td>
  	</tr>
  {/if}

{/section}


</table>


<hr SIZE=2 WIDTH=800>
<br>

<table border=1 cellspacing=1 cellpadding=1 width=800 id="charge_table">
		
		<tr bgcolor=#C4C3AE height=25 >
			<td class=snvy align=center nowrap  colspan=3 ><B>OTHER CHARGE  </B></td>
		</tr>
  	<tr bgcolor=#C4C3AE height=25>
  		<td class=snvy align=center nowrap width=100  ><B>charge ($)  </B></td>
  		<td class=snvy align=center nowrap width=600  ><b>Description</b></td>
  		<td class=snvy align=center nowrap width=100  ><b>&nbsp</b></td>
  	</tr>
  	<tr>
  		<td class=snvy align=center nowrap >
  			<input type='text' name="PHP_charge" size=10 value="" class=select>
  		</td>
  		<td class=snvy align=center nowrap>
  			<input type='text' name="PHP_chg_des" size=105 value="" class=select>
  		</td>
  		<td class=snvy align=center nowrap >
  			<input type=button onClick="add_charge('{$shp.id}')" value=" ADD " class=select_e style="width=95%">
  		</td>
  	</tr>  
 {section name=SEC loop=$shp_charge}	
  	<tr>
  		<td class=snvy align=center nowrap >
  			<input type='text' name="PHP_up_chg_{$shp_charge[SEC].id}}" size=10 value="{$shp_charge[SEC].charge}" class=select>
  		</td>
  		<td class=snvy align=center nowrap>
  			<input type='text' name="PHP_up_des_{$shp_charge[SEC].id}}" size=105 value="{$shp_charge[SEC].chg_des}" class=select>
  		</td>
  		<td class=snvy align=center nowrap >
  			<input type=button onClick="edit_charge('{$shp_charge[SEC].id}}')" value=" Update " class=select_e style="width=50%">
	   	  <input type='image' src="images/del.png"   onclick=del_ajx('{$shp_charge[SEC].id}',this)>	
  		</td>
  	</tr>   
 {/section}
</table>



<table border=0 cellspacing=0 cellpadding=2 width=800 bgcolor=#ffffff align=center>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>
	<td width=100>
{if $back_str}
	
		<input type=button onClick="window.location.href='shipdoc.php?PHP_action=shipdoc_search{$back_str}'" value=" << go back " class=select_e style="cursor:pointer; width=99%">
{/if}
	</td>

	<td width=700>
{if $add_flag}
  <input type=submit class=select_e value='UPDATE ABOVE RECORD' style="cursor:pointer; width=98%">	
	<input type=hidden class=select name='PHP_id' value='{$shp.id}'>
	<input type=hidden class=select name='PHP_action' value='do_cfm_shipdoc_i_edit'>
	<input type=hidden class=select name='PHP_back_str' value='{$back_str}'>
{/if}
	</td>	
  </tr>
</table>
</form>
<!--------- footer ---------->
{include file="footer.html"}
