<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>==== ::::::::::  SAMPLE ORDER LISTING :::::::::: ====</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">
 function tp(url) { parent.top.location.href=url }
 function cfm(id) {
	if ( confirm("確定要刪除 ??")) {
		location.href="index2.php?PHP_action=smpl_ord_del&PHP_id="+id;
	}
 }
</script>
{/literal}
</head>
<body bgcolor="#003C77" topmargin=10><form>
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=800 id='tbl_msg' {if $msg_YES} style="display : block" {else}style="display : none"{/if}>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy><div id='msg1'>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</div></td>
        
      </tr>
     </table>	
 <table width=800 border=1 cellspacing=0 cellpadding=2>
  <tr><td height=35 colspan=12 align=center class=gry><b>UN-APPROVAL SHIPPING DOCUMENT LIST </b></td></tr>
  <tr bgcolor="#0D4368" height=30> 
    <td class=w9 width=130 align=center rowspan=2><b>INV#</b></td>
    <td class=w9 width=110 align=center rowspan=2><b>cust</b></td>
    <td class=w9 width=70 align=center rowspan=2><b>Date</b></td>
    <td class=w9 align=center colspan=3><b>SHIP</b></td>
    <td class=w9 width=30 align=center rowspan=2><b>FTY</b></td>
    <td class=w9 width=70 align=center rowspan=2><b>Status</b></td>
    <td class=w9 width=70 align=center rowspan=2><b>Remark</b></td>
  </tr>
  <tr bgcolor="#0D4368" height=30> 
    <td class=w9 width=80 align=center><b>TERM</b></td>
    <td class=w9 width=80 align=center><b>VIA</b></td>
    <td class=w9 width=80 align=center><b>TO</b></td>
  </tr>  
{section name=SEC loop=$ship_doc}
<tr onmouseover="bgColor='#FCF4A4'" onmouseout="bgColor='#ffffff'">

   <td class=gry9 align=left><b><a href="shipdoc.php?PHP_action=apv_shipdoc_p_view&PHP_id={$ship_doc[SEC].id}{$back_str}&PHP_sr_startno={$now_pp}">{$ship_doc[SEC].inv_num}</a></b></td>
  	<td class=gry9 align=left><small>&nbsp;{$ship_doc[SEC].cust_init}&nbsp;</small></td>
   <td class=gry9 align=center><small>&nbsp;{$ship_doc[SEC].ship_date}&nbsp;</small></td>
   <td class=gry9 align=left><small>{$ship_doc[SEC].ship_term}&nbsp;</small></td>
   <td class=gry9 align=left><small>{$ship_doc[SEC].ship_via}&nbsp;</small></td>
   <td class=bgdy9 align=left><small>&nbsp;{$ship_doc[SEC].ship_to}&nbsp;</small></td>
   <td class=gry9 align=left><b>&nbsp;{$ship_doc[SEC].fty}</b></td>
   <td class=ylw9 align=center bgcolor=#5E5F5E>
			<small>{if $ship_doc[SEC].status == 0}wait for submit{/if}
						 {if $ship_doc[SEC].status == 2}wait for CFM{/if}
						 {if $ship_doc[SEC].status == 4}wait for APV{/if}
			</small></td>
   <td class=ylw9 align=center>
		<a href="shipdoc.php?PHP_action=apv_shipdoc_p_view&PHP_id={$ship_doc[SEC].id}{$back_str}&PHP_sr_startno={$now_pp}"  style="cursor:pointer"><img src="images/packet.png" border=0 valign=bottom></a>
		<a href="shipdoc.php?PHP_action=apv_shipdoc_i_view&PHP_id={$ship_doc[SEC].id}{$back_str}&PHP_sr_startno={$now_pp}"  style="cursor:pointer"><img src="images/inv.png" border=0 valign=bottom></a>

	</td>
  </tr>  
  {/section}
</table>
<br>
<table width=750 border=0 cellspacing=0 cellpadding=1>
  <tr>
    </td>
    <td class=w9 colspan=3 align=center><span class=bgdy>※ </font>sample order list : {section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]} &nbsp;{/section}&nbsp;&nbsp;&nbsp;<span class=bgdy>[ total {$max_no} entries ]</font>
    </td>
  </tr>
  <tr>
    <td align=center width=180><form name="form5" method="post">    
<!--*****--2006.11.16頁碼新增 start	  -->  
{if $pages[0] > 1}
          <input type="button" name="Submit5" value=" < prev 10 page" class=select_e style="cursor:pointer; width:70%" onClick="window.location='shipdoc.php?&PHP_action=apv_shipdoc_search{$back_str}&PHP_sr_startno=p{$pages[0]}'">
{/if}
    &nbsp;
	</td>
	<td align=center width=260>    
    
    {section name=PGE loop=$pages}
    {if $pages[PGE] <= $maxpage }
    {if $pages[PGE] == $now_pp}
    <font color="#FF0000"><i><b>&nbsp;{$pages[PGE]}</b></i></font>
    {else}
    <a href="shipdoc.php?&PHP_action=apv_shipdoc_search{$back_str}&PHP_sr_startno={$pages[PGE]}" style="cursor:pointer">&nbsp;{$pages[PGE]}</a>
    {/if}
    {/if}   
    {/section}
    &nbsp;</td>
    <td  align=center width=180>    
    
{if $lastpage < $maxpage}
         <input type="button" name="Submit6" value="next 10 page >" class=select_e style="cursor:pointer; width:70%" onClick="window.location='shipdoc.php?&PHP_action=apv_shipdoc_search{$back_str}&PHP_sr_startno=n{$lastpage}'">
{else}&nbsp;
{/if}
<!--*****--2006.11.16頁碼新增 end	  -->    
    </td></form>

  </tr>
</table>
<!--------- footer ---------->
{include file="footer.html"}
