<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM -B [ ORDER RECORD ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/open_detial.js"></script>
<Script language="javascript"> 

</script>
{/literal}

</head>
<body>

<br>
<table cellspacing=1 cellpadding=4 cols=1 width=840 bgcolor=#333333>
	<tr>
	  <td class="ylw10" align=center width=250><b> INV # :  {$shp.inv_num}</b></td>
	  <td class="des" align=center width=550><b> UN-CONFIRM PACKING LIST </b></td>
	  <td class="ylw10" align=center width=200><b> 
			{if $shp.status == 0}wait P/L submit{/if}
			{if $shp.status == 1}<font color=red>P/L Reject</font>{/if}	
			{if $shp.status == 2}wait P/L CFM.{/if}						 						
			{if $shp.status == 4}wait inv. submit{/if}	
			{if $shp.status == 5}<font color=red>inv. Reject</font>{/if}						 
			{if $shp.status == 6}wait inv. CFM.{/if}
			{if $shp.status == 8}<b>CONFORMED</b>{/if}
	  </b></td>
	</tr>
</table>
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=840 id='tbl_msg' {if $msg_YES} style="display : block" {else}style="display : none"{/if}>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy><div id='msg1'>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</div></td>
        
      </tr>
     </table>

<br>     
  <table border=0 cellspacing=1 cellpadding=1 width=840 bgcolor=#FFFFFF> 	
 	<tr>	
    <td class=snvy align=right  nowrap><b>Cust. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd>{$shp.ord_cust}</td> 
    <td class=snvy align=right  nowrap><b>Factory : </b></td>
    <td class=bgdy align=left bgcolor=#dddddd >{$shp.fty}</td>   
		<td class="frnt" align=right width=400>&nbsp;</td> 		
 </tr>
</table>

<BR>


{section name=SEC loop=$shp_det}
{if $shp_det[SEC].tb_mk == 1}
	</table><br>
	<table border=1 cellspacing=1 cellpadding=1 width=840 id='ship_table_{$shp_det[SEC].ord_id}'>

  	<tr bgcolor=#C4C3AE height=25>
  		<td class=snvy align=center nowrap width=80 rowspan=2><b>Style#</b></td>
  		<td class=snvy align=center nowrap width=70 rowspan=2><b>P.O.#</b></td>
  		<td class=snvy align=center nowrap width=40 rowspan=2><b>BAR#</b></td>
  		<td class=snvy align=center nowrap width=40 rowspan=2><b>ROPE NO</b></td>
  		<td class=snvy align=center nowrap width=75 rowspan=2><b>COLOR</b></td>
  		<td class=snvy align=center nowrap width=80 rowspan=2><b>ctn. ID</b></td>

			{section name=SEZ loop=$shp_det[SEC].size}
				<td class=snvy align=center rowspan=2>{$shp_det[SEC].size[SEZ]}</td>
			{/section}
  		<td class=snvy align=center nowrap  width=50 rowspan=2><b>Q'TY  </b> <BR>  IN PCS. <BR> PER CTN.</td>
  		<td class=snvy align=center nowrap  width=40><b>N.N.W.  </b></td>
  		<td class=snvy align=center nowrap  width=40><b>N.W.</b></td>
  		<td class=snvy align=center nowrap  width=40><b>G.W.</b></td>
  		<td class=snvy align=center nowrap  colspan=3 ><b>CTN SIZE ({$shp.unit})</b></td>
<!--  <td class=snvy align=center nowrap >ETA</td> -->
  	</tr>

  	<tr bgcolor=#C4C3AE height=25>
  		<td class=snvy align=center colspan=3>IN KGS. PER CTN.</td>
  		<td class=snvy align=center nowrap  width=40><b> L </b></td>
 		  <td class=snvy align=center nowrap  width=40><b> W </b></td>
  		<td class=snvy align=center nowrap  width=40><b> H </b></td>
<!--  <td class=snvy align=center nowrap >ETA</td> -->
  	</tr>  		
{/if}
{if $shp_det[SEC].f_mk == 1}
  <tr bgcolor="#FFFFFF" onmouseover="bgColor='#FCF4A4'" onmouseout="bgColor='#ffffff'">
  	<td class=snvy align=left>{$shp_det[SEC].style_num}&nbsp;</td>
  	<td class=snvy align=left>{$shp_det[SEC].cust_po}&nbsp;</td>
  	<td class=snvy align=center nowrap rowspan={$shp_det[SEC].row_span}>{$shp_det[SEC].ctn_mk}</td>
  	<td class=snvy align=center nowrap rowspan={$shp_det[SEC].row_span}>{$shp_det[SEC].cnt}</td>
  	<td class=snvy align=center>{$shp_det[SEC].color}</td>
  	<td class=snvy align=center>{$shp_det[SEC].ctn_id}&nbsp;</td>
	{section name=SZE loop=$shp_det[SEC].size}
		<td class=snvy align=right>
			{if $shp_det[SEC].size_qty[SZE] > 0}{$shp_det[SEC].size_qty[SZE]|number_format}{else}&nbsp;{/if}
		</td>
	{/section}
  <td class=snvy align=right rowspan={$shp_det[SEC].row_span}>{$shp_det[SEC].qty|number_format}</td>
  <td class=snvy align=right rowspan={$shp_det[SEC].row_span}>{if $shp_det[SEC].ctn_nnw > 0}{$shp_det[SEC].ctn_nnw|number_format:"2f"}{else}&nbsp;{/if}</td>
  <td class=snvy align=right rowspan={$shp_det[SEC].row_span}>{if $shp_det[SEC].ctn_nw > 0}{$shp_det[SEC].ctn_nw|number_format:"2f"}{else}&nbsp;{/if}</td>
  <td class=snvy align=right rowspan={$shp_det[SEC].row_span}>{if $shp_det[SEC].ctn_gw > 0}{$shp_det[SEC].ctn_gw|number_format:"2f"}{else}&nbsp;{/if}</td>
  <td class=snvy align=right rowspan={$shp_det[SEC].row_span}>{if $shp_det[SEC].ctn_l > 0}{$shp_det[SEC].ctn_l|number_format:"2f"}{else}&nbsp;{/if}</td>
  <td class=snvy align=right rowspan={$shp_det[SEC].row_span}>{if $shp_det[SEC].ctn_w > 0}{$shp_det[SEC].ctn_w|number_format:"2f"}{else}&nbsp;{/if}</td>
  <td class=snvy align=right rowspan={$shp_det[SEC].row_span}>{if $shp_det[SEC].ctn_h > 0}{$shp_det[SEC].ctn_h|number_format:"2f"}{else}&nbsp;{/if}</td>
  </tr>
{else}
  <tr bgcolor="#FFFFFF" onmouseover="bgColor='#FCF4A4'" onmouseout="bgColor='#ffffff'">
  	<td class=snvy align=left>{$shp_det[SEC].style_num}&nbsp;</td>
  	<td class=snvy align=left>{$shp_det[SEC].cust_po}&nbsp;</td>
  	<td class=snvy align=center>{$shp_det[SEC].color}</td>
  	<td class=snvy align=center>{$shp_det[SEC].ctn_id}&nbsp;</td>
	{section name=SZE loop=$shp_det[SEC].size}
		<td class=snvy align=right>
			{if $shp_det[SEC].size_qty[SZE] > 0}{$shp_det[SEC].size_qty[SZE]|number_format}{else}&nbsp;{/if}
		</td>
	{/section}
  </tr>
{/if}  
{/section}
	<tr>
		<td class=snvy align=right colspan={$amt.span}><b>&nbsp; GARND TOTAL &nbsp;</b></td>
		<td class=snvy align=right>{$amt.qty}</td>
		<td class=snvy align=right>{$amt.nnw}</td>
		<td class=snvy align=right>{$amt.nw}</td>
		<td class=snvy align=right>{$amt.gw}</td>
		<td class=snvy align=right colspan=3}><b>&nbsp;</b></td>
	</tr>
</table>


<BR>
{section name=SEC loop=$break}
{if $break[SEC].tb_mk == 1} 
  	<tr>
  		<td class=snvy align=center colspan=4 >GRAND TOTAL&nbsp;</td>
			{section name=SEZ loop=$break[SEC].g_size_qty}
				<td class=snvy align=right>{$break[SEC].g_size_qty[SEZ]}</td>
			{/section}
   		<td class=snvy align=right >{$break[SEC].g_qty}</td>
  	</tr>  
	</table>
	<BR>
{/if}
{if $break[SEC].tb_mk == 1 || $break[SEC].tb_mk == 2 || $break[SEC].tb_mk == 5}
	<table border=1 cellspacing=1 cellpadding=1 width=840>
  	<tr bgcolor=#C4C3AE height=25>
  		<td class=snvy align=center nowrap width=80 rowspan=2><b>Style#</b></td>
  		<td class=snvy align=center nowrap width=70 rowspan=2><b>P.O.#</b></td>
  		<td class=snvy align=center nowrap width=40 rowspan=2><b>PO# PCS</b></td>
  		<td class=snvy align=center nowrap width=75 rowspan=2><b>COLOR</b></td>
  		<td class=snvy align=center nowrap colspan={$break[SEC].size_ct}><b>SIZE AND QUANTITIES</b></td>
  		<td class=snvy align=center nowrap width=75 rowspan=2><b>TOTAL</b></td>

  	</tr>
  	<tr bgcolor=#C4C3AE height=25>
			{section name=SEZ loop=$break[SEC].size}
				<td class=snvy align=center>{$break[SEC].size[SEZ]}</td>
			{/section}
		</tr>
{/if}
{if $break[SEC].ord_mk == 1}
  	<tr>
  		<td class=snvy align=right rowspan={$break[SEC].rowspan}>{$break[SEC].style_num}&nbsp;</td>
  		<td class=snvy align=right rowspan={$break[SEC].rowspan}>{$break[SEC].po_num}&nbsp;</td>
  		<td class=snvy align=right rowspan={$break[SEC].rowspan}>{$break[SEC].ord_qty}&nbsp;</td>
  		<td class=snvy align=right >{$break[SEC].color}&nbsp;</td>
			{section name=SEZ loop=$break[SEC].qty}
				<td class=snvy align=right>{$break[SEC].qty[SEZ]}</td>
			{/section}
   		<td class=snvy align=right >{$break[SEC].ttl_qty}</td>
  	</tr> 
{else}
  	<tr>
  		<td class=snvy align=right >{$break[SEC].color}&nbsp;</td>
			{section name=SEZ loop=$break[SEC].qty}
				<td class=snvy align=right>{$break[SEC].qty[SEZ]}</td>
			{/section}
   		<td class=snvy align=right >{$break[SEC].ttl_qty}</td>
  	</tr>  	
{/if} 
{if $break[SEC].tb_mk == 3 || $break[SEC].tb_mk == 5} 
  	<tr>
  		<td class=snvy align=center colspan=4 >GRAND TOTAL&nbsp;</td>
			{section name=SEZ loop=$break[SEC].g_size_qty}
				<td class=snvy align=right>{$break[SEC].g_size_qty[SEZ]}</td>
			{/section}
   		<td class=snvy align=right >{$break[SEC].g_qty}</td>
  	</tr>  
	</table>
	<BR>
{/if}
{/section}

{if $shp_log.0.id}
	<table border=1 cellspacing=1 cellpadding=1 width=800 align=center>
	  <tr bgcolor=#666666 >
	   <td width=120 class=w10 align=center>DateTime</td>
	   <td width=600 class=w10 align=center>History records</td>
	   <td width=80 class=w10 align=center>by</td>
	  </tr>
	 {section name=SEC loop=$shp_log}
	  <tr bgcolor=#eeeeee >
	   <td class=gry9 align=center><small>{$shp_log[SEC].k_time}</small></td>
	   <td class=gry9 align=left>{$shp_log[SEC].des}</td>
	   <td class=gry9 align=center>{$shp_log[SEC].log_user}</td>
	  </tr>
	{/section}
	</table>
	<BR>
{/if}

<table border=0 cellspacing=0 cellpadding=2 width=800 bgcolor=#ffffff align=center>
	<tr>
		<td class=snvy align=center width=200>&nbsp;</td>
	  <td class=snvy align=center width=200> &nbsp;
	  	{if $shp.status > 4 && $shp.status <> 5}APV : <a href="javascript:message_out('{$shp.apv_id}')" style="cursor:pointer">{$shp.apv_user}</a>[{$shp.apv_date}]{/if}
	  </td>
	  <td class=snvy align=center width=200> &nbsp;
	  	{if $shp.status > 2 && $shp.status <> 5}CFM : <a href="javascript:message_out('{$shp.cfm_id}')" style="cursor:pointer">{$shp.cfm_user}</a>[{$shp.cfm_date}]{/if}
	  </td>
	  <td class=snvy align=center width=200> &nbsp;
	  	{if $shp.status > 0 && $shp.status <> 5}Submit :  <a href="javascript:message_out('{$shp.submit_id}')" style="cursor:pointer">{$shp.submit_user}</a>[{$shp.submit_date}]{/if} 
	  </td>
	</tr>
</table>

<table border=0 cellspacing=0 cellpadding=2 width=800 bgcolor=#ffffff align=center>
  <tr>
    <td colspan=3 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>
	<td >

	</td>
<!--
	<td width=200>
	</td>


	
	<td>
	<form method=POST name=add_main>
  <input type=submit class=select_e value='INVOICE' style="cursor:pointer; width=98%">	
	<input type=hidden class=select name='PHP_id' value='{$shp.id}'>
	<input type=hidden class=select name='PHP_inv_num' value=''>	
	<input type=hidden class=select name='PHP_action' value='cfm_shipdoc_i_view'>
	<input type=hidden class=select name='PHP_back_str' value='{$back_str}'>
	
	</form>
	</td>	
  </tr>
-->
  <tr>
	<td width=100>
	<form method=POST name=back>
		<input type=button onClick="window.location.href='shipdoc.php?PHP_action=cfm_packing_search{$back_str}'" value=" << go back " class=select_e style="cursor:pointer; width=80; height=40"></form>
	</td>

	<td width=150>

{if $add_flag}
	<form method=POST name=add_main>
  <input type=submit class=select_e value='CONFIRM' style="cursor:pointer; width=95%; height=40">	
	<input type=hidden class=select name='PHP_id' value='{$shp.id}'>
	<input type=hidden class=select name='PHP_action' value='do_packing_cfm'>
	<input type=hidden class=select name='PHP_back_str' value='{$back_str}'>		
	<input type=hidden class=select name='PHP_inv_num' value='{$shp.inv_num}'>	
	</form>
{/if}
	</td>
{if $add_flag}
	

	<td class=gry10  align=right width=500 ><form method=POST name=reject>remark:
	    <textarea name="PHP_detail" rows=2 cols=50 class=select>{$order_log.des}</textarea>
			<input type="hidden" name="PHP_action" value="reject_packing_cfm">
			<input type=hidden class=select name='PHP_id' value='{$shp.id}'>
			<input type=hidden class=select name='PHP_back_str' value='{$back_str}'>
			<input type=hidden class=select name='PHP_inv_num' value='{$shp.inv_num}'>
			<input type=hidden class=select name='PHP_submit_date' value='{$shp.submit_date}'>	
			<input type=submit value=" reject " class=select_e style="cursor:pointer; width=60; height=40" onClick=this.width=0;></form>
	</td>

{/if}	
	

  </tr>

</table>
<!--------- footer ---------->
{include file="footer.html"}
