<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>===.........  Fabric Comp. .........===</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script type="text/javascript"
        src="./js/build/yahoo/yahoo-min.js"></script>
<script type="text/javascript"
        src="./js/build/connection/connection-min.js"></script>
        
<script language="javascript">
 var transaction;
 var sUrl;
 var ord_id;

 function add(id){
 	self.opener.writeToOrdChange(id);
 }
 
 function list_size(dept,cust,id){
 ord_id = id;
	var gofile ='index2.php?PHP_action=show_size_search&PHP_dept='+dept+'&PHP_cust='+cust;	style=window.open(gofile,'style','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=805,height=500, top=100, left=150');
 	style.focus();
 }
 
function writeToSizeList(id,size) {	
	get_change(size,id,'',ord_id,'',0);
}

function writeToSizeAddList(size,base_size) {	
	var size_ary = size.split(",");
	var i=(size_ary.length)-1;
	var scale=size_ary[0]+'~'+size_ary[i];
	get_change(scale,0,size,ord_id,'',base_size);

} 

function get_change(size,size_id,size_item,id,back_str,base_size) {
    sUrl = "index2.php?PHP_action=do_order_fa_edit_ajx&PHP_size="+size+"&PHP_size_id="+size_id+"&PHP_size_item="+size_item+"&PHP_id="+id+back_str+"&PHP_base_size="+base_size;	
    transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, callback, null);
}
 
 

  var callback = {
    success: function(o) {
    	var response = o.responseText.split("|");    
    	document.getElementById("sizefd_"+ord_id).innerText =response[0];    
    	document.getElementById("addfd_"+ord_id).style.display='block'; 
    	document.getElementById("unadd_"+ord_id).style.display='none'; 	 

    },
    failure: function(o) {
      alert("Error：Can't get data");
    }
  }; 
 
</script>
{/literal}
</head>
<body  bgcolor="ffffff" background=" ">&nbsp;
	
<table border=0 cellspacing=4 cellpadding=4 cols=1 width=700 bgcolor=#cccccc  align=center>
{if $add_flag}
	<form METHOD="POST" name="add_aply">
	<tr> 
		<td class=des align=center colspan=4 bgcolor=#280004 >[ Shipping Document Developing ]</td>
	</tr>
	<tr>
		<td class=b9 align=center><b>Factory : &nbsp;&nbsp;</b>{$fty}</td>
		<td class=b9 align=center ><b>CUST : &nbsp;&nbsp;{$cust_select}</b></td>
		<td class=b9 align=center> <b>ORDER # : </b>&nbsp;&nbsp;<input type=text name="PHP_num" size=15 class=select value=""></td>
	</tr>
			<td colspan=4>
				<input type="submit" value="Search Finish Order Record" class=select_e style="width:99%;cursor:pointer">
			</td>

	<tr>
	</tr>
	<input type="hidden" name="PHP_action" value="order_shiped_sub_search">
	</form> 
{/if}
</table>	

	
<!-- ################################################################################# -->
<table border cellspacing=0 cellpadding=2 cols=1 width=700 bgcolor=#cccccc  align=center>
 <tr><form METHOD="POST" name="wi_list">  
    <td align=center>
     <table border=1 cellspacing=0 cellpadding=4 cols=1 width=690 bgcolor=#534A67>
		 <tr><td class=des align=center>.....  <b> <span class=ylw10> SHIPPING DOCUMENT ADD LIST </span> for Finished Order </b> .......</td></tr>
     </table></td></tr>
{if $msg_YES}<tr><td>
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=700 align=center>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
</td></tr>
{/if}
</table></form>
<table border cellspacing=0 cellpadding=2 width=700 bgcolor=#ffffff align=center>
  <tr bgcolor="#003333" height=28> 
	<td nowrap width=80 align=center class=back><b>ORDER#</b></td>
	<td nowrap width=90 align=center class=back><b>Customer</b></td>
	<td nowrap width=130 align=center class=back><b>Style#</b></td>
	<td nowrap width=70 align=center class=back><b>ETD</b></td>	
	<td nowrap width=100 align=center class=back><b>Cust. PO#</b></td>
	<td nowrap width=30 align=center class=back><b>FTY</b></td>
	<td nowrap width=80 align=center class=back><b>Size</b></td>
	<td nowrap width=40 align=center class=back><b>ADD</b></td>

  </tr>
	{if $record_NONE}
  <tr>
	<td colspan=8 align=center class=ssign><br>No Records!<br><br>
  </tr>
	{/if}
	{section name=SEC loop=$ord} 
  <tr>
	<td class=g10 align=center nowrap>
	      <a href="fab_comp.php?&PHP_action=fab_comp_edit&PHP_id={$wi[SEC].id}&PHP_sr={$now_pp}" value='ord_out' style='cursor:pointer'>

      		<b>{$ord[SEC].order_num}&nbsp;</b></a></td>
    <td class=gry9 align=left><small>&nbsp;{$ord[SEC].cust_name}</small></td>
    <td class=gry9 align=left><small>&nbsp;{$ord[SEC].style_num}</small></td>
    <td align=center class=gry9><small>{$ord[SEC].etd}&nbsp;</small></td>   
    <td align=center class=gry9><small>{$ord[SEC].cust_po}&nbsp;</small></td> 
    <td align=center class=gry9><small>{$ord[SEC].factory}&nbsp;</small></td> 
   {if $ord[SEC].size_scale == ''}
    <td align=center class=gry9>
    	<div id=sizefd_{$ord[SEC].id}>
				<input type='text' name="PHP_Size" size=3 class=select value=""  readonly>
				<img src="./images/icoSearch.gif" onClick="list_size('{$ord[SEC].dept}','{$ord[SEC].cust}','{$ord[SEC].id}','{$back_str}','{$now_pp}');" style="cursor:pointer">		
   		</div>
    </td>
    <td align=center class=gry9>
    	<div id=addfd_{$ord[SEC].id} style="display:'none'">
    	<input type=button size=15 class=select_e value="ADD" onClick="add('{$ord[SEC].id}')";>&nbsp;
    	</div>
    	<div id=unadd_{$ord[SEC].id}>&nbsp;</div>
    </td>
	 {else}    
    <td align=center class=gry9><small>{$ord[SEC].size_scale}&nbsp;</small></td>
		<td align=center class=gry9><input type=button size=15 class=select_e value="ADD" onClick="add('{$ord[SEC].id}')";>&nbsp;</td>
	 {/if}
  </tr>
			{/section} 
</table>
<table border=0 cols=4 width=600 align=center>
 <tr>
    </td>
    <td class=w9 colspan=4 align=center><span class=bgdy>※ message </font>:above list {section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]} &nbsp;{/section}&nbsp;wi record!&nbsp;&nbsp;<span class=bgdy>[ total {$max_no} entries ]</font>
    </td>
  </tr>

  <tr>
    <td align=center width=100>
    {if $pages[0] > 1}
   <a href="shipdoc.php?&PHP_action=order_shiped_sub_search&PHP_sr_startno=p{$pages[1]}{$back_str}" style="cursor:pointer">&nbsp;<img src="images/left2.gif" border=0 alt="前12筆資料"></a>
   {/if}
   </td>
   <td width=300 align=center>
   {section name=PGE loop=$pages}
    {if $pages[PGE] <= $maxpage }
    {if $pages[PGE] == $now_pp}
    <font color="#FF0000"><i><b>&nbsp;{$pages[PGE]}</b></i></font>
    {else}
     <a href="shipdoc.php?&PHP_action=order_shiped_sub_search&PHP_sr_startno={$pages[PGE]}{$back_str}" style="cursor:pointer">&nbsp;{$pages[PGE]}</a>
    {/if}
    {/if}   
    {/section}
    </td>
    <td width=100 align=center>
    {if $lastpage < $maxpage}
    <a href="shipdoc.php?&PHP_action=order_shiped_sub_search&PHP_sr_startno=n{$maxpage}{$back_str}">&nbsp;<img src="images/right2.gif" border=0 alt="後12筆資料"></a>
    {/if} 
    </td>

  </tr>
</table>

	</td>
</tr>
</table>
</form>
<!--------- footer ---------->
{include file="footer.html"}