<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM -B [ ORDER RECORD ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/open_detial.js"></script>
<Script language="javascript"> 
function cfm_revise(sub_date,inv_num,id,ver,back_str) {
	if ( confirm("are you sure to REVISE Ship document  ?\r\rEvery Revise event will  restart from beginning Again !\r\rBe sure this is OK for you!")) {
		location.href="shipdoc.php?PHP_action=revise_packing&PHP_id="+id+"&PHP_ver="+ver+"&PHP_inv_num="+inv_num+"&PHP_submit_date="+sub_date+back_str;
	} 
}

function check_etd(etd)
{
 if(!etd || etd == '0000-00-00')
 {
 	alert('Please input FV ETD first');
 	return false;
 }else{
  submit_ship.submit();
 }
}
</script>
{/literal}

</head>
<body>

<br>
<table cellspacing=1 cellpadding=4 cols=1 width=840 bgcolor=#333333>
	<tr>
	  <td class="sign" align=center width=90>
	   {if $shp.ver > 0 }
			[ <b>REVISE</b> ] : <b><i><span class=ylw10>{$shp.ver}</span></i></b>
	   {else}
			&nbsp;
	   {/if}
	  </td>
	  <td class="ylw10" align=center width=250><b> INV # :  {$shp.inv_num}</b></td>

	  <td class="des" align=center width=450><b> PACKING LIST </b></td>
	  <td class="ylw10" align=center width=200><b> 
			{if $shp.status == 0}wait P/L submit{/if}
			{if $shp.status == 1}<font color=red>P/L Reject</font>{/if}	
			{if $shp.status == 2}wait P/L CFM.{/if}						 						
			{if $shp.status == 4}wait inv. submit{/if}	
			{if $shp.status == 5}<font color=red>inv. Reject</font>{/if}						 
			{if $shp.status == 6}wait inv. CFM.{/if}
			{if $shp.status == 8}<b>CONFORMED</b>{/if}	  	
	  </b></td>
	  <td class="des" align=center width=50>
	   {if $shp.status == 4 || $shp.status == 5}
			<a href="javascript:cfm_revise('{$shp.submit_date }','{$shp.inv_num}','{$shp.id}','{$shp.ver}','{$back_str}')" value='revise' style='cursor:pointer'>
			<img src='./images/revise21.jpg' border=0 ALT="REVISE"></a>
	   {else}
		&nbsp;
	   {/if}
	  </td>
	  
	  
	</tr>
</table>
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=840 id='tbl_msg' {if $msg_YES} style="display : block" {else}style="display : none"{/if}>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy><div id='msg1'>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</div></td>
        
      </tr>
     </table>
<br>     

  <table border=0 cellspacing=1 cellpadding=1 width=840 bgcolor=#FFFFFF> 	
 	<tr>	
		{if $shp.status >= 4}
		<td class="frnt" align=right colspan=10>
			{if $shp.ord_cust == 'AB'}
			Customer form :
   		 <a href="shipdoc.php?PHP_action=ship_pack_ab_print&PHP_id={$shp.id}">
			<img src="./images/print9.gif" border=0 alt="PDF: SAVE/PRINT"></a>

			Customer form  TU2 :
   		 <a href="shipdoc.php?PHP_action=ship_ab2_print&PHP_id={$shp.id}">
			<img src="./images/print9.gif" border=0 alt="PDF: SAVE/PRINT"></a>
			TU1 :
   		 <a href="shipdoc.php?PHP_action=ship_ab1_print&PHP_id={$shp.id}">
			 <img src="./images/print9.gif" border=0 alt="PDF: SAVE/PRINT"></a>
			{elseif $shp.ord_cust == 'MN'}
			Customer form : 
   			 <a href="shipdoc.php?PHP_action=pack_mn_print&PHP_id={$shp.id}">
				<img src="./images/print9.gif" border=0 alt="PDF: SAVE/PRINT"></a>		
			{elseif $shp.ord_cust == 'DB'}	
			Customer form : 
   			 <a href="shipdoc.php?PHP_action=pack_db_print&PHP_id={$shp.id}">
				<img src="./images/print9.gif" border=0 alt="PDF: SAVE/PRINT"></a>	

			{elseif $shp.ord_cust == 'CT'}	
			Customer form : 
   		[Packing List
   			 <a href="shipdoc.php?PHP_action=pack_ct_print&PHP_id={$shp.id}">
				<img src="./images/print9.gif" border=0 alt="PDF: SAVE/PRINT"></a>	];
   		[Packing Slip
   			 <a href="shipdoc.php?PHP_action=pack_slip_ct_print&PHP_id={$shp.id}">
				<img src="./images/print9.gif" border=0 alt="PDF: SAVE/PRINT"></a>	];
				

			{elseif $shp.ord_cust == 'JG'}	
			Customer form : 
			[Cover Sheet: 
   			 <a href="shipdoc.php?PHP_action=pack_jg_print&PHP_id={$shp.id}">
				<img src="./images/print9.gif" border=0 alt="PDF: SAVE/PRINT"></a>	];

			[Order rec: 
   			 <a href="shipdoc.php?PHP_action=pack_jg2_print&PHP_id={$shp.id}">
				<img src="./images/print9.gif" border=0 alt="PDF: SAVE/PRINT"></a>	];

			[Packing List: 
   			 <a href="shipdoc.php?PHP_action=pack_jg3_print&PHP_id={$shp.id}">
				<img src="./images/print9.gif" border=0 alt="PDF: SAVE/PRINT"></a>	]
				&nbsp;
			{elseif $shp.ord_cust == 'TH'}	
			Customer form : 
   			 <a href="shipdoc.php?PHP_action=pack_th_print&PHP_id={$shp.id}">
				<img src="./images/print9.gif" border=0 alt="PDF: SAVE/PRINT"></a>	
			{elseif $shp.ord_cust == 'RE'}	
			Customer form : 
   			 <a href="shipdoc.php?PHP_action=pack_re_print&PHP_id={$shp.id}">
				<img src="./images/print9.gif" border=0 alt="PDF: SAVE/PRINT"></a>	
				
			{/if}
		</td>
	{/if} 
 </tr>
 
 	<tr>	
    <td class=snvy align=right  nowrap><b>Cust. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd>{$shp.ord_cust}</td> 
    <td class=snvy align=right  nowrap><b>Factory : </b></td>
    <td class=bgdy align=left bgcolor=#dddddd >{$shp.fty}</td>     
    <td class=snvy align=right  nowrap><b>FV ETD : </b></td>
    <form method=POST name=order_ship >
    <td class=bgdy align=left width=140 bgcolor=#dddddd >
    <div id="fv_etd_view" style="display:block;" >
    	{$shp.fv_etd}
    	{if $shp.status == 0 || $shp.status == 1}
    	<span style="cursor:hand" onClick="fv_etd.style.display='block';fv_etd_view.style.display='none'">&nbsp;&nbsp;<img src="images/Add.gif" alt="Edit" border=0 valign="bottom"> </span>
    	{/if}
    </div>
    <div id="fv_etd" style="display:none;" >    	
    	<input type='text' name="PHP_fv_etd" size=8 value="{$shp.fv_etd}" class=select>
    	<img align='top' onmousedown="javascript:Cal(document.order_ship.PHP_fv_etd,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand'>	
    	<input type='hidden' name="PHP_action" value="do_fv_etd_edit">	
    	<input type='hidden' name="PHP_id" value="{$shp.id}">	
    	<input type=submit  value="OK " class=select_e style="cursor:pointer; width=20%">	    	 	
    </div>
    </td>  
    </form>	
		{if $shp.status >= 4}
		<td class="frnt" align=right colspan=4>
   		Packing List :
   		 <a href="shipdoc.php?PHP_action=ship_pack_bar_print&PHP_id={$shp.id}">
			<img src="./images/print9.gif" border=0 alt="PDF: SAVE/PRINT"></a>

		</td>
	{else}
		<td class="frnt" align=right colspan=4 width=400>
   	&nbsp;
		</td>	
	{/if} 
 </tr>
</table>  



{section name=SEC loop=$shp_det}
{if $shp_det[SEC].tb_mk == 1}
	</table><br>
	<table border=1 cellspacing=1 cellpadding=1 width=840 id='ship_table_{$shp_det[SEC].ord_id}'>

  	<tr bgcolor=#C4C3AE height=25>
  		<td class=snvy align=center nowrap width=80 rowspan=2><b>Style#</b></td>
  		<td class=snvy align=center nowrap width=70 rowspan=2><b>P.O.#</b></td>
  		<td class=snvy align=center nowrap width=40 rowspan=2><b>BAR#</b></td>
  		<td class=snvy align=center nowrap width=40 rowspan=2><b>ROPE NO.</b></td>
  		<td class=snvy align=center nowrap width=75 rowspan=2><b>COLOR</b></td>
  		<td class=snvy align=center nowrap width=80 rowspan=2><b>ctn. ID</b></td>

			{section name=SEZ loop=$shp_det[SEC].size}
				<td class=snvy align=center rowspan=2>{$shp_det[SEC].size[SEZ]}</td>
			{/section}
  		<td class=snvy align=center nowrap  width=50 rowspan=2><b>Q'TY  </b> <BR>  IN PCS. <BR> PER CTN.</td>
  		<td class=snvy align=center nowrap  width=40><b>N.N.W.  </b></td>
  		<td class=snvy align=center nowrap  width=40><b>N.W.</b></td>
  		<td class=snvy align=center nowrap  width=40><b>G.W.</b></td>
  		<td class=snvy align=center nowrap  colspan=3 ><b>CTN SIZE ({$shp.unit})</b></td>
<!--  <td class=snvy align=center nowrap >ETA</td> -->
  	</tr>

  	<tr bgcolor=#C4C3AE height=25>
  		<td class=snvy align=center colspan=3>IN KGS. PER CTN.</td>
  		<td class=snvy align=center nowrap  width=40><b> L </b></td>
 		  <td class=snvy align=center nowrap  width=40><b> W </b></td>
  		<td class=snvy align=center nowrap  width=40><b> H </b></td>
<!--  <td class=snvy align=center nowrap >ETA</td> -->
  	</tr>  		
{/if}
{if $shp_det[SEC].f_mk == 1 || $shp_det[SEC].tb_mk == 1}
  <tr bgcolor="#FFFFFF" onmouseover="bgColor='#FCF4A4'" onmouseout="bgColor='#ffffff'">
  	<td class=snvy align=left>{$shp_det[SEC].style_num}&nbsp;</td>
  	<td class=snvy align=left>{$shp_det[SEC].cust_po}&nbsp;</td>
  	<td class=snvy align=center nowrap rowspan={$shp_det[SEC].row_span}>{$shp_det[SEC].ctn_mk}</td>
  	<td class=snvy align=center nowrap rowspan={$shp_det[SEC].row_span}>{$shp_det[SEC].cnt}</td>
  	<td class=snvy align=center>{$shp_det[SEC].color}</td>
  	<td class=snvy align=center>{$shp_det[SEC].ctn_id}&nbsp;</td>
	{section name=SZE loop=$shp_det[SEC].size}
		<td class=snvy align=right>
			{if $shp_det[SEC].size_qty[SZE] > 0}{$shp_det[SEC].size_qty[SZE]|number_format}{else}&nbsp;{/if}
		</td>
	{/section}
  <td class=snvy align=right rowspan={$shp_det[SEC].row_span}>{$shp_det[SEC].qty|number_format}</td>
  <td class=snvy align=right rowspan={$shp_det[SEC].row_span}>{if $shp_det[SEC].ctn_nnw > 0}{$shp_det[SEC].ctn_nnw|number_format:"2f"}{else}&nbsp;{/if}</td>
  <td class=snvy align=right rowspan={$shp_det[SEC].row_span}>{if $shp_det[SEC].ctn_nw > 0}{$shp_det[SEC].ctn_nw|number_format:"2f"}{else}&nbsp;{/if}</td>
  <td class=snvy align=right rowspan={$shp_det[SEC].row_span}>{if $shp_det[SEC].ctn_gw > 0}{$shp_det[SEC].ctn_gw|number_format:"2f"}{else}&nbsp;{/if}</td>
  <td class=snvy align=right rowspan={$shp_det[SEC].row_span}>{if $shp_det[SEC].ctn_l > 0}{$shp_det[SEC].ctn_l|number_format:"2f"}{else}&nbsp;{/if}</td>
  <td class=snvy align=right rowspan={$shp_det[SEC].row_span}>{if $shp_det[SEC].ctn_w > 0}{$shp_det[SEC].ctn_w|number_format:"2f"}{else}&nbsp;{/if}</td>
  <td class=snvy align=right rowspan={$shp_det[SEC].row_span}>{if $shp_det[SEC].ctn_h > 0}{$shp_det[SEC].ctn_h|number_format:"2f"}{else}&nbsp;{/if}</td>
  </tr>
{else}
  <tr bgcolor="#FFFFFF" onmouseover="bgColor='#FCF4A4'" onmouseout="bgColor='#ffffff'">
  	<td class=snvy align=left>{$shp_det[SEC].style_num}&nbsp;</td>
  	<td class=snvy align=left>{$shp_det[SEC].cust_po}&nbsp;</td>
  	<td class=snvy align=center>{$shp_det[SEC].color}</td>
  	<td class=snvy align=center>{$shp_det[SEC].ctn_id}&nbsp;</td>
	{section name=SZE loop=$shp_det[SEC].size}
		<td class=snvy align=right>
			{if $shp_det[SEC].size_qty[SZE] > 0}{$shp_det[SEC].size_qty[SZE]|number_format}{else}&nbsp;{/if}
		</td>
	{/section}
  </tr>
{/if}  
{/section}
	<tr>
		<td class=snvy align=right colspan={$amt.span}><b>&nbsp; GARND TOTAL &nbsp;</b></td>
		<td class=snvy align=right>{$amt.qty}</td>
		<td class=snvy align=right>{$amt.nnw}</td>
		<td class=snvy align=right>{$amt.nw}</td>
		<td class=snvy align=right>{$amt.gw}</td>
		<td class=snvy align=right colspan=3}><b>&nbsp;</b></td>
	</tr>
</table>

<BR>
{section name=SEC loop=$break}
{if $break[SEC].tb_mk == 1} 
  	<tr>
  		<td class=snvy align=center colspan=4 >GRAND TOTAL&nbsp;</td>
			{section name=SEZ loop=$break[SEC].g_size_qty}
				<td class=snvy align=right>{$break[SEC].g_size_qty[SEZ]}</td>
			{/section}
   		<td class=snvy align=right >{$break[SEC].g_qty}</td>
  	</tr>  
	</table>
	<BR>
{/if}
{if $break[SEC].tb_mk == 1 || $break[SEC].tb_mk == 2 || $break[SEC].tb_mk == 4 || $break[SEC].tb_mk == 5}
	<table border=1 cellspacing=1 cellpadding=1 width=840>
  	<tr bgcolor=#C4C3AE height=25>
  		<td class=snvy align=center nowrap width=80 rowspan=2><b>Style#</b></td>
  		<td class=snvy align=center nowrap width=70 rowspan=2><b>P.O.#</b></td>
  		<td class=snvy align=center nowrap width=40 rowspan=2><b>PO# PCS</b></td>
  		<td class=snvy align=center nowrap width=75 rowspan=2><b>COLOR</b></td>
  		<td class=snvy align=center nowrap colspan={$break[SEC].size_ct}><b>SIZE AND QUANTITIES</b></td>
  		<td class=snvy align=center nowrap width=75 rowspan=2><b>TOTAL</b></td>

  	</tr>
  	<tr bgcolor=#C4C3AE height=25>
			{section name=SEZ loop=$break[SEC].size}
				<td class=snvy align=center>{$break[SEC].size[SEZ]}</td>
			{/section}
		</tr>
{/if}
{if $break[SEC].ord_mk == 1}
  	<tr>
  		<td class=snvy align=right rowspan={$break[SEC].rowspan}>{$break[SEC].style_num}&nbsp;</td>
  		<td class=snvy align=right rowspan={$break[SEC].rowspan}>{$break[SEC].po_num}&nbsp;</td>
  		<td class=snvy align=right rowspan={$break[SEC].rowspan}>{$break[SEC].ord_qty}&nbsp;</td>
  		<td class=snvy align=right >{$break[SEC].color}&nbsp;</td>
			{section name=SEZ loop=$break[SEC].qty}
				<td class=snvy align=right>{$break[SEC].qty[SEZ]}</td>
			{/section}
   		<td class=snvy align=right >{$break[SEC].ttl_qty}</td>
  	</tr> 
{else}
  	<tr>
  		<td class=snvy align=right >{$break[SEC].color}&nbsp;</td>
			{section name=SEZ loop=$break[SEC].qty}
				<td class=snvy align=right>{$break[SEC].qty[SEZ]}</td>
			{/section}
   		<td class=snvy align=right >{$break[SEC].ttl_qty}</td>
  	</tr>  	
{/if} 
{if $break[SEC].tb_mk == 3 || $break[SEC].tb_mk == 4 || $break[SEC].tb_mk == 5} 
  	<tr>
  		<td class=snvy align=center colspan=4 >GRAND TOTAL&nbsp;</td>
			{section name=SEZ loop=$break[SEC].g_size_qty}
				<td class=snvy align=right>{$break[SEC].g_size_qty[SEZ]}</td>
			{/section}
   		<td class=snvy align=right >{$break[SEC].g_qty}</td>
  	</tr>  
	</table>
	<BR>
{/if}
{/section}



{if $shp_log.0.id}
	<table border=1 cellspacing=1 cellpadding=1 width=800 align=center>
	  <tr bgcolor=#666666 >
	   <td width=120 class=w10 align=center>DateTime</td>
	   <td width=600 class=w10 align=center>History records</td>
	   <td width=80 class=w10 align=center>by</td>
	  </tr>
	 {section name=SEC loop=$shp_log}
	  <tr bgcolor=#eeeeee >
	   <td class=gry9 align=center><small>{$shp_log[SEC].k_time}</small></td>
	   <td class=gry9 align=left>{$shp_log[SEC].des}</td>
	   <td class=gry9 align=center>{$shp_log[SEC].log_user}</td>
	  </tr>
	{/section}
	</table>
	<BR>
{/if}

<table border=0 cellspacing=0 cellpadding=2 width=800 bgcolor=#ffffff align=center>
	<tr>
		<td class=snvy align=center width=200>&nbsp;</td>
	  <td class=snvy align=center width=200> &nbsp;
	  	{if $shp.status > 4 && $shp.status <> 5}APV : <a href="javascript:message_out('{$shp.apv_id}')" style="cursor:pointer">{$shp.apv_user}</a>[{$shp.apv_date}]{/if}
	  </td>
	  <td class=snvy align=center width=200> &nbsp;
	  	{if $shp.status > 2 && $shp.status <> 5}CFM : <a href="javascript:message_out('{$shp.cfm_id}')" style="cursor:pointer">{$shp.cfm_user}</a>[{$shp.cfm_date}]{/if}
	  </td>
	  <td class=snvy align=center width=200> &nbsp;
	  	{if $shp.status > 0 && $shp.status <> 5}Submit :  <a href="javascript:message_out('{$shp.submit_id}')" style="cursor:pointer">{$shp.submit_user}</a>[{$shp.submit_date}]{/if} 
	  </td>
	</tr>
</table>


{if $done[0].id}
<hr SIZE=2 WIDTH=800>

	 <table width=800 border=1 cellspacing=1 cellpadding=1>
	 <tr bgcolor=#EACEBE height=25>	 
	    <td width=70 align=center><b>Download</b></td>	
	 	<td width=300 align=center><b>File name</b></td>
	 	<td width=350 align=center><b>Descript</b></td>	 	
	 </tr>
	 
		 {section name=SEC loop=$done}
	 <tr>	
		<td align=center valign=top>
		<a href="download.php?fname={$done[SEC].file_name}&fdir=shipdoc_file" title="{$done[SEC].file_name}" ><img src='./images/file2.gif' border=0 ALT="download pattern"></a>
		</td>  	
		<td class=snvy >{$done[SEC].file_name}</td>
		<td class=snvy>{$done[SEC].file_des}</td>
   </tr>
       {/section}
     
<!--     
   <tr>
   	<td colspan=4>
   		<form method=POST name=pattn enctype="multipart/form-data">    
  		<input type="hidden" name="PHP_action" value="upload_file">
			<input type="hidden" name="PHP_num" value="{$shp.inv_num}">
			<input type="hidden" name="PHP_back_str" value="{$back_str}">
			<input type="hidden" name="PHP_html" value="shipdoc_p_view">
			<input type="hidden" name="max_size" value="100000">
			<input type="hidden" name="PHP_id" value="{$shp.id}">&nbsp;		
			<input type='file' name='PHP_pttn' size=20 class=select>&nbsp;&nbsp;
			Descript : &nbsp;
			<input type='text' name='PHP_desp' size=40 class=select >&nbsp;&nbsp;
			<input type='submit' value='upload'>
	</form>
		</td>
	 </tr>
	 -->
  </table>
{/if}



<table border=0 cellspacing=0 cellpadding=2 width=800 bgcolor=#ffffff align=center>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>
	<td width=100>
	<form method=POST name=back>
		<input type=button onClick="window.location.href='shipdoc.php?PHP_action=packing_search{$back_str}'" value=" << go back " class=select_e style="cursor:pointer; width=99%"></form>
	</td>

	<td width=200>
{if $add_flag && ($shp.status == 0 || $shp.status == 1)}
	<form method=POST name=add_main>
  <input type=submit class=select_e value='EDIT' style="cursor:pointer; width=98%">	
	<input type=hidden class=select name='PHP_id' value='{$shp.id}'>
	<input type=hidden class=select name='PHP_action' value='shipdoc_pack_edit'>
	<input type=hidden class=select name='PHP_back_str' value='{$back_str}'>
	<input type=hidden class=select name='PHP_inv_num' value=''>	</form>
{/if}
	</td>
	<td width=200>
{if $add_flag && ($shp.status == 0 || $shp.status == 1)}	
	<form method=POST name=submit_ship>
  <input type=button class=select_e value='Submit' style="cursor:pointer; width=98%" onclick=check_etd({$shp.fv_etd})>	
	<input type=hidden class=select name='PHP_id' value='{$shp.id}'>
	<input type=hidden class=select name='PHP_action' value='packing_submit'>
	<input type=hidden class=select name='PHP_back_str' value='{$back_str}'>		
	<input type=hidden class=select name='PHP_inv_num' value='{$shp.inv_num}'>	
	</form>
{/if}
	</td>	
<!--	
	<td>
	<form method=POST name=add_main>
  <input type=submit class=select_e value='INVOICE' style="cursor:pointer; width=98%">	
	<input type=hidden class=select name='PHP_id' value='{$shp.id}'>
	<input type=hidden class=select name='PHP_inv_num' value=''>	
	<input type=hidden class=select name='PHP_action' value='shipdoc_i_view'>
	<input type=hidden class=select name='PHP_back_str' value='{$back_str}'>
	
	</form>
	</td>	
-->	
  </tr>

</table>

<!--------- footer ---------->
{include file="footer.html"}
