<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM -B [ ORDER RECORD ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/open_detial.js"></script>
<Script language="javascript"> 

</script>
{/literal}

</head>
<body>

<br>
<table cellspacing=1 cellpadding=4 cols=1 width=840 bgcolor=#333333>
	<tr>
	  <td class="ylw10" align=center width=250><b> INV # :  {$shp.inv_num}</b></td>

	  <td class="des" align=center width=550><b> UN-APPVROVAL  SHIPPING INVOICE  </b></td>
	  <td class="ylw10" align=center width=200><b> 
	  	{if $shp.status == 0}Wait for submit{/if} 
	  	{if $shp.status == 2}Wait for CFM{/if}
	  	{if $shp.status == 4}Wait for APV{/if}
	  	{if $shp.status == 6}APVD{/if}
	  	{if $shp.status == 5}Reject{/if}
	  </b></td>
	</tr>
</table>
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=840 id='tbl_msg' {if $msg_YES} style="display : block" {else}style="display : none"{/if}>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy><div id='msg1'>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</div></td>
        
      </tr>
     </table>
<br>     
  <table border=0 cellspacing=1 cellpadding=1 width=840 bgcolor=#FFFFFF> 	
 	<tr>	
    <td width=120 class=snvy align=right  nowrap><b>Invoice# :</b></td>
    <td width=100 class=bgdy align=left bgcolor=#dddddd>{$shp.inv_num}</td> 
    <td width=80  class=snvy align=right  nowrap><b>Date : </b></td>
    <td width=90  class=bgdy align=left bgcolor=#dddddd >{$shp.ship_date}</td>   

    <td width=100 class=snvy align=right  nowrap><b>Cust. :</b></td>
    <td width=100 class=bgdy align=left bgcolor=#dddddd>{$shp.ord_cust}</td> 
    <td width=30 class=snvy align=right  nowrap><b>FTY : </b></td>
    <td width=100 class=bgdy align=left bgcolor=#dddddd >{$shp.fty}</td>   
 </tr>   
 	<tr>	
    <td class=snvy align=right  nowrap><b>SHIP TERM :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd>{$shp.ship_term}</td> 
    <td class=snvy align=right ><b>SHIP VIA : </b></td>
    <td class=bgdy align=left bgcolor=#dddddd>{$shp.ship_via}</td>   
    <td class=snvy align=right nowrap><b>FROM : </b></td>
    <td class=bgdy align=left bgcolor=#dddddd>{$shp.ship_from}</td>
    <td class=snvy align=right nowrap><b>TO : </b></td>
    <td class=bgdy align=left bgcolor=#dddddd>{$shp.ship_to}</td>
 </tr> 

 	<tr>	
    <td class=snvy align=right  nowrap><b>Payment :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd>{$shp.payment}</td> 
    <td class=snvy align=right  nowrap><b>Marks & NO. :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd>{$shp.mark_no}</td> 
    <td class=snvy align=right  nowrap><b>Description :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3>{$shp.des}</td> 
 </tr> 
 	<tr>	
    <td class=snvy align=right  nowrap><b>FV :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3>{$shp.fv}</td> 
    <td class=snvy align=right  nowrap><b>ETD </b></td>
    <td class=bgdy align=left bgcolor=#dddddd>{$shp.fv_etd}</td> 
    <td class=snvy align=right  nowrap><b>ETA </b></td>
    <td class=bgdy align=left bgcolor=#dddddd >{$shp.fv_eta}</td> 
 </tr>  
 	<tr>	
    <td class=snvy align=right  nowrap><b>MV :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3>{$shp.mv}</td> 
    <td class=snvy align=right  nowrap><b>ETD </b></td>
    <td class=bgdy align=left bgcolor=#dddddd>{$shp.mv_etd}</td> 
    <td class=snvy align=right  nowrap><b>ETA </b></td>
    <td class=bgdy align=left bgcolor=#dddddd >{$shp.mv_eta}</td> 
 </tr> 
 	<tr>	
    <td class=snvy align=right  nowrap><b>L/C NO :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3>{$shp.lc_no}</td> 
    <td class=snvy align=right  nowrap><b>L/C BANK </b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=3>{$shp.lc_bank}</td>  
 </tr> 
 <tr>	
    <td class=snvy align=right  nowrap><b>CONSIGNEE :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=7>{$shp.consignee}</td>    
 </tr>
 <tr>	
    <td class=snvy align=right  nowrap><b>SHIP TO :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=7><b>{$shp.ship_addr1}</b> {$shp.ship_addr2}</td>    
 </tr>
 <tr>	
    <td class=snvy align=right  nowrap><b>BILL TO :</b></td>
    <td class=bgdy align=left bgcolor=#dddddd colspan=7><b>{$shp.bill_addr1}</b> {$shp.bill_addr2}</td>    
 </tr> 
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
</table> 




	<table border=1 cellspacing=1 cellpadding=1 width=840 id='ship_table_{$shp_det[SEC].ord_id}'>

  	<tr bgcolor=#C4C3AE height=25>
  		<td class=snvy align=center nowrap width=100 ><b>Content#</b></td>
  		<td class=snvy align=center nowrap width=100 ><b>Style#</b></td>
  		<td class=snvy align=center nowrap width=100 ><b>P.O.#</b></td>
  		<td class=snvy align=center nowrap width=100 ><b>COLOR</b></td>
  		<td class=snvy align=center nowrap width=100 ><b>Description</b></td>
  		<td class=snvy align=center nowrap width=80 ><b>Q'TY</b></td>
  		<td class=snvy align=center nowrap width=80 ><b>PRICE</b></td>
  		<td class=snvy align=center nowrap width=100 ><b>AMOUNT</b></td>
  	</tr>  		
{section name=SEC loop=$shp_det}
  <tr bgcolor="#FFFFFF" onmouseover="bgColor='#FCF4A4'" onmouseout="bgColor='#ffffff'">
  {if $shp_det[SEC].tb_mk == 1}
  	<td class=snvy align=left rowspan={$shp_det[SEC].span}>{$shp_det[SEC].content}&nbsp;</td>
  	<td class=snvy align=left rowspan={$shp_det[SEC].span}>{$shp_det[SEC].style_num}&nbsp;</td>
  	<td class=snvy align=left rowspan={$shp_det[SEC].span}>{$shp_det[SEC].cust_po}&nbsp;</td>
  {/if}
  	<td class=snvy align=left>{$shp_det[SEC].color}</td>
  	<td class=snvy align=left>{$shp_det[SEC].des}&nbsp;</td>
  	<td class=snvy align=right nowrap>{$shp_det[SEC].bk_qty|number_format} pcs</td>
  	<td class=snvy align=right nowrap>$ {$shp_det[SEC].uprice|number_format:"2f"}/pc</td>
 	 	<td class=snvy align=right nowrap>US$ {$shp_det[SEC].amount|number_format:"2f"}</td>
  </tr>
{/section}

{section name=SEC loop=$shp_det}
  {if $shp_det[SEC].tb_mk == 1 && $shp_det[SEC].quota_amt > 0}
  <tr bgcolor="#FFFFFF" onmouseover="bgColor='#FCF4A4'" onmouseout="bgColor='#ffffff'">
  	<td class=snvy align=left colspan=5>QUOTA CHARGE :( PO NO. {$shp_det[SEC].cust_po} )</td>  
  	<td class=snvy align=right nowrap>{$shp_det[SEC].f_qty|number_format} pcs</td>
  	<td class=snvy align=right nowrap>$ {$shp_det[SEC].ship_quota|number_format:"2f"}/pc</td>
 	 	<td class=snvy align=right nowrap>US$ {$shp_det[SEC].quota_amt|number_format:"2f"}</td>

  </tr>
	{/if}  
{/section}
  <tr bgcolor="#FFFFFF" onmouseover="bgColor='#FCF4A4'" onmouseout="bgColor='#ffffff'">
  	<td class=snvy align=left colspan=5>&nbsp;<b> TOTAL : </b></td>
  	<td class=snvy align=right nowrap>{$amt.qty|number_format} pcs</td>
  	<td class=snvy align=right nowrap>&nbsp;</td>
 	 	<td class=snvy align=right nowrap>US$ {$amt.amount|number_format:"2f"}</td>
  </tr>
  <tr bgcolor="#FFFFFF" onmouseover="bgColor='#FCF4A4'" onmouseout="bgColor='#ffffff'">
  	<td class=snvy align=left colspan=8><b>&nbsp;SAY US DOLLARS {$amt.eng_amount}</b> </td>

  </tr>
</table>
<br>
<table border=0 cellspacing=1 cellpadding=1 width=840 >
	{if $shp.fty_det}
  <tr>
  	<td width=100 >&nbsp;</td>
  	<td class=snvy align=left><b>&nbsp;MANUFACTURER NAME & ADDRESS : </b> </td>
  </tr>	
  <tr>
  	<td width=100 >&nbsp;</td>
  	<td class=b10 align=left>{$shp.fty_det}  </td>
  </tr>  
  {/if}
	{if $shp.ship_det}
  <tr>
  	<td width=100 >&nbsp;</td>
  	<td class=snvy align=left><b>&nbsp;SHIPPER FULL NAME & ADDRESS :</b> </td>
  </tr>	
  <tr>
  	<td width=100 >&nbsp;</td>
  	<td class=b10 align=left>{$shp.ship_det}  </td>
  </tr>  
  {/if}  
	{if $shp.benf_det}
  <tr>
  	<td width=100 >&nbsp;</td>
  	<td class=snvy align=left><b>&nbsp;BENEFICIARY ACCOUNT DETAIL AS BELOW :</b> </td>
  </tr>	
  <tr>
  	<td width=100 >&nbsp;</td>
  	<td class=b10 align=left>{$shp.benf_det}  </td>
  </tr>  
  {/if}   
</table>

<table border=0 cellspacing=0 cellpadding=2 width=800 bgcolor=#ffffff align=center>
	<tr>
		<td class=snvy align=center width=200>&nbsp;</td>
	  <td class=snvy align=center width=200> &nbsp;
	  	{if $shp.status > 4 && $shp.status <> 5}APV : <a href="javascript:message_out('{$shp.apv_id}')" style="cursor:pointer">{$shp.apv_user}</a>[{$shp.apv_date}]{/if}
	  </td>
	  <td class=snvy align=center width=200> &nbsp;
	  	{if $shp.status > 2 && $shp.status <> 5}CFM : <a href="javascript:message_out('{$shp.cfm_id}')" style="cursor:pointer">{$shp.cfm_user}</a>[{$shp.cfm_date}]{/if}
	  </td>
	  <td class=snvy align=center width=200> &nbsp;
	  	{if $shp.status > 0 && $shp.status <> 5}Submit :  <a href="javascript:message_out('{$shp.submit_id}')" style="cursor:pointer">{$shp.submit_user}</a>[{$shp.submit_date}]{/if} 
	  </td>
	</tr>
</table>

<table border=0 cellspacing=0 cellpadding=2 width=830 bgcolor=#ffffff align=center>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>
	<td width=90>
{if $back_str}
	<form method=POST name=back>
		<input type=button onClick="window.location.href='shipdoc.php?PHP_action=apv_shipdoc_search{$back_str}'" value=" << go back " class=select_e style="cursor:pointer; width=75; height=40"></form>
{/if}
	</td>

	<td width=85>

{if $add_flag}
	<form method=POST name=add_main>
  <input type=submit class=select_e value='APV' style="cursor:pointer; width=98%; height=40">	
	<input type=hidden class=select name='PHP_id' value='{$shp.id}'>
	<input type=hidden class=select name='PHP_action' value='do_shipdoc_apv'>
	<input type=hidden class=select name='PHP_back_str' value='{$back_str}'>
	<input type=hidden class=select name='PHP_inv_num' value='{$shp.inv_num}'>	</form>
{/if}
	</td>
{if $add_flag}
	
	<td class=gry10 align=right valign=middle width=50>remark:</td>
	<td class=gry10 valign=top width=400 ><form method=POST name=reject>
	    <textarea name="PHP_detail" rows=2 cols=50 class=select>{$order_log.des}</textarea>
			<input type="hidden" name="PHP_action" value="reject_shipdoc_apv">
			<input type=hidden class=select name='PHP_id' value='{$shp.id}'>
			<input type=hidden class=select name='PHP_back_str' value='{$back_str}'>
			<input type=hidden class=select name='PHP_inv_num' value='{$shp.inv_num}'>
			<input type=submit value=" reject " class=select_e style="cursor:pointer; width=60; height=40" onClick=this.width=0;></form>
	</td>

{/if}	
	
	<td>
	<form method=POST name=add_main width=150>
  <input type=submit class=select_e value='PACKING LIST' style="cursor:pointer; width=98%; height=40">	
	<input type=hidden class=select name='PHP_id' value='{$shp.id}'>
	<input type=hidden class=select name='PHP_inv_num' value='{$shp.inv_num}'>	
	<input type=hidden class=select name='PHP_action' value='apv_shipdoc_p_view'>
	<input type=hidden class=select name='PHP_back_str' value='{$back_str}'>
	
	</form>
	</td>	
  </tr>

</table>
<!--------- footer ---------->
{include file="footer.html"}
