<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>===:::::::::: SCM SYSTEM ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<Script language="javascript">

</script>

{/literal}
</head>
<body >
<br>
<table cellspacing=1 cellpadding=4 cols=1 width=600 bgcolor=#003300>
	<tr>
		<td class="ylw10" align=center width=400 height=28><b>SAMPLE SHIPPING </b> </td>
		<td class="ylw10" align=right  width=200 height=28>{if $shp.status == 0}wait for submit{/if}
																											 {if $shp.status >= 2}submitted{/if}</td>
	</tr>
</table>
<table border=1 cellpadding=4 cellspacing=0 cols=1 width=600 id='tbl_msg' {if $msg_YES} style="display : block" {else}style="display : none"{/if}>
	<tr bgcolor=#ffffff> 
		<td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
		<td class=bgdy><div id='msg1'>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</div></td>
	</tr>
</table>
			<table border=0 cellspacing=1 cellpadding=3 width="600" bgcolor=#FFFFFF>
				<tr>
					<td class=snvy align=left ><b>SHIP# :&nbsp; {$shp.ship_num}</b></td>

					<td class=snvy align=left ><b>From :&nbsp; {$shp.dept}</b></td>
					<td class=snvy align=left ><b>TO :&nbsp; {$shp.ship_to}</b></td>
					<td nowrap width=50 align=center class=back>
					{if $shp.status >= 2 }
						<a href="smpl_ship.php?PHP_action=s_ship_print&PHP_id={$shp.id}" >
						<img src="./images/print9.gif" border=0 alt="PDF: SAVE/PRINT"></a>
						{else}&nbsp;{/if}
					</td>	
				</tr>
			</table>


<hr SIZE=2 WIDTH=600>


<table border="1" cellspacing=0 cellpadding=2 width=600 id="mat_table" bgColor='#000000'>	
	<tr bgcolor="#003333" height=28>
		<td width="100" class=back align="center"><b>Sample #</b></td>		
		<td width="100" class=back align="center"><b>style#</b></td>		
		<td width="50" class=back align="center"><b>style</b></td>		
		<td width="80" class=back align="center"><b>size</b></td>
		<td width="80" class=back align="center"><b>qty</b></td>
	</tr>
	
	<tr></tr>
	{section name=SEC loop=$shp_det} 
	<tr bgColor='#ffffff'>
		<td  align="center" nowrap>&nbsp;{$shp_det[SEC].smpl_num}</td>
		<td  align="center" nowrap>&nbsp;{$shp_det[SEC].ref}</td>
		<td  align="center" nowrap>&nbsp;{$shp_det[SEC].style}</td>
		<td  align="center" nowrap>&nbsp;{$shp_det[SEC].size}</td>
		<td  align="center" nowrap>&nbsp;{$shp_det[SEC].ship_qty}</td>

	</tr>	
	{/section}
</table>

<table border="0" cellspacing=0 cellpadding=2 width=600 id="table2">	
	<tr>
		<td width="160" class=snvy align="Right">Submit : </td>
		<td width="170"  class=frnt align="left"><small>&nbsp;{if $shp.sub_date > '0000-00-00'}<a href="javascript:message_out('{$shp.sub_user_id}')" style="cursor:pointer">{$shp.sub_user}</a>&nbsp;/&nbsp;{$shp.sub_date}{else}NO{/if}</small></td>
		<td width="100"  class=snvy align="left">Apply by : </td>
		<td width="170"  class=frnt align="left"><small><a href="javascript:message_out('{$shp.open_user_id}')" style="cursor:pointer">{$shp.open_user}</a>&nbsp;/&nbsp;{$shp.open_date}</small></td>

	</tr>
</table> 

<hr SIZE=2 WIDTH=600>
<table border=0 cellspacing=0 cellpadding=0 cols=2 width=600>
	<tr>
		<td>
		<form METHOD="POST" name="ship_edit" action="{$PHP_SELF}">
		<input type=button onClick="window.location.href='smpl_ship.php?PHP_action=s_ship_list'" value=" << go back " class=select_e style="cursor:pointer; width=80%">
		</form>
		</td>
		<td width=250>
		{if $shp.status == 0}	
		<form METHOD="POST" name="ship_edit" action="{$PHP_SELF}">
			<input type=submit value="[ SUBMIT ]" class=select_e style="cursor:pointer; width=98%"  >
	  	<input type=hidden name="PHP_id" value="{$shp.id}">	  	
			<input type=hidden name="PHP_action" value="s_ship_submit">
		</form>
		{/if}
		</td>	
		<td width=200>
		{if $shp.status == 0}		
		<form METHOD="POST" name="ship_edit" action="{$PHP_SELF}">
			<input type=submit value="[ EDIT ]" class=select_e style="cursor:pointer; width=98%"  >
	  	<input type=hidden name="PHP_id" value="{$shp.id}">	  	
			<input type=hidden name="PHP_action" value="s_ship_edit">
		</form>
		{/if}
		</td>
	
	</tr>
</table>

<!--------- footer ---------->
{include file="footer.html"}