<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<title>===:::::::::: SCM -B [ ORDER RECORD ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/col.js"></script>
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script language="javascript" src="./js/open_detial.js"></script>
<script type="text/javascript" src="./js/pngfix.js"></script>
<script type="text/javascript" src="./js/marker.js"></script>
<script language="javascript" src="./text-utils.js"> </script>
<script type="text/javascript" src="./js/build/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="./js/build/connection/connection-min.js"></script>
<script language="javascript">

var request = null;

function pttn_schedule(id, num,back_str) {
//alert "here!!!";
	var pttn = '';
		pttn = window.document.forms['ptn_etf'].elements['PHP_pttn'].value;
		
	if ( confirm("confirm pattern Estimate Finish date of #[ "+num+" ] is : "+pttn+" ??")) {
		location.href="index2.php?PHP_action=edit_smpl_pttn_schd&PHP_id="+id+"&PHP_num="+num+"&PHP_pttn_date="+pttn;
	} 
}
 
 
function smpl_schedule2(id, num,back_str) {
	var smpl_date = ''; pm =''; pd='';
		smpl_date = window.document.forms['smpl_etf'].elements['PHP_smpl_date'].value;		

	if ( confirm("confirm Sample Estimate Finish date of #[ "+num+" ] is : "+smpl_date+" ??")) {
		location.href="index2.php?PHP_action=edit_smpl_smpl_schd&PHP_id="+id+"&PHP_num="+num+"&PHP_smpl_date="+smpl_date;
	} 
}


function createRequest() {
	 try {
		 request = new XMLHttpRequest();
	 } catch (trymicrosoft) {
		 try {
			 request = new ActiveXObject("Msxml2.XMLHTTP");
		 } catch (othermicrosoft) {
			try {
				request = new ActiveXObject("Microsoft.XMLHTTP");
			} catch (failed) {
				request = null;
			}
		}
	}
	if (request == null)  alert("Error creating request object!");
}

function pttn_resend_ajax(id, num,back_str) {
  createRequest();
  var url = "index2.php?PHP_action=pttn_resend&PHP_id="+id+"&PHP_num="+num;

  request.open("GET", url, true);
  request.onreadystatechange = pttn_resend_updatepage;
  request.send(null);
}

function sample_schedule3(id, num,back_str) {
//alert "here!!!";

	var smpl = '';
		smpl = window.document.forms['smpl_etf'].elements['PHP_smpl'].value;
	if ( confirm("confirm sample Estimate Finish date of #[ "+num+" ] is : "+smpl+" ??")) {
		location.href="index2.php?PHP_action=edit_smpl_smpl_schd&PHP_id="+id+"&PHP_num="+num+"&PHP_smpl_date="+smpl;
	} 

}
function pttn_resend_updatepage() {
	if (request.readyState == 4) {
		var order = request.responseText;
		var order = request.responseArray;
		//alert(order);
    var space = " ";
	
		var resendE1 = document.getElementById("resend");
		var up1 = document.getElementById("up1");
		var up2 = document.getElementById("up2");
		replaceText(resendE1, space);
		replaceText(up2, space);
		replaceText(up1, space);
	}
}

function pttn_resend(id, num,back_str) {
	if ( confirm("resend this style's pattern ? ")) {
		cgistr="&cgiget={/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}";

		location.href="index2.php?PHP_action=pttn_resend&PHP_id="+id+"&PHP_num="+num+cgistr+back_str;
	} 
}

function re_marker(id, num,back_str) {
	if ( confirm("resend this style's MARKER ? ")) {
		cgistr="&cgiget={/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}";

		location.href="index2.php?PHP_action=marker_resend&PHP_id="+id+"&PHP_num="+num+cgistr+back_str;
	} 
}

function down_pttn(id, num,back_str) {
	if ( confirm("download this style pattern file?")) {
		cgiget="{/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}";
		location.href="./smpl_pttn/"+num+".mdl";
//		location.href="index2.php?PHP_action=smpl_pttn_download&PHP_id="+id+"&PHP_num="+num;
	} 
}

function smpl_schedule(id, num,back_str) {
//alert "here!!!";
	var py = ''; pm =''; pd='';
		py = window.document.forms['smpl'].elements['PHP_smpl_year'].value;
		pm = window.document.forms['smpl'].elements['PHP_smpl_month'].value;
		pd = window.document.forms['smpl'].elements['PHP_smpl_day'].value;

	if ( confirm("confirm Sample Estimate Finish date of #[ "+num+" ] is : "+py+"-"+pm+"-"+pd+" ??")) {
		cgiget="{/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}";
		location.href="index2.php?PHP_action=smpl_smpl_schd&PHP_id="+id+"&PHP_num="+num+"&PHP_year="+py+"&PHP_month="+pm+"&PHP_day="+pd+"&PHP_back="+cgiget+back_str;
	}
}

function smpl_case_close(id, num,back_str) {
//alert "here!!!";
	if ( confirm("are you sure to close this sample case ?")) {
		cgistr="&cgiget={/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}";

		location.href="index2.php?PHP_action=smpl_case_close&PHP_id="+id+"&PHP_num="+num+cgistr+back_str;
	} 
}

function Show_ord(id,ord_num) {
	 var url ='index2.php?PHP_action=order_view&PHP_id='+id+'&cgiget=&cgino=&cgi_1=&cgi_2=&cgi_3=&cgi_4=&cgi_5=&PHP_ord_num='+ord_num; 	
	 var nm = 'Order';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=600 top=50, left=100');
}

function Show_ord_wi(id) {
	 var url ='index2.php?PHP_action=smpl_wi_view&PHP_ex_order=1&PHP_id='+id+'&PHP_sr=&PHP_dept_code=&PHP_num=&PHP_cust=&PHP_ref=&PHP_factory=&PHP_etdstr=&PHP_etdfsh='; 	
	 var nm = 'Sworking';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=600 top=50, left=100');
}

function Show_ord_ti(id) {
	 var url ='index2.php?PHP_action=smpl_wi_view&PHP_ex_order=1&PHP_ti=1&PHP_id='+id+'&PHP_sr=&PHP_dept_code=&PHP_num=&PHP_cust=&PHP_ref=&PHP_factory=&PHP_etdstr=&PHP_etdfsh='; 	
	 var nm = 'Sworking';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=600 top=50, left=100');
}

function Show_ord_bom(id) {
	 var url ='index2.php?PHP_action=smpl_bom_view&PHP_ex_order=1&PHP_id='+id+'&PHP_sr=&PHP_dept_code=&PHP_etdstr=&PHP_cust=&PHP_wi_num=&PHP_etdfsh='; 	
	 var nm = 'Sworking';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=600 top=50, left=100');
}

function message_out(user_id) {
	 var url ='notify.php?PHP_action=message_send&PHP_user_id='+user_id;
	 var nm = 'message';
	 window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=700,height=500 top=50, left=100');
}

function down_marker2(id, num) {

	if ( confirm("download this style MARKER file?")) {
		cgiget="{/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}&cgi_6={/literal}{$cgi.op_str}{literal}&cgi_7={/literal}{$cgi.op_fsh}{literal}&cgi_8={/literal}{$cgi.wi}{literal}&cgi_9={/literal}{$cgi.close}{literal}&cgi_10={/literal}{$cgi.pend}{literal}";
		location.href="index2.php?PHP_action=smpl_marker_download&PHP_id="+id+"&PHP_num="+num;
	} 
}

function Show_smpl_out(smpl_num) {
	 var url ="index2.php?PHP_action=smpl_output_view&PHP_smpl_num="+smpl_num+"&PHP_old_ver=1";
	 var nm = 'sample';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=600 top=50, left=100');
} 
</script>

{/literal}

<body>
<div id="marker_out" style="position:absolute; z-index:1;width:10; filter:revealTrans(duration=0.3); visibility:hidden;filter: alpha(opacity=90);"> 
<span id="m_div1"></span>
</div>
<br>
<table cellspacing=1 cellpadding=4 cols=1 width=720 bgcolor=#333333>
   <tr>
	 <td class="des" align=center height=28> [ <b>SAMPLE ORDER # {$order.num}</b> ] </td>
	<td class="ylw10" align=center height=28 width=250>status:<b> {if $order.status == 0}W/I expect
									{elseif $order.status == 1}<span class=ssign>PTTN. expect</span>
									{elseif $order.status == 2}<span class=ssign>FAB. expect</span>
									{elseif $order.status == 3}<span class=ssign>ACC. expect</span>
									{elseif $order.status == 4}<span class=lgrn>PTTN schdle</span>
									{elseif $order.status == 5}<span class=lgrn>SMPL schdle</span>
									{elseif $order.status == 6}<span class=grn9>DEVELOPING</span>
									{elseif $order.status == 7}<span class=ssign>* PENDING *</span>
									{elseif $order.status == 10}<span class=des>= case close =</span>
									{else}&nbsp;{/if}</b></td>
   </tr>
</table>
{if $msg_YES}
     <table border=1 cellpadding=1 cellspacing=0 cols=1 width=720>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
<table border=0 cellspacing=1 cellpadding=3 width=720 bgcolor=#FFFFFF>
   <tr>
       <td align=center class=head valign=top rowspan=8>
		<table width=110 border=1 cellspacing=0 cellpadding=1>
			<tr>
        <td align=center><input type="image" src="{$main_pic}" name="pic" {if $height == 1}height=150{else}width=110{/if} border="0" {if $main_pic 
          
          <> 'http://scm-b.carnival.com.tw/images/graydot.gif'}onclick='window.open2("{$main_pic}","","resizable=yes,height=480,width=640")'{/if}></td>
			  </tr>
		</table>	</td>
    <td colspan=6 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
 <tr>
    <td class=snvy align=right nowrap width=80><b>S-Order # :</b></td>
    <td class=bgdy align=left width=100><b>{$order.num}</b></td>
    <td class=snvy align=right nowrap width=90><b>Customer :</b></td>
			<input type="hidden" name="PHP_cust" value="{$cust_id}">
    <td class=bgdy align=left width=90><b>{$order.cust_iname}</b></td>
	<td class=snvy align=right nowrap width=90><b>work Team :</b></td>
			<input type="hidden" name="PHP_dept" value="{$dept_id}">
    <td class=bgdy align=left width=90><b>{$order.dept}</b></td>
 </tr>
 <tr>
    <td class=snvy align=right nowrap><b>smpl type :</b></td>
    <td class=bgdy align=left><b>{$order.smpl_type}</b></td>
    <td class=snvy align=right nowrap><b>style # :</b></td>
	<td class=bgdy align=left><small>{$order.ref}</small></td>
    <td class=snvy align=right nowrap><b>style cat. :</b></td>
    <td class=bgdy align=left><b>{$order.style_cat}</b></td>
 </tr>
 <tr>
    <td class=snvy align=right nowrap><b>ETD :</b></td>
	<td class=bgdy align=left><b>{$order.etd}</b></td>
    <td class=snvy align=right nowrap><b>style type :</b></td>
    <td class=bgdy align=left><b>{$order.style}</b></td>
    <td class=snvy align=right nowrap><b>IE :</b></td>
    <td class=b9 align=left><b>{$order.ie}</b></td>
  </tr>
  <tr>
    <td colspan=6 class=frnt align=center><hr size=2 width=98%></td>
  </tr>

  <tr bgcolor=#cccccc>
    <td class=snvy bgcolor=#ffffff>&nbsp;</td>
	<td class=b9 align=center><b>ETA</b></td>
	<td class=b9 align=center><b>RECEIVED</b></td>
    <td class=snvy bgcolor=#ffffff>&nbsp;</td>
	<td class=b9 align=center><b>ETA</b></td>
	<td class=b9 align=center><b>RECEIVED</b></td>
  </tr>

  <tr bgcolor=#eeeeee>
    <td class=snvy align=right nowrap bgcolor=#cccccc><b>cust. pattn. :</b></td>
	<td class=bgdy align=center><b>{if $order.pttn_suppt}{if $order.peta <> '0000-00-00'}{$order.peta}{else}N/A{/if}{else}<span class=b9>not support</span>{/if}</b></td>
	<td class=b9 align=center><b>{if $order.pttn_suppt}{if $order.rcvd_pttn <> '0000-00-00'}{$order.rcvd_pttn}{else}N/A{/if}{else}<span class=b9>no need</span>{/if}</b></td>
    <td class=snvy align=right nowrap bgcolor=#cccccc><b>Fabric :</b></td>
	<td class=b9 align=center><b>{if $order.fab_substu}substitude{else}{if $order.feta <> '0000-00-00'}{$order.feta}{else}<span class=bgdy9><b>N/A</b></span>{/if}{/if}</b></td>
	<td class=b9 align=center><b>{if $order.fab_substu}substitude{else}{if $order.rcvd_fab <> '0000-00-00'}{$order.rcvd_fab}{else}<span class=bgdy9><b>N/A</b></span>{/if}{/if}</b></td>
  </tr>
  <tr bgcolor=#eeeeee>
    <td class=snvy align=right nowrap bgcolor=#cccccc><b>W / I : </b></td>
	<td class=bgdy align=center colspan=2><b>
	{if $order.wi_date <> '0000-00-00'}
		{if $order.wi_id}
	         <a href="javascript:Show_ord_wi('{$order.wi_id}')" value='ord_out' style='cursor:pointer'>{$order.wi_date}</a>
		{else}
			{$order.wi_date}
		{/if}
	{else}N/A{/if}</b></td>
	<!--<td class=b9 align=center><b>&nbsp;maker : <span class=ssign>{$order.factory}&nbsp;</b></td>-->
    <td class=snvy align=right nowrap bgcolor=#cccccc><b>Accessory :</b></td>
	<td class=b9 align=center><b>{if $order.acc_substu}substitude{else}{if $order.aeta <> '0000-00-00'}{$order.aeta}{else}<span class=bgdy9><b>N/A</b></span>{/if}{/if}</b></td>
	<td class=b9 align=center><b>{if $order.acc_substu}substitude{else}{if $order.rcvd_acc <> '0000-00-00'}{$order.rcvd_acc}{else}<span class=bgdy9><b>N/A</b></span>{/if}{/if}</b></td>
  </tr>

  <tr>
    <td colspan=7 class=frnt align=center><hr size=2 width=98%></td>
  </tr>

  <tr bgcolor=#eeeeee>
	
    <td class=snvy align=right bgcolor=#cccccc><b>Marker : </b></td>
		<form method=POST name=smpl_fty >
		<td class=snvy colspan=3>
			{if $edit_flag and $order.status < 7}
	  		<input type="hidden" name="PHP_action" value="update_smpl_fty">
				<input type="hidden" name="PHP_num" value="{$order.num}">
				<input type="hidden" name="PHP_back_str" value="{$back_str}">
				<input type="hidden" name="PHP_id" value="{$order.id}">
				{$fty_select}
				<input type='submit' value='Update'>
			{else} 
				<b>{$order.factory}</b>
			{/if}		
		</td>
		</form>
		<form method=POST name=ptn_etf>
		<td class=snvy align=right bgcolor=#cccccc>
			<b>Pattern - ETF : </b>
		</td>
    <td class=ssign align=left bgcolor=#eeeeee colspan=2>

            {if $order.schd_pttn <> '0000-00-00'}<b>{$order.schd_pttn}</b>{else}
	   		<img align='top' onmousedown="javascript:Cal(document.ptn_etf.PHP_pttn,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand'>
	   		<input type="text" name="PHP_pttn" size="15" class=select value={if $order.schd_pttn=='0000-00-00'} {else}{$order.schd_pttn}{/if} readonly> 	   
	  		&nbsp;<a href="javascript:pttn_schedule({$order.id},'{$order.num}','{$sub_back_str}')" value='pttn' style='cursor:pointer'>
	  		<img src='./images/ok01.gif' border=0 ALT="send schedule"></a>
			{/if}
		</td>
		</form> 
 
  </tr>

  
  <!--   pattern 處理 -->
  <tr bgcolor=#eeeeee>
	
    <td class=snvy align=right bgcolor=#cccccc><b>pattern : </b></td>
		<form method=POST name=pattn enctype="multipart/form-data">
		<td class=snvy colspan=3>
		{if $add_flag and $order.done_pttn eq '0000-00-00' and $order.status < 7}
	  <input type="hidden" name="PHP_action" value="upload_smpl_pattern">
		<input type="hidden" name="PHP_num" value="{$order.num}">
		<input type="hidden" name="PHP_back_str" value="{$back_str}">
		<input type="hidden" name="PHP_id" value="{$order.id}">
		<input type='file' name='PHP_pttn' size=20 class=select>&nbsp;&nbsp;
		<input type='submit' value='upload'>
		{else} 
    {if $order.done_pttn <> '0000-00-00'}&nbsp;&nbsp;<a href="javascript:down_pttn({$order.id},'{$order.num}','{$sub_back_str}')" value='smpl' style='cursor:pointer'><img src='./images/file2.gif' border=0 ALT="download pattern"></a> on :
		<b>{$order.done_pttn}&nbsp;&nbsp;{else}<b>no pattern upload</b>{/if}
        {if $edit_flag and $order.status < 7}<a href="javascript:pttn_resend({$order.id},'{$order.num}','{$sub_back_str}')" value='re_pttn' style='cursor:pointer'>Resend</a>{else}&nbsp;{/if}</b>
		{/if}		</td>
		</form>

		<form method=POST name=smpl_etf>
		<td class=snvy align=right bgcolor=#cccccc>
			<b>Sample - ETF : </b></td>
			<td class=ssign align=left colspan=2>
				<!-- <b>{if $order.schd_smpl <> '0000-00-00'}{$order.schd_smpl}{else}N/A{/if}</b> -->
				<b>
					{if $order.schd_smpl <> '0000-00-00'}
						{$order.schd_smpl}
					{else}
						<img align='top' onmousedown="javascript:Cal(document.smpl_etf.PHP_smpl,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand'>
						<input type="text" name="PHP_smpl" size="15" class=select value={if $order.schd_smpl=='0000-00-00'} {else}{$order.schd_smpl}{/if}> 
						&nbsp;<a href="javascript:sample_schedule3({$order.id},'{$order.num}','{$sub_back_str}')" value='smpl-etf' style='cursor:pointer'>
						<img src='./images/ok01.gif' border=0 ALT="send schedule"></a>
					{/if}
				</b>
			</td>
		</form>		
	</tr>
   
   
  <!--   sample  處理 -->
   <tr bgcolor=#eeeeee>
	 

	<td class=snvy align=right bgcolor=#cccccc>
		<b>Sample completed : </b></td>
	<form method=POST name=smpl>
	<td class=snvy align=left colspan=6>
	{if $add_flag and $order.status < 7}
 		<input type="hidden" name="PHP_action" value="smpl_complete">
		<input type="hidden" name="PHP_num" value="{$order.num}">
		<input type="hidden" name="PHP_factory" value="{$order.factory}">
		<input type="hidden" name="PHP_back_str" value="{$back_str}">
		<input type="hidden" name="PHP_id" value="{$order.id}">
		{$line_select}
		{if $line_select == ''}<input type="hidden" name="PHP_line" value="">{/if}
		<input type='text' name='PHP_qty' size=9 class=select style='text-align:center'>&nbsp;{$order.unit}
		<input type='submit' value='done today'>
		{else} 
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<b>{$order.qty_done}&nbsp;{$order.unit}</b>
		{/if}		</td>
		</form>
		

  </tr>

  <tr>
    <td colspan=7 class=frnt align=center><hr size=2 width=98%></td>
  </tr>

   <tr bgcolor=#eeeeee>
    <td class=snvy align=right nowrap bgcolor=#cccccc><b>required Q'ty : </b></td>
    <td class=snvy align=left nowrap colspan=3>&nbsp;&nbsp;<span class=bgdy><b>&nbsp;&nbsp;{$order.rq}</b>&nbsp;</span> + <span class=bgdy><b>{$order.backup}</b> =  <span class=bgdy><b>{$order.qty}</b>&nbsp;<span class=bgdy><b>{$order.unit}</b></span></td>
    <td class=snvy align=right nowrap bgcolor=#cccccc><b>     finished Q'ty : </td>
	<td class=bgdy align=left nowrap><b>&nbsp;&nbsp;&nbsp;&nbsp;{$order.qty_done}&nbsp;{$order.unit}</b></td>
	<td class=bgdy align=left nowrap>&nbsp;&nbsp;&nbsp;&nbsp;
	{if $edit_flag and $order.status < 10}
		<b><a href="javascript:smpl_case_close({$order.id},'{$order.num}','{$sub_back_str}')" value='close' style='cursor:pointer'><img src='./images/close05.gif' border=0 ALT="case close"></a></b>
	{/if}	</td>
  </tr>
 {section name=SEC loop=$smpl_out}
   <tr bgcolor=#eeeeee>
    <td class=snvy align=right nowrap >&nbsp;</td>
    <td class=snvy align=left nowrap colspan=6>&nbsp;{$smpl_out[SEC].line_name} : {$smpl_out[SEC].qty} pcs &nbsp;&nbsp; ON : {$smpl_out[SEC].fdate}</td>

  </tr>
  {/section}
  <tr>
    <td colspan=7 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr bgcolor=#eeeeee>
    <td class=snvy align=right bgcolor=#cccccc><b>SPT (seconds) :</b></td>
		<form method=POST name=marker enctype="multipart/form-data">
		<td class=snvy align=left colspan=3>{if $add_flag and $order.status < 7}
      <input type="hidden" name="PHP_action" value="smpl_spt">
      <input type="hidden" name="PHP_num" value="{$order.num}">
      <input type="hidden" name="PHP_orders" value="{$order.orders}">
      <input type="hidden" name="PHP_back_str" value="{$back_str}">
      <input type="hidden" name="PHP_id" value="{$order.id}">
      <input type='text' name='PHP_spt' value="{$order.spt}" size=8 class=select style='text-align:center; width:60px'>
sec.
<input type='submit' value='SPT submit'>
{else}
    &nbsp;&nbsp; <b><span class=bgdy> {$order.spt|number_format}</span>&nbsp;&nbsp;sec.</b> {/if} <span class="bgdy9">&nbsp;&nbsp;[ {$diff|number_format:2} %]</span></td>
		</form>
    <td colspan="2" align="center" valign="middle" bgcolor=#eeeeee class=snvy>
		{if $order.marker_date <> '0000-00-00'}
			{if $edit_flag and $order.status < 7}
				<a href="javascript://" onClick="get_marker('{$order.id}','edit');" value='ord_out' style='cursor:pointer'><img src='./images/yyMarker.png' border="0" /></a>
				<img src="./images/m_app.png" border="0" alt="Append Marker" onClick="Show_marker('{$order.id}',marker_out);" style="cursor:pointer" />
			{else}
				<a href="javascript://" onClick="get_marker('{$order.id}','view');" value='ord_out' style='cursor:pointer'><img src='./images/yyMarker.png' border="0" /></a>
			{/if}
		{else}
			{if $add_flag and $order.status < 7}
				<a href="javascript://" onClick="get_marker('{$order.id}','edit');" value='ord_out' style='cursor:pointer'><img src='./images/no-yyMarker.png' border="0" /></a>
				<img src="./images/m_app.png" border="0" alt="Append Marker" onClick="Show_marker('{$order.id}',marker_out);" style="cursor:pointer" />
			{else}
				<img src='./images/no-yyMarker.png' border="0" />
			{/if}
		{/if}
		</td>
		
		<td align="center" valign="middle" bgcolor=#eeeeee class=snvy>
		{if $order.marker_date <> '0000-00-00'}
		<a href="javascript:down_marker2({$order.id},'{$order.num}')" value='smpl' style='cursor:pointer'>on {$order.marker_date}</a>
		{/if}</td>
	</tr>
  <tr>
    <td colspan=7 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>
    <td class=snvy align=center colspan=4>&nbsp;
			<b>open date : <span class=bgdy>{$order.open_date}&nbsp;</span></b> 
			[ <a href="javascript:message_out('{$order.creator_id}')" style="cursor:pointer;">{$order.creator}</a> ]		</td>
    <td class=snvy align=center colspan=3>&nbsp;
			<b>last update : <span class=bgdy>{$order.last_update}&nbsp;</span></b> 
			[ <a href="javascript:message_out('{$order.updator_id}')" style="cursor:pointer">{$order.updator}</a> ]		</td>
	</tr>
  <tr>
    <td colspan=7 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>
    <td colspan=7>
    <table border=0 cellspacing=0 cellpadding=0 align=center>
	  <tr>
	     <td class=snvy width=50 align=right><b>WorkSheet : </b></td>
	{if $order.ws_date == '0000-00-00' ||  $order.ws_date == ''}
	    <td class=snvy align=left width=110><b><span class=bgdy>&nbsp; N/A</span></b></td>
	{else}
  	  <td class=snvy align=left width=110>&nbsp; <b>
        <a href="javascript:Show_ord_ti('{$order.wi_id}')" value='ord_out' style='cursor:pointer'>{$order.ws_date}</a>  	 	 
  	  </b></td>
	{/if}
	     <td class=snvy width=50 align=right><b>BOM : </b></td>
	{if $order.bom_date == '0000-00-00' ||  $order.bom_date == ''}
	    <td class=snvy align=left width=110><b><span class=bgdy>&nbsp; N/A</span></b></td>
	{else}
    <td class=snvy align=left width=110>&nbsp; <b>
       <a href="javascript:Show_ord_bom('{$order.wi_id}')" value='ord_out' style='cursor:pointer'>{$order.bom_date}</a>  	 	 
    </b></td>
	{/if}
		 <td class=snvy width=150 align=right><b>Sample Approval : </b></td>
	{if $order.apv_date == '0000-00-00'}
	    <td class=snvy align=left><b><span class=bgdy>no approval</span></b></td>
	{else}
    <td class=snvy align=left bgcolor=#FFFF66><b><span class=bgdy>{$order.apv_date}</span></b></td>
	{/if}	  </tr>
	</table>    </td>
  </tr>
  <tr>
    <td colspan=7 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
</table>
{if $add_flag}
<!---------- sample logs form   -->
<form method=POST name=smpl_logs>
	<table border=1 cellspacing=0 cellpadding=0 width=710 align=center>
	  <tr bgcolor=#bbbbbb height=25>
	    <td colspan=3 align=center class=nvy9><b>Adding  logs</b></td>
	  </tr>
	  <tr bgcolor=#666666 height=25>
	   <td width=100 class=w10 align=center>Subject</td>
	   <td width=520 class=w10 align=center>logs describs</td>
	   <td width=70 class=w10 align=center>&nbsp;</td>
	  </tr>
	  <tr bgcolor=#eeeeee >
	   <td class=gry9 align=center>{$logs_subj}</td>
	   <td class=gry9 align=left>
	      <textarea name="PHP_des" rows=3 cols=100 class=select>{$smpl_log.des}</textarea></td>
	   <td class=ylw9 align=center valign=center>
		<input type="hidden" name="PHP_action" value="do_smpl_logs_add" >
		<input type="hidden" name="back_action" value="smpl_output_view">
		<input type="hidden" name="PHP_num" value="{$order.num}">

		<input type="hidden" name="PHP_id" value="{$order.id}">
		<input type="hidden" name="PHP_back_str" value="{$back_str2}">
		  <input type=submit value="save" class=select_e style="cursor:pointer; width=55; height=45" onClick=this.width=0;><br><img src='./images/graydot.gif' border=0e"><br>
		</td>
	  </tr></form>
	</table><br>
{/if}
<!---------- SHOW 出 一些訂單歷史記錄   -->
 {if $log_records}  
	<table border=1 cellspacing=0 cellpadding=0 width=710 align=center>
	  <tr bgcolor=#bbbbbb height=25>
	   <td colspan=4 align=center class=nvy9><b>History logs</b></td>
	  </tr>
	  <tr bgcolor=#666666 height=25>
	   <td width=100 class=w10 align=center>Date</td>
	   <td width=100 class=w10 align=center>Subject</td>
	   <td width=400 class=w10 align=center>History records</td>
	   <td width=80 class=w10 align=center>by</td>
	  </tr>
	 {section name=SEC loop=$logs}
	  <tr bgcolor=#eeeeee >
	   <td class=gry9 align=center><small>{$logs[SEC].k_time}</small></td>
	   <td class=gry9 align=center><small>{$logs[SEC].subj}</small></td>
	   <td class=gry9 align=left>{$logs[SEC].des}</td>
	   <td class=gry9 align=center>{$logs[SEC].user}</td>
	  </tr>
	{/section}
	</table>
  {/if}   
  
<!---------- SHOW 出 一些大貨訂單Link   -->  
	<BR>  
 {if !$ord_link_non}  
	<table border=1 cellspacing=0 cellpadding=0 width=710 align=center>
	  <tr bgcolor=#bbbbbb height=25>
	   <td colspan=6 align=center class=nvy9><b>Order Reference</b></td>
	  </tr>
	  <tr bgcolor=#666666 height=25>
	   <td width=100 class=w10 align=center>Order #</td>
	   <td width=100 class=w10 align=center>Q'ty</td>
	   <td width=100 class=w10 align=center>SU</td>
	   <td width=100 class=w10 align=center>ETP</td>
	   <td width=100 class=w10 align=center>ETD</td>
	   <td width=100 class=w10 align=center>Open</td>	   
	  </tr>
	 {section name=SEC loop=$ord_link}
	  <tr bgcolor=#eeeeee >
	   <td class=gry9 align=center>
	   	<a href="javascript:show_order_rec('{$ord_link[SEC].id}','{$ord_link[SEC].order_num}')" value='ord_out' style='cursor:pointer'>
	   		{$ord_link[SEC].order_num}</a>
	   	</td>
	    <td class=gry9 align=center>{$ord_link[SEC].qty}</td>
	    <td class=gry9 align=center>{$ord_link[SEC].su}</td>
	   <td class=gry9 align=center>{$ord_link[SEC].etp}</td>
	   <td class=gry9 align=center>{$ord_link[SEC].etd}</td>	
	   <td class=gry9 align=center>{$ord_link[SEC].opendate}</td>   
	  </tr>
	{/section}
	</table>
  {/if}  
  
  
  
<!-------- 顯示之前版本   -->   
  <br>
{if $ver_show}
<table border=1 cellspacing=0 cellpadding=0 width=710 align=center>
	  <tr bgcolor=#bbbbbb height=25>
	   <td colspan={$ver_show} align=center class=nvy9><b>Sample Order  -- for Other Version</b></td>
	  </tr>


	  <tr bgcolor=#eeeeee >
	 {section name=SEC loop=$ver_num}
	   <td class=gry9 align=center>
	   	<a href="javascript:Show_smpl_out('{$ver_num[SEC]}')" value='ord_out' style='cursor:pointer'>
	   		{$ver_num[SEC]}</a>
	   	</td>
	{/section}
	  </tr>


</table>
  {/if}   
<!-------- END SHOW   -->  
<!--    order version -->
<table border=0 cellspacing=0 cellpadding=2 width=680 bgcolor=#ffffff align=center>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>
	<td colspan=2><form method=POST name=back>
{if $back_str}
		<input type=button onClick="window.location.href='index2.php?PHP_action=smpl_output_search'" value=" << go back " class=select_e style="cursor:pointer; width=99%"></form>
{else}&nbsp;
{/if}
	</td>
  </tr>
</table>
<input type="hidden" id="PHP_id" value="{$order.id}">
<!--------- footer ---------->
{include file="footer.html"}