<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>===.........  ORDER LIST .........===</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
	<script language="javascript" src="./js/col.js"></script>

{literal}
<script type="text/javascript"
        src="./js/build/yahoo/yahoo-min.js"></script>
<script type="text/javascript"
        src="./js/build/connection/connection-min.js"></script>

<script language="javascript">
var transaction;
var sUrl;
function get_dept(r){
	var dept = r.value;
	document.getElementById("add_area").style.display='none';
	sUrl="index2.php?PHP_action=get_cust_ajx&SCH_dept="+dept;
	transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, callback, null);
	
}
function check_add(r){
	var cust = r.value;
	var dept = document.add_order.PHP_dept.value;
	if(cust != '' && dept != '') 
	{
		document.getElementById("add_area").style.display='block';	
	}else{
		document.getElementById("add_area").style.display='none';
	}
}

var callback = {
	success: function(o) {
		var response = o.responseText;    	
		cust_area.innerHTML = "<b> Customer : &nbsp;</b>"+response; 
		

	},
	failure: function(o) {
		alert("Error：Can't get data");
	}
};




</script>
{/literal}

</head>
<body  bgcolor="ffffff" background=" ">&nbsp;

{if $max_notify > 0 }		
	<table width=650 border=0 cellpadding=3 cellspacing=1>
	<tr height=30 bgcolor=#C0CECF>
		<td align="center" >
			<a href="notify.php?PHP_action=notify"> <span class=sign align=center ><b> You have {$max_notify} message un-read</b></span></a></td>
	</tr>
</table>
<br>
{/if}		
	
<!-- ################################################################################# -->
{if $add_flag}
<table border cellspacing=0 cellpadding=2 cols=1 width=650 bgcolor=#cccccc  align=center>
 <tr><form METHOD="POST" name="add_order">   
    <td align=center>
     <table border=1 cellspacing=0 cellpadding=4 width=630 bgcolor=#38184F>
      <tr>
				<td width=50% class=des align=center rowspan=2><b>[ APPEND NEW SHIPPING ]</b></td>
				<td width=25% class=w9 align=center><b>Sales Team :&nbsp;{$dept_ary}</b></td>
				<td width=25% class=w9 align=center><b>Cust :&nbsp;{$cust_select}</b></td>
			</tr>
	  <tr><td class=w9 align=center class=w10 colspan=2 bgcolor=#cccccc>
			<input type="hidden" name="PHP_action" value="s_ship_add">
			<div id=add_area style="display:none;">	
				<input type="submit" value="APPEND" class=select_e style="width:90%;cursor:pointer">
			</div>
			</td>
	  </td></tr> 
     </table></td></tr></form>
{/if}
{if $msg_YES}
	 <tr><td>
     <table border=1 cellpadding=4 cellspacing=0 width=630 align=center>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table></td></tr>
{/if}
</table>
{if $add_flag}
		<hr size=1 width=630 align=center>
{/if}
<br><br><br>
<table border cellspacing=0 cellpadding=2 cols=1 width=650 bgcolor=#cccccc  align=center>
<tr><td>
<form METHOD="POST" name="search_ord"><br>
<table cellspacing=1 cellpadding=4 cols=1 width=630 bgcolor=#38184F align=center>
	<tr>
		<td class="des" align=center height=28><b>[ SEARCH / LISTING&nbsp; SAMPLE  ORDER ]</b></td>
	</tr>
</table>
<table border=0 cellspacing=0 cellpadding=1 width=630>
  <tr>
    <td colspan=6 class=frnt align=center><hr size=2 width=98%></td>
  <tr>
  <tr>
    <td class=snvy align=right><b>Shipping # : </b></td>
    <td class=frnt align=left width=200>&nbsp;<input type=text name="SCH_ship_num" size=15 class=select value=""></td>
  </tr>
  <tr>
  <tr>
    <td class=snvy align=right><b>Ship from : </b></td>
    <td class=frnt align=left><b>&nbsp;{$ship_from}</b></td>
    <td class=snvy align=right><b>Ship to : </b></td>
    <td class=frnt align=left>&nbsp;<input type=text name="SCH_ship_to" size=15 class=select value=""></td>

  </tr>
  <tr>
    <td class=snvy align=right><b>Ship Date : </b></td>
    <td class=frnt align=left colspan=3>&nbsp;From&nbsp;
    	<input type=text name="SCH_ship_str" size=15 class=select value="">
   		<img align='top' onmousedown="javascript:Cal(document.search_ord.PHP_op_str,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand'>
    	&nbsp;&nbsp;TO&nbsp;
    	<input type=text name="SCH_ship_fsh" size=15 class=select value="">
   		<img align='top' onmousedown="javascript:Cal(document.search_ord.PHP_op_fsh,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand'>
    </td>
  </tr>

</table>

<table border=0 cellspacing=0 cellpadding=0 width=630 align=center>
	<tr> 
	  <td align=left class=b9>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		※ 1: search / listing order record ; please use combo selection or/and key field.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		※ 2: if entire listing ; keep fields in blank click [ SEARCH/LIST SAMPLE SHIP RECORDS ] button.
	  </td>
	</tr>
	<tr><hr SIZE=2 WIDTH=97%></tr>
	<tr> 
	  <td align=center>
		<input type="hidden" name="PHP_action" value="s_ship_list">
		<input type=submit value="[ SEARCH / LIST SAMPLE ORDER RECORDS ]" class=select_e style="cursor:pointer; width=95%" onClick=this.width=0;>
	  </td>
	</tr>
</table></form>

	</td>
</tr>
</table>
<!--------- footer ---------->
{include file="footer.html"}