<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>===......... 查尋 製造令 .........===</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/col.js"></script>
<script language="javascript">


</script>
{/literal}
</head>
<body  bgcolor="ffffff" background=" ">&nbsp;

{if $max_notify > 0 }		
	<table width=620 border=0 cellpadding=3 cellspacing=1>
	<tr height=30 bgcolor=#C0CECF>
		<td align="center" >
			<a href="notify.php?PHP_action=notify"> <span class=sign align=center ><b> You have {$max_notify} message un-read</b></span></a></td>
	</tr>
</table>
<br>
{/if}		
	
<!-- ################################################################################# -->
<table border cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#cccccc  align=center>
<tr><td><form METHOD="POST" name="search_wi">
	<table cellspacing=1 cellpadding=4 cols=1 width=600 bgcolor=#003300 align=center>
		<tr>
			<td class="des" align=center height=28> ......<b>[  SMPL BOM ] - Please search Working Instruction first</b>...... </td>
		</tr>
	</table>
</td></tr>
<tr><td>
<table border=0 cellspacing=0 cellpadding=1 width=600>
{if $msg_YES}
	 <tr><td>
     <table border=1 cellpadding=4 cellspacing=0 width=600 align=center>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
	 </td></tr>
{/if}
  <tr><td colspan=6 class=frnt align=center><hr size=2 width=98%></td><tr>
  <tr><input type="hidden" name="PHP_dept_code" value={if $manager_flag}""{else}"{$dept_code}"{/if}>
    <td class=snvy align=right><b>WI # : </b></td>
    <td class=frnt align=left>&nbsp;<input type=text name="PHP_wi_num" size=15 class=select value=""></td>
    <td class=snvy align=right><b>Customer : </b></td>
    <td class=frnt align=left>&nbsp;{$cust_select}</td>
  </tr>
  <tr>
    <td class=snvy align=right><b>ETD : </b></td>
    <td class=frnt align=left colspan=3><b>&nbsp;<input type=text name="PHP_etdstr" size=8 class=select value="">
    <img align='top' onmousedown="javascript:Cal(document.search_wi.PHP_etdstr,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand'>
     ~
    <input type=text name="PHP_etdfsh" size=8 class=select value="">
    <img align='top' onmousedown="javascript:Cal(document.search_wi.PHP_etdfsh,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand'>
    </b></td>
  </tr>
  <tr>
    <td class=snvy align=right>&nbsp; </td>
    <td class=frnt align=left>&nbsp;</td>
    <input type=hidden name="PHP_smpl_type" value="">
    <input type=hidden name="PHP_style_code" value="">
    <td class=snvy align=right>&nbsp; </td>
    <td class=frnt align=left><b>&nbsp;</b></td>
  </tr>
</table>
</td></tr>
<tr><td>
<table border=0 cellspacing=0 cellpadding=0 width=600 align=center>
	<tr> 
	  <td align=left class=b9>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		※ 1: search / listing wi record ; please use combo selection or/and key field.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		※ 2: if entire listing ; keep fields in blank and just click [ SEARCH/LIST ORDER RECORDS ] button.
	  </td>
	</tr>
	<tr><hr SIZE=2 WIDTH=97%></tr>
	<tr> 
	  <td align=center>
		<input type="hidden" name="PHP_action" value="smpl_bom_search_wi">
		<input type=submit value="[ Search /List WI Record ]" class=select_e style="cursor:pointer; width:100%">
	  </td>
	</tr>
</table></form>
</td></tr>
</table>
<!--------- footer ---------->
{include file="footer.html"}