<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>===.........  庫存布料 列表 .........===</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/jquery.blockUI.js"></script>
<script language="javascript">
function cfm(ref,id) {
	if ( confirm("記錄刪除 將會永久刪除；無法再回覆 !\r\r請再確定 是否\r\r確認永久刪除 庫存布料記錄:["+ref+"]??")) {
		location.href="lots.php?PHP_action=stock_del&PHP_id="+id;
	} 
}

function stock_search(){
	$.blockUI({ message: '<div><h3>Loading...</h3></div>'});
	var fty = $("#PHP_factory").val();
	var mat_name = $("#PHP_mat_name").val();
	if(!fty){
		fty = '';
	}
	
	var mat = $("#PHP_mat").val();
	location.href="stock.php?PHP_action=stock&PHP_fty="+fty+"&PHP_mat="+mat+"&PHP_mat_name="+mat_name;
}

function update_storage(id,mat){
	$.blockUI({ message: '<div><h3>Update...</h3></div>'});
	$.ajax({
			url: 'stock.php?PHP_action=do_storage_edit',
			type: 'GET',
			data: {
				PHP_mat: mat,
				PHP_stock_id: id,
				PHP_storage: $("#M_"+id).val()
			},
			error: function(xhr) {
				alert('update error');
				$.unblockUI();
			},
			success: function(response) {
				$.unblockUI();
			}
		});
}
</script>
{/literal}
</head>
<body  bgcolor="ffffff" >&nbsp;
<!-- ################################################################################# -->
<table border cellspacing=0 cellpadding=2 cols=1 width=700 bgcolor=#cccccc  align=center>
 <tr><form METHOD="POST" name="">  
    <td align=center>
     <table border=0 cellspacing=0 cellpadding=4 cols=1 width=780 bgcolor=#534A67>
		 <tr>
			<td class=des align=left>
				{if $T_factory}{$T_factory}{else}Factory{/if}：{$fty_select}&nbsp;
				{if $T_mat}{$T_mat}{else}Fab/Acc{/if}：{$mat_select} &nbsp;
				Material：<input type="text" size="10" id="PHP_mat_name" name="PHP_mat_name" value="{$SCH_mat_name}">&nbsp;
				<input type="button" style="cursor:pointer" value="SEARCH" onclick="stock_search()">&nbsp;
			</td>
			<td class=des align=right>
				&nbsp;
			</td>
		</tr>
     </table></td></tr>
{if $msg_YES}<tr><td>
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=780 align=center>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
</td></tr>
{/if}
</table></form>
<table border cellspacing=0 cellpadding=2 width=780 bgcolor=#ffffff align=center>
  <tr bgcolor="#003333" height=28> 
	<td nowrap width=110 align=center class=back>{if $T_material_name}{$T_material_name}{else}Name{/if}</td>
	<td nowrap width=180 align=center class=back>{if $T_color}{$T_color}{else}Color{/if}</td>
	<td nowrap width=50 align=center class=back>{if $T_size}{$T_size}{else}Size{/if}</td>
	<td nowrap width=80 align=center class=back>{if $T_bill_num}{$T_bill_num}{else}B.L.#{/if}</td>
	<td nowrap width=50 align=center class=back>{if $T_dye_lot}{$T_dye_lot}{else}Lot{/if}</td>
	<td nowrap width=50 align=center class=back>{if $T_roll_num}{$T_roll_num}{else}Roll{/if}</td>
	<td nowrap width=100 align=center class=back>{if $T_stock_qty}{$T_stock_qty}{else}Qty{/if}</td>
	<td nowrap width=70 align=center class=back>{if $T_storage}{$T_storage}{else}storage{/if}</td>
	<td nowrap width=50 align=center class=></td>
  </tr>
	{if $record_NONE}
  <tr>
	<td colspan=8 align=center class=ssign><br>No Record !<br><br>
  </tr>
	{/if}
	
{if $lots.0.id}
	{section name=SEC loop=$lots} 
  <tr><form>
	<td class=g10 align=center nowrap>
      {$lots[SEC].lots_name}&nbsp;
	</td>
    <td class=grn9 align=left>{$lots[SEC].color}&nbsp;</td>
	<td class=grn9 align=left>{$lots[SEC].size}&nbsp;</td>
    <td align=center class=grn9><b>{$lots[SEC].bl_num}</b>&nbsp;</td>
	<td align=center class=grn9><b>{$lots[SEC].l_no}</b>&nbsp;</td>
	<td align=center class=grn9><b>{$lots[SEC].r_no}</b>&nbsp;</td>
    <td align=right class=gry9>{$lots[SEC].qty}&nbsp;{$lots[SEC].unit}&nbsp;</td>
    <td align=center nowrap class=gry9>
		<input type="text" id="M_{$lots[SEC].id}" value="{$lots[SEC].storage}" size="10">
	</td>
	<td align=center class=gry9>
		<input type="button" class="select_e" value="update" style="cursor:pointer" onclick="update_storage('{$lots[SEC].id}','lots')">
	</td>
  </tr>
	{/section}
	<table border=0 cols=4 width=700 align=center>
		  <tr>
			<td align=center width=180><form name="form5" method="post">
		<!--*****--2006.11.16頁碼新增 start	  -->  
			{if $pages[0] > 1}
				  <input type="button" name="Submit5" value=" < prev 10-page" class=select_e style="cursor:pointer; width:90%" onClick="window.location='{$PHP_SELF}?PHP_action=stock&PHP_fty={$SCH_fty}&PHP_mat=lots&PHP_mat_name={$SCH_mat_name}&PHP_sr_startno=p{$pages[0]}'">
			{/if}
			&nbsp;
			</td>
			<td align=center width=260>
			
			{section name=PGE loop=$pages}
			{if $pages[PGE] <= $maxpage }
			{if $pages[PGE] == $now_pp}
			<font color="#FF0000"><i><b>&nbsp;{$pages[PGE]}</b></i></font>
			{else}
			<a href="{$PHP_SELF}?PHP_action=stock&PHP_fty={$SCH_fty}&PHP_mat=lots&PHP_mat_name={$SCH_mat_name}&PHP_sr_startno={$pages[PGE]}" style="cursor:pointer">&nbsp;{$pages[PGE]}</a>
			{/if}
			{/if}   
			{/section}
			&nbsp;</td>
			<td  align=center width=180>
		{if $lastpage < $maxpage}
			<input type="button" name="Submit6" value="next 10 -page >" class=select_e style="cursor:pointer; width:90%" onClick="window.location='{$PHP_SELF}?PHP_action=stock&PHP_fty={$SCH_fty}&PHP_mat=lots&PHP_mat_name={$SCH_mat_name}&PHP_sr_startno=n{$lastpage}'">
		{else}&nbsp;
		{/if}
		<!--*****--2006.11.16頁碼新增 end	  -->
			</td></form>
		  </tr>
		</table>
{else}
	{section name=SEC loop=$acc} 
  <tr><form>
	<td class=g10 align=center nowrap>
      {$acc[SEC].acc_name}&nbsp;
	</td>
    <td class=grn9 align=left>{$acc[SEC].color}&nbsp;</td>
	<td class=grn9 align=left>{$acc[SEC].size}&nbsp;</td>
    <td align=center class=grn9><b>{$acc[SEC].bl_num}</b>&nbsp;</td>
	<td align=center class=grn9><b>{$acc[SEC].l_no}</b>&nbsp;</td>
	<td align=center class=grn9><b>{$acc[SEC].r_no}</b>&nbsp;</td>
    <td align=right class=gry9>{$acc[SEC].qty|NUMBER_FORMAT}&nbsp;{$acc[SEC].unit}&nbsp;</td>
    <td align=center nowrap class=gry9>
		<input type="text" id="M_{$acc[SEC].id}" value="{$acc[SEC].storage}" size="10">
	</td>
	<td align=center class=gry9>
		<input type="button" class="select_e" value="update" style="cursor:pointer" onclick="update_storage('{$acc[SEC].id}','acc')">
	</td>
  </tr>
	{/section}
	<br>
	<table border=0 cols=4 width=700 align=center>
		  <tr>
			<td align=center width=180><form name="form5" method="post">
		<!--*****--2006.11.16頁碼新增 start	  -->  
			{if $pages[0] > 1}
				  <input type="button" name="Submit5" value=" < prev 10-page" class=select_e style="cursor:pointer; width:90%" onClick="window.location='{$PHP_SELF}?PHP_action=stock&PHP_fty={$SCH_fty}&PHP_mat=acc&PHP_mat_name={$SCH_mat_name}&PHP_sr_startno=p{$pages[0]}'">
			{/if}
			&nbsp;
			</td>
			<td align=center width=260>
			
			{section name=PGE loop=$pages}
			{if $pages[PGE] <= $maxpage }
			{if $pages[PGE] == $now_pp}
			<font color="#FF0000"><i><b>&nbsp;{$pages[PGE]}</b></i></font>
			{else}
			<a href="{$PHP_SELF}?PHP_action=stock&PHP_fty={$SCH_fty}&PHP_mat=acc&PHP_mat_name={$SCH_mat_name}&PHP_sr_startno={$pages[PGE]}" style="cursor:pointer">&nbsp;{$pages[PGE]}</a>
			{/if}
			{/if}   
			{/section}
			&nbsp;</td>
			<td  align=center width=180>
		{if $lastpage < $maxpage}
				  <input type="button" name="Submit6" value="next 10 -page >" class=select_e style="cursor:pointer; width:90%" onClick="window.location='{$PHP_SELF}?PHP_action=stock&PHP_fty={$SCH_fty}&PHP_mat=acc&PHP_mat_name={$SCH_mat_name}&PHP_sr_startno=n{$lastpage}'">
		{else}&nbsp;
		{/if}
		<!--*****--2006.11.16頁碼新增 end	  -->
			</td></form>
		  </tr>
		</table>
{/if}
</table>

	</td>
</tr>
</table>
</form>
<!--------- footer ---------->
{include file="footer.html"}