<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM 樣本輔助系統 [ 主料記錄 資料 ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript">
 function check(){
}

function list(item,cat){
	var gofile ='index2.php?PHP_action=show_supplier_search&PHP_item='+item+'&PHP_cat='+cat;	style=window.open(gofile,'style','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=700,height=500, top=100, left=150');
 	style.focus();
 }

function add_sup(item,cat){
	var gofile ='index2.php?PHP_action=show_supplier_add&PHP_item='+item+'&PHP_cat='+cat;	style=window.open(gofile,'style','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=700,height=500, top=100, left=150');
 	style.focus();
 }
 
function writeToSupItemlList(vndr_no,supl_s_name,supl_cat,item) {
	var i=0;
	if (item == 'vendor1') window.document.forms['lots_add'].elements['PHP_vendor1'].value = vndr_no;
	if (item == 'vendor2') window.document.forms['lots_add'].elements['PHP_vendor2'].value = vndr_no;
	if (item == 'vendor3') window.document.forms['lots_add'].elements['PHP_vendor3'].value = vndr_no;

}
</script>
{/literal}
</head>
<body ><form METHOD="POST" name="lots_add" action="{$PHP_SELF}">
<br>
<table cellspacing=1 cellpadding=4 cols=1 width=550 bgcolor=#003300>
	<tr><td class="des" align=center height=28> [ <b><span class=sign>Append</span>&nbsp;Fabric record </b>] </td></tr>
</table>
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=550>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
<table border=0 cellspacing=0 cellpadding=1 width=550 bgcolor=#FFFFFF>
  <tr>
    <td colspan=4 class=frnt align=center><hr size=2 width=98%></td>
  <tr>
  	<tr>
  
  <tr>
    <td class=snvy align=right><b>FABRIC # :</b></td>
     <td wdith=100 class=frnt align=left bgcolor=#CEE4E3 nowrap >&nbsp;<b>{$lots.lots_code}</b></td>
    <input type=hidden name="PHP_lots_code" value="{$lots.lots_code}">
  <tr>
    <td class=snvy align=right><b>&nbsp;</b></td>
    <td wdith=100 class=frnt align=left bgcolor=#CEE4E3 nowrap >&nbsp;</td>    
	<td class=snvy align=right><b>FABRIC Name :</b></td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;<input type=text name="PHP_lots_name" size=45 class=select value="{$lots.lots_name}" maxlength=20 onkeyup=value=value.replace(/[^\w\-]/ig,'')></td>
  </tr>  
  <tr>
    <td class=snvy align=right>&nbsp;</td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;</td>
    <td class=snvy align=right><b>Supplier's code :</b></td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;<input type=text name="PHP_supl_code" size=45 class=select value="{$lots.des}"></td>
  </tr>
  <tr>
    <td class=snvy align=right>&nbsp;</td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;</td>
    <td class=snvy align=right><b>Qty :</b></td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;<input type=text name="PHP_qty" size=45 class=select value="{$lots.qty}"></td>
  </tr>
  <tr>
    <td class=snvy align=right>&nbsp;</td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;</td>
    <td class=snvy align=right><b>Color :</b></td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;<input type=text name="PHP_color" size=45 class=select value="{$lots.color}"></td>
  </tr>
  <tr>
    <td class=snvy align=right>&nbsp;</td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;</td>
    <td class=snvy align=right><b>Price :</b></td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;<input type=text name="PHP_price" size=45 class=select value="{$lots.price}"></td>
  </tr>
    <tr>
    <td class=snvy align=right>&nbsp;</td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;</td>
    <td class=snvy align=right><b>Unit :</b></td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;<input type=text name="PHP_unit" size=45 class=select value="{$lots.unit}"></td>
  </tr>
  <tr>
    <td class=snvy align=right>&nbsp;</td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;</td>
    <td class=snvy align=right><b>widtb :</td>
    <td class=frnt align=left bgcolor=#CEE4E3>&nbsp;<input type=text name="PHP_width" size=45 class=select value="{$lots.width}" onkeyup=value=value.replace(/[^\d]/g,'')></td>
  </tr>
  <tr>
   <tr>
    <td colspan=4 class=frnt align=center>
  <tr>
  <tr>

		<table border=1 cellspacing=0 cellpadding=1 width=550 bgcolor=#FFFFFF>
  
  

</table>
		<hr SIZE=2 WIDTH=550>
          <table border=0 cellspacing=0 cellpadding=0 cols=2 width=550>
            <tr> 
              <td align=center>
                <input type="hidden" name="PHP_action" value="do_lots_add">
				<input type=submit value="[ Append FABRIC record ]" class=select_e style="cursor:pointer; width=100%"></form>
              </td>
			</tr>
          </table>
<!--------- footer ---------->
{include file="footer.html"}
