<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM 樣本輔助系統 [ 副料 資料 ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
</head>
<body >
<br>

{if $max_notify > 0 }		
	<table width=620 border=0 cellpadding=3 cellspacing=1>
	<tr height=30 bgcolor=#C0CECF>
		<td align="center" >
			<a href="notify.php?PHP_action=notify"> <span class=sign align=center ><b> You have {$max_notify} message un-read</b></span></a></td>
	</tr>
</table>
<br>
{/if}	

<table border=0 cellspacing=0 cellpadding=2 acc=1 width=620   align=center>
 <tr><form METHOD="POST" name="add_acc">
		<input type="hidden" name="PHP_action" value="acc_add">   
    <td align=center>
     <table border=1 cellspacing=0 cellpadding=4 acc=1 width=620 bgcolor=#235869>
      <tr><td width=80% class=des align=center>..... <b> Acc List </b>.......</td>
    {if $add_flag}
	<td class=w9 align=center class=w10>	
 <input type="submit" value="Append" class=select style="width:70;cursor:pointer">  
	</td>
	  {/if}
	  </tr></form>
     </table>
</table>
<br><form METHOD="POST" name="search_acc">
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 acc=1 width=620>
      <tr bgcolor=#ffffff>
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}

<br>
<br>
<br>
<table cellspacing=1 cellpadding=4 acc=1 width=620 bgcolor=#003300 align=center>
	<tr><input type="hidden" name="PHP_action" value="do_acc_search">
		<td class="des" align=center height=28> [ Search / List &nbsp;Acc Record ] </td>
	</tr>
</table>


<table border=1 cellspacing=0 cellpadding=1 width=620 bgcolor=#A0A09F align=center>
<tr><td>
<table border=0 cellspacing=0 cellpadding=1 width=610 bgcolor=#ffffff>
  
 <tr>
    <td accpan=4 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>
    <td class=snvy align=right><b>Acc. Name : </b></td>
    <td class=frnt align=left>&nbsp;<input type=text name="SCH_acc_name" size=20 class=select value="{$acc.acc_name}"></td>
	<td class=snvy align=right><b>Acc. # : </b></td>
    <td class=frnt align=left>&nbsp;<input type=text name="SCH_acc_code" size=20 class=select value="{$acc.acc_code}"></td>
  </tr>
  <tr>
  </table>
</td></tr>

</table>
		<hr SIZE=2 WIDTH=620>
          <table border=0 cellspacing=0 cellpadding=0 acc=2 width=620 align=center>
             <tr> 
              <td align=left class=grn9>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				
              </td>
			</tr>
           <tr> 
              <td align=center>
                <input type="hidden" name="PHP_action" value="do_acc_search">
				<input type=submit value="[ EARCH/LIST acc RECORDS ]" class=select_e style="cursor:pointer; width:100%"></form>
              </td>
			</tr>
          </table>
<!--------- footer ---------->
{include file="footer.html"}
