{include file="header.html"}
<table cellspacing="0" cellpadding="0" cols="0" width="100%">
	<tr>
		<td class="subtitle">Cutting Plan</td>
	</tr>
    <tr>
        <td class="space"></td>
    </tr>
    <tr>
        <td class="subInputName">
            <form METHOD="POST" id="append_storage" action="{$PHP_SELF}?PHP_action=append_storage_qty">
            <table class="table_bady" border="0" cellspacing="0" cellpadding="0" cols="1">
                <tr>
                    <td class="item_title"> 
                        <table cellspacing="0" cellpadding="0" cols="0">
                            <tr>
                                <td class="bar_t_l"></td>
                                <td class="bar_t_m"></td>
                                <td class="bar_t_r"></td>
                            </tr>
                            <tr>
                                <td class="bar_m_l"></td>
                                <td class="bar_m_m"> APPEND </td>
                                <td class="bar_m_r"></td>
                            </tr>
                            <tr>
                                <td class="bar_b_l"></td>
                                <td class="bar_b_m"></td>
                                <td class="bar_b_r"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="space"></td>
                </tr>
                <tr>
                    <td>
                        <table id="Append" cellpadding="0" cellspacing="0" cols="0" >
                            <tr>
                                <td class="title_txt_r">Factory : </td>
                                <td id="Append" class="subInputValue">{$fty_select_append}</td>
                                <td class="title_txt_r">Line : </td>
                                <td class="subInputValue">{$line_select_append}</td>
                            </tr>
                            <tr>
                                <td class="title_txt_r">Zone : </td>
                                <td class="subInputValue">{$zone_select}</td>
                                <td class="title_txt_r">Order # : </td>
                                <td class="subInputValue"><input type="text" class="styled-input" name="PHP_ord_num"></td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <input id="append_storage" class="submit_ajax" type="submit" style="width:150px;" name="Submit" value="Append">
								</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            </form>
        </td>
    </tr>
        <tr>
        <td class="space_9"></td>
    </tr>
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0" cols="0" class="space_line">
                <tr>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="space"></td>
    </tr>
    <tr>
        <td class="subInputName">
            <form METHOD="POST" id="search_storage" action="{$PHP_SELF}?PHP_action=search_storage">
            <table class="table_bady" border="0" cellspacing="0" cellpadding="0" cols="1">
                <tr>
                    <td class="item_title"> 
                        <table cellspacing="0" cellpadding="0" cols="0">
                            <tr>
                                <td class="bar_t_l"></td>
                                <td class="bar_t_m"></td>
                                <td class="bar_t_r"></td>
                            </tr>
                            <tr>
                                <td class="bar_m_l"></td>
                                <td class="bar_m_m"> SEARCH / VIEW </td>
                                <td class="bar_m_r"></td>
                            </tr>
                            <tr>
                                <td class="bar_b_l"></td>
                                <td class="bar_b_m"></td>
                                <td class="bar_b_r"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="space"></td>
                </tr>
                <tr>
                    <td>
                        <table id="Search" cellpadding="0" cellspacing="0" cols="0" >
                            <tr>
                                <td class="title_txt_r">Factory : </td>
                                <td class="subInputValue">{$fty_select_search}</td>
                                <td class="title_txt_r">Line : </td>
                                <td class="subInputValue">{$line_select_search}</td>
                            </tr>
                            <tr>
                                <td class="title_txt_r">Zone : </td>
                                <td class="subInputValue">{$zone_select}</td>
                                <td class="title_txt_r">Order # : </td>
                                <td class="subInputValue"><input type="text" class="styled-input" name="PHP_ord_num"></td>
                            </tr>
                            <tr>
                                <td class="title_txt_r">Date : </td>
                                <td colspan="3">
                                    <font size="2" style="cursor:pointer;font-weight:bold;" id="calendar-trigger" color="blue">{$today}</font>
                                    <input type="hidden" id="calendar-inputField" name="PHP_pt_date" size="8" value="{$today}" />
                                </td>
                            </tr>	
                            <tr>
                                <td colspan="4">
                                    <input id="search_storage" class="submit_ajax" type="submit" style="width:150px;" name="Submit" value="Search">
                                </td>
                            </tr>	
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="space"></td>
                </tr>
                <tr>
                    <td class="note_msg">
                        ¡° 1: search / view Storage; please use combo selection or/and key field.<br>
                        ¡° 2: if entire Search ; keep fields in blank and just click [ Search ] button.
                    </td>
                </tr>
                <tr>
                    <td class="space"></td>
                </tr>
            </table>
            </form>
        </td>
    </tr>
    <tr>
        <td class="space_9"></td>
    </tr>    
</table>
{literal}
<script type="text/javascript">
    cal = Calendar.setup({
        weekNumbers : false,
        trigger     : "calendar-trigger",
        inputField  : "calendar-inputField",
        date        : {/literal}{$today}{literal} ,
        selection   : {/literal}{$today}{literal} ,
        showTime    : false,
        onSelect: function() {
            $('#calendar-trigger').html($('#calendar-inputField').val());
            cal.hide();
        }
    });
</script>
{/literal}
{include file="footer.html"}