{include file="header.html"}
<table cellspacing="0" cellpadding="0" cols="0" width="100%">
	<tr>
		<td class="subtitle"> Storage - Transfer : Search </td>
	</tr>
	<tr>
		<td class="space"></td>
	</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" cols="0">
	<tr>
		<td colspan="8">
			<table cellspacing="0" cellpadding="0" width="100%">
                <tr class="item_title">
                    <td colspan="5">History records </td>
                </tr>
				<tr class="list_title">
					<td><a href="{$PHP_SELF}?PHP_action={$PHP_action}&{$new_sort[0]}={$sort[0]}{$sorting}">SID</a></td>
					<td><a href="{$PHP_SELF}?PHP_action={$PHP_action}&{$new_sort[1]}={$sort[1]}{$sorting}">Order</a></td>
					<td><a href="{$PHP_SELF}?PHP_action={$PHP_action}&{$new_sort[3]}={$sort[3]}{$sorting}">Create</a></td>
					<td><a href="{$PHP_SELF}?PHP_action={$PHP_action}&{$new_sort[2]}={$sort[2]}{$sorting}">Date</a></td>
					<td></td>
				</tr>
				{if !$pages}
				<tr class="list_txt">
					<td colspan="5"><br>
					there is no record currently!<br>
					<br></td>
				</tr>
				{/if}
				{section name=SEC loop=$pages}
				<tr class="list_txt">
					<td>{$pages[SEC].id}</td>
					<td>{$pages[SEC].ord_num}</td>
					<td>{$pages[SEC].create_user}</td>
					<td>{$pages[SEC].create_date|date_format:"%Y/%m/%d"}</td>
					<td>
                        {if $del_flag} <img sid="{$pages[SEC].id}" id="delete" src="images/del.gif" title="DELETE" alt="DELETE" border="0">{/if}
                        {if $edit_flag}<a href="{$PHP_SELF}?PHP_action=transfer_view&PHP_sid={$pages[SEC].id}" style="cursor:pointer"><img src="images/edit.gif" alt="UPDATE" border=0></a>{/if}
                    </td>
				</tr>
				{/section}
				<tr class="search_txt">
					<td colspan="5">{$page_num}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{include file="footer.html"}