{include file="header.html"}
<script type="text/javascript">
    var $ppd = '{$select_express}';
</script>
<form method="POST" id="append"><input type="hidden" name="PHP_action" value="append_po"></form>
<table cellspacing="0" cellpadding="0" cols="0" width="100%">
	<tr>
		<td class="subtitle">SHIPPING Edit ( P.O. ) - FOR SUPPLIER</td>
	</tr>
    <tr>
		<td class="">
            {section name=SEC loop=$now_po}
            <span class="po_box">
                {$now_po[SEC]}
                <input type="image" onClick="blockUI('search_po_del','{$po_num}','{$ship}','{$finl_dist}','{$now_num}','{$now_po[SEC]}');" border="0" src="images/del.gif" title="DEL">
            </span>
            {/section}
        </td>
	</tr>
	<tr>
		<td></td>
	</tr>
	<tr>
		<td class="subInputName">
            <form method="POST" action="?PHP_action=supl_ship_add">
            <table class="tbl_body" border="0" cellspacing="0" cellpadding="0">
                <input type="hidden" id="M_po_ship_id" name="M_po_ship_id" value="{$po_supl_ship_det.po_supl_ship_id}" />
                <input type="hidden" id="M_po_ship_det_id" name="M_po_ship_det_id" value="{$po_supl_ship_det.id}" />
                <input type="hidden" id="M_po_num" name="M_po_num" value="{$po_supl_ship_det.po_num}" />
                <tr>
                    <td>
                        <table class="tbl_body" border="0" cellspacing="0" cellpadding="0" >
                            <tr>
                                <td id="box_right" width="90px">SHIPPING #：</td>
                                <td width="120px"><span class="code_number">S{$po_supl_ship_det.po_supl_ship_id}</span></td>
                                <td width="6px">&nbsp;</td>
                                <td width="90px"></td>
                                <td id="box_right" width="120px">{$status_txt}</td>
                            </tr>
                            <tr>
                                <td colspan="5"><hr></td>
                            </tr>
                            <tr>
                                <td id="box_right">P.O. #：</td>
                                <td><a id="Popup" href="#" www="po.php?PHP_action=po_rcv_view&PHP_aply_num={$po_supl_ship_det.po_num|replace:'O':'A'}">{$po_supl_ship_det.po_num}</a></td>
                                <td>&nbsp;</td>
                                <td id="box_right" rowspan="3">
                                    <button class="submit_ajax" type="button" id="box_det_edit" style="height:70px;width:90px;" title="Edit">Edit</button>
                                    <button class="submit_ajax" type="button" id="box_det_update" style="height:70px;width:90px;display:none;" title="Update">Update</button>
                                </td>
                                <td id="box_right" rowspan="3">{if $i_qty == '0'}<button class="submit_ajax" type="button" id="box_det_del" style="height:70px;width:90px;" title="DEL">DEL</button>{/if}</td>
                            </tr>
                            <tr>
                                <td id="box_right">Invoice #：</td>
                                <td><span id="S_invoice_num">{$po_supl_ship_det.invoice_num}</span><input class="input" type="text" id="M_invoice_num" name="M_invoice_num" value="{$po_supl_ship_det.invoice_num}" style="width:160px;display:none;" autocomplete="off"/></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td id="box_right">P.I. #：</td>
                                <td><span id="S_pi_num">{$po_supl_ship_det.pi_num}</span><input class="input" type="text" id="M_pi_num" name="M_pi_num" value="{$po_supl_ship_det.pi_num}" style="width:160px;display:none;" autocomplete="off"/></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><hr></td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellspacing="0" cellpadding="0">
                            {section name=SEC loop=$po_det}
                            
                            <!-- title -->
                            {if $smarty.section.SEC.index % 6 == 0}
                            <!-- 主料選單 -->
                            {if $po_det[SEC].mat_cat == 'l'}
                            <tr>
                                <td id="list_title">Supplier's<br>Code</td>
                                <td id="list_title">Name</td>
                                <td id="list_title">Content</td>
                                <td id="list_title">Construction</td>
                                <td id="list_title">Cuttable<br>Width</td>
                                <td id="list_title">Color</td>
                                <td id="list_title">Po Qty</td>
                                <td id="list_title" title="已完成出貨數量">Quantity<br>Shipped</td>
                                <td id="list_title" title="小計已完成+目前出貨數量">Shipped<br>Total Qty</td>
                                <td id="list_title" title="目前出貨數量">Ship Qty</td>
                                <td id="list_title">Unit</td>
                                <td id="list_title">&nbsp;</td>
                            </tr>
                            {else}
                            <!-- 副料選單 -->
                            <tr>
                                <td id="list_title">Supplier's<br>Code</td>
                                <td id="list_title">Name</td>
                                <td id="list_title">Construction</td>
                                <td id="list_title" colspan="3">Color</td>
                                <td id="list_title">Size</td>
                                <td id="list_title">Po Qty</td>
                                <td id="list_title" title="已完成出貨數量">Quantity<br>Shipped</td>
                                <td id="list_title" title="小計已完成+目前出貨數量">Shipped<br>Total Qty</td>
                                <td id="list_title" title="目前出貨數量">Ship Qty</td>
                                <td id="list_title">Unit</td>
                                <td id="list_title">&nbsp;</td>
                            </tr>
                            {/if}
                            {/if}
                            
                            <input type="hidden" id="M_po" name="M_po" value="{$po_det[SEC].po_num}" />
                            
                            {if $po_det[SEC].mat_cat == 'l'}
                            <!-- 主料採購項目 -->
                            <tr id="box_txt_{$po_det[SEC].id}" po="{$po_det[SEC].po_num}" link="?PHP_action=po_ship_add&po={$po_det[SEC].po_num}">
                                <td id="list_left">{$po_det[SEC].det_des.des}</td>
                                <td id="list_left">{$po_det[SEC].det_des.lots_name}</td>
                                <td id="list_left">{$po_det[SEC].det_des.comp}</td>
                                <td id="list_left">{$po_det[SEC].det_des.specify}</td>
                                <td id="list_left">{$po_det[SEC].det_des.width}</td>
                                <td id="list_left">{$po_det[SEC].color}</td>
                                <td id="list_right">{$po_det[SEC].po_qtys|number_format:"2f"}</td>
                                <td id="list_right" name="qtty_shipped_qty_{$po_det[SEC].id}">{$po_det[SEC].qtty_shipped_qty|number_format:"2f"}</td>
                                <td id="list_right" name="ship_total_qty_{$po_det[SEC].id}">{$po_det[SEC].ship_total_qty|number_format:"2f"}</td>
                                <td id="list_right" class="bsqty_right" name="ship_qty_{$po_det[SEC].id}">{$po_det[SEC].ship_qty|number_format:"2f"}</td>
                                <td id="list_left">{$po_det[SEC].po_unit}</td>
                                <td id="list_right"><img id="append" po_id="append_l_{$po_det[SEC].id}" src="images/bullet_toggle_plus.png" title="OPEN"></td>
                            </tr>
                            <tr id="append_l_{$po_det[SEC].id}" style="display:none;">
                                <td class="list_data" colspan="10">
                                    <table id="mat_{$po_det[SEC].id}" border="0" cellspacing="0" cellpadding="0" align="left">
                                        <tr>
                                            <td id="list_title2" colspan="7">Packing List</td>
                                            <td id=""></td>
                                        </tr>
                                        <tr>
                                            <td id="list_title2">C/NO</td>
                                            <td id="list_title2">L/NO</td>
                                            <td id="list_title2">R/NO</td>
                                            <td id="list_title2">Q'TY</td>
                                            <td id="list_title2">N.W.</td>
                                            <td id="list_title2">G.W.</td>
                                            <td id="list_title2">C/O</td>
                                            <td id=""></td>
                                        </tr>
                                        <tr>
                                            <input type="hidden" id="M_ap_id_{$po_det[SEC].id}" name="M_ap_id_{$po_det[SEC].id}" value="{$po_det[SEC].po_ap_id}" />
                                            <input type="hidden" id="M_ship_id_{$po_det[SEC].id}" name="M_ship_id_{$po_det[SEC].id}" value="{$po_det[SEC].po_ship_id}" />
                                            <input type="hidden" id="M_mat_cat_{$po_det[SEC].id}" name="M_mat_cat_{$po_det[SEC].id}" value="{$po_det[SEC].mat_cat}" />
                                            <input type="hidden" id="M_mat_id_{$po_det[SEC].id}" name="M_mat_id_{$po_det[SEC].id}" value="{$po_det[SEC].mat_id}" />
                                            <input type="hidden" id="M_color_{$po_det[SEC].id}" name="M_color_{$po_det[SEC].id}" value="{$po_det[SEC].color|escape:'html'}" />
                                            <input type="hidden" id="M_size_{$po_det[SEC].id}" name="M_size_{$po_det[SEC].id}" value="{$po_det[SEC].size|escape:'html'}" />
                                            <input type="hidden" id="M_po_unit_{$po_det[SEC].id}" name="M_po_unit_{$po_det[SEC].id}" value="{$po_det[SEC].po_unit|escape:'html'}" />

                                            <td class="list_data"><input class="input" type="text" id="M_c_no_{$po_det[SEC].id}" name="M_c_no_{$po_det[SEC].id}" value="{$po_det[SEC].c_no|escape:'html'}" style="width:60px;" autocomplete="off"/></td>
                                            <td class="list_data"><input class="input" type="text" id="M_l_no_{$po_det[SEC].id}" name="M_l_no_{$po_det[SEC].id}" value="{$po_det[SEC].l_no|escape:'html'}" style="width:60px;" autocomplete="off"/></td>
                                            <td class="list_data"><input class="input" type="text" id="M_r_no_{$po_det[SEC].id}" name="M_r_no_{$po_det[SEC].id}" value="{$po_det[SEC].r_no|escape:'html'}" style="width:60px;" autocomplete="off"/></td>
                                            <td class="list_data"><input class="input" type="text" id="M_qty_{$po_det[SEC].id}" name="M_qty_{$po_det[SEC].id}" value="{$po_det[SEC].qty}" style="width:60px;" autocomplete="off"/></td>
                                            <td class="list_data"><input class="input" type="text" id="M_nw_{$po_det[SEC].id}" name="M_nw_{$po_det[SEC].id}" value="{$po_det[SEC].nw}" style="width:60px;" autocomplete="off"/></td>
                                            <td class="list_data"><input class="input" type="text" id="M_gw_{$po_det[SEC].id}" name="M_gw_{$po_det[SEC].id}" value="{$po_det[SEC].gw}" style="width:60px;" autocomplete="off"/></td>
                                            <td class="list_data"><input class="input" type="text" id="M_c_o_{$po_det[SEC].id}" name="M_c_o_{$po_det[SEC].id}" value="{if $po_det[SEC].c_o == ''}MADE IN {else}{$po_det[SEC].c_o|escape:'html'}{/if}" style="width:120px;" autocomplete="off"/></td>
                                            <td id="box_left"><button class="submit_ajax" type="button" id="add" po_id="{$po_det[SEC].id}" style="height:30px;width:80px;" title="Add">Add</button></td>
                                        </tr>
                                        {section name=LINK loop=$po_det[SEC].link}
                                        <tr id="link_{$po_det[SEC].link[LINK].id}">
                                            <td id="list_title3"><span id="S_c_no_{$po_det[SEC].link[LINK].id}">{$po_det[SEC].link[LINK].c_no}</span><input class="input" type="text" id="E_c_no_{$po_det[SEC].link[LINK].id}" name="E_c_no_{$po_det[SEC].id}" value="{$po_det[SEC].link[LINK].c_no|escape:'html'}" style="width:60px;display:none;" autocomplete="off"/></td>
                                            <td id="list_title3"><span id="S_l_no_{$po_det[SEC].link[LINK].id}">{$po_det[SEC].link[LINK].l_no}</span><input class="input" type="text" id="E_l_no_{$po_det[SEC].link[LINK].id}" name="E_l_no_{$po_det[SEC].id}" value="{$po_det[SEC].link[LINK].l_no|escape:'html'}" style="width:60px;display:none;" autocomplete="off"/></td>
                                            <td id="list_title3"><span id="S_r_no_{$po_det[SEC].link[LINK].id}">{$po_det[SEC].link[LINK].r_no}</span><input class="input" type="text" id="E_r_no_{$po_det[SEC].link[LINK].id}" name="E_r_no_{$po_det[SEC].id}" value="{$po_det[SEC].link[LINK].r_no|escape:'html'}" style="width:60px;display:none;" autocomplete="off"/></td>
                                            <td id="list_title3_number" class="bsqty_right">
                                                <span id="S_qty_{$po_det[SEC].link[LINK].id}" name="ship_det_qty_{$po_det[SEC].id}" >{$po_det[SEC].link[LINK].qty|number_format:'2f'}</span>
                                                <input class="input" type="text" id="E_qty_{$po_det[SEC].link[LINK].id}" name="E_qty_{$po_det[SEC].link[LINK].id}" value="{$po_det[SEC].link[LINK].qty|number_format:'2f'}" style="width:60px;display:none;" autocomplete="off"/>
                                            </td>
                                            <td id="list_title3_number"><span id="S_nw_{$po_det[SEC].link[LINK].id}">{$po_det[SEC].link[LINK].nw}</span><input class="input" type="text" id="E_nw_{$po_det[SEC].link[LINK].id}" name="E_nw_{$po_det[SEC].id}" value="{$po_det[SEC].link[LINK].nw|number_format:'2f'}" style="width:60px;display:none;" autocomplete="off"/></td>
                                            <td id="list_title3_number"><span id="S_gw_{$po_det[SEC].link[LINK].id}">{$po_det[SEC].link[LINK].gw}</span><input class="input" type="text" id="E_gw_{$po_det[SEC].link[LINK].id}" name="E_gw_{$po_det[SEC].id}" value="{$po_det[SEC].link[LINK].gw|number_format:'2f'}" style="width:60px;display:none;" autocomplete="off"/></td>
                                            <td id="list_title3_txt"><span id="S_c_o_{$po_det[SEC].link[LINK].id}">{$po_det[SEC].link[LINK].c_o}</span><input class="input" type="text" id="E_c_o_{$po_det[SEC].link[LINK].id}" name="E_c_o_{$po_det[SEC].id}" value="{$po_det[SEC].link[LINK].c_o|escape:'html'}" style="width:120px;display:none;" autocomplete="off"/></td>
                                            <td id="box_left">
                                                {if $po_det[SEC].link[LINK].in != 1}
                                                <button class="submit_ajax" type="button" id="edit_{$po_det[SEC].link[LINK].id}" ship_id="{$po_det[SEC].id}" link_id="{$po_det[SEC].link[LINK].id}" style="height:30px;width:80px;" title="Edit">Edit</button>
                                                <button class="submit_ajax" type="button" id="update_{$po_det[SEC].link[LINK].id}" ship_id="{$po_det[SEC].id}" link_id="{$po_det[SEC].link[LINK].id}" style="height:30px;width:80px;display:none;" title="Update">Update</button>                                                
                                                <button class="submit_ajax" type="button" id="delete" ship_id="{$po_det[SEC].id}" link_id="{$po_det[SEC].link[LINK].id}" style="height:30px;width:80px;" title="Delete">Delete</button>
                                                {else}
                                                Receive
                                                {/if}
                                            </td>
                                        </tr>                                        
                                        {/section}
                                        <!-- 主料出貨項目 -->
                                    </table>
                                </td>
                            </tr>
                            
                            {else}
                            <!-- 副料採購項目 -->
                            <tr id="box_txt_{$po_det[SEC].id}" po="{$po_det[SEC].po_num}" link="?PHP_action=po_ship_add&po={$po_det[SEC].po_num}">
                                <td id="list_left">{$po_det[SEC].det_des.des}</td>
                                <td id="list_left">{$po_det[SEC].det_des.acc_name}</td>
                                <td id="list_left">{$po_det[SEC].det_des.specify}</td>
                                <td id="list_left" colspan="3">{$po_det[SEC].color}</td>
                                <td id="list_left">{$po_det[SEC].size}</td>
                                <td id="list_right">{$po_det[SEC].po_qtys|number_format:"2f"}</td>
                                <td id="list_right" name="qtty_shipped_qty_{$po_det[SEC].id}">{$po_det[SEC].qtty_shipped_qty|number_format:"2f"}</td>
                                <td id="list_right" name="ship_total_qty_{$po_det[SEC].id}">{$po_det[SEC].ship_total_qty|number_format:"2f"}</td>
                                <td id="list_right" name="ship_qty_{$po_det[SEC].id}">{$po_det[SEC].ship_qty|number_format:"2f"}</td>
                                <td>{$po_det[SEC].po_unit}</td>
                                <td><img id="append" po_id="append_a_{$po_det[SEC].id}" src="images/bullet_toggle_plus.png" title="OPEN"></td>
                            </tr>
                            <tr id="append_a_{$po_det[SEC].id}" style="display:none;">
                                <td class="list_data" colspan="10">
                                    <table id="mat_{$po_det[SEC].id}" border="0" cellspacing="0" cellpadding="0" align="left">
                                        <tr>
                                            <td id="list_title2" colspan="7" >Packing List</td>
                                            <td id=""></td>
                                        </tr>
                                        <tr>
                                            <td id="list_title2">C/NO</td>
                                            <td id="list_title2">L/NO</td>
                                            <td id="list_title2">R/NO</td>
                                            <td id="list_title2">Q'TY</td>
                                            <td id="list_title2">N.W.</td>
                                            <td id="list_title2">G.W.</td>
                                            <td id="list_title2">C/O</td>
                                            <td id=""></td>
                                        </tr>
                                        <tr>
                                            <input type="hidden" id="M_ap_id_{$po_det[SEC].id}" name="M_ap_id_{$po_det[SEC].id}" value="{$po_det[SEC].po_ap_id}" />
                                            <input type="hidden" id="M_ship_id_{$po_det[SEC].id}" name="M_ship_id_{$po_det[SEC].id}" value="{$po_det[SEC].po_ship_id}" />
                                            <input type="hidden" id="M_mat_cat_{$po_det[SEC].id}" name="M_mat_cat_{$po_det[SEC].id}" value="{$po_det[SEC].mat_cat}" />
                                            <input type="hidden" id="M_mat_id_{$po_det[SEC].id}" name="M_mat_id_{$po_det[SEC].id}" value="{$po_det[SEC].mat_id}" />
                                            <input type="hidden" id="M_color_{$po_det[SEC].id}" name="M_color_{$po_det[SEC].id}" value="{$po_det[SEC].color|escape:'html'}" />
                                            <input type="hidden" id="M_size_{$po_det[SEC].id}" name="M_size_{$po_det[SEC].id}" value="{$po_det[SEC].size|escape:'html'}" />
                                            <input type="hidden" id="M_po_unit_{$po_det[SEC].id}" name="M_po_unit_{$po_det[SEC].id}" value="{$po_det[SEC].po_unit|escape:'html'}" />

                                            <td class="list_data"><input class="input" type="text" id="M_c_no_{$po_det[SEC].id}" name="M_c_no_{$po_det[SEC].id}" value="{$po_det[SEC].c_no|escape:'html'}" style="width:60px;" autocomplete="off"/></td>
                                            <td class="list_data"><input class="input" type="text" id="M_l_no_{$po_det[SEC].id}" name="M_l_no_{$po_det[SEC].id}" value="{$po_det[SEC].l_no|escape:'html'}" style="width:60px;" autocomplete="off"/></td>
                                            <td class="list_data"><input class="input" type="text" id="M_r_no_{$po_det[SEC].id}" name="M_r_no_{$po_det[SEC].id}" value="{$po_det[SEC].r_no|escape:'html'}" style="width:60px;" autocomplete="off"/></td>
                                            <td class="list_data"><input class="input" type="text" id="M_qty_{$po_det[SEC].id}" name="M_qty_{$po_det[SEC].id}" value="{$po_det[SEC].qty}" style="width:60px;" autocomplete="off"/></td>
                                            <td class="list_data"><input class="input" type="text" id="M_nw_{$po_det[SEC].id}" name="M_nw_{$po_det[SEC].id}" value="{$po_det[SEC].nw}" style="width:60px;" autocomplete="off"/></td>
                                            <td class="list_data"><input class="input" type="text" id="M_gw_{$po_det[SEC].id}" name="M_gw_{$po_det[SEC].id}" value="{$po_det[SEC].gw}" style="width:60px;" autocomplete="off"/></td>
                                            <td class="list_data"><input class="input" type="text" id="M_c_o_{$po_det[SEC].id}" name="M_c_o_{$po_det[SEC].id}" value="{if $po_det[SEC].c_o == ''}MADE IN {else}{$po_det[SEC].c_o|escape:'html'}{/if}" style="width:120px;" autocomplete="off"/></td>
                                            <td id="box_left"><button class="submit_ajax" type="button" id="add" po_id="{$po_det[SEC].id}" style="height:30px;width:80px;" title="Add">Add</button></td>
                                        </tr>
                                        {section name=LINK loop=$po_det[SEC].link}
                                        <tr id="link_{$po_det[SEC].link[LINK].id}">
                                            <td id="list_title3"><span id="S_c_no_{$po_det[SEC].link[LINK].id}">{$po_det[SEC].link[LINK].c_no}</span><input class="input" type="text" id="E_c_no_{$po_det[SEC].link[LINK].id}" name="E_c_no_{$po_det[SEC].id}" value="{$po_det[SEC].link[LINK].c_no|escape:'html'}" style="width:60px;display:none;" autocomplete="off"/></td>
                                            <td id="list_title3"><span id="S_l_no_{$po_det[SEC].link[LINK].id}">{$po_det[SEC].link[LINK].l_no}</span><input class="input" type="text" id="E_l_no_{$po_det[SEC].link[LINK].id}" name="E_l_no_{$po_det[SEC].id}" value="{$po_det[SEC].link[LINK].l_no|escape:'html'}" style="width:60px;display:none;" autocomplete="off"/></td>
                                            <td id="list_title3"><span id="S_r_no_{$po_det[SEC].link[LINK].id}">{$po_det[SEC].link[LINK].r_no}</span><input class="input" type="text" id="E_r_no_{$po_det[SEC].link[LINK].id}" name="E_r_no_{$po_det[SEC].id}" value="{$po_det[SEC].link[LINK].r_no|escape:'html'}" style="width:60px;display:none;" autocomplete="off"/></td>
                                            <td id="list_title3_number" class="bsqty_right">
                                                <span id="S_qty_{$po_det[SEC].link[LINK].id}" name="ship_det_qty_{$po_det[SEC].id}" >{$po_det[SEC].link[LINK].qty}</span>
                                                <input class="input" type="text" id="E_qty_{$po_det[SEC].link[LINK].id}" name="E_qty_{$po_det[SEC].link[LINK].id}" value="{$po_det[SEC].link[LINK].qty|number_format:'2f'}" style="width:60px;display:none;" autocomplete="off"/>
                                            </td>
                                            <td id="list_title3_number"><span id="S_nw_{$po_det[SEC].link[LINK].id}">{$po_det[SEC].link[LINK].nw}</span><input class="input" type="text" id="E_nw_{$po_det[SEC].link[LINK].id}" name="E_nw_{$po_det[SEC].id}" value="{$po_det[SEC].link[LINK].nw|number_format:'2f'}" style="width:60px;display:none;" autocomplete="off"/></td>
                                            <td id="list_title3_number"><span id="S_gw_{$po_det[SEC].link[LINK].id}">{$po_det[SEC].link[LINK].gw}</span><input class="input" type="text" id="E_gw_{$po_det[SEC].link[LINK].id}" name="E_gw_{$po_det[SEC].id}" value="{$po_det[SEC].link[LINK].gw|number_format:'2f'}" style="width:60px;display:none;" autocomplete="off"/></td>
                                            <td id="list_title3_txt"><span id="S_c_o_{$po_det[SEC].link[LINK].id}">{$po_det[SEC].link[LINK].c_o}</span><input class="input" type="text" id="E_c_o_{$po_det[SEC].link[LINK].id}" name="E_c_o_{$po_det[SEC].id}" value="{$po_det[SEC].link[LINK].c_o|escape:'html'}" style="width:120px;display:none;" autocomplete="off"/></td>
                                            <td id="box_left">
                                                {if $po_det[SEC].link[LINK].in != 1}
                                                <button class="submit_ajax" type="button" id="edit_{$po_det[SEC].link[LINK].id}" ship_id="{$po_det[SEC].id}" link_id="{$po_det[SEC].link[LINK].id}" style="height:30px;width:80px;" title="Edit">Edit</button>
                                                <button class="submit_ajax" type="button" id="update_{$po_det[SEC].link[LINK].id}" ship_id="{$po_det[SEC].id}" link_id="{$po_det[SEC].link[LINK].id}" style="height:30px;width:80px;display:none;" title="Delete">Update</button>                                                
                                                <button class="submit_ajax" type="button" id="delete" ship_id="{$po_det[SEC].id}" link_id="{$po_det[SEC].link[LINK].id}" style="height:30px;width:80px;" title="Delete">Delete</button>
                                                {else}
                                                Receive
                                                {/if}
                                            </td>
                                        </tr>
                                        {/section}
                                        <!-- 主料出貨項目 -->
                                    </table>
                                </td>
                            </tr>

                            
                            
                            {/if}
                            {/section}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><hr></td>
                </tr>
                <tr>
                    <td>
                        <button class="submit_ajax" type="button" id="goback" go="supl_ship_edit" style="height:30px;width:100%;" title="Back">Back</button>
                    </td>
                </tr>
            </table>
            </form>
        </td>
    </tr>
</table>

{include file="footer.html"}