{include file="header.html"}
<script type="text/javascript">
    var $ppd = '{$select_express}';
</script>

<table cellspacing="0" cellpadding="0" cols="0" width="100%">
	<tr>
		<td class="subtitle">SHIPPING Edit - FOR SUPPLIER</td>
	</tr>
    <tr>
		<td class="">
            {section name=SEC loop=$now_po}
            <span class="po_box">
                {$now_po[SEC]}
                <input type="image" onClick="blockUI('search_po_del','{$po_num}','{$ship}','{$finl_dist}','{$now_num}','{$now_po[SEC]}');" border="0" src="images/del.gif" title="DEL">
            </span>
            {/section}
        </td>
	</tr>
	<tr>
		<td></td>
	</tr>
	<tr>
		<td class="subInputName">
            <table class="tbl_body" border="0" cellspacing="0" cellpadding="0">
                <form method="POST" action="?PHP_action=supl_ship_add">
                <input type="hidden" id="M_ship_id" name="M_ship_id" value="{$po_supl_ship.id}" />
                <tr>
                    <td id="box_right">SHIPPING #¡G</td>
                    <td><span class="code_number">S{$po_supl_ship.id}</span></td>
                    <td>&nbsp;</td>
                    <td></td>
                    <td>{$status_txt}</td>
                </tr>
                <tr>
                    <td colspan="5"><hr></td>
                </tr>
                <tr>
                  <td id="box_right">B.L. #¡G</td>
                  <td><input class="input" type="text" id="M_bl_num" name="M_bl_num" value="{$po_supl_ship.bl_num}" style="width:150px;" autocomplete="off"/></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                  <td id="box_right">Carrier #¡G</td>
                  <td><input class="input" type="text" id="M_carrier_num" name="M_carrier_num" value="{$po_supl_ship.carrier_num}" style="width:150px;" autocomplete="off"/></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td id="box_right">From¡G</td>
                    <td>{$select_from} <input class="input" type="text" id="M_org2" name="M_org2" value="{$po_supl_ship.org2}" style="width:100px;" autocomplete="off"/></td>
                    <td>&nbsp;</td>
                    <td id="box_right">To¡G</td>
                    <td>{$select_to}</td>
                </tr>
                <tr>
                    <td id="box_right">Shipping Date¡G</td>
                    <td>
                        {html_options id=M_ship_date_yy name=M_ship_date_yy options=$dates.yy selected=$dates.yys}
                        {html_options id=M_ship_date_mm name=M_ship_date_mm options=$dates.mm selected=$dates.mms}
                        {html_options id=M_ship_date_dd name=M_ship_date_dd options=$dates.dd selected=$dates.dds}
                    </td>
                    <td>&nbsp;</td>
                    <td id="box_right">ETA Date¡G</td>
                    <td>
                        {html_options id=M_ship_eta_date_yy name=M_ship_eta_date_yy options=$dates_eta.yy selected=$dates_eta.yys}
                        {html_options id=M_ship_eta_date_mm name=M_ship_eta_date_mm options=$dates_eta.mm selected=$dates_eta.mms}
                        {html_options id=M_ship_eta_date_dd name=M_ship_eta_date_dd options=$dates_eta.dd selected=$dates_eta.dds} 
                    </td>
                </tr>
                <tr>
                    <td id="box_right">Ship By¡G</td>
                    <td id="ship">{$select_ship_way} <span id="way">{if $po_supl_ship.ex_cmpy}{$select_express}{/if}</span></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <button class="submit_ajax" type="button" id="box_update" style="height:30px;width:100%;" title="Update">Update</button>
                    </td>
                </tr>
                </form>
            </table>
        </td>
    </tr>
    <tr>
		<td class="subInputName">
            <table class="tbl_body" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="5"><hr></td>
                </tr>
                {section name=SEC loop=$po_supl_ship_det}
                <tr>
                    <td colspan="5">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="background:url(images/box/L_T.png) bottom;background-repeat:no-repeat;height:14px;width:14px;"></td>
                                <td style="background:url(images/box/M_T.png) bottom;background-repeat:repeat-x;" ></td>
                                <td style="background:url(images/box/R_T.png) bottom;background-repeat:no-repeat;width:14px;"></td>
                            </tr>
                            <tr>
                                <td style="background:url(images/box/L_M.png) left;background-repeat:repeat-y;"></td>
                                <td bgcolor="ccccff">
                                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                        <tr>
                                            <td colspan="4">
                                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                    <form id="form_edit" method="POST" action="?PHP_action=supl_ship_det_edit">
                                                    <input type="hidden" id="M_id" name="M_id" value="{$po_supl_ship.id}" />
                                                    <input type="hidden" id="M_det_id" name="M_det_id" value="{$po_supl_ship_det[SEC].id}" />                                                
                                                    <tr>
                                                        <td>
                                                            <table border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td width="90px" id="box_right">P.O. #¡G</td>
                                                                    <td width="120px" id="box_left"><a id="Popup" href="#" www="po.php?PHP_action=po_rcv_view&PHP_aply_num={$po_supl_ship_det[SEC].po_num|replace:'O':'A'}">{$po_supl_ship_det[SEC].po_num}</a></td>
                                                                    <td width="6px"></td>
                                                                    <td width="90px">&nbsp;</td>
                                                                    <td width="120px">&nbsp;</td>
                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="90px" id="box_right">Invoice #¡G</td>
                                                                    <td width="120px" id="box_left">{$po_supl_ship_det[SEC].invoice_num}</td>
                                                                    <td width="6px"></td>
                                                                    <td width="90px" id="box_right">P.I. #¡G</td>
                                                                    <td width="120px" id="box_left">{$po_supl_ship_det[SEC].pi_num}</td>
                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td align="right" valign="top">
                                                            <table border="0" cellspacing="0" cellpadding="0">
                                                                <tr align="right">
                                                                    <td><img id="append" po_id="det{$po_supl_ship_det[SEC].id}" src="images/bullet_toggle_plus.png" title="OPEN"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><button class="submit_ajax" type="submit" style="height:30px;width:60px;" title="Edit">Edit</button>&nbsp;
																	<input type="button" onclick="del_po('{$po_supl_ship.id}', '{$po_supl_ship_det[SEC].id}','{$po_supl_ship_det[SEC].po_num}');" class="" style="height:30px;width:60px;" value="Delete" title="Delete"></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </form>
                                                </table>
                                            </td>
                                        </tr>                                    
                                        <tr id="det{$po_supl_ship_det[SEC].id}" style="display:none;">
                                            <td colspan="4"><hr></td>
                                        </tr>
                                        <tr id="det{$po_supl_ship_det[SEC].id}" style="display:none;">
                                            <td colspan="4">
                                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                    {section name=DET loop=$po_supl_ship_det[SEC].po_det}
                                                    {if $smarty.section.DET.index % 10 == 0}
                                                    {if $po_supl_ship_det[SEC].po_det[DET].mat_cat == 'l'}
                                                    <tr>
                                                        <td id="list_title">Name</td>
                                                        <td id="list_title">Content</td>
                                                        <td id="list_title">Construction</td>
                                                        <td id="list_title">Cuttable<br>Width</td>
                                                        <td id="list_title">Color</td>
                                                        <td id="list_title">Po Qty</td>
                                                        <td id="list_title">Quantity<br>Shipped</td>
                                                        <td id="list_title">Shipped<br>Total Qty</td>
                                                        <td id="list_title">Ship Qty</td>
                                                        <td id="list_title">Unit</td>
                                                    </tr>
                                                    {else}
                                                    <tr>
                                                        <td id="list_title">Name</td>
                                                        <td id="list_title">Construction</td>
                                                        <td id="list_title" colspan="3">Color</td>
                                                        <td id="list_title">Po Qty</td>
                                                        <td id="list_title">Quantity<br>Shipped</td>
                                                        <td id="list_title">Shipped<br>Total Qty</td>
                                                        <td id="list_title">Ship Qty</td>
                                                        <td id="list_title">Unit</td>
                                                    </tr>
                                                    {/if}
                                                    {/if}
                                                    {if $po_supl_ship_det[SEC].po_det[DET].mat_cat == 'l'}
                                                    <tr id="box_txt">
                                                        <td id="list_left" title="{$po_supl_ship_det[SEC].po_det[DET].det_link.lots_code}">{$po_supl_ship_det[SEC].po_det[DET].det_link.lots_name}</td>
                                                        <td id="list_left">{$po_supl_ship_det[SEC].po_det[DET].det_link.comp}</td>
                                                        <td id="list_left">{$po_supl_ship_det[SEC].po_det[DET].det_link.specify}</td>
                                                        <td id="list_left">{$po_supl_ship_det[SEC].po_det[DET].det_link.width}</td>
                                                        <td id="list_left">{$po_supl_ship_det[SEC].po_det[DET].color}</td>
                                                        <td id="list_right">{$po_supl_ship_det[SEC].po_det[DET].po_qtys|number_format:"2f"}</td>
                                                        <td id="list_right" name="qtty_shipped_qty_{$po_supl_ship_det[SEC].po_det[DET].id}">{$po_supl_ship_det[SEC].po_det[DET].qtty_shipped_qty|number_format:"2f"}</td>
                                                        <td id="list_right" name="ship_total_qty_{$po_supl_ship_det[SEC].po_det[DET].id}">{$po_supl_ship_det[SEC].po_det[DET].ship_total_qty|number_format:"2f"}</td>
                                                        <td id="list_right" class="bsqty_right" name="ship_qty_{$po_supl_ship_det[SEC].po_det[DET].id}">{$po_supl_ship_det[SEC].po_det[DET].ship_qty|number_format:"2f"}</td>
                                                        <td id="list_left">{$po_supl_ship_det[SEC].po_det[DET].po_unit}</td>
                                                    </tr>
                                                    {else}
                                                    <tr id="box_txt">
                                                        <td id="list_left">{$po_supl_ship_det[SEC].po_det[DET].det_link.acc_name}</td>
                                                        <td id="list_left">{$po_supl_ship_det[SEC].po_det[DET].det_link.specify}</td>
                                                        <td id="list_left" colspan="3">{$po_supl_ship_det[SEC].po_det[DET].color}</td>
                                                        <td id="list_right">{$po_supl_ship_det[SEC].po_det[DET].po_qtys|number_format:"2f"}</td>
                                                        <td id="list_right" name="qtty_shipped_qty_{$po_supl_ship_det[SEC].po_det[DET].id}">{$po_supl_ship_det[SEC].po_det[DET].qtty_shipped_qty|number_format:"2f"}</td>
                                                        <td id="list_right" name="ship_total_qty_{$po_supl_ship_det[SEC].po_det[DET].id}">{$po_supl_ship_det[SEC].po_det[DET].ship_total_qty|number_format:"2f"}</td>
                                                        <td id="list_right" name="ship_qty_{$po_supl_ship_det[SEC].po_det[DET].id}">{$po_supl_ship_det[SEC].po_det[DET].ship_qty|number_format:"2f"}</td>
                                                        <td id="list_left">{$po_supl_ship_det[SEC].po_det[DET].po_unit}</td>
                                                    </tr>
                                                    {/if}
                                                    {/section}
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"><hr></td>
                                        </tr>
                                        <tr>
                                            <td align="right" colspan="4">
                                                <table border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td id="box_right">Delivery¡G</td>
                                                        <td colspan="2" id="box_left">{$po_supl_ship_det[SEC].po_det.0.po_eta}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="background:url(images/box/R_M.png) left;background-repeat:repeat-y;"></td>
                            </tr>
                            <tr>
                                <td style="background:url(images/box/L_B.png) top;background-repeat:no-repeat;height:14px;"></td>
                                <td style="background:url(images/box/M_B.png) top;background-repeat:repeat-x;"></td>
                                <td style="background:url(images/box/R_B.png) top;background-repeat:no-repeat;"></td>
                            </tr>
                        </form>
                        </table>                    
                    </td>
                </tr>
                {/section}
                <tr>
                    <td colspan="5"><hr></td>
                </tr>
                <tr>
                    <td colspan="5">
                <tr>
                    <td>
                        <button class="submit_ajax" type="button" id="goback" go="main" style="height:30px;width:24%;" title="Main">Main</button>
                        <button class="submit_ajax" type="button" id="goback" go="search_ship" style="height:30px;width:24%;" title="List">List</button>
                        <button class="submit_ajax" type="button" id="goback" go="supl_ship_view" style="height:30px;width:24%;" title="View">View</button>
                    </td>
                </tr>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{include file="footer.html"}