{include file="header.html"}
<script type="text/javascript">
    var $ppd = '{$select_express}';
</script>
<form method="POST" id="append"><input type="hidden" name="PHP_action" value="append_po"></form>
<table cellspacing="0" cellpadding="0" cols="0" width="100%">
	<tr>
		<td class="subtitle">SHIPPING LIST ~ FOR APPEND ( PURCHASE ORDER )</td>
	</tr>
    <tr>
		<td class="">
            {section name=SEC loop=$now_po}
            <span class="po_box">
                {$now_po[SEC]}
                <input type="image" onClick="blockUI('search_po_del','{$po_num}','{$ship}','{$finl_dist}','{$now_num}','{$now_po[SEC]}');" border="0" src="images/del.gif" title="DEL">
            </span>
            {/section}
        </td>
	</tr>
	<tr>
		<td></td>
	</tr>
	<tr>
		<td></td>
	</tr>
	<tr>
		<td class="subInputName">
            <form method="POST" action="?mode=supl_ship_add">
            <table class="tbl_body" border="0" cellspacing="0" cellpadding="0">
                <input type="hidden" id="M_po" name="M_po" value="{$po[SEC].po_num}" />
                <input type="hidden" id="goback" name="goback" value="{$goback}" />
                <tr>
                    <td id="box_right">Carrier #¡G</td>
                    <td><input class="input" type="text" id="M_carrier_num" name="M_carrier_num" value="{$po.0.carrier_num}" style="width:150px;" autocomplete="off"/></td>
                    <td>&nbsp;</td>
                    <td id="box_right">P.I. #¡G</td>
                    <td><input class="input" type="text" id="M_pi_num" name="M_pi_num" value="{$po.0.pi_num}" style="width:150px;" autocomplete="off"/></td>
                    <td id="box_right" rowspan="5"></td>
                    <td id="box_right" rowspan="5">
                        <button class="submit_ajax" type="submit" id="box_bt" style="height:66px;width:66px;">SHIP</button>
                    </td>
                </tr>
                <tr>
                  <td id="box_right">Invoice #¡G</td>
                  <td><input class="input" type="text" id="M_invoice_num" name="M_invoice_num" value="{$po.0.invoice_num}" style="width:150px;" autocomplete="off"/></td>
                    <td>&nbsp;</td>
                    <td id="box_right">From¡G</td>
                    <td>{$select_from}<input class="input" type="text" id="M_org2" name="M_org2" value="{$po.0.org}" style="width:100px;" autocomplete="off"/></td>
                </tr>
                <tr>
                    <td id="box_right">Shipping Date¡G</td>
                    <td>
                        {html_options id=M_ship_date_yy name=M_ship_date_yy options=$dates.yy selected=$dates.yys}
                        {html_options id=M_ship_date_mm name=M_ship_date_mm options=$dates.mm selected=$dates.mms}
                        {html_options id=M_ship_date_dd name=M_ship_date_dd options=$dates.dd selected=$dates.dds}
                    </td>
                    <td>&nbsp;</td>
                    <td id="box_right">To¡G</td>
                    <td>{$select_to}</td>
                </tr>
                <tr>
                    <td id="box_right">ETA Date¡G</td>
                    <td>
                        {html_options id=M_ship_eta_date_yy name=M_ship_eta_date_yy options=$dates_eta.yy selected=$dates_eta.yys}
                        {html_options id=M_ship_eta_date_mm name=M_ship_eta_date_mm options=$dates_eta.mm selected=$dates_eta.mms}
                        {html_options id=M_ship_eta_date_dd name=M_ship_eta_date_dd options=$dates_eta.dd selected=$dates_eta.dds} 
                    </td>
                    <td>&nbsp;</td>
                    <td id="box_right">Ship By¡G</td>
                    <td id="ship_{$po[SEC].id}">{$select_ship_way}<span id="way_{$po[SEC].id}"></span></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{include file="footer.html"}