{include file="header.html"}
<script type="text/javascript">
    var $ppd = '{$select_express}';
</script>
<form method="POST" id="append"><input type="hidden" name="PHP_action" value="append_po"></form>
<table cellspacing="0" cellpadding="0" cols="0" width="100%">
	<tr>
		<td class="subtitle">SHIPPING LIST ~ FOR PURCHASE ORDER</td>
	</tr>
    {if $now_po}
	<tr>
		<td class="item_title">P.O.#¡G</td>
	</tr>
    <tr>
		<td class="">
            {section name=SEC loop=$now_po}
            <span class="po_box">
                {$now_po[SEC]}
                <input type="image" onClick="blockUI('search_po_del','{$now_po[SEC]}');" border="0" src="images/del.gif" title="DEL">
            </span>
            {/section}
        </td>
	</tr>
	<tr>
		<td class="title_submit" id="append">APPEND</td>
	</tr>
	<tr>
		<td><hr></td>
	</tr>
    {/if}
	<tr>
		<td class="subInputName">
            <table border="0" cellspacing="0" cellpadding="0" cols="0">
<!--                 {if $now_po}
                <tr>
                    <td class="title_submit" id="append">APPEND</td>
                </tr>
                <tr>
                    <td><hr></td>
                </tr>
                {/if} -->
                <tr>
                    <td>
                        <table border="0" cellspacing="0" cellpadding="0" cols="0">
                            <tr class="list_title">
                                <td>P.O.#</td>
                                <td>Department</td>
                                <td>Supplier</td>
                                <td>Source area</td>	
                                <td>Send to</td>
                                <td></td>
                            </tr>
                            {if !$po}
                            <tr class="list_txt">
                                <td colspan="6" align="center"><br>No Records!<br><br>
                            </tr>
                            {/if}
                            {section name=SEC loop=$po} 
                            <tr class="list_txt" id="ship_status" ap_id="{$po[SEC].id}" ap_num="{$po[SEC].ap_num}" po_num="{$po[SEC].po_num}" ship_status="{$po[SEC].ship_status}" supl_f_name="{$po[SEC].po_det.supl_f_name}" style="background-color:{if $po[SEC].ship_status == '0'}#EEEEEE{/if}">
                                <td>{$po[SEC].po_num}</td>
                                <td>{$po[SEC].dept}</td>
                                <td>{$po[SEC].po_det.supl_f_name}</td>
                                <td>{$po[SEC].arv_area}</td>   
                                <td>{$po[SEC].finl_dist}</td> 
                                <td><input type="image" onClick="blockUI('search_po','{$po[SEC].po_num}');" border="0" src="images/add4.gif" title="ADD"></td> 
                            </tr>
                            {/section} 
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="list_note" colspan="6">
                        {$page}
                        {$page_text}
                        <button class="submit_ajax" type="button" id="goback" go="main" style="height:30px;width:100%;" title="Main">Main</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{include file="footer.html"}