<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>===.........  PO已請款未驗收列表 .........===</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
	<script language="javascript" src="./js/col.js"></script>
{literal}
<style type="text/css">@import url(js/calendar/skins/aqua/theme.css);.outline {
	border :1px solid #CCCCCC;
	padding:3px 7px 3px 7px;
	background-color:#FFFFFF;
	color:#000000;
	margin:3px  !important;
	cursor:pointer;
}</style>
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/jquery.blockUI.js"></script>
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script language="javascript" src="./js/open_detial.js"></script>
<script type="text/javascript" src="./js/jquery.blockUI.js"></script>
<script type="text/javascript" src="./js/calendar/calendar.js"></script>
<script type="text/javascript" src="./js/calendar/lang/calendar-en.js"></script>
<script type="text/javascript" src="./js/calendar/calendar-setup.js"></script>
<script language="javascript">
function stock_search(){
	$.blockUI({ message: '<div><h3>Loading...</h3></div>'});
	var fty = $("#PHP_factory").val();
	if(!fty){
		fty = '';
	}
	
	var mat = $("#PHP_mat").val();
	location.href="stock.php?PHP_action=stock&PHP_fty="+fty+"&PHP_mat="+mat;
}

function search_mask(){
	$.blockUI({ message: '<div><h3>Loading...</h3></div>'});
	
}

function exp_out(id) {
	 var url ='po_ship.php?PHP_action=ship_view&PHP_id='+id+"&PHP_resize=1"; 	
	 var nm = 'express';
	 window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=600 top=50, left=100');
}
</script>
{/literal}
</head>
<body  bgcolor="ffffff" >&nbsp;
<!-- ################################################################################# -->
<table border cellspacing=0 cellpadding=2 cols=1 width=750 bgcolor=#cccccc  align=center>
 <tr><form METHOD="POST" name="un_rcv_po_form">  
    <td align=center>
     <table border=0 cellspacing=0 cellpadding=4 cols=1 width=750 bgcolor=#534A67>
		 <tr>
			<td class=des align=right>
				PO開單人：
			</td>
			<td class=des align=left>
				<input type="text" name="PHP_po_user" value="{$login_id}" size="5">
			</td>
			<td class=des align=right>
				客人：
			</td>
			<td class=des align=left>
				{$cust_select}
			</td>
			<td class=des align=right>
				PO開單日：
			</td>
			<td class=des align=left>
				<input type=text id="PHP_begin_date" name="PHP_begin_date" size=10 class=select value="{$begin_date}">
				{literal}
				<script type="text/javascript">Calendar.setup({inputField:"PHP_begin_date",button:"f_trigger_c",ifFormat:"%Y-%m-%d"});</script>
				{/literal}
				&nbsp;TO&nbsp;
				<input type=text id="PHP_end_date" name="PHP_end_date" size=10 class=select value="{$end_date}">
				{literal}
				<script type="text/javascript">Calendar.setup({inputField:"PHP_end_date",button:"f_trigger_c",ifFormat:"%Y-%m-%d"});</script>
				{/literal}
			</td>
			<td>
				<input type="hidden" name="PHP_action" value="show_un_rcv_po">
				<input type="hidden" name="PHP_search_flag" value="1">
				<input type="submit" value="SEARCH" onClick="return search_mask();" style="cursor:pointer">
			</td>
		</tr>
     </table></td></tr>
</table></form>
<table border cellspacing=0 cellpadding=2 width=750 bgcolor=#ffffff align=center>
  <tr bgcolor="#003333" height=28> 
	<td nowrap width=60 align=center class=back>PO #</td>
	<td nowrap width=60 align=center class=back>supplier</td>
	<td nowrap width=180 align=center class=back>order</td>
	<td nowrap width=140 align=center class=back>ship #</td>
	<td nowrap width=140 align=center class=back>receive #</td>
  </tr>
	{section name=SEC loop=$ap}
  <tr onmouseover="bgColor='#FCF4A4'" onmouseout="bgColor='#ffffff'"><form>
	<td class=g10 align=center nowrap>
      <a href="javascript:po_show('{$ap[SEC].ap_num}','')" style='cursor:pointer'><b>{$ap[SEC].po_num}&nbsp;</b></a>
	</td>
    <td class=grn9 align=left>
		{$ap[SEC].supl_s_name}&nbsp;
	</td>
	<td class=g10 align=left>
		{section name=ORD loop=$ap[SEC].orders}
		<b><a href="javascript:po_bom_view('{$ap[SEC].orders[ORD]}','')">{$ap[SEC].orders[ORD]}</a></b><br>
		{/section}
	</td>
    <td align=left class=g10>
		<b>
		{section name=SP loop=$ap[SEC].ship}
		<a href="javascript:exp_out('{$ap[SEC].ship[SP].id}')">{$ap[SEC].ship[SP].num}</a><br>
		{/section}
		</b>&nbsp;
	</td>
	<td align=left class=g10>
		<b>
		{section name=RV loop=$ap[SEC].rcv}
			{$ap[SEC].rcv[RV]}<br>
		{/section}
		</b>&nbsp;
	</td>
  </tr>
	{/section}
</table>

	</td>
</tr>
</table>
</form>
<!--------- footer ---------->
{include file="footer.html"}