<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=big-5">
<title>===:::::::::: SCM B module [ USER information ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./css/bom.css">
{literal}
<script language="javascript" src="./js/open_detial.js"></script>
<script language="javascript">
  function change_data(){
   document.user_add.submit();
  }
</script>
{/literal}
</head>
<body>
<br>
<table cellspacing=1 cellpadding=4 cols=1 width=90% bgcolor=#003300>
	<tr><td class="des" align=center height=28><b>SCM B module</b> [ <span class=sign><b>Append</b></span> New USER ] </td></tr>
</table>
{if $msg}
<table border=1 cellpadding=4 cellspacing=0 cols=1 width=90%>
	<tr bgcolor=#ffffff> 
		<td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
		<td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
	</tr>
</table>
{/if}
<table border=0 cellspacing=0 cellpadding=1 width=90% bgcolor=#FFFFFF>
	<tr>
		<td colspan=6 class=frnt align=center><hr size=2 width=100%></td>
	</tr>
	<form METHOD="POST" name="user_add" action="">
	<input type="hidden" name="PHP_action" value="user_add">

	{if $dept}
	<tr>
		<td colspan=6 class=frnt><b>Dept¡G</b>
			{php}
        $dept = $GLOBALS['op']['dept'];
        $dept_k = $GLOBALS['op']['dept_k'];
        $user = $GLOBALS['op']['user'];
				$mnum = 0;
				foreach($dept AS $key => $val){
					if($mnum == 0) echo '<tr>';
					echo '<td width=150 ';
					if($dept_k == $val[2])echo 'bgcolor="#FFFF99"';
					echo '><label>
        	<input name="PHP_dept" type="radio" value="'.$val[2].'" onClick="change_data();"';
					if($dept_k == $val[2]) echo 'checked';
					echo '>'.$val[2].' - '.$val[1].'</label></td>';
					$mnum = $mnum + 1;
					if($mnum == 5){ echo '</tr>';$mnum = 0;}
				}
			{/php}
		</td>
	</tr>		
	<tr>
		<td colspan=6 class=frnt align=center><hr size=2 width=100%></td>
	</tr>
	{/if}

	<tr>
		<td colspan=2 class=frnt align=center><b>[ APPEND USER ]</b></td>
		<td colspan=2 align=right nowrap class=bgdy><b>Dept. code¡G</b></td>
		<td colspan=2 align=left nowrap class=frnt>&nbsp;{$team_select}</td>
	</tr>

	<input type="hidden" name="PHP_dept_code" value="{$user.dept_code}">
	<input type="hidden" name="PHP_emp_id" value="{$user.emp_id}">
	<input type="hidden" name="PHP_login_id" value="{$user.login_id}">
	<input type="hidden" name="PHP_login_pass1" value="{$user.login_pass1}">
	<input type="hidden" name="PHP_login_pass2" value="{$user.login_pass2}">
	<input type="hidden" name="PHP_team_cod" value="{$user.team_code}">
	<input type="hidden" name="PHP_name" value="{$user.name}">
	<input type="hidden" name="PHP_phone" value="{$user.phone}">
	<input type="hidden" name="PHP_cellphone" value="{$user.cellphone}">
	<input type="hidden" name="PHP_email" value="{$user.email}">
	</form>
	<form METHOD="POST" name="user_add2" action="">
	<tr>
		<td class=bgdy align=right><b>Employee ID #¡G</b></td>
		<td class=frnt align=left bgcolor=#CEE4E3>&nbsp;<input type=text name="PHP_emp_id" size=15 class=select value="{$user.emp_id}" {$disabled}></td>
		<td class=bgdy align=right colspan=2><b>LOG-IN ID¡G</b></td>
		<td class=frnt align=left colspan=2 bgcolor=#CEE4E3>&nbsp;<input type=text name="PHP_login_id" size=15 class=select value="{$user.login_id}" {$disabled}></td>
	</tr>
	<tr>
		<td colspan=6 class=frnt align=center><hr size=2 width=100%></td>
	</tr>
	<tr>
		<td class=bgdy align=right><b>Password¡G</b></td>
		<td class=frnt align=left bgcolor=#CEE4E3>&nbsp;<input type='password' name="PHP_login_pass1" size=15 class=select value="{$user.login_pass1}" {$disabled}></td>
		<td class=bgdy align=right colspan=2><b>Re-Type Password¡G</b></td>
		<td class=frnt align=left colspan=2 bgcolor=#CEE4E3>&nbsp;<input type='password' name="PHP_login_pass2" size=15 class=select value="{$user.login_pass2}" {$disabled}></td>
	</tr>
	<tr>
		<td colspan=6 class=frnt align=center><hr size=2 width=100%></td>
	</tr>
	<tr>
		<td class=bgdy align=right><b>Full Name¡G</b></td>
		<td class=frnt align=left bgcolor=#CEE4E3>&nbsp;<input type='text' name="PHP_name" size=15 class=select value="{$user.name}" {$disabled}></td>
		<td class=bgdy align=right colspan=2><b>CellPhone¡G</b></td>
		<td class=frnt align=left colspan=2 bgcolor=#CEE4E3><input type='text' name="PHP_cellphone" size=15 class=select value="{$user.cellphone}" {$disabled}></td>
	</tr>
	<tr>
		<td class=bgdy align=right><b>Contact Phone¡G</b></td>
		<td class=frnt align=left bgcolor=#CEE4E3>&nbsp;<input type='text' name="PHP_phone" size=15 class=select value="{$user.phone}" {$disabled}></td>
		<td class=bgdy align=right colspan=2><b>E-Mail¡G</b></td>
		<td class=frnt align=left colspan=2 bgcolor=#CEE4E3>&nbsp;<input type='text' name="PHP_email" size=30 class=select value="{$user.email}" {$disabled}></td>
	</tr>
	<tr>
		<td class=bgdy align=right>&nbsp;</td>
		<td class=frnt align=left bgcolor=#CEE4E3 colspan=3>&nbsp;</td>
		<td class=frnt align=left colspan=2 bgcolor=#CEE4E3>&nbsp;</td>
	</tr>
	<tr>
		<td colspan=6 class=frnt align=center><hr size=2 width=100%></td>
	</tr>
	<tr> 
		<td colspan=6 align=center>
			<input type="hidden" name="PHP_action" value="do_user_add">
			<input type="hidden" name="PHP_dept_code" value="{$dept_code}">
			<input type="hidden" name="PHP_team_code" value="{$team_code}">
			<input type="hidden" name="PHP_cpn" value="{$cpn_k}">
			<input type=submit value="[ Append USER ]" class=select_e style="cursor:pointer; width=100%">
		</td>
	</tr>
	</form>
</table>
<!--------- footer ---------->
{include file="footer.html"}