<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM 輔助系統 [ 製造令 資料 ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/col.js"></script>
<Script language="javascript">
function list(){
	var gofile ='index2.php?PHP_action=show_smpl_search&PHP_dept={/literal}{$wi.dept}{literal}&PHP_cust={/literal}{$wi.cust}{literal}'; 	style=window.open(gofile,'style','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=650,height=500, top=100, left=150');
 	style.focus();
 }
 
function writeTocopy(id,num,new_num,etd,cust,dept){
	location.href="index2.php?PHP_action=do_wi_copy&PHP_wi_num="+num+"&PHP_smpl_id="+id+"&PHP_new_num="+new_num+"&PHP_etd="+etd+"&PHP_cust="+cust+"&PHP_dept="+dept;
} 
 
function list_size(){
	var gofile ='index2.php?PHP_action=show_size_search&PHP_dept={/literal}{$wi.dept}{literal}&PHP_cust={/literal}{$wi.cust}{literal}'; 	style=window.open(gofile,'style','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=650,height=500, top=100, left=150');
 }
function writeToParentList(style_code,cust_ref,size,picurl,id,size_scale,etd,status) {
	window.document.forms['adding'].elements['PHP_style_code'].value = style_code;
	window.document.forms['adding'].elements['PHP_cust_ref'].value = cust_ref;
	window.document.forms['adding'].elements['PHP_Size'].value = size_scale;
	window.document.forms['adding'].elements['PHP_Size_id'].value = size;
	window.document.forms['adding'].elements['PHP_smpl_id'].value = id;
	window.document.forms['adding'].elements['PHP_etd'].value = etd;
	window.document.forms['adding'].elements['PHP_status'].value = status;
	if (status >= 8)
	{
		document.all("tetd").insertAdjacentHTML("beforeEnd",etd);
		document.getElementById("etp_edit").style.display='none';
	}
//	window.document.getElementById("tetd").display='abc';
	window.document.pic.src = picurl;
//	window.document.forms['adding'].elements['PHP_etd'].focus();
}
function writeToSizeAddList(size,base_size) {	
	var size_ary = size.split(",");
	var i=(size_ary.length)-1;
	var scale=size_ary[0]+'~'+size_ary[i]
	window.document.forms['adding'].elements['PHP_Size'].value = scale;
	window.document.forms['adding'].elements['PHP_base_size'].value = base_size;
	window.document.forms['adding'].elements['PHP_Size_id'].value = 0;
	window.document.forms['adding'].elements['PHP_Size_item'].value = size;
	window.document.forms['adding'].elements['PHP_Size_add'].value = 1;
}
function writeToSizeList(id,size) {
	var i=0;
	window.document.forms['adding'].elements['PHP_Size'].value = size;
	window.document.forms['adding'].elements['PHP_Size_id'].value = id;
	window.document.forms['adding'].elements['PHP_Size_add'].value = 1;
}

function etd_check(etd)
{
	new_etd=window.document.forms['adding'].elements['PHP_etd'].value;
	if (etd != new_etd)
	{
		if ( confirm("     Original ETD : "+ etd +"     \r\r     New ETD : "+new_etd+"      \r\r     Are you sure exchange ETD??")) {
			
		}else{
			window.document.forms['adding'].elements['PHP_etd'].value = etd;
		} 

	}
}
</script>
{/literal}
</head>
{if $re_adding}
<body>
{else}
<body>
{/if}
<form method=POST name=adding>
<br>
<table cellspacing=1 cellpadding=4 cols=1 width=600 bgcolor=#333333>
	<tr><td class="des" align=center height=28> [ <span class=ylw10>Append</span> <b>Order W/I - step 1 (size scale)</b> ] </td></tr>
</table>
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=600>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
<table border=0 cellspacing=0 cellpadding=1 width=600 bgcolor=#FFFFFF>
   <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
 <tr><form method=POST name=adding >
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class=snvy align=right nowrap><b>WI. # :</b></td>
    <td class=bgdy align=left><b>&nbsp;{$wi.wi_precode}</b></td>
    <td class=snvy align=right nowrap>Dept :</td>
			<input type="hidden" name="PHP_dept_code" value="{$wi.dept}">
    <td class=bgdy align=left><b>&nbsp;{$wi.dept}</b></td>
    <td class=snvy align=right nowrap>Customer :</td>
			<input type="hidden" name="PHP_cust" value="{$wi.cust}">
    <td class=bgdy align=left><b>&nbsp;{$wi.cust}</b></td>
  </tr>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
</table>
<table border cellspacing=0 cellpadding=2 width=600 bgcolor=#ffffff align=center>
  <tr bgcolor="#003333"> 
	<td nowrap width=100 align=center class=back><b>Picture</b></td>
	<td nowrap width=110 align=center class=back><b>order #</b></td>
	<td nowrap width=110 align=center class=back><b>style</b></td>
	<td nowrap align=center class=back colspan=2><b>SIZE RANGE</b></td>	
  </tr>
  <tr bgcolor=#DDDDDD>
	<td class=g10 align=center rowspan=3>&nbsp;
	{if $re_adding}
		<img src="{$pic_link}" name="pic" width=90 border=0></td>
	{else}
		<img src="./images/graydot.gif" name="pic" width=90 border=0></td>
	{/if}
	<td class=b9 align=center><input type='text' name="PHP_style_code" size=14 value="{$smpl.style_code}" readonly></td>
    <td class=b9 align=center><input type='text' name="PHP_cust_ref" size=12 value="{$smpl.cust_ref}" readonly></td>
    <td class=b9 align=center colspan=2>
    <input type='text' name="PHP_Size" size=12 value="{$smpl.size_scale}" onClick="list_size();" readonly>
	<input type='hidden' name="PHP_Size_id" value={$smpl.size} >
	<input type='hidden' name="PHP_Size_item" value='' >
	<input type='hidden' name="PHP_Size_add" value=0 >
	<input type='hidden' name="PHP_base_size" value='' >
    </td>
  </tr>
  <tr bgcolor=#003333>
	<td nowrap align=center class=back colspan=3><b>Estimate Delivery [ETD]</b></td>
	<td nowrap align=center class=back><b>Unit</b></td>
  </tr>
  <tr bgcolor=#DDDDDD>
	<td nowrap align=center colspan=3 id='tetd'>&nbsp;
		<input type="text" name="PHP_etd" size="20" value={$smpl.etd} readonly> 
		
	</td>
	<td nowrap align=center class=back>&nbsp;<input type="text" name="PHP_unit" size="20" value="{$smpl.unit}" readonly></td>
  </tr>
  
  <tr>
    <td colspan=7 class=frnt align=center><hr size=2 width=95%></td>
  </tr>
	<input type="hidden" name="PHP_smpl_id" value="{$smpl.id}">
  <tr>
  <td colspan=7>
	<input type="hidden" name="PHP_action" value="do_wi_add_1">
	<input type="hidden" name="PHP_status" value={$smpl.status}>	
	<input type="hidden" name="PHP_p_id" value={$smpl.p_id}>	
	<input type="hidden" name="PHP_back_str" value="{$back_str}">
	<input type="hidden" name="PHP_back_str2" value="{$back_str2}">
	<input type=submit value="[ Add above style record ]" class=select_e style="cursor:pointer; width=100%" onClick="javascript:etd_check('{$smpl.etd}')";></form>
  </tr>



</table>
<!--------- footer ---------->
{include file="footer.html"}
