<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM 樣本輔助系統 [ 製造令 資料 ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">

</head>
{literal}
<script>
function cfm_revise(wi_num,id,status,back_str,back_str2) {
//	var T = '';
//		T = window.document.forms['add'].elements['qty_'+pd_id].value;
	if ( confirm("are you sure to REVISE wi :#[ "+wi_num+" ] ?\r\rEvery Revise event will cancel entire process had done !\rAnd restart the wi procedure from beginning Again !\r\rBe sure this is OK for you!")) {
		cgiget="{/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.order_num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}";
		location.href="index2.php?PHP_action=revise_wi&PHP_id="+id+"&PHP_status="+status+"&PHP_back_str2="+back_str+"&PHP_back_str2="+back_str2;
	} 
}

function Show_ord(id,ord_num) {
	 var url ='index2.php?PHP_action=order_fa_view&PHP_id='+id+'&cgiget=&cgino=&cgi_1=&cgi_2=&cgi_3=&cgi_4=&cgi_5=&cgi_6=&cgi_7=&PHP_ord_num='+ord_num; 	
	 var nm = 'Order';
	window.open2(url,nm,'toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=800,height=700 top=50, left=100');
}

function down_pttn(id, num) {

	if ( confirm("download this style pattern file?")) {
		cgiget="{/literal} {$cgistr_get}{literal}&cgino={/literal}{$start_no}{literal}&cgi_1={/literal}{$cgi.dept}{literal}&cgi_2={/literal}{$cgi.num}{literal}&cgi_3={/literal}{$cgi.cust}{literal}&cgi_4={/literal}{$cgi.ref}{literal}&cgi_5={/literal}{$cgi.factory}{literal}";
		location.href="./order_pttn/"+num+".mdl";
	} 
}
</script>
<script language="javascript">
window.open2=window.open; //在此把window.open()函數複製一份給window.open2，未來若要開新視窗則執行window.open2()即可
window.open=function(){return (new Object())}; //把window.open()函數變成空白函數，令提供者的跳窗無法顯示
</script> 
{/literal}
<body bgcolor="#003C77" background="images/vline-515.jpg">
<table cellspacing=1 cellpadding=4 cols=2 width=700 bgcolor=#333333>
	<tr><td class="des" align=center height=28 width=400>[<b> <span class=ylw10>REVISE VIEW </span>  Order W / I </b> : <b>{$wi.wi_num}</b> ]</td>
	<td class="ylw10" align=center height=28 width=100>{if $wi.confirmer}<b>[ {literal}SUBMIT{/literal} ]{else}[{literal} UN SUBMIT{/literal} ]{/if}</span></b></td>
	<td class="des" align=center height=28 width=100>Version :<span class=ylw10><b>{$wi.revise}</b></span></td>
	<td class="des" align=center width=140>{if $wi.status == 1}
			<a href="javascript:cfm_revise('{$wi.wi_num}','{$wi.id}','{$wi.status}','{$back_str}','{$back_str2}')" value='revise' style='cursor:pointer'>
			<img src='./images/revise21.jpg' border=0 ALT="REVISE ORDER"></a>
	   {/if}
	  </td>
	</tr>
</table>
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=700>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
<table border=0 cellspacing=0 cellpadding=1 width=700 bgcolor=#FFFFFF>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>
    <td class=snvy align=right nowrap>Customer :</td>
    <td class=bgdy align=left><b>&nbsp;{$smpl.cust_iname}</b></td>
    <td class=snvy align=right nowrap>Department :</td>
    <td class=bgdy align=left><b>&nbsp;{$wi.dept}</b></td>
    <td class=snvy align=right nowrap><b>ETD :</b></td>
    <td class=bgdy align=left><b>&nbsp;{$wi.etd}</b></td>
  </tr>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
</table>
<table border cellspacing=0 cellpadding=3 width=700 bgcolor=#ffffff align=center>
  <tr bgcolor="#003333" height=28> 
	<td nowrap width=100 align=center class=back><b>Picture</b></td>
	<td nowrap width=100 align=center class=back><b>Order #</b></td>
	<td nowrap width=100 align=center class=back><b>style</b></td>
	<td nowrap width=150 align=center class=back><b>SIZE RANGE</b></td>
	<td nowrap width=200 align=center class=back><b>Q'ty / Unit</b></td>
  </tr>
  <tr bgcolor=#DDDDDD height=28>
	<td class=g10 align=center rowspan=2>&nbsp;
		<input type="image" src="{$wi.pic_url}" name="pic" width=100 border="0" onclick='window.open2("{$wi.pic_url}","","height=640,width=480")'>
	</td>
	<td class=grn9 align=center>
	  <a href="javascript:Show_ord('{$wi.smpl_id}','{$wi.style_code}')" value='ord_out' style='cursor:pointer'>
	<b>&nbsp;{$smpl.order_num}</b></a></td>
	<td class=grn9 align=center><b>&nbsp;{$smpl.style}</b></td>
    <td class=grn9 align=center><b>&nbsp;{$smpl.size_scale}</b></td>
    <td class=grn9 align=center><b><span class=bgdy9><b>{$total}</b></span>&nbsp;{if $wi.unit}{$wi.unit}{else}<span class=bgdy9><UnInput></span>{/if} (Order : {$smpl.qty}{$wi.unit})</b></td>
  </tr>
  <tr>
	<td colspan=5 >
		<table border cellspacing=0 cellpadding=2 width=470 bgcolor=#ffffff align=center>
			{$show_breakdown}
		</table>
	</td>
  </tr>
</table>

<!-------------  material range ------------->
<br>
    <table width=700 border=0 cellpadding=2 cellspacing=1 bgcolor="#FFFFFF">
     <tr bgcolor=#333333 height=28>
	  <td width=130 class=ylw9 align=center><b>Fabirc #</b></td>
	  <td width=150 class=ylw9 align=center><b>Fabric Name</b></td>
	  <td width=270 class=ylw9 align=center><b>Placement</b></td>
<!--	  <td width=70 class=ylw9 align=center><b>consump.</b></td> -->
	  <td width=50 class=ylw9 align=center><b>Unit</b></td>
    </tr>

	{if $lots_NONE}  
	  <tr>
		<td colspan=6 align=center class=ssign><br>No Fabric data!<br><br>
	  </tr>
	{/if}

	{section name=USE loop=$lots_use} 
     <tr bgcolor=#eeeeee height=28>
	  <td class=snvy align=center nowrap>{$lots_use[USE].lots_code}&nbsp;</td>
	  <td class=snvy >{$lots_use[USE].lots_name}&nbsp;</td>
	  <td class=snvy >{$lots_use[USE].use_for}&nbsp;</td>
<!--	  <td class=snvy align=center>{$lots_use[USE].est_1}&nbsp;</td> -->
	  <td class=snvy align=center>{$lots_use[USE].unit}&nbsp;</td>
	 </tr>
	{/section} 
	 
<!------------------------------------------------>
<!-------------  accessories range ------------->
     <tr bgcolor=#333333 height=28>
	  <td width=130 class=ylw9 align=center><b>Accessory #</b></td>
	  <td width=150 class=ylw9 align=center><b>Acc. Name</b></td>
	  <td width=270 class=ylw9 align=center><b>Placement</b></td>
<!--	  <td width=70 class=ylw9 align=center><b>consump.</b></td> -->
	  <td width=50 class=ylw9 align=center><b>Unit</b></td>
     </tr>

	{if $acc_NONE}  
	  <tr>
		<td colspan=6 align=center class=ssign><br>No Accessory data!<br><br>
	  </tr>
	{/if}

	{section name=USE loop=$acc_use} 
     <tr bgcolor=#eeeeee height=28>
	  <td class=snvy align=center nowrap>{$acc_use[USE].acc_code}&nbsp;</td>
	  <td class=snvy >{$acc_use[USE].acc_name}&nbsp;</td>
	  <td class=snvy >{$acc_use[USE].use_for}&nbsp;</td>
<!--	  <td class=snvy align=center>{$acc_use[USE].est_1}&nbsp;</td> -->
	  <td class=snvy align=center>{$acc_use[USE].unit}&nbsp;</td>
	 </tr>
	{/section} 
  <tr>
    <td colspan=6 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
</table>
    <table width=700 border=0 cellpadding=2 cellspacing=1 bgcolor="#FFFFFF">
      <tr bgcolor=#ffffff height=28>
        <td class=gry9 align=center>
        <font color=black>Open: </font><u>{$wi.creator}</u>&nbsp;&nbsp;<u>{$wi.open_date}</u>&nbsp;&nbsp;&nbsp;&nbsp;
        <font color=black>Last Update : </font><u>{if $wi.updator}{$wi.updator}{else}[ None ]{/if}</u>&nbsp;&nbsp;<u>{$wi.last_update}</u>&nbsp;&nbsp;&nbsp;&nbsp;
        <font color=black>{literal}Submit: {/literal}</font><u>{if $wi.confirmer}{$wi.confirmer}{else}[ None ]{/if}</u>&nbsp;&nbsp;<u>{$wi.cfm_date}</u>
        </td>
      </tr>
    </table>
    <!--------- wi data end ----------><!--------- footer ---------->
{include file="footer.html"}
