<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=big5">
	<title>===.........  製造令 列表 .........===</title>
	<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="javascript" src="./js/col.js"></script>
<script language="javascript">
 function cfm(ref,id) {
	if ( confirm("Deleting record will permanent deteleted；Can't reversion anymore !\r\rPlease check again \r\rAre you sure delete this record :["+ref+"]??")) {
	location.href="index2.php?PHP_action=smpl_del&PHP_id="+id;
	} 
 }
function check(){
}

</script>
{/literal}
</head>
<body  bgcolor="ffffff" background=" ">&nbsp;
	
{if $max_notify > 0 }		
	<table width=620 border=0 cellpadding=3 cellspacing=1>
	<tr height=30 bgcolor=#C0CECF>
		<td align="center" >
			<a href="notify.php?PHP_action=notify"> <span class=sign align=center ><b> You have {$max_notify} message un-read</b></span></a></td>
	</tr>
</table>
<br>
{/if}	
	
<!-- ################################################################################# -->

<table border cellspacing=0 cellpadding=2 cols=1 width=620 bgcolor=#cccccc  align=center>
<tr><td>
<form METHOD="POST" name="search_wi">
<table cellspacing=1 cellpadding=4 cols=1 width=600 bgcolor=#003300 align=center>
	<tr>
		<td class="des" align=center height=28> ......[<b> Search/list&nbsp;Order Record for <font color=yellow>Working Instruction </font></b> ]...... </td>
	</tr>
</table>
<table border=0 cellspacing=0 cellpadding=1 width=600>
  <tr>
    <td colspan=6 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>
    <td class=snvy align=right><b>Order # : </b></td>
    <td class=frnt align=left>&nbsp;<input type=text name="PHP_num" size=15 class=select value=""></td>
    <td class=snvy align=right><b>Customer : </b></td>
    <td class=frnt align=left>&nbsp;{$cust_select}</td>
  </tr>
  <tr>
    <td class=snvy align=right><b>ETD : </b></td>
    <td class=frnt align=left><b>&nbsp;<input type=text name="PHP_etdstr" size=8 class=select value="">
    <img align='top' onmousedown="javascript:Cal(document.search_wi.PHP_etdstr,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand'>
     ~
    <input type=text name="PHP_etdfsh" size=8 class=select value="">
    <img align='top' onmousedown="javascript:Cal(document.search_wi.PHP_etdfsh,1,100,50,999,0,'')" src='images/cal.gif' width="16" height="16"  align='top' style='cursor:hand'>
    </b></td>
    <td class=snvy align=right><b>FTY: </b></td>
    <td class=frnt align=left>&nbsp;{$factory_select}</td>

  </tr>
    <tr>
        <td class=snvy align=right></td>
        <td class=frnt align=left></td>
        <td class=snvy align=right><b>DEPT: </b></td>
        <td class=frnt align=left>&nbsp;{$dept_select}</td>
  </tr>

</table>

<table border=0 cellspacing=0 cellpadding=0 width=600 align=center>
	<tr> 
	  <td align=left class=b9>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		※ 1: search / listing wi record ; please use combo selection or/and key field.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		※ 2: if entire listing ; keep fields in blank and just click [ SEARCH/LIST ORDER RECORDS ] button.
	  </td>
	</tr>
	<tr><hr SIZE=2 WIDTH=97%></tr>
	<tr> 
	  <td align=center>
		<input type="hidden" name="PHP_action" value="wi_search">
		<input type=submit value="[ Search /List ORDER Record ]" class=select_e style="cursor:pointer; width:95%" onClick=this.width=0;>
	  </td>
	</tr>
</table></form>

	</td>
</tr>
</table>
<!--------- footer ---------->
{include file="footer.html"}