<style type="text/css">

.fix {font-family:Arial,Verdaba; font-size:10pt;}
a:link	{color:blue;text-decoration:none;}
a:visited	{color:blue;text-decoration:none;}
a:active	{color:blue;text-decoration:none;}
body {font-family:  Arial, Helvetica;
	font-size:10pt;
	color: #666666;
	}
body,td,th {
	font-size: 10px;
	font-family: "Arial, Helvetica", sans-serif;
	margin:0 auto;
}
.ti_top {
	font-size: 16px;
	font-family: "Arial, Helvetica", sans-serif;
	color: #FFFFFF;
	background-color: #333333;
	background-position: center center;
	line-height: 30px;
}

.ti_top2 {
	font-size: 16px;
	font-family: "Arial, Helvetica", sans-serif;
	color: #FFFFFF;
	background-color: #514E4E;
	background-position: center center;
	line-height: 30px;
}
.ti_topr {
	font-size: 16px;
	font-family: "Arial, Helvetica", sans-serif;
	color: #FFFFFF;
	background-color: #513333;
	background-position: center center;
	line-height: 30px;
}

.ti_topo {
	font-size: 16px;
	font-family: "Arial, Helvetica", sans-serif;
	color: #FFFFFF;
	background-color: #3D2C1E;
	background-position: center center;
	line-height: 30px;
}

.item1 {
	font-size: 11px;
	font-family: "Arial, Helvetica", sans-serif;
	color: #FFFFFF;
	background-color: #534A67;
	line-height: 12px;
}
.item2 {
	font-size: 11px;
	font-family: "Arial, Helvetica", sans-serif;
	color: #FFFFFF;
	background-color: #666666;
	line-height: 12px;
}
.txt_B_y_16t {
	font-size: 16px;
	font-family: "Arial, Helvetica", sans-serif;
	font-weight: bold;
	color: #FFFF00;
}
.txt_B_b {
	font-weight: bold;
	font-family: "Arial, Helvetica", sans-serif;
}
.txt_B_b9 {
	font-weight: bold;
	font-size: 9px;
	font-family: "Arial, Helvetica", sans-serif;
}
.txt_B_r9 {	
	font-size: 9px;
	color: #F64253;
	font-family: "Arial, Helvetica", sans-serif;
}
.txt_B_r14 {	
	font-size: 14px;
	color: #FE0E1F;
	font-family: "Arial, Helvetica", sans-serif;
}
.txt_B_bb9 {	
	font-size: 9px;
	font-weight: bold;
	color: #021C8B;
	font-family: "Arial, Helvetica", sans-serif;
}

.txt_B_gy9 {	
	font-size: 9px;
	color: #6E6E6E;
	font-family: "Arial, Helvetica", sans-serif;
}
.txt_left {
	font-size: 10px;
	font-family: "Arial, Helvetica", sans-serif;
}
.txt_right {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.total {
	font-size: 10px;
	background-color: #CCCCCC;
	color: #333333;
	font-family: "Arial, Helvetica", sans-serif;
}

</style>
