boby {
	margin:0px ;
	padding:0px;
}
.mode{
	color:#6100BE;
    font-family:"Verdana" , sans-serif;
    font-size:12pt;
    text-align:center;
    vertical-align:middle;

	BORDER-TOP: #CCCCCC 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	BORDER-LEFT: #CCCCCC 1px solid;
	BORDER-RIGHT: #999999 1px solid;
    
	cursor:pointer;
    width:160px;
    line-height:20pt;
    height:20px;
    white-space:nowrap;
}

.factory_title{
	color:#EEEEEE;
    background-color:#696969;
    font-family:"Verdana" , sans-serif;
    font-size:18pt;
    text-align:center;
    vertical-align:middle;

	BORDER-TOP: #EEEEEE 1px dashed;

	BORDER-LEFT: #EEEEEE 1px dashed;
	BORDER-RIGHT: #EEEEEE 1px dashed;
    
	padding-left:9px;
    padding-right:9px;
	padding-top:4px;
    padding-bottom:4px;

    line-height:20pt;
    height:20px;
    white-space:nowrap;
}

.input_order{
	color:#6100BE;
    font-family:"Verdana" , sans-serif;
    font-size:10pt;
    text-align:center;
    vertical-align:middle;
    white-space:nowrap;
    width:120px;
}

.edit_mode{
	color:#FF0000;
    background-color:yellow;
}

.bar_t_l{
    height:7px;
    width:7px;
    background-image:url(../images/bar_t_l.gif?); 
    background-repeat: no-repeat;
}
.bar_t_m{
    background-image:url(../images/bar_x.gif?); 
    background-repeat: repeat;
}
.bar_t_r{
    height:7px;
    width:7px;
    background-image:url(../images/bar_t_r.gif?); 
    background-repeat: no-repeat;
}

.bar_m_l{
    height:7px;
    width:7px;
    background-image:url(../images/bar_x.gif?); 
    background-repeat: repeat;
}
.bar_m_m{
    width:585px;
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:12pt;
	color:#bf6000;
	line-height:16pt;
	text-align:left;
	vertical-align:middle;
    background-image:url(../images/bar_x.gif?); 
    background-repeat: repeat;
}
.bar_m_r{
    height:7px;
    width:7px;
    background-image:url(../images/bar_x.gif?); 
    background-repeat: repeat;
}

.bar_b_l{
    height:7px;
    width:7px;
    background-image:url(../images/bar_b_l.gif?); 
    background-repeat: no-repeat;
}
.bar_b_m{
    background-image:url(../images/bar_x.gif?); 
    background-repeat: repeat;
}
.bar_b_r{
    height:7px;
    width:7px;
    background-image:url(../images/bar_b_r.gif?); 
    background-repeat: no-repeat;
}


.note_msg{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#333333;
    width:100%;
	line-height:14pt;
    white-space:nowrap;
    background-color:#eeeeee;
    padding:6px;
}

.line_title{
    color:#FFFFFF;
    font-family:"Verdana" , sans-serif;
    font-size:12pt;
    text-align:center;
    vertical-align:middle;
    width:20px;
    height:18px;
    padding:1px;
    white-space:nowrap;
    
	padding:6px;
	BORDER-TOP: #CCCCCC 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	BORDER-LEFT: #CCCCCC 1px solid;
	BORDER-RIGHT: #999999 1px solid;
    background-color:#DF8E39;
}

.line_order{
    color:#333;
    font-family:"Verdana" , sans-serif;
    font-size:12pt;
    text-align:center;
    vertical-align:middle;
    width:20px;
    height:18px;
    padding:1px;
    white-space:nowrap;
    
	padding:6px;
	BORDER-TOP: #CCCCCC 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	BORDER-LEFT: #CCCCCC 1px solid;
	BORDER-RIGHT: #999999 1px solid;
    background-color:#FFF;
}

.item_list{
	font-family:"Verdana" , sans-serif;
	font-size:10pt;
	color:#333333;
	line-height:14pt;
	text-align:left;
	vertical-align:middle;
	padding-right:6px;
    padding-left:6px;
}

.line_bar{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#333333;
    width:100%;
	line-height:14pt;
    white-space:nowrap;
    background-color:#eeeeee;
    padding:6px;
}

.line_b{
	border-width:2px;
	border-color:#999999;
	border-bottom-style:dashed;
	height:1pt;
	line-height:1pt;
}

.line_bg_Ym_df {
    line-height:30pt;
}
.line_bg_Ym_df td{
    font-family:"Verdana" , sans-serif;
    text-align:center;
    vertical-align:middle;
	BORDER-TOP: #CCCCCC 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	BORDER-LEFT: #CCCCCC 1px solid;
	BORDER-RIGHT: #999999 1px solid;
}
.line_bg_Ym{
    font-weight:bold;
    font-size:12pt;
    color:#FFFFFF;
    height:30px;
	background-color:#2e2e5e;
    padding:1px;
}
.line_bg_holiday{
    color:#FF0000;
	background-color:#F7FA00;
}
.line_bg_sunday{
    color:#0000ff;
	background-color:#FF91FE;
}
.line_bg_w1{
    color:#EEEEEE;
	background-color:#78789e;
}
.line_bg_w2{
    color:#EEEEEE;
	background-color:#63638a;
}
.line_bg_w3{
    color:#EEEEEE;
	background-color:#4d4d73;
}
.line_bg_w4{
    color:#EEEEEE;
	background-color:#424273;
}
.line_bg_w5{
    color:#EEEEEE;
	background-color:#383873;
}
.line_bg_w6{
    color:#EEEEEE;
	background-color:#2e2e5e;
}
.line_hover_gray{
	background-color:#CCCCCC;
}
.line_hover_green{
	background-color:#C7FF91;
}
.line_hover_bg{
	background-image:url(../images/BAR/bar_bk.png);
    background-repeat: repeat-x;
}
.line_hover_bg_title{
    color:#FFFFFF;
    font-family:"Verdana" , sans-serif;
    font-size:9pt;
    text-align:center;
    vertical-align:middle;
    width:20px;
    height:18px;
    padding:1px;
    white-space:nowrap;
	BORDER-TOP: #CCCCCC 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	BORDER-LEFT: #CCCCCC 1px solid;
	BORDER-RIGHT: #999999 1px solid;
    background-color:#DF8E39;
	background-image:url(../images/BAR/bar_bk.png);
    background-repeat: repeat-x;
}
.line_bg_df td{
    font-family:"Verdana" , sans-serif;
    font-size:9pt;
    text-align:center;
    vertical-align:middle;
    width:20px;
    height:18px;
    padding:1px;
	BORDER-TOP: #CCCCCC 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	BORDER-LEFT: #CCCCCC 1px solid;
	BORDER-RIGHT: #999999 1px solid;
}
.line_bg_df {
    font-family:"Verdana" , sans-serif;
    font-size:9pt;
    text-align:center;
    vertical-align:middle;
    width:20px;
    height:18px;
    padding:1px;
    white-space:nowrap;
    background-color:#FFFFFF;
	BORDER-TOP: #CCCCCC 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	BORDER-LEFT: #CCCCCC 1px solid;
	BORDER-RIGHT: #999999 1px solid;
}
.line_bg_df  td{
	BORDER-TOP: #CCCCCC 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	BORDER-LEFT: #CCCCCC 1px solid;
	BORDER-RIGHT: #999999 1px solid;
}

.line_bg_nothing{
    white-space:nowrap;
    color:#FFFFFF;
	background-color:#FFFFFF;
	BORDER-TOP: #FFFFFF 0px solid;
	BORDER-BOTTOM: #FFFFFF 0px solid;
	BORDER-LEFT: #FFFFFF 0px solid;
	BORDER-RIGHT: #FFFFFF 0px solid;
}
.line_bg_finish{
    font-family:"Verdana" , sans-serif;
    font-size:9pt;
    text-align:left;
    vertical-align:middle;
    width:20px;
    height:18px;
    padding:1px;
    white-space:nowrap;
    color:#FFFFFF;
	background-color:#969696;
	BORDER-TOP: #CCCCCC 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	BORDER-LEFT: #CCCCCC 1px solid;
	BORDER-RIGHT: #999999 1px solid;
}
.line_bg_pdtion{
    font-family:"Verdana" , sans-serif;
    font-size:9pt;
    text-align:left;
    vertical-align:middle;
    width:20px;
    height:18px;
    padding:1px;
    white-space:nowrap;
    color:#FFFFFF;
	background-color:#6CBD1F;
	BORDER-TOP: #CCCCCC 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	BORDER-LEFT: #CCCCCC 1px solid;
	BORDER-RIGHT: #999999 1px solid;
}
.line_bg_waitting{
    font-family:"Verdana" , sans-serif;
    font-size:9pt;
    text-align:left;
    vertical-align:middle;
    width:20px;
    height:18px;
    padding:1px;
    white-space:nowrap;
    color:#6100BE;
	background-color:#FFFFFF;
	BORDER-TOP: #CCCCCC 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	BORDER-LEFT: #CCCCCC 1px solid;
	BORDER-RIGHT: #999999 1px solid;
}
.bg_line_pdtion{
    color:#00A002;
    background-color:#B7FF73;
}
.bg_line_pdtion_over{
    color:#FA0300;
    background-color:#89FF19;
}

.menu_on{
    color:#010101;
    background-color:#CCCCCC;
    padding:6px;
}
.menu_off{
    color:#999999;
    background-color:#EEEEEE;
    padding:6px;
}

/* Link */
a             {color:#0000FF;font-weight:bold;text-decoration:none;}
a:hover {color:#FF0000;font-weight:bold;text-decoration:underline;}
.exp_hover a             {color:#178918;font-weight:bold;text-decoration:none;}
.exp_hover a:hover {color:#178918;font-weight:bold;text-decoration:underline;}
.exp_hover a:visited {color:#178918;font-weight:bold;text-decoration:none;}
.exp_hover a:active {color:#178918;font-weight:bold;text-decoration:none;}
/* BOM START */
/*滑鼠*/
.m_p{cursor:pointer;}
.m_help{cursor:help;}
.m_plan{cursor:help;background-color:#999999;}
.m_mouse_over{cursor:default;background-color:#999999;}
.m_p_line{cursor:pointer;text-decoration:underline;}
/*字體顏色*/
.f_62B50F{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	font-weight:bold;
    color:#62B50F;
	line-height:20pt;
	text-align:center;
	vertical-align:middle;
	padding:6px;
	background-color:#5e5e5e;
	BORDER-RIGHT: #FFF 1px solid;
    white-space:nowrap;
    text-decoration:underline;
}
.f_6100BE{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	font-weight:bold;
    color:#6100BE;
	line-height:14pt;
	text-align:center;
	vertical-align:middle;
	padding:6px;
	background-color:olivedrab;
	BORDER-RIGHT: #FFF 1px solid;
    white-space:nowrap;
    text-decoration:underline;

}
.f_0000FF{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	font-weight:bold;
    color:#0000FF;
	line-height:20pt;
	text-align:center;
	vertical-align:middle;
	padding:6px;
	background-color:#5e5e5e;
	BORDER-RIGHT: #FFF 1px solid;
    white-space:nowrap;
    text-decoration:underline;
}
.f_BF6000{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	font-weight:bold;
    color:#BF6000;
	line-height:20pt;
	text-align:center;
	vertical-align:middle;
	padding:6px;
	background-color:#5e5e5e;
	BORDER-RIGHT: #FFF 1px solid;
    white-space:nowrap;
    text-decoration:underline;
}
/*Verdana, Arial, Helvetica, sans-serif;	*/
.f_green{color:green;}
.f_red{color:red;}
.f_etd{color:#222222;font-family:Verdana;font-size:8pt;}
.f_eta{color:#BF6000;font-family:Verdana;font-size:8pt;}
/*分隔線*/
.bar_span{
    display:block;
    display:inline;
    display:table;
    border-top:1px dashed #999999;
    width:100%;
    height:1px;
    line-height:1px;
    font-size:1px;
}

.note_bg{
	font-family:"Verdana" , sans-serif;
	font-size:12pt;
	color:#0000ff;
    width:100%;
	line-height:30pt;
    white-space:nowrap;
}

/*表頭底色 左 中 右 */
.title_bg{
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:14pt;
	color:#333333;
    width:100%;
	line-height:30pt;
    white-space:nowrap;
	padding-left:6px;
	padding-right:6px;
    background-image:url(../images/bar/images2.jpg?); 
    background-repeat: repeat;
    BORDER-BOTTOM: #CCCCCC 1px dashed;
}



.title_l {
	font-family:"Verdana" , sans-serif;
	color:#555555;
    width:30%;
	text-align:left;
	vertical-align:middle;
	padding-right:6px;
    padding-left:6px;
    white-space:nowrap;
}

.title_m {
	font-family:"Verdana" , sans-serif;
	color:#555555;
    width:40%;
	line-height:20pt;
	text-align:center;
	vertical-align:middle;
	padding-right:6px;
    padding-left:6px;
    white-space:nowrap;
}
.title_r {
	font-family:"Verdana" , sans-serif;
	color:#555555;
    width:30%;
	line-height:20pt;
	text-align:right;
	vertical-align:middle;
	padding-right:6px;
    padding-left:6px;
    white-space:nowrap;
}

/**/
.txt_item{
	font-family:"Verdana" , sans-serif;
	color:#555555;
}

.txt_item_top_r{
	font-family:"Verdana" , sans-serif;
    font-weight:bold;
	font-size:8pt;
	color:#808080;
	line-height:20pt;
	text-align:right;
	vertical-align:middle;
	padding-right:6px;
}
.txt_item_r{
	font-family:"Verdana" , sans-serif;
    font-weight:bold;
	font-size:10pt;
	color:#bf6000;
	line-height:16pt;
	text-align:right;
	vertical-align:middle;
    padding-left:10px;
	padding-right:6px;
    white-space:nowrap;
}
.txt_item_l{
    font-family:Arial,Helvetica;
	font-size:10pt;
	font-weight : normal;
	color:#303030;
	text-align:left;
	vertical-align:middle;
	padding-left:6px;
    padding-right:10px;
    background-color:#EEE;
    white-space:nowrap;
}
.txt_item_r2{
	font-family:"Verdana" , sans-serif;
    font-weight:bold;
	font-size:10pt;
	color:#6000bf;
	line-height:16pt;
	text-align:right;
	vertical-align:middle;
    padding-left:10px;
	padding-right:6px;
    white-space:nowrap;
}
.txt_item_l2{
    font-family:Arial,Helvetica;
	font-size:10pt;
	font-weight : normal;
	color:#111111;
	text-align:left;
	vertical-align:middle;
	padding-left:6px;
    padding-right:10px;
    background-color:#ffebb8;
    white-space:nowrap;
}
/*Verdana, Arial, Helvetica, sans-serif;	*/
/*BOM*/

.BomName{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	font-weight:bold;
	color:#FFF;
	line-height:20pt;
	text-align:center;
	vertical-align:middle;
	padding:6px;
	background-color:#5e5e5e;
	BORDER-RIGHT: #FFF 1px solid;
    white-space:nowrap;
}

#Bom_TR td{
    display:block;
    display:inline;
    display:table;
	font-family:"Verdana" , sans-serif;
	font-size:8pt;
	color:#666;
	vertical-align:middle;
	padding-left:6px;
    padding-right:6px;
	padding-top:3px;
    padding-bottom:3px;
	BORDER-RIGHT: #CCC 1px solid;
	BORDER-BOTTOM: #CCC 1px solid;
}

#Bom_TR a             {color:#0000FF;text-decoration:none;}
#Bom_TR a:hover {color:#FF0000;text-decoration:underline;}

.Bom_TR td{
	color:#000;
	background-color:#E5FFCD;
}

#Bom_TR_Title{
	font-family:"Verdana" , sans-serif;
	font-size:10pt;
	color:#FFF;
	vertical-align:middle;
	padding-left:6px;
    padding-right:6px;
	padding-top:3px;
    padding-bottom:3px;
	BORDER-RIGHT: #999 1px solid;
	BORDER-BOTTOM: #999 1px solid;
    background-color:#639bff;
}

#Bom_TR_Lots_Title td{
	font-family:"Verdana" , sans-serif;
	font-size:10pt;
	color:#FFF;
    line-height:12pt;
	vertical-align:middle;
    text-align:center;
	padding-left:1px;
    padding-right:1px;
	padding-top:1px;
    padding-bottom:1px;
	BORDER-RIGHT: #999 1px solid;
	BORDER-BOTTOM: #999 1px solid;
    background-color:#666666;
}

#Bom_TR_Sub_Title td{
	font-family:"Verdana" , sans-serif;
	font-size:10pt;
	color:#333;
    line-height:12pt;
	vertical-align:middle;
    text-align:right;
	padding-left:3px;
    padding-right:3px;
	padding-top:1px;
    padding-bottom:1px;
	BORDER-RIGHT: #999 1px solid;
	BORDER-BOTTOM: #999 1px solid;
    background-color:#DDD;
}

#Bom_TR_Acc_Title td{
	font-family:"Verdana" , sans-serif;
	font-size:10pt;
	color:#FFF;
    line-height:12pt;
	vertical-align:middle;
    text-align:center;
	padding-left:3px;
    padding-right:3px;
	padding-top:1px;
    padding-bottom:1px;
	BORDER-RIGHT: #999 1px solid;
	BORDER-BOTTOM: #999 1px solid;
    background-color:#888;
}

#Bom_TR_Size{
	font-family:"Verdana" , sans-serif;
	font-size:10pt;
	color:#FFF;
	vertical-align:middle;
    text-align:center;
	padding-left:6px;
    padding-right:6px;
	padding-top:3px;
    padding-bottom:3px;
	BORDER-RIGHT: #999 1px solid;
	BORDER-BOTTOM: #999 1px solid;
    background-color:#666;
}

#Bom_TR_Total{
	font-family:"Verdana" , sans-serif;
	font-size:8pt;
	color:#333;
	vertical-align:middle;
    text-align:right;
	padding-left:6px;
    padding-right:6px;
	padding-top:3px;
    padding-bottom:3px;
	BORDER-RIGHT: #999 1px solid;
	BORDER-BOTTOM: #999 1px solid;
}

#Bom_TR_Total2{
	font-family:"Verdana" , sans-serif;
	font-size:8pt;
	color:#333;
    background-color:#c8f59c;
	vertical-align:middle;
    text-align:right;
	padding-left:6px;
    padding-right:6px;
	padding-top:3px;
    padding-bottom:3px;
	BORDER-RIGHT: #999 1px solid;
	BORDER-BOTTOM: #333 1px solid;
}
#Bom_TR_GTotal{
	font-family:"Verdana" , sans-serif;
	font-size:8pt;
	color:#000;
	vertical-align:middle;
    text-align:right;
	padding-left:6px;
    padding-right:6px;
	padding-top:3px;
    padding-bottom:3px;
	BORDER-RIGHT: #999 1px solid;
	BORDER-BOTTOM: #999 1px solid;
}

#Bom_TR_Item{
	font-family:"Verdana" , sans-serif;
   /*  font-weight:bold; */
	font-size:8pt;
	color:#666;
    text-align:left;
	vertical-align:middle;
	padding-left:6px;
    padding-right:6px;
	padding-top:3px;
    padding-bottom:3px;
	BORDER-RIGHT: #999 1px solid;
	BORDER-BOTTOM: #999 1px solid;
}

#Bom_TR_Item2{
	font-family:"Verdana" , sans-serif;
	font-size:8pt;
	color:#666;
    background-color:#c8f59c;
    text-align:left;
	vertical-align:middle;
	padding-left:6px;
    padding-right:6px;
	padding-top:3px;
    padding-bottom:3px;
	BORDER-RIGHT: #999 1px solid;
	BORDER-BOTTOM: #333 1px solid;
}

#Bom_TR_Value{
	font-family:"Verdana" , sans-serif;
	font-size:8pt;
	color:#666;
	vertical-align:middle;
    text-align:right;
	padding-left:6px;
    padding-right:6px;
	padding-top:3px;
    padding-bottom:3px;
	BORDER-RIGHT: #999 1px solid;
	BORDER-BOTTOM: #999 1px solid;
}

#Bom_TR_Value2{
	font-family:"Verdana" , sans-serif;
	font-size:8pt;
	color:#666;
    background-color:#c8f59c;
	vertical-align:middle;
    text-align:right;
	padding-left:6px;
    padding-right:6px;
	padding-top:3px;
    padding-bottom:3px;
	BORDER-RIGHT: #999 1px solid;
	BORDER-BOTTOM: #333 1px solid;
}

#Bom_TR_Index td{
	font-family:"Verdana" , sans-serif;
	font-size:8pt;
	color:#666;
	vertical-align:middle;
	padding-left:6px;
    padding-right:6px;
	padding-top:3px;
    padding-bottom:3px;
	BORDER-RIGHT: #999 1px solid;
	BORDER-BOTTOM: #999 1px solid;

}

#Bom_TR_List td{
	font-family:"Verdana" , sans-serif;
	font-size:8pt;
	color:#666;
	vertical-align:middle;
	padding-left:6px;
    padding-right:6px;
	padding-top:3px;
    padding-bottom:3px;
	BORDER-RIGHT: #999 1px solid;
	BORDER-BOTTOM: #999 1px solid;

}

#Bom_show_all td{
	font-family:"Verdana" , sans-serif;
	font-size:8pt;
	color:#666;
	vertical-align:middle;
    text-align:center;
	padding-left:6px;
    padding-right:6px;
	padding-top:3px;
    padding-bottom:3px;
	BORDER-RIGHT: #999 1px solid;
	BORDER-BOTTOM: #999 1px solid;

}

.Bom_TR_hover td{
	color:#000;
	background-color:#E5FFCD;
}

.BomValueLeft{
	text-align:left;
}

.BomValueRight{
	text-align:right;
}

.BomValueCenter{
	text-align:center;
}

.Bom_TR_link td{
	color:#111;
	background-color:#E5FFCD;
	cursor:pointer;
}

.Bom_msg {
	font-weight:bold;
	color:#FF0000;
	background-color:#E5FFCD;
	padding:12px;
}

.styled-select {
    font-family:"Verdana" , sans-serif;
/*     margin-top: 3px;
    margin-bottom: 3px; */
    background: transparent;
    padding: 3px 3px 3px 3px;
    font-size: 12px;
    border: 1px solid #ccc;
}

.styled-input {
    font-family:"Verdana" , sans-serif;
/*     margin-top: 3px;
    margin-bottom: 3px; */
    background: transparent;
    padding: 3px 3px 3px 3px;
    font-size: 12px;
    border: 1px solid #ccc;
    width: 99px;
}
.styled-checkbox {
    font-family:"Verdana" , sans-serif;
    background: transparent;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
    border: 1px solid #ccc;
    width: 99px;
}

.ord_number{
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:14pt;
	color:#40407f;
	line-height:23pt;
	padding-left:10px;
	padding-right:10px;
	vertical-align:middle;
}

/* BOM END */

.b_add{
    cursor:pointer;
}

.space{
	padding-top:6px;
}

.space_9{
	padding-top:9px;
	padding-bottom:9px;
}

.line{
	padding-top:6px;
}

.space_line td{
    height:3pt;
    width:666px;
    background-image:url(../images/space_line.gif); 
    background-repeat: no-repeat;
}


.msg{
	color:#FF0000;
	padding:20px;
}

.txt_r {
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#808080;
	line-height:20pt;
	text-align:right;
	vertical-align:middle;
	padding-right:6px;
	padding-left:6px;
}

.txt_l {
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#808080;
	line-height:20pt;
	text-align:left;
	vertical-align:middle;
	padding-right:6px;
    padding-left:6px;
}

.txt_width {
	width:6px;
}

.txt_status {
	font-family:"Verdana", sans-serif;
	font-weight:bold;
	font-size:9pt;
	color:#666666;
	line-height:20pt;
	text-align:right;
	vertical-align:middle;
}

.title_submit {
	cursor:pointer;
	font-family:"Verdana", sans-serif;
	font-weight:bold;
	font-size:11pt;
	color:#666666;
	line-height:20pt;
	text-align:center;
	vertical-align:middle;
	background-color:#EEEEEE;

	BORDER-TOP: #CCCCCC 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	BORDER-LEFT: #CCCCCC 1px solid;
	BORDER-RIGHT: #999999 1px solid;
}

.submit_ajax{
	cursor:pointer;
	font-family:"Verdana", sans-serif;
	font-size:9pt;
	color:#FFF;

	height:18pt;
	text-align:center;
	vertical-align:middle;
	background-color:#87B8EB;

	BORDER-TOP: #CCCCCC 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	BORDER-LEFT: #CCCCCC 1px solid;
	BORDER-RIGHT: #999999 1px solid;
}

.submit_over{
	cursor:pointer;
	color:#EEE;
	font-weight:bold;
	background-color:#3799FF;
	/* text-decoration:underline; */
}

.onlineday_title{
	font-family:"Verdana" , sans-serif;
	font-weight:1100;
	font-size:18pt;
	color:#333333;
	line-height:20pt;
	text-align:center;
	vertical-align:middle;
	padding-left:6px;
	padding-right:6px;
	background-color:#ffa500;
}

.subtitle{
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:12pt;
	color:#333333;
	line-height:30pt;
	text-align:left;
	vertical-align:middle;
	padding-left:6px;
	padding-right:6px;
	background-color:#999;
    background-image:url(../images/bar/images2.jpg?); 
    background-repeat: repeat;
    BORDER-BOTTOM: #CCCCCC 1px dashed;
}

.subInputName{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#666;
	line-height:20pt;
	text-align:left;
	vertical-align:middle;
	padding-left:6px;
}

.subInputValue{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	font-weight:bold;
	color:#bf6000;
	line-height:20pt;
	text-align:left;
	vertical-align:middle;
	padding-left:6px;
	padding-right:12px;
}


.item_title{
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:12pt;
	color:#bf6000;
	line-height:36pt;
	text-align:left;
	vertical-align:middle;
}

.title_txt_r {
	font-family:"Verdana" , sans-serif;
	font-size:10pt;
	color:#333333;
	line-height:18pt;
	text-align:right;
	vertical-align:middle;
	padding-right:6px;
    padding-left:6px;
}

.title_txt_l {
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:9pt;
	color:#808080;
	line-height:20pt;
	text-align:left;
	vertical-align:middle;
	padding-left:3px;
}

.title_menu_bg  td{
	padding-top:1px;
	padding-bottom:1px;
	background-color:#FFFFFF;
    BORDER-RIGHT: #CCC 1px solid;
    BORDER-TOP: #CCC 1px solid;
}

.table_tr_h tr {
    height:20pt;
    line-height:20pt;
}
.table_tr_h_b {
    padding:3px;
    BORDER: #CCC 1px solid;
}
.table_tr_h_b tr{
    height:20pt;
    line-height:20pt;
}

.list_title td{
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:9pt;

	line-height:26pt;
	text-align:center;
	vertical-align:middle;
    
    
	padding:6px;
    
	padding-top:1px;
	padding-bottom:1px;
	background-color:#FFFFFF;
    BORDER-RIGHT: #CCC 1px solid;
    BORDER-TOP: #CCC 1px solid;
    BORDER-BOTTOM: #CCC 1px solid;
}

.list_txt td{
	font-family:"Verdana" , sans-serif;

	font-size:9pt;

	line-height:16pt;
	text-align:center;
	vertical-align:middle;
	padding-right:6px;
	padding-left:6px;
    BORDER-RIGHT: #CCC 1px solid;
    BORDER-BOTTOM: #CCC 1px solid;
	white-space:nowrap;
}

.list_txt_right td{
	font-family:"Verdana" , sans-serif;

	font-size:9pt;

	line-height:16pt;
	text-align:right;
	vertical-align:middle;
	padding-right:6px;
	padding-left:6px;
    BORDER-RIGHT: #CCC 1px solid;
    BORDER-BOTTOM: #CCC 1px solid;
	white-space:nowrap;
}

.list_txt_bg td{
	background-color:#FEF9E7;
	BORDER-TOP: #111 1px solid;
	BORDER-BOTTOM: #111 1px solid;
	color:#000000;
	/* font-weight:bold; */
}


.list_over td{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	line-height:16pt;
	vertical-align:middle;
	padding-right:6px;
	padding-left:6px;
    BORDER-RIGHT: #CCC 1px solid;
    BORDER-BOTTOM: #CCC 1px solid;
	white-space:nowrap;
}

.list_over_bg td{
	background-color:#D6FFAF;
	BORDER-TOP: #111 1px solid;
	BORDER-BOTTOM: #111 1px solid;
	/* color:#00A002; */
	/* font-weight:bold; */
}


.list_txt_bg_daily{
	background-color:#E5FFCD;
}
.list_txt_bg_daily_total{
	background-color:#E5FFCD;
}


.po_box{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
    line-height:26pt;
	color:#666;
	text-align:right;
	padding:6px;
	vertical-align:middle;
	BORDER: #CCC 1px solid;
}

a.page_num_on {
	color:#FFF;
	padding: 5px 6px 5px 6px;
	background-color:#555555;
	font-size:13px;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 30px;
	
}
a.page_num_on:hover{
	color:#FFF;
	padding:5px 6px 5px 6px;
	background-color:#333;
	font-size:13px;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	line-height: 30px;
	cursor: pointer;
}
a.page_num_off {
	color:#999999;
	padding:2px 6px 2px 6px;
	border:	1px solid #FFFFFF;
	background-color:#EEEEEE;
	font-size:13px;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 30px;
}
a.page_num_off:hover{
	color:#FFFFFF;
	padding:2px 6px 2px 6px;
	background-color:#333333;
	font-size:13px;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	line-height: 30px;
}

.TopCtrlValueLeft{
	font-family:"Verdana" , sans-serif;
	font-size:11pt;
	font-weight:bold;
	color:#666;
	line-height:30pt;
	text-align:left;
	vertical-align:middle;
	padding:6px;
	BORDER-TOP: #CCC 1px solid;
}

.TopCtrlValueRight{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#666;
	line-height:30pt;
	text-align:right;
	vertical-align:middle;
	padding:6px;
	BORDER-RIGHT: #CCC 1px solid;
	BORDER-TOP: #CCC 1px solid;
}

.BottomCtrlValueLeft{
	font-family:"Verdana" , sans-serif;
	font-size:11pt;
	font-weight:bold;
	color:#666;
	line-height:30pt;
	text-align:left;
	vertical-align:middle;
	padding:6px;
	BORDER-BOTTOM: #CCC 1px solid;
}

.BottomCtrlValueRight{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#666;
	line-height:30pt;
	text-align:right;
	vertical-align:middle;
	padding:6px;
	BORDER-RIGHT: #CCC 1px solid;
	BORDER-BOTTOM: #CCC 1px solid;
}

.BottomCtrlRight{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#666;
	font-weight:bold;
	text-align:right;
	vertical-align:middle;
	padding:6px;
	BORDER-BOTTOM: #CCC 1px solid;
}


.SubTitleLine{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#666;
	line-height:12pt;
	text-align:right;
	vertical-align:middle;
	padding:6px;
	BORDER: #CCC 1px solid;
}


.ListName{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	font-weight:bold;
	color:#FFF;
	line-height:14pt;
	text-align:center;
	vertical-align:middle;
	padding:6px;
	background-color:olivedrab;
	BORDER-RIGHT: #FFF 1px solid;
   	white-space:nowrap;
}

.ListValueLeft{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#666;
	line-height:14pt;
	text-align:left;
	vertical-align:middle;
	padding:6px;
	BORDER-RIGHT: #CCC 1px solid;
	BORDER-BOTTOM: #CCC 1px solid;
    white-space:nowrap;
    background-color:#EEEEEE;
}

.ListValueRight{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#666;
	line-height:14pt;
	text-align:right;
	vertical-align:middle;
	padding:6px;
	BORDER-RIGHT: #CCC 1px solid;
	BORDER-BOTTOM: #CCC 1px solid;
    white-space:nowrap;
    background-color:#EEEEEE;
}

.ListValueCenter{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#666;
	line-height:14pt;
	text-align:center;
	vertical-align:middle;
	padding:6px;
	BORDER-RIGHT: #CCC 1px solid;
	BORDER-BOTTOM: #CCC 1px solid;
    white-space:nowrap;
    background-color:#EEEEEE;
}


.List_TR td{
	color:#111;
	background-color:#E5FFCD;
}

.List_TR_link td{
	color:#111;
	background-color:#E5FFCD;
	cursor:pointer;
}

.List_msg {
	font-weight:bold;
	color:#FF0000;
	background-color:#E5FFCD;
	padding:12px;
}



.copyright{
	font-family:"Verdana" , sans-serif;
	font-size:8pt;
	color:#FFF;
	line-height:10pt;
	text-align:left;
	vertical-align:middle;
	padding-left:6px;
	padding-right:6px;
	background-color:#666;
}

#box_left{
    text-align:left;
    padding-left:3px;
}

#box_right{
    padding-left:9px;
    text-align:right;
    padding-right:3px;
}

.input_right{
	color:#0000FF;
	font-size:9pt;
	text-align:right;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:15px;
	padding:1px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
    border:1px solid #999;
    color:#333;
}
.myButton:active {
	position:relative;
	top:1px;
}

.search_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.search_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
    border:1px solid #999;
    color:#333;
}
.search_button:active {
	position:relative;
	top:1px;
}


.search_txt{
    font-family:"Verdana" , sans-serif;
	color:#666;
	font-size:10pt;
    line-height:26pt;
	text-align:center;
}

.search_total{
    font-family:"Verdana" , sans-serif;
	color:#FF0000;
	font-size:10pt;
	text-align:center;
}

.search_page{
    font-family:"Verdana" , sans-serif;
	color:#FF0000;
    font-weight:bold;
	font-size:11pt;
	text-align:center;
	border: #FF0000 1px solid;
    padding:3px;
}



.search_a a{
    font-family:"Verdana" , sans-serif;
	color:#666;
    font-weight:bold;
	font-size:11pt;
	text-align:center;
    cursor:pointer;
	border: #666 1px solid;
    padding:3px;
    text-decoration:none;
}
.search_a a:hover {
    font-family:"Verdana" , sans-serif;
	color:#FFF;
    background-color:#666;
    font-weight:bold;
	font-size:11pt;
	text-align:center;
    cursor:pointer;
	border: #666 1px solid;
    padding:3px;
    text-decoration:none;
}


.colorway_title_size{
	color:#0300DC;
	font-size:11pt;
	font-weight:bold;
	text-align:center;
	background-color:#FFAC55;
	border-right: #CCC 1px solid;
	border-bottom: #CCC 1px solid;
	padding-top:12px;
	padding-bottom:9px;	
	padding-left:6px;
	padding-right:6px;	
}

.colorway_color{
	color:#333;
	font-size:11pt;
	font-weight:bold;
	text-align:left;
	background-color:#FFF5EB;
	border-right: #CCC 1px solid;
	border-bottom: #CCC 1px solid;
	padding:6px;
}

.colorway_qty{
	color:#333;
	font-size:11pt;
	text-align:right;
	background-color:#FFF;
	border-right: #CCC 1px solid;
	border-bottom: #CCC 1px solid;
	padding:6px;
}

.colorway_qty_sum{
	color:#333;
	font-size:11pt;
	font-weight:bold;
	text-align:right;
	background-color:#FFF5EB;
	border-right: #CCC 1px solid;
	border-bottom: #CCC 1px solid;
	padding:6px;
}

.colorway_qty_ttl{
	color:#333;
	font-size:11pt;
	font-weight:bold;
	text-align:right;
	background-color:#FFE7CD;
	border-right: #CCC 1px solid;
	border-bottom: #CCC 1px solid;
	padding-top:9px;
	padding-bottom:9px;	
	padding-left:6px;
	padding-right:6px;	
}

.title_output td{
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:9pt;

	line-height:16pt;
	text-align:center;
	vertical-align:middle;

	padding:6px;

	padding-top:1px;
	padding-bottom:1px;
	background-color:#EEE;
    BORDER-RIGHT: #CCC 1px solid;
    BORDER-TOP: #CCC 1px solid;
    BORDER-BOTTOM: #CCC 1px solid;
}



.title_df {
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:9pt;
	line-height:16pt;
	text-align:center;
	vertical-align:middle;
	padding:3px;
	padding-top:1px;
	padding-bottom:1px;
	background-color:#EEE;
    BORDER-RIGHT: #CCC 1px solid;
    BORDER-TOP: #CCC 1px solid;
    BORDER-BOTTOM: #CCC 1px solid;
}

.title_bar {
    color:#0000FF;
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:9pt;
	line-height:16pt;
	text-align:center;
	vertical-align:middle;
	padding:3px;
	padding-top:1px;
	padding-bottom:1px;
	background-color:#999;
    BORDER-RIGHT: #CCC 1px solid;
    BORDER-TOP: #CCC 1px solid;
    BORDER-BOTTOM: #CCC 1px solid;
}

.title_df_RED {
    color:RED;
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:9pt;
	line-height:16pt;
	text-align:center;
	vertical-align:middle;
	padding:3px;
	padding-top:1px;
	padding-bottom:1px;
	background-color:#EEE;
    BORDER-RIGHT: #CCC 1px solid;
    BORDER-TOP: #CCC 1px solid;
    BORDER-BOTTOM: #CCC 1px solid;
}

.title_df_BLUE {
    color:#FFF;
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:9pt;
	line-height:16pt;
	text-align:center;
	vertical-align:middle;
	padding:6px;
	padding-top:1px;
	padding-bottom:1px;
	background-color:#3B39DF;
    BORDER-RIGHT: #CCC 1px solid;
    BORDER-TOP: #CCC 1px solid;
    BORDER-BOTTOM: #CCC 1px solid;
}
.title_val {
    color:#333;
	font-family:"Verdana" , sans-serif;
/* 	font-weight:bold; */
	font-size:9pt;
	line-height:16pt;
	text-align:right;
	vertical-align:middle;
	padding:3px;
	padding-top:1px;
	padding-bottom:1px;
	background-color:#FFF;
    BORDER-RIGHT: #CCC 1px solid;
    BORDER-TOP: #CCC 1px solid;
    BORDER-BOTTOM: #CCC 1px solid;
}
.title_center {
    color:#333;
	font-family:"Verdana" , sans-serif;
/* 	font-weight:bold; */
	font-size:9pt;
	line-height:16pt;
	text-align:center;
	vertical-align:middle;
	padding:3px;
	padding-top:1px;
	padding-bottom:1px;
	background-color:#FFF;
    BORDER-RIGHT: #CCC 1px solid;
    BORDER-TOP: #CCC 1px solid;
    BORDER-BOTTOM: #CCC 1px solid;
}
.title_left {
    color:#333;
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	line-height:16pt;
	text-align:left;
	vertical-align:middle;
	padding:3px;
	padding-top:1px;
	padding-bottom:1px;
	background-color:#EEE;
    BORDER-RIGHT: #CCC 1px solid;
    BORDER-TOP: #CCC 1px solid;
    BORDER-BOTTOM: #CCC 1px solid;
}
.title_right {
    color:#a14112;
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	line-height:16pt;
	text-align:right;
	vertical-align:middle;
	padding:3px;
	padding-top:1px;
	padding-bottom:1px;
	background-color:#EEE;
    BORDER-RIGHT: #CCC 1px solid;
    BORDER-TOP: #CCC 1px solid;
    BORDER-BOTTOM: #CCC 1px solid;
}
.title_eff {
/*     color:#a14112; */
    color:#0000ff;
	font-family:"Verdana" , sans-serif;
/* 	font-weight:bold; */
	font-size:9pt;
	line-height:16pt;
	text-align:right;
	vertical-align:middle;
	padding:3px;
	padding-top:1px;
	padding-bottom:1px;
	background-color:#ffffbf;
    BORDER-RIGHT: #CCC 1px solid;
    BORDER-TOP: #CCC 1px solid;
    BORDER-BOTTOM: #CCC 1px solid;
}

.title_eff_alert {
    color:#FF0000;
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	line-height:16pt;
	text-align:right;
	vertical-align:middle;
	padding:3px;
	padding-top:1px;
	padding-bottom:1px;
	background-color:#ffffbf;
    BORDER-RIGHT: #CCC 1px solid;
    BORDER-TOP: #CCC 1px solid;
    BORDER-BOTTOM: #CCC 1px solid;
}


.title_eff_3 {
    color:#FF0000;
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	line-height:16pt;
	text-align:right;
	vertical-align:middle;
	padding:3px;
	padding-top:1px;
	padding-bottom:1px;
	background-color:#ffff40;
    BORDER-RIGHT: #CCC 1px solid;
    BORDER-TOP: #CCC 1px solid;
    BORDER-BOTTOM: #CCC 1px solid;
}

.ms_hover{
	background-color:#FEFFAF;
}

.Description{
    color:#666666;
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	line-height:16pt;
	text-align:right;
	vertical-align:middle;
	padding:3px;
}


.item_title_right{
	font-family:"Verdana" , sans-serif;
	font-size:10pt;
	line-height:16pt;
	text-align:right;
	vertical-align:middle;
	padding-right:6px;
	padding-left:6px;
    background-color:#CCC;
    BORDER: #CCC 0px solid;
	white-space:nowrap;
}
.item_value_left{
	font-family:"Verdana" , sans-serif;
	font-size:10pt;
	line-height:16pt;
	text-align:left;
	vertical-align:middle;
	padding-right:6px;
	padding-left:6px;
    background-color:#EEE;
    BORDER: #CCC 0px solid;
	white-space:nowrap;
}
.storage_total{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	font-weight:bold;
	line-height:14pt;
	text-align:center;
	vertical-align:middle;
	padding:6px;
	background-color:#FFA488;
	BORDER-RIGHT: #FFF 1px solid;
   	white-space:nowrap;
}
.storage_end_line_input{
	width:30px;
	text-align:center;
}
.storage_log_tr{
	color:#e6e6e6;
	background-color:#696969;
	padding:4px;
}
.storage_log_td{
	font-family:Arial;
	font-size:10pt;
	font-weight:bold;
	color:#e6e6e6;
	padding:4px;
	BORDER-RIGHT: #CCC 1px solid;
	BORDER-BOTTOM: #CCC 1px solid;
    white-space:nowrap;
	
}
.storage_log_text{
	font-family:Arial;
	font-size:9pt;
	font-weight:bold;
	padding:2px;
	BORDER-RIGHT: #CCC 1px solid;
	BORDER-BOTTOM: #CCC 1px solid;
    white-space:nowrap;
}

.storage_list_TR td{
	color:#111;
	background-color:#FFBB66;
}