
body {
	list-style:none;
	margin:6px ; 
	padding:6px; 
	background-color:#FFFFFF;
}

.note{
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:11pt;
	color:#FF0000;
	text-align:center;
	vertical-align:middle;
	padding:6px;
}

.mail_msg{
	line-height:30pt;
	cursor:pointer;
}

.mail_txt{
	color:#D32120;
	background-color:#CCCCCC;
}

.table_bady{
	width:768px;
}

.txt_dub{
	height: 20px;
	border-style:double; 
	border-width: 0px 0px 3px;
}

.msg_atc_pic {
	width:60px;
	height:60px;
	background-color:#FFFFFF;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}

.msg_atc_txt {
	font-family:"Verdana" , sans-serif;
	font-size:10pt;
	color:#b21532;
	line-height:13pt;
	vertical-align:middle;
}

.title_main {
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:16pt;
	color:#FFFFFF;
	line-height:38pt;
	text-align:center;
	vertical-align:middle;
	background-color:#B6AECC;
}

.title_status {
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:10pt;
	color:#FFFF00;
	line-height:38pt;
	text-align:center;
	vertical-align:middle;
	background-color:#B6AECC;
}

.title_txt {
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:9pt;
	color:#021C8B;
	line-height:20pt;
	text-align:center;
	vertical-align:middle;
}

.title_txt_l_spc_r  td{
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:9pt;
	color:#021C8B;
	line-height:20pt;
	text-align:center;
	vertical-align:middle;
	padding:6px;
	border:#CCCCCC 1px dotted;
	background-color:#E5E5C2;
}

.title_menu_bg {
	padding-top:1px;
	padding-bottom:1px;
	background-color:#FFFFFF;
}

.title_txt_r {
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:9pt;
	color:#808080;
	line-height:20pt;
	text-align:right;
	vertical-align:middle;
	padding-right:3px;
}

.title_txt_l {
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:9pt;
	color:#808080;
	line-height:20pt;
	text-align:left;
	vertical-align:middle;
	padding-left:3px;
}

.title_txt_1 {
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:9pt;
	color:#808080;
	line-height:20pt;
	text-align:left;
	vertical-align:middle;
	padding-left:3px;
	text-decoration:underline;
}

.list_title td{
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:9pt;
	color:#FFFFFF;
	line-height:26pt;
	text-align:center;
	vertical-align:middle;
	padding:3px;
	border:#999999 1px solid;
	background-color:#4C2E1C;
}

.list_title_1 td{
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:9pt;
	color:#333333;
	line-height:26pt;
	text-align:center;
	vertical-align:middle;
	padding:3px;
	border:#999999 1px solid;
	background-color:#FFF;
}

.list_title_2 td{
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:9pt;
	color:#333333;
	line-height:26pt;
	text-align:center;
	vertical-align:middle;
	padding-right:6px;
	padding-left:6px;
	padding-top:6px;
	border-bottom:#999999 1px solid;
	/* background-color:#EEE; */
}

.list_txt td{
	font-family:"Verdana" , sans-serif;

	font-size:9pt;
	color:#333333;
	line-height:16pt;
	text-align:center;
	vertical-align:middle;
	padding-right:6px;
	padding-left:6px;
	border:#CCCCCC 1px dotted;
	background-color:#FFFFFF;
	white-space:nowrap;
}

.list_link td{
	font-family:"Verdana" , sans-serif;

	font-size:9pt;
	color:#333333;
	line-height:16pt;
	text-align:center;
	vertical-align:middle;
	padding-right:6px;
	padding-left:6px;
	border:#CCCCCC 1px dotted;
	background-color:#FFFFFF;
	white-space:nowrap;
	cursor:pointer;
}

.list_footer td{
	font-family:"Verdana" , sans-serif;

	font-size:9pt;
	color:#333333;
	line-height:16pt;

	vertical-align:middle;
	padding-right:6px;
	padding-left:6px;
	border:#CCCCCC 1px dotted;
	background-color:#CCCCCC;
	white-space:nowrap;
	cursor:pointer;
}

.list_invoice{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#333333;
	line-height:16pt;
	text-align:left;
	vertical-align:middle;
	padding-right:6px;
	padding-left:6px;
	border-top:#909090 2px solid;
	border-right:#CCCCCC 1px dotted;
	border-left:#CCCCCC 1px dotted;
	background-color:#FFFFFF;
	white-space:nowrap;
	cursor:pointer;
	height: 23px;
}
.list_invoice_n{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#333333;
	line-height:16pt;
	text-align:left;
	vertical-align:middle;
	padding-right:6px;
	padding-left:6px;
	border-right:#CCCCCC 1px dotted;
	border-left:#CCCCCC 1px dotted;
	background-color:#FFFFFF;
	white-space:nowrap;
	cursor:pointer;
	height: 23px;
}
.list_invoice_l{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#333333;
	text-align:left;
	vertical-align:middle;
	padding-right:6px;
	padding-left:6px;
}
.list_invoice_r{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#333333;
	text-align:right;
	vertical-align:middle;
	padding-right:6px;
	padding-left:6px;
}
.list_invoice_0 td{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#333333;
	border-top:#909090 2px solid;
	white-space:nowrap;
	cursor:pointer;
}
.list_invoice_1{
	text-align:left;
	vertical-align:middle;
	padding-right:6px;
	padding-left:6px;
	border-right:#CCCCCC 1px dotted;
}
.list_invoice_2{
	text-align:right;
	vertical-align:middle;
	padding-right:6px;
	padding-left:6px;
}
.list_invoice_3{
	text-align:left;
	vertical-align:middle;
	padding-right:6px;
	padding-left:6px;
	border-right:#CCCCCC 1px dotted;
}
.list_invoice_4{
	text-align:right;
	vertical-align:middle;
	padding-right:6px;
	padding-left:6px;
	border-right:#CCCCCC 1px dotted;
}
.list_invoice_5{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#333333;
	text-align:center;
	vertical-align:middle;
	padding:6px;
	border-top:#909090 1px solid;
	border-left:#CCCCCC 1px dotted;
	border-right:#CCCCCC 1px dotted;

	height: 18px;
}
.list_invoice_6 {
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#333333;
	text-align:center;
	vertical-align:middle;
	padding:3px;
	border-top:#000000 1px solid;
	background-color:#CCCCCC;
}
.list_invoice_7{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#333333;
	text-align:left;
	vertical-align:middle;
	padding-right:6px;
	padding-left:6px;
	border-top:#000000 1px solid;
	background-color:#CCCCCC;
}
.list_invoice_8{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#333333;
	text-align:right;
	vertical-align:middle;
	padding-right:6px;
	padding-left:6px;
	border-top:#000000 1px solid;
	background-color:#CCCCCC;
}

.list_note{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#D32120;
	line-height:26pt;
	text-align:center;
	vertical-align:middle;
	padding-right:6px;
	padding-left:6px;
	white-space:nowrap;
}

.list_page {
	font-family:"Verdana" , sans-serif;
	font-size:12pt;
	color:#D32120;
	line-height:26pt;
	text-align:center;
	vertical-align:middle;
	padding:18px;
	text-decoration:none;
}
.list_page a{padding-right:4px;	padding-left:4px;} 
.list_page a:link {color:#0000FF; text-decoration:none;} 
.list_page a:visited {color:#0000FF; text-decoration:none;} 
.list_page a:hover {color:#D32120; text-decoration:underline;} 
.list_page a:active {color:#0000FF; text-decoration:underline;} 

.list_txt_bg td{
	background-color:#FEF9E7;
	BORDER-TOP: #999999 1px dashed;
	BORDER-BOTTOM: #999999 1px dashed;
	color:#000000;
	/* font-weight:bold; */
}

.list_txt_bg_d td{
	background-color:#FEF9E7;
}

.list_txt_d_bg td{
	background-color:#F6FFE8;
	BORDER-TOP: #999999 1px dashed;
	BORDER-BOTTOM: #999999 1px dashed;
}

.title_submit {
	cursor:pointer;
	font-family:"Verdana", sans-serif;
	font-weight:bold;
	font-size:11pt;
	color:#666666;
	line-height:20pt;
	text-align:center;
	vertical-align:middle;
	background-color:#EEEEEE;

	BORDER-TOP: #CCCCCC 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	BORDER-LEFT: #CCCCCC 1px solid;
	BORDER-RIGHT: #999999 1px solid;
}

.title_submit2 {
	cursor:pointer;
	font-family:"Verdana", sans-serif;
	font-weight:bold;
	font-size:11pt;
	color:#666666;
	line-height:20pt;
	text-align:center;
	vertical-align:middle;
	background-color:#EEEEEE;
	padding:6px;
	BORDER-TOP: #CCCCCC 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	BORDER-LEFT: #CCCCCC 1px solid;
	BORDER-RIGHT: #999999 1px solid;
}

.title_submit3 {
	cursor:pointer;
	font-family:"Verdana", sans-serif;
	font-weight:bold;
	font-size:11pt;
	color:#666666;
	line-height:20pt;
	text-align:center;
	vertical-align:middle;
	background-color:#EEEEEE;
	padding:6px;
	BORDER-TOP: #CCCCCC 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	BORDER-LEFT: #CCCCCC 1px solid;
	BORDER-RIGHT: #999999 1px solid;
}

.title_submit_over{
	color:#D32120;
	background-color:#CCCCCC;
}

.title_note {
	font-family:"Verdana", sans-serif;
	font-size:9pt;
	color:#808080;
	text-align:left;
	vertical-align:middle;
	background-color:#EEEEEE;
	padding:6px;
	padding-top:10px;
	padding-bottom:10px;
}

.line_t{
	line-height:1pt;
	background-color:#CCCCCC;
}

.line_spc{
	height:6pt;
}

.line_b{
	border-width:2px;
	border-color:#999999;
	border-bottom-style:dashed;
	height:1pt;
	line-height:1pt;
}

.line_c{
	border-width:1px;
	border-color:#999999;
	border-bottom-style:dashed;
	height:1pt;
	line-height:1pt;
}

.line_black{
	height:16pt;
}

.line_note{
	font-size:14pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#D32120;
}

.ord_number{
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:14pt;
	color:#40407f;
	line-height:23pt;
	padding-left:10px;
	padding-right:10px;
	vertical-align:middle;
}

.ord_choice{
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:10pt;
	color:#40407f;
	line-height:20pt;
	padding-left:6px;
	padding-right:6px;
	vertical-align:middle;
}

.list_detail td{
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:9pt;
	color:#FFFFFF;
	line-height:19pt;
	text-align:center;
	vertical-align:middle;
	background-color:#7f6040;
	border:#999999 1px solid;
	padding:3px;
}

.list_choice_detail td{
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:9pt;
	color:#FFFFFF;
	height:30pt;

	text-align:center;
	vertical-align:middle;
	background-color:#348125;
	border:#999999 1px solid;
	padding-left:3px;
	padding-right:3px;
}

.list_input td{
	padding:3px;
	font-size:9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	height: 20px;
	vertical-align:middle;
}

.list_input input {
	font-size:9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#4040bf;
	BORDER-TOP: #000000 0px outset;
	BORDER-BOTTOM: #ff8705 1px outset;
	BORDER-LEFT: #000000 0px outset;
	BORDER-RIGHT: #000000 0px outset;
	background-color:transparent;
	height: 20px;
	vertical-align:middle;
}

.list_input_ok td{
	font-size:9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	BORDER: #000000 0px outset;
	background-color:transparent;
	height: 20px;
	vertical-align:middle;
	text-align:center;
}

.list_input_ok input{
	font-size:9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	BORDER: #000000 0px outset;
	background-color:transparent;
	height: 20px;
	vertical-align:middle;
}


.list_input_d {
	padding:3px;
	font-size:9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	height: 20px;
	vertical-align:middle;
	text-align:center;
}

.list_input_d input {
	font-size:9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#4040bf;
	BORDER-TOP: #000000 0px outset;
	BORDER-BOTTOM: #3f7831 1px outset;
	BORDER-LEFT: #000000 0px outset;
	BORDER-RIGHT: #000000 0px outset;
	background-color:transparent;
	height: 20px;
	vertical-align:middle;
	text-align:right;
}


.check_title{
	font-size:9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	font-weight:bold;
}

.check_fb{
	font-size:9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#D32120;
}

.check_invoice_no{
	font-weight:bold;
	font-size:16pt;
	color:#40407f;
	padding:26pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align:middle;
}

.check_invoice_input{
	font-weight:bold;
	font-size:16pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#4040bf;
	BORDER-TOP: #000000 0px outset;
	BORDER-BOTTOM: #ff8705 1px outset;
	BORDER-LEFT: #000000 0px outset;
	BORDER-RIGHT: #000000 0px outset;
	background-color:transparent;
	height: 30px;
	vertical-align:middle;
	text-align:center;
}

.button_ord{
	cursor:pointer;
	font-weight:bold;
	font-size:9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#7f6040;
	height: 36px;
	vertical-align:middle;
	text-align:center;
	background-color:#CDD592;
	padding:0px;
}

.button_ord_over{
	background-color:#717650;
	color:#FFFFFF;
	BORDER-TOP: #ff8705 1px dashed;
	BORDER-BOTTOM: #ff8705 1px dashed;
	BORDER-LEFT: #ff8705 1px dashed;
	BORDER-RIGHT: #ff8705 1px dashed;
	padding-left:10px;
	padding-right:10px;
	white-space:nowrap;
}

.invoice_no{
	font-weight:bold;
	font-size:16pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#D32120;
	height: 30px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:3px;
}

.ship_date{
	font-weight:bold;
	font-size:11pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#615D63;
	height: 30px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:3px;
	text-align:right;
}

.consignee{
	font-weight:bold;
	font-size:13pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#7250Fa;
	height: 30px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:3px;
	text-align:left;
}

.cust_po{
	font-size:8pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#999999;
	height: 13px;
	padding-left:11px;
	padding-right:11px;
	padding-bottom:6px;
}

.select{
	font-weight:bold;
	font-size:9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#0000FF;
	background-color:#EEEEEE;
	text-transform:uppercase;

}


.charge{
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:9pt;
	color:#666666;
	background-color:#EEEEEE;
}
.charge_title {
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:9pt;
	color:#999999;
	height:26pt;
	padding-top:12px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	text-align:center;
	vertical-align:middle;
	BORDER: #EEEEEE 1px outset;
}

.charge_menu{
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:9pt;
	color:#999999;
	line-height:18pt;
	text-align:center;
	background-color:#EEEEEE;
    white-space:nowrap;
    width:246px;
}

.charge_add{
	height:20pt;
	padding-top:6px;
	text-align:center;
	vertical-align:middle;
	BORDER: #EEEEEE 1px outset;
	cursor:pointer;
}

.file{
	font-family:"Verdana" , sans-serif;
	font-weight:bold;
	font-size:9pt;
	color:#666666;
}

.file_add{
	height:20pt;
	padding-top:6px;
	text-align:center;
	vertical-align:middle;
	BORDER: #EEEEEE 1px outset;
	cursor:pointer;
}

.B{
	text-transform:uppercase;
}

.status{
	font-family:"Verdana" , sans-serif;
	font-size:9pt;
	color:#333333;
	text-align:center;
}

.invget {
	cursor:pointer;
	font-family:"Verdana", sans-serif;
	font-weight:bold;
	font-size:11pt;
	color:#666666;
	line-height:20pt;
	text-align:center;
	vertical-align:middle;
	background-color:#EEEEEE;

	BORDER-TOP: #CCCCCC 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	BORDER-LEFT: #CCCCCC 1px solid;
	BORDER-RIGHT: #999999 1px solid;
}