<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM 樣本輔助系統 [ 製造令 資料 ] ::::::::::===</title>
   <link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<script language="JavaScript"><!--
function cfm_add(wi_id,mat_id,num_colors,mat) {
	var qty = new Array();
	var ck = '';
	var color = '';
	var T1 = '';
	var T2 = '';

	for (i=0;i<num_colors;i++){
		T1 = "window.document.forms['edit'].elements['PHP_bom_qty"+mat_id+"_"+i+"'].checked";
		T2 = "window.document.forms['edit'].elements['PHP_bom_qty"+mat_id+"_"+i+"'].value"
	  if (eval(T1)){
			ck = '1';
			qty[i] = eval(T2);
	  } else {
			qty[i]=0;
	  }
	}
	if (ck == ''){
			alert("請勾選應該分配這個物料的 [colorway]!\r\r如果沒有色組或沒有件數資料，\r請先至[生產製造]更新製造令資料 !");
			return;
	}
	if (mat == "lots"){
		color = eval("window.document.forms['edit'].elements['PHP_lots_color_"+mat_id+"'].value");
	} else {
		color = eval("window.document.forms['edit'].elements['PHP_acc_color_"+mat_id+"'].value");
	}
	location.href="index2.php?PHP_action=do_bom_add&PHP_mat="+mat+"&PHP_mat_use_id="+mat_id+"&PHP_color="+color+"&PHP_qty="+qty+"&PHP_wi_id="+{/literal}{$wi.id}{literal};
 }

function cfm_del(bom_id,wi_id,mat_code,mat) {
	if ( confirm("資料刪除後，將會永久刪除 !\r\r確定要刪除 BOM中的[ "+mat_code+" ] 項目 ??")) {
	location.href="index2.php?PHP_action=do_bom_del&PHP_bom_id="+bom_id+"&PHP_id="+wi_id+"&mat_code="+mat_code+"&PHP_mat="+mat;
	} 
 }

-->
</script>
{/literal}

</head>

<body>
<form method=POST name='edit'>
<br>
<table cellspacing=1 cellpadding=4 cols=2 width=600 bgcolor=#2E5E73>
	<tr><td class="des" align=center height=28 width=340>[ 樣本製造令 -<span class=ylw10><b>{$wi.wi_num}</span></b> ] --- <b><span class=sign>BOM</b></span></td>
	<td class="ylw10" align=center height=28 width=140>{if $wi.confirmer}<b>[ {literal}已確認{/literal} ]{else}[{literal} 未確認{/literal} ]{/if}</span></b></td>
	<td class="des" align=center height=28 width=140>版本 :<span class=ylw10><b>{$wi.version}</span></b></td>
	</tr>
</table>
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=600>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
<table border=0 cellspacing=0 cellpadding=1 width=600 bgcolor=#FFFFFF>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
  <tr>
    <td class=snvy align=right nowrap>客戶 :</td>
    <td class=bgdy align=left><b>&nbsp;{$wi.cust}</b></td>
    <td class=snvy align=right nowrap>部門 :</td>
    <td class=bgdy align=left><b>&nbsp;{$wi.dept}</b></td>
    <td class=snvy align=right nowrap>樣本類別 :</td>
    <td class=bgdy9 align=left><b>&nbsp;{if $wi.smpl_type}{$wi.smpl_type}</b>{else}</b><未輸入>{/if}</td>
    <td class=snvy align=right nowrap><b>ETD :</b></td>
    <td class=bgdy align=left><b>&nbsp;{$wi.etd}</b></td>
  </tr>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
</table>
<table border cellspacing=0 cellpadding=3 width=600 bgcolor=#ffffff align=center>
  <tr bgcolor="#003333" height=24> 
	<td nowrap width=100 align=center class=back>樣本圖式</td>
	<td nowrap width=100 align=center class=back>樣本編號</td>
	<td nowrap width=90 align=center class=back>客戶款號</td>
	<td nowrap width=100 align=center class=back>尺碼類別</td>
	<td nowrap width=100 align=center class=back>尺碼段</td>
	<td nowrap width=100 align=center class=back>數量/單位</td>
  </tr>
  <tr bgcolor=#DDDDDD height=24>
	<td class=g10 align=center rowspan=2>&nbsp;
		<img src="{$wi.pic_url}" name="pic" border=0 width=90></td>
	<td class=grn9 align=center><b>&nbsp;{$smpl.style_code}</b></td>
    <td class=grn9 align=center><b>&nbsp;{$smpl.cust_ref}</b></td>
    <td class=grn9 align=center><b>&nbsp;{$smpl.size_type}</b></td>
    <td class=grn9 align=center><b>&nbsp;{$smpl.size_scale}</b></td>
    <td class=grn9 align=center><b><span class=bgdy9><b>{$total}</b></span>&nbsp;{if $wi.unit}{$wi.unit}{else}<span class=bgdy9><未輸入></span>{/if}</b></td>
  </tr>
  <tr>
	<td colspan=5 >
		<table border cellspacing=0 cellpadding=2 width=470 bgcolor=#ffffff align=center>
			{$show_breakdown}
		</table>
	</td>
  </tr>
</table>
<!-------------  BOM table ------------->
<!-------------  主料 ------------->
<hr size=2 width=600 align=center>
<table width=600 border=1 cellspacing=1 cellpadding=1>
   <tr><td>
	<table width=600 border=0 cellspacing=1 cellpadding=1>
	<!-------   Title --------- -->
	 <tr bgcolor=#C4C3AE>
		<td class=b9 align=center rowspan=2 width=60>主料代號</td>
		<td class=b9 align=center rowspan=2 >主料名稱</td>
		<td class=b9 align=center rowspan=2 width=60>預估</td>
		<td class=b9 align=center rowspan=2 width=70>顏色/類別</td>
		<td class=b9 align=center rowspan=2 width=0 bgcolor=#666666></td>
	{if $colors_NONE}
		<td class=bgdy9 align=center >沒有色組資料</td>
		<td class=b9 align=center rowspan=2 width=1>&nbsp</td>
	  <tr><td class=bgdy9 align=center >沒有件數</td>
	{else}
	
	{section name=NAME loop=$color} 
		<td class=grn9 align=center><b>&nbsp;{$color[NAME].name}</b></td>
	{/section} 
		<td class=b9 align=center rowspan=2 width=1>&nbsp</td>
	 <tr bgcolor=#C9CCC9>
	{section name=QTY loop=$color} 
		<td class=b9 align=center><b>{$color[QTY].qty}</b>&nbsp;{if $wi.unit}{$wi.unit}{else}<span class=bgdy9> ??</span>{/if}</b></td>
	{/section} 

	{/if}
	 </tr>
	<!-------  end  Title --------- -->

	 <tr>
		<td width=100% colspan={$total_fields} style="background-image: url('images/2line.gif'); background-repeat: repeat-x" height=3>
	 </tr>

	{if $lots_NONE}  
	  <tr>
		<td colspan={$total_fields} align=center class=bgdy9 height=30>樣本檔 目前沒有 主料記錄 !</td>
	  </tr>
	{else}


	<!-------  BOM 主料記錄 --------- -->
	{section name=BOM loop=$bom_lots_list} 
	<tr {$bom_lots_list[BOM].tr}>
		<td class=b9 align=center>{$bom_lots_list[BOM].lots_code}</td>
		<td class=b7 align=left>{$bom_lots_list[BOM].lots_name}</td>
		<td class=b7 align=center>{$bom_lots_list[BOM].est_1}&nbsp;{$bom_lots_list[BOM].unit}</td>
		<td class=b9 align=center>{$bom_lots_list[BOM].color}</td>
		<td class=b9 align=center width=0 bgcolor=#666666></td>
		{$bom_lots_list[BOM].list}
		<td class=b9 align=center width=1>{$bom_lots_list[BOM].remark}</td>
	</tr>

	{/section}
	<!------- end BOM 主料記錄 --------- -->
	
	{/if}

<!--	</table>	-->
	 <tr>
		<td width=100% colspan={$total_fields} style="background-image: url('images/2line.gif'); background-repeat: repeat-x" height=5>
	 </tr>

<!-------------  副料 ------------->
<!--	<table width=600 border=0 cellspacing=1 cellpadding=1>	-->
	<!-------   Title --------- -->
	 <tr bgcolor=#C4C3AE>
		<td class=b9 align=center rowspan=2 width=60>副料代號</td>
		<td class=b9 align=center rowspan=2 >副料名稱</td>
		<td class=b9 align=center rowspan=2 width=60>預估</td>
		<td class=b9 align=center rowspan=2 width=70>顏色/類別</td>
		<td class=b9 align=center rowspan=2 width=0 bgcolor=#666666></td>
	{if $colors_NONE}
		<td class=bgdy9 align=center >沒有色組資料</td>
		<td class=b9 align=center rowspan=2 width=1>&nbsp</td>
	  <tr><td class=bgdy9 align=center >沒有件數</td>
	{else}
	
	{section name=NAME loop=$color} 
		<td class=grn9 align=center><b>{$color[NAME].name}</b></td>
	{/section} 
		<td class=b9 align=center rowspan=2 width=1>&nbsp</td>
	 <tr bgcolor=#C9CCC9>
	{section name=QTY loop=$color} 
		<td class=b9 align=center><b>{$color[QTY].qty}</b>&nbsp;{if $wi.unit}{$wi.unit}{else}<span class=bgdy9> ??</span>{/if}</b></td>
	{/section} 

	{/if}
	 </tr>
	<!-------  end  Title --------- -->

	 <tr>
		<td width=100% colspan={$total_fields} style="background-image: url('images/2line.gif'); background-repeat: repeat-x" height=3>
	 </tr>

	{if $acc_NONE}  
	  <tr>
		<td colspan={$total_fields} align=center class=bgdy9 height=30>樣本檔 目前沒有 副料記錄 !</td>
	  </tr>
	{else}

	<!-------  BOM 副料記錄 --------- -->
	{section name=BOM loop=$bom_acc_list} 
	 <tr {$bom_acc_list[BOM].tr}>
		<td class=b9 align=center>{$bom_acc_list[BOM].acc_code}</td>
		<td class=b7 align=left>{$bom_acc_list[BOM].acc_name}</td>
		<td class=b7 align=center>{$bom_acc_list[BOM].est_1}&nbsp;{$bom_acc_list[BOM].unit}</td>
		<td class=b9 align=center>{$bom_acc_list[BOM].color}&nbsp;</td>
		<td class=b9 align=center width=0 bgcolor=#666666></td>
		{$bom_acc_list[BOM].list}
		<td class=b9 align=center width=1>{$bom_acc_list[BOM].remark}&nbsp;</td>
	</tr>
	{/section}
	<!------- end BOM 副料記錄 --------- -->
	{/if}

	</table>
</form>

   </td></tr>
</table>
<!--------- footer ---------->
{include file="footer.html"}
