<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=big5">
   <title>===:::::::::: SCM 樣本輔助系統 [ 製造令 資料 ] ::::::::::===</title>
<link rel=stylesheet type="text/css" href="./bom.css">
{literal}
<Script language="javascript">
function list(){
	var gofile ='index2.php?PHP_action=show_smpl_search&PHP_dept={/literal}{$wi.dept}{literal}&PHP_cust={/literal}{$wi.cust}{literal}'; 	style=window.open(gofile,'style','toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no,width=650,height=500, top=100, left=150');
 	style.focus();
 }
function writeToParentList(style_code,cust_ref,size_type,size_scale,picurl,id) {
	window.document.forms['adding'].elements['PHP_style_code'].value = style_code;
	window.document.forms['adding'].elements['PHP_cust_ref'].value = cust_ref;
	window.document.forms['adding'].elements['PHP_size_type'].value = size_type;
	window.document.forms['adding'].elements['PHP_size_scale'].value = size_scale;
	window.document.forms['adding'].elements['PHP_smpl_id'].value = id;
	window.document.pic.src = picurl;
	window.document.forms['adding'].elements['PHP_colorways'].focus();
}
</script>
{/literal}
</head>
{if $re_adding}
<body>
{else}
<body onLoad="javascript:list()">
{/if}
<form method=POST name=adding>
<br>
<table cellspacing=1 cellpadding=4 cols=1 width=600 bgcolor=#333333>
	<tr><td class="des" align=center height=28> [ <span class=ylw10>新增</span> 樣本製造令 ] </td></tr>
</table>
{if $msg_YES}
     <table border=1 cellpadding=4 cellspacing=0 cols=1 width=600>
      <tr bgcolor=#ffffff> 
        <td width=90 class=gry10 align=center><img src="images/alert.gif" border=0></td>
        <td class=bgdy>{section name=SEC_MSG loop=$msg} {$msg[SEC_MSG]}<br>{/section}</td>
      </tr>
     </table>
{/if}
<table border=0 cellspacing=0 cellpadding=1 width=600 bgcolor=#FFFFFF>
   <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
 <tr><form method=POST name=adding >
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class=snvy align=right nowrap><b>製造令編號 :</b></td>
    <td class=bgdy align=left><b>&nbsp;{$wi.wi_precode}</b></td>
    <td class=snvy align=right nowrap>部門 :</td>
			<input type="hidden" name="PHP_dept_code" value="{$wi.dept}">
    <td class=bgdy align=left><b>&nbsp;{$wi.dept}</b></td>
    <td class=snvy align=right nowrap>客戶 :</td>
			<input type="hidden" name="PHP_cust" value="{$wi.cust}">
    <td class=bgdy align=left><b>&nbsp;{$wi.cust}</b></td>
  </tr>
  <tr>
    <td colspan=8 class=frnt align=center><hr size=2 width=98%></td>
  </tr>
</table>
<table border cellspacing=0 cellpadding=2 width=600 bgcolor=#ffffff align=center>
  <tr bgcolor="#003333" height=28> 
	<td nowrap width=100 align=center class=back>樣本圖式</td>
	<td nowrap width=100 align=center class=back>樣本編號</td>
	<td nowrap width=90 align=center class=back>客戶款號</td>
	<td nowrap width=100 align=center class=back>尺碼類別</td>
	<td nowrap width=100 align=center class=back>尺碼段</td>
	<td nowrap width=60 align=center class=back>色組數</td>
	<td nowrap width=40 align=center class=back>更新</td>
  </tr>
  <tr bgcolor=#DDDDDD>
	<td class=g10 align=center>&nbsp;
	{if $re_adding}
		<img src="{$pic_link}" name="pic" width=90 border=0></td>
	{else}
		<img src="./images/graydot.gif" name="pic" width=90 border=0></td>
	{/if}
	<td class=b9 align=center><input type='text' name="PHP_style_code" size=12 value="{$smpl.style_code}" onClick="list();"></td>
    <td class=b9 align=center><input type='text' name="PHP_cust_ref" size=12 value="{$smpl.cust_ref}" onClick="list();"></td>
    <td class=b9 align=center><input type='text' name="PHP_size_type" size=14 value="{$smpl.size_type}" onClick="list();"></td>
    <td class=b9 align=center><input type='text' name="PHP_size_scale" size=12 value="{$smpl.size_scale}" onClick="list();"></td>
    <td class=b9 align=center bgcolor=#F0D6D8><input type='text' name="PHP_colorways" size=2 value="{$wi.colorways}"></td>

	<td class=b9 align=center><img src="./images/add2.gif" onClick="list();" style="cursor:pointer"></td>
  </tr>
  <tr>
    <td colspan=7 class=frnt align=center><hr size=2 width=95%></td>
  </tr>
	<input type="hidden" name="PHP_smpl_id" value="{$smpl.id}">
  <tr>
  <td colspan=7>
	<input type="hidden" name="PHP_action" value="do_wi_add_1">
	<input type=submit value="[ 確定 加入 上列款式 ]" class=select_e style="cursor:pointer; width=100%" onClick=this.width=0;></form>
  </tr>



</table>
<!--------- footer ---------->
{include file="footer.html"}
